[2021-02-07 09:56] lonewolf3739 commented on #1567
@jpmelos this is kind of limitation; You need to use fork hooks such as uWSGI [`uwsgidecorators.postfork`](https://uwsgi-docs.readthedocs.io/en/latest/PythonDecorators.html#uwsgidecorators.postfork), Gunicorn [`post_fork`](https://docs.gunicorn.org/en/stable/settings.html#post-fork) and [`os.register_at_fork`](https://docs.python.org/3/library/os.html#os.register_at_fork).

[2021-02-08 10:53] ysde opened #1585 "issue in docs/example/basic_meter/view.py"
**Describe your environment** Describe any aspect of your environment relevant to the problem, including your Python version, [platform](https://docs.python.org/3/library/platform.html), version numbers of installed dependencies, information about your cloud hosting provider, etc. If you're reporting a problem with a specific version of a library in this repo, please check whether the problem has

[2021-02-08 14:58] ysde commented on #1585
Just found `get_meter()` will return a `Accumulator`, which inherits `Meter` and it has `register_view` function.

Thanks

[2021-02-08 14:58] #1585 closed

[2021-02-08 17:29] ocelotl commented on #1556
Can this issue be closed now?

[2021-02-08 18:06] #1556 closed

[2021-02-08 18:06] lzchen commented on #1556
https://github.com/open-telemetry/opentelemetry-python/pull/1568

[2021-02-08 18:47] aabmass commented on #1108
The spec issue open-telemetry/opentelemetry-specification#1405 was tagged as after-ga

[2021-02-09 09:36] dmarar commented on #1108
@lzchen , My apologies, had a personal emergency and had taken a break for the last one month and hadnt checked my mails as well.
I can continue to work on it unless the team wants me to take something else.
Thanks!

[2021-02-09 16:43] lzchen commented on #1108
@dmarar
No worries. I believe you can continue to work on this unless @aabmass has made some progress?

[2021-02-09 16:45] #1576 closed

[2021-02-09 17:04] ocelotl opened #1590 "Make propagators a namespace"
There is an `__init__.py` file in `opentelemetry-api/src/opentelemetry/propagators`. This conflicts with using `opentelemetry.propagators` as a namespace for other propagators. This is needed for [this](https://github.com/open-telemetry/opentelemetry-python-contrib/pull/302).

[2021-02-10 07:47] ankitnayan opened #1592 "Passing header from jaeger exporter"
I am currently sending data using
[code]
Is there a way to pass headers in the above command?

I am using HTTP to send data to otel-collector and want to pass a header with every request. OTLP has the option to pass headers but right now the OTLP exporter allows only GRPC communication.
The Jaeger exporter supports HTTP but couldn't find a way to pass headers.

Is there a way to achieve this using

[2021-02-10 09:46] lonewolf3739 commented on #1592
There is no way to do that with Jaeger or Zipkin exporters as of now. You are right about OTLP exporter supporting gRPC only. OTLP exporters uses [metadata](https://github.com/open-telemetry/opentelemetry-python/blob/main/exporter/opentelemetry-exporter-otlp/src/opentelemetry/exporter/otlp/exporter.py#L257) for sending `OTEL_EXPORTER_OTLP_HEADERS` so if you really need the custom headers you may w

[2021-02-10 09:55] lonewolf3739 commented on #1106
Hey @robwknox, Are you still working on this?

[2021-02-10 12:11] ankitnayan commented on #1592
thanks for the clarification..the only possible way to do this right now seems to be via Otel-Collector, which can transmit in OTLP HTTP with headers right?

[2021-02-10 15:15] lonewolf3739 commented on #1592
Yes

[2021-02-10 16:43] #1547 closed

[2021-02-10 17:19] #1001 closed

[2021-02-10 21:20] robwknox commented on #1106
@lonewolf3739 yes now that I've gotten #1411 refreshed I'm getting back into this.

[2021-02-10 23:39] ocelotl opened #1594 "No real nanosecond resolution provided by time_ns"
Right now, we provide [`time_ns`](https://github.com/open-telemetry/opentelemetry-python/blob/main/opentelemetry-api/src/opentelemetry/util/__init__.py#L34-L40) as a function that should return a timestamp with nanosecond precision:

[code]

Nevertheless, [PEP 0564](https://www.python.org/dev/peps/pep-0564/#analysis) explicitly compares `time.time_ns` against `time.time` and shows that they don't

[2021-02-11 17:03] codeboten commented on #1577
@ankitnayan the issue to support OTLP exporter over HTTP with protobuf is [here](https://github.com/open-telemetry/opentelemetry-python/issues/1106) and with JSON [here](https://github.com/open-telemetry/opentelemetry-python/issues/1003)

@mat-rumian the purpose of the `opentelemetry-distro` package is to configure the OTLP exporter as a default for users. The functionality was removed out of the

[2021-02-11 17:04] codeboten commented on #1577
The documentation around distros could use some serious improvements though :D

[2021-02-11 18:11] codeboten commented on #1594
Using a `timestamp` function that returns the max precision for the version of python we're using may be the better solution than estimating `ns`, I would be ok with this approach.

[2021-02-11 18:11] codeboten commented on #1594
This should also have some clear documentation here.

[2021-02-11 19:56] codeboten opened #1596 "Update limits"
As per spec change: https://github.com/open-telemetry/opentelemetry-specification/commit/03a6f0fd9d1d2f5e08858b102ba620ebf3e4a6fa

The following limits must be updated:

[2021-02-11 22:04] #1566 closed

[2021-02-11 22:55] ocelotl opened #1598 "Make utils private"
Right now the `util` module is public and it contains certain public modules that only contain private members.

Make these modules private.

[2021-02-11 23:32] #1540 closed

[2021-02-11 23:55] #1596 closed

[2021-02-12 01:37] lonewolf3739 commented on #1594
@ocelotl IIRC you suggested using milliseconds for versions < 3.7 and nanos for >= 3.7 python versions. It could be possible that my span operations duration in ranges of tens of nanoseconds, then, wouldn't that be an issue for 3.5 and 3.6 versions? A quick look at the exporters reveals that they require nanoseconds timestamp for most of the transport mechanisms and micros in few formats. What is

[2021-02-12 09:20] lonewolf3739 commented on #1592
@ankitnayan You may want to close this issue for now and subscribe to releases of this repo unless you have something else to add.

[2021-02-12 09:22] lonewolf3739 commented on #1577
@mat-rumian I believe your questions are answered. You may want to close this issue as the issue is resolved. I have a some questions around the defaults and current behaviour for which I want to have another separate follow up issue/discussion.

[2021-02-12 15:39] #1581 closed

[2021-02-12 21:23] #1580 closed

[2021-02-13 00:19] codeboten opened #1604 "OTLP exporter should be packaged separately per protocol"
Currently the `opentelemetry-exporter-otlp` only supports protobufs over gRPC. Once there's support for protobuf over http and json over http, we should have a separate package for each to ensure the dependencies can be reduced to only the bare minimum for each of those packages.

My proposal is to name the package based on the encoding and protocol:
`opentelemetry-exporter-otlp-proto-grpc`
`opent

[2021-02-13 00:20] codeboten commented on #1604
for backwards compatibility and convenience, the `opentelemetry-exporter-otlp` package could include all available protocols

[2021-02-13 07:04] lonewolf3739 commented on #1604
Do we want to have support for Protobuf/HTTP and JSON/HTTP in the `opentelemetry-exporter-otlp` and then split it up into individual packages while keep maintaining original package `opentelemetry-exporter-otlp `?

[2021-02-13 07:14] lonewolf3739 opened #1605 "OpenTelemetry distro as default distro for OpenTelemetry Instrumetion"
**Describe your environment** Describe any aspect of your environment relevant to the problem, including your Python version, [platform](https://docs.python.org/3/library/platform.html), version numbers of installed dependencies, information about your cloud hosting provider, etc. If you're reporting a problem with a specific version of a library in this repo, please check whether the problem has

[2021-02-13 07:15] #1605 closed

[2021-02-13 07:25] lonewolf3739 opened #1606 "OpenTelemetry distro as a default distro for OpenTelemetry Instrumentation"
The `opentelemetry-instrumentation` auto instrumentation doesn't work without installing `opentelemetry-distro` as the components initialisation is done in distro package. How does a regular user know about this and shouldn't openetemetry distro be the default and can give an option to let user use others?

[2021-02-13 07:32] lonewolf3739 opened #1607 "Exporters shouldn't have service name parameter"
Exporters `jaeger`, `zipkin` and `opencensus` accept an argument `service_name` but ideally they should rely on the `Resource`'s `service.name` attribute from Tracer/Span to indicate the resource that produced the corresponding telemetry.

[2021-02-14 09:58] lonewolf3739 opened #1608 "Add type hints to opentelemetry-sdk and run as a part of tests"

[2021-02-15 23:39] xkortex commented on #1594
Throwing in my unsolicited $0.02 into the ring, having been recently bit by something like this.

Playing devil's advocate a bit here, can you actually trust sub-microsecond timestamps on python <3.7 to actually be meaningfully comparable in terms of causality? It's more of an open question than a rhetorical, really, but my intuition is "not if you really depend on it for strict ordering". For tha

[2021-02-16 18:18] ocelotl opened #1611 "Lint is failing in main"
`tox -e lint` is failing in `main`

**Steps to reproduce**
Run `tox -e lint` with a3d23a892d591da00833a2ee8406fe89c0536bc9.

**What is the expected behavior?**
Tests passing

**What is the actual behavior?**
Tests are failing

**Additional context**
This is the output of `tox -e lint`:

[code]

[2021-02-16 19:46] lzchen commented on #1611
@mariojonke seems to have already found this in Pylint.

https://github.com/PyCQA/pylint/issues/4098

[2021-02-16 21:53] #1611 closed

[2021-02-16 23:14] #1590 closed

[2021-02-17 17:35] dmarar commented on #1108
@lzchen , since we have a spec  issue for this, i was thinking whether I should wait a till we get a clarity on the spec issue. Once we have enough info, i will revisit this issue. Till that time I could pick up any other issue. Any thoughts?

[2021-02-17 19:01] lzchen commented on #1108
@dmarar
I agree. We can wait until there's more clarity in the specs until implementing this. For now, feel free to pick up some other issues :)

[2021-02-17 20:03] #1173 closed

[2021-02-18 02:52] lonewolf3739 commented on #1150
I may be wrong but my **assumption** is that to facilitate a way to create an empty resource `__init__` doesn't include the resource detection logic although spec says it recommended but not mandatory.

[2021-02-18 16:26] codeboten commented on #1608
Related to https://github.com/open-telemetry/opentelemetry-python/issues/773

[2021-02-18 16:33] lzchen commented on #1604
@lonewolf3739
I'm not sure I understand your suggestion. What do you mean by supporting Protobuf/HTTP and JSON/HTTP in one package and then splitting into individual packages?

[2021-02-18 16:34] codeboten commented on #1604
My vote would be to split the packages as mentioned in the description, and then have `opentelemetry-exporter-otlp` just be a meta package

[2021-02-18 16:34] ivomagi opened #1617 "Feedback request: adding engine definition to semantic conventions - beneficial to Python community?"
# Question

As the author of the PR https://github.com/open-telemetry/opentelemetry-specification/pull/1293 I am reaching out to Python community to get feedback about whether or not the concept of `engine` introduced in the PR will or will not add value to Python tracing. So if you take a look at the usecases described in the PR and comment about if and how this would also apply to the Python wor

[2021-02-18 16:46] codeboten commented on #1592
@ankitnayan is the request here to be able to pass custom headers to be exported to jaeger? if so I think the right place to suggest this would be in the [specification repo](https://github.com/open-telemetry/opentelemetry-specification/) so that all implementations are consistent.

[2021-02-18 16:50] lzchen commented on #1577
Follow-up discussion here https://github.com/open-telemetry/opentelemetry-python/issues/1606

[2021-02-18 16:50] #1577 closed

[2021-02-18 16:59] codeboten commented on #1283
This is done.

[2021-02-18 16:59] #1283 closed

[2021-02-18 17:14] #1592 closed

[2021-02-18 17:27] codeboten opened #1618 "Add automation to manage issues backlog"
As discussed in the SIG meeting we want to use automation to clean up old issues from the backlog. The automation should:

* filter out issues labeled with "feature-request"
* close inactive issues after 60 days
* add a "backlog" label
* add a warning before closing the issue

[2021-02-18 18:24] lonewolf3739 commented on #1604
By one package I mean as in other exporters such as Jaerger(Thrift/UDP, Proto/gRPC) and Zipkin(...) and making separate package for each encoding/protocol. I am having difficulty putting my thoughts into words. I mean something similar to what is described here https://packaging.python.org/guides/packaging-namespace-packages/

[2021-02-19 14:25] vmihailenco opened #1619 "opentelemetry-api: StatusCode is not public/exported by default"
Should StatusCode be exported by default? E.g. I would like to do the following

[code]

But `trace.StatusCode` is not available and should be imported separately

[code]

Is it intentional?

[2021-02-21 14:52] markfink-splunk opened #1622 "Auto-instrumentation issue after 0.16b1"
**Describe your environment**
Instrumenting this service:
https://github.com/markfink-splunk/microservices-demo/tree/master/src/emailservice

The current commit is with 0.16b1 which works fine with the "opentelemetry-instrument" wrapper (see Dockerfile entrypoint).

When I upgrade to anything after 0.16b1 -- say 0.17b0, 0.18b1, 1.0.0rc1, etc -- I get no traces with the wrapper.  I updated the envi

[2021-02-21 15:27] lonewolf3739 commented on #1622
Might be same as https://github.com/open-telemetry/opentelemetry-python/issues/1577. Please install `opentelemetry-distro==0.17b0`. Please let us know if it doesn't solve the issue.

[2021-02-21 15:27] lonewolf3739 commented on #1622
cc // @codeboten

[2021-02-21 16:59] markfink-splunk commented on #1622
That helped.  I'm getting traces now.  However, I am seeing other issues that I did not see before.  Here's some context:
`opentelemetry-sdk==1.0.0rc1
opentelemetry-exporter-otlp==1.0.0rc1
opentelemetry-exporter-jaeger==1.0.0rc1
opentelemetry-propagator-b3==1.0.0rc1
opentelemetry-distro==0.18b0
opentelemetry-instrumentation==0.18b0
opentelemetry-instrumentation-grpc==0.18b0
opentelemetry-instrumen

[2021-02-22 02:28] lonewolf3739 commented on #1622
Would you mind creating another issue for this? This is specific to [OTLP](https://github.com/open-telemetry/opentelemetry-python/blob/main/opentelemetry-distro/src/opentelemetry/distro/__init__.py#L73).

Yes, as of now this is case. There is an issue created for this already https://github.com/open-telemetry/opentelemetry-python/issues/1607.

I don't think there is any insistence, Jaeger sends tr

[2021-02-22 14:45] markfink-splunk opened #1623 "TypeError: pop() takes no arguments (1 given) with otlp exporter 0.18b0"
**Describe your environment**
opentelemetry-sdk==1.0.0rc1
opentelemetry-exporter-otlp==1.0.0rc1
opentelemetry-exporter-jaeger==1.0.0rc1
opentelemetry-propagator-b3==1.0.0rc1
opentelemetry-distro==0.18b0
opentelemetry-instrumentation==0.18b0
opentelemetry-instrumentation-grpc==0.18b0
opentelemetry-instrumentation-jinja2==0.18b0

export OTEL_TRACES_EXPORTER="otlp"
export OTEL_EXPORTER_OTLP_INSECURE=

[2021-02-22 15:02] markfink-splunk commented on #1622
I opened another issue for the pop() error.  Sorry about the formatting, I gave up trying to use "insert code"; it strips out the linefeeds no matter how I do it.

For the Jaeger issue, maybe the question should be: how do I configure it to use gRPC vs HTTP with just environment variables and the runtime wrapper?  Here's what I'm seeing:

OTEL_EXPORTER_JAEGER_ENDPOINT="http://markf-0398:14268/api/

[2021-02-22 15:31] dmarar commented on #1607
@lonewolf3739 , pls assign this to me

[2021-02-22 15:46] lonewolf3739 commented on #1607
@dmarar I don't have permissions to assign. @lzchen / @codeboten can assign this to you.

[2021-02-22 17:10] codeboten commented on #1607
@dmarar assigned! thanks

[2021-02-22 17:20] dmarar commented on #1607
@lonewolf3739  , Just to clarify on the requirement:
consider the following export() function of jaeger:
[code]

[2021-02-22 20:48] aabmass commented on #1617
I want to take a look at this, I'll try to get around to it sometime this week!

[2021-02-22 22:14] aabmass commented on #1608
I've looked into this a few times and there were really annoying issues with namespace packages and finding the code. Mypy 0.8xx (#1575) has made huge improvements there and I think it should be much cleaner now. Like you mentioned, there is a lot of untyped code and code with types that was added as a best effort without running mypy. I think we will need a really relaxed config or start with onl

[2021-02-23 01:36] lzchen commented on #1604
@lonewolf3739
Do you just mean using namespace packages so that each protocol could still live under the `opentelemetry-exporter-otlp` namespace but can be individually installed as separate packges?

[code]

[2021-02-23 06:57] mihirg commented on #1547
is there an alternative available for this package?

[2021-02-23 16:43] lonewolf3739 commented on #1607
@dmarar
You can just get the resource from `trace.get_tracer_provider()` and populate service name and resource attributes.

it would look something like this

[code]

[2021-02-23 16:52] lonewolf3739 commented on #1604
Yes, I was wondering if it is possible to create a `opentelemetry-exporter-otlp` with all of them included at the top level directory?

[2021-02-23 17:43] ocelotl opened #1624 "Move from Gitter to CNCF Slack"
The community [seems](https://github.com/open-telemetry/community/issues/362) to be moving away from Gitter and into Slack for DMs and discussions. We may want to follow the same path.

There are several opentelemetry-related channels already at Slack. We could open `# otel-python` too.

Now, in my personal opinion, I would prefer to move to Slack. I find Gitter less feature-rich and a bit buggy.

[2021-02-23 18:16] carlosalberto opened #1625 "Mention what's the minimum required Python version."
Maybe it is not mentioned because there is a final decision, but opening this issue so the README/documentation reflects this later on.

[2021-02-23 18:22] codeboten commented on #1625
Thanks for catching this, python 3.5 is the minimum, will add this to both readthedocs documentation and the readme. Making a note to also add it to the otel docs: https://opentelemetry.io/docs/python/

[2021-02-24 01:02] #1625 closed

[2021-02-24 06:26] martinell commented on #682
Why is the issue closed? How can I instrument an aiohttp server? Is there any documentation on this?

[2021-02-24 07:08] toumorokoshi commented on #682
Hi! Sorry we didn't leave any links.

See https://opentelemetry-python-contrib.readthedocs.io/en/latest/instrumentation/aiohttp_client/aiohttp_client.html for the aiohttp client. For the server, see https://opentelemetry-python-contrib.readthedocs.io/en/latest/instrumentation/asgi/asgi.html for now (unfortunately we don't have a server instrumentation, but we would love [a contribution](https://gi

[2021-02-24 15:47] carlosalberto opened #1629 "Rename IdsGenerator to IdGenerator"
Recently `IdsGenerator` was renamed to `IdGenerator` (which hopes to _feel_ better).

[2021-02-24 15:49] carlosalberto opened #1630 "Move useSpan() out of Tracer"
Currently the Specification expects that the current Span handling happens in a single place, either module level functions or in a class, and whereas `set_span_in_context()` and `get_current_span()` live in the `trace` module, `useSpan()` exists in the `Tracer`.

[2021-02-24 15:58] carlosalberto opened #1631 "Do not allow TracerProvider to be settable"
As per the [TracerProvider section](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/resource/sdk.md#resource-sdk):

Consider making `resource` a get-only property.

[2021-02-24 16:01] carlosalberto opened #1632 "Consider renaming Resource.create_empty() to Resource.get_empty()"
Specially given the fact a cached instance is returned, i.e. no actual creation happens.

[2021-02-24 20:55] lzchen commented on #1604
@lonewolf3739
I think that is fine. The goal is just to have different installable packages for each protocol. However we choose to organize it is a separate issue.

[2021-02-24 21:01] lzchen commented on #1607
Should we remove `service.name` from the constructors of exporters too?

[2021-02-24 23:19] carlosalberto opened #1634 "Consider renaming SimpleSpanExportProcessor"
Consider renaming it to `SimpleSpanProcessor`, as this is the name other implementations use. Likewise for `BatchSpanProcessor`.

Not a strong feeling though. Up to you ;)

[2021-02-25 00:08] carlosalberto opened #1635 "Consider hiding DefaultSpan"
According to the [Spec](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/api.md#wrapping-a-spancontext-in-a-span) it is recommended to not expose this functionality publicly, else it should be called `NonRecordingSpan`.

For example, in Java we expose this as `Span.wrap(SpanContext)`.

[2021-02-25 00:16] carlosalberto opened #1636 "Use either get_span_context() or context() for both Span/Link"
Span has `get_span_context()` whereas `Link` exposes it as a `context` property.

[2021-02-25 00:37] carlosalberto opened #1637 "Consider renaming BaggagePropagator"
BaggagePropagator is probably a too-generic name. In contrast, there's `TraceContextTextMapPropagator`, so maybe renaming it to something along those lines could convey more clarity.

[2021-02-25 00:51] carlosalberto opened #1638 "Relocate Getter and Setter to context/propagation"
Currently `Getter` and `Setter` are located in ` opentelemetry.trace.propagation`, even though this interface is supposed to be used everywhere for propagation (and it is indeed used in the `BaggagePropagator`).

Consider removing it to some `context` or `propagation` signal-independent package.

[2021-02-25 00:52] carlosalberto opened #1639 "Add documentation for format_span_id and the likes"
Currently a few top level functions, such as `format_span_id` and `format_trace_id` do not have any documentation.

[2021-02-25 00:56] carlosalberto opened #1640 "Consider hiding implementation elements"
Consider hiding implementation specific elements, or else consider hiding them when producing the documentation (unless they are needed outside the API/SDK, that is). A few members like that are:

- `LinkBase`
- `Tracer.CURRENT_SPAN`
- `DefaultTracerProvider`
- `RuntimeContext`
- `BagagePropagator.MAX_*` fields
- SDK's `EventBase`

[2021-02-25 01:00] carlosalberto opened #1641 "Consider renaming the root package name for exporters"
Currently exporters outside the SDK have the root package name `opentelemetry.exporter.*` which signals it does not depend on the SDK, but in the API only. This may apply to other components (propagators, instrumentation).

Not a strong feeling though.

[2021-02-25 01:03] carlosalberto opened #1642 "Consider removing `Span` for Jaeger/Span exporter names."
Jaeger and Zipkin export `Spans` ONLY, so maybe having **Span** in `JaegerSpanExporter` and `ZipkinSpanExporter` is not needed.

Not a strong feeling though.

[2021-02-25 01:06] carlosalberto opened #1643 "Clarify in the docs that TraceContext and Baggage are the default"
I'd say https://opentelemetry-python.readthedocs.io/en/latest/getting-started.html#configure-your-http-propagator-b3-baggage doesn't clarify that `BaggagePropagator` is included in the default.

Not a biggie though.

[2021-02-25 03:54] lonewolf3739 commented on #1607
Yes, that's what I mentioned in the issue title, I hope that's conveying the same? We need to remove the service_name param and use the Resource attribute.

[2021-02-25 14:31] carlosalberto opened #1644 "Protect against Propagators receiving null Getter/Setter"
Although this is not _quite_ clear on the (very) general error handling recommendations, (and there's an ongoing issue in the Spec regarding this), I'd suggest ignoring a call when a `Getter`/`Setter` with a value of `None` is received, in order to not cause any error.

[2021-02-25 14:39] carlosalberto opened #1645 "Consider offering singleton-alike instances for Propagators"
(Really minor detail here)

Propagators do not keep state, so you don't need to create different instances of them. Maybe you can consider offering methods to _try_ to prevent the user creating many of them, i.e. `B3Propagator.get()` or similar.

Not a string feeling here, as singleton pattern is not quite popular in Python (and cause it's a very minor detail anyway, as 99% of the time you only cr

[2021-02-25 16:40] codeboten commented on #1436
@lzchen 👍 LGTM

[2021-02-25 16:40] #1436 closed

[2021-02-25 16:53] codeboten commented on #1147
Looks like the docs are not generated correctly, see https://opentelemetry-python.readthedocs.io/en/latest/sdk/environment_variables.html

[2021-02-25 16:55] codeboten commented on #346
@aabmass are you still looking at this issue?

[2021-02-25 16:57] owais commented on #1150
I see. In that case can we rename `create()` to `detect()` and recommend using it in docs? I think `Resource()` vs `Resource.detect()` makes the difference a lot more obvious than.

[2021-02-25 17:03] owais commented on #1150
FWIW, Otel JS has a notion of "Resource Detectors" and they have a "detect()" method.

[2021-02-25 17:29] lzchen commented on #1624
Work items:

Remove "Gitter" from our docs.
Update CONTRIBUTING.md, and update with process outlined [here](https://github.com/open-telemetry/community/issues/362#issuecomment-777132359)

[2021-02-25 17:45] codeboten commented on #1624
The channel exists here: https://cloud-native.slack.com/archives/C01PD4HUVBL

[2021-02-25 17:53] lzchen commented on #1150
I think we just need to update our docs to be clear on how users should create Resources. As of our SIG discussion, the constructor should not be used and `.create()` and `create_empty()` should be used accordingly.

[2021-02-25 18:12] carlosalberto opened #1648 "Consider renaming OTLPSpanExporter"
Other languages have it named as `OTLPGrpcSpanExporter` in order to differentiate it from any future/alternative, e.g. `OTLPHttpSpanExporter`.

[2021-02-25 18:31] lonewolf3739 opened #1649 "Remove OTEL_EXPORTER_*_INSECURE environment variables"
We have `OTEL_EXPORTER_*_INSECURE` to enable exporting telemetry data with insecure channel. The OTLP Config specification https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/protocol/exporter.md#configuration-options doesn't have it. The expected behaviour is If the TLS certificate is set with `OTEL_EXPORTER_*_CERTIFICATE` we need to use `ssl_channel_creds` other

[2021-02-26 16:07] #1624 closed

[2021-02-26 22:37] owais commented on #1522
A case where one might want to have different resources on different spans is monolith services. A monolith could have a lot of different sub-components and each component might want to have different resource attributes on it's span. I've seen at least one customer who wanted to have different `service.name` for different spans generated by the same process.

[2021-02-26 22:39] owais commented on #1630
I can take this. To clarify, we want to move `userSpan()` method from `Tracer` to a module level function in the `trace` module, right?

[2021-02-26 22:56] #1629 closed

[2021-02-27 07:12] lonewolf3739 commented on #1636
The related spec for span

and For link

From what I understand `Link` doesn't have to provide any interface unlike `Span`. Current `Link` implementation offers `context` and `attributes` as property. I think we are good with current implementation?

[2021-02-27 17:42] carlosalberto commented on #1636
Usability wise IMHO it would look better if they have the same name. The difference in the Specification is not about how the operations are implemented, but how `Link` purely acts as a container.

[2021-03-01 02:42] #1632 closed

[2021-03-01 16:02] lzchen commented on #1522
@owais
Doesn't this violate the specs saying cannot change though?

[2021-03-01 16:28] lzchen commented on #1630
@owais
I believe it would exist in `trace.propagation`

[2021-03-01 16:34] lzchen commented on #1636
@carlosalberto
Would it not look weird to have an api method `get_span_context()` on a `Link` but a property getter for `attributes`?

[2021-03-01 16:47] lzchen commented on #1635
Doesn't Java have this exposed through [PropagatedSpan](https://github.com/open-telemetry/opentelemetry-java/blob/0aef15b5cded8303676e7cfd45f5ad7068c78848/api/all/src/main/java/io/opentelemetry/api/trace/PropagatedSpan.java#L18)? How is that any different than `DefaultSpan`?

[2021-03-01 16:49] lzchen commented on #1638
Just to clarify, is this issue that this is under the `opentelemetry.trace` namespace and other signals could utilize propagation functionality?

[2021-03-01 16:56] lzchen commented on #1637
Would `W3CBaggagePropagator` be sufficient? It is what [Java](https://github.com/open-telemetry/opentelemetry-java/blob/4623334c7c5fc524f19c544a38864478d6b2c757/api/all/src/main/java/io/opentelemetry/api/baggage/propagation/W3CBaggagePropagator.java#L24) is doing.

[2021-03-01 17:13] lzchen commented on #1641
I don't think simply having the lack of "sdk" in the `opentelemetry.exporter` namespace automatically signals that it does not depend on the SDK. I don't believe [java](https://github.com/open-telemetry/opentelemetry-java/blob/main/exporters/jaeger/src/main/java/io/opentelemetry/exporter/jaeger/JaegerGrpcSpanExporter.java#L14) or [Go](https://github.com/open-telemetry/opentelemetry-go/blob/main/ex

[2021-03-01 17:13] #1641 closed

[2021-03-01 17:15] lzchen commented on #1648
Probably related to https://github.com/open-telemetry/opentelemetry-python/issues/1604

[2021-03-01 17:26] carlosalberto commented on #1636
Good point. I guess you have two choices then:

1) attributes, context -> get_attributes(), get_span_context()
2) Leave them the way they are in `Link`.

No a strong feeling on how to go from here ;)

[2021-03-01 17:32] lzchen commented on #1604
@codeboten
On a related note, do we want to have the same architecture for `zipkin` and `jaeger` for their respective protocols as well?

[2021-03-01 17:34] #1631 closed

[2021-03-01 17:42] codeboten commented on #1604
@lzchen yes, we should follow the same path there

[2021-03-01 18:02] carlosalberto commented on #1638
@lzchen yes ;)

[2021-03-01 18:03] carlosalberto commented on #1635
`PropagatedSpan` is no longer a public class, so the user has to call `Span.wrap(SpanContext spanCtx)` instead.

[2021-03-01 18:04] carlosalberto commented on #1637
Yes, that would work :)

[2021-03-01 18:15] owais commented on #1630
Propagation module makes sense as it already contains `set_span_in_context` and `get_current_span` but wondering if ease of use triumphs more logical source organization. `useSpan()` is after all a convenience method and I think most project import `trace` anyway and `trace.useSpan()` is probably a lot more convenient.

I don't feel too strongly about it though so I'm fine either way.

[2021-03-01 18:52] lzchen commented on #1630
I don't feel too strongly either but I'd to not take on more work than necessary.
@carlosalberto
Is this a must-have as defined by the specs?

[2021-03-01 19:01] lzchen commented on #1636
I don't think the change provides TOO much benefit so I feel we should just leave them. Closing this.

[2021-03-01 19:01] #1636 closed

[2021-03-01 19:02] carlosalberto commented on #1630
`opentelemetry.trace.use_span()` sounds fine as it's a convenience method as @owais pointed out, so I suggest going that path ;)

[2021-03-01 21:36] lzchen commented on #1630
Sure, @owais let's go with the above suggestion.

[2021-03-01 21:40] #1634 closed

[2021-03-01 22:22] codeboten commented on #1635
My vote is to rename Default to `NonRecordingSpan`

[2021-03-01 22:24] #1598 closed

[2021-03-02 01:22] codeboten commented on #1637
Is this defined in the spec? i'm seeing that every implementation seems to have a different name for it, js calls is `HttpBaggage` and go appears to call it simply `Baggage` https://github.com/open-telemetry/opentelemetry-go/blob/ecf65d7968225482a4d50e4955d6bc826119b49c/propagation/baggage.go#L28

[2021-03-02 01:24] carlosalberto commented on #1617
@aabmass Ping

[2021-03-02 13:24] carlosalberto commented on #1637
Oh definitely too many names :) I'd vow specifically and specially **against** `BaggagePropagator` as it's too generic (will fill an issue for that in the Go SIG).

[2021-03-02 16:15] OmarEltamasehy opened #1658 "Error in DjangoInstrumentor and RequestsInstrumentor"
Hi Guys,
I can run the below code and I can receive the spans in very small project,
but when I copied the same code to a big project, unfortunately I can not receive spans only for Django and Requests
so please advice me for recommendations or solutions to try for this issue.
as I used the same code in manage.py or settings.py or wsgi.py and unfortunately the same issue.

[code]

**versions**
Dja

[2021-03-02 16:35] lonewolf3739 commented on #1658
Is it specifically the `django` and `requests` that you are not seeing traces? Are you able to see tracers for `redis` etc..? Would you be able to see provide some small reproducible example?

[2021-03-02 17:38] seemk commented on #1622
I think the question here is choosing between the following Jaeger endpoints/formats:
* Thrift over HTTP - this is selected if `OTEL_EXPORTER_JAEGER_ENDPOINT` is set
* Thrift over UDP - selected if `OTEL_EXPORTER_JAEGER_ENDPOINT` is unset. Host, port can be selected with `OTEL_EXPORTER_JAEGER_AGENT_HOST` and `OTEL_EXPORTER_JAEGER_AGENT_PORT`
* gRPC - can't be selected via env vars

I'll create a P

[2021-03-02 18:30] #1635 closed

[2021-03-02 21:21] codeboten commented on #1649
Just to clarify, the secure/insecure behaviour is a result of the protocol set in the `Endpoint` configuration

[2021-03-02 21:32] codeboten commented on #1642
I would agree that span is not necessary here, although I do think that the protocol should be a part of the name. Thoughts on what the right thing to do is here? Again the java implementation calls this `JaegerGrpcSpanExporter` and the javascript call it `JaegerExporter`. Should there be an official recommendation from the spec on this? I fear otherwise, inconsistencies will be difficult for user

[2021-03-02 21:41] lzchen commented on #1642
@codeboten
If we follow through with [this](https://github.com/open-telemetry/opentelemetry-python/issues/1604) and package them separately, would naming be such an issue? Users would know what they are using by just the package they are installing, so `JaegerExporter` should be fine?

[2021-03-02 21:51] codeboten commented on #1642
Right, I suppose if the module path identifies the protocol, then it would be fine to call is `JaegerExporter` ie: `opentelemetry.exporters.jaeger.grpc.JaegerExporter`, though this could also just be called `Exporter` since the path gives the users all the info about what exporter this is.

I don't have strong opinions on this other than pushing for consistency

[2021-03-02 21:57] lzchen commented on #1642
@codeboten
In fact with that line of  thinking, we don't even need "Exporter"!

[2021-03-02 22:00] codeboten commented on #1642
We can just call it `Thing`

[2021-03-03 00:17] OmarEltamasehy commented on #1658
Yes, I can see spans for `redis` and `psycopg2` also but I can not for `django` and `requests`
and be noted that all of them worked fine in small project that created specifically for testing.

[2021-03-03 00:35] #1638 closed

[2021-03-03 01:05] #1637 closed

[2021-03-03 07:40] lonewolf3739 commented on #1658
It is hard to tell what is the problem without knowing more context or some reproducible example.

[2021-03-03 15:19] wojtasskorcz opened #1667 "Support for OTLP 0.7.0 planned?"
Hi! Are there any plans to support OTLP 0.7.0? It was released over a month ago: https://github.com/open-telemetry/opentelemetry-proto/releases/tag/v0.7.0

I considered building it myself using [proto_codegen.sh](https://github.com/open-telemetry/opentelemetry-python/blob/main/scripts/proto_codegen.sh) but in the [readme](https://github.com/open-telemetry/opentelemetry-python/blob/main/opentelemet

[2021-03-03 16:49] ocelotl commented on #1495
@lzchen Is there already a decision made on this topic? I wonder if we can close this issue

[2021-03-03 17:45] lzchen commented on #1495
@codeboten
I don't remember if we came to a concensus.

[2021-03-03 18:17] owais commented on #1630
I have a WIP branch for this but we might have a problem here. The use_span method implicitly depends on the SDK. It doesn't import or refer to anything in the SDK but the logic it contains depends on SDK's Span implementation:

Lines 968, 974 and 975 here: https://github.com/open-telemetry/opentelemetry-python/blob/main/opentelemetry-sdk/src/opentelemetry/sdk/trace/__init__.py#L954

I got rid of

[2021-03-03 18:30] dmarar commented on #1607
@lonewolf3739 - I have created a draft PR  [1669](https://github.com/open-telemetry/opentelemetry-python/pull/1669)
As said i have made the changes to OpenCensus and Jaeger.
But from what i see , zipkin the changes are already in place.

I did not find any other place where the service_name is being used in exporters.
Could you please point out if any other places i have missed?

Thanks,
-Dilip M

[2021-03-03 19:01] seemk commented on #1109
With each exporter contained within `BatchSpanProcessor` which has its own queue, isn't this the case already? So you just create multiple exporters?

[2021-03-03 19:12] seemk commented on #1344
Is this still relevant? I can't find `ExportKind` in the spec currently.

[2021-03-03 20:21] owais commented on #1630
BTW what are your thoughts removing the check entirely and always setting status. How bad is it if a status is already set on span but `use_span()` overwrites it in case of an exception? If a user is setting status manually and doesn't want `use_span()` override it, they can pass `set_status_on_exception=False` so we do provide control over it.

If we move the check, we remove the implicit depende

[2021-03-03 20:30] lzchen commented on #1630
@owais
I feel like with this restriction, `use_span` shouldn't be in the api then. Perhaps we can leave `use_span` inside `tracer`, but in the sdk implementation, for the "setting current span", we could call `set_span_in_context()` directly. That way, `use_span` isn't really responsible for "span handling" and more of a convenience method on tracer.

[2021-03-03 21:04] owais commented on #1630
I agree but the more I think about it, the more I'm convinced current behavior of `use_span()` is actually wrong. Consider the following example

[code]

Intuitively user would expect span to have OK unless `json.dumps()` fails. In that case user would expect `use_span()` to correct set status to Error.

Span API allows overwriting status so looks like we are fine with that.

If we "fix" this beha

[2021-03-04 05:51] tmc opened #1670 "Default otel reporter timeout of 900s is too long."
Since this timeout can occur when a process is closing/exiting it can mean a significant amount of time when the process is just retrying before it ultimately ends.

For example, it's easy to misconfigure the target service e.g.:

[code]

which can cause processes to easily hang at exit (and print nothing by default).

[2021-03-04 12:44] owais commented on #1630
The spec actually clarifies this at the very end in the following section.
https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/api.md#set-status

So looks like this check is unnecessary and should actually be removed. I'll update the PR accordingly.

[2021-03-04 16:08] codeboten commented on #1648
As we're moving ahead with splitting the OTLP exporter per protocol into separate packages, the protocol will be reflected as part of the package and import path. Closing this issue

[2021-03-04 16:08] #1648 closed

[2021-03-04 16:11] codeboten commented on #1640
We should make these implementation details protected.

[2021-03-04 16:52] codeboten commented on #1522
@owais could this use-case be addressed by having a `service.name` attribute on the span instead of on the resource? Then this would be up to the backend to handle correctly

[2021-03-04 17:37] lonewolf3739 commented on #1649
@codeboten Just noticed this is added to RC2. I will work on this.

[2021-03-05 01:25] owais commented on #1522
No, we could have multiple providers each with it's own resource. Each sub-component of the monolith would use it's own provider. I think that should work.

To be completely clear, none of Splunk/SignalFx libs supported this use case but I've had people request it a few times before so wanted to share it as one possible use case.

[2021-03-05 01:34] owais commented on #1522
Perhaps that would work. I'm thinking how it'd work without users having to add the tag to each span manually and to auto-instrumented packages. Perhaps having a different processor for different parts of the system could work where processor is responsible for adding the tag but then not sure how much better that'd be than having reference to resource on each span.

I don't think we need to suppo

[2021-03-05 02:26] #1642 closed

[2021-03-05 04:24] aabmass commented on #346
@codeboten sorry for the delay. I'm gonna unassign myself for now in case any one else has time to pick it up

cc @lzchen

[2021-03-05 04:59] lonewolf3739 commented on #1522
From Tracing API Spec

This we support and use for almost everything as of today.

Technically one can create multiple tracer providers but I am wondering about the implications of having multiple providers in single process, What does this mean for `OTEL_RESOURCE_ATTRIBUTES` and `trace.get_tracer(_provider)` etc...?

[2021-03-05 05:58] lonewolf3739 commented on #1649
I was working on this and have a  small question. If `OTEL_EXPORTER_*_CERTIFICATE` is not set, then should we let gRPC runtime to pick the default location with `ssl_channel_credentials()` or use the `insecure_channel`?

[2021-03-05 09:41] owais commented on #1522
That would depend on how each provider's resource is initialized. If a use wants to take OTEL_RESOURCE_ATTRIBTES into account, they can use `Resource.create()` and assign the result to their provider before adding in additional tags. If they don't, they use `Resource.create_empty()`, add custom tags and assign to the provider.

Wouldn't it just work? The given provider would return a tracer instan

[2021-03-05 14:02] carlosalberto opened #1672 "Don't create a baggage copy for each call to get_baggage()"
Consider not creating a copy of the entire baggage for each `get()` call:

[code]

Not sure about the locking conditions here, so it may not be possible to do this _without_ the copy. For your consideration ;)

[2021-03-05 15:06] dmolenda-sumo commented on #1575
I will take this issue

[2021-03-05 15:47] codeboten commented on #1575
Thanks @dmolenda-sumo

[2021-03-05 16:52] owais commented on #1619
If `Status` is exported directly from the `trace` module, I don't see any reason to not export `StatusCode` as well. Most of the time people would want to use `Status` is to set a status on a span so they'd also need `StatusCode`.

We should either remove `Status` from trace module and have users import both Status and StatusCode from opentelemetry.trace.status or make both available from the trac

[2021-03-06 08:16] owais commented on #1670
I agree it is probably a bit too much but reducing it should not be the solution to services freezing at shutdown. At shutdown, exporters/processors should be given a grace-period to shutdown cleanly and if they don't then the pipeline should force them to shutdown and exit. We should have a different issue for that.

[2021-03-06 08:23] owais commented on #1658
@OmarEltamasehy can you share more details please? Like how is tracing configured in the big project vs the small? Does the small one use `manage.py runserver` while the big one uses `gunicorn`? What other differences are there? What if you try to eliminate the differences and setup tracing in the small one the same way as the big one? Does the small one behave similarly in that case?

[2021-03-06 08:24] owais commented on #1658
Also, can you please use the latest version of Otel Python? 0.15 is quite old and possibly the issue you are facing might already have been resolve since 0.15 was released.

[2021-03-06 09:04] owais commented on #1532
Should this be required for GA? This only affects code organization and maintenance but all public packages and interfaces remain the same.

[2021-03-06 09:09] owais commented on #1109
I agree. We can consider using multiple processor each with it's own instance of OTLP exporter as a solution for this. Looks like the spec just recommends having one queue per destination which would be satisfied by such a setup. There's no point in re-implementing BatchSpanProcessor's queue inside the exporter IMO.

If we agree with this, this should just be a small documentation change.

[2021-03-06 09:12] owais commented on #1109
Using multiple exports+processors does probably not technically satisfy the spec as the spec clearly talks about multi-destination exporting in the context of OTLP exporter but still, we can still recommend wrapping multiple OTLP exporters with different processors to achieve the same result. I realize it may not truly satisfy the spec but it addresses the problem the spec is trying to solve in a

[2021-03-06 16:45] #1623 closed

[2021-03-06 22:09] OmarEltamasehy commented on #1658
Please clarify what do you mean about context and reproducible examples ?

I am using django, postgresql, redis, pub/sub and datastore in my project and I executed the same steps that mentioned in opentelemetry docs to apply the tracing.

[2021-03-08 16:47] lzchen commented on #1522
@owais
Looking at other language implementations, [javascript](https://github.com/open-telemetry/opentelemetry-js/blob/main/packages/opentelemetry-tracing/src/Span.ts#L79), [java](https://github.com/open-telemetry/opentelemetry-java/blob/f113c0348361ea60ecf63bdcff09da046f875c2a/sdk/trace/src/main/java/io/opentelemetry/sdk/trace/RecordEventsReadableSpan.java#L62) both have `Resource` in the span. I

[2021-03-08 16:48] lzchen commented on #1344
@seemk
Metrics specs are currently being reworked. Closing this issue for now.

[2021-03-08 17:02] aabmass opened #1678 "OTLP span exporter docstrings are not built into sphinx docs"
https://github.com/open-telemetry/opentelemetry-python/blob/691fe0b10f202f9d91b8c4bc0e19b8bbeef9a3b5/exporter/opentelemetry-exporter-otlp/src/opentelemetry/exporter/otlp/trace_exporter/__init__.py#L65-L73

doesn't end up in ReadTheDocs because it is not imported and doesn't have an automodule entry. I imagine we have the same problem elsewhere in other parts of our codebase.

[2021-03-08 17:08] lzchen commented on #1619
@owais
My vote is for simply adding `StatusCode` into trace module.

[2021-03-08 17:33] #1630 closed

[2021-03-08 17:34] lzchen commented on #1670
@owais
What is the decision for this issue? Not increase the timeout but have a better shutdown mechanism for exporters/processors?

[2021-03-08 17:35] lzchen commented on #1532
@owais
It's required for ga for discoverability purposes. We want customers to go to the main repo for core components and contrib for everything else. If this is done after GA, it will definitely be confusing.

[2021-03-08 17:37] lzchen commented on #1109
@owais
I agree. The less changes we make the better. So this will just simply be a doc change then to instruct users to go that route to solve this usecase?

[2021-03-08 17:40] lzchen commented on #1658
Let's move the discussion to the Github discussion thread [here](https://github.com/open-telemetry/opentelemetry-python/discussions/1660). Closing this issue.

[2021-03-08 17:40] #1658 closed

[2021-03-08 18:14] owais commented on #1670
I think these are two separate issues.

1. Exporter should not hang om shutdown and should have a grace period after which it force quits dropping in memory spans.
2. Exporter should have a shorter timeout on network ops in general as 900s is probably too long unless this is not a real problem and only manifests when network errors happen during shutdown. In that case we only need 1.

[2021-03-08 20:44] lonewolf3739 commented on #1522
While this is not specifically about the `Resource` of span but relevant to context of multiple tracer providers. Posting the same question I have from another place. Should the SDK env config only be applied for global tracer provider or be applied for all the tracer providers or None at all? take `TRACES_SAMPLER` for example there is no way users can configure it to use different sampling strate

[2021-03-08 20:57] #1639 closed

[2021-03-08 21:16] owais commented on #1522
I think we should close this. Doing this does not give us enough benefit and limits some use cases without adding addressing them in other ways.

[2021-03-08 21:45] #1667 closed

[2021-03-08 21:46] lzchen commented on #1522
@lonewolf3739
I would start another discussion about configuring different tracer providers. Closing this issue.

[2021-03-08 21:46] #1522 closed

[2021-03-08 22:05] lzchen commented on #1670
I think we can address both. Java has default [timeout](https://github.com/open-telemetry/opentelemetry-java/blob/43f1ecf7ede49104c2aac1c9e5448b7cf7859ce7/exporters/otlp/trace/src/main/java/io/opentelemetry/exporter/otlp/trace/OtlpGrpcSpanExporterBuilder.java#L31) to be 10 seconds, maybe we can do the same?

[2021-03-08 22:12] lzchen commented on #1670
Related https://github.com/open-telemetry/opentelemetry-python/issues/346

[2021-03-08 22:13] owais commented on #1670
SGTM

[2021-03-08 22:15] #1619 closed

[2021-03-09 06:13] wojtasskorcz commented on #1667
Thank you!

[2021-03-09 09:38] lonewolf3739 commented on #1670
@lzchen OTLP python also has the default timeout 10 seconds for Export.
https://github.com/open-telemetry/opentelemetry-python/blob/24edd3d81afb394c3b2d1f0416faca59db931b66/exporter/opentelemetry-exporter-otlp/src/opentelemetry/exporter/otlp/exporter.py#L183-L187
The 900 secs is to deal with the transient errors by using exponential back-off retry strategy. This might still be too long but just wa

[2021-03-09 12:50] pellared opened #1683 "HTTP Span Attributes: `http.url` must not contain username / password"
As is stated in the recent [specification change](https://github.com/open-telemetry/opentelemetry-specification/pull/1502) :

[2021-03-09 15:53] codeboten commented on #1683
Thanks for filing this! Moving this issue to the contrib repo as I don't believe anything in the core repo sets this attribute.

[2021-03-09 17:07] lzchen commented on #1670
@lonewolf3739
Thanks for the explanation. It's outlined that it is the same value as the Go implementation. If that's the case shouldn't we be consistent? Does 900s make sense for the "conventional" use case of actually retrying instead of this specific use case where the exporter hangs due to misconfiguration? If so, we should just solve (1) as outlined [here](https://github.com/open-telemetry/op

[2021-03-09 19:05] lonewolf3739 commented on #1670
900 secs is too high for maximum backoff time. Generally it is either 32 or 64 seconds and sometimes can be little high based on use case. I couldn't find what is the recommended maximum value by OTLP but I assume it wouldn't be as high 900 seconds. Probably we can raise an issue on the spec repo.

[2021-03-09 20:27] owais commented on #1670
Thanks for digging into this @lonewolf3739. Agree we should clarify with spec or at least with other SIG maintainers.

And we should probably have separate tickets for possibly reducing exp-backoff max time and add grace period to exporters on shutdown.

[2021-03-10 16:21] #1594 closed

[2021-03-10 17:10] #1643 closed

[2021-03-10 18:28] lzchen opened #1685 "Jaeger/Zipkin/Opencensus exporters should populate service_name from Span Resource"
Currently, the three exporters that require service_name collect them all in different ways.

Jaeger -> after [this pr](https://github.com/open-telemetry/opentelemetry-python/pull/1669), will be populated by global tracer_provider -> resource.
Opencensus -> passes in [constructor](https://github.com/open-telemetry/opentelemetry-python/blob/main/exporter/opentelemetry-exporter-opencensus/src/opente

[2021-03-11 10:08] dmarar commented on #1685
In a batch will all the spans have the same resource?
As per the spec https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/resource/sdk.md

Assuming that all spans from a tracer will have same resource we could do something similar to
https://github.com/open-telemetry/opentelemetry-python/issues/1607#issuecomment-783534334

just a thought.

[2021-03-11 10:34] owais commented on #1685
@dmarar Yes, this makes a lot of sense to me. Span translator should copy resource attributes to process tags (jaeger) and span tags (zipkin).

[2021-03-11 15:09] lonewolf3739 commented on #1685
I am not sure if you can just take the 0th span and make it's resource as whole batch resource. I haven't closely looked at the span processor code so I don't know yet if it is possible for batch to have spans originating from different resources. Would it be more better if we group them by their resource and make proto.PostSpansRequest/thrift.Batch export for each of them?

[2021-03-11 17:22] lzchen commented on #1685
From SIG meeting 03/11/2021 -> We will be restricting users to have a new instance of spanprocessor for each TracerProvider they create, so we can go with taking the 0th span to populate service_name for whole batch.

[2021-03-12 01:15] #1327 closed

[2021-03-12 02:31] aabmass opened #1691 "Datadog docs in core repo"
This one was probably missed when the rest of the docs were copied over to contrib: https://github.com/open-telemetry/opentelemetry-python/tree/main/docs/examples/datadog_exporter. It should be moved to contrib docs

[2021-03-12 02:55] #1150 closed

[2021-03-13 22:57] owais commented on #1604
Can we have this but with namespacing have the same import paths as today? If not, can we change the import paths today so when we break up the package into multiple ones, import paths don't change? If we can do this then this is not required for GA as packages can be broken up later without any interface or import path changes. When we break down the packages, users should be able to just upgrade

[2021-03-13 22:58] owais commented on #1604
... Most users wouldn't even notice the change and the amount of effort required to get this done is a lot less than actually splitting the packages so it should help burn down the RC2/GA chart.

[2021-03-15 14:27] NICK-DUAN opened #1693 "how to spread baggage in several services?"
In opentelemetry-python docs I saw many instructions, But I can't find a example to use baggage.

As a newbie, I can't fingure out how to use baggage to spread information to another service. What I want to know is:
there are 3 services in different microservice.

Service A --> Service B --> Service C

In Service A, We can get a information, with use baggage send to Service B, Then Service B will

[2021-03-15 16:21] lzchen commented on #1604
@owais
Maybe I'm not understanding properly, but how can this be not a breaking change? The one package will be split from `opentelemetry-exporter-otlp` to `opentelemetry-exporter-otlp-<protocol>`, so they must change what library they install.

I agree with the namespacing, it provides a good user experience, but we would have to do everything before 1.0.0 due to the issue mentioned above.

[2021-03-15 16:22] #472 closed

[2021-03-15 17:51] owais commented on #1604
@codeboten suggested above that after the split `opentelemetry-exporter-otlp` can just be a meta-package that doesn't ship any code but only pulls in all protocol specific packages for OTLP exporter. So it'll have `opentelemetry-exporter-otlp-protobuf` and `opentelemetry-exporter-http` as dependencies. If we ship the package today as is and once we decide to split it post 1.0, we can turn this int

[2021-03-15 17:55] lzchen commented on #1604
@owais
Doesn't that defeat the purpose of why we are packaging them separately in the first place if we are pulling in all packages as dependencies? We don't want users to have to take dependencies on specific protocols that they don't need right?

[2021-03-15 18:01] owais commented on #1604
Right. I was just thinking how/if we can delay work and get to GA faster by shipping this change post 1.0 while not breaking interfaces or requiring users to install/remove packages to keep things working but if having "lean" packages is a requirement for 1.0 then sure it won't work. How critical is it for the packages to be lean in 1.0? Can we live with shipping a big package in 1.0 and "fixing"

[2021-03-16 15:50] #1672 closed

[2021-03-16 16:45] #1649 closed

[2021-03-16 19:16] lzchen opened #1698 "Drop support for Python 3.5"
Following discussion: https://github.com/open-telemetry/opentelemetry-python/discussions/1647

[2021-03-16 19:48] ocelotl commented on #1698
I'll be happy to get this one done :sunglasses:

[2021-03-16 21:11] aabmass commented on #1147
#1680 added docstrings. The remaining work is filling in the docstrings with missing details.

I'm unassigning myself and someone else can flesh those out if I don't get to it

[2021-03-16 22:03] codeboten commented on #1607
This was fixed by #1669

[2021-03-16 22:03] #1607 closed

[2021-03-17 03:36] NICK-DUAN commented on #1693
Anybody?

[2021-03-17 10:48] lonewolf3739 commented on #1693
@NICK-DUAN

Setting baggage in upstream service to propagate it to downstream services.
[code]

Getting baggage in downstream service
[code]

I hope these snippets will give you an idea about baggage propagation.

[2021-03-17 17:24] codeboten commented on #1147
Renaming this as the work left here is to document supported variables.

[2021-03-17 17:55] dmarar commented on #1003
pls assign this to me.

[2021-03-17 19:13] lzchen commented on #1685
Work finished for Zipkin and Jaeger.

[2021-03-18 02:17] NICK-DUAN commented on #1693
Thanks, But it's not what i want. In your way, If Service A want to propagate its own baggage to Service C, it has to extract baggage from Service B, And propagate again, to make sure Service C can get the baggage.

Is there any way that Service A can propagate baggage to Serice C but Service B do nothing about baggage.

[2021-03-18 15:15] #1698 closed

[2021-03-18 15:37] lonewolf3739 commented on #1693
Did you try it? You would have to make changes in service B only if you wanted to add some other baggage items related to B otherwise It should just propagate if you have correct instrumentation set in place.

[2021-03-18 15:56] #1575 closed

[2021-03-19 03:34] NICK-DUAN commented on #1693
@lonewolf3739 Yes, I've tried it once, But my first attempt may have been in the wrong way, So I didn't get the expected results.

Although I get the results I want now, but I am still not sure how to use here, do you have any good advice I can do?

[2021-03-19 06:49] NICK-DUAN commented on #1693
@lonewolf3739
Yes, I've tried. This is my code:

Service-a(as a client)
[code]

Service B
[code]

Service C
[code]

And this is the output:
[code]

I want to get baggage from Service C, but it looks not work.

[2021-03-19 08:49] NICK-DUAN commented on #1693
Am I code it in a wrong logic?

[2021-03-19 17:32] carlosalberto opened #1708 "Update the OT Shim layer"
The OT Shim layer needs to be updated to include the latest changes as introduced by

https://github.com/open-telemetry/opentelemetry-specification/pull/1101
https://github.com/open-telemetry/opentelemetry-specification/pull/1563

[2021-03-19 17:44] lzchen commented on #1708
@carlosalberto
Just to clarify, this is not a 1.0.0 release blocker correct?

[2021-03-19 18:05] carlosalberto commented on #1708
post 1.0.0 definitely ;)

[2021-03-20 15:45] lzchen commented on #1678
@aabmass
Is this fixed with #1671 ?

[2021-03-20 16:15] lzchen commented on #1693
Don't you need to pass in the headers in Service B?

`resp = requests.get("http://localhost:8083/server_server_request", headers=headers)`

[2021-03-21 14:03] NICK-DUAN commented on #1693
Yes, I can do like this. But if I do, isn't it very intrusive to code? I try to find a way that will propagate the baggage implicitly.

[2021-03-22 13:52] lonewolf3739 commented on #1693
Yeah it is reasonable to expect that baggage just propagates without having to make changes in intermediate services(something similar to trace context propagation). I had assumed it worked like that.

[2021-03-22 14:46] lonewolf3739 commented on #1693
I was trying this myself and I noticed strange behaviour. If service B does not have any baggage interaction and simply a call to downstream service then baggage is getting propagated otherwise not. I am not sure what's happening and how are they different. Looks like I have got some exercise to do...

[2021-03-22 16:47] ocelotl opened #1710 "Include code cleanup from #1690"
It was discussed before the first release to make sure that only the public symbols that should be public should be. Make sure of this.

[2021-03-22 16:50] #1604 closed

[2021-03-22 16:51] hurshpatel opened #1711 "New to propagation - how to leverage TextMapPropagator API to extract trace context?"
Hi, I am new to context propagation and could not find any documentation/previous posts for our use case, so thought of posting out here. We are attempting to tie two applications together residing in two different AWS services (ECS -> Lambda) with both services interacting with S3 on a common object. Since we don’t have a HTTP header to inject the trace context into, our idea was to store the tra

[2021-03-22 19:31] aabmass commented on #1678
@lzchen no, this is a separate issue

[2021-03-23 02:14] NICK-DUAN commented on #1693
I've found a solution.

I create a django project, and configurate it with opentelemetry, then it works. I think django handler function must do something when the request inbound and outbound. You can reference this [doc for opentracing](https://opentracing.io/guides/python/), it's almost the same logic.

[2021-03-23 15:23] codeboten opened #1714 "Opencensus exporters should populate service_name from Span Resource"
Currently, the opencensus exporters that require service_name collects it via the constructor.

Following from @owais 's comment, users can instantiate multiple TracerProviders, which could possibly have different Resource attached to them, and therefore the service_name s could be different.

Dot net SDK has a reference to the creating tracer_provider in their exporters (which is weird), and Java

[2021-03-23 15:23] codeboten commented on #1685
Created a separate issue specifically for the opencensus exporter

[2021-03-23 15:23] #1685 closed

[2021-03-23 17:35] ocelotl commented on #1644
Just for the record, I think [this](https://github.com/open-telemetry/opentelemetry-specification/issues/986) is the issue @carlosalberto is referring to.

[2021-03-23 23:41] ashokc opened #1716 "The Helloworld example throws errors?"
Perhaps I am missing something really basic here.

After installing

[code]

Running:

`python ./tracing_example.py`

throws errors

[code]

[2021-03-24 01:28] lzchen commented on #1716
What versions of the libraries are you using?

[2021-03-24 01:58] hurshpatel commented on #1711
discussion tracked here https://github.com/open-telemetry/opentelemetry-python/discussions/1715

[2021-03-24 01:58] #1711 closed

[2021-03-24 12:45] ashokc commented on #1716
pip freeze shows (among other things):

google-api-core==1.26.2
[code]
...

[2021-03-24 13:40] ashokc commented on #1716
It works fine from a different computer :) native linux . Must be something with Python/pip environment on my windows/WSL/Ubuntu

[2021-03-24 13:40] #1716 closed

[2021-03-24 20:44] ashokc commented on #1716
Installing the 'dev' packages directly with

pip install -e ./opentelemetry-api
pip install -e ./opentelemetry-sdk
...

from the git clone resolved this issue for windows/wsl/ubuntu with Python3.8.8

Perhaps something that can be fixed in the PyPi releases? Thx Ashok

[2021-03-26 13:43] lonewolf3739 commented on #1510
I only see the metrics about prometheus server itself at http://localhost:9090/metrics. Looking at the graph I see both staging and prod as expected. @asaha-atlassian is this still an issue?

<img width="1318" alt="Screenshot 2021-03-26 at 7 08 15 PM" src="https://user-images.githubusercontent.com/22846633/112639754-a1f61700-8e66-11eb-9c8e-517ff977a390.png">

[2021-03-26 17:20] #1644 closed

[2021-03-29 05:04] rakshith91 opened #1723 "Q) How to add links to parent span"
Hello,

I have the following use case:

I have a parent_span to which I want to add links of it's child spans

something like this:
[code]

This will fail now since links have become read only in 1.0.0rc1

Now that links have become read-only, is there a way to add a link to the parent span? ( if i do not want to use protected _links)

EDIT:
Is it possible to support adding links after span creati

[2021-03-29 06:56] lonewolf3739 commented on #1723
OpenTelemetry doesn't support adding links after span creation.

[2021-03-29 09:56] brunoripa commented on #1723
I don't know if I am right, I am replying mostly to get a confirmation/deny. I _think_ you should be doing something like this:

[code]

where <your stuff> is what you want to do, and `context` should be the context  span. I am not entirely sure since I am having the problem that my context is being deserialized after being sent via HTTP rest header from another service. I have no errors, but the

[2021-03-29 20:26] manojpandey commented on #1573
@aabmass I can take this over.

[2021-03-30 12:09] marcinzaremba opened #1727 "Propagators do not conform with spec by touching context even if no headers are present"
**Describe your environment**
N/A

**Steps to reproduce**
[code]
results in:
[code]

Same applies for Jaeger propagator as well.

**What is the expected behavior?**
When propagator-specific headers are not present in the carrier, propagators do not modify context.

https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/context/api-propagators.md#extract

**What is th

[2021-03-30 17:47] #1723 closed

[2021-03-30 19:38] ankh6 commented on #1714
Hey @codeboten I'd like to make my first contribution here if this issue is free

If I understand correctly, it would be better to remove the inheritance from the SpanExporter class and populate the service_name within the scope of the newly created object ?
Does changes need to be made in opentelemetry-sdk/src/opentelemetry/sdk/trace/export/in_memory_span_exporter.py ?

[2021-03-30 22:08] lzchen commented on #1714
@ankh6
No other classes should need to be changed. Currently, the [service_name](https://github.com/open-telemetry/opentelemetry-python/blob/main/exporter/opentelemetry-exporter-opencensus/src/opentelemetry/exporter/opencensus/trace_exporter/__init__.py#L52 is being populated from the `resource` that is part of the `tracer_provder`. Instead, we want the `service_name` to be populated from the reso

[2021-03-31 01:58] lonewolf3739 commented on #1563
Ahh, I ran into this problem. What do you think about the idea of instrumentations not installing library and expect it to be installed by user? One potential problem could be instrumentation library may not be compatible with instrumented library version.

[2021-03-31 02:33] NICK-DUAN commented on #1693
I found the way, So close this issue.

[2021-03-31 02:33] #1693 closed

[2021-03-31 08:12] davidpickup opened #1730 "Why is the minor version pinned?"
Is there a reason why the minor version of `googleapis-common-protos`  is pinned to `1.52`? Would `~=1.52` be specific enough?

https://github.com/open-telemetry/opentelemetry-python/blob/b9c0b6f8827895e23eeff1f253f4c502154d1873/exporter/opentelemetry-exporter-otlp-proto-grpc/setup.cfg#L43

https://github.com/open-telemetry/opentelemetry-python/blob/b9c0b6f8827895e23eeff1f253f4c502154d1873/exporte

[2021-03-31 20:18] dmolenda-sumo commented on #1608
I recently updated mypy to 0.812 version (#1705). Finding code inside packages is much easier right now, so I can take care of running mypy tests for `opentelemetry-sdk`. Could you assign me to this issue?

[2021-04-01 15:19] #1344 closed

[2021-04-01 15:19] #1345 closed

[2021-04-01 15:19] #1346 closed

[2021-04-01 15:19] #1347 closed

[2021-04-01 15:19] #1348 closed

[2021-04-01 15:19] #1490 closed

[2021-04-01 15:19] #1007 closed

[2021-04-01 15:19] #1167 closed

[2021-04-01 15:19] #1172 closed

[2021-04-01 15:19] #1255 closed

[2021-04-01 15:19] #1573 closed

[2021-04-01 15:21] #1378 closed

[2021-04-01 15:56] codeboten commented on #1730
i don't think there was a particular reason for pinning the minor version here.

[2021-04-01 18:26] dmarar commented on #1003
Hello @codeboten , @lonewolf3739 ,

My idea is to follow the otlp getting-started example and create a simple span for debugging.

As part of the fix i wanted to do 2 things:
1. test the output of json encoded protobuf
2. simulate all kinds of errors in the spec, like 400/500, do you suggest setting up a local collector? or is there any easy way to debug these?  if a local collector needs to be se

[2021-04-01 19:55] aabmass commented on #1022
All yours

[2021-04-02 11:02] Oberon00 opened #1737 "Context API is missing CreateKey functionality"
opentelemetry-python uses strings as keys for Context. However, the spec is written to expect a special Key object https://github.com/open-telemetry/opentelemetry-specification/blob/v1.1.0/specification/context/context.md#create-a-key

I don't think "language constraints dictate otherwise" for Python (CreateKey could just return a new Key object every time and compare by identity).

Even then this

[2021-04-02 11:44] Oberon00 opened #1738 "None ("null") should not be encouraged in sequences ("arrays")"
See the spec at https://github.com/open-telemetry/opentelemetry-specification/blob/v1.1.0/specification/common/common.md#attributes

make sure that no `null` values are accepted
(e.g. in languages that do not have appropriate compile-time type checking),
`null` values within arrays MUST be preserved as-is (i.e., passed on to span
processors / exporters as `null`).

While Python cannot actually pre

[2021-04-03 08:55] lonewolf3739 commented on #1563
Hmm
[code]
installation in different order doesn't show conflict error?

[code]

I would have expected it to behave same in both cases.

[2021-04-03 14:18] ashok-an opened #1742 "Unable to set span.set_status() directly from a span context"
**Describe your environment**
Python 3.9 on mac; opentelemetry 1.0.0; jaeger tracer

**Steps to reproduce**
Trying to set status code of a span to `StatusCode.ERROR`
`span.set_status(tracer.status.StatusCode.ERROR)` fails due Status object not having `status_code` set

**What is the expected behavior?**
The default value should have worked for `Status.status_code`

**What is the actual behavior?**

[2021-04-03 14:51] ashok-an opened #1743 "Jaeger: unable to set service name directly"
**Describe your environment**
Cant set service name during exporter initialization

**Steps to reproduce**
Something on the lines of: https://github.com/jaegertracing/jaeger-client-python

**What is the expected behavior?**
Should be possible to set service name

**What is the actual behavior?**
No service_name attribute in `JaegerExporter()`; service name comes-up as `unknown_service`

**Addition

[2021-04-03 17:15] lonewolf3739 commented on #1743
The work around that you shared is the recommended way to do it through env vars. If you are looking for an alternative way set service name in your code you need pass `Resource` instance to `TracerProvider`.
[code]

[2021-04-03 17:19] lonewolf3739 commented on #1742
Span `set_status` definition expects instance of `Status`. The work around you highlighted is the expected way to do it.

[2021-04-03 23:53] owais commented on #1159
@aabmass If I remember correctly, this happens because when we run the service with manage.py, django imports the urls, views, models etc to inspect internally before running the extra code we add.

Sorry for being a little late with the reply :D

[2021-04-05 14:19] thiagojsb opened #1745 "AttributeError: module 'opentelemetry.propagators' has no attribute 'inject'"
S.O.: Ubuntu 20.04.2 LTS
Python version: 3.8.5
Dependencies installed (lasted versions):
  - opentelemetry-sdk
  - opentelemetry-instrumentation
  - opentelemetry-instrumentation-flask
  - requests

**Steps to reproduce**
https://opentelemetry-python.readthedocs.io/en/stable/examples/auto-instrumentation/README.html

**What is the expected behavior?**
  When we run client.py, server_instrumented s

[2021-04-05 15:46] lonewolf3739 commented on #1745
I think the documentation is not up to date. The `inject` has been moved to `opentelemetry.propagate` https://github.com/open-telemetry/opentelemetry-python/blob/main/opentelemetry-api/src/opentelemetry/propagate/__init__.py#L105. Please follow the examples here https://github.com/open-telemetry/opentelemetry-python/blob/main/docs/examples/auto-instrumentation/server_instrumented.py

[2021-04-05 16:02] lzchen commented on #1563
Isn't the reason because we pinned the `tornado` version to `>=6.0`? What is the issue here?

[2021-04-05 16:02] lonewolf3739 commented on #1330
@hyamy this example here should help you https://github.com/open-telemetry/opentelemetry-python/tree/main/docs/examples/fork-process-model/flask-uwsgi

[2021-04-05 17:18] lzchen commented on #1745
Stable version of docs was just kicked off and passing. Changes should be reflected now.

[2021-04-05 17:22] #1618 closed

[2021-04-05 19:19] edeNFed opened #1747 "Exporting traces to insecure gRPC endpoint with auto instrumentation"
Hello,
I am trying to export traces via OTLP exporter to an insecure gRPC endpoint.
Unfortunately, this export fails due to:
`E0405 18:57:14.693304400      13 ssl_transport_security.cc:1395] Handshake failed with fatal error SSL_ERROR_SSL: error:100000f7:SSL routines:OPENSSL_internal:WRONG_VERSION_NUMBER.`
If I understand correctly, it looks like the exporter tries to use a secure gRPC connection

[2021-04-07 00:00] wangzlei opened #1752 "Support resource detector in auto instrumentation by environment variable config or whatever"
Before opening a feature request against this repo, consider whether the feature should/could be implemented in the [other OpenTelemetry client libraries](https://github.com/open-telemetry/). If so, please [open an issue on opentelemetry-specification](https://github.com/open-telemetry/opentelemetry-specification/issues/new) first.

**Is your feature request related to a problem?**
Python sdk supp

[2021-04-07 00:04] ocelotl commented on #1745
Should this issue be closed, then?

[2021-04-07 02:59] owais commented on #1752
Is this for end users or distributors? Could it be solved by implementing a custom configurator that knows which resource detectors to use.  `opentelemetry-distro` implements a configurator here for example: https://github.com/open-telemetry/opentelemetry-python/blob/v1.0.0/opentelemetry-distro/src/opentelemetry/distro/__init__.py#L147

[2021-04-07 03:28] patatepartie opened #1755 "Cannot set an attribute with array value"
Setting array attributes is failing with the current version (1.0.0) of Otel and the OTLP exporter.
I think this should work, but let me know if I missed something and am misusing the libraries.

If this is indeed a bug, is there a workaround while waiting for a fix?

**Describe your environment**
Using python 3.7.6 in docker (python:3.7.6-slim-buster).
Dependency versions:
[code]

I'm sending tra

[2021-04-07 05:16] lzchen commented on #1745
@thiagojsb
Can you refer to the new docs? Please let us know if your issue is resolved.

[2021-04-07 06:12] wangzlei commented on #1752
Can we follow this pattern https://github.com/open-telemetry/opentelemetry-python/blob/main/opentelemetry-instrumentation/src/opentelemetry/instrumentation/auto_instrumentation/sitecustomize.py#L42 ?

From end users' perspective, auto-instrumentation loads all of resource detectors installed in current environment, unless explicitly excluded by env variable `OTEL_PYTHON_DISABLED_RESOURCEDETECTORS`

[2021-04-07 06:29] owais commented on #1752
Yes, that sounds reasonable if you want this for end users.

[2021-04-07 06:37] owais commented on #1752
It is more complicated that that though as the result of resource detectors (resources) must be passed on to the tracer provider constructor. So we'd have to load resource detectors using entry points and pass them to whatever configurator is found. Essentially the `configure()` method would receive a list of resource detectors found by auto instrumentor.

https://github.com/open-telemetry/opentel

[2021-04-07 15:05] #1159 closed

[2021-04-07 15:52] lzchen commented on #1742
@ashok-an
Has your issue been addressed?

[2021-04-07 16:57] lzchen commented on #1737
@Oberon00
I understand that this is for spec compliancy, but is there much point in creating a `CreateKey` method if we are using strings as keys? If there is a strong argument for using objects over strings that would make more sense.

[2021-04-07 18:31] #1730 closed

[2021-04-08 04:08] ashok-an commented on #1742
Yes; closing the issue

[2021-04-08 04:08] #1742 closed

[2021-04-08 05:03] LouisStAmour commented on #1755
I hit this bug a few weeks ago but haven't had a chance to submit a fix yet. It's because the photo uses "ArrayValue" but the code in _translate_key_values doesn't actually create an ArrayValue. Presumably the same happens for KeyValueList in the Mapping check the line below. https://github.com/open-telemetry/opentelemetry-python/blob/main/exporter/opentelemetry-exporter-otlp-proto-grpc/src/opente

[2021-04-08 08:18] Oberon00 commented on #1737
The argument given in the spec is

This argument is less important for Python where you cannot easily load the same Context-using library multiple times (which can happen for example in Java with the classloader mechanism).

Another argument would be that object identity comparison might be faster than string comparison.

[2021-04-08 15:15] lonewolf3739 commented on #1022
@aabmass Where do you think these generated files should go? I can think of two options 1)Part of api(span attribute semantic conventions)/sdk(resource semconv) 2)Separate package in contrib repo(this seems good choice to me).

[2021-04-08 15:36] lzchen commented on #1743
@ashok-an
Can this issue be closed?

[2021-04-08 15:38] lzchen commented on #1714
@ankh6
Are you still interested in this?

[2021-04-08 15:39] lzchen commented on #1691
@aabmass
Can this be closed?

[2021-04-08 16:14] ocelotl opened #1756 "Fix the testing environment dependencies"
To avoid surprising breakages in CI when a testing dependency introduces a bug, use the output of `pip freeze` for our testing requirements.

This means that we should update them one by one as they are updated to make sure we are testing with the latest dependencies possible. This is of course an annoyance and something to automate.

@aabmass suggests using [Poetry](https://python-poetry.org/). I

[2021-04-08 20:24] ankh6 commented on #1714
Hey @lzchen Sorry for replying late. I found other issues to work on

[2021-04-09 05:42] owais commented on #1109
I somehow missed your comment @lzchen. Yes, I think we should document "how to export to multiple destinations" and it should cover using different exporters or multiple instances of same exporter.

[2021-04-09 05:43] owais commented on #1137
This has been implemented in a slightly different way with Distros.

[2021-04-09 05:43] #1137 closed

[2021-04-09 05:43] #1240 closed

[2021-04-09 05:43] owais commented on #1240
Fixed in #1461

[2021-04-09 05:44] #1305 closed

[2021-04-09 05:44] owais commented on #1305
The packages in question have been deleted.

[2021-04-09 05:45] #1442 closed

[2021-04-09 05:47] owais commented on #1562
Was fixed in https://github.com/open-telemetry/opentelemetry-python-contrib/pull/345

[2021-04-09 05:47] #1562 closed

[2021-04-09 05:55] LukaszSwolkien opened #1757 "ERROR: No matching distribution found for opentelemetry-ext-flask"
**Describe your environment**
Python 3.9.4

**Steps to reproduce**
python3 -m venv venv
. ./venv/bin/activate
pip install opentelemetry-api
pip install opentelemetry-sdk
pip install opentelemetry-ext-flask
ERROR: Could not find a version that satisfies the requirement opentelemetry-ext-flask
ERROR: No matching distribution found for opentelemetry-ext-flask

**What is the expected behavior?**
It sh

[2021-04-09 07:10] dgzlopes commented on #1562
Thanks, @owais! I'll try it today :)

[2021-04-09 11:27] hawkaa commented on #979
Looks like they are added now, @aabmass ? :)

[2021-04-09 14:43] #757 closed

[2021-04-09 15:18] codeboten commented on #1757
@LukaszSwolkien the pacakge was renamed `opentelemetry-instrumentation-flask` some time ago and lives in the contrib repo now: https://github.com/open-telemetry/opentelemetry-python-contrib/tree/main/instrumentation/opentelemetry-instrumentation-flask

[2021-04-11 02:38] robwknox commented on #1106
@codeboten apologies for not dropping a note earlier but I don't have time to continue working on this due to a personal issue that has come up. Please remove me as assignee.

[2021-04-11 13:53] lonewolf3739 commented on #1200
This is still needed and it should also log a message reporting that the specified value is invalid. New API spec https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/new_api.md#get-a-meter

[2021-04-11 13:58] lonewolf3739 opened #1760 "Meter Instrument names MUST conform to the spec described ABNF syntax"
[code]
https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/new_api.md#instrument

[2021-04-11 14:14] lonewolf3739 opened #1761 "Counter operation `Add` attributes should be optional."
https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/new_api.md#add

[2021-04-12 01:31] Tecktron commented on #1166
Bump, this is still an issue.

[2021-04-12 14:05] lonewolf3739 opened #1763 "Discrepancy between spec and sdk implementation of `should_sample`"
Continuing from here https://cloud-native.slack.com/archives/C01PD4HUVBL/p1618175323112400.
Link to [specification](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/sdk.md#shouldsample) vs SDK

https://github.com/open-telemetry/opentelemetry-python/blob/489a81e5d33690ec10f2d7606c7137168f85c17a/opentelemetry-sdk/src/opentelemetry/sdk/trace/sampling.py#L165

[2021-04-12 15:55] lzchen commented on #1763
I don't think we can remove `trace_state`, as this will be a breaking change. `span_kind` should be added though.

[2021-04-12 17:25] codeboten commented on #1106
@robwknox no worries, things happen. Appreciate you getting back to us.

[2021-04-12 22:06] joncwong commented on #1745
Received same error running opentelemetry-instrumentation-flask 0.19b0.

[2021-04-13 07:37] wangzlei commented on #1747
Have the same problem today when I bump dependency to 1.0.0. From this [change](https://github.com/open-telemetry/opentelemetry-python/pull/1682), the insecure is None in auto-instrumentation, there is no way to configure it to True. That blocks my version upgrade.

[2021-04-13 09:09] mariojonke opened #1765 "Propagators must not return an invalid span if nothing could be extracted from the carrier"
Currently most propagators set an `INVALID_SPAN` into the context on `extract` in case a value cannot be parsed from the carrier (see [tracecontext](https://github.com/open-telemetry/opentelemetry-python/blob/v1.0.0/opentelemetry-api/src/opentelemetry/trace/propagation/tracecontext.py#L49), [b3](https://github.com/open-telemetry/opentelemetry-python/blob/main/propagator/opentelemetry-propagator-b3

[2021-04-13 09:37] marcinzaremba commented on #1765
These issues/PR might be of your interest:
- https://github.com/open-telemetry/opentelemetry-python/pull/1728
- https://github.com/open-telemetry/opentelemetry-python/pull/1732
The discussion was already started, however I also believe problem is not fully solved yet.

[2021-04-13 13:45] mariojonke commented on #1765
Looks like the outcome of the discussion in #1732 was to return a context with an `INVALID_SPAN` in case the passed in context is `None` and the propagator could not extract a value.
I think this behavior is incorrect. All the APIs which accept a context (`set_value`, `get_value`, `inject`, `extract`, ...) treat `None` implcitly as the current context. See also the [doc string](https://github.com/

[2021-04-13 15:33] codeboten commented on #1747
According to the spec, the endpoint should be a full URL and the scheme should be used to determine if the connection should be secure or not:

The fix here should be to add a check after the `endpoint` is set here:
https://github.com/open-telemetry/opentelemetry-python/blob/6f8c077fa5349d445358b879fc83c139a0c22cff/exporter/opentelemetry-exporter-otlp-proto-grpc/src/opentelemetry/exporter/otlp/pro

[2021-04-13 15:44] codeboten commented on #1747
@edeNFed if you have time to get a PR together for this, it would be great to have this fixed in the next release

[2021-04-13 18:15] codeboten commented on #436
This is currently blocked on fantix/aiocontextvars#66, there's no actionable solution short of forking the aiocontextvars into this repo which doesn't seem appropriate.

[2021-04-13 18:15] #436 closed

[2021-04-13 18:25] codeboten opened #1767 "Ensure benchmark tests cover all common operations defined in spec"
Followup to discussion in #335, this issue is to ensure all the operations defined in the performance benchmarking specification are covered by our existing benchmarks:

https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/performance-benchmark.md

[2021-04-13 18:26] codeboten commented on #335
Closing in favour of https://github.com/open-telemetry/opentelemetry-python/issues/1767

[2021-04-13 18:26] #335 closed

[2021-04-13 18:28] codeboten commented on #219
Closing for now due to inactivity.

[2021-04-13 18:28] #219 closed

[2021-04-13 18:29] codeboten commented on #916
Closing as the metrics API/SDK are still being decided.

[2021-04-13 18:29] #916 closed

[2021-04-13 18:31] codeboten commented on #874
This seems like a good feature to have and should be part of the specification to ensure all implementations follow the same pattern.

[2021-04-13 18:35] codeboten commented on #910
We should be able to add a target to the CI pretty quickly to add testing for windows, it would be great if anyone wants to pick this up.

[2021-04-13 18:44] codeboten commented on #895
Closing in favour of https://github.com/open-telemetry/opentelemetry-python-contrib/issues/439

[2021-04-13 18:44] #895 closed

[2021-04-13 18:46] #860 closed

[2021-04-13 18:50] codeboten commented on #855
This was addressed with https://github.com/open-telemetry/opentelemetry-python-contrib/commit/8afbd83e8c715f6634ec7f15d1976a0ee79ff4b6

[2021-04-13 18:50] #855 closed

[2021-04-13 19:01] codeboten commented on #782
This will likely come out of the convenience api work happening in the spec.

[2021-04-13 19:28] plajjan commented on #1559
No staley stale. It's still a problem and I think it should be solved!

[2021-04-13 19:39] plajjan commented on #1459
Nope, still relevant. Don't close it bot!

[2021-04-13 19:50] lonewolf3739 commented on #1670
I brought this up in spec sig meeting sometime back and they agreed this is too long but wouldn't recommend any value as it requires some work to do.

[2021-04-13 22:24] #453 closed

[2021-04-15 05:47] harshita19244 commented on #1714
Is the change required for Opencensus completely along the same lines as Jaeger? If so, I would like to work on it

[2021-04-15 10:02] owais opened #1774 "Add `Span.set_kind(SpanKind)` or `Span.update_kind(SpanKind)` methods to API"
This can be useful if a child span needs to influence parent span's kind. For example, if multiple client libraries that wrap each other are all instrumented. For example: https://github.com/open-telemetry/opentelemetry-python-contrib/issues/456

[2021-04-15 15:00] #1763 closed

[2021-04-15 15:08] codeboten commented on #771
Configuration is no longer part of the api, when we tackle configuration in the future we can re-open if this still applies

[2021-04-15 15:08] #771 closed

[2021-04-15 15:15] aabmass opened #1775 "Rename CompositeHTTPPropagator"
[`CompositeHTTPPropagator`](https://github.com/open-telemetry/opentelemetry-python/blob/b73d8009904fc1693b2ba3a1e0656af376f859cf/opentelemetry-api/src/opentelemetry/propagators/composite.py#L23) has nothing to do with HTTP so this name is confusing. It should be renamed to probably just `CompositePropagator`, but we need to keep an alias of the old name for backward compatibility.

[Relevant secti

[2021-04-15 15:18] codeboten commented on #732
Currently this would only be helpful in a limited number of use cases for attach/detach in the SDK. The instrumentations use attach/detach in different methods, which wouldn't work with a contextmanager. Closing for now.

[2021-04-15 15:18] #732 closed

[2021-04-15 15:20] codeboten commented on #726
Hey @r4mbo7, you want to use the tracer as in case A.

[2021-04-15 15:20] #726 closed

[2021-04-15 15:28] codeboten commented on #704
The metrics SDK is still experimental and will likely be updated very shortly again. Closing this issue as it's unclear if the bug will still exist when that work is done.

[2021-04-15 15:28] #704 closed

[2021-04-15 15:49] codeboten commented on #642
This was fixed in the requests instrumentation library.

[2021-04-15 15:49] #642 closed

[2021-04-15 15:52] #581 closed

[2021-04-15 15:54] codeboten commented on #555
The `opentelemetry.configuration.Configuration` no longer exists.

[2021-04-15 15:54] #555 closed

[2021-04-15 16:25] mariojonke commented on #1774
There might be exporters which already export a span on start so updating the span kind can be problematic in this case.

[2021-04-15 16:25] codeboten commented on #1774
This should be reflected in the spec if we decide to move ahead with it.

[2021-04-15 17:36] lzchen commented on #1757
@LukaszSwolkien
Is your issue resolved?

[2021-04-15 19:09] aabmass commented on #979
Looks like Owais took care of the `py.typed` files in https://github.com/open-telemetry/opentelemetry-python/pull/1720

But we do not have the `Typing :: Typed` classifiers still. Do you think we should still add that @hawkaa ?

[2021-04-15 21:31] lzchen commented on #1745
@joncwong
Can you paste the code snippet that you are referring to?

[2021-04-15 21:34] lzchen commented on #1775
UGH HOW DID WE MISS THIS?

[2021-04-15 21:53] adamantike commented on #1444
Commenting here, I don't think this should be automatically closed.

[2021-04-16 02:48] joncwong commented on #1745
@lzchen Issue ended up being due to incompatible library versions. I was using opentelemetry-instrumentation-flask v0.19b0 with opentelemetry-instrumentation v0.18b0

[2021-04-16 15:19] lzchen commented on #1670
@lonewolf3739
So is the recommendation to leave it as it is?

[2021-04-16 15:20] lzchen commented on #1714
@harshita19244
Yes should be exactly the same.

[2021-04-16 15:31] lzchen commented on #1745
@thiagojsb
@joncwong
Great. Closing this issue.

[2021-04-16 15:31] #1745 closed

[2021-04-16 16:50] lonewolf3739 commented on #1670
Until the spec is updated it is upto each language SIG to make decision on what to do.

[2021-04-16 17:44] #1166 closed

[2021-04-16 17:47] lzchen commented on #1670
@lonewolf3739
So for now can we jus reduce it to 62s or something?

[2021-04-16 19:38] #1747 closed

[2021-04-16 19:41] lonewolf3739 commented on #1670
Yes, I think that is very reasonable value.

[2021-04-19 16:25] hawkaa commented on #979
yes! I'm not sure if there is any practical difference, but I don't see why we shouldn't. Do you want me to try to open a PR to do it?

[2021-04-19 18:16] codeboten commented on #926
https://github.com/open-telemetry/opentelemetry-specification/issues/1089

[2021-04-19 18:25] #971 closed

[2021-04-19 18:26] codeboten commented on #985
@ocelotl is this still an issue? if so could you add more details.

[2021-04-19 18:30] codeboten commented on #1030
@ocelotl is this still an issue?

[2021-04-19 18:35] lzchen commented on #1076
Closing due to inactivity.

[2021-04-19 18:35] #1076 closed

[2021-04-19 18:41] codeboten commented on #1174
@robwknox just wanted to check if you were interested in getting that PR opened, even if someone else has to take it over the finish line.

[2021-04-19 18:44] lzchen commented on #1180
Following [this](https://github.com/open-telemetry/opentelemetry-python/issues/1685) issue, we need the resource to be on the individual spans to populate `service_name` instead of getting them from the global tracer_provider. Closing this.

[2021-04-19 18:44] #1180 closed

[2021-04-19 18:46] codeboten commented on #1302
This was done

[2021-04-19 18:46] #1302 closed

[2021-04-19 18:48] lzchen commented on #1307
Closing due to major reworking in the metrics api/sdk

[2021-04-19 18:48] #1307 closed

[2021-04-19 18:51] lzchen commented on #1328
Should be fixed. https://github.com/open-telemetry/opentelemetry-python/blob/metrics/opentelemetry-sdk/src/opentelemetry/sdk/metrics/__init__.py#L242

[2021-04-19 18:51] #1328 closed

[2021-04-19 18:52] lzchen commented on #1330
Closed due to inactivity.

[2021-04-19 18:52] #1330 closed

[2021-04-19 18:58] #1340 closed

[2021-04-19 18:58] #1349 closed

[2021-04-19 18:58] #1350 closed

[2021-04-19 18:58] #1351 closed

[2021-04-19 19:01] lzchen commented on #1370
Closing, we only run CI on pull requests now (except pushes to main).

[2021-04-19 19:01] #1370 closed

[2021-04-19 20:15] ocelotl commented on #1030
It is fixed now in gRCP, closing.

[2021-04-19 20:15] #1030 closed

[2021-04-19 21:25] codeboten opened #1779 "Exporters must implement ForceFlush"
To comply with the spec, exporters must implement a ForceFlush method https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/sdk.md#forceflush-2

[2021-04-19 22:00] codeboten commented on #1029
The matrix has been updated and the task to continue updating is an ongoing effort.

[2021-04-19 22:00] #1029 closed

[2021-04-19 22:08] ocelotl commented on #985
It seems like this issue is still relevant, [this](https://github.com/ocelotl/opentelemetry-python/commit/4bc5dfe8e83f9949a8d73ee6c7c0319ccc1bab07#diff-db3cf31a56b2c50622fb607e8433d4f470aa2158419cf76516d3733124e37d45R655-R660) seems to be necessary to pass the baggage down to child spans.

[2021-04-20 06:36] #1022 closed

[2021-04-20 12:19] vglushkov8 opened #1780 "Unexpected AssertionError while exporting Span"
Please help me with this issue, is this a bug or I do something wrong?

I have a multiprocessing application with installed **dependencies**:
[code]

When application is running in Docker, strange exception often appears in child process:

[code]
Can it be because of multiprocessing module or because of wrong tracing initialization and how to solve it?

[2021-04-20 15:38] lonewolf3739 commented on #1780
This doesn't look like a wrong tracing initialization. Can you share more information? This stacktrace is not really helpful in troubleshooting/understanding the issue.

[2021-04-20 15:40] lonewolf3739 commented on #1431
This was done in https://github.com/open-telemetry/opentelemetry-python-contrib/pull/223.

[2021-04-20 15:40] #1431 closed

[2021-04-20 15:50] codeboten opened #1781 "Add support for OTEL_EXPORTER_JAEGER_TIMEOUT"
As per spec change https://github.com/open-telemetry/opentelemetry-specification/pull/1612

[2021-04-20 16:00] sashko-do commented on #1745
file with client is not updated. it still has "propagators"

[2021-04-20 18:30] rakshith91 opened #1784 "[blocking] description should only be set when status_code is set to StatusCode.ERROR"
**Describe your environment**
Python 3.7

**Steps to reproduce**
[code]

**What is the actual behavior?**
Getting an error which is breaking our builds.
[code]
**What is the expected behavior?**
no such warning should occur and would expect to just see the traces.

**Additional context**
Is it possible to hotfix this?

[2021-04-20 18:36] lzchen commented on #1784
Already resolved with; https://github.com/open-telemetry/opentelemetry-python/pull/1721

[2021-04-20 18:36] #1784 closed

[2021-04-20 19:02] ankitnayan opened #1785 "Auto Instrumentation not working"
Trying to auto-instrument using [this link](https://github.com/open-telemetry/opentelemetry-python/tree/main/opentelemetry-instrumentation)

- `pip install opentelemetry-instrumentation`
- `opentelemetry-bootstrap --action=install`

Run command - `OTEL_LOG_LEVEL=debug OTEL_PYTHON_SERVICE_NAME=pythonApp OTEL_EXPORTER_OTLP_ENDPOINT="http://localhost:4317"  opentelemetry-instrument python3 app.py`

T

[2021-04-20 19:19] lonewolf3739 commented on #1785
https://github.com/open-telemetry/opentelemetry-python/issues/1606. Can you try installing distro and run again?

[2021-04-20 19:59] DrMcTaco commented on #946
It's safe to close this issue.

[2021-04-20 19:59] #946 closed

[2021-04-21 02:21] nilansaha commented on #1785
I am having some similar problems I think. I will make a separate issue but here is what is going on
- Collector does not receive spans
- When auto instrumentation is turned out it does not let the program exist
Is there any way to see extremely detailed logs ?

[2021-04-21 02:22] nilansaha opened #1787 "Does not send spans to collector - How to see logs ?"
Auto Instrumentation does not send spans to collector and after some time it just outputs
[code]

Any way I could see detailed logging of what is going wrong ?

[2021-04-21 06:11] ankitnayan commented on #1785
@lonewolf3739 I am able to receive spans now. It also seems `OTEL_PYTHON_SERVICE_NAME` env variable has been removed. I am now getting service name as `unknown_service`. How do I define service name now?

[2021-04-21 08:21] lonewolf3739 commented on #1785
@ankitnayan

You can set service name either with environment variable `OTEL_RESOURCE_ATTRIBUTES` or by passing `Resource` instance to tracer provider.

With env vars it would be `OTEL_RESOURCE_ATTRIBUTES="service.name=api-service"` and below is the small snippet passing resource to tracer provider.
[code]
I would encourage you to pin your dependencies to avoid the surprises as instrumentation is

[2021-04-21 08:24] lonewolf3739 commented on #1785
@nilansaha I believe your first issue is similar to @ankitnayan 's and should be solved by installing opentelemetry-distro. And speaking of your second issue you could be running into https://github.com/open-telemetry/opentelemetry-python/issues/1670. I am not aware of any way you could see extremely detailed logs.

[2021-04-21 09:58] ankitnayan commented on #1785
@lonewolf3739 I think this was fixed by the release yesterday. I tried earlier with distro before raising the issue but was not working. Today it worked. Anyhow this seems to be fixed so closing the issue.

[2021-04-21 09:58] #1785 closed

[2021-04-21 10:44] ankitnayan commented on #1606
Hey Folks, it is unclear from the docs to install distro, and many users must be missing this too.

[2021-04-21 13:10] vglushkov8 commented on #1780
Sure. My tracing initialization in parent process:

**main.py**
[code]

**config.py**
[code]
Mentioned exception  appears in child process, which only makes api calls and saves data to db. If it`s still not enough, please tell me, I will write more code here.

[2021-04-21 14:55] lzchen commented on #1745
@sashko-do
You are referring to the [usage](https://github.com/open-telemetry/opentelemetry-python/blob/main/opentelemetry-api/src/opentelemetry/propagate/__init__.py#L37) section right?

[2021-04-21 16:44] lonewolf3739 commented on #1787
I don't think there is a detailed logging in-place to help here. My first guess is that there might be some synchronization issue. Can you share more information about what you are doing and possibly some example application which has the problem?

[2021-04-21 17:41] nilansaha commented on #1787
@lonewolf3739 Ok it is sending traces now. Not sure what fixed it but its not passing the service name correctly/
This is how I run it from the console
[code]

This is my code
[code]

The span just says unknown service
[code]

[2021-04-22 02:32] thaodt opened #1790 "Auto-instrumentation not working with FastAPI"
**Describe your environment**
Hi guys, I've added this feature into my FastAPI project.
Python version: python:3.8-slim-buster
Required packages:
[code]
Code is added:
![image](https://user-images.githubusercontent.com/5485589/115645442-92c19680-a34a-11eb-8cb1-6ec68b3e5725.png)

[code]

My api routers was added after add_event_handler in code snippet above.

**What is the expected behavior?**
I sh

[2021-04-22 13:39] lonewolf3739 commented on #1787
I believe --service-name is no supported, You need to set `OTEL_RESOURCE_ATTRIBUTES=service.name=my-helloworld-service`. I think there is already a tracer provider set by auto instrumentation and you don't need to set explicitly in your code.

[2021-04-22 14:14] lonewolf3739 commented on #1670
Assigning self to address this and related issues.

[2021-04-22 17:07] lonewolf3739 commented on #1779
@codeboten what does this forceflush mean in the exporter context. What should be done here?

[2021-04-22 17:11] lonewolf3739 opened #1791 "Make Exporters Shutdown spec-compliant"
From https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/sdk.md#shutdown-2

[2021-04-22 17:46] ocelotl opened #1792 "Documentation references old propagators module"
`propagators.inject` is being used [here](https://github.com/open-telemetry/opentelemetry-python/blob/main/docs/examples/auto-instrumentation/client.py#L40), `propagators.extract` is being used [here](https://github.com/open-telemetry/opentelemetry-python/blame/main/docs/examples/auto-instrumentation/README.rst#L40). They should use `propagate` instead.

[2021-04-22 22:17] ocelotl opened #1794 "Use --noreload for Django example with autoinstrumentation"
The current Django example does not include auto instrumentation. This can be documented but the `--noreload` Django flag needs to be added to avoid double running of `main` by Django, thus ruining auto instrumentation.

[2021-04-22 23:52] nilansaha opened #1796 "FastApi Opentelemetry throwing concurrent.futures._base.CancelledError"
For Kubernetes I have implemented healthchecks in FastAPI like this

[code]

However, opentelemetry always gives errors in these spans. Not sure why. This is the error I get in Datadog Tracing
[code]

And this happens for all the endpoints. Not sure whats up. Any help is appreciated.

[2021-04-23 04:55] sashko-do commented on #1745
I meant https://github.com/open-telemetry/opentelemetry-python/blob/0fb4fd1d7c63d72c9be56d884f428938b522232f/docs/examples/auto-instrumentation/client.py#L19 this one, in the example, but I see it in your link too.

[2021-04-23 07:31] thaodt commented on #1796
hi @nilansaha did u use auto-intrumentation with FastAPI? Did it work? If yes, could you please share your packages version?

[2021-04-23 15:01] #1792 closed

[2021-04-23 15:49] nilansaha commented on #1796
This is my requirements.txt. Let me know if you can't get it to work. Happy to help. Its so interesting that something like opentelemetry don't update their docs properly and half the things that seem to work does not work. It was painful to make it work

[code]

[2021-04-23 20:48] #1363 closed

[2021-04-24 10:15] thaodt commented on #1796
Hi @nilansaha I checked with the same required packages (opentelemetry), but it didnt show up my service and my apis in Jaeger dropdown-list.

Maybe you can check my code [here](https://gist.github.com/thaodt/e1d39f08057e64106d4a7133f3516471).
For vars in settings file, Jaeger is also made from docker container. Their values are:
[code]
And this is the result:
![Screenshot_20210424_165348](https:/

[2021-04-24 18:20] #1787 closed

[2021-04-24 18:20] nilansaha commented on #1796
@thaodt Please share your dockerfile as well

[2021-04-24 19:23] thaodt commented on #1796
[here](https://gist.github.com/thaodt/44e07d0257e1e7a186bf296036b16aa1) it is. Please review it. If possible, could you share ur project?

[2021-04-25 22:11] lonewolf3739 commented on #1780
How are you creating multiple processes? Can you share some slimmed down program with which we can reproduce this error?

[2021-04-25 22:18] lonewolf3739 commented on #1790
@thaodt Just to clarify traces from your instrumented application are not showing up Jaeger UI?

[2021-04-26 02:51] thaodt commented on #1790
Yes. If its auto-instrumented.
If I uncomment 2 line in my screenshot above:
[code]
It will show my service name & operation dropdown-list include item "parent".

Did I miss any configurations?

[2021-04-26 08:55] mat-rumian opened #1800 "Flask applications not instrumented after updated from `0.17b0` to `1.1.0/0.20b0`"
**Environment**
Few simple `Flask` applications talking each other by `requests`.  - [application repository](https://github.com/SumoLogic/the-coffee-bar/tree/python-bump-1.1.0).
HTTP Server code - [link](https://github.com/SumoLogic/the-coffee-bar/blob/python-bump-1.1.0/applications/python-the-coffee-bar-apps/src/common/http_server.py)

**Steps to reproduce**
Build the application from [script](h

[2021-04-26 12:31] lonewolf3739 commented on #1790
That's strange, Are you expecting the trace generation for `add_event_handler`? I don't think the instrumentation does anything there. Do you not see the spans in Jaeger when you hit some api endpoint? How are you running the application?

[2021-04-26 16:22] lzchen commented on #1800
@mat-rumian
From the title of the issue, it sounds like after you updated the version, your applications are not instrumented anymore? Has this been working properly before?

[2021-04-26 16:35] #1532 closed

[2021-04-26 18:21] dustyhorizon opened #1801 "OTLP gRPC exporter silently fails if scheme is not specified in endpoint"
Issue arising from implementing https://github.com/open-telemetry/opentelemetry-python/pull/1771

**Steps to reproduce**
Supplying an remote collector hostname without scheme causes the OTLP exporter to silently not export spans.

https://github.com/open-telemetry/opentelemetry-python/blob/b3455cd1164f9c5f336cc26a52fb351cb422b0b2/exporter/opentelemetry-exporter-otlp-proto-grpc/src/opentelemetry/ex

[2021-04-26 21:58] mat-rumian commented on #1800
@lzchen yes, all python apps instrumented by OT Python `0.17b0` were working correctly - producing spans and exporting them. Right now (1.1.0/0.20b0) only simple `requests` based app is producing and exporting spans. All others `flask + requests + psycopg2` are not working.

[2021-04-27 00:25] lzchen commented on #1800
@mat-rumian
Going through your entire repo is quite a large effort. Could you maybe isolate one instance of where you expect a span but are not actually getting one? Perhaps just one of the applications you listed above. It would also help to get a summary of how these applications talk to each other, and what you are doing to execute the logic flow (which endpoint are you hitting in which applica

[2021-04-27 05:10] thaodt commented on #1790
Hi @lonewolf3739 No, i didnt expect the trace generation for `add_event_handler`. It wasnt related.
And yes, when i hit some api endpoint, nothing happened on Jaeger.
But when I uncomment 2 lines for manually tracing:
[code]
![image](https://user-images.githubusercontent.com/5485589/116188078-f1bf4b00-a750-11eb-97f8-e5c95bd50b9f.png)

I also implemented 1 root api for checking but nothing happened

[2021-04-27 05:20] thaodt commented on #1790
Attached here after I upgraded opentelemetry requirement packages:
[code]
[Application Creation](https://gist.github.com/thaodt/e1d39f08057e64106d4a7133f3516471) & [docker compose file](https://gist.github.com/thaodt/44e07d0257e1e7a186bf296036b16aa1).

[2021-04-27 09:32] mariojonke commented on #1765
I can see the problem of the propagator continuing the current active trace if there is a deserialization problem and returning the current context will exactly lead to this behavior.
The acutal problem i guess lies with the optionality of the context argument. For most of the context API an absent context refers to the current context. I agree that this does not make much sense for the case of `e

[2021-04-27 14:39] lonewolf3739 commented on #1790
@thaodt What does your `gunicorn_conf.py` contain? Did you read this guide about working with Gunicorn https://opentelemetry-python.readthedocs.io/en/latest/examples/fork-process-model/README.html?

[2021-04-27 15:40] lzchen commented on #1765
@mariojonke
Could you bring this up in the SIG meeting on Thursday?

[2021-04-27 17:01] codeboten commented on #1801
Thanks for raising this issue. i did not expect url parse to set `localhost` in the scheme 😞

[2021-04-27 20:57] codeboten commented on #1593
@lonewolf3739 is this issue closed w/ #1609?

[2021-04-28 01:02] lonewolf3739 commented on #1593
No, #1609 is general guide. I think Diego wanted to specifically document auto instrumentation example for Django.

[2021-04-28 01:40] lonewolf3739 commented on #1779
bumping @codeboten  ^

[2021-04-28 04:14] thaodt commented on #1790
gunicorn_conf.py is about configuration variables - its cloned from [here](https://github.com/tiangolo/uvicorn-gunicorn-docker/blob/master/docker-images/gunicorn_conf.py)

About this [guide](https://opentelemetry-python.readthedocs.io/en/latest/examples/fork-process-model/README.html), still didnt check. I will take a look. But basically, what is actually it affected to FastAPI auto-instrumentatio

[2021-04-28 08:38] mat-rumian commented on #1800
@lzchen
Looks like the issue is related to `debug=True` in Flask application - [slack thread](https://cloud-native.slack.com/archives/C01PD4HUVBL/p1619556890191200?thread_ts=1619554719.189400&cid=C01PD4HUVBL).
I've disabled debug and everything works fine.

[2021-04-28 09:42] thaodt commented on #1790
hi @lonewolf3739 the link's really helpful. Thank for your helps. Spans displayed on Jaeger.

[2021-04-28 09:42] #1790 closed

[2021-04-28 16:21] lzchen commented on #1800
@lzchen
I'm curious, did you have `debug=True` on before you updated to the latest version?

[2021-04-28 17:40] mat-rumian commented on #1800
Yes, I did. As mentioned on the [slack conversation](https://cloud-native.slack.com/archives/C01PD4HUVBL/p1619627009198000?thread_ts=1619554719.189400&cid=C01PD4HUVBL).

Version `0.17b0` + `debug=True` - was working fine
Version `1.1.0` + `debug=True` - not working, after change to `debug=False` instrumentation started to work.

[2021-04-28 23:02] #979 closed

[2021-04-30 11:05] vglushkov8 commented on #1780
Yes, shure, very simplified code:
[code]

[2021-04-30 17:04] #1794 closed

[2021-04-30 17:11] lzchen commented on #1800
Will be tracking the issue [here](https://github.com/open-telemetry/opentelemetry-python-contrib/issues/477)

[2021-04-30 17:11] #1800 closed

[2021-04-30 23:14] #1593 closed

[2021-05-03 16:03] lzchen commented on #1608
@dmolenda-sumo
Are you still working on this?

[2021-05-03 18:10] lzchen commented on #1439
This will be revisited when the new api is implented.

[2021-05-03 18:10] #1439 closed

[2021-05-03 18:16] lzchen commented on #1459
@plajjan
I believe one way of doing this is to implement `generate_trace_id` and `generate_span_id` to use a callback to be able to use a passed in `trace_id` and `span_id` during runtime. The downside of this is that you will have to modify this callback return value for every single span you want to create.

[2021-05-03 18:19] lzchen commented on #1466
This issue is resolved.

[2021-05-03 18:19] #1466 closed

[2021-05-03 18:33] codeboten commented on #1563
Moved to discussion: https://github.com/open-telemetry/opentelemetry-python/discussions/1729

[2021-05-03 18:33] #1563 closed

[2021-05-03 18:39] #1617 closed

[2021-05-03 18:42] codeboten commented on #1622
This was fixed by https://github.com/open-telemetry/opentelemetry-python/pull/1657

[2021-05-03 18:42] #1622 closed

[2021-05-03 18:45] #1691 closed

[2021-05-03 18:46] codeboten commented on #1708
@ocelotl are you still working on this one?

[2021-05-03 18:46] codeboten commented on #1710
@ocelotl can you bring this up at the SIG meeting?

[2021-05-03 18:51] codeboten commented on #1727
https://github.com/open-telemetry/opentelemetry-python/issues/1765

[2021-05-03 18:52] #1727 closed

[2021-05-03 18:59] #1757 closed

[2021-05-03 19:04] codeboten commented on #1779
This was added to the spec by https://github.com/open-telemetry/opentelemetry-specification/pull/1467

[2021-05-03 19:26] ocelotl commented on #1708
Let's see...

[2021-05-03 19:27] ocelotl commented on #1710
Sure, it has been done already, I'll try to complete this one before the next SIG

[2021-05-03 20:12] plajjan opened #1808 "Jaeger gRPC exporter lacking span parent structure"
**Describe your environment**
I'm running opentelemetry in a docker container on my local computer.
[code]

**Steps to reproduce**
I have an application that is using the OpenTelemetry library and is exporting data just fine to Jaeger via the Thrift interface. I would need to export data over IPv6 though and the Thrift over UDP is hard coded to IPv4 (see #1559), thus I'm trying to use gRPC. I have

[2021-05-03 20:49] aabmass commented on #1349
@codeboten I noticed this and a few other spec inconsistency type issue were closed by our automation, but they probably should be fixed. Do we want to be closing these ones?

[2021-05-04 08:10] dmolenda-sumo commented on #1608
Yes, I do. I've been a little busy recently, but I hope to finish this task soon

[2021-05-04 18:28] #1801 closed

[2021-05-04 20:36] codeboten opened #1814 "OTLP SpanExporter emits instrumentation attributes incorrectly"
**Describe your environment**
Testing an app that instruments an http request using requests.

[code]

**Steps to reproduce**
Using the following test application, the instrumentation library information is incorrectly only set to one of the instrumentation libraries, and not specified per library.

[code]

**What is the expected behavior?**
Span produced by different instrumentations have differe

[2021-05-05 02:41] ocelotl opened #1815 "Add tool to warn about public symbols being added"
Add a tool that warns the user about any public symbols that a git branch may add to `main`.

[2021-05-05 10:15] jaisonsteephen commented on #1785
Thanks @lonewolf3739 .

- your comment 'OTEL_RESOURCE_ATTRIBUTES="service.name=api-service"''  is working for me, to set service name.

-  I am also trying to auto-instrument logging. As part of that i put the code 'from opentelemetry.instrumentation.logging import (DEFAULT_LOGGING_FORMAT,LoggingInstrumentor,)'   in python file,

- also exported the variable 'OTEL_PYTHON_LOG_CORRELATION=true'.

-

[2021-05-05 12:55] jaisonsteephen opened #1817 "Auto Instrumenting logs not working"
- I used following imports in my python file
 from opentelemetry.instrumentation.logging import (DEFAULT_LOGGING_FORMAT,LoggingInstrumentor,)

- exported following variable
OTEL_PYTHON_LOG_CORRELATION=true

- But I am getting trace id as zero in console. (example: 2021-05-05 15:18:57,742 INFO [werkzeug] [_internal.py:113] [trace_id=0 span_id=0 resource.service.name=my-python-service])

-  Whereas

[2021-05-05 13:51] #1817 closed

[2021-05-05 13:54] jaisonsteephen commented on #1817
following the document https://opentelemetry-python-contrib.readthedocs.io/en/latest/instrumentation/logging/logging.html will resolve the issue.

[2021-05-06 15:41] owais opened #1821 "B3 propagator package does not confirm to spec."
According to the spec, `OTEL_PROPAGATORS` env var should support two types of B3 propagators, `b3` and `b3multi`.

`b3` is supposed to inject a single header with `-` separate values. https://github.com/openzipkin/b3-propagation#single-header
`b3multi` is supposed to inject one header per value. https://github.com/openzipkin/b3-propagation#multiple-headers

Currently, we have a single implement at

[2021-05-06 16:09] codeboten commented on #1710
As discussed in the May 5th SIG meeting, closing this issue as it would break too much backwards compatibility

[2021-05-06 16:09] #1710 closed

[2021-05-06 16:21] madchap opened #1822 "exclude list not working?"
**Describe your environment**
Trying to include some opentelemetry in django/uwsgi stack, currently with docker-compose. Using django instrumentation, works fine. I am discovering this whole thing, so I am probably missing something obvious.

I am using

[code]

I wanted to exclude some URL, and remaining simple: the string is `alerts`.

The json I get from opentelemetry is the following, which I 

[2021-05-07 15:48] #1606 closed

[2021-05-07 16:08] codeboten opened #1827 "Add script to auto generate website docs"
Currently the process to update the opentelemetry.io docs is manual, this should be automated to make releasing easier for maintainers.

[2021-05-07 20:35] lonewolf3739 commented on #1822
@madchap I believe it is `OTEL_PYTHON_DJANGO_EXCLUDED_URLS` not `OPENTELEMETRY_PYTHON_DJANGO_EXCLUDED_URLS`

[2021-05-08 05:36] madchap commented on #1822
@lonewolf3739 thank you, that was it. I must have read an outdated piece of documentation. Cheers.

[2021-05-08 05:36] #1822 closed

[2021-05-09 06:18] thedrow commented on #62
@codeboten Ping ☝️

[2021-05-10 05:32] madchap opened #1831 "service.instance.id not working"
**Describe your environment**
Django 3.1 and uWSGI.

In my requirements.txt
[code]

I use 2 exporters to tinker around: console and jaeger.

Per https://github.com/madchap/django-DefectDojo/blob/poc-telemetry/dojo/wsgi.py#L71, if `service.instance.id` is enabled, the console exporter will just not report anything anymore and the jaeger exporter simply ignores the field (at least it never showed up

[2021-05-10 15:23] codeboten opened #1832 "inconsistency printing to json from ConsoleSpanExporter"
Running the following code:
[code]

outputs the following span information, note the parent ID formatting is inconsistent:
[code]

[2021-05-10 15:33] lonewolf3739 commented on #1831
@madchap You need to make that `service.instance.id` to string. Resource attributes must follow this specification https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/common/common.md#attributes.

[2021-05-10 15:53] madchap commented on #1831
Huh :facepalm: Thanks.

[2021-05-10 15:53] #1831 closed

[2021-05-10 16:25] codeboten opened #1835 "Metrics API/SDK prototype"
A new metrics API is part of the [specification](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/api.md) and there is also an [otep](https://github.com/open-telemetry/oteps/pull/146) covering various scenarios that would be good to test with some actual code.

The components to be implemented in the prototype:
- [ ] instruments
- [ ] aggregators
- [ ]

[2021-05-10 18:25] codeboten commented on #62
Currently we're only supporting python 3.6+ so the concerns around breaking tests should be resolved. @thedrow re-opening, would love some help implementing this if you have some bandwidth.

[2021-05-10 18:54] thedrow commented on #62
I'll have the bandwidth for it once I'll start using this library.

[2021-05-10 20:58] aramakrishnan19 commented on #1670
Please let me know on when is this planned to be changed, ready to help with this change.

[2021-05-10 21:05] #1808 closed

[2021-05-10 23:07] owais opened #1838 "Allow span limits to be set lazily and programatically"
Today span limits are set automatically when importing the trace SDK module [here](https://github.com/open-telemetry/opentelemetry-python/blob/main/opentelemetry-sdk/src/opentelemetry/sdk/trace/__init__.py#L65-L69)

It's not possible to change these limits once set. As a result, the only way to set them today is through environment variables and the env vars must be set before the trace module is

[2021-05-11 15:04] #1827 closed

[2021-05-11 16:22] #1821 closed

[2021-05-12 14:07] mariojonke opened #1844 "Exceeding max number of attributes/links on span start raises exception"
When passing a list/dict of links/attributes that exceed the maximum configured limit to `start_span` a ValueError is raised instead of truncating the exceeding links/attributes.

**Steps to reproduce**
Add following tests to `opentelemetry-sdk/tests/trace/test_trace.py`
[code]

**What is the expected behavior?**
The SDK should not raise an exception but rather truncate the exceeding attributes/li

[2021-05-12 14:34] mariojonke opened #1845 "Attributes on events and links are not limited"
[Spec](https://github.com/open-telemetry/opentelemetry-specification/blob/v1.0.0/specification/trace/sdk.md#span-limits) says that there `MAY` be limits for attributes on events and links.

Currently there is no restriction to the number of attributes that can be added to an `Event` or `Link`.
Check the following tests (when added to  `optentelemetry-sdk/tests/trace/test_trace.py`) for verifying t

[2021-05-12 15:55] iblancasa opened #1846 "eachdist.py script cannot install the test/utils package"
Using the last commit from the `main` branch (`dad4b2b`) I get the following error when running `scripts/eachdist.py develop` (as `CONTRIBUTING.md` file describes):

[code]
I'm using RHEL 8.3.

**Steps to reproduce**
Clone the repository and run:

[code]

**What is the expected behavior?**
The `eachdist.py` should install everything to start the development.

**Workaround**
[code]

[2021-05-12 16:15] eddyleelin commented on #1738
I'd like to take a look into this as a good first issue! Would appreciate any help/direction for getting started on this.

[2021-05-12 16:37] codeboten opened #1848 "Update opentracing shim to map errors from logs"
As per spec:

https://github.com/open-telemetry/opentelemetry-specification/pull/1563

[2021-05-12 16:53] codeboten opened #1849 "Get Tracer operation should use an empty string if the specified name is null"
As per spec change: https://github.com/open-telemetry/opentelemetry-specification/pull/1654

[2021-05-12 20:15] eddyleelin commented on #1849
I'd like to try this; would appreciate if anyone wants to help, too.

[2021-05-12 23:03] bryanuribe commented on #1678
Is this still open/available? Would I be able to pick this up?
cc: @alolita

[2021-05-12 23:05] codeboten commented on #1678
All yours @bryanuribe

[2021-05-13 02:35] ocelotl commented on #1738
@Oberon00 suggests that mypy users could use more information by changing the line pointed in the link. I would suggests getting somewhat familiar with what mypy is and does, @eddyleelin if you are not yet :+1:

[2021-05-13 15:11] codeboten opened #1850 "Support reporting of dropped attributes/events/links"
A change in the specification defines how to report dropped attributes, events & links: https://github.com/open-telemetry/opentelemetry-specification/pull/1662

NOTE: The implementation details as to when these values should be generated is TBD

[2021-05-14 00:37] eunice98k commented on #1737
Hi, I would like to give this one a try!

[2021-05-14 08:58] v1v opened #1851 "Support OTLP_HEADERS with capital case"
**Describe your environment**

OS: `Ubuntu 20`
Python version: `python3.8`
Dependencies installed with venv:

[code]

**Steps to reproduce**

Create a OTLP Header with a capital case format:

[code]

**What is the expected behavior?**

Allow to use headers with the first Capital letter

**What is the actual behavior?**

[code]

**Additional context**

See https://github.com/elastic/apm-server/pull

[2021-05-14 09:46] iblancasa commented on #1846
After the latest changes in the repository, the issue is different now:
[code]

[2021-05-14 14:31] eddyleelin commented on #1851
Just to clarify, it seems like [the comment in the other issue](https://github.com/elastic/apm-server/pull/5169#pullrequestreview-659456304) is suggesting that the entire header key (eg. "Authorization" or "AUTHORIZATION") should be cast to lower case ("authorization")?

[2021-05-14 14:47] codeboten commented on #1737
Thanks @eunice98k, all yours!

[2021-05-14 15:00] eddyleelin opened #1852 "Update OTEL_EXPORTER_OTLP_HEADERS parsing to match header format spec"
This issue is related to issue #1851 regarding the way the otel Python Exporter parses OTEL_EXPORTER_OTLP_HEADERS.

**What is the issue?**
As per the [otel exporter specs](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/protocol/exporter.md#specifying-headers-via-environment-variables), the headers should be represented in a format matching the [W3C Correlatio

[2021-05-14 15:30] eddyleelin commented on #1846
I had the same error as above when using `scripts/eachdist.py`:
`ERROR: Could not find a version that satisfies the requirement opentelemetry-sdk==1.3.0.dev0 (from error-handler-0[test]) (from versions: 0.1a0, 0.2a0, 0.3a0, 0.4a0, 0.4a1, 0.5b0, 0.6b0, 0.7b1, 0.8b0, 0.9b0, 0.10b0, 0.11b0, 0.12b0, 0.13b0, 0.14b0, 0.15b0, 0.16b0, 0.16b1, 0.17b0, 1.0.0rc1, 1.0.0, 1.1.0, 1.2.0, 1.10a0)
ERROR: No matchi

[2021-05-14 15:38] iblancasa commented on #1846
@eddyleelin probably that is not a bad idea but I would add something: since `tox` creates a Python virtual environment, I would add documentation about how to source that virtual environment. It can be really useful for development purposes.

[2021-05-14 16:38] lzchen commented on #1852
If the value may contain equal signs, how do we parse them?

[2021-05-14 16:38] #1670 closed

[2021-05-14 17:56] eddyleelin commented on #1852
Good question. Since [str.split()](https://docs.python.org/3/library/stdtypes.html#str.split) has an optional parameter maxsplit, we can simply change the call from
`tuple(item.split("=")) for item in self._headers.split(",")`
to
`tuple(item.split("=", maxsplit=1)) for item in self._headers.split(",")`

For example:
[code]

[2021-05-14 18:02] eddyleelin commented on #1852
To trim the whitespaces, I'm not sure if it'd be readable as a comprehension (since the line is already getting long), like this:
[code]
Or does that look fine?

[2021-05-15 02:02] eddyleelin commented on #1852
If this is a valid issue, I could be assigned this, as it should be a relatively straightforward change?

[2021-05-16 15:13] eddyleelin commented on #1851
I could fix this, if it's valid! @owais @codeboten

[2021-05-16 20:57] owais commented on #1851
I don't think the exporter enforces anything here. IIRC, gRPRC expects all metadata (headers) to be lowercase and that's where the error is coming from.

[2021-05-16 20:58] owais commented on #1851
We could convert all headers to lower case in order to prevent the crash and make it work with gRPC.

[2021-05-16 21:48] c-kruse commented on #1844
Hi there! I would like to give this a shot.

[2021-05-17 16:26] lzchen commented on #1714
@harshita19244
Are you still working on this?

[2021-05-17 18:00] harshita19244 commented on #1714
So sorry, havent been able to figure it out

[2021-05-17 22:40] ocelotl opened #1857 "Add Metrics Prototype"
Implement a new metrics prototype as specified [here](https://github.com/open-telemetry/opentelemetry-specification/pull/1673).

[2021-05-17 23:30] codeboten commented on #1857
Duplicate of #1835

[2021-05-17 23:30] #1857 closed

[2021-05-17 23:58] bryanuribe commented on #1678
Unassigning myself—this seems best handled once it is merged into a stable branch.

[2021-05-18 00:07] lzchen commented on #1678
@bryanuribe

I am not sure what you mean by this?

[2021-05-18 00:09] lzchen commented on #1851
@owais
I think that is fine.

[2021-05-18 00:14] lzchen commented on #1852
@eddyleelin
I think this is fine.

[2021-05-18 01:24] bryanuribe commented on #1678
@lzchen Please correct me if I'm wrong, but it appears that the issue refers to code that is in a different repository.

[2021-05-18 21:51] bryanuribe commented on #1678
@lzchen @aabmass

Sorry for the delayed response.

To fix Sphinx docs build, one must modify the appropriate rst files in the doc folder. For this specific issue, it seems that we need to add an **automodule directive** to document the code that Aaron specified.

A directive like this placed in the **otlp.rst** file would automatically document code in the code snippet for this issue:

[code]

In

[2021-05-19 13:09] lonewolf3739 opened #1860 "BatchSpanProcessor doesn't cancel after export timeout duration"
Python implementation of `BatchSpanProcessor` doesn't cancel the export call after the EXPORT_TIMEOUT duration. An end user can pass a value or set an env var `OTEL_BSP_EXPORT_TIMEOUT` to instruct how long processor can wait for `export` before cancelling. Python implementation doesn't use it and waits for exporter to return https://github.com/open-telemetry/opentelemetry-python/blob/main/opentele

[2021-05-19 16:04] aabmass commented on #1678
@bryanuribe this would be great if you could solve the overall problem 😃 . I know it involves using custom templates to get this working, I did something similar for the GCP repo in this PR https://github.com/GoogleCloudPlatform/opentelemetry-operations-python/pull/39/

I don't follow what you mean by stable branch. And what do you mean by the code provided? Running `tox -e docs` should do the tri

[2021-05-20 14:55] #1849 closed

[2021-05-20 15:07] codeboten opened #1862 "Add schema_url to resources"
An optional parameter has been added to resources in the spec: https://github.com/open-telemetry/opentelemetry-specification/pull/1692/files

[2021-05-20 21:22] lzchen commented on #985
@ocelotl
Are you still working on this?

[2021-05-21 17:37] dgetu commented on #1862
Could I take this on?

[2021-05-21 18:34] codeboten commented on #1862
Sure! Assigned you the issue.

[2021-05-24 16:29] #1844 closed

[2021-05-24 21:49] bryanuribe commented on #1678
@aabmass I'd be happy to work on updating the OTLP exporter docs. I'll get started on implementing sphinx.ext.autosummary.

Sorry I don't think this was a valid point—I will look into the way you tested code.

[2021-05-25 03:59] #1838 closed

[2021-05-25 08:57] robertsben opened #1870 "Opentracing shim not reporting exceptions correctly"
**Describe your environment**
**Steps to reproduce**
A minimum working example, including dependency and environment versions, can be found to reproduce the issue [here](https://github.com/robertsben/otel-example). Instructions are given in the README.

**What is the expected behavior?**
It is expected that exceptions that occur inside a `with tracer.start_active_span(name):` context should be rep

[2021-05-25 14:57] lonewolf3739 commented on #1870
There is an issue created to track this already https://github.com/open-telemetry/opentelemetry-python/issues/1848.

[2021-05-25 20:15] #1815 closed

[2021-05-25 22:54] codeboten opened #1872 "Update opentelemetry-proto to v0.9.0"
A new version of the protos was released, we should update our version to support it.

[2021-05-26 08:42] robertsben commented on #1848
Hi, I'd opened this as a bug against the shim (https://github.com/open-telemetry/opentelemetry-python/issues/1870) having not seen this. Was wondering whether the intention was to address this in the shim, or whether you're looking to add it as a feature of the opentelemetry client (or collector) to translate the opentracing fields (`error.type`->`exception.type` etc.) rather than directly emittin

[2021-05-26 16:56] #1851 closed

[2021-05-26 17:25] lzchen commented on #1870
Closing this in favor of #1848

[2021-05-26 17:25] #1870 closed

[2021-05-26 17:27] lzchen opened #1875 "Add common pitfalls/FAQ to documentation"
It would be nice to have a page where common issues and questions that users have can be covered.

[2021-05-26 19:24] owais commented on #1845
I was working on https://github.com/open-telemetry/opentelemetry-python/pull/1847 but that is solving a different problem. Removing myself from this issue for now in case anyone else wants to take it. Will probably come back to this in a couple of weeks.

[2021-05-27 00:42] rnishtala commented on #1147
Hello, I would like to work on this and add some documentation to the environment variables.

[2021-05-27 01:21] lonewolf3739 commented on #1848
This should be addressed in shim package.

[2021-05-27 16:49] ocelotl opened #1879 "Find all public symbols"
Create a script that finds all public symbols in the core and contrib repo.

[2021-05-27 20:36] #1852 closed

[2021-05-27 23:38] ocelotl opened #1880 "There is an error in our LICENSE files"
We have [this](https://github.com/open-telemetry/opentelemetry-python/blob/main/opentelemetry-api/LICENSE#L189) error. Fix that.

[2021-05-28 10:27] kaos commented on #760
why delete old packages? that's just causing headaches, no?

[2021-05-28 16:17] #1880 closed

[2021-06-01 13:55] pirgeo commented on #1835
I would love to help out, is there anything that needs to be done? @ocelotl, you already started implementing this, right?

[2021-06-01 14:22] kaos commented on #760
Hi @codeboten
thanks for info, and that it was done under careful consideration. I do see your point, although not agreeing (but also not very well informed on the matter, so may very well be wrong)

Looking forward to a more stable product once you get the stable releases out :)

[2021-06-01 17:32] #1872 closed

[2021-06-01 23:05] ocelotl commented on #985
@lzchen, yes, working

[2021-06-01 23:26] ocelotl opened #1884 "Add employer for ocelotl"
@ocelotl employer is not included in README. Fix that.

[2021-06-02 00:03] #1884 closed

[2021-06-02 22:33] ocelotl commented on #1835
Yes, I have just opened a draft PR in #1887 :v:

[2021-06-03 16:14] lzchen opened #1888 "Add an excerpt for hotfix procedure"
To be consistent in how we handle hotfixes, we should add a section in RELEASING.MD in how we create and release hotfixes.

[2021-06-03 16:51] codeboten opened #1890 "Add support for OpenTelemetry logging"
Currently there's an experimental specification for the logging signal:

https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/logs/data-model.md#log-and-event-record-definition.

The work for this has started in #1882

[2021-06-03 21:03] ocelotl opened #1891 "Add test context that assert an exception was not raised"
Sometimes we need to assert that an exception was not raised. This is doable but it requires a `try/except` block and a call to `self.fail` that can be very repetitive when this is being asserted many times in the same test suite. Find a solution for this.

[2021-06-03 21:34] ocelotl commented on #1756
Still needed...

[2021-06-03 21:37] ocelotl commented on #1708
Still needed...

[2021-06-04 18:04] lzchen commented on #1608
@dmolenda-sumo
Any progress on this?

[2021-06-04 18:06] #1781 closed

[2021-06-07 17:08] #1738 closed

[2021-06-08 03:38] #1567 closed

[2021-06-08 03:38] #1546 closed

[2021-06-08 03:38] #1534 closed

[2021-06-08 03:38] #1061 closed

[2021-06-08 03:38] #939 closed

[2021-06-08 03:38] #759 closed

[2021-06-08 03:38] #758 closed

[2021-06-08 03:38] #651 closed

[2021-06-08 15:43] #1714 closed

[2021-06-08 19:13] lonewolf3739 commented on #1890
Here is how I plan to send PRs

1) Add overall structures and classes (#1894).
2) Add global provider (#1895)[closed due base branch delete, will reopen].
3) Add OTLPHandler for logging module.
4) Add multilog processors and Simple, BatchLogProcessor.
5) Add Logs suport for OTLP Exporter.
6) Complete documentation & examples.

[2021-06-09 03:25] #649 closed

[2021-06-09 03:25] #562 closed

[2021-06-09 16:23] lavender04 opened #1899 "change resource of TracerProvider within same python file"
Hi,

I've just started to use OpenTelemetry.
I have following use case:
I would like to build traces in a centralized file. Let's say I have two requests (r1, r2) which I know happen after each other. Now I want to build a trace for these two requests and export them using jaeger-exporter.

[code]

Background of my question is that the whole trace has the same service name which isn't perfect. I'v

[2021-06-09 16:31] #1848 closed

[2021-06-09 16:46] lzchen opened #1900 "Span.SetStatus has priorities"
From [specs](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/api.md#set-status):

`These values form a total order: Ok > Error > Unset. This means that setting Status with StatusCode=Ok will override any prior or future attempts to set span Status with StatusCode=Error or StatusCode=Unset. `

[2021-06-09 18:37] lonewolf3739 commented on #1899
You won't be able to override the global tracer provider but you can however create a new tracer provider and use it to create spans. Does this example help?
[code]

[2021-06-10 01:57] philipcwhite opened #1904 "auto-instrumentation not working for flask app"
I am trying to send flask tracing data to the otel-collector using the "opentelemetry-instrument python3.8 app.py" command.

Ubuntu 18.04
Python 3.8.7
otel-collector-contrib 0.27

requirements.txt
asgiref==3.3.4
backoff==1.10.0
certifi==2021.5.30
chardet==4.0.0
click==7.1.2
Deprecated==1.2.12
Flask==1.1.4
googleapis-common-protos==1.53.0
grpcio==1.38.0
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3

[2021-06-10 08:56] lavender04 commented on #1899
@lonewolf3739 thanks a lot for your quick response. Your example solved my problem flawlessly. Somehow I haven't seen this solution. Thanks and stay safe.

[2021-06-10 08:56] #1899 closed

[2021-06-10 15:22] codeboten opened #1906 "Ensure consistent way to address attributes"
Currently resources, links, event and spans handle attributes differently. This should be consistent.

[2021-06-10 15:24] codeboten opened #1907 "Attributes immutability should be consistent"
Currently this is done either using a mapping proxy or a copy of attributes, let's be consistent.

[2021-06-11 15:58] pjachowi opened #1910 "PIP opentelemetry-api 1.10a0 conflicts with opentelemetry-instrumentation"
**Describe your environment**
`Python 3.8.5`
`system='Linux', node='XXXXXXXXX', release='5.8.0-55-generic', version='#62~20.04.1-Ubuntu SMP Wed Jun 2 08:55:04 UTC 2021', machine='x86_64', processor='x86_64'`

**Steps to reproduce**
[code]

**What is the expected behavior?**
pip3 install finishes successfully

**What is the actual behavior?**
pip3 install finishes with error

**Additional context**

[2021-06-11 16:25] #1900 closed, assigned to lzchen

[2021-06-11 16:47] lzchen commented on #1910
Hi thanks for reporting this. A couple of things:

1. The 1.1.0a.0 versions of `opentelemetry-api` and `opentelemetry-sdk` are in alpha and are not meant to be experimented with other packages.
2. With that being said, we will probably release an alpha version of dependencies like `opentelemetry-instrumentation` so you don't get conflicts like these,
3. The metrics features and classes present in

[2021-06-11 16:50] #1737 closed

[2021-06-11 17:17] pjachowi commented on #1910
Thank you very much for the reply!

pt., 11 cze 2021, 18:47 użytkownik Leighton Chen ***@***.***>
napisał:

[2021-06-14 08:28] lonewolf3739 commented on #1904
You should have `opentelemetry-distri==0.21b0` installed. Please install the distribution and check again.

[2021-06-14 13:09] philipcwhite commented on #1904
This works perfect.  Thank you so much!

[2021-06-14 13:09] #1904 closed

[2021-06-14 21:41] #1907 closed

[2021-06-15 16:16] Shackelford-Arden opened #1912 "Serialization Issues with Celery and Passing Context"
Hello!

In looking around, I see a few issues that _sound_ similar, but neither of them seem to provide sufficient examples that make sense to me:

- #1266
- #1546 (which simply refers to #1266)

I am looking for some guidance on how to utilize OpenTelemetry in a few applications that make use of Celery. Each application follows the same basic architecture:

- REST API (FastAPI)
- Celery Workers

[2021-06-16 03:19] #392 closed

[2021-06-16 03:19] #382 closed

[2021-06-16 11:54] HaraldGustafsson opened #1913 "OLTP gRPC receiver in Python"
**Is your feature request related to a problem?**
I would like to develop a back-end that receive open-telemetry traces to test some ideas around automation of management of an application. I was looking for an otlp grpc receiver in python to utilize, since python is my fastest language for prototyping. I found the proto in this repo, could that be used for developing a receiver or is that a large

[2021-06-18 10:10] HaraldGustafsson commented on #1913
Sorry, did not realise at first that the receiving gRPC server just needed to implement the "Export" function. I was looking for names that indicated receiving, but then realised that is not how it works. For reference a dummy below, obviously need to pip install the proto, etc.

[code]

[2021-06-18 10:10] #1913 closed

[2021-06-21 17:40] lzchen commented on #1910
@pjachowi
Can this issue be closed/

[2021-06-21 20:52] codeboten opened #1918 "Add support for event and link attribute limits"
This issue is a placeholder until the issue discussed in the comment [here](https://github.com/open-telemetry/opentelemetry-python/pull/1915/files#r655537649) is merged

[2021-06-22 23:16] yurishkuro opened #1922 "Please add examples of basic usage to the README"
Similar to https://github.com/opentracing/opentracing-python#inbound-request

[2021-06-24 13:17] salberin opened #1923 "Gunicorn forking implementation raises monkey-patch errors"
Using the latest shipping opentelemetry SDK and API, I'm trying to integrate opentelemetry into a Django application served using gunicorn. I'm trying to integrate with Google Cloud Trace. Following the steps in [https://opentelemetry-python.readthedocs.io/en/stable/examples/fork-process-model/README.html](url) I get an error about monkey-patching:
[code]
In addition to the monkey-patch errror (wh

[2021-06-24 15:18] ocelotl commented on #1910
I think this issue can be closed

[2021-06-24 16:55] ocelotl opened #1924 "Dependency pinning between packages post 1.0"
### Discussed in https://github.com/open-telemetry/opentelemetry-python/discussions/1754

<div type='discussions-op-text'>

<sup>Originally posted by **owais** April  6, 2021</sup>
Now that we've hit 1.0 for most packages, I think we should not pin stable opentelemetry-* packages to exact versions. Right now, most opentelemetry-* packages now pin other stable opentelemetry-* packages to `1.0.0`. F

[2021-06-24 17:06] Shihao-Zhong commented on #1003
Hello @dmarar ,

Could you please let me know that are you still working on that issue?

[2021-06-24 23:25] Shackelford-Arden commented on #1912
So, I've been playing around a little bit since I submitted this and have some additional context (ha!) that I'd like to add here because I've found a way to kind of get what I want, but also I would like to understand the code for the Celery Instrumentation because I believe I should be able to use the work it is already doing.

So for the challenge of getting from the REST API to the Celery task

[2021-06-25 16:21] #1906 closed

[2021-06-25 18:40] aabmass commented on #1923
It seems like the deadline exceeded issue could be caused by the late patching based on [this](https://www.gevent.org/api/gevent.monkey.html#:~:text=sure-,Warning,Querying,-Sometimes)

[2021-06-26 01:09] lonewolf3739 commented on #1862
This can be closed, fixed in #1871.

[2021-06-26 01:14] lonewolf3739 commented on #1708
Part of this is addressed in https://github.com/open-telemetry/opentelemetry-python/pull/1878. It would be easier to track if we have list of tasks to do complete this.

[2021-06-26 01:16] lonewolf3739 commented on #1375
This can be closed, fixed in https://github.com/open-telemetry/opentelemetry-python/pull/1380.

[2021-06-26 03:18] #1510 closed

[2021-06-26 15:30] lonewolf3739 commented on #1761
Closing this in favour of #1835 .

[2021-06-26 15:30] #1761 closed

[2021-06-26 17:15] lonewolf3739 commented on #1845
I believe this is fixed in #1915  and can be closed?

[2021-06-28 05:39] mariojonke commented on #1845
Fixed with #1915

[2021-06-28 05:39] #1845 closed

[2021-06-28 15:48] codeboten commented on #1862
Fixed!

[2021-06-28 15:48] #1862 closed

[2021-06-28 16:24] #1375 closed

[2021-06-28 16:25] #1910 closed

[2021-06-28 18:34] lzchen commented on #1922
@yurishkuro
Are you referring to basic usage of OpenTracing or OpenTelemetry in general?

[2021-06-28 18:46] yurishkuro commented on #1922
OpenTelemetry. I looked through readthedocs, and did not find a consistent cookbook of doing the most common instrumentation steps.

[2021-06-28 18:49] lzchen commented on #1147
Fixed by https://github.com/open-telemetry/opentelemetry-python/pull/1898/files

[2021-06-28 18:49] #1147 closed

[2021-06-28 19:06] yurishkuro commented on #1922
That's not what I am after, I am asking for the docs on how to use the API to instrument something (something that is not in the list in your link).

[2021-06-28 19:30] codeboten opened #1926 "Add github workflow to release hotfixes"
As documented in PR https://github.com/open-telemetry/opentelemetry-python/pull/1925, there are several manual steps in releasing a hotfix. This should be made easier for maintainers via github actions.

[2021-06-28 22:28] codeboten commented on #1922
@yurishkuro Just confirming you're looking for documentation that would help instrumentation library authors write their instrumentation libraries for common use-cases?

[2021-06-28 23:24] yurishkuro commented on #1922
Yes, as well as regular users who want to instrument their code directly. I had people reaching out asking about how to do that and I could not find documentation to point them to.

Again, this is the OpenTracing version of similar documentation: https://github.com/opentracing/opentracing-python#usage

[2021-06-30 22:46] #1850 closed

[2021-07-01 21:27] #1888 closed

[2021-07-02 05:19] adriangb commented on #1890
Hi, thank you for working on this, this is very exciting!

I have 2 questions:
1. Would it make sense to have some sort of `logging.Filter`er to inject OpenTracing data into logs? The use case would be to also include this data in logs to the console or other destinations
2. For the Handlers, it looks like the Handler itself transmits the record. I thought `LogRecord == Event` (conceptually, not r

[2021-07-02 12:33] PaulBenn-UnlikelyAI opened #1930 "OTLPSpanExporter does not export named trace spans to collector"
**Environment**
[code]

**Steps to reproduce**
Set up a client:
1. Create new Python `pipenv` project.
2. Define `Pipfile` as follows:
[code]
3. Run `pipenv update` to install packages.
4. Define file `open_telemetry_bug.py`.
5. Populate file `open_telemetry_bug.py` with verbatim copy-paste of [latest documentation](https://opentelemetry-python.readthedocs.io/en/latest/exporter/otlp/otlp.html).

S

[2021-07-02 14:42] lonewolf3739 commented on #1890
No the LogRecord data model is different and also span events are limited in what they accept as attribute values.

This https://github.com/open-telemetry/opentelemetry-python-contrib/tree/main/instrumentation/opentelemetry-instrumentation-logging?. And to give you more context you can configure the processor to export to any place you want file or n/w dest or anything really. It is designed in su

[2021-07-02 17:32] dmarar commented on #1003
Hello @Shihao-Zhong
Sorry for the late reply.
I couldn't start much on this because of some personal emergency.
Please feel free to work on it incase you want to.

Thanks!

[2021-07-02 19:57] adriangb commented on #1890
Hmm, I guess I'm a bit confused now because [the spec explicitly says that logs and events are the same thing](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/logs/overview.md#events-and-logs). Is there any reading material you could point me to that might help me resolve my confusion? I want to minimize how much I hijack this thread with naïve questions.

I g

[2021-07-02 20:30] lonewolf3739 commented on #1890
The intent is to reduce the notion of `Event` being seen as an entirely new concept OpenTelemetry introduced. The span [`Events`](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/api.md#add-events) are structured logs. It doesn't have severity, body, and doesn't allow any nested attributes. Please look at the logdata model https://github.com/open-telemetr

[2021-07-03 01:36] lonewolf3739 opened #1931 "Make it very explicit that you need SOME distro installed."
It was even slightly difficult for me to get started with auto-instrumentation so +1 for the quickstart, especially with a very simple `hello_world` example (not flask, etc).

I believe we chose not to depend on the default distro because we wanted the user to have the option of choosing which distro to use (since installing one will automatically find and use the first one when auto-instrumenting

[2021-07-03 01:38] lonewolf3739 commented on #1931
We can recommend installing `opentelemetry-distro` in our docs and mention that users can choose to install any third-party vendor distro.

[2021-07-07 13:54] ocelotl commented on #1708
The fix for https://github.com/open-telemetry/opentelemetry-specification/pull/1563 was already introduced in #1878. Editing this issue to refer only to the pending fix for https://github.com/open-telemetry/opentelemetry-specification/pull/1101.

[2021-07-07 16:09] ocelotl commented on #1875
boop

[2021-07-08 16:18] #1814 closed

[2021-07-09 15:45] lzchen commented on #1930
Try adding `[batch]` to `processors` in your config?

[2021-07-09 15:48] PaulBenn-UnlikelyAI commented on #1930
Hi @Izchen, I've tried this configuration with (`[]`) and without (`[batch]`), but the result is the same.

[2021-07-09 15:52] lzchen commented on #1930
@PaulBenn-UnlikelyAI
You also added a
[code]
section?

[2021-07-09 15:53] PaulBenn-UnlikelyAI commented on #1930
@Izchen yes, that's correct. I've also played around with multiple variations of the batch processor's settings, including limiting the batch size to 1.

[2021-07-09 16:13] lzchen commented on #1930
I ran the example (verbatim) in my local environment and the span is printed successfully.

![image](https://user-images.githubusercontent.com/11580155/125107624-e1531700-e095-11eb-904e-cbbbce81eaa5.png)

I have the following in my `otel-collector-config.yaml`

[code]
as well as `docker-compose-yml`
[code]

[2021-07-09 16:14] lzchen commented on #1930
Simply running `docker-compose up` works with this example.

[2021-07-09 17:17] #1924 closed

[2021-07-09 21:41] ocelotl opened #1941 "Every string character is being checked"
As reported @yetanotherjsontodatabaseexporter in #1939, strings are also sequences. We are unnecessarily checking every character [here](https://github.com/open-telemetry/opentelemetry-python/blob/f11ed2f3bacb11d53a7a2b4837cf6308fa34cc71/opentelemetry-api/src/opentelemetry/attributes/__init__.py#L46).

[2021-07-12 08:04] PaulBenn-UnlikelyAI commented on #1930
Hi @Izchen, this is using a different image. I am using a `Dockerfile` with:

[code]

...whereas you are using a `docker-compose` file with:

[code]

Could you please clarify the relationship between these images, and their difference to the AWS version, if applicable? I cannot find any relevant comparison documentation, and it would be good to have an official recommendation from you!

[2021-07-12 15:30] lavender04 opened #1944 "Set start_time attribute in microseconds not working"
**Environment**
[code]
**Steps to reproduce**
As defined [here](https://github.com/open-telemetry/opentelemetry-specification/blob/d001d5d25ea11a28bd4c4ec2652e2db1a41fc064/specification/trace/sdk_exporters/jaeger.md#unit-of-time), I've tried to set a `start_time` and `end_time` in microseconds using the `start_as_current_span` method.

[code]

Running this minimal example results in following outp

[2021-07-12 15:38] codeboten commented on #1944
Hi @lavender04, the correct unit to use with `start_as_current_span` is nano seconds. The conversion from nanoseconds to microseconds happens automatically in the Jaeger exporter, as per the specification you linked to.

[2021-07-12 15:40] maxlein opened #1945 "How to pass context manually to a child span?"
I am wondering how I can manually pass a context to a child span.

I know this example and it's working:

[code]

But it doesn't fit my needs.
I want something like that:

[code]

I tried to build a context:

[code]

or pass context from parent ( Doesn't work because types don't match [Context vs SpanContext]):

[code]

But nothing works, always on same level and not a child of the other.
I couldn

[2021-07-12 17:11] lzchen commented on #1930
@PaulBenn-UnlikelyAI

Our [getting started](https://github.com/open-telemetry/opentelemetry-python/blob/main/docs/getting-started.rst#use-the-opentelemetry-collector-for-traces) docs point to using the latest version of opentelemetry-collector (not contrib).

[2021-07-12 17:15] PaulBenn-UnlikelyAI commented on #1930
Thanks - I had a brief look just now, and I'll try this tomorrow, but could you please clarify the relationship between `opentelemetry-collector-contrib`, `opentelemetry-collector-dev` and `opentelemetry-collector`?

[2021-07-12 18:01] lzchen commented on #1930
I would ask this in the [OpenTelemetry collector](https://github.com/open-telemetry/opentelemetry-collector) repository.

[2021-07-12 19:55] #1941 closed

[2021-07-13 08:35] lavender04 commented on #1944
Thanks for the quick response.

[2021-07-13 08:35] #1944 closed

[2021-07-13 10:57] mvkrishna86 opened #1948 "OpenTelemetry Python Auto instrumentation is not working with Django"
**Describe your environment**
I ran this in Ubuntu 18 with python 3.8

**Steps to reproduce**
[code]

**What is the expected behavior?**
Some messages like this with 200 response:
[code]

**What is the actual behavior?**
The application is failing to start with below error:

[code]

**Additional context**
Without enabling the tracing, the application is working fine. But when I enable it, it appea

[2021-07-13 10:58] mvkrishna86 commented on #1948
Attaching the complete error here.
[otel-django-error.txt](https://github.com/open-telemetry/opentelemetry-python/files/6808311/otel-django-error.txt)

[2021-07-13 13:24] lonewolf3739 commented on #1948
Appears to be because of a different version https://docs.djangoproject.com/en/2.1/ref/urlresolvers/#django.urls.ResolverMatch Django 2.1 ResolverMatch doesn't have a route. This line should be updated with `getattr(match, "route", None)` https://github.com/open-telemetry/opentelemetry-python-contrib/blob/main/instrumentation/opentelemetry-instrumentation-django/src/opentelemetry/instrumentation/d

[2021-07-13 13:33] mvkrishna86 commented on #1948
Thanks @lonewolf3739 , Can you suggest any workarounds?

[2021-07-13 13:37] lonewolf3739 commented on #1948
The `route` was added in 2.2 https://docs.djangoproject.com/en/2.2/ref/urlresolvers/#django.urls.ResolverMatch.route. You can either update your django to 2.2 or wait for new release of `opentelemetry-instrumentation-django` with the fix. This looks like an easy bug I will send a PR in some time.

[2021-07-13 15:56] lonewolf3739 opened #1949 "Use w3c format for reading headers via environment variables"
No need to necessarily change this here, but i think we're repeating the pattern of splitting variables by `,` and `=` in a few places, might be nice to pull that code into a utility.

_Originally posted by @codeboten in https://github.com/open-telemetry/opentelemetry-python/pull/1868#discussion_r662582668_

Also, we need to document the escape sequence and link to w3c correlation key-value pairs

[2021-07-13 16:40] ocelotl commented on #1945
This may help:

I created two files:

[code]
[code]

I ran them both, and I got this respective results:

[code]
[code]

You can follow the `"span_id"` and `"parent_id"` attributes to check that one span is parent of the next one.

[2021-07-14 03:45] mvkrishna86 commented on #1948
I changed the Django version to 2.2, now the application is working fine. But I dont see the traceid in the logs:

Starting development server at http://0.0.0.0:7014/
Quit the server with CONTROL-C.

INFO 2021-07-14 09:14:05,183 "GET /utility/health_check HTTP/1.1" 200 47
2021-07-14 09:14:05,183 INFO [django.server] [basehttp.py:154] [trace_id=0 span_id=0 resource.service.name=Communication] - "GE

[2021-07-14 15:22] ocelotl opened #1954 "Use basename in eachdist.py"
Related to [this](https://github.com/open-telemetry/opentelemetry-python-contrib/pull/583).

[2021-07-14 15:58] #1954 closed

[2021-07-14 17:55] charlesoconor opened #1957 "MYPY types don't work for opentelemetry"
I'm working on adding opentelemtry to my project. It seems from reading through your code that you have MYPY types in the source code. Currently, at import, they don't show up. MYPY thinks it can file the type I think due to a `__init__.pyi` file at the root of the project which is empty. Getting errors on the imports

[code]

[2021-07-14 18:22] #1948 closed

[2021-07-14 19:13] ocelotl commented on #1957
Hello @charlesoconor

Thanks for reporting. Please follow the issue template to make sure we have all the information needed to investigate the issue you are having.

[2021-07-14 23:52] charlesoconor commented on #1957
**Describe your environment**
python3.8

**Steps to reproduce**
Describe exactly how to reproduce the error. Include a code sample if applicable.
Import opentelemetry
and it doesn't correctly type check.

**What is the expected behavior?**
The code to pass type check when importing modules that are there.

**What is the actual behavior?**
[code]
There are more errors when we unignore the module.

[2021-07-15 02:01] mvkrishna86 commented on #1948
@lonewolf3739 , Any help to get the trace id populated please..

[2021-07-15 02:11] lonewolf3739 commented on #1948
@mvkrishna86 I can see null trace id in the log i.e trace context is attached to log but there are no recording spans, I am not sure what is happening in your case. Can you provide more info?

[2021-07-15 03:30] mvkrishna86 commented on #1948
I followed the same approach but upgraded Django==2.2.

I also tried with django 2.1 and manually changed ./python3.8/site-packages/opentelemetry/instrumentation/django/middleware.py to change below line `route = getattr(match, "route")` to `route = getattr(match, "route", None)`

In both the cases, I see the application is running fine, but trace id is not being populated.
Here are the logs, shal

[2021-07-15 03:54] lonewolf3739 commented on #1948
Do you see spans exported to otlp collector?

[2021-07-15 07:11] mvkrishna86 commented on #1948
Yes. the traceid is being logged in my grafana agent.
[code]
But may I know how I can print in logs. I tried adding otelTraceID in my log format, but still its printing 0.

[2021-07-15 14:30] lonewolf3739 commented on #1948
I am not sure what is happing here. Can you share some sample app with this issue reproducible?

[2021-07-15 17:14] mvkrishna86 commented on #1948
[mysite.zip](https://github.com/open-telemetry/opentelemetry-python/files/6825013/mysite.zip)

Here is the sample application. i just used sample Django application with 2.2 version.

Environment variables:
[code]

[2021-07-15 17:44] lonewolf3739 commented on #1948
Can you share a repo instead with all the pinned deps listed in requirements.txt and with note of how you are running app?

[2021-07-15 20:13] ocelotl opened #1958 "Move instrumentation to the core repo"
As agreed in the last SIG, `opentelemetry-instrumentation` will be moved to the core repo.

[2021-07-16 03:44] mvkrishna86 commented on #1948
Hi @lonewolf3739 ,
I committed my sample code here: https://github.com/mvkrishna86/otel-django-2.2

[2021-07-16 04:28] lonewolf3739 commented on #1948
1. You need to install `opentelemetry-distro` to get auto instrumentation working.
2. I don't know about the internals of Django request logging but the trace correlation is working when I add small view and log from there.
[code]
What I think is happening there is no active current span when the log created is created by Django server.

[2021-07-16 06:55] maxlein commented on #1945
Thanks! Works nicely
Would be good to add to documentation

[2021-07-16 06:55] #1945 closed

[2021-07-16 15:24] ocelotl opened #1961 "Revert version updates"
As requested by @codeboten [here](https://github.com/open-telemetry/opentelemetry-python/pull/1959#pullrequestreview-708438339), revert the latest version update so that `opentelemetry-instrumentation` can be moved back from the contrib repo. This will help make the release process simpler as the 2 operations are separated.

[2021-07-16 16:30] #1961 closed

[2021-07-16 17:08] #1931 closed

[2021-07-16 18:13] #1958 closed

[2021-07-18 19:09] PaulBenn-UnlikelyAI commented on #1930
Hi @Izchen. I have confirmed that your example above works perfectly with `opentelemetry-collector-dev:latest` and the span is printed by the logging exporter, as expected. I am still quite confused as to the relationship between these three images, so I have opened

https://github.com/open-telemetry/opentelemetry-collector/issues/3669#issue-947099130

In the OTel Collector repository. Thank you f

[2021-07-19 03:23] ocelotl opened #1968 "Make environment variables accessible from a central place"
Environment variables need to be defined in separate places but accessible from a single one. This way a distro or configurator can have access to all the environment variables that have been defined in all the `opentelemetry`-components.

[2021-07-19 03:54] #1930 closed

[2021-07-19 10:04] mvkrishna86 commented on #1948
Even in your logs also, 200 response have trace_id=0, but for error response, the trace_id is populated.
Confusing :-)
Anyways, Thanks @lonewolf3739 for the help.

[2021-07-19 16:48] NathanielRN opened #1971 "Add `schema_url` to `TracerProvider.get_tracer`"
Follow up to #1862

The spec in `1.4.0` [added an optional parameter](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/api.md#get-a-tracer) `schema_url` to the `TracerProvider.get_tracer` method which we still need to implement:

https://github.com/open-telemetry/opentelemetry-python/blob/67bbad45917baa354a3a6d0d4361da48ff13fd31/opentelemetry-api/src/open

[2021-07-20 15:51] major opened #1973 "instrumentation: LICENSE + tests missing from PyPi package"
The PyPi package for opentelemetry-instrumentation is missing a `LICENSE` file and the contents of the `tests` directory.

[2021-07-20 16:04] ecourreges-orange commented on #1752
I am not sure if my problem is related, but I can't get any auto instrumentation to work (tried console_span, zipkin and jaeger).
Works fine with manual instrumentation.
On ubuntu bionic with Python 3.6

[code]
venv properly activated
[code]
deps installed in venv
[code]
Works almost fine as per the example, except I never get spans on the console on the server side when launching client.py
I see

[2021-07-20 16:17] major opened #1975 "opentelemetry-exporter-jaeger-proto-grpc: export tests failed"
**Describe your environment**
* Fedora 34
* `platform linux -- Python 3.10.0b4, pytest-6.2.4, py-1.10.0, pluggy-0.13.1`
* opentelemetry-exporter-jaeger-proto-grpc 1.3.0

**Steps to reproduce**
Run `pytest` for the tests in the `opentelemetry-exporter-jaeger-proto-grpc` package.

**What is the expected behavior?**
I expected the tests to pass.

**What is the actual behavior?**
Two tests failed:

[c

[2021-07-20 17:36] #1973 closed

[2021-07-21 21:13] tarmath commented on #1957
@charlesoconor have you turned on support for namespace packages for mypy? It won't work without it...

    namespace_packages = true

[2021-07-21 21:24] codeboten opened #1979 "Nominate @ocelotl for python-maintainers"
Nominate @ocelotl to become a python maintainer. Following the community guidance for maintainers.

### GitHub Username

@ocelotl

### Organization you are requesting membership in

@open-telemetry/python-maintainers

### Sponsors (i.e. @open-telemetry/python-maintainers)

- @codeboten
- @lzchen

[2021-07-21 21:38] lzchen commented on #1979
YEEEEEEEEEEEEEEEEEEEEEE

[2021-07-22 00:41] lonewolf3739 opened #1981 "Add support for insecure configuration through param and environment variable in OTLP"
From this PR https://github.com/open-telemetry/opentelemetry-specification/pull/1729. We had this earlier but removed it since it wasn't part spec at the time of the python 1.0 release. We should add it back.

[2021-07-22 16:29] #1979 closed

[2021-07-23 13:15] ocelotl opened #1982 "Distros are coupled with instrumentations"
As mentioned [here](https://github.com/open-telemetry/opentelemetry-python/discussions/2005#discussion-3489738).

[2021-07-26 15:59] Oberon00 commented on #1846
The command line lists everything in correct order:
`-e 'file:///home/iblancas/projects/opentelemetry-python/tests/util[test]'` comes before `-e file:///home/iblancas/projects/opentelemetry-python/docs/examples/error_handler/error_handler_0`.

I guess pip is at fault here, and this may be fixed by the newest pip released yesterday: https://github.com/pypa/pip/issues/9204

Otherwise, it should be a

[2021-07-26 16:05] Oberon00 commented on #1846
@iblancasa:

tox creates *tons* of virtual environments, so it would indeed be important to know which one to use (it needs to be one where everything is installed, including dev-dependencies, and the repository's packages need to be in `--editable` mode)

[2021-07-26 20:22] codeboten opened #1988 "opentelemetry-bootstrap fails"
After the last release, opentelemetry-bootstrap fails because it was not updated to check for the latest released version

[code]

[2021-07-26 20:25] codeboten opened #1989 "Add test to ensure opentelemetry-bootstrap gen script works"
Currently, `bootstrap_gen.py` is not tested as part of the CI, this caused a bug (#1988)  to be released. We should add a test for it.

[2021-07-26 21:48] #1988 closed

[2021-07-27 01:02] larkee opened #1990 "Version 0.23b0 not setting status codes correctly"
16 unit tests in `python-spanner` are suddenly failing with the following errors:
[code]
See [here](https://source.cloud.google.com/results/invocations/edd9edd4-c860-488f-a377-db07eb1fa808/targets/cloud-devrel%2Fclient-libraries%2Fpython%2Fgoogleapis%2Fpython-spanner%2Fpresubmit%2Fpresubmit/log) for more info.

These errors are resolved by pinning to the previous version (`0.22b0`).

[2021-07-27 02:26] ymotongpoo opened #1991 "The implementation of Trace ID is incompatible with the spec"
**Describe your environment**

* OS: Linux (Debian 10)
* Python: 3.9.2 (vanilla)

**Steps to reproduce**
1. Read [the spec of Trace ID](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/overview.md#spancontext)
2. Read [the implementation of Trace ID in SpanContext](https://github.com/open-telemetry/opentelemetry-python/blob/main/opentelemetry-api/src/openteleme

[2021-07-27 13:55] Oberon00 opened #1993 "test_base.TestBase and spantestutil.SpanTestBase are redundant"
Compare:

https://github.com/open-telemetry/opentelemetry-python/blob/c6a0e3eeac3adb852910e2da4b48f8d177eb532d/tests/util/src/opentelemetry/test/spantestutil.py#L28-L44

with

https://github.com/open-telemetry/opentelemetry-python/blob/c6a0e3eeac3adb852910e2da4b48f8d177eb532d/tests/util/src/opentelemetry/test/test_base.py#L26-L45

TestBase seems to be mostly an incompatible superset of SpanTestBas

[2021-07-27 17:05] ocelotl commented on #1975
We do not yet support Python 3.10. I can reproduce this error when using 3.10.0b1 but tests pass when I use Python 3.9.5:

[code]

[2021-07-27 21:11] ocelotl commented on #1912
Hello @Shackelford-Arden :v:

Sorry for the late reply. It seems like you want to have the same degree of control when instrumenting automatically that you have when you instrument manually. I have not  looked into the Celery auto instrumentation code but it can perfectly be the case that this can't be done (yet).

The instrumentation code for a third party library `X` exists in a `XInstrumentor`

[2021-07-27 21:32] ocelotl opened #1994 "Documentation mentions eachdist"
Our documentation suggests our contributors should use `scripts/eachdist.py`. As mentioned in `#1462, this is problematic because `eachdist.py` is a tool that overlaps with `tox`. Users have already reported some trouble, like in #1846.

Right now `tox` calls `eachdist.py`. Ideally we should remove `eachdist.py` completely, but since this requires some refactoring of `tox.ini`, at least remove it

[2021-07-27 21:42] ocelotl commented on #1846
@iblancasa does using `tox` instead of `eachdist.py` solves your issue?

[2021-07-27 21:46] Shackelford-Arden commented on #1912
Thanks for the response @ocelotl ! I wondered if this was the right place about looking to enhance the Celery instrumentation, but this helps me understand at least for now why the auto-instrumentation (conceptually) doesn't allow this level of control.

With this in mind, I get the sense that maybe this is something where manually instrumenting something like what I'm doing is the best method for

[2021-07-27 21:46] #1912 closed

[2021-07-27 21:54] NathanielRN opened #1996 "Resource aggregator method is missing Default Resource Bizmetric Attributes"
**Describe your environment**

As of OTel Python 1.4

**Steps to reproduce**

If you want to use custom `ResourceDetector`s, we recommend you use the `get_aggregated_resources` method because it will automatically merge your custom `ResourceDetector` with the `OTELResourceDetector` (used to read `ResourceDetector` attributes from the `OTEL_RESOURCE_ATTRIBUTES` and `OTEL_SERVICE_NAME` environment v

[2021-07-27 21:57] NathanielRN commented on #1996
Option 2 would require a one line fix:

[code]

becomes:

[code]

[2021-07-27 22:40] ocelotl commented on #1991
We actually do have [128-bit randomly generated trace ids](https://github.com/open-telemetry/opentelemetry-python/blob/main/opentelemetry-sdk/src/opentelemetry/sdk/trace/id_generator.py#L52). Is the issue here that we don't check that a trace is not greater than `2 **128 - 1`?

[2021-07-28 01:05] aabmass commented on #1996
This can already be done by passing `Resource.create()` here, right?
https://github.com/open-telemetry/opentelemetry-python/blob/39927787cc911af8567731728a37afc24f935d1e/opentelemetry-sdk/src/opentelemetry/sdk/resources/__init__.py#L284

For Option 2, you could just change the default for `initial_resource` to be `_DEFAULT_RESOURCE`?

[2021-07-28 15:52] Oberon00 commented on #1846
I think tox would definititely not have that problem, but does it have an environment to install everything in editable mode?

That said, I think updating to the newest pip will also solve the problem, i.e., I don't think this problem is reproducible now because as of pip 21.2.1, released 4 days ago the bug is fixed and eachdist.py updates pip before doing anything else with it.

[2021-07-28 15:56] Oberon00 commented on #1846
Specifically, this was pypa/pip#9204 which is mentioned in https://github.com/pypa/pip/blob/21.2.1/NEWS.rst#bug-fixes as

Since eachdist.py supplies everything on the same pip commandline (in hopes that being faster), it relies on pip to not break the ordering.

[2021-07-28 19:23] NathanielRN commented on #1996
Yes but it will duplicated adding `OTELResourceDetector()`.

Yes that's a good point! But we would miss out of the other stuff that `Resource.create()` does automatically (like setting the service name to `unknown_service` if no service name is provided and which [is required by the spec](https://github.com/open-telemetry/opentelemetry-specification/tree/main/specification/resource/semantic_conven

[2021-07-29 14:58] ocelotl opened #2001 "Remove deprecated coroutine"
We are using `@asyncio.coroutine` in one of our tests. This has been deprecated, use `async def` instead.

[2021-07-29 15:55] codeboten opened #2003 "Nominate @owais for python-maintainers"
Nominate @owais to become a python maintainer. Following the community guidance for maintainers.

### GitHub Username

@owais

### Organization you are requesting membership in

@open-telemetry/python-maintainers

### Sponsors (i.e. @open-telemetry/python-maintainers)

- @codeboten
- @lzchen

[2021-07-29 17:34] #1106 closed

[2021-07-29 18:13] lzchen commented on #2003
I believe the description needs to be fixed. `ocelotl` -> `owais`

[2021-07-29 21:45] ocelotl opened #2006 "Remove unused imports"
We have unused imported symbols in several places. Remove them and make flake8 report them.

[2021-07-29 21:49] ocelotl opened #2008 "Remove contextvars workaround"
We have a workaround for contextvars that we used for Python versions between 3.4 and 3.5.2. None of those versions are supported now, remove the workaround.

[2021-07-29 22:46] #2001 closed

[2021-07-30 13:18] ashu658 opened #2010 "Baggage value is not parsed correctly in downstream server"
**Environment:**
Python 3.7.9, Ubuntu 20.04
opentelemetry-api 1.4.0
opentelemetry-sdk 1.4.0
flask 1.1.3
requests 2.26.0

Setup: A flask upstream server (to set_baggage) and downstream server (to get_baggage).
Attached [requirements.txt](https://github.com/open-telemetry/opentelemetry-python/files/6907720/requirements.txt) if any additional dependency information is needed

**Steps to reproduce**
U

[2021-07-30 14:22] owais commented on #2010
Issue is that we use quote_plus to encode but quote to decode.

https://github.com/open-telemetry/opentelemetry-python/blob/71e3a7a192c0fc8a7503fac967ada36a74b79e58/opentelemetry-api/src/opentelemetry/baggage/propagation/__init__.py#L100
https://github.com/open-telemetry/opentelemetry-python/blob/71e3a7a192c0fc8a7503fac967ada36a74b79e58/opentelemetry-api/src/opentelemetry/baggage/propagation/__ini

[2021-07-30 15:40] lzchen commented on #1996
I don't think `detectors = [Resource.create()] + detectors` would work because `Resource.create()` doesn't return a detector.

Can we just include `_DEFAULT_RESOURCE` in `OTELResourceDetector` and then modify `Resource.create()` to only use `OTELResourceDetector` by default?

[2021-07-30 18:07] aabmass opened #2011 "opentelemetry-instrumentation pins opentelemetery-api version"
Follow-on to https://github.com/open-telemetry/opentelemetry-python/issues/1924

In https://github.com/open-telemetry/opentelemetry-python-contrib/pull/567, contrib instrumentation packages were switched to no longer pin opentelemetry-api versions. However, the instrumentation packages depend on `opentelemetry-instrumentation` which is still pinning the version:

https://github.com/open-telemetry/

[2021-07-30 23:13] NathanielRN commented on #1996
@lzchen That's a great call out!

I came up with a similar solution in #2013, except I didn't add the `_DEFAULT_RESOURCE` to `OTELResourceDetector`. I thought as a detector it should only "detect" things like it does from the `OTEL_RESOURCE_ATTRIBUTES` and `OTEL_SERVICE_NAME` environment variables.

But I would be okay with it also having the default attributes!

[2021-07-31 03:18] #1780 closed

[2021-07-31 09:31] lonewolf3739 commented on #2010
https://w3c.github.io/baggage/#definition

[code]

By this definition baggage values with space shouldn't be allowed in the first place, isn't it?

[2021-07-31 09:35] lonewolf3739 commented on #2010
Go has the validation for baggage items

https://github.com/open-telemetry/opentelemetry-go/blob/4bf6150fa94e18bdf01c96ed78ee6d1c76f8e308/baggage/baggage.go#L36-L55

[2021-08-02 16:42] #1991 closed

[2021-08-03 03:18] #1459 closed

[2021-08-03 14:50] NathanielRN opened #2014 "Audit our own `opentelemetry-instrumentation` pkg for compliance with OTel Instrumentation API"
There is currently an [OTEP Instrumentation API proposal](https://github.com/open-telemetry/oteps/pull/165) to consolidate the API for instrumentations across all the languages.

Additionally, there is this [Google Doc for the Instrumentation API Design](https://docs.google.com/document/d/1YNRCg9fdjJgZRs56vvf7rfFPk06mhp781sWHYypOaAk/edit#heading=h.b7qckyjgu28i).

Once that proposal is approved, we

[2021-08-03 16:31] codeboten opened #2015 "Update OTLP HTTP port"
As per spec change here:

https://github.com/open-telemetry/opentelemetry-specification/pull/1839

The OTLP HTTP port should be 4318.

[2021-08-03 19:20] ocelotl commented on #1957
@charlesoconor does the suggestion above solve your problem?

[2021-08-03 20:01] ocelotl commented on #1752
Hello

Sorry for the late reply. Please try with `opentelemetry-instrument --trace-exporter zipkin_json python uninstr.py` instead.

[2021-08-03 20:08] ocelotl commented on #1990
Sorry, how is this error related to this project? Where does the `tests/_helpers.py` file exists?

[2021-08-04 15:13] #2006 closed

[2021-08-04 22:53] aabmass commented on #1996
Unrelated, where did you see these called "business metrics?" I've never heard that lol

[2021-08-04 22:58] aabmass commented on #1996
Oh that's weird. I'm actually confused why all of that is happening in `Resource.create()`. Since the purpose of `_DEFAULT_RESOURCE` is to cache the defaults, I would have expected all of that to be in `_DEFAULT_RESOURCE` and `Resource.create()` to just do `_DEFAULT_RESOURCE.merge(Resource(attributes, schema_url))`

[2021-08-04 23:10] NathanielRN commented on #1996
Lol I hadn't heard about this either 😅 My manager was using this term a lot and it wasn't until I finally asked that I found out she was referring to "attributes which identify where the telemetry is coming from and which helps the business people use metrics to justify how many users are using this telemetry producer" 🙂

[2021-08-05 18:04] musicinmybrain commented on #1975
I’ve just taken over maintainership of this package in Fedora Linux.

The troublesome check is in `google/protobuf/internal/python_message.py`. Since I don’t really understand the root cause of the error, the bug (or “as-yet-unresolved Python 3.10 incompatibility,” if not yet considered a bug) could be in this package, or it could be in https://github.com/protocolbuffers/protobuf.

I will follow u

[2021-08-06 08:20] kosportel opened #2019 "Instrumentation dbapi is not capturing the odbc database access"
Hello,

I am trying to capture the database commands using Instrumentation DBapi, but i don't see anything to be reported to Jaeger. I am accessing database using pyodbc and pandas and i see while debugging that no exception is occurred and data are returned from the database. I have configured Jaeger in my local docker and I see that I am able to send there data if I use the simple getting starte

[2021-08-06 12:23] musicinmybrain opened #2020 "Wrong installation path in exporter “convenience” packages"
**Describe your environment**

This report should be reproducible on *any* platform.

Mine is Fedora Linux 34 with Python 3.9.6, setuptools 53.0.0, pip 21.0.1, and no other potentially-relevant pre-installed dependencies. (I can also reproduce on Fedora Rawhide with Python 3.10.0rc1, setuptools 57.4.0, pip 21.1.3.)

I am using version 1.4.1 of opentelemetry-python.

**Steps to reproduce**

[code]

[2021-08-06 16:34] ocelotl opened #2021 "CI is running slow"
This is an issue to track any updates we have on CI running slow.

[2021-08-06 21:44] NathanielRN commented on #2021
It's curious that it is getting stuck **specifically** on the `instrumentation` tests? I noticed mine PR #2013 is getting stuck at `run tox` while your #2022 is getting stuck at `install tox`. But yours was run 5 hours ago and mine only 2 hours ago. I guess we still just have to sit and wait? Doesn't look like we hit our limit?

[2021-08-09 09:39] ecourreges-orange commented on #1752
Thanks a lot, it works now, so I think I will spend 1/2 day in the next two weeks for a PR of documentation improvement.
I now have a functional example with 0 lines of code, a bunch of OTEL_* env vars, and the command `opentelemetry-instrument python uninstr.py` working as expected.

[2021-08-09 15:06] gionapaolini opened #2024 "Application hangs if Otel collector is down"
I initialize the tracer like this:
[code]
It seems that if the otel-collector is down, the entire application hangs and r=then crashes once it tries to send a span to the collector

I would expect that maybe it would send a warning or give an error, but it should not hang the entire application.

Is there a way to avoid this?

[2021-08-09 17:04] lonewolf3739 commented on #2024
OTLPExporter has exponential backoff retry mechanism with timeout 64 seconds. It does log the error message and status.

Can you elaborate this part? It should not block your main application unless it is at the process shutdown.

[2021-08-09 21:20] ocelotl opened #2027 "Nominate @NathanielRN for python-maintainers"
Nominate @NathanielRN to become a python approver. Following the community guidance for approvers.

### GitHub Username

@NathanielRN

### Organization you are requesting membership in

@open-telemetry/python-approvers

### Sponsors (i.e. @open-telemetry/python-maintainers)

- @lzchen
- @ocelotl

[2021-08-10 08:15] gionapaolini commented on #2024
Understood, I will try to reproduce with a small example, will keep you posted

[2021-08-10 17:29] #2027 closed

[2021-08-10 17:35] #2003 closed

[2021-08-10 19:57] potatochip opened #2030 "Segmentation fault with auto instrumentation in asgi applications"
**Describe your environment** I am experiencing a segmentation fault when using auto instrumentation with any asgi application. I have tested with both starlette and fastapi.

**Steps to reproduce**
Can be created with the following repo. Steps in README.md. https://github.com/potatochip/opentelemetry-segfault-example

**What is the expected behavior?**
No segfault

**What is the actual behavior?*

[2021-08-10 20:52] owais commented on #2030
Thanks for the report and reproducible example. Could you please also attach a traceback of the failure?

[2021-08-10 21:01] potatochip commented on #2030
The container exits with 139.  These are the logs
[code]

[2021-08-10 21:03] potatochip commented on #2030
Immediate difference that I see is that the message "Queue is full, likely spans will be dropped." occurs twice with automatic instrumentation, but only once with manual instrumentation.

[2021-08-10 22:10] owais commented on #2030
Does this only when auto instrumenting and not with manual setup? From the logs, it does look like that the tracing pipeline is set up twice. Not sure if that is the issue though. Can you please try setting `OTEL_BSP_MAX_QUEUE_SIZE` to a very large value (it's 2048 by default) and see if that makes the segfault go away or take a longer time to happen? Alternatively, you could set it to a very low

[2021-08-11 16:44] potatochip commented on #2030
This only happens with auto instrumentation, not manual. I set OTEL_BSP_MAX_QUEUE_SIZE=999999 and segfault still occurs. No change in the amount of time it takes.

[2021-08-11 18:08] owais commented on #2030
Thanks. That means the queue is not the issue. My initial naive guess is that somehow we are instrumenting things multiple times and that is causing weird memory access issues. Ill try to reproduce with you example and debug later this week.

[2021-08-12 01:27] lonewolf3739 commented on #2030
I tried to run this on my machine. I could recreate the issue. Here is the stack trace with more info
[code]

[2021-08-12 08:15] DrJackilD opened #2032 "State of the asynchronous stack support"
Hi guys!

I didn't find any other places to ask about this. Sorry for inconvenience.

Could anyone explain to me what is the status of asyncio support in opentelemetry-python? I noticed, that whole library are synchronous and exporters (e. g. Zipkin exporter) are using urllib inside, which blocked the whole main thread during execution. I'm working on a heavy async environment and it's important t

[2021-08-12 11:04] owais commented on #2030
gunicorn_config.py already sets up the tracing pipeline and I see opentelemtry-distro is installed as well meaning the instrument command would definitely setup two pipeline. We should update docs to not recommend using the instrument command with gunicorn but instead enable the instrumentations in gunicorn_config.py. I think that should solve this specific issue.

That said, we still want to supp

[2021-08-12 11:22] denitiu opened #2034 "Opentelemetry trace sampling - istio trace sampling"
**Describe your environment**
We are running our services in a istio-mesh enabled K8S cluster (we have envoy sidecars injected in each of our service) , with trace sampling set at mesh level, to be 100 and install
[code]

In addition, we set OTEL environment variables in our service deployment ( basically , just enhancing this https://github.com/istio/istio/blob/master/samples/bookinfo/platform/ku

[2021-08-12 15:47] owais opened #2035 "Add support for missing environment variables to SDK"
* Go over the spec and list down all environment variables that are not supported by Otel Python
* Create tickets/PRs to add support for missing one.

[2021-08-13 10:13] anirudhbagri opened #2038 "Django gunicorn auto instrumentation"
Currently, Django autoinstrumentation supports flask and uWSGI servers.
However, when running django app using gunicorn server, the autoinstrumentation does not work.

This is the command I am trying to run.

`opentelemetry-instrument --trace-exporter zipkin_json python3.8 gunicorn ${DJANGO_WSGI_MODULE}:application --name ${NAME} --bind=127.0.0.1:80 --preload
`
The app starts fine, but doesn't rep

[2021-08-13 16:28] yonkeltron commented on #1957
Adding `--namespace-packages` to the mypy invocation does solve this issue for me on Python 3.9. FYI.

[2021-08-13 19:57] #2011 closed

[2021-08-13 21:14] #1996 closed

[2021-08-16 09:25] gionapaolini commented on #2024
@lonewolf3739 Hi, here is a simple example
[code]

If you run it as it is (http://host.docker.internal:4317 should not be reachable), you will see that making a request will hang the entire application

[2021-08-16 12:01] ocelotl commented on #2024
@gionapaolini It is by [design](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/protocol/otlp.md#otlpgrpc-response), yes:

Maybe we can make the [timeout](https://github.com/open-telemetry/opentelemetry-python/blob/main/exporter/opentelemetry-exporter-otlp-proto-http/src/opentelemetry/exporter/otlp/proto/http/trace_exporter/__init__.py#L55) value configurable?

[2021-08-16 12:45] gionapaolini commented on #2024
Thank for the reply, would it help to use an agent as sidecar?
I don't like the idea that the application hangs in case collector is unreachable, is there a specific limitation for why it wasn't implemented as a "fire and forget" / async operation?

[2021-08-16 13:54] ocelotl commented on #2024
The specification itself says we should make this mechanism retryable. The application does not hang, it waits (I understand it may be the same your practical purposes). I'm not sure if it makes sense to make a retryable operation asynchronous.

[2021-08-16 14:14] anirudhbagri commented on #1466
I am getting the same error for `zipkin`!

`RuntimeError: Requested component 'zipkin' not found in entry points for 'opentelemetry_exporter`

[2021-08-16 14:55] lonewolf3739 commented on #1466
There is no `zipkin` entry point. It should be either `zipkin_json` or `zipkin_proto`.

[2021-08-16 15:15] anirudhbagri commented on #1466
Probably we can change this here as well?
https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/sdk-environment-variables.md#exporter-selection

[2021-08-16 15:48] ocelotl commented on #1975
This is the complete error message I get when I run the tests with Python 3.10.0b1:

[code]

This error seems to be related to gRPC, not to the jaeger exporter. I say we close this issue, what do you think @owais, @lzchen ?

[2021-08-16 15:59] musicinmybrain commented on #1975
This might be an instance of https://github.com/protocolbuffers/protobuf/issues/7408.

[2021-08-16 16:46] lzchen commented on #2034
The class definition is incorrect. `traceidratio` only respects the rate passed in. We will fix this.

[2021-08-16 16:55] lzchen commented on #2024
I remember we reduced the timeout amount to 64 [here](https://github.com/open-telemetry/opentelemetry-python/pull/1842). Seems like there was not concensus from the SIG for making this [configurable](https://github.com/open-telemetry/opentelemetry-python/pull/1842#discussion_r631959662), any thoughts on this @lonewolf3739 ?

[2021-08-16 20:46] lonewolf3739 commented on #2024
This is definitely a problem for some users. We can send a PR to spec SDK env variables to introduce something like `OTEL_EXPORTER_OTLP_RETRY_TIMEOUT` and get it accepted?

[2021-08-16 23:06] #2008 closed

[2021-08-17 08:21] gionapaolini commented on #2024
I'm not familiar with the implementation, but why would it be an issue to make it non-blocking? I think this would be ideal since it can keep trying in the background while the application can continue smoothly

[2021-08-17 09:13] owais opened #2041 "Link and Resource attribute count limits don't work"
**Describe your environment**

Current implementation does not respect link and resource (span) attribute limits.

**Steps to reproduce**

[code]

Run it:
[code]

**What is the expected behavior?**
Resource and Link should have a single attribute just like the span.

**What is the actual behavior?**
Attribute count limits are not respected for resource and links as both of them contain more attrib

[2021-08-17 09:15] owais opened #2042 "Event and Link max attribute count limit use wrong env var"
**Describe your environment**
Event and link attribute count limits use the wrong environment variables in SpanLimits. https://github.com/open-telemetry/opentelemetry-python/blob/main/opentelemetry-sdk/src/opentelemetry/sdk/trace/__init__.py#L575-L584

**What is the expected behavior?**
`OTEL_EVENT_ATTRIBUTE_COUNT_LIMIT` and `OTEL_LINK_ATTRIBUTE_COUNT_LIMIT` should be used to configure these limit

[2021-08-17 09:17] owais opened #2043 "Add support for `OTEL_SPAN_ATTRIBUTE_VALUE_LENGTH_LIMIT`"
Add support for span attribute length limit as described here: https://github.com/jtmalinowski/opentelemetry-specification/blob/49b7ec9c952621cf7dc6a0f9ee8b84f4746ceae0/specification/sdk-environment-variables.md#span-limits-

[2021-08-17 09:32] owais opened #2045 "Sequence attributes should be homogeneous but we allow booleans and integers in the same sequence"
**Steps to reproduce**
[code]

**What is the expected behavior?**
[code]

**What is the actual behavior?**
[code]

[2021-08-17 09:34] gionapaolini commented on #2024
For now I solved the issue by using a jaeger agent and jaeger exporter:
[code]
Although it gives an instant error, so it probably does not retry at all. But for my use-case, I still prefer it in this way

[2021-08-17 10:58] owais commented on #2038
It is not supported by the opentelemetry-instrument command. Docs mention it and explain how to instrument gunicorn based services: https://opentelemetry-python.readthedocs.io/en/latest/examples/fork-process-model/README.html?highlight=gunicorn#working-with-fork-process-models

[2021-08-17 10:59] owais commented on #2038
I'd like to leave this open in the hope of adding native support for gunicorn to the opentelemetry-instrument command.

[2021-08-17 11:38] anirudhbagri commented on #2038
AFAIK, even the `post_fork hook` doesn't work with auto-instrumentation using the way it is explained in the docs. The doc explains manual way of instrumenting. Probably we can update the docs to explain how to `auto-instrument` guincorn based services as well.

[2021-08-17 15:16] lonewolf3739 commented on #2038
I remember using Gunicorn with auto instrumentation and see it emit traces while debugging some issue.

[2021-08-17 15:27] lonewolf3739 commented on #2024
trace transformation and exporting happens in the separate background thread. How is that affecting your main application?

[2021-08-18 10:04] lavender04 commented on #1791
Is there yet a way to force the jaeger exporter to export all created spans? Something like the flush method in the specification?

Thanks in advance

[2021-08-18 13:53] #2032 closed

[2021-08-18 13:57] owais commented on #1990
@larkee if you think this is a bug in Otel, can you please provide a code snippet that exhibits the problem or steps to reproduce this with Otel libraries directly?

[2021-08-18 14:29] owais opened #2051 "Support global attribute limits"
Support the following environment variables

- OTEL_ATTRIBUTE_VALUE_LENGTH_LIMIT

Spec: https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/sdk-environment-variables.md#attribute-limits

[2021-08-18 17:31] gionapaolini commented on #2024
Few comments above I have provided a small example to reproduce the issue, the requests waits 64 seconds before responding because the collector is not reachable

[2021-08-18 17:44] owais opened #2052 "Update limits implementation to correctly deal with empty and negative values."
According to the [spec](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/sdk-environment-variables.md#span-limits-)

We should ensure out limits implementation takes this into account.

[2021-08-18 18:13] lonewolf3739 commented on #2024
Ah sorry I didn't notice the example. You shouldn't be using `SimpleSpanProcessor` for real world production purpose since it is by design blocking. You need to use `BatchSpanProcessor`.

[2021-08-18 19:51] gionapaolini commented on #2024
(sorry mistakenly closed the issue prematurely)
Thanks @lonewolf3739 it makes sense, will try and close the issue.

[2021-08-18 21:04] #668 closed

[2021-08-18 22:45] owais opened #2055 "Support `OTEL_ATTRIBUTE_COUNT_LIMIT`"
Spec mentions global `OTEL_ATTRIBUTE_COUNT_LIMIT` env var. According tot he spec, any model specific attribute count limit such as span, event or link attribute count limit should fallback to this if the model specific limit is not specified by the user.

[2021-08-19 09:13] HaraldGustafsson commented on #1266
@xkortex The PoC you wrote above on propagators, does that work with latest version, seems like the inject and extract have moved. I see that abstract methods exist in opentelemetry.propagate, but they does not seem to do anything. Or is it just me not getting it to work.

[2021-08-19 13:56] #2045 closed

[2021-08-19 13:56] #2041 closed

[2021-08-19 13:56] #2042 closed

[2021-08-19 13:56] #2043 closed

[2021-08-19 17:58] lzchen commented on #2055
Perhaps this should be understood as: Even if model specific limit has a default value, if the model specific value is not provided, but  `OTEL_ATTRIBUTE_COUNT_LIMIT` IS provided, it would use the provided value?

[2021-08-19 18:02] lzchen commented on #1968
I believe this can be closed due to [this](https://github.com/open-telemetry/opentelemetry-python/blob/main/opentelemetry-api/src/opentelemetry/environment_variables/__init__.py) and [this](https://github.com/open-telemetry/opentelemetry-python/blob/main/opentelemetry-sdk/src/opentelemetry/sdk/environment_variables/__init__.py).

[2021-08-19 18:27] owais commented on #2055
That is how I think it should work as well but spec says if the default is provided then it should use the default instead of the global (OTEL_ATTRIBUTE_COUNT_LIMIT).

From the spec:

[2021-08-19 18:28] owais commented on #2055
I created this issue to clarify or update spec: https://github.com/open-telemetry/opentelemetry-specification/issues/1878

[2021-08-20 01:53] owais commented on #1957
This should be documented as a FAQ on the docs site.

[2021-08-20 15:44] ocelotl opened #2058 "Add prototype metrics SDK"
Add a prototype for metrics SDK

[2021-08-22 03:29] codeboten commented on #2058
Is this different from https://github.com/open-telemetry/opentelemetry-python/issues/1835?

[2021-08-22 07:44] blumamir opened #2060 "auto_instrumentation example not working"
I tried to run the [auto_instrumentation example ](https://github.com/open-telemetry/opentelemetry-python/tree/main/docs/examples/auto-instrumentation).

I followed the instructions according to the README.
When executing the command `python server_instrumented.py` I got the following error:

[code]

This was fixed when I run `pip install flask` which was missing in the README.

Then I run the cli

[2021-08-22 09:47] lonewolf3739 commented on #2060
@blumamir Attributes in example are from server instrumentation but you are looking at the client instrumentation console output which doesn't have any attributes. You should be able to see the attributes on `server_instrumented.py` program.

Correct. We initially had instrumentation install the corresponding lib as a dependency but later we got rid of that. We should update the doc.

[2021-08-22 09:52] blumamir commented on #2060
Thanks @lonewolf3739.
There are 2 spans in the output, and both are missing attributes
I checked in collector and do see the attributes there, so guess it's only a minor issue with the `ConsoleSpanExporter`

[2021-08-22 10:01] lonewolf3739 commented on #2060
No you must be looking at the output from `python client.py testing` program. There is dev server running from `python server_instrumented.py` program, it does indeed have attributes. I just checked.
[code]

[2021-08-22 10:01] blumamir commented on #2060
You are right, was looking at the wrong terminal, thank you :)

[2021-08-22 11:29] lonewolf3739 opened #2062 "RuntimeError: Requested component 'jaeger' not found in entry points for 'opentelemetry_exporter'"
From the exporters selection of [spec](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/sdk-environment-variables.md#exporter-selection)

We have split up the exporters based on protocol + serialisation to avoid taking unnecessary dependency so there is no entry point for `jaeger`. If someone reads the spec and follows that recommendation they will run into thi

[2021-08-22 19:29] owais commented on #2062
Adding an alias could result in unexpected and hard to debug behavior as someone might expect gRPC and we enable thrift or vice-versa. I think we should do the following:

1. Update documentation to note actual exporter names (jaeger-thrift, jaeger-grpc, etc)
2. Handle cases like `jaeger` but crash early with a helpful error messaging guiding the user towards "jaeger-thrift", "jaeger-grpc" and may

[2021-08-22 19:31] #2060 closed

[2021-08-22 22:52] lonewolf3739 commented on #2062
What do you think about something like this? Update the glue package entry point with exporter default protocol recommended by spec.
[code]

[2021-08-23 03:24] aabmass commented on #1678
@bryanuribe are you still up for this issue? I can assign it to you if you still want to work on it.

[2021-08-23 10:12] owais commented on #2062
If there are defaults for jaeger,zipkin and otlp recommended by the spec then we should use them for sure.