[2022-09-21 00:22] sk- commented on #2934
@srikanthccv @ocelotl what do you think?

[2022-09-21 06:05] srikanthccv commented on #2934
This looks like a legitimate bug. I haven't gotten time to triage this. I will check.

[2022-09-21 14:05] srikanthccv opened #2942 "Review and update the semantic conventions"
There have been many changes made to sem conv such as removal of some attributes and change in required level for others. This might require some careful updates to ensure we comply with the spec.

[2022-09-21 17:47] lzchen commented on #2942
Feel free to split up this issue into separate issues to make approvals/merging easier and quicker.

[2022-09-21 17:48] lzchen commented on #2942
Related: https://github.com/open-telemetry/opentelemetry-specification/pull/2469

[2022-09-21 17:53] lzchen commented on #2940
Does this not apply to [logs](https://github.com/bogdandrutu/opentelemetry-specification/blob/3e9c4d081464399190456feaf14933da022cbc1f/specification/logs/api.md#get-a-logger) as well? Also the scope attributes should not be part of tracer identity either right?

[2022-09-21 20:49] srikanthccv commented on #2940
You are correct about the identity part - updated the description. And as you know we don't have `get_logger` similar to `get_{tracer,meter}` since we don't have the API and it's implementation. I didn't include logs in the description for that reason.

[2022-09-22 06:45] j-flat commented on #2761
i have the same issue, no traces send from the python app _(using Tornado framework with opentelemetry-instrumentation-tornado installed)_. Trying to use the auto-instrumentation mode. I also had no troubles using sample Java-app, but with Python no luck.

[2022-09-23 00:00] srikanthccv opened #2946 "Provide versioned semantic conventions with sub-package/folder"
The idea is to create a new folder for each version of semantic conventions release and instrumentation packages or end users can choose which one to use.

The folder structure will look like following

[code]

It is convenient to use this because we don't necessarily need to update the instrumentation every time there is a spec release. This will enable us to mark the package as stable since ther

[2022-09-23 02:14] srikanthccv opened #2947 "Update the default explicit histogram buckets"
Buckets should be updated with new values given here https://github.com/open-telemetry/opentelemetry-specification/pull/2770

[2022-09-23 14:55] ocelotl commented on #2946
I think it would be better to separate our semantic conventions code in a different repo so that we have an `opentelemetry-semantic-conventions` package that follows the releases of the spec because:

1. Code would not increase since we would not have repeated code in that repo.
2. When we want to update the semantic conventions now, we have to make a release for all our components. This way we co

[2022-09-23 15:45] codeboten commented on #2946
I like this idea of releasing `opentelemetry-semantic-conventions` when a new version of the spec is released. I do see some benefits to @srikanthccv's proposal in the following scenario:

- user application relies on semconv 1.11.0 and they use some instrumentations that also relies on 1.11.0
- user updates the instrumentation package to the latest which now depends on 1.12.0.
  - user applicatio

[2022-09-24 03:08] srikanthccv commented on #2946
I worry this sets an incorrect expectation that other SDK packages also follow and keep in sync with the spec release. Does any other SIG do this today?

This assumes that a new semantic version didn't delete anything which is not the case now. Take a look at the recent release, there are some attributes removed from the HTTP attributes which means the user might have to update the application cod

[2022-09-26 12:09] ocelotl commented on #2934
Checking...

[2022-09-26 12:56] ocelotl commented on #2934
Ok, I think this is what's happening here:

The definition for the baggage [`value`](https://www.w3.org/TR/baggage/#definition) says:

[code]
That is why our regex `value` is [this](https://github.com/open-telemetry/opentelemetry-python/blob/main/opentelemetry-api/src/opentelemetry/util/re.py#L30):

[code]
That regex does not allow space characters, the reported string has one in `%20`. The [spec

[2022-09-26 13:21] sk- commented on #2934
@ocelotl in the same spec you are citing you are missing the important part

[2022-09-26 17:56] ocelotl commented on #2946
The application code may need or not to be updated if another version of the semantic conventions are used but that is not the point here. The point here is that when using version-named directories a dependency _version_ is being specified outside the requirements file and into the application code.

That does not matter, with the version-named directories approach that generated code can be modi

[2022-09-27 12:35] ocelotl opened #2951 "Add benchmarks for aggregators"
[Other implementations](https://github.com/open-telemetry/opentelemetry-go/blob/main/sdk/metric/internal/aggregator_test.go#L105) have benchmark testing for aggregators, add the equivalent tests for Python.

[2022-09-27 14:57] srikanthccv commented on #2946
Isn't the idea behind `schema_url` about the ability for applications to use multiple sematic conv versions? How would it be possible if there is a separate package for each version?

[2022-09-27 16:33] lzchen commented on #2946
@ocelotl
I'm not following your suggestion here. Are you proposing to release a new differently named package per semantic convention version? i.e. `opentelemetry-semantic-conventions-1.12` for v1.12 of semantic conventions and also keep it in lockstep with the spec version?

[2022-09-27 17:28] ocelotl commented on #2946
No, I am suggesting to have our `opentelemetry-semantic-conventions` package follow this versioning scheme: `X.Y.Z.a`, where `X.Y.X` is the version number of the spec and `a` is an additional number for our bugfixes.

[2022-09-27 20:59] lzchen commented on #2946
@ocelotl

1. How does that solve the original goal of being able to mark semantic conventions package stable?
2. How does this make it so that we don't have to update our instrumentations everytime semantic conventions is updated?
3.

Isn't this what we already do today? How would users be able to use semantic version X without having to update their instrumentation version as well?

Maybe I'm not

[2022-09-28 10:44] ocelotl commented on #2946
Sure, I will :+1:

[2022-09-28 12:57] #2947 closed

[2022-09-28 17:02] srikanthccv opened #2953 "Bump protobuf from 3.15.0 to 3.18.3 in /docs"
https://github.com/open-telemetry/opentelemetry-python/pull/2949

https://github.com/open-telemetry/opentelemetry-python/pull/2948

[2022-09-29 00:33] cgspeck-aai commented on #2829
Adding my +1 to fixing the library. This is definitely a widespread problem and is affecting me too.

[2022-09-29 04:49] j-flat commented on #2761
Update on my case, I managed to get the setup running but I found out that I cannot run the python backend apps on refresh/hot-reload mode, or the traces would not be captured. I could not find it quickly in documentation that this would not be supported, but in my case when I ran the backend containers in "production" mode, traces were exported normally.

[2022-09-29 16:42] Raz-Hemo commented on #2880
+1

This is super annoying and preventing us from moving forward with a project which needs `google-cloud-bigquery`, which depends on protobuf 4, unless we ditch opentelemetry.

[2022-09-29 17:25] ocelotl commented on #2946
In the SIG we discussed that the problem with the approach I suggest is that we expect that it will be _frequent_ that an instrumentation will pin its dependency to a version of semantic conventions and another one to another version so that the user will have a problem when trying to install both in the same virtual environment (I specifically mention _frequent_ here because the same can happen t

[2022-09-29 19:42] gen-xu commented on #2880
I have created a work around for this https://github.com/open-telemetry/opentelemetry-python/pull/2954
Not sure if we want to accept PR since I would also agree this is and issue of protobuf itself.

[2022-09-30 08:12] LronDC opened #2955 "Logs instrumentation doesn't work with flask Werkzeug"
**Describe your environment**
![image](https://user-images.githubusercontent.com/59912384/193220254-d4762bf7-635d-49e4-a820-e9e86086fbcd.png)
Python 3.10.4
Werkzeug                                 2.2.2
Flask                                    2.2.2
**Steps to reproduce**
I'm trying to follow the [guide](https://opentelemetry.io/docs/instrumentation/python/getting-started/) and make a demo.
![imag

[2022-09-30 10:43] ljodal commented on #2880
I'm not really familiar with either protobuf or the open telemetry libraries, but it seems like Google themselves has started moving their libraries over to use protobuf 4. At least this is currently blocking us from updating a few of Google's python libraries to the newest version. So one way or another it would be great to have protobuf 4 support, and I assume most users will hit this at some po

[2022-09-30 16:28] sudhanshu-chauhan commented on #2939
would like to take this up @srikanthccv

[2022-09-30 19:32] avillalain commented on #1302
@lzchen is there any future plan on providing a non experimental release?

[2022-09-30 19:44] lancetarn commented on #2946
👋 New here, so feel free to ignore this... there is lots of context I don't have!

FWIW, I have used the "subpackage-versioning" strategy
[code]
within private packages to cushion against version conflicts while providing backward compatibility. It isn't the strangest thing I've seen, although I agree it also isn't the most straight-forward. All told, the `go` team's approach linked in the issue d

[2022-09-30 20:30] cazador481 opened #2956 "Handle telemetry server dropping, or not being available."
**Describe the solution you'd like**
If the telemetry server is not available, or drops I would like the code continue as if nothing happens.  Potentially logging a single warning message (This should be configurable).

We have long running processes, that can't handle the telemetry server going down.  If it goes down it can kill a process that is in the middle of computations, and can corrupt dat

[2022-09-30 21:08] lzchen commented on #2946
@ocelotl

So is your new proposal aligned with my question from before?

[2022-10-02 11:53] srikanthccv commented on #2956
@cazador481 Can you elaborate the issue? If the receiving telemetry backend is not available there will be log with warning and any exception arises due to that is caught and won't be thrown back to application code something what you described. Example here https://github.com/open-telemetry/opentelemetry-python/blob/main/opentelemetry-sdk/src/opentelemetry/sdk/trace/export/__init__.py#L375

[2022-10-02 13:43] srikanthccv commented on #1302
See https://github.com/open-telemetry/opentelemetry-python-contrib/issues/933 and https://github.com/open-telemetry/opentelemetry-python-contrib/pull/1359. We can only provide the non-experimental release only when the specification reaches stable https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/data-model.md#prometheus-compatibility.

[2022-10-03 11:03] ocelotl commented on #2946
This is normal, everytime an user wants to update a library the will add a change in their `requirements.txt` file.

This is true.

This is true.

This is true as well. I am proposing a horrible solution, indeed.

[2022-10-03 11:03] ocelotl commented on #2946
That's right, it is.

[2022-10-03 11:40] ocelotl opened #2957 "Add Exponential Histogram Mapping Functions"
See #2930

[2022-10-03 13:13] cazador481 commented on #2956
I get crashes when using http, and grpc endpoints, and try to connect to non existing clients.  Here is what is reported.  If you want me to write up a simple scripts to cause this let me know.

grpc endpoint
[code]

http endpoint
[code]

[2022-10-03 17:34] cazador481 commented on #2956
That is crashing the main application.

[2022-10-03 17:56] Knifa commented on #2432
Issue necromancy but wondering about this myself. What's the intention behind baggage context propagation (while trying not to overload this term) through spans?

[code]

I think this is further compounded because passing the created `context=ctx` to `start_as_current_span` doesn't actually attach to the context --- it's just used to grab the parent span.

[code]

My expectations were similar in t

[2022-10-03 18:17] cazador481 commented on #2956
Looks like I messed up something in my code, causing exceptions to gonuts.  I fixed that an the crash went away.  Though I am seeing logging messages go to the screen.  But that may be something on my end.  If it turns out to be not mine I'll file another bug.
Closing this bug.

[2022-10-03 18:17] #2956 closed

[2022-10-04 15:28] codeboten opened #2958 "OTLP exporters should emit standard user agent string"
As per the following change in the specification (1.14 releasing Oct 4):

See https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/protocol/exporter.md#user-agent

[2022-10-05 13:10] Corfucinas commented on #62
Is it possible to add to the documentation that `@tracer.start_as_current_span('my_span')` only works for `sync` functions only? Since it doesn't emit an error it's a bit confusing when a span doesn't show up

[2022-10-05 20:04] gen-xu commented on #62
+1

Also I am using this snippet myself to work around that, might be helpful to others
[code]
and so it can be used as
[code]

[2022-10-05 20:43] Corfucinas commented on #62
By looking at it this should work as-is for a wrapper for any function (sync/async), right?

[2022-10-05 21:33] gen-xu commented on #62
I don't the the wrapper (if you mean the `start_as_current_span_async`) will work for sync function, as it wraps as a coroutine in the end, but yes it should work for any async function

[2022-10-06 13:58] ocelotl opened #2961 "Fix dead link"
There is a dead link in the CHANGELOG, [here](https://github.com/open-telemetry/opentelemetry-python/blob/main/CHANGELOG.md?plain=1#L13).

[2022-10-06 14:42] ocelotl opened #2963 "Add exponential histogram"

[2022-10-06 16:32] aabmass commented on #2946
@codeboten I agree that would be nice. I see two way to do this without breaking semantic versioning
- keep `opentelemetry-semantic-conventions` as <1.0, doing minor version releases when we remove something and otherwise patch versions.
- bump the major version each time we remove something

Also re package size, I did a quick test by copying semantic conventions 200 times in src tree to get some

[2022-10-07 10:24] ocelotl opened #2965 "CI failing for celery instrumentation tests"
We need to update the contrib repo SHA in order to use [this](https://github.com/open-telemetry/opentelemetry-python-contrib/pull/1374) fix here.

[2022-10-07 14:01] ocelotl opened #2967 "Add or use missing metrics environment variables"
As per [spec](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/protocol/exporter.md#configuration-options).

We are missing or not using the following environment variables for metrics:

`OTEL_EXPORTER_OTLP_METRICS_ENDPOINT`
`OTEL_EXPORTER_OTLP_METRICS_INSECURE`
`OTEL_EXPORTER_OTLP_METRICS_CERTIFICATE`
`OTEL_EXPORTER_OTLP_METRICS_HEADERS`
`OTEL_EXPORTER_OTLP_ME

[2022-10-07 16:48] #2965 closed

[2022-10-08 07:01] #2955 closed

[2022-10-10 14:57] mcg1969 commented on #2778
@jeremydvoss @ocelotl @srikanthccv Hello folks! I've been working on building out conda packages for this package on the Anaconda defaults channel, and I ran across this issue. I'm actually finding it challenging to reproduce, and the test failure logs have expired so I can't see what you've done.

Also, since we build packages with binary packages a bit differently, we find that sometimes we can

[2022-10-10 16:13] #2953 closed

[2022-10-10 16:20] srikanthccv commented on #2778
@mcg1969 I am not completely sure but I think it was some import error.

[2022-10-10 16:47] mcg1969 commented on #2778
It looks like I'm going to be able to get all tests to pass with 1.56.4 as long as I pin to backoff<2.0.

[2022-10-10 18:50] mcg1969 opened #2971 "Observations getting 100% test passage using googleapis-common-protos=1.56.4"
**Describe your environment**

- Python 3.8, 3.9, 3.10
- linux-64, win-64, osx-64, osx-arm64, linux-aarch64, linux-ppc64le
- conda packages instead of pip

**Steps to reproduce**

This multi-output conda recipe

https://github.com/AnacondaRecipes/opentelemetry-python-feedstock/pull/1

is able to build all of the subpackages of opentelementry=1.12.0, even if they are linked against googleapi-common

[2022-10-11 12:37] saitama8mychicken commented on #1780
I too am facing the same issue.

Did anyone find the solution

[2022-10-11 14:43] srikanthccv commented on #1780
Please create a new issue with more details and a reproducible example.

[2022-10-11 14:55] thatsdone opened #2974 "trace_id duplication because of random.seed() calls from user program"
**Description**

trace_id and span_id generators of opentelemetry-python are not resistant against 'random.seed()' calls by user program.

When I was testing my multi-thread application with OpenTelemetry manual instrumentation,
I saw sometimes abnormally long transactions. After some investigation,
it turned out that those long transactions composed of 2 groups of spans that share duplicated trac

[2022-10-13 15:45] lzchen opened #2977 "Update sem conv gen script for metrics"
From https://github.com/open-telemetry/opentelemetry-python/pull/2976

[2022-10-14 18:29] JoeLoser opened #2978 "[Docs][Roadmap] When will logs be "Stable"?"
In https://opentelemetry.io/docs/instrumentation/python/, it mentions that log features are experimental. Can you share the roadmap/plans/timeline on when we think logs will become officially Stable? Thanks!

[2022-10-14 21:03] aabmass commented on #2977
Waiting on https://github.com/open-telemetry/build-tools/pull/79 I think

[2022-10-17 07:56] max-arnold opened #2979 "Override resource for each span within a single process"
**Is your feature request related to a problem?**

I'm writing a service in Python that receives SaltStack job return events, converts them to traces and then submits to Grafana Tempo.  A single job return can touch multiple machines, so I'd like to represent them as different resources with different colors. Below is a simplified data structure to illustrate the input format:

[code]

I tried to

[2022-10-17 08:40] max-arnold commented on #2979
Nevermind, figured it out:

[code]

[2022-10-17 08:40] #2979 closed

[2022-10-18 05:06] nanfuka commented on #2797
hi @aabmass my name is Deborah, am an outreachy intern applicant. can I work of this ticket

[2022-10-18 19:32] nickstenning commented on #2829
The problem here is the direct use of the generator returned by `backoff.expo` without an initialising `.send(None)` as done by the code in `backoff`'s "porcelain" APIs (`backoff.on_exception` and `backoff.on_predicate`).

This behavior changed in `back off==2.0.0` and the exporter retries are fundamentally broken with `backoff>=2.0.0`.

[2022-10-20 11:57] pankdhnd commented on #2761
@srikanthccv, the issue still exists.

[2022-10-20 20:51] faynburd commented on #2606
Any updates on this?

[2022-10-21 15:23] srikanthccv commented on #2797
Some of the requirements from the original description are already covered so please don't duplicate the same work.

[2022-10-21 15:26] srikanthccv commented on #2978
When the spec becomes stable https://github.com/open-telemetry/opentelemetry-specification/tree/main/specification/logs#opentelemetry-logging-overview. Until then it will be in experimental mode.

[2022-10-22 06:22] nanfuka commented on #2797
hi @srikanthccv  i would like to work on this scenario. _**turn default views off and require explicitly turning individual instruments "on"**_ should i go ahead or you hae another suggestion for me

[2022-10-22 07:16] srikanthccv commented on #2797
Sure, go ahead. I don't think we have converted that scenario yet.

[2022-10-24 07:45] nanfuka commented on #2801
@srikanthccv I would like to work on this issue, should I go ahead

[2022-10-24 07:58] srikanthccv commented on #2801
I have assigned this to you. Let me know if you have any questions.

[2022-10-24 12:19] nanfuka commented on #2801
@srikanthccv, kindly  guide me on how Prometheus is set up on this application, and how you run it

[2022-10-24 12:22] ocelotl opened #2984 "Unable to run docs in local environment"
When I run `tox -e docs` in my laptop I get this error:

[code]

Apparently this is related to our version of sphinx not supporting 3.10, [here](https://github.com/sphinx-doc/sphinx/issues/9562) is an error that looks related.

For the time being, we could just fix the python version that `docs` uses to be 3.9.

[2022-10-24 15:19] srikanthccv commented on #2801
You can follow this getting started guide to run Prometheus on your machine https://prometheus.io/docs/prometheus/latest/getting_started/. And here we have the exporter that can be scraped by Prometheus https://github.com/open-telemetry/opentelemetry-python/tree/main/exporter/opentelemetry-exporter-prometheus. You need to add a complete example of how to emit some metrics and make see they show up

[2022-10-25 07:11] falsedlah commented on #2837
Any update on this, I have the same problem. I got the exporter exception when the application starts and from time to time. My application is using forks.

[2022-10-25 10:44] ocelotl opened #2986 "Tests are failing with new Pytest version"
Pytest just released 7.2.0 and now tests are failing, reported [here](https://github.com/pytest-dev/pytest/issues/10420). Fixing pytest to 7.1.3 is a workaround.

[2022-10-25 19:52] thekuffs opened #2988 "Restricted / Redirected typing for sdk.trace.Tracer and sdk.trace.TracerProvider"
I've been working on integrating the opentelemetry sdk into a core support library for a set of microservices. I've run across an issue where the type selection for an interface seems unnecessarily restrictive. Originally I thought this was a design change that just didn't make it to documentation. But after some investigation I don't think that's it. I'll explain the case and then my reasoning.

[2022-10-25 19:53] #2986 closed

[2022-10-26 18:26] lzchen opened #2990 "Abstract out OTLP http logic"
From comment: https://github.com/open-telemetry/opentelemetry-python/pull/2891#pullrequestreview-1154473471

Similar to what we do [grpc])(https://github.com/open-telemetry/opentelemetry-python/blob/main/exporter/opentelemetry-exporter-otlp-proto-grpc/src/opentelemetry/exporter/otlp/proto/grpc/exporter.py#L187)

[2022-10-26 18:38] lzchen opened #2991 "Implement Client key file and Client certificate file for all otlp exporters"
https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/protocol/exporter.md#configuration-options

Include the environment variables as well.

[2022-10-26 19:27] lzchen commented on #2837
Currently, the `BatchSpanProcessor` can be deemed as having the feature of supporting forked environments _for itself_, meaning the thread creation, the api surface, the worker behavior should all work in a forked environment.

@jpmelos

What "causes trouble" is when an exporter is used in conjunction that does NOT support being in a forked environment. If an exporter is designed so that it could

[2022-10-26 19:47] #2984 closed

[2022-10-26 21:23] #2926 closed

[2022-10-26 21:41] #2447 closed

[2022-10-27 05:28] srikanthccv opened #2993 "Add handler for structlog"
Similar to stdlib logging library, adding a handler for `structlog` the popular alternative logging library can enable people to directly export with OTLP

[2022-10-27 10:09] ocelotl opened #2994 "Add all environment variable values defined in the spec to the environment variables modules"
We have environment variable modules for the API and SDK. There are some values defined in the corresponding spec section that are not included in these modules in an importable way (like default values).

[2022-10-27 10:14] ronyis commented on #2485
A follow up question for this feature -

Currently [`LoggingHandler`](https://github.com/open-telemetry/opentelemetry-python/blob/main/opentelemetry-sdk/src/opentelemetry/sdk/_logs/__init__.py#L309) holds a single `_logger` object which uses a single scope name. Since the same handler may be used by multiple loggers with different names, it will require initiating new internal [`Logger`](https://g

[2022-10-27 10:51] srikanthccv commented on #2485
Correct, the broader agreement was to maintain a map of scope: logger and use them. It would be great if we could have benchmarking numbers and memory requirements.

[2022-10-27 11:00] ronyis commented on #2485
Thanks @srikanthccv .
Is there a reference for this decision?
What kind of benchmarks do you mean?

[2022-10-27 17:31] lzchen opened #2996 "Find a place to publish benchmark tests"
From https://github.com/open-telemetry/opentelemetry-python/pull/2995

[2022-10-28 13:21] rbagd opened #3001 "Add metrics export to gunicorn example"
`gunicorn` section in OpenTelemetry documentation should be improved with an additional example of exporting metrics. This is useful for future users to avoid the surprise of weird metric behavior as in a fork-process model each worker generates its own metrics. If metric attributes do not account for worker identity, then end results might be surprising.

[2022-10-29 06:46] #2746 closed

[2022-10-29 07:08] srikanthccv commented on #2485
I don't know if it's ever written somewhere in the issues, but there was a slack channel where this discussion happened. I can probably look it ups and link here.

Here are the benchmarks java did when it had to make this decision https://github.com/open-telemetry/opentelemetry-specification/pull/1236#issuecomment-984058622.

[2022-10-31 10:18] pridhi-arora commented on #2958
Hi! I would like to take this as part of my outreachy contribution?
@srikanthccv Can you explain to me what part is left, as discussed on Slack? Thanks in advance.

[2022-10-31 10:32] srikanthccv commented on #2958
@pridhi-arora The last mentioned pull request only added the user agent header for the HTTP exporter https://github.com/open-telemetry/opentelemetry-python/tree/main/exporter/opentelemetry-exporter-otlp-proto-http but the same should also be done for the gRPC exporter https://github.com/open-telemetry/opentelemetry-python/tree/main/exporter/opentelemetry-exporter-otlp-proto-grpc. More specifically

[2022-10-31 13:01] pridhi-arora commented on #2958
Thanks, @srikanthccv. I will have something by tomorrow.

[2022-10-31 13:07] vladyslav-burylov commented on #2831
Hi team, just wanted to provide minimal snippet which reproduces this warning - we have faced it when checking output of our integration tests which spawn real app (with cloud tracing enabled) and call app endpoints as part of testing. In the example below it's all oversimplified, and only provides an ability to see warning in console when executing:

[code]

Expected output: `no warnings`

Actual

[2022-10-31 14:50] pridhi-arora commented on #2958
@srikanthccv
I have limited knowledge of protobuffs and grpc. Reading while working on this.
I wanted to understand what do we place instead of the following?
https://github.com/open-telemetry/opentelemetry-python/pull/2959/files#diff-0a0769c6ffd79e4f93558febb4d8575ddc9d9acdc1d4c3d0dc2c6328f832658dR77
[code]

From what I got to know by the way we send data in headers for grpc is

[code]
Keeping th

[2022-10-31 18:18] ocelotl opened #3005 "Implement general mechanism to handle signal-specific environment variables"
yeah, good catch, I think we have the same problem in Trace, will open a new issue to fix that there too.

_Originally posted by @ocelotl in https://github.com/open-telemetry/opentelemetry-python/pull/2968#discussion_r1009726328_

[2022-10-31 18:59] srikanthccv opened #3006 "Better version checking for backoff package in OTLP exporters"
This is a better way to check for a package version number:

[code]
[code]

_Originally posted by @ocelotl in https://github.com/open-telemetry/opentelemetry-python/issues/2980#issuecomment-1297529699_

[2022-10-31 19:01] #2829 closed

[2022-10-31 19:10] arshashi opened #3007 "SSL Handshake Error while connecting to endpoint https://abc.google.com/v1/traces"
**Describe your environment** Describe any aspect of your environment relevant to the problem, including your Python version, [platform](https://docs.python.org/3/library/platform.html), version numbers of installed dependencies, information about your cloud hosting provider, etc. If you're reporting a problem with a specific version of a library in this repo, please check whether the problem has

[2022-10-31 19:16] srikanthccv commented on #3007
Please format the code properly.

[2022-10-31 19:18] srikanthccv commented on #3007
This is probably happening because we use request session objects. Could do the suggested work here https://requests.readthedocs.io/en/latest/user/advanced/#prepared-requests as a first thing.

[2022-10-31 19:40] srikanthccv commented on #2958
`Content-Type` is just for HTTP exporter and was part of some minor refactoring. You need not do that in gRPC exporter. And yes the `User-Agent` should be tuple.

[2022-10-31 21:58] srikanthccv opened #3008 "Incorrect aggregation in Async instruments when attributes are dropped"
Original issue where this is reported https://github.com/open-telemetry/opentelemetry-specification/issues/2905

[code]

Output:
[code]

[2022-10-31 22:39] #2967 closed

[2022-10-31 22:47] cijothomas commented on #3008
For Gauge, "2" is the right value. Only for additive instrument, "2+1=3" is the right output.

[2022-11-01 03:50] srikanthccv commented on #3008
True. We will revisit and add some tests for all `Async-*` instruments, although they might already be working correctly.

[2022-11-01 07:26] pridhi-arora commented on #2958
@srikanthccv How do I update the header in log.
From HTTP, I see that I can do it as `self._session.headers.update(_OTLP_HTTP_HEADERS)`. But, how do I do it[ here](https://github.com/open-telemetry/opentelemetry-python/blob/main/exporter/opentelemetry-exporter-otlp-proto-grpc/src/opentelemetry/exporter/otlp/proto/grpc/_log_exporter/__init__.py#L60)?

[2022-11-01 07:52] srikanthccv commented on #2958
If you notice, it calls `super().__init__` i.e., `OTLPExporterMixin` so you only have to change that class.

[2022-11-01 11:47] Buduzz commented on #3006
Hi @srikanthccv
I am picking this issue #outreachy

[2022-11-01 17:40] #2957 closed

[2022-11-01 19:44] bruce-y commented on #2934
We are running into a similar issue. FWIW, The OTEL client for NodeJS handles values with spaces so long as they are percent-encoded.

[2022-11-02 00:04] jeremydvoss opened #3013 "Custom Sampler injection can cause a runtime circular dependency in certain situations."
**Describe your environment**
Version 3.10.7
While the custom sampler injection code worked for unit testing and some manual testing. I have discovered a bug that can easily occur.

PR that caused issue:  https://github.com/open-telemetry/opentelemetry-python/pull/2972

**Steps to reproduce**
Describe exactly how to reproduce the error. Include a code sample if applicable.

**What is the expected

[2022-11-02 03:53] #3001 closed

[2022-11-03 03:27] abhinavramana opened #3018 "Provide configuration to include more log required attributes"
We need filename, args, thread name given in https://github.com/open-telemetry/opentelemetry-python/blob/main/opentelemetry-sdk/src/opentelemetry/sdk/_logs/__init__.py#L281 because these were usually available in other places like AWS Cloudwatch.

[2022-11-03 03:59] Arnatious opened #3019 "TracerProvider "add_span_processor" references method not in SpanProcessor interface"
https://github.com/open-telemetry/opentelemetry-python/blob/b34782f6d764748804b3977ea489ff555cd3ab16/opentelemetry-sdk/src/opentelemetry/sdk/trace/__init__.py#L1183

This method is only available on `*MultiSpanProcessor`s.

Potential fixes
- `MultiSpanProcessor`s become a subtype, `[Concurrent/Synchronous]MultiSpanProcessor`s become a subtype of MultiSpanProcessor, and MultiSpanProcessor becomes t

[2022-11-03 19:35] srikanthccv commented on #3008
I created the issue assuming the issue existed for the async instrument in Python as well, but this seems to be working fine. Hence closing the issue.

[2022-11-03 19:35] #3008 closed

[2022-11-03 19:38] srikanthccv commented on #3006
@Buduzz Looking at the pull request changes, I don't think you understood the issue. What is needed is the removal of this logic, which tries to infer the version by checking the code behaviour and introduce the conditional logic by checking the `backoff` version using pkg_resources.

[2022-11-03 20:51] Alphasite commented on #2880
The latest version of `mypy-protobuf` also switched to 4.x, is there anything I can do to help with this effort?

[2022-11-03 22:08] Buduzz commented on #3006
@srikanthccv thank you, I'll the adjustments and revert

[2022-11-04 03:38] aabmass commented on #2971
The logs for the builds linked in that PR are expired so I can't see them but maybe it was related to https://github.com/protocolbuffers/protobuf/issues/10051 in which case we just need to regenerate the jaeger protobuf code? @mcg1969 If you can send a PR to remove the pinned dep (or possibly just exclude the single bad release if it's working now), that would be appreciated.

The other two issues

[2022-11-04 03:54] aabmass opened #3021 "Sum/Histogram/Gauge.data_points annotated as Sequence but actual type is generator"
This applies to all of the MetricsData data types `Sum`, `Histogram` and `Gauge`. The type annotation is `Sequence`:
https://github.com/open-telemetry/opentelemetry-python/blob/778c4b1cffdd448c531c868a9470618eb8a6517c/opentelemetry-sdk/src/opentelemetry/sdk/metrics/_internal/point.py#L68

But the implementation assigns an `Iterable` (specifically a generator which is not a valid `Sequence`):
https

[2022-11-04 14:27] Yamakaky opened #3022 "OTLP exporter pins opentelemetry-proto"
Both `opentelemetry-exporter-otlp-proto-*` packages have a hard `==` dependency pin on `opentelemetry-proto` instead of the softer `~=` used for the other dependencies. This mix of `~=` and `==` can break pip dependency resolution as it happened for me today.

Context:
- https://github.com/open-telemetry/opentelemetry-python/issues/1924
- https://github.com/open-telemetry/opentelemetry-python/issu

[2022-11-04 22:27] abhinavramana opened #3023 "Exceptions not registering in the main Exceptions page even though log page recognizes it"
**Describe your environment**
Hosting on AWS, but reproducible in normal local Docker too

The exceptions page doesn't get populated with logger.error  compared to if we don't catch it.

![image](https://user-images.githubusercontent.com/4195703/200083418-1d25580d-2bb5-4b36-b181-51a2aad07998.png)
Even though the logs do show it
[code]

**Steps to reproduce**
Code sample: https://github.com/abhinav

[2022-11-04 22:50] abhinavramana opened #3024 "Starlette logging middleware extensions lose the trace and span context in FastAPI"
**Describe your environment**
Happens in AWS docker containers as well as local box
Signoz running in Kubernetes but reproducible in local box as well

**Steps to reproduce**
Code: https://github.com/abhinavramana/trimmed-wombo-fastapi-signoz/blob/main/wombo/fastapi.py#L50 and https://github.com/abhinavramana/trimmed-wombo-fastapi-signoz/blob/main/wombo/logging_middleware.py
Video explaination: ht

[2022-11-04 23:10] abhinavramana opened #3025 "Get SQL parameters are not present in the trace page even though equivalent logs may/may not be present"
SQL parameters don't show up in the trace page in both the following cases: https://drive.google.com/file/d/1_n13S8Spknb07Ok7TCSH4iefdHQ1kzap/view?usp=share_link

1. If the request is successful. In this case the logger doesn't really matter if it is logging the SQL parameters or not because it will be part of the application code
2. In case of SQL error, the exception logs do contain the error,ex

[2022-11-05 02:26] srikanthccv commented on #3023
I believe you opened the issue with the wrong repo. Re-open if you think otherwise and what part of OpenTelemetry python has the issue.

[2022-11-05 02:26] #3023 closed

[2022-11-05 02:30] srikanthccv commented on #3024
Same as this https://github.com/open-telemetry/opentelemetry-python/issues/3023#issuecomment-1304380510

[2022-11-05 02:30] #3024 closed

[2022-11-05 02:32] srikanthccv commented on #3025
The parameter capturing is disabled by default to prevent sensitive information leakage into telemetry. You need to pass the `capture_parameters=True` for database instrumentations. Please take a look at https://opentelemetry-python-contrib.readthedocs.io/en/latest/instrumentation/dbapi/dbapi.html#api

[2022-11-05 02:32] #3025 closed

[2022-11-05 03:48] abhinavramana commented on #3024
This isn't the same issue. The traceId is definitely attached with logs in case of exceptions.

[2022-11-05 04:46] srikanthccv commented on #3024
I didn't say it was the same issue. I linked the comment with an explanation.

[2022-11-06 16:14] srikanthccv commented on #2376
PR #2375 attempts to address this; Can copy the changes by someone willing to sign or already signed the CLA.

[2022-11-08 03:01] srikanthccv opened #3028 "Implement logging API"
Ok, better to track this in a new issue then

_Originally posted by @ocelotl in https://github.com/open-telemetry/opentelemetry-python/issues/2943#issuecomment-1261141612_

[2022-11-08 03:04] srikanthccv commented on #3028
#2943 just renamed the SDK components. To be compliant with the spec we need to add API interfaces/implementations for logging components. Primarily the `LoggerProvider`, `Logger` and `LogRecord` should be part of `opentelemetry-api`.

[2022-11-08 08:52] Yamakaky commented on #3022
Hum, I first thought that the wrong version was installed, but I think this is a dependency specification problem. `grpc` requires `sdk~=1.12` but it does https://github.com/open-telemetry/opentelemetry-python/blob/main/exporter/opentelemetry-exporter-otlp-proto-grpc/src/opentelemetry/exporter/otlp/proto/grpc/metric_exporter/__init__.py#L35 which is introduced in 1.14.

In any case I believe the o

[2022-11-08 10:53] srikanthccv commented on #3022
The new proto definitions get added, and some get removed occasionally after deprecation https://github.com/open-telemetry/opentelemetry-proto, so we try to use newly generated files whenever possible and make sure to test them against the exporters' code.  If are you reporting an incorrect min version requirement for SDK that's a valid point but I don't see a good reason why the proto package sho

[2022-11-09 11:48] Jackmin801 opened #3030 "Missing resource attribute constants KUBERNETES_NODE_NAME and KUBERNETES_NODE_UID"
[code]

**Steps to reproduce**
[code]

**What is the expected behavior?**
No errors

**What is the actual behavior?**
Import error
[code]

[2022-11-09 12:52] #3030 closed

[2022-11-10 10:08] Shivanireddie opened #3031 "System Performance Metrics"
I used this below link for Instrumenting to collect system performance metrics

https://github.com/open-telemetry/opentelemetry-python-contrib/tree/main/instrumentation/opentelemetry-instrumentation-system-metrics?fireglass_rsn=true

but i dint not see any metrics, Can you pls provide some documentation if available to get System performance metrics.

At the same time, can you also please give upd

[2022-11-10 13:43] jessereich-mcs commented on #2606
I'm starting to see this error now too after upgrading to python 3.11 and updating opentelemetry-api and sdk to 1.14.0. But don't fully understand why it is being thrown only what seems to be in our deployed GCS flask application and not on development. We are using gunicorn.

[2022-11-10 18:23] lzchen commented on #3031
What do you mean you did not see any metrics? You can see the usage [here](https://github.com/open-telemetry/opentelemetry-python-contrib/blob/main/instrumentation/opentelemetry-instrumentation-system-metrics/src/opentelemetry/instrumentation/system_metrics/__init__.py#L46)

[2022-11-10 19:03] lancetarn commented on #3021
This seems like an approachable first issue for me, would give me some introduction to the metrics implementation and force me to get the project up and running. Do you mind if I give it a shot?

[2022-11-10 19:18] srikanthccv commented on #2606
What's the worker class you are using with gunicorn?

[2022-11-10 19:57] jessereich-mcs commented on #2606
gthread

[2022-11-10 21:45] jeremydvoss opened #3032 "Explore Custom Sampler injection via Entry Points for Manual Instrumentation"
In order to enable custom samplers for auto-instrumentation, I needed to use entry points in conjunction with environment variables -- same as exporters, distros, configurators, and other components. Since OT Sampling already uses environment variables (but not entry points) to enable users to specify a built-in sampler, even via manual instrumentation, I initially chose to expand that logic in th

[2022-11-10 21:50] jeremydvoss commented on #3032
I'll try to add a small example so people can easily reproduce the issue.

[2022-11-11 10:32] chandan-srm commented on #2854
metrics.get_meter_provider().start_pipeline(meter, exporter, push_interval)
AttributeError: 'MeterProvider' object has no attribute 'start_pipeline'
ERROR: Command failed.

[2022-11-11 14:02] chandan-srm opened #3033 "AttributeError: 'MeterProvider' object has no attribute 'start_pipeline'"
The pipeline started failing Today with the error :AttributeError: 'MeterProvider' object has no attribute 'start_pipeline':

File "./jira_api_logzio_deployment.py", line 54, in <module>
    metrics.get_meter_provider().start_pipeline(meter, exporter, push_interval)
AttributeError: 'MeterProvider' object has no attribute 'start_pipeline'
ERROR: Command failed.

Code snippet----------

[code]
expor

[2022-11-11 17:27] lzchen commented on #3033
What version of the api/sdk are you using?

[2022-11-11 17:29] #3033 closed

[2022-11-12 07:23] Emmaka9 commented on #3006
Is this issue resolved? I am looking for a "good first issue" as I have never contributed to open source before.

[2022-11-12 13:08] srikanthccv commented on #3006
This is not resolved yet, but there is already one PR attempting to address it, so I suggest you pick another good-first-issue.

[2022-11-13 04:30] Emmaka9 commented on #2991
Is it resolved? If not, I would like to work on it.

[2022-11-14 11:27] chandan-srm commented on #3033
opentelemetry-api-1.14.0 opentelemetry-exporter-prometheus-remote-write-0.35b0 opentelemetry-sdk-1.14.0 opentelemetry-semantic-conventions-0.35b0 protobuf-4.21.9 python-snappy-0.6.1 typing-extensions-4.4.0 wrapt-1.14.1

[2022-11-14 15:32] srikanthccv commented on #2939
@sudhanshu-chauhan are you still working on this?

[2022-11-14 19:54] psigen commented on #2880
@gen-xu : From the [original report](https://github.com/open-telemetry/opentelemetry-python/issues/2717), it seems like the correct thing to do is just regenerate the protobuf files using protobuf 3.19, and they should be forward and backwards compatible with both 3.x and 4.x versions.

Then we shouldn't need to switch between them at all.

[2022-11-15 13:08] srikanthccv commented on #2939
@sudhanshu-chauhan Since there has been no progress for the last 45 days, and you haven't responded, I assume you don't have the time to complete it. I am unassigning you. If you want to pick up something again, there is always more to do.

[2022-11-15 13:16] pridhi-arora commented on #2939
Can I take this one up?

[2022-11-15 13:32] pridhi-arora commented on #2939
`Similar to traces and metrics, the OTLP metric exporter should support ` Does it intend to say `OTLP log exporter`?

[2022-11-15 14:23] srikanthccv commented on #2939
You correct. They are already supported for traces and metrics. This issue is for adding the same to the OTLP log exporter. We need to add support in two places
1. gRPC exporter (https://github.com/open-telemetry/opentelemetry-python/tree/main/exporter/opentelemetry-exporter-otlp-proto-grpc/src/opentelemetry/exporter/otlp/proto/grpc/_log_exporter)
2. HTTP exporter (https://github.com/open-telemetr

[2022-11-15 14:39] pridhi-arora commented on #2939
Thanks @srikanthccv Taking this one up first.

[2022-11-15 16:16] ocelotl commented on #2974
I don't think this is a bug, we actually want `trace_id`s to behave like this for testing purposes. I think we should close it, WDYT @open-telemetry/python-approvers?

BTW, I found somehting weird with `random.seed` and threads:

I can reproduce with this code (in order to avoid possible issues caused by many threads writing to the same file (standard output) I refactored it to use Python objects

[2022-11-15 16:48] pridhi-arora opened #3036 "Typo in env variable name OTEL_EXPORTER_OTLP_METRRICS_CERTIFICATE"
It looks like the spelling of metrics is wrong in the env variable OTEL_EXPORTER_OTLP_METRRICS_CERTIFICATE
https://github.com/open-telemetry/opentelemetry-python/blob/main/opentelemetry-sdk/src/opentelemetry/sdk/environment_variables.py#L434

[2022-11-15 17:02] ocelotl commented on #2974
Maybe we can get more information [here](https://stackoverflow.com/questions/74449445/can-pythons-random-seed-be-affected-by-a-subsequent-call-to-time-sleep).

BTW, sorry, closed by mistake but reopened.

[2022-11-15 18:40] srikanthccv commented on #3036
Thanks, would you like to send a fix for this (just correct the name)?

[2022-11-15 21:58] aabmass commented on #3019
`self._active_span_processor` is actually of type `Union[SynchronousMultiSpanProcessor, ConcurrentMultiSpanProcessor]` so this should be fine:

https://github.com/open-telemetry/opentelemetry-python/blob/b34782f6d764748804b3977ea489ff555cd3ab16/opentelemetry-sdk/src/opentelemetry/sdk/trace/__init__.py#L1121-L1123

[2022-11-15 22:06] #3019 closed

[2022-11-16 04:42] pridhi-arora commented on #3036
Covered by this PR
https://github.com/open-telemetry/opentelemetry-python/pull/3039

[2022-11-16 15:31] ocelotl commented on #3021
Dumb question, can't we just change `Sequence` to `Iterable`? (would that be a breaking change?)

I am more concerned with this statement, @aabmass:

Can this produce hard-to-find bugs? Is there a way to test if this actually happens?

[2022-11-16 17:19] ocelotl commented on #2880
Hello, I have regenerated the code with protobuf 3.20.3 (also updated to use proto v0.19.0) at #3040.

@gen-xu @markfickett @jblakeney @psigen @Alphasite @ljodal @Raz-Hemo can you please try this one and let me know if it works for you?

Thanks!

[2022-11-16 18:21] abhinavramana commented on #3025
I can't find instructions for SQLAlchemy and unable to do it. Can you please tell https://github.com/abhinavramana/trimmed-wombo-fastapi-signoz/blob/main/wombo/database.py what changes I need to make here?

[2022-11-16 19:07] ocelotl commented on #2831
Thanks for reporting, fix submitted in #3041 :sunglasses:

[2022-11-16 19:20] jsuereth opened #3042 "[TC Review - Metrics] Duplicate registration logic"
The warning for duplicate instrument registration is incorrect. It should check for duplicate instruments with same name and different unit/description etc (distinct) rather than all fields being the same
[Relevant spec](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/api.md#:~:text=When%20more%20than%20one%20distinct,identity%20by%20the%20same%20Meter

[2022-11-17 09:59] ocelotl commented on #3007
Edited the issue for clarity.

[2022-11-17 10:03] arshashi commented on #3007
We were able to solve after adding the CA certificate to apply to the pods that certified the SSL. Thanks all for the help

[2022-11-17 10:03] #3007 closed

[2022-11-17 10:34] ocelotl commented on #1994
Our documentation no longer suggests `scripts/eachdist.py` be used, closing.

[2022-11-17 10:34] #1994 closed

[2022-11-17 16:07] ocelotl commented on #3013
@jeremydvoss please add the information that describes this issue here (I think it is now in the description of #3032).

[2022-11-17 19:00] sk- commented on #2934
@ocelotl I see your point, you are saying that the spec is ambiguos because given that the baggage-octet range includes the '%' symbol and the language around when to encode string, then there's no way to distinguish whether `a%20b` means `a%20b`, which would be fine because all characters are within the range, or whether it means `a b`, which would also be fine as the space is outside the range,

[2022-11-17 19:27] jsuereth opened #3043 "[TC Review] Some Metric View Conflict error messages are missing"
The conflict detection code for metric views in python is lacking a few features / could use some cleanup for user friendliness.

First - [this code](https://github.com/open-telemetry/opentelemetry-python/blob/main/opentelemetry-sdk/src/opentelemetry/sdk/metrics/_internal/_view_instrument_match.py#L62) checks for conflicting definitions of views.   However, it's still useful to give users a warnin

[2022-11-17 19:42] ocelotl commented on #2934
What I am saying is that for a baggage value to be parseable by `extract` it has to be percent-encoded first. In your example above you mentioned this:

[code]
That string `"sentry-transaction=GET%20%2Fapi%2Freport"` is not percent-encoded and that is why you are getting that error. Out of curiosity, why would you pass a non-percent encoded string to `extract`?

Sorry, how are we restricting the v

[2022-11-18 00:22] sk- commented on #2934
@ocelotl that value is percent encoded correctly, and corresponds to the value `GET /api/report`. That is a baggage value generated by Sentry, and it is encoded correctly according to the spec.

The problem with your example is that you are misunderstanding how percent encoding works. Please refer to the code used in the java package.

As I mentioned originally, the problem is that the validation

[2022-11-18 08:00] ocelotl commented on #2934
Ah, ok, now I can understand what you mean, fixing...

[2022-11-18 08:20] GDegrove commented on #3006
@nickstenning

Is this not why the backport of `importlib_metadata` exists?
This seems to be linked to #2927

[2022-11-18 18:11] markfickett commented on #2880
Thanks @ocelotl !

I'm still getting a pip dependency conflict between `pulumi` and `opentelemetry-exporter-otlp-proto-grpc`. The latter directly has relaxed requirements, but it requires `opentelemetry-proto` which requires `protobuf~=3.13`, which conflicts with a `4.x` requirement elsewhere.

I have recently found `pipdeptree` useful for sleuthing out these sorts of conflicts:

[code]

[2022-11-18 19:34] srikanthccv commented on #2934
@ocelotl Would you like to assign this yourself?

[2022-11-18 19:40] srikanthccv commented on #3022
I still don't understand what the author was referring to. How did it break the pip dependency resolution?

[2022-11-20 14:14] thatsdone commented on #2974
HI,

Sorry, I've been busy since I filed this issue.

I think this comes from Python multithreading nature. I mean inserting time.sleep() releases process wide single execution context (like the case of yield() of Lua), and other threads execute seed(2) before the time.sleep() caller thread gets CPU again.

Also, again, I'm NOT saying this is a bug.

But, it happens as @ocelotl reproduced. Granted

[2022-11-21 15:43] #3013 closed

[2022-11-21 22:51] lzchen commented on #2974
@ocelotl  @thatsdone
It does seem to be more of a feature-request. I'm closing this issue for now (as it was reported as a bug). If you would like suggest a different mechanism for generating ids feel free to make a new feature request.

[2022-11-21 22:51] #2974 closed

[2022-11-22 02:02] lzchen commented on #2993
@srikanthccv
Curious if we are formalizing going down the route of utilizing [handlers](https://docs.python.org/3/library/logging.handlers.html) in supporting telemetry collection of different Python logging libraries. For example, Java is utilizing [instrumentations](https://github.com/open-telemetry/opentelemetry-java-instrumentation/tree/main/instrumentation/log4j/log4j-appender-2.17) for loggi

[2022-11-22 02:24] mcg1969 commented on #2971
I don't mind if y'all close this out. I'm likely not going to be able to submit a PR here. I was able to finish my packaging work prior to finishing the report and I simply had to move on to other packages! I'm grateful for the project, truly!

[2022-11-22 03:09] cicada-chen commented on #62
I use this snippet and some error occurred:
TypeError: '_AsyncGeneratorContextManager' object is not callable
Any ideas? thanks

[2022-11-22 18:54] #3021 closed

[2022-11-23 13:26] JoanFM commented on #2880
+1 this would be a major benefit for Jina https://github.com/jina-ai/jina

[2022-11-23 15:09] psigen commented on #2880
Thanks @ocelotl, it seems to be working for me for the components I am using!

[2022-11-23 15:13] psigen commented on #2880
@ocelotl : I think you want to generate the protos using 3.19 (keeping that version locked in requirements.txt), and then _relax_ the runtime version dependency here to include `4.x` (because now those proto files should work in both 3.1x and 4.1x -- that would fix @markficket's problem.

The key thing is that the library version in `opentelemetry-proto` is going to be used by _clients_ of the lib

[2022-11-24 13:00] yuxiaoba opened #3049 "Trace Overhead is high in the example code"
**Steps to reproduce**
I have try to run the example code and measure the time overhead of trace.

I found that running `start_as_current_span` needs about 60 ms.

Adding 60ms is acceptable, is possible for me to reduce the latency?

[code]

**What is the actual behavior?**

[code]

**What is the expected behavior?**
run `start_as_current_span` needs about 70 ms.

Adding 70ms is acceptable,   is p

[2022-11-25 16:06] alaeddine-13 opened #3050 "Support protobuf 4.x in opentelemetry alongside protobuf 3.x"
**Is your feature request related to a problem?**
Protobuf version is still pinned to 3.x in open telemetry. This restricts Jina's protobuf version, even though we did efforts trying to support both versions of protobuf. Thus, the OpenTelemetry integration in jina enforces 3.x protobuf version and prevents users from benefiting from performance increase in 4.x

**Describe the solution you'd like**

[2022-11-25 16:53] Yamakaky commented on #3022
I didn't keep the original error at hand, but I believe this was due to the sdk version problem for the grpc exporter. I'll close this and open another one.

[2022-11-25 16:53] #3022 closed

[2022-11-25 16:59] Yamakaky opened #3051 "Wrong sdk version requirement for grpc exporter"
**Steps to reproduce**
The grpc exporter [requires `sdk~=1.12`](https://github.com/open-telemetry/opentelemetry-python/blob/main/exporter/opentelemetry-exporter-otlp-proto-grpc/pyproject.toml#L34) but it imports [`OTEL_EXPORTER_OTLP_METRICS_CERTIFICATE`](https://github.com/open-telemetry/opentelemetry-python/blob/main/exporter/opentelemetry-exporter-otlp-proto-grpc/src/opentelemetry/exporter/otlp/

[2022-11-25 19:30] rayrapetyan opened #3052 "Change default severity level in the logs example"
**Describe your environment**
N\A

**Steps to reproduce**
Run example from https://github.com/open-telemetry/opentelemetry-python/tree/main/docs/examples/logs

**What is the expected behavior?**
User should see all messages printed

**What is the actual behavior?**
User sees only messages with severity level WARNING and up

**Additional context**
I spent quite a long time trying to understand wher

[2022-11-28 10:59] nileshborse92 commented on #2454
How can we call callback function in python?
if we added at the time of metric creation it will give meter is already created but not reflected in console exporter.

Could you pls give suggestion here?
Thanks

[2022-11-28 13:23] alkurbatov commented on #2284
Hello colleagues.
I experienced the same issue :(

My setup:
* jaeger-all-in-one (including collector) docker container with grpc used to deliver tracing data
* my service with async nature in a docker container with proper handling of signals (sigint, sigterm)

**The problem**
If by some reason the all-in-one image goes down **before** shutdown of my service, the service fails to send tracing dat

[2022-11-28 19:11] lzchen commented on #2454
@ocelotl
Is the only thing missing to complete this issue is the ability to unregister callbacks?

@nileshborse92
I am not able to fully understand your question. Could you paste a code snippet and an explanation of your problem with actual vs expected output?

[2022-11-28 19:15] lzchen commented on #3049
@yuxiaoba
Do you have a specific suggestion on how we can make the api faster? How fast are you looking for specifically?

[2022-11-28 19:15] #2831 closed

[2022-11-28 19:21] lzchen opened #3053 "Implement events API"
https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/logs/event-api.md

[2022-11-28 20:04] ocelotl opened #3054 "Cache entry points"
i'm not sure but i think that importlib does not cache entry points and reads them every time `entry_points` is called.
when i checked it, it took about 5-10 ms for each call to `entry_points`. since it probably depends on the number of packages installed these times are not representative but indicate that there is some overhead.

afaik `pkg_resources` (although much slower than importlib) caches

[2022-11-28 20:05] ocelotl commented on #2454
@lzchen I think so

[2022-11-28 20:27] ocelotl commented on #2934
I did already.

[2022-11-29 04:58] howardyoo opened #3055 "ExportingMetricsReader for explicit metrics reading/exporting"
## Is your feature request related to a problem? ##
Yes. The problem that I wish to address is to have Metric Reader that does not rely on `intervals` like PeriodicExportingMetricReader, but the reader that can export the collected metric controlled by triggering it explicitly, via outside timer or scheduler. Another problem with the PeriodicExportingMetricReader is that we cannot start or stop it

[2022-11-29 10:26] ocelotl opened #3056 "Wrong comments in .flake8"
Inline comments in `.flake8` files are [no longer supported](https://github.com/PyCQA/flake8/issues/1750).

[2022-11-29 13:10] shalevr commented on #2688
Can you assign this to me?

[2022-11-29 17:44] #3056 closed

[2022-11-29 18:15] lzchen opened #3060 "Add proxies for logging api classes"

[2022-11-29 18:44] #3028 closed, assigned to lzchen

[2022-11-30 01:58] #2847 closed

[2022-11-30 10:20] nileshborse92 commented on #2454
Hi,

Please find below snippest code

from opentelemetry import metrics
from opentelemetry.metrics import get_meter
from opentelemetry.sdk.metrics import MeterProvider
from opentelemetry.sdk.metrics.export import PeriodicExportingMetricReader, ConsoleMetricExporter
from opentelemetry.exporter.otlp.proto.grpc.metric_exporter import (OTLPMetricExporter)
from opentelemetry.metrics import CallbackOpti

[2022-11-30 10:41] matejsp commented on #2854
This is a bit different use case for prometheus: pull (local http server) vs push (remote write).

I got remote write working using:
[code]

[2022-11-30 21:56] lzchen commented on #2454
Please create a separate issue for this. @nileshborse92

[2022-11-30 22:39] AldoCF96 opened #3061 "Example is not working for logs"
**Describe your environment** Describe any aspect of your environment relevant to the problem, including your Python version, [platform](https://docs.python.org/3/library/platform.html), version numbers of installed dependencies, information about your cloud hosting provider, etc. If you're reporting a problem with a specific version of a library in this repo, please check whether the problem has

[2022-11-30 23:02] ocelotl opened #3062 "Codespell does not ignore .git"
Codespell is not configured to ignore `.git`, this makes Codespell check a lot of unnecessary files.

[2022-11-30 23:09] #2376 closed