[2019-05-29 22:26] c24t opened #4 "Package and directory structure"
Decide on the directory structure and packages for the new repo. Borrowing from OpenCensus, this might look like:

[code]

Changes as compared to OC:
- `api` and `sdk` are separate packages
- `stats` has been merged into `metrics`

Open questions:
- What do we want to name the new packages: `opentelemetry-api` and `opentelemetry-sdk`, or just `opentelemetry` for the implementation package?
- Shoul

[2019-05-29 22:27] c24t commented on #4
See also @mayurkale22's [proposal for opentelemetry-node](https://github.com/open-telemetry/opentelemetry-node/issues/6).

[2019-05-30 00:00] c24t opened #5 "Tracing API"
Add abstract classes for tracing following the [java client](https://github.com/open-telemetry/opentelemetry-java/tree/master/api/src/main/java/io/opentelemetry/trace) and the (WIP) [spec](https://github.com/open-telemetry/opentelemetry-specification).

The API should also include no-op implementations for some classes, see the java client for details.

[2019-05-30 00:05] c24t opened #6 "Add Travis CI"
Configure travis to run (the as-yet unwritten) tests, lint, and coverage checks on each PR.

cc @lzchen, who did some related work in opencensus-python.

TODO:

- [X] run unit tests in API and SDK
- [X] lint and type checks
- [ ] coverage check

[2019-05-30 00:16] c24t opened #8 "Create packages, automate releases"
Create new `opentelemetry-` packages for the API and SDK, and consider doing the same for all OC contrib packages.

Configure CI to build and release these packages when we tag a new release.

See #6 for CI bootstrapping.

[2019-05-30 00:20] c24t opened #9 "Host docs, build on release"
Decide where to host generated docs, configure CI to generate (and possibly upload) new docs on each release.

See #6 for CI bootstrapping.

[2019-06-04 19:18] c24t commented on #6
We should consider adding pylint here as per https://github.com/census-instrumentation/opencensus-python/pull/667#issuecomment-497122313.

[2019-06-04 19:59] bogdandrutu commented on #6
yaay, we will have lint :)

[2019-06-05 14:18] carlosalberto commented on #4
Hey hey,

As some vendors may need to only consume (implement) the API, I'd personally stick to `opentelemetry-sdk` for the SDK, to avoid confusion. For the API, either `opentelemetry-api` or `opentelemetry` would be fine.

The rest look fine to me (although I'm still getting familiar with the existing codebase ;) )

[2019-06-05 21:00] c24t commented on #6
CI should also type check the API modules as e.g.

[code]

[2019-06-06 09:14] Oberon00 opened #13 "Public access to meeting notes"
I think we should add a link to a publicly viewable document with the meeting notes to https://github.com/open-telemetry/community/#python-sdk. We already share the hangouts link (via calendar), so why not the meeting notes too?

I do not like the other SIGs' way of sharing a publicly editable single document with all historic meeting notes though -- anyone could just edit past meeting notes after

[2019-06-06 16:46] reyang commented on #13
Like the idea @Oberon00!

[2019-06-06 16:58] SergeyKanzhelev commented on #13
this is done - @thomashchan1 sent PR. I filed an issue for other SIGs for read access

[2019-06-06 16:59] SergeyKanzhelev commented on #13
reopened in case you want to add a note for requesting access in readme, not in document itself

[2019-06-07 16:42] carlosalberto opened #14 "Python 2.7 support"
The current effort discards Python 2.7 support, and stick to the 3.x series. However, I know a few other vendors might need to stay compatible with 2.7, so I'm creating this ticket in order to track this.

[2019-06-07 16:42] carlosalberto commented on #14
cc @yurishkuro

[2019-06-07 17:01] yurishkuro commented on #14
No objections. Python 2.7 is EOL by the end of 2019.

[2019-06-10 22:01] carlosalberto commented on #14
Any input on this @palazzem?

[2019-06-11 11:58] Oberon00 opened #15 "Add central implementation "registry"/global tracer"
As the discussion about this on #11 is getting quite long (https://github.com/open-telemetry/opentelemetry-python/pull/11#discussion_r290769205), I opened this issue.

Basically, opentelemetry-python should provide some API that decouples code that just wants to use instrumentation/tracing APIs from any particular tracer implementation. Without such an API, one is forced (or at least tempted) to w

[2019-06-11 12:10] palazzem commented on #14
Thanks for the ping @carlosalberto! Yes I don't have any objection. As a vendor we're continuing to support Python 2.7 even a bit after EOL. But that will be a dedicated version with that support, so we don't have any concern and is aligned with our upstream.

[2019-06-11 12:42] Oberon00 commented on #15
Actually, I just noticed that the spec covers this point and puts that central component in the API component: https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/library-guidelines.md#language-library-generic-design

[2019-06-19 00:31] carlosalberto commented on #14
Closing this issue based on the feedback from OpenTracing developers.

[2019-06-19 00:31] #14 closed

[2019-06-19 00:46] carlosalberto commented on #15
So in general it would be nice to have something along the lines of `OpenTelemetry.getTracer()` and related members.

Now, now - in Java this is straightforward to do, as you can load at startup the `Tracer` and other members, and they get registered at that time, but for Python we might need to let users register that manually.

Maybe something like:

[code]

A few questions would be:

1. Do we n

[2019-06-19 02:03] c24t commented on #15
All good points, and in any case the spec does suggest the real implementation should replace the no-op implementation that ships with the api package (although "exact substitution mechanism is language dependent" leaves some flexibility). My only complaint here is mostly aesthetic -- we're asking application code to import a full implementation from a package named "api".

Since we have the optio

[2019-06-19 02:17] c24t commented on #15
What about a single module instead of a singleton? `opentelemetry.trace` could hold `Tracer`, `opentelemetry.metrics` could hold `Meter`, etc.

What's a good use case for replacing the global tracer at run time? Would it solve the problem if we made it easy to swap out the tracer implementation (but not the actual `Tracer` instance) at application start time instead?

[2019-06-19 19:18] c24t opened #17 "Add README"
I added a stub readme file in #16 to put contribution info front and center on the github project page, but the real readme file should include at least:
- a description of the OpenTelemetry project
- a description of the package structure
- installation and usage instructions
- links to examples and documentation

See also:
- https://github.com/open-telemetry/opentelemetry-java/blob/master/README

[2019-06-19 19:36] c24t commented on #14
As I understand it, we're planning for the "last" releases of opencensus-python and opentracing-python to depend on this project, and effectively forward all calls to the new client. Dropping support for python 2 here means these last releases won't support it either.

This seems like an acceptable tradeoff to me since users can still use older versions of each client, just not the one that adds t

[2019-06-19 20:07] carlosalberto commented on #15
My personal taste would be to have all these in a single module (and not through a singleton value). Similarly to how `io.opentelemetry.OpenTelemetry` holds the three of them.

My feeling is that it's not needed the vast majority of time, but we need to add a note there.

[2019-06-20 14:37] Oberon00 commented on #15
The only use I can think of for replacing the global tracer is a unit test. That is, if the selection mechanism for the initial tracer object is solid enough that it is not needed to overwrite the selected object right after initialization.

So there is a module `opentracing` that has `trace: Tracer` and `metrics: Meter` as globals? Generally that sounds like the simplest approach to me, which is

[2019-06-20 14:41] carlosalberto commented on #15
Yeah, that's the only case I could think of as well.

That's accurate ;)

[2019-06-20 17:05] c24t opened #18 "Provide safe defaults for span creation"
From https://github.com/open-telemetry/opentelemetry-python/pull/11#pullrequestreview-245809272.

The tracing API should describe the default options for span creation with missing arguments. We can't do this unilaterally, see https://github.com/open-telemetry/opentelemetry-specification/issues/141 to add this behavior to the spec.

[2019-06-20 18:17] #13 closed

[2019-06-21 01:32] reyang opened #22 "Add context API and implementation"
We target Python 3, which has different ways of handing asynchronous context:
1. Python 3.0 - 3.5, only Thread Local Storage is supported.
2. Python 3.6, `contextvars` supported as a backport https://pypi.org/project/contextvars/.
3. Python 3.7+, `contextvars` provided by the default library.

The current decision:
1. In order to support v3.x, we need to take the similar approach like [what we did

[2019-06-22 16:13] carlosalberto opened #23 "Add explicit parent Span support for Tracer.start_span()."
We need to support explicit parents (or no parent at all) for `Tracer.start_span()`, similar to what OpenTelemetry Java offers.

[2019-06-24 14:46] Oberon00 opened #25 "Decide supported Python 3.x versions (current code is 3.4+)"
In #14 we decided not to support Python 2. But with the current code base, we do not even support 3.6, even though `setup.py` claims we support 3.4. While it would be nice to be on 3.7 only, I think we should at the very least support 3.6. Demo:

[code]

This is [PEP 563](https://www.python.org/dev/peps/pep-0563/) which requires 3.7.

Type hints in general seem to be supported since 3.5 / [PEP 484

[2019-06-24 22:35] c24t commented on #25
It looks like we've got two options to support pre-3.7 python versions: rearrange the classes in the module or use string-valued annotations. From PEP 484:

[2019-06-24 22:40] c24t commented on #25
This seems fine to me since they're optional in any case. Type hints are at least syntactically valid in 3.4.

[2019-06-25 12:19] Oberon00 opened #28 "Decide unit test framework"
I noticed OpenCensus Python used the Python standard library's unit test framework, while OpenTracing uses pytest. Personally I'd prefer pytest, as it lets you write all your assertions with the `assert` keyword and you don't have to think about importing & using `assertEquals` vs `assertTrue`, etc. On the other hand, the stdlib has the (slight?) advantage of not requiring an additional developmen

[2019-06-27 01:01] c24t opened #36 "Standardize import style"
From https://github.com/open-telemetry/opentelemetry-python/pull/29#discussion_r297571808.

Should we:
- use relative imports or always use absolute?
- allow multiple imports per line? (@c24t says no, @Oberon00 says yes)
- follow the [google style guide](http://google.github.io/styleguide/pyguide.html#22-imports) and disallow importing classes and functions?
- add a linter like [isort](https://git

[2019-07-03 15:27] #4 closed

[2019-07-03 15:40] c24t commented on #36
From SIG call: if we're doing [multiple classes per module](https://github.com/open-telemetry/opentelemetry-python/pull/33#issuecomment-508052437) then it makes sense to import modules instead of classes, in which case we'd also prefer to do one import per line. This also follows the google style guide.

As for isort: if it's worth commenting on, it's worth adding a lint check.

[2019-07-03 15:40] #36 closed

[2019-07-03 15:41] c24t commented on #25
From SIG call: we'll support 3.4 and have no specific plan to drop support in the future.

[2019-07-03 17:52] carlosalberto opened #41 "Offer a specific/static no-op `Span` instance."
In Java, we have a `DefaultSpan` which does nothing by default (it can propagate `SpanContext` too, but that's more of additional stuff), and can be used as both a no-op object.

Specifically, `DefaultSpan.getInvalid()` offers a static instance that can also be used when setting parent (through `SpanBuilder.serParent()`) and also for `Tracer.getCurrentSpan()` (so the user doesn't have to do a `nul

[2019-07-03 19:19] Oberon00 commented on #41
Yeah, a designated instance would be nice, if only to improve performance. If we want to enforce that there can be only one instance of plain `Span` we could even override `__init__` to throw if `type(self) is Span` (one can set `__init__` after creating the singleton instance). But instead of a method I'd prefer a module or class-level attribute.

[2019-07-04 06:50] Oberon00 commented on #28
In the meeting on Wed 2019-07-03 we (@c24t, @carlosalberto, @reyang, @Oberon00)  decided to start out with the standard library's unit test module. If we find that we are duplicating a lot pytest features ourselves, we might reconsider this decision.

[2019-07-04 06:50] #28 closed

[2019-07-08 11:01] Oberon00 commented on #25
According to https://www.python.org/dev/peps/pep-0429/ and https://devguide.python.org/devcycle/, Python 3.4 is already EOL since 2019-03-18. Also pip complains: `DEPRECATION: Python 3.4 support has been deprecated. pip 19.1 will be the last one supporting it. Please upgrade your Python as Python 3.4 won't be maintained after March 2019 (cf PEP 429).`

[2019-07-08 19:54] c24t commented on #41
:+1: for having our own designated default span singleton.

One argument for making this a module-level constant is that it means one less concrete method in the API class (assuming you're saying we'd implement `invalid` in the API), but either way SGTM.

@Oberon00 you think it's worth locking down instantiation of `Span`? It does seem like it'd always be a mistake to create more than one plain `S

[2019-07-08 20:15] c24t commented on #25
Like the 2.7 deprecation, we're likely to have a lot of users that still rely on officially deprecated versions. So we have a tradeoff: do we support more users and eat the higher maintenance cost (restricted feature set, use of backports, required use of old versions of tools like `pip`) or support fewer users and save ourselves some headaches?

FWIW the [2018 JetBrains python developer survey](h

[2019-07-09 07:33] Oberon00 commented on #41
If you think that it is always a mistake to create a new Span then yes. It's easy after all:

[code]

Then there is also always the argument that allowing something later is a new feature but banning something later is a breaking change.

[2019-07-09 07:40] Oberon00 commented on #25
Python 3.4 and "other Python 3.x version" account for 5% in that survey. But what we could do is create a Python 3.4 build and see how much trouble it causes compared to a 3.5 build and decide then. I also reopened this because I felt like in the meeting we only agreed on supporting definitely nothing older than 3.4 but did not clearly decide on supporting 3.4.

[2019-07-09 23:42] c24t commented on #25
That's a good point, we can keep it open until we've got a decision on 3.4 support.

[2019-07-10 08:52] Oberon00 opened #44 "[loader] Decide setter/envvar interaction & behavior with multiple setter calls"
From https://github.com/open-telemetry/opentelemetry-python/pull/29#discussion_r300121139

Current behavior is that the factory function can be set multiple times before the object is created and the last setter-call wins.

[2019-07-10 09:01] Oberon00 opened #45 "[loader] Too easy to configure no-op implementation by mistake"
From https://github.com/open-telemetry/opentelemetry-python/pull/29#issuecomment-509971984

Several possible solutions come to my mind:
* Just provide setters that directly set the global objects. That would also resolve #44. Disadvantage: We allow changing an existing implementation and any loader logic is effectively circumvented if the app uses the setter.
* Don't load implicitly, explicitly re

[2019-07-11 13:46] carlosalberto commented on #23
Closing this one as #33 was merged.

[2019-07-11 13:46] #23 closed

[2019-07-11 13:50] carlosalberto commented on #41
At least in Java, a few `DefaultSpan` objects can be created (indirectly), while users are encouraged to use `DefaultSpan.getInvalid()`. Once the objects make this assumption is very clear, we should be fine.

[2019-07-11 15:09] Oberon00 commented on #15
See #44, #45.

[2019-07-11 15:09] #15 closed

[2019-07-15 23:32] c24t commented on #25
#46 adds testenvs for 3.4, 3.5, and 3.6, but doesn't (yet) run them during CI.

[2019-07-16 18:39] c24t opened #48 "Add metrics API"
Add the top-level metrics API package. See:

 - The [spec](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/metrics-api.md)
- [Metrics work in OpenCensus](https://github.com/census-instrumentation/opencensus-python/issues?utf8=✓&q=label%3Ametrics)
- [OT metrics RFC](https://github.com/open-telemetry/rfcs/pull/4)

[2019-07-16 18:41] c24t opened #49 "Add resources API"
Add resources API following [the spec](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/resources-api.md).

[2019-07-16 18:42] c24t opened #50 "Implement resources"
Following #49, implement resources in the SDK package.

[2019-07-16 18:43] c24t opened #51 "Add propagators API"
Add propagators API and propagation methods to the tracing API following [the spec](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/api-propagators.md).

[2019-07-16 18:44] c24t opened #52 "Implement propagators"
Following #51, implement propagators in the SDK package.

[2019-07-16 18:46] c24t opened #53 "Add sampling API"
Add the sampler API following [the spec](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/api-sampling.md).

[2019-07-16 18:48] c24t opened #54 "Implement samplers"
Following #53, implement samplers and use the sampling decision in span construction in the SDK package.

[2019-07-17 23:05] c24t opened #56 "Add single tox target for API and SDK tests"
See https://github.com/open-telemetry/opentelemetry-python/pull/37#issuecomment-506570212 and  https://github.com/open-telemetry/opentelemetry-python/pull/55#discussion_r304147833.

[2019-07-19 19:13] c24t opened #60 "Add span processor"
#58 doesn't include span processor hooks. These [exist in java](https://github.com/open-telemetry/opentelemetry-java/blob/cd06daa70eca1223c1c78a1ed7daee620d311dc5/sdk/src/main/java/io/opentelemetry/sdk/trace/RecordEventsReadableSpan.java#L111) but aren't yet [included in the spec](https://github.com/open-telemetry/opentelemetry-specification/issues/54).

[2019-07-25 15:26] reyang opened #62 "Support async/await syntax"
Python started to support async/await syntax in version 3.7.
We want to explore how to support this in OpenTelemetry Python.
Things to be explored are:
1. Do we provide this in the API package or API+SDK?
2. How do we test? If test cases are written using the async/await syntax, they won't work in Python <= v3.6, we might need to collect test cases based on runtime version.

[2019-07-25 21:57] c24t commented on #62
If we can solve the <3.6 problem I think it'd be great to include both sync and async versions of some methods.

What do we lose by using `asyncio.coroutine` instead of `async`/`await`?

[2019-07-26 00:29] reyang commented on #62
I haven't got time to explore this so I don't know the answer at this moment. Just list these questions so I won't forget about them :)

From my memory, `__aenter__` and `__aexit__` should be supported starting from Python 3.5, and it wouldn't do any harm (unless we want to enforce 100% code coverage) to have them for Python 3.4.
In OpenCensus we do have a minor issue when we lint examples, since

[2019-07-26 22:20] c24t opened #64 "Add Attribute, Event, Link classes"
Add exportable span attributes as described in https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/api-tracing.md.

[2019-07-26 23:51] c24t opened #66 "Consider using ABC"
Consider using [abstract base classes](https://docs.python.org/3/library/abc.html) and the various `abc.abstract*` decorators in the API package.

From https://github.com/open-telemetry/opentelemetry-python/pull/61/files#r307940312.

[2019-07-30 12:04] toumorokoshi commented on #50
@c24t should we close this since #61 went in?

[2019-07-30 12:04] toumorokoshi commented on #49
@c24t should we close this since #61 went in?

[2019-07-30 15:29] #50 closed

[2019-07-30 15:30] #49 closed

[2019-07-30 15:31] c24t commented on #41
Closed by #63.

[2019-07-30 15:31] #41 closed

[2019-07-30 15:32] c24t commented on #22
@reyang is this closed by #57?

[2019-07-30 15:36] reyang commented on #22
Not yet. I'm working on test cases which will be a separate PR, will close this after test cases added.

[2019-07-31 12:17] carlosalberto commented on #66
I was thinking it would be a good idea to use them in an uniform way - either we use them everywhere, or we don't use them (and remove their usage in the API).

(I'm up for using in the API side, btw ;) )

[2019-08-01 16:19] a-feld opened #71 "asyncio context propagation in Python 3.5/3.6"
The contextvars approach to context propagation requires copying current context on asyncio task creation.  This is done [internally in asyncio](https://github.com/python/cpython/blob/8990ac0ab0398bfb9c62031288030fe7c630c2c7/Lib/asyncio/tasks.py#L140) for Python 3.7; however, on Python <3.7 context is not propagated automatically.

Example:
[code]

In Python 3.7, the code above will print `foo tas

[2019-08-08 12:37] Oberon00 commented on #51
Implementation issue: #52

[2019-08-08 13:21] carlosalberto opened #75 "Add Attribute class"
See https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/api-tracing.md#set-attributes

[2019-08-08 13:23] carlosalberto opened #76 "Add Event class."
See https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/api-tracing.md#add-events

[2019-08-08 13:23] carlosalberto opened #77 "Add Link class."
See https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/api-tracing.md#add-links

[2019-08-08 13:24] carlosalberto commented on #64
@c24t just split this issue into three (each one for the mentioned classes). Ok if we close this one?

[2019-08-08 15:22] #64 closed

[2019-08-08 15:29] toumorokoshi commented on #71
I've used https://github.com/Skyscanner/aiotask-context before this functionality existed natively.

[2019-08-08 15:46] Oberon00 opened #79 "Integration: requests library"
Write integration that (semi-?)automatically traces outgoing HTTP requests made using the requests library. Probably much code from OpenCensus can be reused.

[2019-08-08 16:12] a-feld opened #81 "Integration: WSGI middleware"
Add an integration that provides a WSGI middleware to trace requests in WSGI applications.

[2019-08-09 15:14] alban commented on #75
I'd like to pick up that task.

[2019-08-09 15:26] carlosalberto commented on #75
Assigned this item to you ;)

[2019-08-14 00:29] reyang opened #85 "Generate docs for thread_local_context and async_context"
Tech debt in #73.
Refer to https://github.com/open-telemetry/opentelemetry-python/pull/73#issuecomment-519703042 for more details.

[2019-08-15 16:03] toumorokoshi opened #88 "use black as the default python formatter"
Proposing publicly to standardize on black as the Python formatter.

Black is fairly popular in the Python community, and is the default formatter for editors such as vscode. Autoformatting eliminates a class of discussion in PRs that does not provide material value to functionality.

[2019-08-15 16:05] reyang commented on #88
Almost neutral here.

[2019-08-15 16:21] a-feld commented on #88
Thumbs up from me! 👍

[2019-08-15 18:48] a-feld commented on #88
One minor note - if we're using black we'll have to [disable or change](https://github.com/open-telemetry/opentelemetry-python/blob/b7b38a5d5477797553ff0b85a690f55c9436e009/.pylintrc#L251) pylint's maximum line length
https://github.com/psf/black#line-length

[2019-08-16 00:56] victoraugustolls commented on #88
I’m into this too!

[2019-08-16 17:35] a-feld opened #91 "Implement DistributedContext API"
This ticket is to implement the `DistributedContext` API as defined in the [specification](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/api-distributedcontext.md).

[2019-08-17 05:25] toumorokoshi opened #93 "Enabling shared state across processes"
There are a couple use cases for being able to share objects across processes:

1. sharing counters / gauges to ensure that the value accurately reflects the correct value for all processes (helpful when using a multi-process web server such as gunicorn)

2. enable handing of trace information (may not be needed as oftentimes this is done via fork(), which will just create a copy-on-write copy).

[2019-08-20 02:43] c24t commented on #88
Big 👍 to that, I'd just ask that we set '--line-length=79` in the config.

[2019-08-20 23:30] Jamim commented on #25
Hi there,

Probably, it's time to drop support for Python 3.4.
How do you think?

[2019-08-21 01:13] #81 closed

[2019-08-21 12:17] Jamim commented on #36
As for me, `Google Python Style Guide` is brain damaging and shouldn't be used anywhere outside of Google.

[2019-08-21 21:36] carlosalberto opened #97 "Rename start_span/create_span"
Currently `start_span()` in different languages has different activation semantics: in Java and Ruby, it does not set the newly created `Span` as the active instance, while Python does (Go *seems* to offer to do it if you pass a `Context`).

In OpenTracing, for this purpose, we had `start_span()` and `start_active_span()`.

Hence I'd suggest renaming the related methods:

* create_span() -> start_

[2019-08-21 21:41] carlosalberto opened #98 "Add Span Status"
* https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/api-tracing.md#status
* https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/api-tracing.md#set-status

[2019-08-21 21:52] carlosalberto opened #99 "Add Span's UpdateName operation."
https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/api-tracing.md#updatename

[2019-08-21 21:54] carlosalberto opened #100 "Add Span's IsRecordingEvents"
https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/api-tracing.md#isrecordingevents

[2019-08-22 08:25] Oberon00 commented on #97
I don't like the name `start_current_span`, it sounds like it does `get_active_span().start()`. Maybe `start_as_current_span`? But to be honest, I think the current names aren't so bad either.

[2019-08-22 11:48] Jamim commented on #88
Please don't!
You don't have to do so at least because of Black's weird [double quote policy](https://github.com/psf/black#strings).

[2019-08-22 11:51] Jamim commented on #25
How do you think?

Any thoughts?

[2019-08-22 12:03] Oberon00 commented on #25
We should discuss this in today's SIG meeting (8:00 PST, see https://www.google.com/calendar/event?eid=NnNvbTJjYjZjZGdtNmJiMzc0cDNnYjlrNzFpbTJiOW9jOHIzNGI5aGM1Z2owYzlwYzhzbThkYjNjZ18yMDE5MDgyMlQxNTAwMDBaIGdvb2dsZS5jb21fYjc5ZTNlOTBqN2Jic2EybjJwNWFuNWxmNjBAZw)

[2019-08-22 12:04] Oberon00 commented on #88
While this is certainly nonstandard, personally I have no problem with using double quotes by default.

[2019-08-22 12:50] Jamim commented on #25
@Oberon00 Am I free to join the SIG meeting using Zoom?

[2019-08-22 12:59] Oberon00 commented on #25
Of course! 😃 The SIG meetings are open to all interested parties (see https://github.com/open-telemetry/community#community-meetings). You are very welcome to join!

[2019-08-22 14:28] carlosalberto commented on #97
I have no problem with the current names, but for uniformity purposes there is motivation to change them ;)

(and actually this could also impact `Span.start()`, as it would be removed to have a similar API with the other languages)

[2019-08-22 14:31] carlosalberto commented on #88
That's very weird :) (thanks for pointing that out, I wasn't aware of it) *Probably* a deal breaker IHMO, unless we really really want to go against the convention.

[2019-08-22 14:36] Oberon00 commented on #88
There is also the `--skip-string-normalization` option, but I would prefer normalized double quotes over no normalization 😄

[2019-08-22 14:37] Oberon00 commented on #97
Hmm, removing the ability to have an unstarted span would be a welcome simplification.

[2019-08-22 14:40] victoraugustolls commented on #88
I was going to post this now 😅, I’m into this thought too.

[2019-08-22 15:20] carlosalberto commented on #25
Things that need or work better with 3.5:

* `typing`
* `async def` syntax

[2019-08-22 15:21] toumorokoshi commented on #25
Notes from SIG meeting 08/22:

* python3.5 supports arrow return types
* python3.5 supports async / def support
*
* New Relic has a policy that matches PSF's EOL dates, or two years by default
* DataDog client seems to support 3.4 and 2.7. Not clear if that's related to PSF's EOL policy.

[2019-08-22 15:34] reyang commented on #25
Related to #62.

[2019-08-22 16:07] reyang commented on #97
Having unstarted span could be an important feature, I remember in OpenCensus there was scenario like this:

[code]

But personally I tend to put simplicity at the highest priority, unless there is a show blocker.

[2019-08-22 17:24] carlosalberto commented on #97
I don't think I've ever seen need for a pattern like this, to be honest. But even so, we could have that as an extra method (to have it remain as `create_span()`).

But having the `Span` be active or not from **Start Span** depending on language feels... weird ;)

[2019-08-22 17:30] carlosalberto opened #103 "Add SpanKind"
Not quite in the specification yet, but there's a PR (which will most likely will merged soon ;) )

https://github.com/open-telemetry/opentelemetry-specification/pull/226

[2019-08-23 08:54] Oberon00 commented on #25
Related #101 (if we use the contextvars backport, we might not need our thread local contextvars implementation).

[2019-08-26 16:41] Oberon00 opened #105 "pypy build seems to do nothing"
See https://travis-ci.org/open-telemetry/opentelemetry-python/jobs/575318501
The pypy build is green but tox seems to just install setuptools and exit.
It also complains: `Matching undeclared envs is deprecated. Be sure all the envs that Tox should run are declared in the tox config.`.

[2019-08-26 16:42] Oberon00 commented on #105
@Jamim maybe for you?

[2019-08-27 12:57] alban opened #110 "document pitfalls, e.g. confusion between tracer.Tracer() and tracer.tracer()"
**Is your feature request related to a problem?**

Yes, I initially tried the example from the README.md:
[code]

But I made a typo with the casing: I typed `trace.Tracer()` (the constructor for the abstract class Tracer) instead of `trace.tracer()` (returning the preferred implementation, configurable with `set_preferred_tracer_implementation()`). The output ended up as the following:
[code]

Aft

[2019-08-28 12:19] Oberon00 commented on #66
My thinking was (and I thought we decided that somewhere, but can't find it) that since the APIpackage must be usable on its own as a no-op implementation, we would make the API interface the no-op implementation instead of raising exceptions (that would require a separate NoOp version of each class in the API which is a lot of boilerplate code).

[2019-08-28 12:43] Oberon00 opened #113 "GitHub Repository description is "OpenTelemetry Python SDK""
This repository contains not only the SDK but also the API and ext packages though.

[2019-08-28 14:17] Oberon00 commented on #66
When using ABCs, we still have to create no-op versions of every class in the API (or maybe we could autogenerate these with "reflection"). I don't think the additional warnings are worth the complications  and/or boilerplate code though. As a vendor I would still think twice whether I want to risk crashing the app (even if only at startup) by deriving from an ABC that got a method added since I w

[2019-08-28 15:47] carlosalberto commented on #66
This is how we do it in OpenTracing. Not having this as a no-op implementation would mean creating (and maintaining) a `DefaultTracer` and related siblings, which effectively is the no-op.

My same feeling.

... and this has been a recurring talk, how to *not* break vendors for every new (minor) version ;)

[2019-08-28 20:20] condorcet commented on #71
Hi there! The alternative is to use contextvars backport -- `aiocontextvars` https://github.com/fantix/aiocontextvars/
But it has some limitations:
- It doesn't work with python < 3.5.
- It doesn't support context propagation for methods like `call_soon` (but we can achieve this feature by the PR fantix/aiocontextvars#66) so behavior in python 3.5/3.6 and 3.7 will be different. You can see tests a

[2019-08-29 14:48] carlosalberto commented on #97
Related issue in the specification: https://github.com/open-telemetry/opentelemetry-specification/issues/238

[2019-08-29 15:54] #99 closed

[2019-08-29 17:12] #91 closed

[2019-08-29 17:20] #88 closed

[2019-08-29 17:37] a-feld opened #116 "Implement a W3C Trace Context propagator"
This issue is related to #52 but is a sub-issue for implementing a W3C trace context propagator in particular.

The specification for [W3C Trace Context](https://github.com/w3c/trace-context) also has a [reference implementation](https://github.com/w3c/trace-context/blob/master/test/tracecontext/traceparent.py) which may be used.

Additionally, there is an implementation in [opencensus](https://gi

[2019-08-29 19:33] mauriciovasquezbernal opened #117 "Generate SDK documentation"
Currently only documentation for the API package is generated. It'd be nice to have documentation generated for the SDK package as well.

[2019-08-30 08:13] Oberon00 commented on #79
PR is merged, future "improvements", like propagation, will be added in new issues.

[2019-08-30 08:13] #79 closed

[2019-08-30 13:17] Oberon00 commented on #51
@toumorokoshi Are you still working on this? Otherwise I'd like to add the ability to get a propagator to the tracer (mirroring the Java implementation), so that integrations can use it.

[2019-08-30 13:23] Oberon00 commented on #5
Is this issue still actionable? I see we have lots of more specific issues, so I guess this can either be repurposed into a tracking issue (then other issues should link to this if applicable) or closed.

[2019-08-30 13:26] Oberon00 commented on #75
Closing this, because it seems to be done. Please reopen if that doesn't seem right!

[2019-08-30 13:26] #75 closed

[2019-08-31 04:51] toumorokoshi commented on #51
@Oberon00 if you want to take a shot, go for it. I would like to tackle this but I have some thoughts about the lack of clarification on the implementation in the spec that I'd like to tackle at the same time. That may take a while to hash out.

So I think an implementation that works as originally spec'd is a good thing to have.

[2019-09-02 04:45] toumorokoshi commented on #51
Actually I think I have a chance to tackle it this week, probably get a PR out by Tuesday or Wednesday. If you need to move faster go for it.

[2019-09-02 08:24] Oberon00 commented on #51
I don't have a particular need for that particular feature, I just thought this issue might be a leftover from the merged PRs. But if you are still working on it, I will find a different issue. 👌

[2019-09-02 14:44] toumorokoshi commented on #51
So I've given this area some thought, and I think that this object would be more intuitive if we unify the formatters for distributedcontext and spancontext.

I've outlined an OTEP outlining some other advantages: https://github.com/open-telemetry/oteps/pull/37, but specific to this issue:

I was taking @a-feld's suggestion and creating an object that will consume a context and be responsible for

[2019-09-03 15:40] toumorokoshi commented on #110
Would it be better to rename of modify the API to eliminate the pitfall? Docs are good but oftentimes they are not read or missed.

[2019-09-03 15:47] carlosalberto commented on #110
Actually for this reason (and a few others) we have `global_tracer()` instead of `tracer()` in OpenTracing. Maybe `get_tracer()` would be ok for us?

[2019-09-04 22:40] c24t commented on #36
Using `black` means that we have to allow multiple imports per line to get [consistent formatting with `isort`](https://github.com/open-telemetry/opentelemetry-python/pull/104/files#r321004334). We can still prefer importing modules by name to importing (e.g.) classes from modules.

[2019-09-05 15:57] Jamim commented on #6
I'm going to create a PR that addresses `coverage check` point.

What service would you like to use for coverage collecting?
I personally prefer https://codecov.io, but I want to know what service you want to integrate with.

[2019-09-05 16:05] toumorokoshi opened #123 "Global object for configuration"
Right now, we are heading toward singletons that are created per API to set / retrieve singletons.

For example, tracer has it's own tracer.tracer(), with that pattern.

Having the APIs loosely coupled with an explicit composition object requires the SDK / API consumer to be aware of all singletons, and set them themselves. If one is missed, one could end up with no emission of tracers / metrics a

[2019-09-06 13:23] toumorokoshi opened #125 "Consider using __setitem__ / __getitem__ instead of explicit setters / getters for propagators"
Based on this comment: https://github.com/open-telemetry/opentelemetry-python/pull/121#discussion_r321669808

We could probably just use convention to the setitem / getitem API and remove the need for the setter / getter functions as dictated by the propagators API.

[2019-09-06 14:59] Oberon00 commented on #123
This should be the commit I meant https://github.com/dynatrace-oss-contrib/opentelemetry-python/blob/1d5c219232545ceb694db49c938eac294410f721/opentelemetry-api/opentelemetry/backend.py (not sure why that file is outside src; see also #15 & #29)

[2019-09-06 16:58] toumorokoshi opened #126 "Multiple Context objects vs using named context"
I was working through https://github.com/open-telemetry/opentelemetry-python/pull/89, which enabled formatters to directly read and write to context objects. One aspect there is that this requires a standard way to set and get context values within a specific namespace.

There are two examples which use that today: DistributedContextManager and Tracer. Both use the Context object under the hood, a

[2019-09-06 16:59] toumorokoshi commented on #126
@a-feld @reyang wanted to get your thoughts on this one.

[2019-09-06 17:01] toumorokoshi commented on #110
how about get_global_tracer()? I like the explicit "global" in the name.

[2019-09-06 17:24] reyang commented on #126
I guess [`Context.with_current_context`](https://github.com/open-telemetry/opentelemetry-python/blob/42acdb9a38dc515da74cd7022d1aa5933d6f6844/opentelemetry-api/src/opentelemetry/context/__init__.py#L56) has already provided the functionality you're looking for?

It'll be helpful to have a concrete code example to explain why we want to do this.

[2019-09-06 18:52] a-feld commented on #126
This probably boils down to having a discussion about being more explicit with what is defined in a context within open telemetry.  For instance, I would imagine a context could contain both the current default tracer and the current distributed context. We could define interfaces like `opentelemetry.get_current_tracer()` that retrieve the tracer from the context. Similarly `opentelemetry.get_curr

[2019-09-07 00:15] toumorokoshi commented on #126
I agree some global context container with clear methods is the right approach. See: https://github.com/open-telemetry/opentelemetry-python/issues/123 for a proposal around that.

My personal opinion is a global object that we can instantiate multiple of as needed. for example:

[code]

I think regarding the scope of DistributedContext and SpanContext: it's true they are separate, but I think ther

[2019-09-09 09:08] Oberon00 commented on #110
Depending on #123, `globals().tracer()` sounds good.

[2019-09-09 09:21] Oberon00 commented on #126
What's that about naming? Where does it come from? Do you think about open-telemetry/oteps#16? The intent of this PR is (or was at least when I last read it) to allow disabling of individual instrumentations by tracer name. To support this use case, tracers with different names would need to share the same context. E.g., one example there is a tracer named "io.opentelemetry.contrib.mongodb". Of co

[2019-09-09 09:27] Oberon00 commented on #126
I'm fine with supporting only one current context, at least initially. I don't see any relevant use cases that would use multiple current contexts, and I think that support would make specification, configuration and implementation of OpenTelemetry significantly more complex.

Just to highlight one point where this would increase implementation complexity: Python [contextvars doc says](https://doc

[2019-09-10 09:16] Oberon00 opened #132 "Apply breaking changes to Span API (from Sampling OTEP 0006)"
Even though we don't support sampling yet, the following already applies:

 creation time.

 construction time.

Reference:
* Approval PR: https://github.com/open-telemetry/oteps/pull/28
* OTEP text: https://github.com/open-telemetry/oteps/blob/master/text/0006-sampling.md

[2019-09-10 21:09] mauriciovasquezbernal commented on #60
I think it was solved by https://github.com/open-telemetry/opentelemetry-python/pull/115.

[2019-09-11 07:11] #60 closed

[2019-09-11 08:25] #105 closed

[2019-09-11 10:15] griels opened #134 "Add ability to set explicit start & end time for span"
This is present in other implementations.
For example, Java has `spanBuilder.withStartTimestamp`.

It is crucial for situations where the start time is only known after an event has completed, for example when marshalling a span from a 'foreign' tracing system (this is my situation).

[2019-09-11 13:43] Oberon00 commented on #134
Spec reference: https://github.com/open-telemetry/oteps/blob/master/text/0002-remove-spandata.md

[2019-09-11 13:45] griels commented on #134
Great, sounds like it's on the todo list :) Thanks.

[2019-09-11 23:41] c24t commented on #18
This was fixed in later changes to the tracer, we don't throw at all in the API now.

[2019-09-11 23:41] #18 closed

[2019-09-13 11:37] Oberon00 commented on #76
Done in #130.

[2019-09-13 11:37] #76 closed

[2019-09-13 11:37] Oberon00 commented on #77
Done in #130.

[2019-09-13 11:37] #77 closed

[2019-09-13 11:46] Oberon00 commented on #22
I guess this is done now (not including the new spec changes?)

[2019-09-13 11:48] Oberon00 commented on #9
Actually I think this is something that would really hurt not to have for the Alpha, so I'm adding it. Probably https://readthedocs.org/ would work?

[2019-09-13 13:38] Oberon00 commented on #125
I'm for keeping explicit setters/getters as this is the most flexible API. But the user-facing API should accept mapping-like objects too.

[2019-09-16 04:27] toumorokoshi commented on #123
I'd like to sketch the approach here, in case people have opinions before I start writing code.

My approach at this point I think will expose the following APIs and be used as such:

[code]

[2019-09-16 07:47] Oberon00 commented on #123
Is that `configure` a convenience SDK function? Because there is no concept of exporters on the API level.

Actually, I'd prefer something that allows step-by-step configuratio, maybe something like I suggested in #45, with `finish_configuration` or `initialize` APIs, because it would allow something like:

[code]

[2019-09-16 08:47] Oberon00 commented on #123
BTW does anyone remember why we originally removed the single global object/dict from #29?

[2019-09-17 14:33] carlosalberto commented on #123
Btw, not all vendors support metrics, and there may be a scenario where you only want metrics with a Prometheus exporter, and the default no-op tracing, for example.

[2019-09-17 14:36] carlosalberto commented on #123
I don't like the intermediate `instance()` call at all. We can store in any way we want the the internal/global objects, but having the user fetching this `instance` all the time seems like boilerplate we could avoid.

[2019-09-17 14:45] Oberon00 opened #142 "Ensure that API tracer returns the right value types"
See https://github.com/open-telemetry/opentelemetry-python/pull/141/files#r325107543.

Also check mypy configuration to see why this is missed.

[2019-09-17 16:36] Oberon00 opened #143 "WSGI integration does nonstandard split between http.host and http.url"
See https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/data-semantic-conventions.md#http-server and https://github.com/open-telemetry/opentelemetry-python/blob/master/ext/opentelemetry-ext-wsgi/src/opentelemetry/ext/wsgi/__init__.py#L49-L56.

Even though the code seems right (apart from removing the query which should be included according to spec and adding a

[2019-09-17 16:37] toumorokoshi commented on #123
Regarding instance: we could remove it, and have top-level apis that look like:

[code]
It wouldn't be that hard to discover, just need proper documentation on top-level modules. There's a good argument too that if we show singleton references in the top level module, it's a quick reference to see what is and isn't configurable. @carlosalberto would that work?

[2019-09-17 16:38] Oberon00 commented on #143
CC @a-feld

[2019-09-17 16:41] toumorokoshi commented on #123
Regarding configure: I think no matter what we do, vendors can always provide a simple aggregate function to configure OpenTelemetry however they like.

I don't think #45 addresses my concern of making it clear what is or isn't configurable, or should be configured, although I see how it will help ensure configuration is deferred to first access so that people have a chance to configure globals be

[2019-09-17 16:44] toumorokoshi commented on #123
@Oberon00 I guess if this goes through preferences on the right solution to #45? I'd probably vote for a setter, with an implicit loader that matches the behavior of the current loader by default.

[2019-09-17 18:52] carlosalberto opened #144 "API: Review OTEPS 5 (Global initialization)"
The proposed RFC for Global Initialization landed some time ago, and some languages may benefit more than others from it. Nevertheless, wanted to drop a note here on the need to re-review it and make sure we are properly aligned.

For one, we do support a way to manually/explicitly register the global components, but this is also a call to potentially remove the automatic registration (in case it

[2019-09-17 18:52] carlosalberto commented on #144
@Oberon00 perhaps you can take a look at this, as you are the original author? ;)

[2019-09-17 18:53] carlosalberto commented on #123
Slightly related to #144

[2019-09-18 06:15] #103 closed

[2019-09-18 06:19] reyang opened #146 "Examples should be moved away from API package"
I was a bit surprised to see examples under the api package - https://github.com/open-telemetry/opentelemetry-python/tree/master/opentelemetry-api/src/opentelemetry/metrics/examples.
Need to find a different place.

[2019-09-18 07:09] Oberon00 commented on #123
@toumorokoshi The problem with a setter is that everyone will use it to set the SDK and then if you want to override that you need to change the source code to call another setter or monkeypatching it.

[2019-09-18 08:33] Oberon00 commented on #143
Found the "culprit": https://github.com/pallets/werkzeug/blob/master/src/werkzeug/serving.py#L202-L205

[2019-09-18 09:25] mauriciovasquezbernal commented on #142
I found out that mypy doesn't comply about a missing return statement when the function is empty: http://mypy-lang.blogspot.com/2016/11/mypy-046-released.html, not sure if there is a way to enable that, probably not.

[2019-09-18 10:54] Oberon00 opened #147 "No way to use_span withouth ending it."
use_span calls `span.end()` at the end, but it is the only way to set the current span. This makes it impossible to make the same span active multiple times.

Related open-telemetry/opentelemetry-specification#238.

[2019-09-18 11:53] mauriciovasquezbernal opened #149 "Implement BatchSpanProcessorExporter"
The (still unmerged specification) states that two built-in SpanProcessor should be included, simple span processor and a batch span processor. https://github.com/open-telemetry/opentelemetry-specification/blob/de3a38878e8535edc5a7acbd8b713be4f4a14031/specification/sdk-span-processors.md#built-in-span-processors

The first one was implemented in https://github.com/open-telemetry/opentelemetry-pyth

[2019-09-18 11:56] Oberon00 commented on #149
I assigned the issue to you. Thank you! 👍

[2019-09-18 14:29] carlosalberto commented on #147
Ooooh, hadn't realized this, thanks for catching it.

Yeah, we definitely need to add an optional method there, to optionally end the `Span`, i.e.

[code]

[2019-09-18 14:30] Oberon00 commented on #147
I think the default should be False but start_span should call it with True.

[2019-09-19 04:01] toumorokoshi commented on #52
Thoughts on closing this since we have propagator integration now, and there's a separate issue around tracestate propagation?

[2019-09-19 04:01] toumorokoshi commented on #51
This is delivered and ready for alpha release, with the merging of #137

[2019-09-19 04:01] #51 closed

[2019-09-19 14:08] carlosalberto commented on #147
Btw, I had tried to summarize some points when we were trying to decide on the overall thing for OpenTracing, and why I'm slightly inclined to actually have `end_on_close=True`:

https://github.com/opentracing/opentracing-python/issues/107

[2019-09-19 14:12] carlosalberto opened #152 "API: Consider removing `Tracer.create_span()`"
Have been reviewing other languages' implementations and it seems there's no way to create non-started `Span`s.

My take would be on removing the `Tracer.create_span()` method (at least from the API), to reduce API surface. It also feels like one of the cases where it makes sense to put it back in the API if/when we have a real need for it.

However, I remember the OC crew mentioning why it was ne

[2019-09-19 18:35] lzchen commented on #48
[#87] RFC 0003
[#136] RFC 0003 cont'd
[#140] RFC 0009

[2019-09-19 18:39] lzchen opened #155 "Implement Metrics API"
Following [#48], implement Metrics API.

[2019-09-20 10:02] Oberon00 commented on #22
@reyang

[2019-09-20 18:26] c24t opened #157 "Add Prometheus exporter"
Add prometheus exporter to prove metrics SDK. Consider adding console exporter for metrics. This depends on metrics SDK work: #155.

[2019-09-20 18:45] toumorokoshi commented on #123
Sorry @Oberon00, I'm not clear on what you mean by "change the source code to call another setter". Do you have an example to clarify?

[2019-09-20 20:14] c24t opened #158 "Consider using setuptools-scm"
@a-feld has a slick versioning solution that uses [setuptools-scm](https://pypi.org/project/setuptools-scm/) to set the version from git tags.

We should consider doing the same thing here to avoid updating version files by hand. Note that this doesn't mean that we have to release in response to git tags.

This approach also suggests that we should release all packages in the repo with the same ve

[2019-09-20 21:35] reyang opened #159 "No-op span ID generation"
1. If the span is not sampled, we shouldn't create a real span.
2. If the span is sampled, and there is just the API package (not the SDK package), the outgoing span (SpanKind = Server) should generate a new span id (but not a new trace id) in order to be compliant with W3C TraceContext. All the in-process spans should be dummy spans (zero span id).
3. If the span is sampled, and there is SDK pack

[2019-09-21 00:28] bogdandrutu commented on #97
I would strongly suggest to make python consistent with other languages and remove the "just create".

@reyang For attributes we do have an option to add attributes during the span creation time.

Also there were some concerns about having "delayed" start span option https://github.com/open-telemetry/oteps/pull/24 and if this capability is needed you need to have an otep to justify why we should s

[2019-09-23 07:31] Oberon00 commented on #123
Say I'm a PaaS vendor and have my own AwesomeSDK that implements the OTel API. Now I have a customer that deploys an application that uses OpenTelemetry. In the startup code, the application uses `opentelemetry.setTracer(opentelemetry.sdk.trace.Tracer())` to enable tracing. However, to see the traces in AwesomeUI, the AwesomeSDK must be used. With the setter, probably the solution would be to chan

[2019-09-23 10:17] johananl opened #161 "Handle "mixed mode" OT/OTel tracing in OT Bridge"
@krnowak brought to my attention the following use case for the OT bridge:

- Library A is instrumented with OT and uses the OT bridge. Library A creates a parent span.
- Library B is instrumented with OTel directly. Library B creates a child span whose parent is the span library A created.

Do we want the OT bridge to support this use case by handling parent-child relationship between the wrapped

[2019-09-23 10:50] Oberon00 commented on #97
By the way, I was thinking about removing the ability to `end_on_exit` in #154 and instead make `Span` a context manager (in a separate PR). Thinking about it, I came up with the following very funny code example:
[code]

Indeed, one can activate & automatically end the Span by doing
[code]

But that seems a bit arcane to me. What do you think?

[2019-09-23 10:52] Oberon00 commented on #161
I think this would work out of the box with the straightforward implementation of basically delegating the OT functions to OTel mostly one to one. Or what do you think would break that interaction?

[2019-09-23 11:21] Oberon00 commented on #9
@c24t I see you have already created the readthedocs project https://readthedocs.org/projects/opentelemetry-python/, so I'm assigning this issue to you.

[2019-09-23 12:30] mauriciovasquezbernal opened #162 "Add Jaeger exporter"
No too much to add.

Opening the issue to avoid duplicated work, please assign it to me.

[2019-09-23 13:12] Oberon00 commented on #162
CC @carlosalberto

[2019-09-23 13:14] Oberon00 commented on #162
Please be aware that since we pledged to have a Jaeger exporter for the alpha (see README) it would be great if this was finished this week 😅

[2019-09-23 14:07] Oberon00 commented on #159
I think we should just forwad the Trace-Context headers as-is (if at all). I think the specification backs me up:

In https://www.w3.org/TR/trace-context/#design-overview:

The more specific wording is is in https://www.w3.org/TR/trace-context/#mutating-the-traceparent-field:

(bold added by me)

[2019-09-23 14:31] krnowak commented on #161
I don't know how storing of the active span is done in python, but in Go we use the `context.Context` to store the current span. So for the scenario described above, the OT bridge would take care of putting the OT span into the context to mark it as an active OT span, while the Otel tracer that gets the call from the bridge would setup the context with the Otel span as a current Otel span.

Other

[2019-09-23 14:55] Oberon00 commented on #161
Looking at the OpenTelemetry code, I would implement a scope manager that sets / gets the active Span from the OpenTelemetry tracers (of course, setting is not possible ATM, #154 may help but you may need to add a new setter to the OTel Tracer).

[2019-09-23 16:09] reyang commented on #159
Not sure if the pass-through behavior was intended **ONLY** for proxy scenario (where one incoming call results in one outgoing call), or if this applies to a normal service scenario:

If service A calls B using `traceparent: 00-12345678901234567890123456789012-1234567890123456-01`, and B calls service C twice. Do we expect both calls to service C are using the same `span id`?

[2019-09-23 17:41] Oberon00 commented on #159
That's the consequence: They have the same trace-parent P. Basically the whole uninstrumented service U reuses the node of the parent and one can no longer distinguish whether some service C was called directly from P or through U.
But the same happens naturally in-process, when you consider instrumenting some previously uninstrumented method U that is called by P and that calls service or method

[2019-09-24 09:30] #147 closed

[2019-09-24 09:55] Oberon00 commented on #100
Indeed: https://github.com/open-telemetry/opentelemetry-python/blob/83aad2ff5ddba90fc6a882e9f2140417d286b5ed/opentelemetry-api/src/opentelemetry/trace/__init__.py#L164

[2019-09-24 09:55] #100 closed

[2019-09-24 09:57] Oberon00 commented on #159
It just came to my mind that with sampling we potentially have the very same behavior when some intermediate span is not sampled.

[2019-09-24 10:00] Oberon00 commented on #152
See also https://github.com/open-telemetry/opentelemetry-python/issues/97#issuecomment-533751541

[2019-09-24 10:02] Oberon00 commented on #123
Related #144 .

[2019-09-24 10:05] Oberon00 commented on #56
What is meant by "tox target"? Toxfile or environment?

[2019-09-24 15:09] johananl commented on #134
Same for setting an explicit end time when calling `finish()` on a span. I guess we can handle both in this issue.

[2019-09-24 16:50] lzchen commented on #146
Addressed in [#160]

[2019-09-24 16:52] lzchen commented on #98
Is this part of the Alpha Release as well? @Oberon00 @carlosalberto

[2019-09-24 18:40] carlosalberto opened #163 "API: current Span handling updates"
As part of https://github.com/open-telemetry/opentelemetry-specification/issues/238 we should not set the newly created `Span` as the current instance for `Tracer.start_span()`.

As part of this, we could also add a `Tracer.start_as_current_span()` (or with a similar name) method that would essentially do:

[code]

cc @Oberon00 (whose latest PR I sadly missed - sorry ;( )

[2019-09-24 18:48] carlosalberto commented on #98
I think it should be, yes (independently of how we represent it internally).

[2019-09-24 20:21] untitaker commented on #14
I believe that the argument "users on 2.7 can still use the older clients of each apm provider" only successfully shows why existing, longer-standing APM providers (datadog, newrelic) do not have much of an incentive to push otel into a direction to support 2.7. That argument cannot be used to argue why the move to drop 2.7 is in the common interest of making otel a standard.

[2019-09-24 20:36] c24t commented on #162
We talked with @SergeyKanzhelev a bit about this offline and agreed that the zipkin exporter should work for the alpha instead. The goal is to have *some* non-trivial exporter, doesn't necessarily have to be jaeger.

That said, we do need a jaeger exporter, and the sooner the better!

[2019-09-24 20:49] c24t opened #165 "Load opentelemetry-sdk impl by default"
From https://github.com/open-telemetry/opentelemetry-python/pull/160#discussion_r327797420.

cc @Oberon00.

Consider loading the default implementations of `Tracer` and `Meter` if `opentelemetry-sdk` is installed instead of requiring the user to call `set_preferred_{tracer,meter}_implementation`. Right now users get the API (aka no-op) implementation by default, even if the "default" implementatio

[2019-09-24 21:03] c24t opened #166 "Separate interfaces from no-op impls"
From https://github.com/open-telemetry/opentelemetry-python/pull/160#discussion_r327797420, related to #165.

We don't currently distinguish between abstract classes/interfaces and no-op implementations in the API package. We expect implementations to override the no-op `opentelemetry.trace.Tracer` class, which also serves as the `Tracer` interface. This pattern causes problems for `Meter` in #160

[2019-09-24 22:18] bg451 opened #169 "Conform to RFC 2 - Remove SpanData"
Howdy all, wanted to throw this into your backlogs. SpanData has officially been removed from the specification per [RFC 2](https://github.com/open-telemetry/oteps/blob/master/text/0002-remove-spandata.md). Here's the [specification diff](https://github.com/open-telemetry/opentelemetry-specification/commit/9d2edd2c465c6f16f78268e42655180890675730) but to summarize, SpanData was removed from the AP

[2019-09-25 01:04] c24t opened #171 "Host docs on readthedocs.org"
Split off from #9.

Host generated docs from #167 on readthedocs.org. Each set of generated docs for each new release should appear as a different version.

[2019-09-25 01:06] c24t commented on #9
@Oberon00 I split pushing to readthedocs.org out into a separate ticket. This one is done according to the original description, which I think is sufficient for the alpha.

[2019-09-25 03:55] reyang commented on #159
I can see one difference - if I see service C being called several times using the **same** trace-parent, I know it must have to do with some broken thing between P and C.

[2019-09-25 07:44] Oberon00 commented on #169
We never had SpanData in Python. The rest is already covered in #134, so closing this.

[2019-09-25 07:44] #169 closed

[2019-09-25 07:47] Oberon00 commented on #165
We explicitly decided against that. The code was already there and was removed. If you want to change that again, there is a spec-level issue: open-telemetry/opentelemetry-specification#171 (CC @carlosalberto)

[2019-09-25 07:48] Oberon00 commented on #166
That's the problem then, we need a no-op implementation for the Meter. I don't see how separating ABCs and no-ops helps.

Relatedly, the tracer no-op mode is also in a bad shape: #142.

[2019-09-25 08:36] Oberon00 commented on #159
In practice, usually that would indeed indicate that something is broken. But in theory, you can do the following (pseudo-python because I'm lazy):
[code]

[2019-09-25 08:57] Oberon00 commented on #14
It is a move in the common interest of making Python 3 a standard 😅

[2019-09-25 09:07] Oberon00 commented on #98
In https://docs.google.com/document/d/1-bCYkN-DWJq4jw1ybaDZYYmx-WAe6HnwfWbkm8d57v8/edit#heading=h.v6lhw87olr5l it looks like we claim to already have finished alpha. I wasn't in the Spec meeting myself,  is this interpretation correct? I don't think this is issue is essential for the Alpha. Of course if anybody wants to work on it, feel free to make a PR. 😃

[2019-09-25 10:00] untitaker commented on #14
I don't believe that's the stated goal of the otel group.

50% of our users (sentry.io) are on Python 2. 50% of PyPI downloads are Python 2.

One of those claims you'll have to believe me. The other one you can verify for yourself:

1. dataset: https://packaging.python.org/guides/analyzing-pypi-package-downloads/
2. query: `SELECT substring(details.python, 0, 1) as v, count(1) FROM [the-psf:pypi.d

[2019-09-25 12:32] untitaker commented on #14
Obviously sentry.io would like to see an opentelemetry that aims for 2.7 compatibility. But despite what I wrote above, I still don't have a strong opinion on what outcome is best for otel as a standard. The concerns about maintainability are valid, and you could argue that *by the time otel is ready* Python 2 usage will have decreased significantly. So that's a bet on the future of Python 2 I wou

[2019-09-25 12:56] Oberon00 commented on #14
What the usage stats don't show is how many of these projects are in maintenance-only mode and won't incorporate a new technology like OpenTelemetry anyway. I suspect the proportion is higher for 2 than 3.

[2019-09-25 15:02] bg451 commented on #169
Awesome!

[2019-09-25 21:41] #9 closed

[2019-09-26 09:18] Oberon00 commented on #143
Thanks to the squash-merge, the issue did not get closed automatically by #148, closing it now (note that the related #173 is also merged).

[2019-09-26 09:18] #143 closed

[2019-09-26 15:09] #113 closed

[2019-09-26 16:32] lzchen opened #178 "Implement Metric Observer + Callbacks"
Implement metric observer and callbacks for gauges.
Part of [#155]
Depends on [#160].

[RFC](https://github.com/open-telemetry/oteps/blob/master/text/0008-metric-observer.md)
[Specs](https://github.com/open-telemetry/opentelemetry-specification/pull/250)

[2019-09-26 16:33] lzchen commented on #178
@c24t Part of metrics SDK work.

[2019-09-27 00:46] c24t commented on #166
This is assuming we don't actually want implementers extending the no-op classes, but there may be an argument for writing them to be extended instead. As it is now, a `Tracer` or `Meter` with some non-overridden no-op methods wouldn't be very useful, and one of the benefits of `ABC` classes is that makes it explicit which methods need to be overridden.

[2019-09-27 20:03] #116 closed

[2019-09-27 21:03] reyang opened #183 "Consider using ContextManager for Context"
Follow up https://github.com/open-telemetry/opentelemetry-python/pull/181#discussion_r329248988. Post alpha v0.1 release.

[2019-09-27 21:04] reyang opened #184 "Consider making `suppress_instrumentation` 1st class citizen"
Follow up https://github.com/open-telemetry/opentelemetry-python/pull/181#pullrequestreview-294559615. Post Alpha v0.1 release.

[2019-09-27 21:41] lzchen opened #185 "Implement "record" for MeasureMetric"
Implementation of `record` for MeasureMetric in the SDK is not done.
There is still discussion about how we handle aggregation and configurations as well.

Part of [#155]
Follows [#160]

[2019-09-27 21:56] c24t commented on #165
You're right! After some discussion I agree that we shouldn't automatically load the "default" implementation, but we should make it easy to do so with some global config. We'll just continue to have ugly examples for the SDK for now.

[2019-09-27 21:56] #165 closed

[2019-09-28 01:15] #134 closed

[2019-09-28 17:44] lzchen opened #187 "Unit tests for Metric Exporters"

[2019-10-01 22:34] c24t opened #193 "Move azure exporters into separate repo"
Following https://github.com/open-telemetry/opentelemetry-specification/pull/277#discussion_r330265935, we need to move third party exporters out of the main repo. Azure is the only such exporter now, we'll have to do the same thing for stackdriver soon.

[2019-10-02 04:40] reyang opened #195 "Usability Discussion"
With the alpha v0.1 release we've managed to have a _hard-to-use_ SDK 🥇 , which has been demonstrated in #191.

This is a little bit deviated from the [Zen of Python](https://www.python.org/dev/peps/pep-0020/), as well as most of the collaborators' intention ❤️ .

Let's see if together we can do something to make the API/SDK more friendly to users:
1. Be Python idiomatic.
2. Make it work by defaul

[2019-10-02 15:27] lzchen commented on #195
The PR link does not work.

[2019-10-02 19:50] hectorhdzg opened #196 "Support log handler in Azure exporter"
Add Python logging handler for Azure

https://docs.python.org/3.7/library/logging.html#handler-objects

[2019-10-03 02:06] reyang commented on #193
@victoraugustolls FYI.
@lzchen please keep Victor posted on the progress.

[2019-10-03 03:32] reyang opened #197 "W3C TraceContext compliance"
We have an initial implementation of TraceContext and it has some issues.

The following code would get 30 test failures according to the latest [W3C Distributed Tracing Validation Service](https://github.com/w3c/trace-context/tree/master/test):
[code]

[2019-10-03 03:33] reyang commented on #197
Here goes the validation result:
[code]

[2019-10-03 03:34] reyang commented on #196
According to #193, we should move the Azure specific work stream out of OpenTelemetry.

[2019-10-03 03:35] #196 closed

[2019-10-03 12:32] mauriciovasquezbernal commented on #149
I forgot to add a cross reference, solved by https://github.com/open-telemetry/opentelemetry-python/pull/153

[2019-10-03 12:32] #149 closed

[2019-10-03 13:07] Oberon00 commented on #196
Also, according to https://docs.google.com/document/d/1-bCYkN-DWJq4jw1ybaDZYYmx-WAe6HnwfWbkm8d57v8/edit#heading=h.yvygzzjg36m3, we shouldn't implement major new features before they are specified.

[2019-10-03 15:38] toumorokoshi opened #202 "Integrate w3c TraceContext validation into CI and tox"
There is an external validator to ensure that the TraceContext spec is adhered to:

https://github.com/w3c/trace-context/tree/master/test

We should integrate this as a test that is executed for CI. Probably with a version pinned so we don't randomly break CI as new specifications are added.

[2019-10-04 10:04] z1c0 opened #203 "Implement "Named Tracers and Meters""
The "Named Tracers and Meters" RFC (https://github.com/open-telemetry/oteps/blob/master/text/0016-named-tracers.md) has been approved and was added to the specification (open-telemetry/opentelemetry-specification#264).

Please make sure to also update the documentation if necessary (tracer, meter creation).

OpenTelemetry language repositories now need to implement this mechanisms.

[2019-10-06 21:17] lzchen commented on #193
Should the discussion of where we are moving third party exporters to take place here or in the community? It would make sense to align the decision across all libraries, so I feel like it should be a community discussion.

[2019-10-06 21:19] carlosalberto commented on #193
@lzchen I think that most vendors will probably desire to have it in their own organization - and for those ones that don't, we should be able to put that in opentelemetry-contrib (I think @reyang will talk/ask Sergey about this).

[2019-10-08 10:24] #162 closed

[2019-10-08 21:21] hectorhdzg opened #209 "pymongo integration"
Add trace integration with pymongo

https://pypi.org/project/pymongo/

[2019-10-08 21:23] hectorhdzg commented on #209
Would like to keep contributing to the project and we are missing multiple key integrations, let me know if there is any concern about this, if not will appreciate if you can assign this issue to me because I don't have permission for that

[2019-10-09 14:21] Oberon00 opened #210 "Consider fixing pylint's nameclash bug with namespace packages"
See https://github.com/PyCQA/pylint/issues/2648.

With this pylint bug fixed, we could rename the `http_requests` ext package to `requests` and also use `flask` for the flask package/module from #206.

[2019-10-09 21:44] hectorhdzg opened #212 "Add Span setStatus"
Specification mention Span object must have a setStatus method and is currently missing

https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/api-tracing.md#set-status

If nothing is preventing us to add this, I will be happy to take care of it

[2019-10-10 01:17] mauriciovasquezbernal commented on #212
Duplicated of https://github.com/open-telemetry/opentelemetry-python/issues/98?

[2019-10-10 07:13] Oberon00 commented on #212
Closing this in favor of #98.

[2019-10-10 07:13] #212 closed

[2019-10-10 07:13] Oberon00 commented on #98
Implementation-PR by @hectorhdzg: #213

[2019-10-10 12:26] mauriciovasquezbernal commented on #146
Can it be close then?

[2019-10-10 12:28] mauriciovasquezbernal commented on #197
Related: https://github.com/open-telemetry/opentelemetry-python/issues/202

[2019-10-10 12:31] mauriciovasquezbernal commented on #6
Coverage PR: https://github.com/open-telemetry/opentelemetry-python/pull/128

[2019-10-10 12:32] mauriciovasquezbernal commented on #5
Can it be closed?

[2019-10-10 12:34] mauriciovasquezbernal opened #214 "Propagators: specify case sensitivity of `get_from_carrier`"
The w3c specification states that the implementation must ignore the case of the `traceparent` header name: https://www.w3.org/TR/trace-context/#header-name.

The current implementation just calls `get_from_carrier` without further info about the case: https://github.com/open-telemetry/opentelemetry-python/blob/b0da53d28b041338e04982f3a9715926887b5cad/opentelemetry-api/src/opentelemetry/context/pr

[2019-10-10 12:43] Oberon00 commented on #214
I think that `get_from_carrier` should be the one to decide if case is important, not the caller/propagator.

[2019-10-10 20:28] Oberon00 commented on #25
Python 3.5 has typing.ContextManager[T] (see https://github.com/open-telemetry/opentelemetry-python/pull/198#discussion_r333399436)

[2019-10-11 14:30] johananl opened #216 "Allow specifying a timestamp when creating Events"
The spec [defines](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/overview.md#span) an Event as follows:

The way I understand it, it doesn't make sense to have an Event without a timestamp.

Right now the API has two methods for adding Events: `add_event()` which constructs an event and appends it to the Span, and `add_lazy_event()` which accepts a pre-cre

[2019-10-11 14:53] johananl commented on #216
I've included a proposed implementation as part of https://github.com/open-telemetry/opentelemetry-python/pull/211.

[2019-10-11 22:26] #52 closed

[2019-10-11 22:27] c24t commented on #48
Closing this one out since we have metrics in the API package, exporters and aggregation will happen in the SDK.

[2019-10-11 22:27] #48 closed

[2019-10-11 22:41] #17 closed

[2019-10-14 23:37] #22 closed

[2019-10-15 07:47] Oberon00 opened #219 "Check `Iterator[Span]` return type annotations"
From https://github.com/open-telemetry/opentelemetry-python/pull/198#discussion_r333399436

A unit test should be added to the API package that verifies one can properly use the Spans returned by various APIs as `Iterator[Span]` without mypy complaining.

[2019-10-17 04:26] carlosalberto commented on #219
I started looking into this - however, even changing the signature to `-> typing.ContextManager["Span"]` created a rain of errors (which, I guess, we can tell mypy to ignore), i.e.

[code]

There's also the question of how to handle the version check for `typing.ContextManager` (which, I think, can be simply done by checking the Python version).

[2019-10-17 04:44] carlosalberto commented on #219
(that is, opposed to simply doing a `try... except` around importing it ;) cc @Oberon00 )

[2019-10-17 15:09] #183 closed

[2019-10-17 15:16] johananl opened #220 "Create an initial implementation of an OpenTracing bridge"
Work on the OpenTracing bridge for Python is already in progress, however it appears we don't have an issue to track this work.

[2019-10-17 16:33] mauriciovasquezbernal commented on #98
https://github.com/open-telemetry/opentelemetry-python/pull/213 was merged. Could somebody close it please?

[2019-10-17 16:34] mauriciovasquezbernal commented on #163
Solved by https://github.com/open-telemetry/opentelemetry-python/pull/198?

[2019-10-17 17:43] #98 closed

[2019-10-17 19:43] lzchen opened #221 "Implement "named" Meters in metrics"
From PR: https://github.com/open-telemetry/opentelemetry-specification/pull/264
which will eventually be in the spec: https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/api-metrics-meter.md

[2019-10-17 19:45] lzchen opened #222 "Implement "LabelSet" in metrics"
From specs:
https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/api-metrics-user.md#label-set-calling-convention

[2019-10-17 20:53] lzchen opened #223 "Implement metric "instruments" direct calling"
Spec:
https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/api-metrics-user.md#direct-metric-calling-convention

[2019-10-18 17:45] #184 closed

[2019-10-21 14:44] Oberon00 commented on #219
I think the rain of errors ⛈ was fixed in #229.

But about the try/except ImportError: I thought that was a common idiom in Python, e.g. for 2/3 compatibility?

[2019-10-22 03:53] toumorokoshi opened #233 "Define where to handle invalid span contexts"
Joining a conversation that's currently happening across two PRs:

* https://github.com/open-telemetry/opentelemetry-python/pull/226#issuecomment-544159432
* https://github.com/open-telemetry/opentelemetry-python/pull/228#pullrequestreview-304544636

It's important for us to standardize on what httptextformatters will return back when they are unable to parse the span context from their respective

[2019-10-22 15:50] Oberon00 commented on #233
I think the API will not be required to propagate context see https://github.com/open-telemetry/opentelemetry-specification/issues/208#issuecomment-538187193

[2019-10-23 00:30] c24t commented on #233
https://github.com/open-telemetry/opentelemetry-specification/issues/208 is probably the best source, this isn't really documented in the spec.

I think it's too soon to call this issue. The discussion in the specs issue is better, but as I understand it there's no way for us to do all of:

- enable context propagation in applications via extensions alone (e.g. `ext-grpc` for gRPC, `ext-wsgi`/`ext

[2019-10-23 08:58] Oberon00 commented on #233
Because a vendor-SDK might encode custom information in the span context, maybe even in the Trace or Span ID. Thinking about it, moving the generate_span_id might not be as bad as I first thought because any vendor SDK would still have to deal with incoming span contexts that were not created by it anyway.

Anyway, my suggestion would be: Handle INVALID_SPANCONTEXT  just like None when it is passe

[2019-10-23 17:38] toumorokoshi commented on #233
That's a good idea, it makes sure that things are handled in a standard way without adding additional logic to integrations. Although it does come at the cost of not being able to disambiguate no parent vs invalid parent, but I feel like that isn't a big deal.

@c24t @mauriciovasquezbernal any concerns with handling this in Tracer.start_span (or those collection of methods?)

[2019-10-23 19:47] hectorhdzg opened #234 "MySQL connector integration"
Add trace integration with mysql python connector
https://dev.mysql.com/doc/connector-python/en/

[2019-10-23 19:49] mauriciovasquezbernal commented on #233
I don't have concerns at this point. Just a question, propagators must then return `INVALID_SPANCONTEXT` when something fails. Is an SpanContext with trace_id and span_id 0 valid?

Just asking because the b3 propagator returns the later, a check like `context is INVALID_SPAN_CONTEXT` is False then.

[2019-10-24 04:37] toumorokoshi commented on #233
@mauriciovasquezbernal regarding B3 and how they handle context propagation... I'm following this github repo and I don't see anything explicitly calling out how to handle invalid contexts: https://github.com/openzipkin/b3-propagation

Should we be handling this? or is there a more authoritative source?

looking closely at the spec again, I believe our current b3 propagation is invalid because it

[2019-10-24 04:40] toumorokoshi opened #236 "B3 propagation does not handle ParentSpanId"
Currently the b3 propagator does not handle the ParentSpanId. this is a field that does not exist in w3c tracecontext:

https://github.com/openzipkin/b3-propagation#parentspanid

I believe to do this properly, we need to:

1. generate a single string version of the headers and add it into tracestate under the "b3" key.
2. inject the values by extracting them from the tracestate.

Thoughts?

[2019-10-24 07:16] c24t commented on #233
Even if we handle both cases the same way, I'd still prefer to allow null here because it makes for a more intuitive API. It's clear that null means "no parent context" in this case.

I think it's possible we'll discover some reason later that we have to distinguish between these in the SDK, or handle invalid contexts farther up the stack, but I don't have any concerns now.

[2019-10-24 15:08] lzchen commented on #221
Part of [#203]

[2019-10-24 17:15] hectorhdzg commented on #234
Same as pymongo will like to keep contributing to the project so if someone can assign this to me I would appreciate it, so there is no overlapping

[2019-10-24 21:06] #233 closed

[2019-10-25 17:36] johananl opened #239 "Implement baggage support in the OT shim"
We should implement baggage support in the OT shim:

https://github.com/open-telemetry/opentelemetry-python/blob/26d56c0e27b82b559b492f5ef011f291094f0c3c/ext/opentelemetry-ext-opentracing-shim/src/opentelemetry/ext/opentracing_shim/__init__.py#L37-L43
https://github.com/open-telemetry/opentelemetry-python/blob/26d56c0e27b82b559b492f5ef011f291094f0c3c/ext/opentelemetry-ext-opentracing-shim/src/open

[2019-10-25 17:41] johananl opened #240 "Handle log_event() and log() on the OT shim"
The `log_event()` and `log()` methods on `opentracing.Span` are deprecated and are now implemented using `log_kv()`. We should do one of the following:

- Verify the two methods work as expected when called on an OT shim instance.
- Decide to drop support for them, note this fact in the documentation and perhaps log a warning in case they are called.

There is a good chance they simply work as-is

[2019-10-25 17:58] johananl opened #241 "Decide whether the OT shim should be fully OT compliant"
At the moment the OT shim exposes a relatively narrow interface to the user for instrumenting applications. The user obtains a `TracerShim` using `opentelemetry.ext.opentracing_shim.create_tracer()`, then uses `start_active_span()` and `start_span()` to create spans. These methods in turn instantiate objects from other classes in the shim and sometimes call other shim methods as well.

In the curr

[2019-10-25 18:15] johananl opened #242 "Consistently return ScopeShim and SpanShim objects in the OT shim"
In its current implementation, the OT shim doesn't preserve `ScopeShim` and `SpanShim` objects after creating them. This results in situations such as the following:

1. The instrumentation creates and activates a span using `start_active_span()`, which results in a `ScopeShim` object containing a `SpanShim` object.
1. The instrumentation then obtains the currently-active span using the shim's `ac

[2019-10-25 18:16] johananl opened #243 "Implement inject() and extract() methods on the OT shim"
We should implement the `inject()` and `extract()` methods on the OT shim's `TracerShim` class to allow inter-process context propagation:

https://github.com/open-telemetry/opentelemetry-python/blob/26d56c0e27b82b559b492f5ef011f291094f0c3c/ext/opentelemetry-ext-opentracing-shim/src/opentelemetry/ext/opentracing_shim/__init__.py#L245-L259

[2019-10-25 18:36] johananl opened #245 "OT shim: Link to documentation in comments about time imprecision"
Due to inherent inaccuracies in binary floating point arithmetic, the OT shim's implementation has slight imprecision when converting time values from the OT format to the OTel format and vice versa.
For the user it may not matter too much. In the tests, we tolerate imprecision of up to 1 microsecond using `assertAlmostEqual()`.

This problem has been explained in detail in the docs (https://githu

[2019-10-28 12:08] Oberon00 commented on #216
@johananl I guess this is done now? Can it be closed?

[2019-10-28 12:10] Oberon00 commented on #220
I think we can either close this now or after #243 is resolved.

[2019-10-28 12:11] Oberon00 commented on #155
Can this be closed? Or does it depend on #185 ?

[2019-10-28 12:13] Oberon00 commented on #56
Closing this as it seems stale. Please reopen if we still need this.

[2019-10-28 12:13] #56 closed

[2019-10-29 18:19] codeboten commented on #240
I can take a look at this issue

[2019-10-29 19:18] c24t opened #252 "Build release from source distribution"
From @Oberon00's comment: https://github.com/open-telemetry/opentelemetry-python/pull/247#discussion_r340228886.

Right now we build packages with `python setup.py bdist_wheel`, but we should consider using `setup.py` to build a source distribution and `pip wheel` to build the wheel.

[2019-10-29 21:15] c24t commented on #197
@toumorokoshi, @reyang, this is fixed by #228 right?

[2019-10-29 22:43] lzchen commented on #223
Done with [#224]

[2019-10-29 22:43] #223 closed

[2019-10-29 23:48] codeboten commented on #240
I tested that `log` and `log_event` work without implementing them. The PR
https://github.com/open-telemetry/opentelemetry-python/pull/255 is to implement a warning when the methods are called.

[2019-10-30 01:55] #8 closed

[2019-10-30 04:45] reyang commented on #197
Yep!

[2019-10-30 04:45] #197 closed

[2019-10-30 04:50] reyang commented on #202
This should have been addressed by @toumorokoshi in #228.

[2019-10-30 04:50] #202 closed

[2019-10-30 04:52] reyang commented on #53
This should have been addressed by @c24t in #225.

[2019-10-30 04:52] #53 closed

[2019-10-30 04:53] #216 closed

[2019-10-30 12:37] mauriciovasquezbernal commented on #243
I am giving it a try, so you could assign it to me :).

[2019-10-30 21:05] codeboten commented on #239
I can take a look at this issue if someone could assign it to me

[2019-10-31 15:12] #97 closed

[2019-10-31 15:14] #163 closed

[2019-10-31 15:16] c24t commented on #159
Blocking on some decisions in spec, W3C. In particular whether/how the context is propagated in the API package.

[2019-10-31 15:26] c24t commented on #142
We need unit tests that have well-defined -- and different! -- behavior in the case that only the API is loaded and in the case that the SDK is loaded. This could look like the example app.

See also https://github.com/open-telemetry/opentelemetry-python/issues/166. If the API ever returns instances of "interface" classes we are guaranteed to crash. One argument for using ABCs.

[2019-10-31 15:30] #220 closed

[2019-10-31 15:35] c24t commented on #123
See also #144

[2019-10-31 15:36] #144 closed

[2019-10-31 15:49] Jamim commented on #210
I'll try to spend some time to investigate/fix this bug on weekend.

[2019-10-31 15:50] #6 closed

[2019-10-31 15:50] #54 closed

[2019-10-31 19:17] mauriciovasquezbernal commented on #240
Solved by https://github.com/open-telemetry/opentelemetry-python/pull/255 :)

[2019-10-31 23:08] codeboten commented on #132
When removing `add_link` from the api, i'm assuming we'll also want to remove `add_link_lazy` as well: https://github.com/open-telemetry/opentelemetry-python/blob/e53edd52c4634c9e24654d697f15b5d05f35fd0c/opentelemetry-api/src/opentelemetry/trace/__init__.py#L201-L216

[2019-11-01 23:28] codeboten commented on #132
Started the work here https://github.com/open-telemetry/opentelemetry-python/pull/259

[2019-11-04 13:29] gliptak opened #263 "warnings in Travis doc build"
https://travis-ci.org/open-telemetry/opentelemetry-python/jobs/606897024

[code]

[2019-11-04 16:06] Oberon00 commented on #263
Required for #257 (and all further PRs probably)

[2019-11-04 18:27] hectorhdzg opened #265 "Add trace integration with PostgreSQL"
OpenCensus currently supports trace integration with Psycopg library, being one of most popular for PostgreSQL
http://initd.org/psycopg/

Other popular libraries could be also considered in the future
https://wiki.postgresql.org/wiki/Python

[2019-11-04 19:38] hectorhdzg opened #266 "Docs generation issue"
tox -e docs is getting warnings now making travis builds to fail

Apparently the issue is being triggered with latest version of packages used by sphinx

docs installed: alabaster==0.7.12,Babel==2.7.0,certifi==2019.9.11,chardet==3.0.4,colorama==0.4.1,docutils==0.15.2,idna==2.8,imagesize==1.1.0,Jinja2==2.10.3,MarkupSafe==1.1.1,packaging==19.2,Pygments==2.4.2,pyparsing==2.4.2,pytz==2019.3,requests==

[2019-11-04 19:39] hectorhdzg commented on #266
Duplicated of #263

[2019-11-04 19:39] #266 closed

[2019-11-04 21:50] hectorhdzg commented on #265
I would like to work on this integration, please assign to me to avoid work duplication

[2019-11-04 22:19] lzchen commented on #265
You're going crazy with the integrations! Keep it up!

[2019-11-05 03:24] c24t commented on #263
Fixed in #267 (at least the one we control).

[2019-11-05 03:24] #263 closed

[2019-11-06 17:52] codeboten commented on #132
On the following:

creation time.

It's currently possible for a `Sampler` to pass `attributes` when creating a `Decision`. This sampling decision's attributes are then passed into a `Span`. This approach seems to address the otep. Any thoughts?

[2019-11-07 15:48] mauriciovasquezbernal opened #273 "test cases are executed twice"
After https://github.com/open-telemetry/opentelemetry-python/pull/128 the test cases are executed twice, once when `pytest --cov` is run for the coverage targets and another one for the test targets itself.

See https://github.com/open-telemetry/opentelemetry-python/pull/128/files#r338632639.

[2019-11-07 16:54] Oberon00 commented on #265
Is there any way to write a more general integration or integration base layer based on https://www.python.org/dev/peps/pep-0249/ Python Database API Specification v2.0 "DBAPI"?

[2019-11-07 20:18] c24t opened #275 "Plugin discovery"
As discussed in today's SIG meeting, we need to settle on conventions for naming and discovering plugins, i.e. exporters and integrations.

Right now we're using the `opentelemetry.ext` namespace, and each plugin is a namespace package. One option is to [use `importlib` to discover matching namespace packages](https://packaging.python.org/guides/creating-and-discovering-plugins/#using-namespace-pa

[2019-11-07 20:31] c24t opened #276 "Add gRPC integration"
Add a gRPC integration in the style of [`opencensus-ext-grpc`](https://github.com/census-instrumentation/opencensus-python/tree/master/contrib/opencensus-ext-grpc), using [gRPC python interceptors](https://github.com/grpc/proposal/blob/master/L13-python-interceptors.md).

[2019-11-08 00:37] hectorhdzg commented on #265
@Oberon00 I have seen a couple of different DB libraries and usually follow the DBAPI in some way or another, we can have some shared code when possible, at the end we will need the specific library integration because the patching or hook if provided would be different, in the case of psycopg plenty of the code is written on C and they have a Python wrapper on top, so patching would be entirely d

[2019-11-08 09:03] Oberon00 commented on #265
Yes, I think something like a `opentelemetry-ext-dbapi` package with the shared code that the db-specific packages depend on would be the way to go -- but only if there really is code to share of course.

[2019-11-08 09:11] Oberon00 commented on #132
@codeboten  No, the OTEP is confusingly worded here: This is about adding span attributes right when creating the span so that the sampler can e.g. sample out all spans that have a `http.url` that starts with `http://example.com/healthcheck`. Normally you would call `start_span` first and the `set_attribute` on the span. The OTEP basically requires `start_span` to have an additional parameter to a

[2019-11-08 09:33] Oberon00 commented on #132
This OTEP was also already "implemented" in the spec, see https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/api-tracing.md#span-creation:

[2019-11-09 00:26] ocelotl commented on #236
Would it make sense to have something like `B3SpanContext`, who would inherit from `SpanContext` and would have an additional attribute named `parentspanid`? The same approach can be applied to support future implementations of propagators.

[2019-11-09 00:29] toumorokoshi commented on #236
@ocelotl what's the motivation for that vs including it in the tracestate? I believe the purpose of tracestate is specifically to support vendor or other implementations:

https://www.w3.org/TR/trace-context/#tracestate-header

The con I see for extending the class is multiple different SpanContext implementations that expose different fields. Then whatever exporter or system that consumes that da

[2019-11-09 00:39] ocelotl commented on #236
Oh, there is no specific motivation, I'm just understanding this :sweat_smile:

Ok, so you suggest something like this?

[code]
Maybe is better to use a more specific key in `tracestate` (like `x-b3-parentid`, instead of just `b3`) in case the B3 specification adds another field later and we would want to follow the same approach for it.

[2019-11-09 00:46] ocelotl commented on #236
... or maybe `x-b3-parentid@b3` would be a even better key?

[2019-11-09 05:06] toumorokoshi commented on #236
I'd probably suggest just writing out a single key for b3 in general, so maybe just call it "b3"?

Maybe worth talking to opentelemetry-js folks. A quick scan and I think only they've implemented b3 header propagation: https://github.com/open-telemetry/opentelemetry-js/blob/19756471a629a6b9f083ab8c3c5c95495c3fbffb/packages/opentelemetry-core/src/context/propagation/B3Format.ts

I don't think it's

[2019-11-09 05:08] toumorokoshi commented on #236
to be clear: I was suggesting calling it "b3" and then encoding the parent-id. But I think as this is just an implementation detail under the hood and clashes are rare, you could probably just call it x-b3-parentid or b3-parentid.

I don't see a lot in the tracecontext spec as how to actually encode values. I might suggest grabbing someone on the community gitter to voice their opinion.

[2019-11-11 09:25] Oberon00 commented on #236
Would this be solved if the injector got a Span instead of a SpanContext as input?

[2019-11-11 16:14] Oberon00 commented on #214
Will be resolved #346

[2019-11-11 18:56] c24t opened #283 "Contrib package naming convention"
We've been naming contrib packages (integrations, exporters, plugins, etc.) `opentelemetry-ext-foo` and keeping them in the `ext/` dir.

There are two exceptions to this: In #272 @lzchen changed the azure monitor exporter package name from `opentelemetry-ext-azure-monitor` to `opentelemetry-azure-monitor-exporter`, and the opentracing shim was named `opentelemetry-opentracing-shim` in #271.

Do we

[2019-11-11 21:23] hectorhdzg opened #284 "Add pymongo integration tests"
Only unit tests are available testing internal OpenTelemetry code but not integration test using pymongo, tests executed against real test environment using pymongo would be great to have

[2019-11-12 04:54] ocelotl commented on #236
@Oberon00 thanks for the suggestion, but how would that solve the issue? If I understand this correctly, we would still need to use the span's context in `inject` to get the necessary attributes. Please correct me if I am not understanding this right.

I added an implementation in #286, it is just my attempt to code the original idea of @toumorokoshi :smile:

[2019-11-12 06:03] ocelotl commented on #283
Maybe this can be solved automatically by moving all the `ext` directories into their own individual repo?

Also, if this is done, would it be a good idea to define base classes for every kind of contrib package?

If that is done, and if the contrib packages are turned into standard Python plugins that register themselves through entry points, then these base classes can be used to check for plugi

[2019-11-12 09:47] Oberon00 commented on #236
Your PR handles extraction only. The more interesting problem is injection IMHO. But tbh, from the "spec" at https://github.com/openzipkin/b3-propagation#parentspanid I don't really get what the parent span ID is supposed to be.

Ah, upon reading https://github.com/openzipkin/b3-propagation#why-is-parentspanid-propagated, it seems that actually we currently handle the b3-span-id wrong: Span ID is

[2019-11-12 09:49] Oberon00 commented on #236
From reading this, it seems that the OpenTelemetry trace model is incompatible with the B3 model.

[2019-11-12 16:53] ocelotl commented on #236
Hello

@Oberon00 #286 includes [this](https://github.com/open-telemetry/opentelemetry-python/pull/286/commits/0cec30a936361078a2fbb018e8e9b18b892c767e#diff-9573b28f90915e5a64a091c1e74aa6a5R125-R129). Is something else needed to make the PR handle `inject` too?

On the other hand, if you think the B3 model is incompatible with OpenTelemetry, should this issue be closed?

[2019-11-12 17:21] Oberon00 commented on #236
Sorry, I missed that line. But still, you can't just copy that header through.
If I understand the B3 spec correctly, the B3 parent id is just like the W3c https://www.w3.org/TR/trace-context/#parent-id. The B3 span ID, on the other hand is a request to give the child span this ID. If we wanted to implement this, we would need to change https://github.com/open-telemetry/opentelemetry-python/blob/f

[2019-11-12 18:25] toumorokoshi commented on #236
Looking through the specs a bit,  I don't think the b3/parent-span-id is equivalent to tracecontext.parent-id. Since the ParentSpanId represents the parent of the SpanID that was propagated, we don't really need to do anything with it: in the context of our request, the ParentSpanId is actually our grandparent. SpanID is our parent, so we should set the SpanID as the ParentSpanID header.

So effec

[2019-11-12 18:37] c24t opened #287 "Add stackdriver trace exporter"
Port the stackdriver trace exporter from [opencensus](https://github.com/census-instrumentation/opencensus-python/tree/master/contrib/opencensus-ext-stackdriver).

[2019-11-12 21:32] ocelotl commented on #236
Ok, I also think `X-B3-ParentSpanId` is not equivalent to `W3CTraceContext/parent-id`. I think `X-B3-SpanId` is equivalent to `W3CTraceContext/parent-id`. It is mentioned [here](https://www.w3.org/TR/trace-context/#parent-id):

_This is the ID of **this** request as known by the caller (**in some tracing systems, this is known as the span-id, where a span is the execution of a client request**)._

[2019-11-13 00:15] clsung commented on #287
I'll take it. Working now.

[2019-11-13 00:32] SergeyKanzhelev commented on #236
I'd also suggest to get some inspiration from https://github.com/openzipkin/b3-propagation/blob/master/RATIONALE.md

[2019-11-13 13:31] Oberon00 commented on #236
@ocelotl

Exactly: The B3 spec has this example that I think cannot be reproduced with just a custom B3 format:

[2019-11-13 13:32] Oberon00 commented on #236
Come to think of it, the OpenTelemetry SpanContext doesn't even have a parent ID.

[2019-11-13 19:23] codeboten commented on #152
Is the plan to go ahead and remove `create_span` from the API?

[2019-11-13 19:25] carlosalberto commented on #152
@codeboten Yeah, as far as I remember, while keeping it in the SDK ;)

[2019-11-14 16:51] toumorokoshi commented on #236
Discussing in the sig briefly with @Oberon00 and @carlosalberto, we came up with the following:

1. The ParentSpanId does not need to be extracted. opentelemetry does not use it at the moment, and it does not need to be propagated or otherwise operated on afterward.
2. The HTTPTextFormat and Propagator API needs to consume not a SpanContext, but a Span. This is to give the HTTPTextFormant and Prop

[2019-11-14 16:58] toumorokoshi commented on #236
Okay sorry, I just read through the new updates, which makes me think that my reasoning here is wrong. I was unaware of the choice os B3 to use the SAME SpanId for both client and server spans.

I think you're right that this is fundamentally incompatible with OpenTelemetry, which I think could be problematic. At least today, all of our integrations proceed to immediately create a new span with th

[2019-11-14 17:39] #240 closed

[2019-11-15 16:53] lzchen opened #292 "Define default status behavior for spans when ending in failure"
Right now, `status` of the span does not seem to be explicitly set when `end()` is called on a span. The default is `OK` which is fine for when a span finishes successfully, but when an exception is thrown, the status is not set. In [OpenCensus](https://github.com/census-instrumentation/opencensus-python/blob/e9129b74681df204c027702360be20fc0eea7f76/opencensus/trace/span.py#L388) the status seems

[2019-11-15 17:02] Oberon00 commented on #292
Sounds very useful. But we should only do this optionally or at least provide a way to disable it. Also the question is how to detect the exception. Probably in the context managers Span and Tracer.use_span.

[2019-11-15 17:16] Oberon00 commented on #236
If I understood @carlosalberto correctly, the Span-Id will always be one of a span that was already started on the other side (the client span). So if we just use that as a parent, we will not create the trace that we would get with a proper B3 implementation, but a sensible trace nevertheless.

[2019-11-15 17:17] Oberon00 commented on #236
By the way, before implementing

there is a case where we would need to extract the B3 span ID: Namely when extracting a B3 span context from the wire and immediatelly injecting it again without creating any intermediate span (transparent proxy).

[2019-11-15 18:54] lmolkova commented on #292
is it possible to update status when context manager closes and an exception is thrown, but only if status is still OK? This way if user set status, it will be respected.

[2019-11-18 12:42] johananl commented on #243
Closed in https://github.com/open-telemetry/opentelemetry-python/pull/256.

[2019-11-18 12:42] #243 closed

[2019-11-18 12:45] johananl commented on #216
Yes, and sorry for the slow response.

[2019-11-18 17:42] ocelotl commented on #236
Hello everybody

I think it is better to make a decision before making an implementation here. As I understand this right now we have 2 choices, either we don't handle `parentspanid` or we make an implementation that is not B3 compliant. I'm not sure if it is a good idea to do the latter, because a wrong implementation can be worse that no implementation at all.

Please share any comments or ideas

[2019-11-18 20:40] lmolkova opened #296 "Azure Monitor exporter does not populate HTTP Dependency properties correctly"
**Steps to reproduce**
- Enable requests integration.
- Make outgoing HTTP call

**What is the expected behavior?**
Dependency telemetry is populated properly with Data, Target and name:
- Data matches URL
- Target matches authority (host:port)
- name is "METHOD /path"

**What is the actual behavior?**
- Data not set
- Target not set
-  name not correct

**Additional context**

It seems incoming r

[2019-11-19 07:19] toumorokoshi commented on #236
I think the issue is not so much in the handling of parentid as it is the issue that currently, we always create new spans after we extract. I was actually looking through tracecontext spec and I don't believe anything actually requires we create a new spanid for the server span. Although I guess I'm not sure how consumers are supposed to deal with that.

The test cases (https://github.com/w3c/tra

[2019-11-19 08:02] Oberon00 commented on #296
I noticed https://github.com/open-telemetry/opentelemetry-python/blob/fb3e71522d9937cb8b559ebed780114ab3352221/ext/opentelemetry-ext-azure-monitor/src/opentelemetry/ext/azure_monitor/trace.py#L105 uses a nonexistent SpanKind.CONSUMER which means that it is either never executed or would cause the export to fail with an AttributeError exception.

[2019-11-19 10:18] Oberon00 commented on #236
When we create a new span-ID (= a new Span) maybe goes beyond the W3C-spec, but my understanding is that in OpenTelemetry, client and server should have separate spans. Existing semantic conventions assume that at least.

[2019-11-19 14:20] toumorokoshi commented on #236
Good to know. Is that implementation detail written down anywhere?

I would personally argue against requiring that. Not supporting proper B3
propagation would exclude a significant number of companies from using
opentelemetry, my own included.

2019年11月19日(火) 2:18 Christian Neumüller <notifications@github.com>:

[2019-11-19 16:14] Oberon00 commented on #236
Well, the existence of the SpanKind field pretty much implies that OpenTelemetry is designed to create different spans for client and server.

[2019-11-19 16:16] Oberon00 commented on #236
One example where it is explicitly spelled out is gRPC (https://github.com/open-telemetry/opentelemetry-specification/blob/27b738b74eeb10560dc0308554a1d626cb93df79/specification/data-rpc.md#grpc):

To be honest, the B3 semantics seem quite exotic to me it would have never occured to me that client and server would share a span, so I also operated under that assumption when I updated the HTTP seman

[2019-11-19 16:16] codeboten commented on #236
Has this conversation started outside of the Python SIG? It definitely impacts all other languages.

[2019-11-19 16:48] toumorokoshi commented on #236
not yet but agreed, I'll author the ticket now.

[2019-11-19 16:55] toumorokoshi commented on #236
^ :boom: . It'll be confusing, but I think we need to continue this particular conversation there. I'll mention people in.

[2019-11-21 16:34] Oberon00 opened #300 "Research integrating auto- and manual instrumentations"
The https://github.com/open-telemetry/opentelemetry-auto-instr-python/ (currently actually https://github.com/lightstep/opentelemetry-auto-instr-python/) repository contains an auto-injecting & auto-instrumenting agent (injection = executing code automatically at interpreter startup; instrumentation = modifying code to automatically create traces at runtime). We also currently have some integratio

[2019-11-22 10:51] Oberon00 commented on #203
I'm going to work on this.

[2019-11-22 17:36] lzchen commented on #296
I've documented this issue in the repo under [mirosoft](https://github.com/microsoft/opentelemetry-exporters-python/issues/14). For the future, we will be using this to track issues related to Azure.

[2019-11-22 17:36] #296 closed

[2019-11-25 10:30] Oberon00 opened #303 "Switch unit tests from `unittest.mock` to SDK & in-memory exporter"
See https://github.com/open-telemetry/opentelemetry-python/pull/290#issuecomment-558091283.
Currently tests are cumbersome to write and actually we probably don't want to test which API calls are made but what Spans would result in most cases. For this a SDK with in-memory exporter would be better than using `unittest.mock`.

[2019-11-25 19:23] #152 closed

[2019-11-25 19:38] lzchen opened #304 "Deprecate old Azure Monitor Exporter PyPi Package"
As part of the last step of [#193], we have decided to deprecate the [old package](https://pypi.org/project/opentelemetry-ext-azure-monitor/) and to link the it to a [new package](https://pypi.org/project/opentelemetry-azure-monitor-exporter/) for Azure Monitor exporter.

The naming for the new package makes more sense for Azure customers. We also decided to not delete the old package in case ther

[2019-11-25 21:27] c24t opened #305 "Revisit opentracing-shim type docs"
Follow up to https://github.com/open-telemetry/opentelemetry-python/pull/244.

- Consider using type annotations instead of including types in arg docstrings, or
- Standardize on ``arg (`type`): ...`` instead of ``arg: a `type` ...``
- Remove documentation-related TODOs
- Replace human-readable descriptions of types with valid types, e.g.
  - `Optional[type]` instead of ``(`type`, optional)``
  -

[2019-11-26 17:46] codeboten commented on #276
The opentelemetry-auto-instr-python repo contains an integration for [gRPC](https://github.com/lightstep/opentelemetry-auto-instr-python/tree/master/oteltrace/contrib/grpc). We could port that into this repo.

[2019-11-27 00:24] c24t commented on #304
PR for the deprecation notice on my fork: https://github.com/c24t/opentelemetry-python/pull/1.

[2019-11-27 00:34] c24t commented on #304
See https://pypi.org/project/opentelemetry-ext-azure-monitor/0.2a1/.

[2019-11-27 00:34] #304 closed

[2019-11-27 00:44] lzchen commented on #193
Closed with [#304]

[2019-11-27 00:44] #193 closed

[2019-11-27 01:05] codeboten commented on #166
Would the idea here be to define a no-op tracer and to make Meter, Span and Tracer ABCs?

[2019-11-27 18:13] ocelotl opened #308 "tox -e lint is failing"
Apparently, `tox -e lint` is failing just starting today. Many `isort` issues are being reported now in many files. To be able to see these failures I had to delete `.tox` and run `tox -e lint` again.

This is weird because it was just not happening before. I am filing this issue just to keep track of this problem, and to be able to associate it with a PR that introduces a fix.

This issue may be

[2019-11-27 19:40] #308 closed

[2019-11-28 14:01] kapilt commented on #276
one request, please have a care for those that find grpc unwieldy as a large binary dependency, or complicated in its runtime usage analysis (considerable complexity in its implementation, background threads, locks), and make it optional instead of a require dependency of the opentelemetry sdk.

[2019-11-28 17:41] codeboten commented on #142
There's an open issue in mypy to handle empty functions with None returns https://github.com/python/mypy/issues/2350

[2019-12-01 04:30] toumorokoshi commented on #236
So the consensus of https://github.com/open-telemetry/opentelemetry-specification/issues/359 is to not honor the B3 standard of consuming client span ids as server span ids. So that is not an issue that needs to be resolved.

In that situation, I don't feel like there's an appropriate value of ParentSpanID to propagate. Enumerating options:

1. set ParentSpanID as the id of the parent span of the

[2019-12-02 16:16] codeboten commented on #236
Option #1 is following the alternate approach offered by the B3 spec, I think it makes sense to follow it.

[code]

[2019-12-02 16:28] ocelotl commented on #236
First option is not to be confused with #1 :smile:

[2019-12-03 05:22] c24t opened #313 "Fix loader type annotations for mypy>=0.750"
We started seeing [mypy test failures](https://travis-ci.org/open-telemetry/opentelemetry-python/jobs/619780397?utm_medium=notification&utm_source=github_status) in `loader.py` after the upgrade to `0.750` in #258.

[code]

I pinned the `mypy` version in 792449e as a temporary fix, but we need to update the annotations to work with latest.

[2019-12-03 16:51] Oberon00 opened #314 "Canonical status code "Unknown" should be named "UnknownError""
Spec: https://github.com/open-telemetry/opentelemetry-specification/blob/e6cd52d034c981ca4fcf896ccd7464e783589c0f/specification/api-tracing.md#statuscanonicalcode

[2019-12-03 17:43] #222 closed

[2019-12-03 17:43] lzchen commented on #222
Finished with #258

[2019-12-03 19:36] IurmanJ opened #315 "TypeError: This Callable type is already parameterized."
**Describe your environment**

[code]

**Steps to reproduce**

[code]

**What is the expected behavior?**

Well, not _that_ I guess.

**What is the actual behavior?**

[code]

**Additional context**

Same result when trying with an editable install.

[2019-12-03 19:47] codeboten commented on #315
Was able to repro specifically with python 3.5.2, looks fixed in 3.5.3.

[2019-12-03 23:26] c24t commented on #166
Yes! With the goal of clearly separating the API and default implementation.

[2019-12-03 23:59] #245 closed

[2019-12-04 16:41] codeboten commented on #315
@IurmanJ looks like this is hitting a bug in Python 3.5.2 with the typing library which was refactored here: https://github.com/python/typing/commit/50d2b4d377043a5b6c268b532c13e2e2bfe61352

Is it possible for you to try a newer version of Python?

[2019-12-05 13:15] IurmanJ commented on #315
@codeboten Of course. Actually, that's what I did at the time I opened this issue. Python 3.6 works well, though I did not try 3.5.3 as you reported it was working fine.

[2019-12-05 13:19] Oberon00 commented on #315
From my reading, this issue can be closed then. Probably we should add a note to the README that we only support the newest y in each Python 3.x.y.

[2019-12-05 16:42] c24t commented on #161
Removing this from milestones for now, @carlosalberto to consider adding for v4.

[2019-12-05 16:43] #132 closed

[2019-12-05 16:44] c24t commented on #187
We'll track unit test with metrics exporter work itself.

[2019-12-05 16:44] #187 closed

[2019-12-05 19:07] codeboten opened #318 "Add Zipkin exporter"
The task is to create a trace exporter for exporting to Zipkin

[2019-12-06 17:26] Oberon00 commented on #66
Reopening, as #311 seems to be implementing this. Please close as soon as #311 is resolved.

[2019-12-06 18:33] toumorokoshi commented on #166
I think @Oberon00 raised a really good point that Vendors will most likely extend the default implementations, as it provides a layer of safety where newly required methods will not cause the SDK they build to fail.

As ABCs only provide value if they're used directly, we might as well make Default / No-op interfaces and make that the pattern.

[2019-12-06 18:48] #142 closed

[2019-12-06 20:09] Oberon00 commented on #166
BTW, it seems this issue is actually a duplicate of #66.

[2019-12-09 16:38] ocelotl opened #323 "Add posargs"
Add `posargs` to tox.ini. This will make it possible to pass command line options to Pytest while running tox. Pretty useful when using the debugger.

[2019-12-09 16:53] codeboten commented on #66
ABC's are useful in enforcing anyone implementing the interface to at least understand the scope of what needs to be implemented up front. I would hope that a vendor wouldn't ship a crashing implementation to a user, but maybe that's me being optimistic that everyone tests their code :D. If the recommended behaviour is to extend the Default implementation anyways, then I agree that using ABCs is a

[2019-12-09 16:58] Oberon00 commented on #66
The problem occurs if the user upgrades the API and the vendor hasn't tested the newer API version yet.

[2019-12-09 23:26] #323 closed

[2019-12-10 01:15] ocelotl commented on #66
Just a question here: adding a new `abc.abstractmethod` decorated method to an `abc.ABC` class is a non backwards compatible change and should require a major release as per Semantic Versioning. Why isn't this the approach to follow when a new abstract method is added?

From the discussion it kinda seems like we don't want to do a major release when this happens. I understand the issues that may c

[2019-12-10 08:28] Oberon00 commented on #66
It should be a goal to be able to make as many changes as possible without requiring a new major version. Otherwise you end up having a library that either requires users to upgrade to new major releases all the time or you need to port bug fixes back to a multitude of major versions.

[2019-12-10 18:43] hectorhdzg commented on #276
OpenCensus implementation
https://github.com/census-instrumentation/opencensus-python/tree/master/contrib/opencensus-ext-grpc

OpenTracing implementation
https://github.com/opentracing-contrib/python-grpc

[2019-12-10 19:45] ocelotl commented on #66
I completely agree, @Oberon00, breaking changes are to be kept as few as possible for the impact they have in users and developers. My point is just that using an `ABC` does not cause more breaking changes because of the `ABC` itself. An `abstractmethod` decorated method just means that subclasses must implement that method, and that decorator should only be applied if calling that method _is need

[2019-12-11 09:14] Oberon00 opened #329 "Build fails: Various erros in py37-tracecontext"
This happens on master since the merge of #291 and all new PRs. I suspect a dependency update to be the cause.

For example https://travis-ci.org/open-telemetry/opentelemetry-python/jobs/623466280:

[code]

Or https://travis-ci.org/open-telemetry/opentelemetry-python/jobs/623458269, where every test fails with:
[code]

[2019-12-11 09:35] Oberon00 commented on #329
The only thing that changed from the last successful build is multidict 4.6.1 -> 4.7.0, so that is probably the cause.

[2019-12-11 09:45] Oberon00 commented on #329
This should probably be reported to upstream https://github.com/w3c/trace-context

[2019-12-11 11:44] Oberon00 commented on #66
There won't be a crash if there is a default implementation of the method, even if that default method returns nothing (it must return something of the right type of course, if applicable).

[2019-12-11 21:13] #292 closed

[2019-12-12 01:04] ocelotl commented on #314
May be fixed by [this](https://github.com/open-telemetry/opentelemetry-specification/pull/385).

[2019-12-12 01:19] ocelotl opened #333 "Research separation of patchers and exporters"
Right now, the `ext` directory contains code that implements functionality for automatic patching of several third-party projects that integrate with this project. Inside this directory it can also be found exporters that integrate in a similar way.

It would be convenient to have a uniform interface for these components and to make them integrate with this project through like standard entry poin

[2019-12-12 18:09] toumorokoshi opened #335 "Add benchmark tests for common operations"
A common concern in instrumentation is the performance hit on applications. To help us quantify and measure how well we're doing there, we should add some benchmark tests that run as part of the CI.

There is a pytest module that could help here: https://pypi.org/project/pytest-benchmark/

[2019-12-12 18:18] #117 closed

[2019-12-13 02:43] c24t commented on #66
Summarizing a conversation with @ocelotl.

Here's the problem as I understand it, written out in the form of an example:

**Part 1**

Suppose v1 of `opentelemetry` defines `Tracer` with a single method, `start_span`:

[code]

An APM-vendor ships their own `Tracer` implementation in the v1 `alt` package:

[code]

And a third party library `xyz` decides to add instrumentation via `opentelemetry`. Ou

[2019-12-13 07:21] rajibmitra commented on #335
I would like to work on this. @toumorokoshi

[2019-12-13 07:26] rajibmitra commented on #157
is there any work left on this issue ? @c24t

[2019-12-13 17:18] toumorokoshi commented on #335
@rajibmitra sounds great! I think just getting the pattern established  would be a good first task.
I just took a quick look and there's not a lot of machinery for what I'm thinking, but my thought just getting a timing marker on a common task: extracting / injecting trace information. Probably exercising a complex case of tracecontext extraction/injection:

https://github.com/open-telemetry/opent

[2019-12-13 23:55] codeboten commented on #66
Thanks @c24t for the summary. One of the nice advantages of using ABCs along with a Default no-op implementation is that it gives implementors the option of either implementing the interface that will crash if a method is not implemented, or extend the no-op default if that option is preferred. This would mean deferring the decision to our users rather than limiting them one way or another.

Thoug

[2019-12-16 19:04] c24t commented on #166
Closing this one in favor of #66.

[2019-12-16 19:04] #166 closed

[2019-12-16 20:51] toumorokoshi commented on #93
I'm going to close this issue, as we can discuss it as we get closer to a tangible need or problem.

[2019-12-16 20:51] #93 closed

[2019-12-16 21:12] toumorokoshi commented on #157
@rajibmitra work has not started on this yet, from what I can tell. @lzchen @c24t any issue with someone picking this up?

[2019-12-16 21:33] c24t commented on #209
Fixed in #232, and [`opentelemetry-ext-pymongo`](https://pypi.org/project/opentelemetry-ext-pymongo/) was released with [v0.3.0](https://github.com/open-telemetry/opentelemetry-python/releases/tag/v0.3.0).

[2019-12-16 21:33] #209 closed

[2019-12-16 21:58] ocelotl opened #338 "tox -e mypy is failing"
`tox -e mypy` has just started failing. There has not been a recent [release](https://pypi.org/project/mypy/#history) of mypy.

[2019-12-16 22:48] c24t commented on #338
I don't see this locally, how do you reproduce it?

[code]

[2019-12-16 23:15] ocelotl commented on #338
Sorry, I made a mistake, this is only happening when I run `tox -re mypy`, but not when I run `tox -re py37-mypy`, I'll close this issue.

[2019-12-16 23:15] #338 closed

[2019-12-18 17:00] lzchen commented on #157
@toumorokoshi
I have not started on this yet. @c24t  Any updates?
I will be also releasing an end-to-end for metrics SDK later this week.

[2019-12-18 19:54] ocelotl commented on #333
Is getting a bit complicated to keep this issue separated from #300. I'll be merging the PR branch that corresponds to this issue into the PR branch of #300.

[2019-12-18 19:54] #333 closed

[2019-12-19 16:30] c24t commented on #110
This is covered now in #123.

[2019-12-19 16:30] #110 closed

[2019-12-19 22:22] hectorhdzg opened #342 "OpenTelemetry integrations"
It would be good to decide which integrations we would like to have in the project or which ones would be good to have sooner.

I created following document tracking existing integrations in [OpenCensus](https://github.com/census-instrumentation/opencensus-python/tree/master/contrib), [OpenTracing](https://github.com/opentracing-contrib?utf8=%E2%9C%93&q=python&type=&language=),[otel-trace-apy](htt

[2019-12-20 02:26] c24t commented on #157
@hectorhdzg you may be interested in this since it goes hand-in-hand with @lzchen's aggregation and export work.

[2019-12-20 02:29] c24t commented on #157
@rajibmitra you're welcome to pick this up, but it relies on some ongoing work in https://github.com/open-telemetry/opentelemetry-python/pull/341. Are you interested in prometheus specifically, metrics in general, or just looking for interesting open issues?

[2019-12-20 02:42] c24t opened #343 "Add OT collector trace exporter"
Exporter to export traces to the OT collector: https://github.com/open-telemetry/opentelemetry-collector. Note that the release may be blocked on the release of https://github.com/open-telemetry/opentelemetry-proto.

See the js implementation: https://github.com/open-telemetry/opentelemetry-js/pull/552.

[2019-12-20 02:44] c24t opened #344 "Add OT collector metrics exporter"
Exporter to export metrics to the OT collector: https://github.com/open-telemetry/opentelemetry-collector. Note that the release may be blocked on the release of https://github.com/open-telemetry/opentelemetry-proto.

This may be blocked by ongoing metrics export work in #341.

See also #343.

[2019-12-20 03:03] c24t commented on #157
See also https://github.com/open-telemetry/opentelemetry-go/pull/334, which added the prometheus exporter in go before metrics aggregation was ready by using the prometheus lib to handle aggregation.

[2019-12-20 04:47] toumorokoshi opened #345 "Span parent contexts should always be a Span or SpanContext"
Currently, the Span object's parent can be both a Span, or a SpanContext object.

This is resulting in multiple parts of the code where one has to handle the Span parent case, and the SpanContext parent case.

It would be great if we decided to go one or the other. As a proposal, I'll suggest it should be a Span, as currently Span, as it contains additional data in addition to the context such as

[2019-12-20 07:00] carlosalberto commented on #345
There was a discussion in the past about this, as extraction provides a `SpanContext`, and whether a 'wrapper' `Span` around this would be feasible.

I suggest to discuss this in the Specification repo, btw (so whether one way or another is decided, we will have more pieces to consider).

[2019-12-20 10:20] rajibmitra commented on #157
I am just looking for interesting open issues, I am comfortable in python and go and k8s ecosystem
 @c24t

[2019-12-20 20:51] toumorokoshi opened #346 "Trace (and all) exporters should have an export timeout"
The OpenTelemetry SDK should have a timeout on exporters during the flush call, or some way to configure this behavior.

This would ensure that the flush thread doesn't get hung indefinitely: https://github.com/open-telemetry/opentelemetry-python/pull/320/files#r360471105

[2019-12-20 20:54] toumorokoshi opened #347 "Add enforcement of AttributeValues for trace events"
Right now, AttributeValues in span tags are supposed to be one of (int, bool, float), but we do no enforcement of that value when added.

This then requires error handling to be put into the exporters themselves, which will become fairly redundant: https://github.com/open-telemetry/opentelemetry-python/pull/320/files/93331ff73905ab0dad11110bdac45737098c2d26#r360226796

It would be great if we coul

[2019-12-26 23:19] jakemalachowski commented on #347
I'll take this one. Can this be assigned to me to avoid duplicating work?

[2019-12-27 00:34] ocelotl commented on #347
Done! Thanks, @jakemalachowski :+1:

[2019-12-30 06:02] #318 closed

[2019-12-30 10:40] kaos opened #349 "ext-flask: flask.copy_current_request_context breaks span"
**Describe your environment**
$ python --version
Python 3.7.5

opentelemetry-api        0.3a0
opentelemetry-ext-flask  0.3a0
opentelemetry-ext-jaeger 0.3a0
opentelemetry-ext-wsgi   0.3a0
opentelemetry-sdk        0.3a0

Not fixed in latest master, as of today:
https://github.com/open-telemetry/opentelemetry-python/blob/4458698ea178498f7af2d476644b34afcc366335/ext/opentelemetry-ext-flask/src/opentel

[2019-12-31 19:06] toumorokoshi commented on #158
In an effort to start simplifying our development and publishing story, I'll take this one up.

Here's my current proposal:

1. move all packages to use setuptools_scm (this seems fairly trivial)
2. migrate as much information from setup.py into setup.cfg as possible (all extensions have setup.cfgs, the api and sdk package do not).
3. tag a new version 0.4dev0 to ensure that package versions match

[2020-01-01 05:35] toumorokoshi commented on #158
unfortunately setuptools-scm is not working well due to it's reliance on information that is only available in the actual source repo: https://github.com/pypa/setuptools_scm/issues/357

[2020-01-02 05:44] toumorokoshi commented on #349
Thanks for the bug report! I was able to reproduce your example.

I think your suggestion is reasonable, and does avoid the situation where a copied flask context is reused. I did a quick POC that works fine, from what I can tell.

This does introduce two ramifications I want to call out:

1. this will rely on the wsgi timings instead of the flask timings for start/end time. The two seem to be vir

[2020-01-03 05:27] toumorokoshi opened #352 "AttributeValues accepting a list could lead to invalid types being added"
#348 is tackling validation for attribute values, of which list is one of them. However, lists can be mutated as long as someone has a handle, so one could potentially misuse the Span api by mutating lists afterward.

The purpose of adding validation during the setting of span attributes was to remove the need to perform such validations in the exporters themselves.

Should we freeze lists as they

[2020-01-03 17:01] ocelotl commented on #352
We could accept any [sequence](https://docs.python.org/3/library/collections.abc.html#collections.abc.Sequence) and copy all of its values in a tuple when we store them.

Does the OpenTelemetry specification says anything about sequences that hold sequences themselves?

[2020-01-03 18:58] disfluxly opened #353 "Flask/WSGI Ignore Tracing Specific Endpoints"
**Describe the solution you'd like**
Include a decorator or configuration setting that toggles tracing for requests against a specific endpoint. Given a Flask Application that sits behind a Load Balancer where the LB checks a `/status` endpoint every couple of seconds, this quickly leads to a large number of traces against that endpoint (especially when you have 100 of these tasks...). It would be

[2020-01-06 15:34] disfluxly opened #354 "Flask Extension Gunicorn GLogging Error With Access Logs"
**Describe your environment**
Using Python 3.6, with a basic flask application with gunicorn.

**Python Libs**:
[code]
**Reproducible Structure**
[code]

**app/\_\_init\_\_.py**
[code]

**app/api.py**
[code]

**app/wsgi.py**
[code]

**config/gunicorn_config.py**
[code]

**config/log_config.py**
[code]

**Steps to reproduce**
At the root of the above, run `gunicorn -c config/gunicorn_config.py app.

[2020-01-07 01:06] lzchen opened #355 "Rename `handle` to `bound instrument` for metrics"
Following specs: https://github.com/open-telemetry/opentelemetry-specification/pull/392

[2020-01-07 02:43] jakemalachowski commented on #352
@ocelotl I was wondering that when implementing attribute validation. The [OT spec](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/api-tracing.md#set-attributes) says:

Since the array values must all be of a primitive values, this seems to indicate that a list of lists is invalid.

[2020-01-07 09:07] Oberon00 commented on #158
I think it is able to cope with the zipped source package too, by generating meta-information into it. The only thing that I can think of that would break is, is copying the source manually without the `.git` folder. I never tried it myself though.

[2020-01-07 18:47] ocelotl commented on #352
Correct, there should not be sequences of sequences. :+1:

[2020-01-07 19:20] ocelotl commented on #314
I am closing this issue since [this](https://github.com/open-telemetry/opentelemetry-specification/pull/385) has been merged in the specification.

[2020-01-07 19:20] #314 closed

[2020-01-07 20:23] hectorhdzg commented on #343
https://github.com/open-telemetry/opentelemetry-proto/issues/91#issue-546488205

[2020-01-08 17:24] ocelotl commented on #66
It could cause confusion, yes, but that can be fixed with proper documentation :slightly_smiling_face: .

[2020-01-08 19:25] c24t commented on #157
Assigning this one to @hectorhdzg at his request. @rajibmitra, come chat on [gitter](https://gitter.im/open-telemetry/opentelemetry-python) and we can find a good first issue for you.

[2020-01-08 20:03] rajibmitra commented on #346
@toumorokoshi Will it be ok to add `signal` package here
https://github.com/open-telemetry/opentelemetry-python/blob/master/ext/opentelemetry-ext-zipkin/src/opentelemetry/ext/zipkin/__init__.py#L86

[2020-01-08 20:26] condorcet opened #357 "Warning message `Calling set_status() on an ended span` in examples and tests"
**Describe your environment**
Python 3.6, 3.7, 3.8
Code in master, hash: a89bbc882beb44884d174d8a5c08ff36d6c5226e

**Steps to reproduce**
Add logging to stdout in pytest.ini
[code]
and run tests

OR

Run tracing example https://github.com/open-telemetry/opentelemetry-python/tree/8fa21e6bcbb0b28917039661ca2ba369d0dee6b2#tracing

**What is the expected behavior?**
No warning messages in positive tes

[2020-01-08 21:04] condorcet commented on #357
@ocelotl As I can see another bug correlated with this: default status of ended span must be 'OK' according to spec https://github.com/open-telemetry/opentelemetry-specification/blob/ccbf36374730488548703a65af40d9051d7ab944/specification/api-tracing.md#set-status, but now it's `None`

[2020-01-08 21:18] ocelotl commented on #357
Thanks for reporting, @condorcet . We are aiming to have the span status set to `None` as long as it is not finished. Once it is, it should be set to `OL` unless the user specifically has it set otherwise. I'll take a look at this issue to figure out why this is not happening.

[2020-01-09 16:11] codeboten opened #359 "Create an initial implementation of an OpenCensus bridge"
Need to create an OpenCensus bridge for Python.

[2020-01-09 16:15] c24t commented on #346
We probably want to have a general timeout mechanism in the export later, hopefully we can configure this once for all exporters.

[2020-01-09 22:13] c24t commented on #66
We discussed this again in the SIG meeting today and decided to go ahead with ABCs (and "default" no-op implementations) in https://github.com/open-telemetry/opentelemetry-python/pull/311. This does mean some code duplication, and raises the possibility of errors as described above. Hopefully the benefits outweigh the risks.

[2020-01-09 22:13] #66 closed

[2020-01-09 22:51] ocelotl opened #361 "Couple span's start_time and end_time with start and end methods"
This started as a valid point raised by @toumorokoshi while discussing #358. The SDK `Span` `start_time` and `end_time` can be set by the user manually. This can be a problem because the same attributes are used to determine if the span has started or ended.

Protect these attributes from manual user setting. Raise a warning to the user when an attempt is made to do so.

[2020-01-09 22:58] ocelotl opened #362 "Check the protected code in SDK Span methods that use self._lock"
This started when discussing #358, @codeboten and @toumorokoshi raise a valid concern regarding what should and should not be protected by `self._lock` in several methods of the SDK `Span` class.

Take a particular good look into [this](https://github.com/open-telemetry/opentelemetry-python/pull/358/files#diff-2f7b55162ad705df55ee48eb71914737L280-L281).

[2020-01-10 14:53] Oberon00 commented on #354
This seems to be a bug in gunicorn, the WSGI spec does not demand anywhere that the environ may only contain string keys and even explicitly says:

(https://www.python.org/dev/peps/pep-3333/#specification-details)

Arguably, using non-string objects as keys is rather unusual though so we should still consider working around this gunicorn bug.

[2020-01-10 15:26] Oberon00 commented on #362
You linked the `is_recording_events` method here, which just returns the literal `True`: https://github.com/open-telemetry/opentelemetry-python/pull/358/files#diff-2f7b55162ad705df55ee48eb71914737L280-L281

Was this intentional? If so, how is this related?

[2020-01-10 15:36] Oberon00 commented on #345
Without actually looking at all the cases, I would assume that this can be rectified simply by providing an utility function (that could even be in the API layer) like this:

[code]

[2020-01-10 15:48] Oberon00 commented on #352
I don't think we need to make the SDK completely fool-proof. Checking list values on every `set_attribute` sounds rather expensive.

[2020-01-10 16:43] Oberon00 commented on #343
I did a prototype of a exporter for that protocol for Dynatrace-internal purposes already. It is not in shape for a proper PR, but if anyone wants to use it, here is the code (I'd appreciate if you could use `git commit --author` if you based the code on this): https://gist.github.com/Oberon00/5c30bddfbb438129bcebee9190500bf1. It is not up to date with the latest changes though, off the top of my

[2020-01-10 18:15] condorcet commented on #329
It was bug in `multidict` library https://github.com/aio-libs/multidict/issues/418 There is no such problem since 4.7.1.

[2020-01-10 19:32] ocelotl commented on #362
Yes, because of [this](https://github.com/open-telemetry/opentelemetry-python/pull/358/files#diff-2f7b55162ad705df55ee48eb71914737R242). I am a bit surprised by the implementation of the `is_recording_events` method, why do we bother asking if the span is recording events if it always is?

[2020-01-10 19:47] Oberon00 commented on #362
Only a SDK.Span is always recording events. A DefaultSpan is not (the SDK returns a default span for spans that are sampled out, for example). Some 3rd party API-implementation may even have a more complex logic to determime if a span is recording events (BTW, this method was renamed to just isRecording in the spec).

[2020-01-10 20:08] ocelotl commented on #362
So, what's the idea behind having [this](https://github.com/open-telemetry/opentelemetry-python/pull/358/files#diff-2f7b55162ad705df55ee48eb71914737R242) in the SDK code of `Span.start` if it will always be `True`? Are we having it there so that subclasses that may override `is_recording_events` will also have that check in place for their corresponding `start` methods?

[2020-01-10 20:18] Oberon00 commented on #362
They currently don't really serve a purpose, I guess. In this case the blame view of the file would have helped you since I commented on that exact issue in the PR that added the ckeck (and is_recording_events): https://github.com/open-telemetry/opentelemetry-python/pull/141#discussion_r325108907

[2020-01-13 19:52] #329 closed

[2020-01-13 20:25] #361 closed

[2020-01-14 16:08] toumorokoshi commented on #353
This seems like a good option. I wonder if there's something more general in the opentelemetry-specification around this.Do you have thoughts on what an API for that configuration might look like?

We'll discuss this at our next SIG meeting as well.

[2020-01-14 16:12] mauriciovasquezbernal commented on #214
Closing https://github.com/open-telemetry/opentelemetry-specification/pull/346 was merged.

[2020-01-14 16:12] #214 closed

[2020-01-14 16:21] toumorokoshi commented on #352
@Oberon00 looks like you're looking at #348, which is a good venue to discuss the choice of validation at all.

looks like there's roughly a 183ns cost to including this in the trace construction, at the gain of immutability. I think there's merit to make this change:

[code]
I'll put help wanted on this, as it's a good starter task.

[2020-01-14 16:28] toumorokoshi commented on #345
yes, agreed this can be done on the api side by providing a utility function. That said, it's not immediately clear to me why ParentSpan needs to accept both. Generally, I think it's easier if we don't use more algebraic types than we need.

[2020-01-14 16:31] toumorokoshi commented on #300
@ocelotl has made a lot of progress in this area, and I think feedback can also be sent over to his first PR with a proof of concept: https://github.com/open-telemetry/opentelemetry-python/pull/327

[2020-01-14 16:33] toumorokoshi commented on #125
I'm going to closed this issue as the context API is now changing dramatically with the new context propagation OTEP. Feedback around this should be sent to the OTEP: https://github.com/open-telemetry/oteps/pull/66

[2020-01-14 16:33] #125 closed

[2020-01-14 16:34] toumorokoshi commented on #203
closing as this is merged. We can discuss further changes to named tracers as separate issues.

[2020-01-14 16:34] #203 closed

[2020-01-14 16:36] toumorokoshi commented on #234
closing as this has been added. Thanks @hectorhdzg!

[2020-01-14 16:36] #234 closed

[2020-01-14 16:41] toumorokoshi commented on #158
removing from 0.4 as the integration is not as straightforward, and requires changes to setuptools_scm or to our repository hierarchy.

[2020-01-14 16:43] codeboten commented on #345
Here's an issue filed in the oteps repo that's somewhat related: https://github.com/open-telemetry/oteps/issues/73

[2020-01-14 17:16] toumorokoshi opened #365 "Add integration for Gunicorn"
Starting a discussion around what integration for Gunicorn would look like, and also discuss if it's needed.

Today, we already have integrations with web frameworks directly (e.g. flask) as well as wsgi:

https://github.com/open-telemetry/opentelemetry-python/tree/master/ext

I presume that, if we support the major gateway interfaces (WSGI and ASGI), and finer grained support per framework, then

[2020-01-14 18:18] Oberon00 commented on #365
The main thing I can think of that gunicorn could provide us with, is the initial start time of the request in the WSGI environment. Then we can use that when starting the span to include the time it took to dispatch the request to the application.

[2020-01-14 18:45] disfluxly commented on #353
From a code perspective, it would be nice to have a decorator that would be used to specify that the following route be trace-ignored. In addition, there would also need to be a mechanism to access the route api directly to set an ignore on routes created by third-party libraries, such as https://github.com/Runscope/healthcheck

[2020-01-14 19:16] phalecs commented on #273
Hi @mauriciovasquezbernal can this be assigned to me?

[2020-01-16 16:29] c24t commented on #239
FYI changes to the context API in https://github.com/open-telemetry/opentelemetry-python/pull/325 will likely affect this. You may want to wait until that PR is merged to tackle this one.

[2020-01-16 20:48] codeboten commented on #25
Important to note that the contextvars backport currently doesn't support asyncio: https://github.com/MagicStack/contextvars/issues/2

[2020-01-17 15:45] ocelotl commented on #25
The [aiocontextvars package](https://github.com/fantix/aiocontextvars) was created as a workaround to this problem. Nevertheless, I have found it to produce wrong results [too](https://github.com/fantix/aiocontextvars/issues/143).

This means that we currently don't have a way to use `contextvars` when the Pyhton version is less than 3.7, unfortunately. Considering this, I doubt we should include

[2020-01-17 17:07] condorcet commented on #25
Agree with this. In OT we faced this problem too and one of the solution is patching contextvars with patched `aiocontextvars` https://github.com/fantix/aiocontextvars/pull/66 Yes, sounds crazy :) In my opinion it's better to support python >= 3.7 and maybe inform users that they could achieve needed  functionality with mentioned hacks.

[2020-01-17 17:10] ocelotl commented on #25
But, didn't you found any issues with aiocontextvars, @condorcet? I tried it yesterday and got [this](https://github.com/fantix/aiocontextvars/issues/143) error. :man_shrugging:

[2020-01-17 17:33] ocelotl commented on #25
Thanks to @condorcet, I have been able to [close](https://github.com/fantix/aiocontextvars/issues/143#issuecomment-575720755) the previous issue I mentioned (thank you, @condorcet!).

Now, we are only facing [this other issue](https://github.com/fantix/aiocontextvars/issues/88) for the oldest versions of Python 3.5.

[2020-01-19 15:15] GoPavel opened #369 "Jaeger Exporter does not handle SpanKind"
Looks like [Jaeger Exporter](https://github.com/open-telemetry/opentelemetry-python/blob/master/ext/opentelemetry-ext-jaeger/src/opentelemetry/ext/jaeger/__init__.py#L131) does not handle SpanKind field of spans during translation from OpenTelemetry's Span to Jaeger's Span.

In my opinion, we should just add `'span.kind'` to attributes of Jaeger's Span.

[2020-01-20 17:18] #357 closed

[2020-01-20 22:02] #354 closed

[2020-01-22 21:18] c24t opened #371 "Nominate @codeboten for python-approvers"
### GitHub Username

@codeboten

### Organization you are requesting membership in

@open-telemetry/python-approvers

### Requirements

- [x] I have reviewed the [community membership guidelines](https://github.com/open-telemetry/community/blob/master/community-membership.md)
- [x] I have enabled [2FA on my GitHub account](https://github.com/settings/security)
- [x] I have subscribed to the [Gitte

[2020-01-22 21:19] c24t opened #372 "Nominate @hectorhdzg for python-approvers"
### GitHub Username

@hectorhdzg

### Organization you are requesting membership in

@open-telemetry/python-approvers

### Requirements

- [x] I have reviewed the [community membership guidelines](https://github.com/open-telemetry/community/blob/master/community-membership.md)
- [x] I have enabled [2FA on my GitHub account](https://github.com/settings/security)
- [x] I have subscribed to the [Gitt

[2020-01-22 21:30] codeboten commented on #371
Done!

[2020-01-22 22:32] toumorokoshi commented on #371
Approved! Thanks for all of your contributions.

[2020-01-22 22:33] toumorokoshi commented on #372
+1. Thanks for your contributions!

[2020-01-22 23:19] #371 closed

[2020-01-22 23:20] #372 closed

[2020-01-22 23:58] c24t opened #373 "Nominate @mauriciovasquezbernal for python-approvers"
### GitHub Username

@mauriciovasquezbernal

### Organization you are requesting membership in

@open-telemetry/python-approvers

### Requirements

- [x] I have reviewed the [community membership guidelines](https://github.com/open-telemetry/community/blob/master/community-membership.md)
- [x] I have enabled [2FA on my GitHub account](https://github.com/settings/security)
- [x] I have subscribed t

[2020-01-23 00:29] toumorokoshi commented on #373
+1 Thanks Mauricio for all of your contributions!

[2020-01-23 01:53] c24t opened #374 "Automate release branch creation"
There's still a lot of manual work involved in each release. These are the steps I followed for the [opentelemetry v0.3.0 release](https://github.com/open-telemetry/opentelemetry-python/releases/tag/v0.3.0):

**1. Create a new empty release branch**

- Cut a new release branch from `master/HEAD`, specify the minor version, e.g.`v0.3a.x`
  - This branch will be used for all minor releases, hence th

[2020-01-23 13:51] mauriciovasquezbernal commented on #373
Done, thanks a lot!

[2020-01-23 14:48] #236 closed

[2020-01-24 19:50] GoPavel opened #377 "Not properly set status on exception"
Exception handling from [PR#297](https://github.com/open-telemetry/opentelemetry-python/pull/297) have misbehavior in straightforward case:
[code]

I find that Span's method `__exist__` can set status on exception, but it is not used here.

[2020-01-24 22:36] ocelotl commented on #377
Hello @GoPavel

I just checked out the latest master code and ran [this](https://github.com/open-telemetry/opentelemetry-python/blob/master/opentelemetry-sdk/tests/trace/test_trace.py#L643) test case specifically with `tox -e py37-test-sdk -- -k test_error_status`:

[code]
I even inspected [`__exit__`](https://github.com/open-telemetry/opentelemetry-python/blob/master/opentelemetry-sdk/src/opentel

[2020-01-27 14:57] GoPavel commented on #377
Sorry, we have a misunderstanding. I should have made more effort to explain the problem.

I find a bug with setting span status. Specifically, when I use `start_as_current_span` and exception is raised, span status is set to `OK`.
So I read source code of `sdk.trace.__init__.py` and find that properly exceptions handling contains in method `Span.__exist__`, but the new span isn't used as context

[2020-01-27 19:42] c24t commented on #373
@mauriciovasquezbernal you'll need to join the [open-telemetry org](https://github.com/orgs/open-telemetry/people) too: https://github.com/open-telemetry/community/issues/292.

[2020-01-27 22:34] ocelotl commented on #377
Ah, much clearer now, thanks! :+1:

I'll get to work on this right away.

[2020-01-28 02:57] c24t opened #382 "Change pylint invocation to avoid namespace clashes"
See https://github.com/open-telemetry/opentelemetry-python/pull/376#issuecomment-578183476.

Right now `eachdist.py` generates a long `pylint` command that lints the entire project in one run, which raises false errors (especially `no-member` errors) if two modules import different classes or modules with the same local name.

It's easy to fix this by linting each file separately, which `eachdist.

[2020-01-28 03:08] c24t commented on #373
Added!

[2020-01-28 03:08] #373 closed

[2020-01-28 09:36] Oberon00 commented on #382
A first step would be to keep linting all the `src/` folders in one run (if we have clashes there, that's an error) and lint each test, example, etc, separately. Another fix/workaround would be to move all tests to some uniquely named subfolder.

[2020-01-28 12:09] GoPavel opened #383 "Jeager exporter fails on events with empty attributes"
Jaeger exporter not properly handles export events. [The specification](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/api-tracing.md#add-events) states that the attributes of an event are optional. So I **expect that the following code is correct**.
[code]
**But it fails** with the message:
[code]
After reading source code I find that `Span.add_event` has

[2020-01-28 12:43] GoPavel opened #384 "Add Lazy attributes for Events"
[Specification of Event](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/api-tracing.md#add-events) states that Lazy Event is

But now it's not true. In resolved [PR#130](https://github.com/open-telemetry/opentelemetry-python/pull/130) mentions lazy attributes for Event and Link in the future, but I don't see an issue about it.

Current code of `Span.add_laz

[2020-01-28 13:22] mauriciovasquezbernal commented on #383
This will be solved by https://github.com/open-telemetry/opentelemetry-python/pull/367.

[2020-01-28 18:09] ocelotl opened #386 "Add API for exporters"
All the exporter code (including its interface) is right now in the SDK package. Separate the API from the implementation properly by moving the interface in the API package.

[2020-01-28 22:12] allantw commented on #252
Could the source distribution be pushed to pypi was well? Right now, it's just the wheel.

[2020-01-29 02:12] mauriciovasquezbernal commented on #386
@ocelotl as far I understand the span processor and the exporters are an exclusive concept of the SDK, so they should not be on the API. Am I missing something?, was there a change on this?

[2020-01-29 14:49] Oberon00 commented on #252
What would be the advantage of having the source distribution? Its a pure Python wheel anyway.

[2020-01-29 15:12] Oberon00 commented on #386
I agree. I think the separation is fine as-is right now. The same goes for span processors by the way.

[2020-01-29 15:37] mauriciovasquezbernal commented on #383
I performed a test with the example provided in this issue:
[code]

And it works fine. I'll close it. @GoPavel thanks for reporting.

[2020-01-29 15:37] #383 closed

[2020-01-29 17:29] mauriciovasquezbernal commented on #346
I was checking https://github.com/open-telemetry/opentelemetry-python/pull/385 but I got some questions on the issue itself, so I'll comment here.

I don't understand what is the scope of this issue. According to the specification: "Export() must not block indefinitely, there must be a reasonable upper limit after which the call must time out with an error result (typically FailedRetryable)." [1]

[2020-01-29 17:37] ocelotl commented on #386
Well, I think you are right @mauriciovasquezbernal, @Oberon00, the specification seems to define the interfaces for span exporters and processors in the SDK. I find that a bit weird (that an interface is defined in the SDK instead of it being defined in the API), but that topic is to be discussed elsewhere, closing this issue.

[2020-01-29 17:37] #386 closed

[2020-01-29 19:00] dgzlopes commented on #346
From reading [this](https://github.com/open-telemetry/opentelemetry-python/pull/320/files#r360471105) Zipkin review and the comments on this issue, I thought that the right scope for the PR was to:
- Implement a general timeout mechanism.
- Use that mechanism on the export layer so `export()` doesn't block.

But now from reading your message I've some mixed feelings about the PR. Maybe @c24t and @

[2020-01-29 19:56] allantw commented on #252
Unfortunately, it's a requirement to generate the build ourselves off of the source distribution.

[2020-01-29 22:47] c24t commented on #346
I think we can treat exporter timeout and processor timeout as separate issues.

Our exporters don't currently support timeouts, which is a violation of the spec as written. Ideally each exporter would have its own (possibly globally-configurable) timeout, and the processors would handle `FailedRetryable` errors by retrying the export.

Even if we had that, I think it's still a good idea for the s

[2020-01-29 23:21] ocelotl commented on #346
I like this implementation because it puts the timeout mechanism in a place accessible for all the implementations of anything with a simple `from ....utils import timeout`. The timeout mechanism for exporters and processors is pretty much the same thing. Leaving the implementation of this mechanism to the exporters can easily result in a bit of duplicated code spread around. If the reason why thi

[2020-01-30 13:26] GoPavel opened #390 "Missing ABC for Metric"
[Missing ABC](https://github.com/open-telemetry/opentelemetry-python/blob/master/opentelemetry-api/src/opentelemetry/metrics/__init__.py#L90) for `Metric` seems strange to me.
 I guess in the PR #311 and Issue #66 settle to add ABC for all interfaces.

Maybe it should look like:
[code]

[2020-01-30 14:02] Oberon00 commented on #386
The rationale behind this, as I understand it, is that the sole purpose of span processors and exporters is to allow customization of the default SDK. But a custom API implementation is already custom, so there is no need to force it to provide these customization points.

[2020-01-30 15:56] codeboten commented on #390
Thanks for catching this. Mind submitting a PR @GoPavel since you already have most of the code written up here?

[2020-01-30 16:27] codeboten commented on #195
This update to the ruby implementation went in last week:
https://github.com/open-telemetry/opentelemetry-ruby/pull/171

[2020-01-30 18:11] ocelotl commented on #344
Releasing assignment to focus on other issues.

[2020-01-30 19:39] #377 closed

[2020-01-30 19:43] #369 closed

[2020-01-30 22:55] c24t commented on #346
For exporters that use `requests` or (or `urllib3` or `socket` directly) we should [pass the timeout down to the underlying socket](https://github.com/open-telemetry/opentelemetry-python/pull/385#discussion_r372681256). We don't have that option at the span processor level.

I think it's a good idea to have a general purpose timeout decorator -- and for exporters to use that decorator if there's n

[2020-01-30 23:15] ocelotl commented on #346
Ok, I see your point. What I mean is that the specification seems to be pretty strong on the requirement that `export` should not hang indefinitely, and from that I understand that there should be a mechanism (preferably provided by us, who implement the specification) that makes sure of that.

So, for example, let's consider a possible `export` function that passes down the timeout to a socket:

[2020-01-30 23:18] ocelotl commented on #346
[BTW](https://pypi.org/project/timeout-decorator/)

[2020-01-31 12:03] GoPavel commented on #390
Ok. Can you review it?

[2020-01-31 14:34] dgzlopes commented on #346
Actually I think using [timeout-decorator](https://pypi.org/project/timeout-decorator/) or [pebble](https://github.com/noxdafox/pebble) is a good idea. But I don't know how I feel about adding a dependency on this.

From the reviews in #385, I re-implemented timeout functionality using decorators and `multiprocessing` instead of `signals`. I would love if you can give it a look :)

It could be hel

[2020-01-31 14:44] Oberon00 commented on #346
Personally I think that *only* the exporter should be responsible for honoring timeouts. Aborting uncooperative threads has always been a bad idea. What we can do is add an interface (in the general sense of "interface") between the processor and the exporter that tells the exporter how long the timeout is, or if it was cancelled. Also, the batch span processor should stop passing more batches to

[2020-01-31 20:32] ocelotl commented on #346
Ok, maybe another random idea here. How about instead of blocking on `export` or `shutdown` or anything else, we just call them in a non-blocking way and _then_ we wait `timeout` seconds for them to have done their exporting or shutdowning?.

So, yes, basically using some kind of `join`. Can this approach fit our specification needs? :thinking:

[2020-01-31 20:49] #390 closed

[2020-01-31 23:34] dgzlopes commented on #347
With #348 merged I think that this issue can be closed!

[2020-02-03 16:38] mauriciovasquezbernal opened #392 "sdk: implement multi-threading tests for BatchSpanProcessor"
As @Oberon00 suggested in https://github.com/open-telemetry/opentelemetry-python/pull/389#discussion_r373401816, we are missing multi-threading tests for the batch span processor.
Those tests should check that shutdown, force_flush can be called concurrently without causing racing conditions.

[2020-02-03 20:07] mauriciovasquezbernal commented on #346
I second @Oberon00. If the exporters honor the timeouts we could base the timeout logic on span processors on that.

[2020-02-03 22:49] c24t opened #394 "Make meter loader work with with meter interface"
It looks like #311 broke the meter loader logic. `metrics.meter()` now always returns a `DefaultMeter`.

The problem is that [`loader._load_impl`](https://github.com/open-telemetry/opentelemetry-python/blob/aecc3477b0431821015a0455492764baf90a0c36/opentelemetry-api/src/opentelemetry/metrics/__init__.py#L301) expects `api_type` to be the *type* of meter created by the user-supplied factory if they

[2020-02-04 02:37] mauriciovasquezbernal commented on #384
Hi @GoPavel,

You're right, the current implementation is wrong and it doesn't support lazy events.
A possible implementation could be to add `Callable` as an attribute type, exporters should perform a type check and invoke the attribute if it is a `Callable` to get its value.

[2020-02-05 17:41] mauriciovasquezbernal commented on #384
Yes, lazy links were also wrongly implemented by me, somehow I misunderstood that **lazy** meant to receive an `Event` object instead of receiving the parameters and constructing the object internally.

Btw, lazy links don't exist anymore https://github.com/open-telemetry/opentelemetry-python/pull/259.

I think we can provide real support for lazy events using `Callable` in Python.

[2020-02-05 21:49] codeboten opened #396 "Race condition in export test"
A race condition is happening in test_export.py causing the pypy35 tests to fail: https://travis-ci.org/open-telemetry/opentelemetry-python/jobs/646602762#L492

[2020-02-06 19:22] lzchen opened #398 "Implement atomic operations for aggregators in metrics"
Similar to [Go implementation](https://github.com/open-telemetry/opentelemetry-go/blob/master/sdk/metric/aggregator/counter/counter.go)

[2020-02-06 19:47] lzchen opened #399 "Release handle/bound instrument in metrics from memory upon direct metric calling convention"
Metric `handles` are stored in [memory](https://github.com/open-telemetry/opentelemetry-python/blob/master/opentelemetry-sdk/src/opentelemetry/sdk/metrics/__init__.py#L117) upon creation. We need to have a way of releasing that memory.

Upon direct metric calling [convention](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/api-metrics-user.md#direct-instrume

[2020-02-06 20:09] c24t commented on #300
See https://github.com/open-telemetry/opentelemetry-auto-instr-python/pull/1, which adds datadog's python integrations to the new repo.

[2020-02-07 15:59] ecourreges-orange opened #400 "sampled flag propagated doesn't correspond to actual sampling"
**Describe your environment**
From master commit ae484cba65 with 'pip3 install -e' of all deps (wsgi, jaeger, http_requests ...)

**Steps to reproduce**
Used the examples/http/tracer_client.py with EXPORTER=jaeger

**What is the expected behavior?**
The traceparent header sent from client to server contains 01 at the end (sampled flag)

**What is the actual behavior?**
I see the client and server

[2020-02-07 16:29] lzchen commented on #273
Also just to add, the tests are _literally_ being run twice in `tox`.
https://github.com/open-telemetry/opentelemetry-python/blob/master/tox.ini#L5-L8

[2020-02-07 21:55] #284 closed

[2020-02-07 22:30] #396 closed

[2020-02-09 21:47] c24t opened #403 "Add observer, remove gauge"
As a follow-up to #341, replace `Gauge` instruments with `Observer`s, following https://github.com/open-telemetry/opentelemetry-specification/pull/430.

[2020-02-09 21:48] c24t opened #404 "Remove absolute, monotonic metric instrument options"
https://github.com/open-telemetry/opentelemetry-specification/pull/430 removed the "monotonic" and "absolute" metric instrument options in favor of default behaviors for each instrument type.

Remove these from this implementation after merging #341.

[2020-02-11 01:52] codeboten opened #406 "Build failures in pypy3.5 job"
Noticed failures in the build pipeline:

https://travis-ci.org/open-telemetry/opentelemetry-python/jobs/648702056#L232

It's complaining about import failures:
[code]

[2020-02-11 02:42] #406 closed

[2020-02-11 05:11] toumorokoshi opened #409 "extensions should use low cardinality span names by default."
With the merger of https://github.com/open-telemetry/opentelemetry-specification/pull/416/files, we have an official recommendation to use low cardinality span names. As such, integrations such as WSGI should use the HTTP method, rather than the fully qualified path, as the span name.

[2020-02-11 18:42] c24t commented on #178
Note that as of https://github.com/open-telemetry/opentelemetry-specification/pull/430 observers actually replace gauges, see https://github.com/open-telemetry/opentelemetry-python/issues/403.

[2020-02-11 23:38] #400 closed

[2020-02-12 00:39] AntonKueltz opened #411 "Custom output function in console exporter"
What do folks think of making the output function used by `ConsoleSpanExporter.export` customizable? Currently it uses `print(span)` but there are situations where a user may want to perform a transform on `span` before outputting it, or to output another data structure entirely.

To be more concrete, we currently have downstream infrastructure that requires our telemetry data to be in a specific

[2020-02-12 16:12] ocelotl commented on #411
I see a lot of value in this! In fact, some time ago I had modified the exporter in place to print the output in a dictionary/JSON-like output where the parent-child relationship of spans could be displayed as they were nested.

I think it is better to leave `ConsoleSpanExporter` as it is now and instead do as you do by inheriting from `SpanExporter`. Even better, we can define an `ABC` for export

[2020-02-12 18:55] c24t commented on #411
Hey @AntonKueltz, welcome to the project.

I agree wth making `SpanExporter` an interface, and in general I think this is the right approach for custom exporters. But in this particular case I think there's a good argument that this could have been built into `ConsoleSpanExporter` from the beginning. Something like:

[code]

It's a pretty short diff, and doesn't affect the default behavior of the

[2020-02-12 19:33] AntonKueltz commented on #411
Thanks for the feedback @ocelotl and @c24t. The code @c24t provided is pretty much what I had in mind (with the nice addition of also being able to define the output stream).

Regarding the `SpanExporter`, it currently works well enough for using as a base class and plugging the custom child class into a span processor. But there may be more sophisticated use cases than we currently have that can

[2020-02-12 19:36] c24t commented on #411
Ah sorry, it was a quick enough change that I thought I might as well put it in a PR. If this isn't what you need feel free to open another one to replace it, or feel free to push to that branch.

@ocelotl LGTY?

[2020-02-12 19:37] AntonKueltz commented on #411
Nope, this looks good to me, thanks for the quick turnaround!

[2020-02-13 00:03] #411 closed

[2020-02-13 18:14] #155 closed

[2020-02-13 18:20] lzchen opened #413 "Implement aggregators for metrics"
Currently, only the aggregator for counter metrics has been implemented.
Implement the corresponding aggregators for the rest of the metrics types.

https://github.com/open-telemetry/opentelemetry-specification/blob/2b75442b05fd968f197422dc18124338a955f3a2/specification/sdk-metric.md#aggregator-implementations

[2020-02-13 18:20] lzchen opened #414 "Implement Metrics SDK"
Implement Metrics SDK.

Issues:
- [x] #404
- [x] #403 & #178
- [x] #221
- [X] ~~#185~~
- [X] ~~#413~~
- [x] #468
- [x] #435

[2020-02-13 18:28] codeboten opened #415 "Implement the Propagation API"
This ticket is to track updating the propagation API to match the spec: https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/api-propagators.md

See [otep 66](https://github.com/open-telemetry/oteps/blob/master/text/0066-separate-context-propagation.md) for more details.

[2020-02-13 21:55] codeboten opened #416 "Implement Correlations API"
This ticket is to track implementing the Correlations API to match the spec proposed here: https://github.com/open-telemetry/opentelemetry-specification/pull/420

See [otep 66](https://github.com/open-telemetry/oteps/blob/master/text/0066-separate-context-propagation.md#Correlations-API) for more details.

[2020-02-13 22:13] codeboten opened #418 "Beta Readiness Tracker"
This is a tracking issue for the requirements outlined in the beta release doc: https://docs.google.com/document/d/1eviggoIguOS89dgKL-8ntUOCfPP6FLWAoQkGoBDsld0/edit#

## Traces
- [x] stable API of every spec'd feature
- [x] SDK Implementation of every spec'd feature
  - [x] Basic tracing
  - [x] Named tracers
  - [x] Tracers use OTEP 66 Context mechanism - This is an implementation detail and does

[2020-02-14 00:25] codeboten opened #420 "Implement attach/detach in the Context API"
The current implementation still has a `set_current` method https://github.com/open-telemetry/opentelemetry-python/blob/master/opentelemetry-api/src/opentelemetry/context/__init__.py#L101, this was removed from the spec in favour of attach/detach.

As per the spec: https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/context.md#attach-context

[2020-02-14 09:33] Oberon00 commented on #418
There is one important and rather basic thing that's missing here: https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/sdk-resource.md

[2020-02-14 12:16] mauriciovasquezbernal commented on #71
@codeboten was it solved by https://github.com/open-telemetry/opentelemetry-python/pull/395?

[2020-02-14 14:45] Oberon00 commented on #273
If we don't care about testing setup.py files, we could simply run all tests in a single environment. We could also configure travis to run a "quick check" first, i.e. lint + test everything in the same environment and then test+coverage for each package separately.

[2020-02-14 19:07] #404 closed

[2020-02-14 21:23] codeboten commented on #418
That's a good point, I didn't see anything in the [JS beta tracker](https://github.com/open-telemetry/opentelemetry-js/issues/782), or in the [OpenTelemetry Launch Plan](https://docs.google.com/document/d/1eviggoIguOS89dgKL-8ntUOCfPP6FLWAoQkGoBDsld0/edit) about resources. Do you have anymore info on this @mtwo?

[2020-02-14 21:50] hectorhdzg opened #423 "Create basic_metric example"
Similar to
https://github.com/open-telemetry/opentelemetry-python/tree/master/examples/basic_tracer
showing E2E flow using multiple exporters

[2020-02-15 22:01] mtwo commented on #418
Resource metadata is required; @bogdandrutu or @carlosalberto can confirm. I've updated the launch plan doc to reflect this.

@dyladan can you update the JS beta tracker to reflect this?

[2020-02-17 21:43] toumorokoshi commented on #126
I believe OTEL66 (Context API) resolves this issue.

[2020-02-17 21:43] #126 closed

[2020-02-17 21:44] toumorokoshi commented on #265
Closing this as we now have dbapi and pyscopg2.

[2020-02-17 21:44] #265 closed

[2020-02-18 11:14] glaubitz opened #427 "Please provide sourcecode archives on PyPi"
I'm currently packaging the various open-telemetry packages for openSUSE/SLE which is normally very easy by downloading the sources from PyPi using SUSE's ```py2pack``` and generating a spec file with the same utility.

However, open-telemetry currently does not provide any sourcecode releases on PyPi which is why packaging it for openSUSE/SLE and other Linux distributions is more cumbersome.

Cou

[2020-02-18 12:19] Oberon00 commented on #427
Related: #252

@allantw also requested a src distribution there.

[2020-02-18 18:23] toumorokoshi commented on #427
@glaubitz this is something we can do as part of our Alpha 0.4 release on Friday. Does that sound like a good timeline?

[2020-02-18 18:27] glaubitz commented on #427
@toumorokoshi Absolutely, thanks a lot! I can submit the packages to openSUSE/SLE on the weekend then.

[2020-02-18 19:11] codeboten commented on #418
Section for resources was added.

[2020-02-19 01:18] lzchen opened #432 "Metric exporters to prepend name of meter to metric instruments"
Following [#431], metric instruments created under a `meter` belong to that `meter` 's namespace. According to [the specs](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/api-metrics-user.md#metric-names), exporters that require it should pre-pend the `meter` name to metric names.
Prometheus exporter probably needs to do this after [#378].

Does the console

[2020-02-19 17:38] toumorokoshi opened #434 "Rename "TracerSource" to "TracerProvider""
## Updates

Here is the current living proposal:

* rename TracerSource to TraceProvier
* rename TraceOptions to TraceFlags

## Original Post

From a naming standpoint, we currently deviate from the spec in two areas trace-related:

* our module name is "trace", the specification calls it tracing: https://github.com/open-telemetry/opentelemetry-specification
* we have a TracerSource, that is calle

[2020-02-19 20:27] lzchen commented on #434
I believe [Java](https://github.com/open-telemetry/opentelemetry-java/tree/master/api/src/main/java/io/opentelemetry/trace), [JS](https://github.com/open-telemetry/opentelemetry-js/tree/master/packages/opentelemetry-api/src/trace) and [.NET](https://github.com/open-telemetry/opentelemetry-dotnet/tree/master/src/OpenTelemetry.Api/Trace) are all named "trace", so there's also the factor of being con

[2020-02-19 22:25] toumorokoshi commented on #434
Ah interesting. Then ok, maybe it's ok to leave it as trace (seems like there'll be changes back to the spec instead there).

Regarding TraceOptions: looks like those are referred to as TraceFlags: https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/api-tracing.md#spancontext. So probably another renaming opportunity there.

[2020-02-20 18:09] codeboten opened #436 "The behaviour of contextvars is different in python <3.7"
As discussed in this comment https://github.com/open-telemetry/opentelemetry-python/pull/419/files/39e0a19f220a20fb5a73d4a5017cfcefb9106c88#r379887377, the behaviour of contextvars in python 3.7 is different from previous versions using aiocontextvars.

The solution as proposed by @condorcet is to apply this patch https://github.com/fantix/aiocontextvars/pull/66

[2020-02-20 22:42] c24t commented on #427
@glaubitz out of curiosity, what's the motivation for packaging OT up for SUSE? I'm glad to hear it, just surprised since every release so far (and the one coming up) have been alpha versions.

[2020-02-20 23:08] glaubitz commented on #427
It's a new dependency of Microsoft's Python Azure SDK which we are providing to customers in the Public Cloud.

It's required by ```azure-core-tracing-opentelemetry```, see: https://build.opensuse.org/package/view_file/home:repo-checker/reports/openSUSE:Factory:Staging:adi:29.

[2020-02-20 23:12] #252 closed

[2020-02-21 19:31] #157 closed

[2020-02-21 23:10] c24t opened #445 "Test for package README syntax errors"
Add a test that checks for README syntax errors with [`readme_renderer`](https://pypi.org/project/readme_renderer/).

Such errors prevent us from uploading packages to PyPI. See #444.

[2020-02-22 01:48] c24t commented on #427
As of https://github.com/open-telemetry/opentelemetry-python/releases/tag/v0.4.0, source archives are on PyPI: https://pypi.org/project/opentelemetry-api/#files.

@glaubitz feel free to reopen if there's anything we're missing here.

[2020-02-22 01:48] #427 closed

[2020-02-26 23:56] #420 closed

[2020-02-27 06:08] toumorokoshi commented on #418
After a discussion with @jmacd in gitter, I've clarified that the resource SDK today calls for 1. an implementation of resources and 2. a way to bind them into the Tracers that are created.

We have 1 already:
* https://github.com/open-telemetry/opentelemetry-python/blob/master/opentelemetry-sdk/src/opentelemetry/sdk/resources/__init__.py
* https://github.com/open-telemetry/opentelemetry-python/bl

[2020-02-27 16:33] mauriciovasquezbernal commented on #85
@codeboten probably not relevant anymore after your PR on Context API #395?

[2020-02-27 16:54] toumorokoshi commented on #123
@ocelotl has a WIP prototype he'll be sending out in a PR over the next week.

[2020-02-27 17:38] codeboten commented on #85
Correct.

[2020-02-27 17:38] #85 closed

[2020-02-27 17:54] codeboten opened #448 "ConsoleSpanExporter doesn't print out as expected"
### Environment
I setup a new virtualenv and ran through the http example: https://github.com/open-telemetry/opentelemetry-python/tree/master/examples/http.

### Expected
After running the client, I was expecting to see the span being printed in both the client and the server consoles.

### Actual
The span was printed to the client console. On the server side, the span was only printed once I exit

[2020-02-28 00:37] #343 closed

[2020-02-28 19:36] #434 closed

[2020-02-28 19:47] c24t commented on #448
That's because of the `BatchExportSpanProcessor`, it only exports every 60 seconds or immediately on exit. The client prints because it exits, but you'd see the same thing with e.g. a sleep at the end.

This is confusing behavior for an example though.

[2020-02-28 21:29] codeboten commented on #448
I just tested this again with the batch processor, waited over 2 minutes and still nothing until I cancelled the server process. I haven't tested this with other exporters to test the behaviour. I agree the example should probably be changed to use the SImple processor, but I think there is still a regression somewhere in the `ConsoleSpanExporter`

[2020-02-28 22:43] c24t opened #453 "Use latest sphinx packages to build docs"
See #452

It looks like using `sphinx-autodoc-typehints==1.10.3` causes the docs to [fail to build on RTD](https://readthedocs.org/projects/opentelemetry-python/builds/10524617/), but `1.10.2` passes. If we fix the build, or a new version of `sphinx-autodoc-typehints` fixes this (apparent) regression, we should consider removing the version restrictions in `docs-requirements.txt`.

[2020-02-28 22:55] ocelotl commented on #448
Yes, I also think there is a regression. This is happening with the auto instrumentation example too, it didn't happen before.

[2020-03-01 06:01] #394 closed

[2020-03-02 12:36] knabben commented on #448
Looks like the stdout is not being unbuffered, so running with PYTHONUNBUFFERED=1, makes it work. Maybe it can be set in the example.

[2020-03-02 12:46] knabben commented on #448
Looks like the flush of the buffering never happens, maybe it makes sense to call self.out.flush() at the end of ConsoleSpanExporter.export.

[2020-03-02 12:50] mauriciovasquezbernal commented on #448
@knabben yes, you are right. I am already preparing a patch for this issue.

[2020-03-02 13:17] mauriciovasquezbernal commented on #448
Actually the default delay is 5 seconds https://github.com/open-telemetry/opentelemetry-python/blob/5b2e6932f20cd2d8656e4cbc6b6b385fb8bcfb6d/opentelemetry-sdk/src/opentelemetry/sdk/trace/export/__init__.py#L107

I am proposing a fix for this on https://github.com/open-telemetry/opentelemetry-python/pull/455.

[2020-03-02 17:12] codeboten opened #456 "Implement Resources SDK"
Issue to track implementing the Resources API in the SDK. See the discussion here for more context: https://github.com/open-telemetry/opentelemetry-python/issues/418#issuecomment-591799865

[2020-03-02 19:42] #171 closed

[2020-03-02 20:00] c24t opened #457 "Consider including docs for each released version on GH pages"
We rebuild the API docs at https://open-telemetry.github.io/opentelemetry-python/index.html on each change to master. One benefit of hosting on readthedocs.org (#452) is that we can host docs for multiple versions of the library at once. E.g. for each release and the "latest" version, which is built  continuously from master.

It looks like it's possible to do the same for the docs on GH pages wit

[2020-03-02 22:02] #178 closed

[2020-03-02 22:02] #403 closed

[2020-03-03 02:20] mauriciovasquezbernal commented on #413
I think we need to better define the scope of this issue. The link on the description is a document that is **not** part of the specification yet, so I don't know if we should base the decision of what aggregators to implement to that. Currently we have `Counter`, `MinMaxSumCount` and `MinMaxSumCount` (observer) aggregators. Which ones are we missing for the beta release?

[2020-03-03 02:24] mauriciovasquezbernal commented on #185
@lzchen https://github.com/open-telemetry/opentelemetry-python/pull/422/files#diff-ceb6c75131a7c968ee965da2a10fa5d2R51 implemented the `MinMaxSumCount` aggregator for `Measure` instruments, does it suffice or there is something missing for closing this issue?

[2020-03-03 17:10] mauriciovasquezbernal commented on #456
Following the discussion in https://github.com/open-telemetry/opentelemetry-python/issues/418#issuecomment-591799865.

@toumorokoshi I'm reading through the specification and it's not that clear for me how to implement point 2. I agree with you, we could just implement a method to bind a `Resource` to a `TracerProvider` and `MetricProvider`, but how will it be used?, could we let this to the expor

[2020-03-03 22:16] lzchen commented on #185
I think this issue needs to be better scoped, it was created a long time ago when `record` was not implemented yet. Ideally for this to be "complete", all aggregations for `measure` should be finished but we can probably track those as separate issues. I'm fine with closing this one.

[2020-03-04 05:01] #448 closed

[2020-03-04 13:42] MikeGoldsmith commented on #413
Observer should have a "last value" aggregator.
[OTEP-80](https://github.com/open-telemetry/oteps/pull/80)
[OTEL-Spec-412](https://github.com/open-telemetry/opentelemetry-specification/issues/412).

[2020-03-04 14:20] mauriciovasquezbernal commented on #413
@MikeGoldsmith I made a typo, currently the `Observer` has a `MinMaxSumCountLast` aggregator. I remember there were some discussion about simplifying it, do you have any info of the final decision on that discussion?

[2020-03-04 16:55] MikeGoldsmith commented on #413
@mauriciovasquezbernal - [Metrics Spec](https://github.com/open-telemetry/opentelemetry-specification/blob/4e7cd5a7d13e09674d0c7cc8b5932ada367c4d2b/specification/api-metrics.md#aggregations) just says `LastValue` aggregation 👍

[2020-03-04 17:45] krnowak commented on #413
In golang, the simple selector for observer basically chooses an "measure"-like aggregator. See https://github.com/open-telemetry/opentelemetry-go/pull/474#discussion_r381632801

So yeah, that aggregations part in metrics spec seems a bit conflicting with [standard impls of instruments in metrics specs](https://github.com/open-telemetry/opentelemetry-specification/blob/4e7cd5a7d13e09674d0c7cc8b593

[2020-03-04 20:57] mauriciovasquezbernal commented on #221
Solved by https://github.com/open-telemetry/opentelemetry-python/pull/431.

[2020-03-04 20:57] #221 closed

[2020-03-04 21:07] SergeyKanzhelev opened #463 "Implement SamplingResult according to the spec"
I was looking for which SDKs implemented the Sampling spec as written: https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/sdk-tracing.md#sampling

It feels like the most of SDKs still implements the previous version with the `Decision` class.

[2020-03-05 16:16] c24t commented on #159
Is this defined by the spec yet? The behavior we've chosen now is that extensions create a new (no-op in the case of no SDK) span.

[2020-03-05 16:21] c24t commented on #25
@toumorokoshi points out that we need to document the quirks around 3.4 support to close this. We'll keep supporting 3.4 for now.

[2020-03-05 16:26] codeboten commented on #418
@mtwo is the OpenTracing bridge still part of the beta requirement? It doesn't appear in the launch doc.

[2020-03-05 17:56] mtwo commented on #418
It's not a requirement for beta, though I think that a few languages will be including it anyways. I assume that we'll have it as a RC / GA requirement, though we haven't set these yet.

[2020-03-05 21:35] mauriciovasquezbernal commented on #347
@dgzlopes not actually, https://github.com/open-telemetry/opentelemetry-python/pull/348 was about span attributes, this one is about attributes in Event: https://github.com/open-telemetry/opentelemetry-python/blob/a7535a1bad4fa8b77a987bee111ca8dd90c64ba1/opentelemetry-sdk/src/opentelemetry/sdk/trace/__init__.py#L268-L280

[2020-03-06 20:20] lzchen commented on #413
@toumorokoshi @c24t
I think this issue can be closed. We have the default aggregators for each metric type and I believe that is sufficient enough for the beta release.

[2020-03-06 20:26] lzchen commented on #185
I think this issue can be closed. The default aggregation for measure is sufficient for the beta release, as the other aggregation types have not yet made it to the specs. I will create another issue for them once they are finalized in the specs.

@c24t  @toumorokoshi

[2020-03-06 20:32] lzchen opened #468 "Rename handles to "bound instrument""
From [OTEP](https://github.com/open-telemetry/oteps/blob/master/text/0070-metric-bound-instrument.md)

[Specs](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/api-metrics-user.md#bound-instrument-calling-convention)

[2020-03-06 20:44] #415 closed

[2020-03-09 15:07] mauriciovasquezbernal commented on #355
https://github.com/open-telemetry/opentelemetry-python/issues/468 is new version of this one, already linked in new places. Will close it now.

[2020-03-09 15:07] #355 closed

[2020-03-09 18:43] disfluxly commented on #353
@toumorokoshi  - Curious, how did the SIG meeting go?

[2020-03-09 18:46] disfluxly commented on #365
I think this would be highly beneficial as well. It's a very common model to use Gunicorn -> Flask, and it's not entirely uncommon to see errors popping up when Gunicorn attempts to spin up the Flask application factory (especially for multi-process setups). Typically this would occur before the opentelemetry-ext-flask would get initiated, so having this integration would provide some great out-of

[2020-03-09 19:03] c24t commented on #468
Fixed by #355.

[2020-03-09 19:03] #413 closed

[2020-03-09 19:04] #185 closed

[2020-03-09 19:20] c24t commented on #468
Looks like this is still open, cc @mauriciovasquezbernal.

[2020-03-09 19:56] #456 closed

[2020-03-09 22:32] hectorhdzg opened #472 "Add functional tests for OTLP exporters"
Once the OpenTelemetry exporter is available, we can validate exporters data flowed correctly in an easier manner.

Depends on https://github.com/open-telemetry/opentelemetry-collector/issues/479

[2020-03-10 14:48] scarabeusiv opened #473 "Distribute license and tests in opentelemetry-api pypi tarball"
Could you please add license from the main pkg to be distributed in the sdist tarball on pypi, just adjusting manifest.in is good enough.

Also in distributions we like to run tests on the python stack we ship so if you could distribute in sdist tarball the test/ folder it would allow us to run the tests and see if your infrastructure is working fine or if we ned to do adjustments somewhere. Right

[2020-03-10 18:54] mauriciovasquezbernal commented on #468
Solved by https://github.com/open-telemetry/opentelemetry-python/pull/470.

[2020-03-10 18:54] #468 closed

[2020-03-11 20:07] #344 closed

[2020-03-12 03:44] lizthegrey opened #477 "Flask routes cannot be tagged as context propagation boundaries"
**Is your feature request related to a problem?**
We run the OTel demo app inside Glitch, which sends its own propagation headers for its own instrumentation. We explicitly want to distrust requests that come from Glitch rather than being sent trusted app to trusted app.

This issue would apply to anyone that doesn't sanitize their headers at the loadbalancer to remove context headers to their pub

[2020-03-12 09:09] lizthegrey opened #478 "ConsoleSpanExporter export is ambiguous/incomplete"
**Is your feature request related to a problem?**
Using the ConsoleSpanExporter(), we see Span(...)Span(...) with no newlines or other delimeters separating them, and attributes not reported.

**Describe the solution you'd like**
[code]

**Additional context**
This is for clarity in the Intro to OTel workshop.

[2020-03-12 09:53] Oberon00 commented on #477
What do you mean by "context propagation boundaries"? How would OpenTelemetry be able to help you in "distrusting"? I can only speculate that you are talking about the IsRemote property of the SpanContext, but please clarify this issue.

[2020-03-12 10:29] lizthegrey commented on #477
If I get an HTTP request from somewhere I distrust, I shouldn't carry around its baggage or set its span id to my parent when instrumenting my handler, because I am my own service that shouldn't accept arbitrary client data.

[2020-03-12 11:11] Oberon00 commented on #477
Wasn't the idea behind the W3C tracecontext that you could trace through systems that don't know anything of each other? Maybe related: https://github.com/open-telemetry/opentelemetry-specification/issues/366

[2020-03-12 11:13] lizthegrey commented on #477
"local root span" sounds right, yeah. I'm good with that approach.

[2020-03-12 11:19] Oberon00 commented on #477
I'm still not sure what the approach would be here. Would implementing a "is local root" property solve your use case?

[2020-03-12 11:22] lizthegrey commented on #477
Avoid having Jaeger and Honeycomb & pretty much every other analysis tool say "hey, you're missing the root span" // "hey, I'm missing a parent span of a span you've sent me"

[2020-03-12 11:31] Oberon00 commented on #477
Ah, I see.  Personally I think this is a design problem of the W3C traceparent header, because the parent span ID part is mostly useless if you actually use the W3C header for its intended purpose to trace across different vendors. We might want to add a support for propagating the span ID as a custom key in the tracestate, see https://github.com/open-telemetry/opentelemetry-specification/issues/3

[2020-03-12 13:23] lizthegrey opened #479 "opentelemetry.ext.http_requests should allow de-registering a specific Session"
**Is your feature request related to a problem?**
See workaround implemented https://github.com/honeycombio/opentelemetry-exporter-python/blob/master/src/opentelemetry/ext/honeycomb/__init__.py#L53 that should be made into a library function of http_requests

**Describe the solution you'd like**
In addition to `disable()` that disables system-wide, it should be possible to de-register a specific i

[2020-03-12 13:49] lizthegrey opened #480 "ext/opentelemetry-ext-dbapi/README.rst out of date"
**Steps to reproduce**
Pasting in the example code in dbapi/README.rst is out of date because it uses `tracer_provider` not `tracer_source`, and doesn't have both `database_component` and `database_type` documented.

[2020-03-12 13:59] mauriciovasquezbernal commented on #480
Hi @lizthegrey,

What versions of the packages are you using?, I suppose you installed the last version available in PyPI,  `0.4.a1`.

In that case the readme is not out of date but actually ahead, `tracer_source` was renamed to `tracer_provider`, there is not yet a release including that change yet.

If you want to run the example for the last released version please use this https://github.com/o

[2020-03-12 14:00] lizthegrey commented on #480
ohhh, thank you! noted.

[2020-03-12 14:00] #480 closed

[2020-03-12 14:09] mauriciovasquezbernal commented on #478
Hi @lizthegrey,

The missing line break was fixed in https://github.com/open-telemetry/opentelemetry-python/pull/455, however this is not available in any released version yet.

About the missing attributes, we are also missing links and events and their attributes, probably including them will make if very difficult to read the output.

By the way, the console exporter supports a custom formatter

[2020-03-12 14:30] lizthegrey commented on #478
Thanks, it does help. May I make the suggestion that at least counting number of links, attributes, and events, may be helpful even if they're not displayed in full? That way someone can tell that adding attributes has had the desired effect.

[2020-03-12 16:17] mauriciovasquezbernal opened #482 "Reorganize examples"
I'm proposing to slight reorganize the examples structure by having:

Tracing: show the tracing api. Use console exporter
- Basic tracer: how to start spans, add events, attributes.
- http tracer: shows usage of an integration (requests in this case).

Metrics: shows usage of different instruments and different calling conventions.
- basic: how to use Counter and Measure using direct call conventi

[2020-03-12 19:46] c24t commented on #479
Good call, any instrumentation code that uses requests under the hood will need this, and plenty of reasons for application code too.

Looking forward to the honeycomb exporter!

[2020-03-12 19:49] lizthegrey commented on #479
Already live! https://pypi.org/project/opentelemetry-ext-honeycomb/

[2020-03-12 19:50] c24t commented on #473
Related to #427.

Thanks @scarabeusiv, we'll include the license and tests in the next release, scheduled for monday 3/16.

[2020-03-14 18:29] ffe4 commented on #445
I'd like to work on this. I thought I'd include it directly into `scripts/eachdist.py` when ` lint --check-only` is run, i.e. the tox lint step. Would that be the best place for it?

It seems there's already a function to get the relevant directories, so I'd just run `setup.py --long-description` on them and feed that into the readme renderer if it's `.rst`.

[2020-03-14 18:38] Oberon00 commented on #445
If it's expressible with little more than a single execute_args call (i.e. you could also do it manually with ` scripts/eachdist.py exec`), then I'd say that, yes, this is a good place for it (following the existing logic in eachdist.py, it should also be run without ` --check-only` though as that flag is only meant to surpress auto-fixing if it is available for the command).

[2020-03-14 19:46] c24t opened #485 "Programmatic configuration"
From [@toumorokoshi's comment on #466 ](https://github.com/open-telemetry/opentelemetry-python/pull/466/files#r392403854).

Right now it's possible to set the global tracer and meter providers in code, but not to change `Configuration`, which is always created from static config. Ideally we'd give users the option to set config values in code as well as in the configuration file.

cc @ocelotl

[2020-03-14 20:13] c24t opened #486 "Tests should use configured provider types for non-standard SDKs"
Follow-up to #466.

Many ext tests use the default SDK `TracerProvider` and `MeterProvider` types. Some ext packages (typically "integrations") only rely on the API package, other ext packages (typically "exporters") rely on the SDK package because they use types defined in the API.

Both kinds of ext packages should work with the default no-op providers, built-in SDK providers, and custom SDK pro

[2020-03-14 20:16] #123 closed

[2020-03-15 14:38] ffe4 commented on #445
I do not mean to overcomplicate this, but I encountered some questions regarding how to handle this issue.

The only nice way to get the README (or `long_description`) is to run `setup.py —long-description`. There does not seem to be a good way to get the content type (rst/md), however, or the file name of the README.

I could parse those from the `setup.cfg` ini file, if it existed everywhere. Bu

[2020-03-15 17:01] toumorokoshi opened #491 "Author a full getting started guide"
As part of the final beta announce on March 30th, we should have a full getting started guide, similar to this one for js:

https://github.com/open-telemetry/opentelemetry-js/blob/master/getting-started/README.md

[2020-03-15 17:03] toumorokoshi commented on #491
for this work, we should leverage or contribute back to the existing examples as much as possilble. This helps minimize the number of examples we have to keep up to date.

[2020-03-16 05:05] toumorokoshi opened #493 "opentelemetry-ext-jaeger doesn't work with jaeger-all-in-one collector"
**Describe your environment**

python3.8

**Steps to reproduce**

start the jaeger all in one docker container:

    docker run -p 16686:16686 -p 14268:14268 jaegertracing/all-in-one

Run the following script:

[code]

I'd expected to see the traces all emitted to jaeger. Instead, I get a thrift exception from the python script:

[code]

[2020-03-16 12:39] mauriciovasquezbernal commented on #486
Do you mean exporters use types defined in the **SDK**?

I totally agree for the integration packages, but I'm not sure what you mean for the exporters. As far as I know exporters are an SDK-only concept, so it's fine for them to rely on the SDK internal details. Exporters would not be even invoked if the user chooses the default no-op implementation, the application should work in that case. Coul

[2020-03-16 15:52] toumorokoshi commented on #493
Thanks to @mauriciovasquezbernal I have this working with the agent exposed in all-in-one. collector looks to be reproducible, so renaming the ticket to qualify for that.

[2020-03-16 16:17] andrewhsu commented on #276
Looks like related PR: #476

[2020-03-16 16:18] codeboten commented on #44
Should this be closed with the changes in https://github.com/open-telemetry/opentelemetry-python/issues/123?

[2020-03-16 16:18] codeboten commented on #45
Should this be closed with the changes in https://github.com/open-telemetry/opentelemetry-python/issues/123?

[2020-03-16 16:19] andrewhsu commented on #45
Looks like related PR #466 did changes for configuration.

[2020-03-16 16:24] andrewhsu commented on #44
Looks like configuration PR #466 made changes to behaviour. Would be good to get the configuration value setting behaviour expected documented for the user.

[2020-03-16 17:32] #416 closed

[2020-03-16 17:41] c24t commented on #491
This should be combined with #483 after the beta release.

[2020-03-16 18:40] Oberon00 commented on #445
Hey, I'm not 100% sure this is applicable, but can't we use `twine check` https://packaging.python.org/guides/making-a-pypi-friendly-readme/#validating-restructuredtext-markup?

[2020-03-16 19:25] #491 closed

[2020-03-16 21:08] ffe4 commented on #445
It's the recommended way but requires building the sdist and wheel first, which I assumed was the reasoning for using `readme_renderer` instead. `twine check` uses it internally and [checks whether the readme can be rendered](https://github.com/pypa/twine/blob/fb03835ebf124ed2f9a447a5f0bd607c283172fb/twine/commands/check.py#L94).

[2020-03-17 01:30] lzchen opened #501 "PyMySQL Integration"
Add trace integration with PyMySQL.
Achieve parity with [OpenCensus](https://github.com/census-instrumentation/opencensus-python/tree/master/contrib/opencensus-ext-pymysql)

https://pypi.org/project/PyMySQL/

[2020-03-17 20:03] c24t commented on #45
Yup, this is obsolete as of #466.

[2020-03-17 20:03] #45 closed

[2020-03-17 20:35] #399 closed

[2020-03-17 20:38] c24t commented on #418
Moving the gRPC integration and examples forward to the next milestone and closing this one out.

[2020-03-17 20:38] #418 closed

[2020-03-17 20:39] #414 closed

[2020-03-17 20:43] #44 closed

[2020-03-18 11:26] kapilt opened #506 "docs - please link external vendor integrations from docs/readme"
while looking for azure monitor, gcp stack driver, and aws xray integration it became clear they were removed from this repository for `reasons` or don't exist at the moment.. however as an end user this creates needless frustration wrt to understanding what to use/install to utilize opentelemetry. ideally these would be linked as external extensions from within opentelemetry documentation.

[2020-03-18 14:27] codeboten commented on #506
Thanks for the report @kapilt! I'll update the readme to include a link to the registry: https://opentelemetry.io/registry/?s=python

[2020-03-18 18:45] c24t commented on #195
#466 went a long way to solving several usability problems in the library and #327 will make similar changes to integrations. There's still more work to do to make the library easy to use, but we'll track that work in more specific issues.

[2020-03-18 18:45] #195 closed

[2020-03-18 20:30] codeboten commented on #506
Fixed by #507

[2020-03-18 20:31] codeboten commented on #506
Closed too soon

[2020-03-18 20:59] #506 closed

[2020-03-18 21:34] lzchen opened #510 "Last updated timestamp for Observers"
Upon collection for metrics/observers, `Record` s are created to be exported. which could be of type `Counter`, `Measure` or `Observer`. `Counter` and `Measure` types have the concept of [a last updated timestamp](https://github.com/open-telemetry/opentelemetry-python/blob/master/opentelemetry-sdk/src/opentelemetry/sdk/metrics/__init__.py#L74) through their bound instrument. Observers need to have

[2020-03-19 15:14] codeboten opened #513 "Builds take a long time because of grpcio"
Currently each build takes a long time as it's rebuilding grpcio. This is causing pain for maintainers trying to merge multiple changes quickly.

[2020-03-19 19:44] mauriciovasquezbernal opened #514 "Create peformance tests for metrics"
We need a testbed to benchmark the metrics so we can measure the impact of further changes on it.

A raw idea of what to measure could be:
- Instruments: cost of capturing data (direct, bound)
- Aggregators: cost of updating / collecting different aggegators
- Meter: cost of creating instruments, labelsets

[2020-03-19 22:29] ocelotl opened #515 "Make the configuration object serve configuration outside the API"
The configuration object only cares now for `OPENTELEMETRY_PYTHON_TRACER_PROVIDER` and `OPENTELEMETRY_PYTHON_METER_PROVIDER`. Nevertheless, some software components that integrate with this project (like the ones in the `ext` folder or their corresponding auto instrumentation components) may also need to access configuration.

One simple way to do this is to make the configuration object look for

[2020-03-20 17:48] c24t opened #517 "Add AUTHORS"
From https://github.com/open-telemetry/opentelemetry-python/pull/509#discussion_r394745121.

Consider replacing the authors list in README with a dedicated AUTHORS file.

[2020-03-20 20:19] mauriciovasquezbernal opened #518 "metrics: Remove LabelSet"
There is an OTEP proposing to removing  LabelSet in favor of a simple key-value list / dict: https://github.com/open-telemetry/oteps/pull/90.

Other languages already are doing this https://github.com/open-telemetry/opentelemetry-java/pull/1023, https://github.com/open-telemetry/opentelemetry-go/issues/539.

[2020-03-23 16:21] toumorokoshi commented on #514
@mauriciovasquezbernal if you wanted to close this one, or the other issue on this topic, that would be great: https://github.com/open-telemetry/opentelemetry-python/issues/335

[2020-03-23 16:22] toumorokoshi commented on #514
From a discussion in gitter about multithreading benchmarking:

I'm not sure if multithreading is a valuable scenario. I mean, it is good to have some sort of benchmark, but even single-threaded benchmarks are vulnerable to variations in the target environment. Single-threaded I think tends to be more stable because typically one increases the number of cores they use in the build, rather than the

[2020-03-23 22:07] c24t commented on #513
A quick check shows that the "building wheel for grpcio" step in the otcollector test takes ~20% of the total build time:

![image](https://user-images.githubusercontent.com/43799105/77367672-e6ad1680-6d17-11ea-976c-28f60809fc7d.png)

https://docs.google.com/spreadsheets/d/1f1qqfLHKRaLCwo8Y1rH21vTts8oZHIvRBfsgM9hasEY/edit?usp=sharing

[2020-03-24 10:41] kapilt commented on #506
thanks, i'll file an issue on the python azure monitor integration repo to ask them to list there.

[2020-03-24 15:52] mauriciovasquezbernal commented on #514
It's very difficult to setup performance tests, there are many factors that could affect them.

I don't know if having multiple threads updating the same instrument is a commons scenario. However I think it'll be very difficult to get everything in place in a single iteration, so I'd try to create some basic single thread tests, then we can iterate, improve them and if needed, add multi-thread one

[2020-03-24 19:32] hectorhdzg opened #524 "Add suppress_instrumentation flag in context for Metrics"
Similar to [logic](https://github.com/open-telemetry/opentelemetry-python/blob/master/opentelemetry-sdk/src/opentelemetry/sdk/trace/export/__init__.py#L205) in SpanProcessors, this need to be done in Metrics to avoid duplicated telemetry when using Http ext or other packages relying on this

[2020-03-24 20:21] lzchen commented on #524
Curious as to how we are going to handle the case of when dependency calls being made at the same time `export` is being called. With this logic, calls during when `suppress_instrumentation`  flag is true (during export) will not be [tracked](https://github.com/open-telemetry/opentelemetry-python/blob/master/ext/opentelemetry-ext-http-requests/src/opentelemetry/ext/http_requests/__init__.py#L56).