[2021-08-23 15:41] ocelotl commented on #2058
It was agreed in the last SIG to split the metrics PR in one for SDK and one for API, this is the corresponding issue. #1835 could be closed now or when both the SDK-related or the API-related issues are done.

[2021-08-24 07:24] ocelotl commented on #2021
[This PR](https://github.com/open-telemetry/opentelemetry-python-contrib/pull/619) has fixed this issue, closing.

[2021-08-24 07:24] #2021 closed

[2021-08-24 13:48] #2052 closed

[2021-08-24 14:54] #2051 closed

[2021-08-24 14:59] blumamir opened #2065 "not able to run `opentelemetry-instrument` on demo app"
Hi guys,

I am experimenting with the python SDK, and tried to follow the [opentelemetry-instrument command](https://github.com/open-telemetry/opentelemetry-python/tree/main/opentelemetry-instrumentation) README, but was not able to make it work.

What I did was to create a simple app:
[code]

Then, in a venv, I pip installed the needed packages according to the README:
[code]

and run the app wit

[2021-08-24 15:17] lonewolf3739 commented on #2065
You also need to install oltp exporter `pip install opentelemetry-exporter-otlp-proto-grpc`

[2021-08-24 15:28] blumamir commented on #2065
Thanks @lonewolf3739 for the help. Installed it and now the exception is gone.

Is it intentionally not stated in the README?

[2021-08-24 15:42] lonewolf3739 commented on #2065
OTLP is used as default when there is no value provided for option `--trace-exporter`. If you set it something other than otlp and have not installed corresponding exporter you would still get the error. So installing exporter is prerequisite but not necessarily `exporter-otlp-proto-grpc`.

[2021-08-24 15:46] blumamir commented on #2065
mmm ok that makes sense.
Guess I was expecting it to be installed automatically by the `distro` package or the `instrumentation` package.
Thanks again :)

[2021-08-24 15:46] #2065 closed

[2021-08-24 22:35] lonewolf3739 commented on #2065
We could probably update the README to say exporter must be installed but I don't know if it is like stating the obvious thing.

[2021-08-24 23:52] owais commented on #2065
Something to consider when thinking about this: https://github.com/open-telemetry/opentelemetry-python/discussions/2033

[2021-08-25 02:28] temirrr opened #2066 "Error while exporting span batch: end time is None"
**Describe your environment**
- Python version: 3.8
- Library versions:
[code]
- Run using Kubernetes in AWS

**Steps to reproduce**
- Instrument Python code with Opentelemetry
- Add Datadog (or Jaeger) exporter
- Deploy everything and run the tracing instrumented system
- Sometimes error in exporter appears

**What is the expected behavior?**
I expect to see no errors when span is exported in exp

[2021-08-25 02:33] owais opened #2067 "Fix flaky docker celery tests"
Celery docker tests randomly fail with the following output:

[code]

We need to investigate this and fix th test so it always passes.

[2021-08-25 02:44] owais commented on #2066
This should never happen as far as I can tell.

- Is this happening only with datadog exporter or jaeger as well?
- Can you attach stack trace when using jaeger exporter as well please?
- Can you please also share code that is generating spans or list down any insturmentation packages you might be using?
- Lastly it would help a ton if you could share a simple reproducible example.

Thanks

[2021-08-25 03:45] temirrr commented on #2066
Well, for now it only happens with Datadog exporter, since we use Datadog in production.

I think I shouldn't have mentioned Jaeger. We used Jaeger Exporter just for local development and didn't see such errors.

I think it would be difficult to share a reproducible example, as our system is relatively big. But generally, I used the following approach to create span:
[code]
We did it because we pr

[2021-08-25 08:10] blumamir commented on #2065
It wasn't obvious to me when I tried to setup the auto instrumentation, but I'm new to python (coming from nodejs), so guess it's not an issue for an experienced python developer :)

I think that this README has the potential of being one of the first docs that a new user will read, especially if only interested in setting up observability in the minimum amount of effort and time investment. So it

[2021-08-25 13:07] owais commented on #2066
Thanks. Can you test if the error has any correlation to using trace.INVALID_SPAN? May be generate only a single INVALID_SPAN, use it with `tracer.use_span` and see if that triggers it consistently.

[2021-08-25 21:45] Arnatious opened #2071 "Skipped Baggage entries in propagation still count against max entries"
The decrement operation should be moved after the last continue block if the over-long entry is truly skipped, otherwise this behavior should probably be documented/tested for.

https://github.com/open-telemetry/opentelemetry-python/blob/4250078e43ddb24c88e19270c7af01ae63336fb9/opentelemetry-api/src/opentelemetry/baggage/propagation/__init__.py#L57-L65

[2021-08-25 22:07] Arnatious opened #2072 "format_baggage does not escape non-ascii in baggage keys"
https://github.com/open-telemetry/opentelemetry-python/blob/4250078e43ddb24c88e19270c7af01ae63336fb9/opentelemetry-api/src/opentelemetry/baggage/propagation/__init__.py#L100

The cpp implementation does this, and it looks like in python test strings there is url encoding.
https://github.com/open-telemetry/opentelemetry-cpp/blob/61d3c5e318830d10a0859befa046aa4847593764/api/include/opentelemetry/bag

[2021-08-26 20:31] ocelotl opened #2073 "Protect auto instrumentation against unintended usage"
[This](https://github.com/open-telemetry/opentelemetry-python/pull/2046/files#diff-dfe371d6c6c11f4c6c8a90f4b6b6b651f443f7591bf1644b97221b1db4f1b3f1R39) line from #2046 shows that auto instrumentation may be used in an unintended way, Protect auto instrumentation against this unintended usage.

[2021-08-27 10:35] ocelotl opened #2075 "lint failing in main"
`tox -e lint` is failing in the latest `main` commit:

[code]

[2021-08-27 17:23] #2075 closed, assigned to ocelotl

[2021-08-29 08:40] lonewolf3739 opened #2078 "Add jaeger remote sampler to SDK configuration"
As described in SDK Spec https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/sdk-environment-variables.md#general-sdk-configuration

[2021-08-30 08:25] FWinkler79 commented on #2034
@lzchen Thanks for your reply. Did you mean that the description in the class definition is wrong and will be fixed, or that the current behavior we see is wrong and will be fixed?

[2021-08-30 13:08] temirrr commented on #2066
Sorry for late response.

I tried to do as you said and generated a lot of invalid spans in the local environment. However, I didn't see any errors.

This error appears rarely in production only.

I think it's not a big issue, but I think if you know any ways to avoid it, it would be cool.

[2021-08-30 15:02] BlocDrummer opened #2081 "Setting CA Certificates For Jaeger Thrift Exporter"
**Is your feature request related to a problem?**
Currently, I can't send traces via HTTPS because apparently the exporter doesn't use the system ca certificates and there is no way to set the location of the certificates to use.

**Describe the solution you'd like**
You should be able to set the location of the ca certificates via an environment variable or via a parameter in the exporter.

[2021-08-30 15:24] owais opened #2083 "CI: generate action should work with website docs"
The generate Github Action checks if any code generation scripts were missed by the contributor and need to be run before the PR can be merged. It should also ensure that website_docs are up to date and the contributor ran `./scripts/generate_website_docs.sh` if they made changes to the source material

[2021-08-30 17:01] lzchen commented on #1993
@Oberon00
I think the idea was that if issues are important enough, people would address them in a timely manner. We did not like the idea of having issues from 2 years ago sitting in our repository.

[2021-08-30 17:09] lzchen commented on #2034
@FWinkler79

The class definition was incorrect and has been fixed. If you are using `traceidratio` with `0.5` but are still getting all of your traces then there is still an issue.

[2021-08-30 17:27] lonewolf3739 commented on #2081
https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/sdk-environment-variables.md#jaeger-exporter

This is the list of environment variables supported currently. Since this is not python specific feature I think this should be addressed in spec repo first.

[2021-08-30 17:31] lzchen commented on #1993
Let's see how [this](https://github.com/open-telemetry/opentelemetry-specification/pull/18970 pans out.

[2021-08-30 18:07] codeboten commented on #2081
Based on the implementation of the thrift exporter for jaeger, i'm surprised this doesnt just work since it's using the underlying thrift http client library https://github.com/apache/thrift/blob/6762a907c164f09d3d3ed40283f11e745f3b68af/lib/py/src/transport/THttpClient.py#L41

Are there any error messages you could share @BlocDrummer?

[2021-08-30 18:30] lonewolf3739 commented on #2081
Isn't author asking for a way to configure [this](https://github.com/open-telemetry/opentelemetry-python/blob/main/exporter/opentelemetry-exporter-jaeger-thrift/src/opentelemetry/exporter/jaeger/thrift/send.py#L116) either with params or env?

[2021-08-30 19:00] codeboten commented on #2081
My understanding from the issue reported is that the exporter isn't using the system CA certificates based on this statement:

Causing the original problem of not being able to use HTTPS. The desired solution does describe that CA certs location should be configurable, if that is the issue, then yes I agree that this should be addressed with a specification PR.

[2021-08-31 08:42] ocelotl commented on #2066
Are you sure that `end_on_exit` is always `True`? The span won't be ended [if not](https://github.com/open-telemetry/opentelemetry-python/blob/main/opentelemetry-api/src/opentelemetry/trace/__init__.py#L547).

[2021-08-31 08:49] temirrr commented on #2066
Yes, it is always `True`

[2021-08-31 09:16] WaynePN commented on #1302
Hi @codeboten ,

I found a weird thing, the Prometheus Remote Write Exporter is only available on version [v0.17b0](https://github.com/open-telemetry/opentelemetry-python-contrib/tree/v0.17b0). In the newer version, the module just disappeared.

Is the module deprecated? If not please help to bring back it.
Thank you so much. 😄

[2021-08-31 12:07] #2072 closed

[2021-08-31 12:43] ocelotl commented on #2066
Ok, please paste a complete traceback here next time that issue happens :v:

[2021-08-31 16:04] BlocDrummer commented on #2081
Yes, that was the problem however I found out that it had nothing to with the jaeger exporter. I ran a dockerized version of my application with this base image: "tiangolo/uvicorn-gunicorn-fastapi:python3.6-alpine3.8". After changing the base image to "python:alpine" the exporter uses the system ca certificates.

So everything is fine now and this issue can be closed.

[2021-08-31 16:29] codeboten commented on #2081
Thank you for following up @BlocDrummer! Glad it works now 🎉

[2021-08-31 16:29] #2081 closed

[2021-08-31 16:59] lzchen commented on #1302
@WaynePN

It is in the experimental metrics [branch](https://github.com/open-telemetry/opentelemetry-python-contrib/tree/metrics/exporter/opentelemetry-exporter-prometheus-remote-write)

[2021-08-31 17:00] #2071 closed

[2021-09-01 15:53] lonewolf3739 opened #2086 "Add InstrumentationLibrary to Sampler.should_sample"
Spec change https://github.com/open-telemetry/opentelemetry-specification/pull/1850

[2021-09-01 20:18] #910 closed

[2021-09-02 08:10] ocelotl commented on #1993
That link fails with a 404, @lzchen :shrug:

[2021-09-02 08:33] ocelotl opened #2087 "Requirement already satisfied shows many times in logs"
I see "Requirement already satisfied" many times in the CI logs. Investigate if this is slowing runs down.

[2021-09-02 10:44] owais commented on #2087
This is probably because of tox env caching and should probably speed up things. We can go a step further and try not to install deps again if we hit the cache.

[2021-09-02 11:33] Oberon00 commented on #1993
I think there is a trailing zero: https://github.com/open-telemetry/opentelemetry-specification/issues/1897 is relevant

[2021-09-02 15:16] ocelotl opened #2089 "opentelemetry-api requires Deprecated"
opentelemetry-api requires `Deprecated`, it is not necessary, remove it.

[2021-09-03 13:00] lonewolf3739 commented on #2030
Interestingly I am unable to reproduce this issue if I don't use docker.

[2021-09-03 18:18] lonewolf3739 commented on #1949
Format spec here https://github.com/w3c/baggage/blob/main/baggage/HTTP_HEADER_FORMAT.md

[2021-09-04 07:12] lonewolf3739 opened #2094 "_clean_attribute shouldn't skip attributes"
From attributes [spec](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/common/common.md#attributes)

https://github.com/open-telemetry/opentelemetry-python/blob/653207dd2181db1a766a4a703dcda78fd7703bb2/opentelemetry-api/src/opentelemetry/attributes/__init__.py#L118-L123

https://github.com/open-telemetry/opentelemetry-python/blob/653207dd2181db1a766a4a703dcda7

[2021-09-04 07:27] lonewolf3739 opened #2095 "Do not count invalid attributes for dropped"
https://github.com/open-telemetry/opentelemetry-python/blob/653207dd2181db1a766a4a703dcda78fd7703bb2/opentelemetry-api/src/opentelemetry/attributes/__init__.py#L175-L183

Existing attribute is deleted and new attribute is counted for dropped.  This should be fixed. Also we can use `.popitem()` which is optimised for deleting item on ends when we need to drop an attribute.

[2021-09-04 17:56] owais commented on #2094
I'm leaning towards using empty value

[2021-09-05 03:42] lonewolf3739 commented on #2094
Makes sense, empty string might be misinterpreted as successful operation.

[2021-09-05 09:53] lonewolf3739 opened #2098 "Make baggage propagator w3c spec complaint"
Same as title

[2021-09-05 11:49] lonewolf3739 commented on #2098
Already being worked in https://github.com/open-telemetry/opentelemetry-python/pull/2017. Closing.

[2021-09-05 11:49] #2098 closed

[2021-09-06 15:23] lonewolf3739 commented on #2019
Does this always happen with connection or is it just with pandas `read_sql`?

[2021-09-06 16:24] codeboten opened #2102 "Logging doesn't provide a way to set a name with OTLPHandler"
Testing out the experimental implementation of the logging signal, I couldn't find a way to set the `name` field via the standard logging library. It's possible that I missed how to do this, but it doesn't appear the OTLPHandler supports this:

https://github.com/open-telemetry/opentelemetry-python/blob/d0dbc0b253b62f2099f673aeb1a3e5fea06cfdd6/opentelemetry-sdk/src/opentelemetry/sdk/logs/__init__.

[2021-09-07 16:16] lzchen commented on #2094
@owais
How do we communicate to exporters that `None` values are actually invalid? Are the logging warnings sufficient or do we need to document somewhere in `attributes`?

[2021-09-08 17:39] sammerry opened #2104 "IS there any plan to send JSON with http proto?"
**Is your feature request related to a problem?**
No

**Describe the solution you'd like**
I'd like to send json formatted http otlp events. It currently defaults to the form encoded request outlined in the requests docs. Can we set the request format via environment variables?

**Additional context**
The default requests post sends form encoded data. In order to support json the python http clien

[2021-09-08 20:37] codeboten commented on #2104
@sammerry there's another issue opened for this work: https://github.com/open-telemetry/opentelemetry-python/issues/1003. We just haven't had time to get around to implementing it yet, would love a PR if you have time for it though!

[2021-09-08 21:19] #2104 closed

[2021-09-09 06:38] kosportel commented on #2019
I changed the code like this but nothing changed.

[code]

and

[code]

Hope that helps.

[2021-09-09 17:16] #1982 closed

[2021-09-09 17:58] lonewolf3739 opened #2106 "Flaky test-core-sdk test (pypy3, core, windows-2019)"
https://github.com/open-telemetry/opentelemetry-python/pull/2097/checks?check_run_id=3559373589

[2021-09-09 18:50] #2095 closed

[2021-09-10 03:40] #2094 closed

[2021-09-13 16:09] lzchen commented on #1982
@ocelotl @owais
Is this truly addressed by the merged PR?

[2021-09-14 11:45] owais opened #2111 "Update limits implementation to comply with the spec"
The spec was updated to prefer user defined global limits over model specific defaults in this PR: https://github.com/open-telemetry/opentelemetry-specification/pull/1893#event-5298851679

We should review our limits implementation and update it if necessary.

[2021-09-14 12:20] #1035 closed

[2021-09-14 18:14] owais commented on #1035
This is irrelevant now. Was proposed a long time ago and never discussed in detail

[2021-09-14 22:32] aabmass opened #2113 "Generate a service.instance.id resource attribute if it is not present"
[From the spec](https://github.com/open-telemetry/opentelemetry-specification/tree/v1.6.1/specification/resource/semantic_conventions#:~:text=%5B3%5D%3A%20MUST%20be,for%20more%20recommendations)

At the moment, just using the default resource in our SDK violates the requirement that "`service.namespace,service.name,service.instance.id` triplet MUST be globally unique":

[code]

**This is very impo

[2021-09-16 16:18] codeboten commented on #2113
I like the idea of generating 1 if no `service.instance.id` is present.

[2021-09-16 16:56] aabmass commented on #2113
AI for me is to investigate what other SIGs are doing and when this was added to the spec. At SIG, we decided that option 2. would need some spec discussion in SIG so we will skip it for now.

[2021-09-16 19:44] chalin opened #2116 "Migrate website_docs back to website repo?"
@ocelotl and @open-telemetry/python-maintainers:

As @austinlparker explained at the maintainer's meeting this week, you need to chose how you'd like the Python docs to be published by [opentelemetry.io][]. The docs are currently under [website_docs][], which originally setup via #1724.

For details concerning your 2 choices, see https://github.com/open-telemetry/opentelemetry.io/issues/730.

Let

[2021-09-16 20:25] aabmass commented on #2113
There's some spec discussion here https://github.com/open-telemetry/opentelemetry-specification/issues/1034. One of the things they mentioned is similar to option 2. Let's see if we can get some clarity in the spec.

[2021-09-16 22:41] codeboten opened #2117 "BatchLogProcessor hangs"
The CI job for testing the SDK in the logs branch has been hanging every so often, see https://github.com/open-telemetry/opentelemetry-python/pull/2099/checks?check_run_id=3615606528 as an example.

[2021-09-17 13:46] ocelotl opened #2120 "Define a timeout mechanism for asynchronous instruments callbacks"
Per [this](https://github.com/open-telemetry/opentelemetry-python/pull/1887#discussion_r710289692) comment.

The spec [requires](https://github.com/open-telemetry/opentelemetry-python/pull/1887#discussion_r710289692) this:

_The callback function SHOULD NOT take indefinite amount of time. If multiple independent SDKs coexist in a running process, they MUST invoke the callback function(s) independe

[2021-09-17 15:20] codeboten opened #2123 "update pylint to 2.11.0"
The version of pylint in this repo is falling behind. I tried running it w/ pylint 2.11.0 and came across a bunch of warnings in the following categories:

- [x] #2130
- [x] #2125
- [x] #2126
- [x] #2132
- [x] #2134

I will submit separate PRs for each of those, before submitting a PR to bump pylint to 2.11.0.

[2021-09-17 15:23] codeboten opened #2125 "fix some imports"

[2021-09-17 15:30] codeboten opened #2126 "pass encoding when calling `open`"

[2021-09-17 16:06] ocelotl opened #2128 "Test that metrics methods can be called concurrently"
_Originally posted by @codeboten in https://github.com/open-telemetry/opentelemetry-python/pull/1887#discussion_r710558412_

[This](https://gist.github.com/mRcfps/0af4f1cb29ffe27cf3aa05d542ac742a) may help.

[2021-09-17 16:08] ocelotl opened #2129 "Add documentation for metrics module"
_Originally posted by @codeboten in https://github.com/open-telemetry/opentelemetry-python/pull/1887#discussion_r710556343_

[2021-09-17 16:59] owais commented on #2123
FYI, 2.10 was freezing on some instrumentation packages a few weeks ago so we pinned it to 2.9. Hopefully 2.11 won't have that issue.

https://github.com/open-telemetry/opentelemetry-python-contrib/issues/625

[2021-09-17 17:01] codeboten opened #2130 "use f-strings wherever possible"

[2021-09-17 18:43] codeboten opened #2132 "Use {} instead of dict()"

[2021-09-17 18:52] codeboten opened #2134 "Deprecated abstractclassmethod"

[2021-09-18 07:06] lonewolf3739 commented on #2024
@gionapaolini please close the issue if it solved your problem. Let us know if you have any other questions.

[2021-09-18 11:04] #2024 closed

[2021-09-19 23:37] #2132 closed

[2021-09-20 00:06] #2126 closed

[2021-09-20 00:34] #2134 closed

[2021-09-20 02:04] #2125 closed

[2021-09-20 15:32] #2130 closed

[2021-09-20 17:26] lzchen commented on #2117
Closed with #2118

[2021-09-20 17:26] #2117 closed

[2021-09-20 17:42] #1949 closed

[2021-09-22 14:47] AlviseSembenico opened #2137 "cannot import name 'create_key' from 'opentelemetry.context'"
**Describe your environment**
The pipfile contains the following packages
[code]

**Steps to reproduce**
Simply copying the code from the documentation
[code]

**What is the actual behavior?**
An error occurs with the following trace
[code]

[2021-09-22 18:27] JamesJHPark commented on #1971
@codeboten - please assign me this issue

[2021-09-23 12:46] ocelotl commented on #2116
This will be discussed in today's meeting, @chalin :v:

[2021-09-23 16:54] #2062 closed

[2021-09-23 17:48] lzchen commented on #2137
I am not able to reproduce this error. What versions of Opentelemetry libraries are you using?

[2021-09-23 19:37] aabmass opened #2140 "Metrics API comments after initial PR"
Tracking issue for followups to #1887 (*original comment https://github.com/open-telemetry/opentelemetry-python/pull/1887#pullrequestreview-756472444*)

- [ ] #2141
  - should we return the same meter or new meter when `get_meter()` is called with the same params
- [ ] #2142
  - Should it be handled at the global level?
  - Which instrument fields are considered non-identifying (description?)
- [

[2021-09-23 19:42] aabmass commented on #1760
@ocelotl, I #1887 covers this right?

[2021-09-23 19:49] ocelotl commented on #1760
yes, [here](https://github.com/open-telemetry/opentelemetry-python/pull/1887/files#diff-55acb305767ceef11eee5de35540b5a4334b57c2a3331a17a2f1c284ad4d1789R32) :+1:

[2021-09-23 19:54] aabmass opened #2141 "Duplicate meter handling in SDK"
should we return the same meter or new meter when get_meter() is called with the same params?

[2021-09-23 19:54] aabmass opened #2142 "Duplicate instrument handling in API"
- Should it be handled at the global level?
- Which instrument fields are considered non-identifying (description?)

[2021-09-23 19:54] aabmass opened #2143 "Log or raise when creating invalid instruments in API"
- For a similar issue in the metrics SIG, someone brought up the idea of a strict MeterProvider (or option to pass) that you can use to strictly raise exceptions for these in unit tests.
- In the SDK, you should also return a no-op instrument if you only log a warning.

[2021-09-23 19:54] aabmass opened #2144 "`ProxyMeter` must return proxy instruments or users may get stale instruments in the API"
Currently from #1887, the `ProxyMeter` will defer to a global MeterProvider once it is set in the API. However, this needs to go all the way down to the instrument level, or users will end up with no-op instruments even after configuring an SDK.

[2021-09-24 01:18] lonewolf3739 commented on #2086
Closing because of https://github.com/open-telemetry/opentelemetry-specification/pull/1942

[2021-09-24 01:18] #2086 closed

[2021-09-24 13:50] ocelotl opened #2148 "Errors are being raised in API and SDK"
Our most basic example is this one:

[code]

If we remove the argument `"foo"` in this line:
[code]
then running this example fails with this error:

[code]

This should not happen, the spec states [here](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/error-handling.md#basic-error-handling-principles):

_API methods MUST NOT throw unhandled exceptions when us

[2021-09-24 14:12] Kharvi-Code opened #2149 "HTTP <method> spans are going out of Parent span when you use RequestInstrumentor"
I am using Python3.8 with pip freeze details of opentelemetry here:
opentelemetry-api==1.5.0
opentelemetry-exporter-jaeger==1.5.0
opentelemetry-exporter-jaeger-proto-grpc==1.5.0
opentelemetry-exporter-jaeger-thrift==1.5.0
opentelemetry-exporter-otlp==1.5.0
opentelemetry-exporter-otlp-proto-grpc==1.5.0
opentelemetry-instrumentation==0.24b0
opentelemetry-instrumentation-asgi==0.24b0
opentelemetry-in

[2021-09-24 14:21] aabmass opened #2150 "Measurement should be a concrete class in the API not an abc"
Since `Measurement`s are returned directly by the user specified callbacks to async instruments, `Measurement` should be a concrete class in the API.

[code]

spec: https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/api.md#measurement

- [x] make `Measurement` a concrete class
- [x] remove `ChildMeasurement` from tests

[2021-09-24 14:44] lonewolf3739 commented on #2148
Given the dynamic nature of python, I think we need to clearly define what is considered as a _incorrect use by users_ (and make sure the overhead introduced by this should be kept low and insignificant). I personally don't think the example highlighted in the issue description (and other cases along similar lines) is something we should bother about and handle gracefully.

[2021-09-24 14:55] lonewolf3739 commented on #2149
I think this is wrong expectation. `start_span` doesn't automatically activate the span in current context. You either activate the span in context to be implicitly used by subsequent child spans using `start_as_current_span` or pass the parent span context explicitly via param.

[2021-09-24 15:04] ocelotl commented on #2148
The example highlighted above is significant, it can cause the application code to crash. As stated [here](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/error-handling.md#error-handling-in-opentelemetry):

_ We assume that users would prefer to lose telemetry data rather than have the library significantly change the behavior of the instrumented application.

[2021-09-24 15:25] aabmass opened #2151 "`Asynchronous.callback()` should not be public in the metrics API"
This method should not be public https://github.com/open-telemetry/opentelemetry-python/blob/ae757a9b0c5c91a60bec949a953e22580c4ed500/opentelemetry-api/src/opentelemetry/metrics/instrument.py#L126

SDK instruments will need a way for the metric readers to call their callbacks, but API callbacks don't need to be called.

[2021-09-24 16:45] #1760 closed

[2021-09-24 18:42] jakestambaugh commented on #2137
I had this issue because my Pipfile contained `allow_prerelease=true` so it was downloading version 1.10a0 of `opentelemetry-api` instead of 1.5.0.

I resolved it by pinning my release of `opentelemetry-api` to 1.5.0

[code]

[2021-09-24 19:24] chalin commented on #2116
@ocelotl - and the decision was?

[2021-09-25 00:35] owais commented on #2148
I agree with @lonewolf3739. The way I understand this, we need to guard against unexpected failures crashing services. Things like network and I/O operations failing. We should defensively program such operations to ensure any failures arising from them do not bubble up and crash a service. I don't think it means we make it technically impossible for an exception to be raised especially from obvio

[2021-09-25 21:21] mpomarole commented on #2137
This is also happening when I use the django-instrumentation that requires 1.5.0, but I need 1.10a0 to also include de metrics module.

When is 1.10 being bumped from just being an alpha release?

[2021-09-25 23:21] #2055 closed

[2021-09-25 23:21] #2111 closed

[2021-09-26 18:48] mpomarole commented on #2141
I am experimenting with the alpha release of the library on a personal project, exporting to Google Cloud Monitoring. I think it would be more intuitive for the API to return the same meter. Conceptually, it just seems to me that the meter acts like a global object and I don't actually need more than one copy of it to create the multiple counters I have in different files.

[2021-09-27 07:38] Kharvi-Code commented on #2149
This is where I get stuck when using start_span(). I know I can send the parent span context to child so that the child is part of the parent span as I have done it with 's2' span. But how do I send 's2' child span context to 'requests' span so that HTTP GET span is created under 's2' span context. HTTP GET span is getting created by the instrumentor and I dont have any access to methods that will

[2021-09-27 12:20] lonewolf3739 commented on #2149
You need to use `start_as_current_span` for that.

[2021-09-27 13:58] ocelotl commented on #2106
Does #2155 fix this?

[2021-09-27 15:28] aabmass commented on #2128
@ocelotl I'll pick this up like we discussed

[2021-09-27 15:59] lonewolf3739 commented on #2106
Fixed in #2155

[2021-09-27 15:59] #2106 closed

[2021-09-27 16:09] #2123 closed

[2021-09-27 18:35] aabmass commented on #2141
I agree, I think that approach is also solves the problem of duplicate instruments (#2142)

[2021-09-27 19:50] lzchen commented on #2137
@mpomarole
Great question. We do not have a set date yet for the metrics api/sdk to be released as beta. You can refer to the metrics [project board](https://github.com/open-telemetry/opentelemetry-python/projects/6) here for the list of issues that are getting tracked. Ideally, all of these should be finished before releasing so keep an eye out!

[2021-09-27 20:43] lzchen commented on #2116
@chalin
We did not come to a consensus as there are some outstanding questions.
How does submoduling work? What will the maintenance burden be like if we go this route, and do we still get all the advantages of doing (2) (languages other than English)?

[2021-09-28 06:25] Kharvi-Code commented on #2149
My requirement is to use start_span() with context as showed in https://opentelemetry-python.readthedocs.io/en/latest/api/trace.html
from opentelemetry.trace import set_span_in_context

context = set_span_in_context(parent)
child = tracer.start_span("child", context=context)

try:
    do_work(span=child)
finally:
    child.end()

Here do_work function is a requests.get() operation for me. I dont k

[2021-09-28 11:00] lonewolf3739 commented on #2149
Please close the issue if you don't any other questions.

[2021-09-28 11:19] ocelotl commented on #2148
We can make our guards less guarding, we can make it possible to protect against some errors and not against some others. But why? The prototype in #2152 already guards against bad arguments being passed and any error happening in the inside of functions. The intention of OpenTelemetry is clearly stated [here](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/er

[2021-09-28 11:38] ocelotl commented on #2141
Ok, I think we can implement as @mpomarole suggests, the spec [allows](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/api.md#get-a-meter) it IIUC:

_It is unspecified whether or under which conditions the same or different Meter instances are returned from this functions._

[2021-09-28 12:07] #2149 closed

[2021-09-29 19:29] #2150 closed

[2021-09-29 20:48] tedsuo commented on #2148
Hi all! For clarity, never throwing exceptions or returning errors is a strict requirement for the OpenTelemetry API.

Errors should definitely be piped to some form of diagnostic output so that developers can debug their code. But they should never have to guard an OpenTelemetry API call.

There are two reasons for this:
* OTel should not be dangerous to use, even a tiny bit.
* There is no realis

[2021-09-29 21:28] #1968 closed

[2021-09-30 11:26] ocelotl commented on #2144
I think this would be consistent with the general proxy approach, but it would be inconsistent with the current approach that we have implemented in Tracing, for example:

TracerProvider produces Tracers -> MeterProvider produces Meters
Tracer produce Spans -> Meter produce Instruments

We don't have ProxySpans, we have [invalid spans](https://github.com/open-telemetry/opentelemetry-python/blob/ma

[2021-09-30 13:39] owais opened #2166 "A single document website for OpenTelemetry Python"
Today we have two docs website opentelemetry-python.readthedocs.io and opentelemetry-python-contrib.readthedocs.io for the core and contrib repos each. This can be confusing for users and even impossible to discover in some cases.

**Describe the solution you'd like**

- Ideally we should have a single website that hosts documentation for both core and contrib packages.
- Alternatively, we could h

[2021-09-30 16:59] chalin commented on #2116
One way to think of a submodule is as a git-aware "symbolic link" into another repo, at a specific commit. For OTel website examples of submodules, see https://github.com/open-telemetry/opentelemetry.io/tree/main/content-modules.

You'll need to periodically let the website team know when you'd like your SIG's submodule to be updated in the website repo &mdash; so that more recent website_docs can

[2021-10-01 17:58] owais commented on #2116
Does the website have any tools or scripts we can include in our CI pipeline to detect these issues? Either that or can the website CI job automatically open issues in opentelemetry-python project when such failures occur?

[2021-10-01 18:00] owais commented on #2116
Other than the possibility of us not noticing bad markdown until the website build job runs or worse the website gets published with malformed markup, I don't see a problem with the submodule approach.

[2021-10-01 19:23] chalin commented on #2116
No, not currently.

That will be addressed via https://github.com/open-telemetry/opentelemetry.io/issues/542. So it won't be automatic, but if a reader sees an issue with a Python doc page, the **Create documentation issue** button will create the issue over this repo, not the website repo.

[2021-10-01 19:34] owais commented on #2116
The workflow sounds fine to me. I suppose lack of automation and tooling is not a big concern as they can be added later if we feel too much pain.

[2021-10-02 04:30] aabmass commented on #2144
It isn't quite the same, as spans are generally short lived while instruments are part of the initial application set-up. With this approach, the user will still lose measurements made before the SDK is configured, just how they would lose spans. I think it's OK to lose a little bit of telemetry in this edge case where a user creates tracers/instruments before setting up the SDK.

[2021-10-02 08:45] rod-dot-codes commented on #2083
@owais I've got experience with Github Actions and wouldn't mind picking this up for #hacktoberfest

[2021-10-02 09:50] lonewolf3739 commented on #1971
Fixed in #2154

[2021-10-02 09:50] #1971 closed

[2021-10-02 09:55] lonewolf3739 commented on #1918
I believe @owais implemented them as tracked in #2035. Reopen if not true.

[2021-10-02 09:55] #1918 closed

[2021-10-02 09:59] lonewolf3739 commented on #1890
Initial set of tasks are completed. Anyone interested in trying this out can use pip editable install and use the collector exporter.

[2021-10-02 11:16] owais commented on #2083
Thanks @rod-dot-codes. I've assigned it to you.

[2021-10-02 19:16] chalin opened #2170 "website_docs: Getting started page title appears twice"
[This change](https://github.com/open-telemetry/opentelemetry-python/pull/2082/files#r720717366) causes the title to be generated twice on the website. For a preview of this see: https://deploy-preview-805--opentelemetry.netlify.app/docs/python/getting-started/

Here's a screenshot:

Of course the fix to avoid the repeated title on the website is easy, I'm just not sure what else it'll break here,

[2021-10-02 19:17] chalin commented on #2116
Concretely, here's an example of how things can break: #2170

[2021-10-02 19:35] chalin opened #2172 "Non-API docs should be hosted on the website only"
- This issue is a slight generalization of https://github.com/open-telemetry/opentelemetry.io/issues/730. We don't want doc pages in more than one place. It's bad for SEO and it confuses users.
  - For example, currently the **Getting started** page can be found at: https://opentelemetry.io/docs/python/getting-started/ and https://opentelemetry-python.readthedocs.io/en/stable/getting-started.html

[2021-10-03 18:41] chalin commented on #2116
After, https://github.com/open-telemetry/opentelemetry.io/pull/805 gets merged, you'll be able to define a GH action that checks out the website repo, updates the OTel Python submodule (to either HEAD or a PR's branch), builds the website and checks links. That would offer be at least a smoke test, but it wouldn't trip on issues like #2170.

(It is interesting to consider that once https://github.

[2021-10-04 16:17] lzchen commented on #1890
@lonewolf3739
Can this issue be closed then?

[2021-10-04 16:49] lonewolf3739 commented on #1890
Yes, maybe close this after next release?

[2021-10-04 16:57] codeboten commented on #1890
What's the plan for shipping this along with the rest of the packages?

[2021-10-04 19:57] lzchen commented on #1890
@codeboten
We can probably ship an alpha version similar to what we did for metrics. https://pypi.org/project/opentelemetry-sdk/1.10a0/
Version number can probably be 1.20a0 or something.

[2021-10-04 21:24] codeboten commented on #1890
I wonder if we should ship it altogether with metrics. As in have a single experimental package, rather than a package for logging and another for metrics... any thoughts?

[2021-10-04 22:01] lzchen commented on #1890
@codeboten
I have no problem with this.

[2021-10-05 08:08] Kharvi-Code opened #2178 "Span's add_event and record_exception not working with X-Ray"
I have raised this issue in [aws-otel-community ](https://github.com/aws-observability/aws-otel-collector/issues/666#issue-1015984425) too.

Since nobody has replied yet there, I just wanted to check whether this is a know issue with XRay?.

Span's add_event() and record_exception() functions works properly for other exporters like Jaeger, Console.
There is not data transfer between opentelemetry

[2021-10-05 11:08] owais commented on #2178
Please share a reproducible example and more details. How are you exporting from your Python SDK? Are you exporting to Otel Collector? Which exporter+receiver are you using? When you say data is missing, is it missing in the AWS xray backend or also when it reached Otel collector?

//cc @NathanielRN

[2021-10-05 12:46] Kharvi-Code commented on #2178
@owais Thanks for the reply. Following is the detailed descriptions which I have given in other community too.

Span's add_event() and record_exception() are not working when exporter is X-Ray.
For other exporters like Jaeger I could see Logs as a separate field in UI for add_event() and record_exception().
Looks like set_attribute() works fine as I can see the attributes in Metadata section of th

[2021-10-05 14:05] robertsben opened #2179 "opentracing shim not connecting "follows from" relationship properly"
**Describe your environment**
The environment can be fully reproduced with [this project](https://github.com/robertsben/otel-example/tree/follows-from-ref). Python 3, opentelemetry 1.5.0, shim 0.24b0.

**Steps to reproduce**
To reproduce the problem you need to create a `follows_from` relationship trace, like you would find in a pub sub application architecture, and see how there is only a link in

[2021-10-05 14:57] owais commented on #2178
From the description it doesn't look like a Python issue. Looks like collector is not translating events correctly to xray format. I'd suggest to open an issue on the collector contrib repo: https://github.com/open-telemetry/opentelemetry-collector-contrib/issues

Closing this but please feel free to re-open if I misunderstood something.

[2021-10-05 14:57] #2178 closed

[2021-10-05 20:12] aabmass opened #2181 "Race condition in `set_tracer_provider()`"
An unlikely race condition exists where multiple threads can set the global tracer provider at once, bypassing the check that the global tracer provider is only set once ([code](https://github.com/open-telemetry/opentelemetry-python/blob/c9b18c66229da61065846ba9ace25a5f5c2106b8/opentelemetry-api/src/opentelemetry/trace/__init__.py#L482-L483)). This code needs a lock to prevent this condition:
http

[2021-10-08 12:53] owais opened #2184 "Remove SDK's dependency on opentelemetry-instrumentation"
Today the SDK depends on opentelemetry-instrumentation package because it needs to import `opentelemetry.instrumentation.utils._SUPPRESS_INSTRUMENTATION_KEY` in order to suppress instrumentation in its own exporters. We decided in last SIG call to get rid of this dependency as it does not make sense to have SDK depend on the instrumentation package and it complicates things in general.

Right now

[2021-10-08 21:47] benjaminsky opened #2185 "BatchSpanProcessor doesn't work across processes"
**Describe your environment**
Should be the same on all environments.

**Steps to reproduce**
Initialize the `BatchSpanProcessor` in a separate process from the instrumented code.

**What is the expected behavior?**
Spans should be exported when the `BatchSpanProcessor` worker thread runs in a different process

**What is the actual behavior?**
Spans are not exported when the `BatchSpanProcessor`

[2021-10-09 03:23] lonewolf3739 commented on #2185
Is it the underlying queue class reason for this behaviour? I thought it is because lock is acquired by deamon thread during the initialization and newly spawned processes will never be able to acquire it hence no spans are exported. I would like to see if moving to multiprocessing.Queue solves the problem.

[2021-10-10 01:05] NathanielRN commented on #2184
It does feel wrong to have `opentelemetry-sdk` depend on `opentelemetry-instrumentation` just for that one value, but I’ve found it really convenient to install the SDK package and get the instrumentation package for free. I think the common use case _would_ include both, but have the requirement means the “SDK without instrumentation” cannot exist right now. So this change makes sense.

Maybe ins

[2021-10-10 19:57] owais commented on #2184
Each distro can solve whatever it wants :)

[2021-10-12 20:41] #2181 closed

[2021-10-13 21:36] aabmass opened #2194 "Merge conflict markers in metrics_new branch"
Found one merge conflict marker `<<<<<<< HEAD` in [CHANGELOG.md](https://github.com/open-telemetry/opentelemetry-python/blob/metrics_new/CHANGELOG.md) from 589ba998fddce2cff6d039d0938637a0e058d041

Possibly could be more

[2021-10-13 21:40] aabmass opened #2195 "Upgrade grpcio-tools dev-requirements.txt and re-generate opentelemetry-proto"
https://github.com/open-telemetry/opentelemetry-python/blob/ed3d657e489da0152e3604f58cb217a561b0c515/dev-requirements.txt#L13

This version of grpcio-tools is quite old and there doesn't seem to be a linux amd64 py39 wheel available. This makes dev venv creation very slow as it recompiles the package from scratch.

- [x] Upgrade dependency to a recent version
- [x] [Regenerate protos](https://gith

[2021-10-14 00:55] #2184 closed, assigned to nobody

[2021-10-14 08:03] trollkarlen commented on #62
No news on this topic ?

[2021-10-14 12:02] ocelotl opened #2200 "Add `Meter` and `MeterProvider` in the SDK"
Add `Meter` and `MeterProvider` in the SDK

[2021-10-14 12:37] ocelotl commented on #62
I have the exact same question as well. I find it a bit weird that we are to add anything to our implementation without it being in the spec first. Is it there already?

I can understand that the idea is for an implementation to do some preliminary research of a certain feature, but if that is the case it would be very helpful to have also a preliminary specification (it can be drafted in this iss

[2021-10-14 18:12] lzchen commented on #1890
@lonewolf3739

We did not ship metrics as part of the most recent release because it is not usable yet. If we plan on shipping both together, should we wait or can logs be shipped simply by itself as "experimental"?

[2021-10-14 18:35] lonewolf3739 commented on #1890
It can be released alone as experimental but I am fine with shipping them together as well. I remember some people on slack channel also asked for the possible release of logs sdk (along with otlp-grpc-exporter). maybe release logs now and release them combined when metrics is ready?

[2021-10-14 18:43] tigrannajaryan opened #2205 "Trying to emit a logger.warning() results in Severity of ERROR and exception message in the log record Body"
First of all, great job on adding logging support! Below is a bug report.

**Describe your environment**
Python3
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp-proto-grpc
Using `logs` branch of this repository.

**Steps to reproduce**
Run https://github.com/open-telemetry/opentelemetry-python/blob/logs/docs/examples/logs/example.py

**What is the expected behavior?**
Line `logger2

[2021-10-14 21:19] tigrannajaryan commented on #2205
Yes, other log records were sucessfully received by the Collector. Only the log record at "warning" level failed. I think there is something wrong with mapping of the log levels to severity numbers which caused the exception.

[2021-10-15 02:03] #2195 closed, assigned to nobody

[2021-10-15 11:13] ocelotl commented on #1890
Sure, I think releasing logs separately makes more sense.

[2021-10-15 14:56] philipcwhite opened #2210 "Auto-Instrumentation does not work with Flask in Docker since 1.6"
**Describe your environment** Describe any aspect of your environment relevant to the problem, including your Python version, [platform](https://docs.python.org/3/library/platform.html), version numbers of installed dependencies, information about your cloud hosting provider, etc. If you're reporting a problem with a specific version of a library in this repo, please check whether the problem has

[2021-10-15 15:03] #2116 closed

[2021-10-15 17:54] owais commented on #2210
Definitely a bug.

`opentelemetry-util-http` was converted into an instrumentation but only partially.
1. It was not moved to `instrumentations` directory
2. A `package.py` file was not added to it (like this one for example: https://github.com/open-telemetry/opentelemetry-python-contrib/blob/main/instrumentation/opentelemetry-instrumentation-asgi/src/opentelemetry/instrumentation/asgi/package.py)

[2021-10-15 19:15] #2210 closed

[2021-10-16 08:41] Arnatious opened #2214 "ReadableSpan 'links' and 'events' properties cause TypeError"
https://github.com/open-telemetry/opentelemetry-python/blob/73230b66c5497eef834d36dd7f15fa029316b5ce/opentelemetry-sdk/src/opentelemetry/sdk/trace/__init__.py#L427-L433

Attempts to pass `self._links: Sequence[trace_api.Link]` or `self._events: Sequence[Event]` as argument to `MappingProxyType()`.

Result:
[code]

[2021-10-16 22:34] lonewolf3739 commented on #2214
Surprised how this is working then, TIL: [`BoundedList`](https://github.com/open-telemetry/opentelemetry-python/blob/main/opentelemetry-sdk/src/opentelemetry/sdk/util/__init__.py#L44) implementation doesn't throw the type error.

[2021-10-17 05:58] Arnatious opened #2217 "ReadableSpan Events and Links assume BoundedList type"
https://github.com/open-telemetry/opentelemetry-python/blob/1e001868e3eafade5974f0fe6d67986cbf4e2d2a/opentelemetry-sdk/src/opentelemetry/sdk/trace/__init__.py#L380-L390 reference the .dropped attribute of `BoundedList`

https://github.com/open-telemetry/opentelemetry-python/blob/1e001868e3eafade5974f0fe6d67986cbf4e2d2a/opentelemetry-sdk/src/opentelemetry/sdk/trace/__init__.py#L353-L354 however sta

[2021-10-17 14:15] thedrow commented on #62
We want the IO operations required to report the traces, metrics, and logs to the server will be asynchronous since if they aren't and we use an event loop, they will be blocking.
Since blocking the event loop might hurt performance, that will lead to users of this library being less observable.

[2021-10-18 08:32] owais commented on #62
It would be great if someone interested in this could take this up and produce a design doc or proposal with technical details describing all possible directions we can take with pros and cons weighed so we can move forward on this.

[2021-10-18 13:48] tigrannajaryan commented on #2205
Verified, works correctly. Thank you.

[2021-10-18 13:55] tigrannajaryan opened #2220 "logger.warning() gets stuck (forever?) if it cannot connect to the destination"
First of all, great job on adding logging support! Below is a bug report.

**Describe your environment**
Python3
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp-proto-grpc
Using `logs` branch of this repository.

**Steps to reproduce**
1. Do not run Collector.
2. Run https://github.com/open-telemetry/opentelemetry-python/blob/logs/docs/examples/logs/example.py

**What is the expect

[2021-10-18 15:13] codeboten opened #2221 "update proto to 0.11.0"
The latest version of the otel proto is 0.11.0, currently we support 0.9.0, it would be great to update this.

[2021-10-18 15:15] codeboten opened #2222 "Add note to opentelemetry-proto package about version"
The opentelemetry-proto package doesn't mention the version of the otel-proto that was used in the package, it would be great to add this information to the published package https://pypi.org/project/opentelemetry-proto/ or to the documentation. I would prefer the published package though.

[2021-10-18 15:39] tigrannajaryan commented on #2220
I see. Should we use `BatchLogProcessor` in the example to show what's best practice (assuming we consider it best practice)?

[2021-10-19 16:40] ocelotl opened #2229 "Add Aggregation to the metrics SDK"

[2021-10-20 15:36] owais opened #2231 "Otel Spec forbids B3 propagator from propagating `X-B3-ParentSpanId`"
From the [spec](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/context/api-propagators.md#b3-inject)

But we do it [here](https://github.com/open-telemetry/opentelemetry-python/blob/61c2d6e1508c75cce4b50ff7b28712c944b94128/propagator/opentelemetry-propagator-b3/src/opentelemetry/propagators/b3/__init__.py#L152-L158)

This should be removed as the spec forbids

[2021-10-21 14:05] #2222 closed

[2021-10-21 19:52] lonewolf3739 opened #2233 "Strategy for releasing experimental logs (and metrics in future)"
Starting this new thread to find a consensus on how do we want to release the experimental logs sdk. This equally applies to the metrics prototype when it becomes ready. I looked at how other SIGs have approached this and at this point only Java SIG is actively working on both metrics and logs implementation. They have signal specific packages. Metrics and Logs sdk are released as 1.x.0-alpha sepa

[2021-10-26 08:43] ocelotl opened #2239 "Race condition in shutdown"
This check doesn't guarantee it only executes once. You could use the [`Once`](https://github.com/open-telemetry/opentelemetry-python/blob/a002f7aedcf48c5329645182bbcf82efc037a3fa/opentelemetry-api/src/opentelemetry/util/_once.py#L19) class to make it safe, but then you'll still have the same race on L118. You could modify `Once` to allow passing in a lock object (similar to how [`threading.Condit

[2021-10-26 15:28] #2231 closed, assigned to JamesJHPark

[2021-10-28 10:56] ocelotl opened #2245 "Add a `Once` wrapper as well to shutdown"
This will need a `Once` wrapper as well. Can you add a TODO and add an issue to the project board?

_Originally posted by @aabmass in https://github.com/open-telemetry/opentelemetry-python/pull/2227#discussion_r735847339_

[2021-10-28 11:00] ocelotl opened #2246 "Protect registers against race conditions"
One thread could register a new reader/exporter while `force_flush()` or `shutdown()` are already running. Not sure what would happen with iteration order if one thread calls `append()` while another thread is already iterating over the list. We might as well just use a lock here, as this configuration code is not very performance sensitive.

This isn't a blocking comment if you want to create an

[2021-10-28 11:47] ocelotl opened #2247 "Add View to metrics SDK"

[2021-10-28 12:24] AlonMorgen opened #2248 "grpc OTLPSpanExporter does not support HTTP authorization headers anymore"
Hi, first time reporting an issue I stumbled upon :)

**Describe your environment**
python 3.7+
opentelemetry-sdk==1.6.2
opentelemetry-api==1.6.2
opentelemetry-exporter-otlp==1.6.2
Traces exported to elastic APM via the standard **opentelemetry.exporter.otlp.proto.grpc.OTLPSpanExporter**
directly (providing it the endpoint and authorization headers)

**Steps to reproduce**
try to export traces usi

[2021-11-02 10:53] ocelotl commented on #2194
Fixed in #2119

[2021-11-02 10:53] #2194 closed

[2021-11-02 12:26] #1835 closed

[2021-11-02 12:26] #2151 closed

[2021-11-02 12:26] #2200 closed

[2021-11-02 12:46] elfring opened #2258 "Increase the usage of augmented assignment statements"
:eyes: Some source code analysis tools can help to find opportunities for improving software components.
:thought_balloon: I propose to [increase the usage of augmented assignment statements](https://docs.python.org/3/reference/simple_stmts.html#augmented-assignment-statements "Augmented assignment statements") accordingly.

[code]

[2021-11-02 13:25] philipcwhite opened #2259 "auto-instrumentation pymysql not working in newer release"
**Describe your environment** Describe any aspect of your environment relevant to the problem, including your Python version, [platform](https://docs.python.org/3/library/platform.html), version numbers of installed dependencies, information about your cloud hosting provider, etc. If you're reporting a problem with a specific version of a library in this repo, please check whether the problem has

[2021-11-02 17:06] lonewolf3739 commented on #2259
Is it just the pymysql traces that don't show up?

[2021-11-02 17:27] philipcwhite commented on #2259
Yes just pymysql.  Jinja2 and flask http data show up fine.

[2021-11-02 21:17] owais commented on #2259
I wasn't able to reproduce it. Can you please run `pip freeze` on your virtual env and share the output?

This is what I tested with:

### requirements
[code]

### main.py
[code]

Run it as:

[code]

and I see the following span in Jaeger

<img width="1504" alt="image" src="https://user-images.githubusercontent.com/46186/139952978-7931bedd-4cf2-4855-8a21-2305b1f8b8c8.png">

[2021-11-02 21:17] owais commented on #2259
It would be great if you could share a reproducible example.

[2021-11-02 22:34] philipcwhite commented on #2259
I'll test your example tomorrow.  Here is my test app.  https://github.com/philipcwhite/flask-auth

[2021-11-02 23:46] owais commented on #2259
I tested your app and it worked for me.

### Login trace

<img width="1525" alt="image" src="https://user-images.githubusercontent.com/46186/139966746-e9513c9e-1c3d-4013-99a2-0a70aedd9bd5.png">

### Home page trace

<img width="1645" alt="image" src="https://user-images.githubusercontent.com/46186/139966786-169a715c-90bf-4a4f-b77a-112497861985.png">

Here is what I did to instrument the applicatio

[2021-11-03 13:28] philipcwhite commented on #2259
Try with the newer version of pymysql.  This may be the issue.  I tried with the older version (0.10.1) and it worked.

[2021-11-03 13:43] philipcwhite commented on #2259
I tried the older version of pymysql and it worked.  With the new version it does not.

pymysql 0.10.1
Nov 03 09:37:41 fedora otelcontribcol[12297]:      -> db.system: STRING(mysql)
Nov 03 09:37:41 fedora otelcontribcol[12297]:      -> db.name: STRING(monitoring)
Nov 03 09:37:41 fedora otelcontribcol[12297]:      -> db.statement: STRING(SELECT * FROM nodes;)
Nov 03 09:37:41 fedora otelcontribcol[1

[2021-11-03 15:25] owais commented on #2259
Could you please clarify which exact versions worked and which didn't? I assume `0.10.1` worked as it worked for me as well and `1.x` did not work but your original report mentioned that you were using `0.10.1`. Could you please clarify this?

[2021-11-03 15:44] owais commented on #2259
I assume it was `1.x` that did not work for you as the instrumentation does not list it as a supported version currently. Can you please try instrumenting it manually and see if that works?

[code]

[2021-11-03 15:48] owais commented on #2259
I'm closing this and opening a feature request to support PyMySQL 1.x at: https://github.com/open-telemetry/opentelemetry-python-contrib/issues/791

Feel free to re-open if my assessment was wrong and this is still a bug.

[2021-11-03 15:48] #2259 closed

[2021-11-04 10:12] glaubitz opened #2263 "PyPi sources are missing util directory reqiured for tests"
I'm currently trying to upgrade the `opentelemtry-api` package in openSUSE from 1.1.0 to 1.6.2 using the sources from PyPi.

Running the testsuite fails because the PyPy sources are missing some of the testsuite dependencies:

[code]

[2021-11-04 10:13] owais commented on #2263
This package is not published to pypi and can be installed directly from https://github.com/open-telemetry/opentelemetry-python/tree/main/tests/util

[2021-11-04 10:14] glaubitz commented on #2263
Yes, that's my point. It's currently not easily possible to package `opentelemetry-api` in distributions because of that.

[2021-11-04 10:28] owais commented on #2263
It should be possible to package it as this is not a runtime dependency but if the build needs to run the test suite before building the packages then it needs this dep which can be installed from git. This should be automatically handled if tox is used to run the tests. If that is not viable for some reason, running the following command before testing should do it:

[code]

[2021-11-04 10:33] owais commented on #2263
If there are compelling enough reasons, we can publish the package to pypi. I don't think it should be a problem but so far we haven't seen any use cases where it'd make a significant difference.

[2021-11-04 11:53] plajjan commented on #1975
I am seeing roughly this error too, though not when running tests but in a real environment.

[code]

I am currently in sort of triaging mode, trying to understand why this appears at all. I have an older version of my application, which is using an older version of opentelemetry, which works. There might be other differences - I have yet to find out. I just wanted to post so that bot doesn't clos

[2021-11-04 13:10] sguillen18 opened #2264 "Automatic instrumentation returns: unrecognized arguments: --trace-exporter"
I'm running python3 following the steps on [https://github.com/open-telemetry/opentelemetry-python/tree/main/docs/examples/auto-instrumentation](url) and when I get to the auto-instrumentation part it says to run the following command:

`$ opentelemetry-instrument --trace-exporter console_span python server_uninstrumented.py`

and i get the following returned:

(auto_instrumentation) seanguillen@M

[2021-11-04 13:23] owais commented on #2264
This changed recently and was renamed to `--traces_exporter`. `--help` does print it as well which I think you missed :)

[2021-11-05 08:44] glaubitz commented on #2263
The build servers cannot download any code for security reasons. No Linux distribution that I know of allows code downloads during builds.

[2021-11-05 08:45] glaubitz commented on #2263
That would be really appreciated. I have been spending a lot of time now getting all the individual `opentelemetry` Python packages updated in openSUSE and it's quite frustrating due to the various issues with the testsuite.

[2021-11-05 14:55] owais commented on #2263
@open-telemetry/python-maintainers I think we should publish the test utils package to pypi to make life easier for people re-packing Otel for different platforms. It can perpetually stay unstable (0.x) and we can document that it is meant for internal Otel use only. Any concerns?

[2021-11-05 17:57] lzchen commented on #2264
https://github.com/open-telemetry/opentelemetry-python/pull/2243 this pr updates the docs to reflect these changes.

[2021-11-08 09:27] overmeulen commented on #2233
Now that both logs and metrics have been merged in main as private packages is it possible to do a new release of opentelemetry-python ?

[2021-11-08 11:00] saumya2700 opened #2265 "Opentelemetry python support for Faust"
**Is your feature request related to a problem?**
We are using latest version of opentelemetry python lib to generate traces, and our python app is using faust kafka stream.
Traces are not generating for python app where we are using faust. I read that faust is not yet supported. If it is already supported in recent releases can you please direct me to that documentation.

**Describe the solution

[2021-11-08 16:08] codeboten commented on #2233
@overmeulen the discussion from the last SIG meeting was that the next release would happen sometime this week.

[2021-11-09 02:15] owais opened #2266 "Batch Span Processor does not work with uwsgi"
Recently support for forking web servers landed in Batch Span Processor in https://github.com/open-telemetry/opentelemetry-python/pull/2242

I tested this and it works with gunicorn but does not work with uwsgi.

Given a file called `myapp.py`:

[code]

The following command works reports spans
[code]

While as this does not
[code]

I added some debug statements to the fork hook and it seems the h

[2021-11-09 02:15] owais commented on #2266
//cc @lonewolf3739

[2021-11-09 02:38] owais commented on #2266
Also tested with Celery and it does not work when worker's `--pool` CLI option is set to `threads` or `gevent`.

[2021-11-09 11:10] kant777 opened #2267 "unable to get any auto instrumentation to work for a GRPC server written in python"
Hi All,

I am unable to get the auto instrumentation to work for the following server written in python  https://github.com/lightstep/hipster-shop/blob/master/src/emailservice/email_server.py

I ran the server using the following command

[code]

I was successfully able to invoke the server using https://github.com/lightstep/hipster-shop/blob/master/src/emailservice/email_client.py and I can see t

[2021-11-09 12:09] owais commented on #2267
Reproduced. Only jinja spans were generated and there were no grpc spans. I tested with latest 1.6.2 and 0.25b2

[2021-11-09 12:13] kant777 commented on #2267
can you share the sample of jinja spans? Also do you know why grpc spans are not generated?

[2021-11-09 14:18] owais commented on #2267
I don't know why. It looked like the instrumented tracing interceptor was not being called by grpc. Needs more investigation.

[2021-11-09 14:53] ocelotl commented on #2263
sounds good to me :+1:

[2021-11-09 16:27] #2264 closed

[2021-11-09 22:32] lonewolf3739 commented on #2266
That change wasn't effective for uwsgi since it's worker proc management implementation is in C. I might have overlooked it when verifying, my apologies. We can probably make use of pid at the time of instantiation and processing to reinitialise. Can you share the more details about how you tested celery? I tried to set the option to given values but was able to see the spans emitted.

[2021-11-09 22:33] #2258 closed

[2021-11-09 22:46] owais commented on #2266
No worries at all. I just wanted to document what works and what doesn't somewhere so we can track it and patch it at some point.

[2021-11-10 00:16] owais commented on #2266
On celery:

#### `tasks.py`
[code]

#### `producer.py`
[code]

Producing jobs always works obviously:

[code]

Consuming messages works with the following command:

[code]

But does not work with either of the following:

[code]

[code]

[2021-11-10 00:21] owais commented on #2266
@lonewolf3739 My bad. Celery actually works but only if I remove this special case from the sitecustomize file: https://github.com/open-telemetry/opentelemetry-python-contrib/blob/main/opentelemetry-instrumentation/src/opentelemetry/instrumentation/auto_instrumentation/sitecustomize.py#L128-L141

[2021-11-10 17:31] lzchen commented on #2265
Moving to contrib repo.

[2021-11-10 21:23] ocelotl opened #2270 "Use parentheses in PR links in changelog"

[2021-11-11 13:44] #2263 closed

[2021-11-11 22:20] ocelotl opened #2275 "Implement error handling in tracing"
Make our trace API compliant with [error handling](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/error-handling.md).

[2021-11-12 18:55] lzchen commented on #1890
@lonewolf3739
Can this issue be closed?

[2021-11-12 18:55] lzchen commented on #2233
@lonewolf3739
Can this issue be closed?

[2021-11-12 20:50] lzchen commented on #2141
@aabmass

Isn't there still the issue for identifying what denotes an instrument as unique? For example, with the same meter, if we were to create two counters with the same name, unit and description(?)?

[2021-11-13 02:49] #2233 closed

[2021-11-13 14:14] #1890 closed

[2021-11-15 02:00] #2270 closed

[2021-11-17 15:07] wangwalton opened #2281 "Is it possible to log trace ID in gRPC Python Client?"
Hi,

In the server I can issue the below call to get the trace ID, is there a way to do this in the client where the clients are auto generated by grpc?
[code]

[2021-11-17 19:28] aaronslin opened #2282 "Should "setuptools" be a runtime dependency of opentelemetry-api and opentelemetry-sdk?"
**Describe your environment** Describe any aspect of your environment relevant to the problem, including your Python version, [platform](https://docs.python.org/3/library/platform.html), version numbers of installed dependencies, information about your cloud hosting provider, etc. If you're reporting a problem with a specific version of a library in this repo, please check whether the problem has

[2021-11-17 20:31] ocelotl commented on #2282
Yes, we should include it as a dependency, any package that is imported in any part of the `src` directory must be a dependency.

[2021-11-18 06:18] #2229 closed

[2021-11-18 14:51] flashgorman-chorus opened #2284 "Process never exits due to hang in shutdown"
We have a process that sometimes fails to exit until we hit `ctrl-c`.  Traceback at that time shows the process is hung, attempting to "join" a worker thread:

[code]

In this case, the process completed in about **500 ms** and would have produced only a few spans.  The process was configured to export to a remote OT collector which may or may not have been reachable at the time - but we expect th

[2021-11-18 15:59] owais commented on #2284
This shouldn't happen and looks like a bug. I wasn't able to reproduce it with a simple example. Could you please share a reproducible example with all otel dependencies listed?

[2021-11-18 19:39] flashgorman-chorus commented on #2284
Thanks, @owais .  I was able to reproduce the issue with this stand-alone test:

[code]

It took 10-20 tries but eventually exhibited the "hung" behavior reported above.  After it hung, I hit Ctrl+C to get the process to exit.  Here's the console output of that run:

[code]

And here are all of the OT packages I have installed:

[code]

[2021-11-18 19:44] flashgorman-chorus commented on #2284
FYI - when I replace `BatchSpanProcessor` with `ConsoleSpanExporter`, I am not able to reproduce the issue (after 70 tests).

[2021-11-18 19:47] flashgorman-chorus commented on #2284
Restoring the original `OTLPSpanExporter` from my test but disabling the sampler, the issue now happens on every execution.  So, previously, the reason it took "10 or 20 times" was because, when the sampler did _not_ sample the span, then everything was fine.  But when every span is processed (due to commenting-out the sampler), it causes the Python process to hang every time.

[2021-11-18 20:04] flashgorman-chorus commented on #2284
To help illuminate what's going on during `shutdown`, I "monkey patched" `BatchSpanProcessor.shutdown` method in order to print out a traceback of each thread, to see what each thread is doing, prior to dispatching to the "real" `shutdown` method.  The results were, indeed, illuminating:

[code]

I can provide my monkey-patching if needed but, hopefully, this is enough to figure out what's going o

[2021-11-18 20:09] flashgorman-chorus commented on #2284
Appears the worker thread is hung here:
![image](https://user-images.githubusercontent.com/68445085/142489251-b91a6360-a252-44dc-a0ef-a257a2f796b8.png)

[2021-11-19 09:43] lonewolf3739 commented on #2284
There is an exponential backoff and jitter retry mechanism (64 secs) for `OTLPSpanExporter`. This same issue has come up a few times since people are not aware of it. The spec is vague and doesn't have the recommended timeout. The last time we talked about it we agreed on this value and didn't want to make this configureable (via constructor/env) to not introduce breaking changes. I think in this

[2021-11-19 11:54] owais commented on #2284
Thanks for the detailed explanation @flashgorman-chorus. This is a great report!

@lonewolf3739 Shouldn't ctrl-c cancel all in-flight requests and exit immediately? That's what I would expect as an end-user.

[2021-11-19 12:19] lonewolf3739 commented on #2284
OP was expecting it to end without having to hit CTRL-C, which makes sense. It exists after a minute but nobody waits till that point and perceive this as a process hung.

[2021-11-19 12:24] owais commented on #2284
Ah, that makes sense.

[2021-11-19 12:26] owais commented on #2284
I think this is working as expected in that case and can probably be closed. It would be great if processors could watch for sigkill, log a helpful message and exit instead of crashing but not a big deal especially if the implementation is not going to be straight forward.

[2021-11-19 16:23] ocelotl commented on #2284
I agree with @owais, what would really "fix" this issue is a log message that lets the user know the process is waiting

[2021-11-19 23:13] ocelotl opened #2286 "Add Measurement Processor to metrics SDK"

[2021-11-22 13:17] flashgorman-chorus commented on #2284
Thanks, all.  I would like to get clarification if you are saying there is nothing we can do to influence this "process shutdown" behavior.  For example, is there a timeout configuration we can provide if we want the shutdown behavior to _not_ wait?

Ideally, we would like a property that says "how long should `OTLPSpanExporter` wait to flush spans (what I assume it is waiting on) during shutdown?

[2021-11-22 13:31] owais commented on #2284
I think tracer provider should be responsible for detecting this and calling `shutdown()` on itself resulting in all processors shutting down and flushing ASAP.

[2021-11-22 13:31] owais commented on #2284
@ocelotl @lonewolf3739 thoughts about this? ^

[2021-11-22 13:41] flashgorman-chorus commented on #2284
Thanks.  Will await your thoughtful decision.  But, just to be clear, we are talking about a process exiting **naturally** - no human or Ctrl+C involved.  I don't know if SIGKILL is involved under "natural exit" but if that only happens under Ctrl+C or `kill <pid>` scenarios, I wanted to make sure it is clear we are hoping for natural process exit without human intervention and without delay.

[2021-11-22 13:45] owais commented on #2284
@flashgorman-chorus I'm not sure what we can do to "automate" that case. Tracer provider does have a shutdown method and for "natural" exit cases, you could call `provider.shutdown()` explicitly in your code and that should have the same effect.

[2021-11-22 13:47] owais commented on #2284
[code]
See if this works for you ^ @flashgorman-chorus
Not sure if you need to call `force_flush` as well but you can try and s

[2021-11-22 13:54] flashgorman-chorus commented on #2284
That, unfortunately, will not work because we have at least 100 different scripts so there's no single point of entry and, thus, no single point of exit where we could call this.

Moreover, we see `shutdown` being called - so that is not the problem.  It is what's going on _inside_ `shutdown` that causes the process to hang.  If `force_flush` would do the trick, then what would be nice is if `shut

[2021-11-22 15:02] owais commented on #2284
I think shutdown should force flush implicitly if it doesn't already.

[2021-11-22 15:18] flashgorman-chorus commented on #2284
I tested this with an explicit call to `provider.force_flush()` right before I expect the process to exit and all that did was add a 30-second delay.

I next attempted to add a call to `self.force_flush()` inside my monkey-patched version of `shutdown` (along the lines I suggested above) with the same results - an extra 30 seconds.

I _did_ verify that if I simply wait **64 seconds**, the process

[2021-11-22 17:14] ocelotl commented on #2284
It is mostly waiting. We have to do this, it is required in the [spec](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/protocol/exporter.md#retry) and the intention of the spec is to protect the destination from being overwhelmed. If we allowed the exporting to wait 0 seconds we would be making it possible for this to happen and it would be against the spec. I

[2021-11-22 17:34] flashgorman-chorus commented on #2284
Alright!  Thanks for the thoughtful response.  We'll put our heads together here and decide how we want to proceed (or if we need any help).  Everyone's desire to do the right thing has been very refreshing.  Thank you.

[2021-11-22 18:07] owais commented on #2284
@ocelotl @lonewolf3739  I think retry mechanism with jitter should only apply during normal operation of a service. That should be enough to comply with the spec. Once an application starts to shut down, I think it might be more reasonable to make an immediate and final (or may be a few without exponential back-off) attempt at exporting everything in memory and quit after that.

[2021-11-23 22:16] charlesoconor commented on #1957
This has been fixed in subsequent releases. Thanks!

[2021-11-23 22:16] #1957 closed

[2021-11-24 07:09] wbzdssm opened #2288 "AttributeError: 'NoneType' object has no attribute 'get_current'"
**Describe your environment** runtime: python3.6.1; sdk version: 1.7.1

**Steps to reproduce**
Describe exactly how to reproduce the error. Include a code sample if applicable.

**What is the expected behavior?**
What did you expect to see?
I use python3.6.1 runtime; But i have a problem，
[code]

my code is:

[code]
**What is the actual behavior?**
What did you see instead?

**Additional context**

[2021-11-24 23:03] ocelotl opened #2291 "Add Prometheus exporter into main"
### Discussed in https://github.com/open-telemetry/opentelemetry-python/discussions/2290

<div type='discussions-op-text'>

<sup>Originally posted by **adriangonz** November 24, 2021</sup>
Hey everyone,

I've been trying to find the source code for the OpenTelemetry Prometheus exporter (i.e. the `opentelemetry-prometheus-exporter` package), however I've been unlucky so far. I was expecting to find

[2021-11-25 13:53] lonewolf3739 commented on #2288
I spent sometime looking into this and found that there was an import error. [`typing.NoReturn`](https://docs.python.org/3/library/typing.html#typing.NoReturn) is newly added in `3.6.2` which was the reason for error. Can you try with `3.6.2` or later?

[2021-11-25 23:04] ocelotl opened #2292 "Refactor Meter and MeterProvider"

[2021-11-25 23:22] ocelotl opened #2293 "Add Measurement and MeasurementProcessor"

[2021-11-26 13:44] mariojonke commented on #2248
The http OTLPSpanExporter also rejects authorization headers (or more generally headers values containing a blank character). The [specification](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/protocol/exporter.md#specifying-headers-via-environment-variable) for the environment variables in fact says that the value needs to be an URL encoded UTF-8 string, but

[2021-11-26 17:41] ocelotl opened #2294 "Refactor instruments"

[2021-11-26 18:28] ocelotl commented on #2286
Closing, superseded by #2293

[2021-11-26 18:28] #2286 closed

[2021-11-26 19:46] ocelotl opened #2295 "Add MetricReader"

[2021-11-28 05:09] ocelotl opened #2300 "Add ViewStorage"

[2021-11-28 20:39] codeboten opened #2302 "_OTEL_METRICS_EXPORTER env var should be OTEL_METRICS_EXPORTER"
The environment variable `_OTEL_METRICS_EXPORTER` is prefixed with an underscore, but there's no need for it as that environment variable is marked as stable in the specification https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/sdk-environment-variables.md#exporter-selection

[2021-11-29 18:27] #2302 closed

[2021-11-30 20:24] ocelotl opened #2305 "Refactor aggregations"

[2021-12-01 23:25] codeboten opened #2306 "Rename `ConsoleExporter` to `ConsoleLogExporter`?"
As suggested by @lonewolf3739, we should rename the ConsoleExporter to ConsoleLogExporter to follow the pattern established by the ConsoleSpanExporter.

Not in this PR; Should we rename this to `ConsoleLogExporter`?

_Originally posted by @lonewolf3739 in https://github.com/open-telemetry/opentelemetry-python/pull/2253#r759589860_

[2021-12-02 06:30] RunzhongHuang opened #2309 "FastApi auto-instrumentation stopped exporting spans with "set_global_textmap(B3MultiFormat())""
Hi open-telemetry community,

I was working on the auto-instrumentation for a FastApi based REST application, and publish the spans through zipkin exporter. In order to inherit the B3 headers from any incoming requests to chain up the trace,  I followed this [link](https://opentelemetry.io/docs/instrumentation/python/getting-started/#configure-your-http-propagator-b3-baggage), but after implement

[2021-12-02 19:50] lzchen commented on #2306
+1 for this, especially since we have `ConsoleSpanExporter`.

[2021-12-03 22:52] #2306 closed

[2021-12-04 00:16] lonewolf3739 commented on #2309
You need to have a sampling state header `X-B3-Sampled` and it set to 1.

[2021-12-04 06:52] RunzhongHuang commented on #2309
Thank you @lonewolf3739, that it is exactly what I missed. Now I can see the tracing in my zipkin server.

Meanwhile I have a side question regarding the spans I noticed regard the request above. As you can see, it takes a request at path "**/opentelemetry-fastapi**" and response a string. But I actually see 3 spans relate to a single request. And the hierarchy is like below:
- Span 1 (parent): "/

[2021-12-04 08:00] lonewolf3739 commented on #2309
I am not super familiar with this instrumentation. I believe this is because framework is built on top of another one hence the structure but I may be wrong. hooks provide you the ability to enrich the span but I don't think there is any way to block them.

[2021-12-05 17:40] SmokeDawg92967 commented on #1517
Well I can tell you this for sure I didn't do it

[2021-12-06 04:17] RunzhongHuang commented on #2309
@lonewolf3739  Thanks for your help! I am closing this issue now.

[2021-12-06 04:17] #2309 closed

[2021-12-06 23:28] tigrannajaryan opened #2310 "Is it possible to rename "instrumentation library" to "instrumentation scope"?"
This initially came from a [discussion](https://github.com/open-telemetry/opentelemetry-specification/pull/1236#issuecomment-970464780) about introducing Logger Name.

While discussing the issue during the spec SIG meeting we came to a conclusion that the intent for "instrumentation library" was actually to have an "instrumentation scope".

The "instrumentation library" is currently used throughou

[2021-12-07 09:37] owais commented on #2310
This will be a breaking change technically for at least the `get_tracer` method in the Python API.

https://github.com/open-telemetry/opentelemetry-python/blob/main/opentelemetry-api/src/opentelemetry/trace/__init__.py#L228

[2021-12-07 14:11] tigrannajaryan commented on #2310
Is changing the name of the function parameter a breaking change? Is it because get_tracer can be called with named arguments?

If we introduce a new additional function, e.g. `get_scoped_tracer(scope_name)` it won't be a breaking change, right? Will it be possible to support both get_trace and get_scoped_tracer in such a way that doesn't require breaking changes elsewhere?

Also, interestingly it

[2021-12-07 16:55] tigrannajaryan commented on #2310
It appears the conclusion of many SDKs is that this is not a possible change. Closing. Thanks for checking.

[2021-12-07 17:41] owais commented on #2310
Yes. FWIW, I think it is a lot more common to call it with positional arguments but it'd still be breaking.

It should be possible. I don't recall using this name anywhere else but will need a more thorough investigation.

Yeah, not sure how that got in :)

[2021-12-07 18:37] ocelotl opened #2311 "Confusing dashboard of the metrics project"
### Discussed in https://github.com/open-telemetry/opentelemetry-python/discussions/2304

<div type='discussions-op-text'>

<sup>Originally posted by **pjachowi** November 28, 2021</sup>
The metrics project's dashboard https://github.com/open-telemetry/opentelemetry-python/projects/6 it is confusing. Last update was 26 days ago and nothing is in the "in progress" state. Please update or remove.</d

[2021-12-07 23:12] mattoberle commented on #2248
I've also encountered this issue with respect to `Authorization` headers.
I took a look at a few other `opentelemetry-{lang}` libraries:

- [opentelemetry-go](https://github.com/open-telemetry/opentelemetry-go/blob/4d9d882c382641e5f11e72aa9ac9603281fb5a4b/exporters/otlp/otlpmetric/internal/otlpconfig/envconfig.go#L186): decodes header keys and values :green_circle:
- [opentelemetry-java](https://g

[2021-12-08 04:16] ocelotl opened #2313 "Evaluate changes neede to remove support for 3.6"
3.6 is [2 weeks away](https://endoflife.date/python) of reaching end of life.

This issue is to remind us from removing support for 3.6 and keep track of all the necessary changes in our code to do so.

[2021-12-08 15:15] rusnasonov opened #2314 "OpenTelemetry and asynchronous Python"
Hi!

In my projects I use `python3`, `aiohttp server/client`, `aiopg`. I want to send tracing to Jaeger by OTLP. Do you have some examples, how to setup `python + async server (aiohttp)` project in the right way? I found some [instrumentations](https://github.com/open-telemetry/opentelemetry-python-contrib/tree/main/instrumentation) for asynchronous tools, but I not found asynchronous [exporters](

[2021-12-08 17:01] codeboten opened #2315 "Add support for OTEL_LOGS_EXPORTER"
As with metrics and tracing, the specification defines an environment variable for configuring logs exporters:

https://github.com/open-telemetry/opentelemetry-specification/pull/2196

We should add support for it.

[2021-12-08 21:09] #2292 closed

[2021-12-09 16:49] ocelotl commented on #2291
@rltosd the previous Prometheus exporter code was using the previous Metrics implementation found in the metrics branch. After several spec changes, we are now working in reimplementing metrics, the current work is now in the main branch in a still non-public directory.
We do want a Prometheus exporter, it would be great to use the previous AWS Prometheus implementation, but we first need to compl

[2021-12-09 19:19] lzchen opened #2316 "Consider removing exporters from MeterProvider __init__ parameters"
From [this comment](https://github.com/open-telemetry/opentelemetry-python/pull/2296#discussion_r765002669).

[2021-12-09 23:38] RunzhongHuang opened #2318 "FastApi auto-instrumentation send extra spans for a single API execution"
Hi open-telemetry community,

I have a python project with fastapi auto-instrumentation which export the spans to zipkin server, and I have a simple "GET" API which returns a "hello". But I notice it generates 3 spans instead of 1.

![image](https://user-images.githubusercontent.com/32660899/145491308-edc51d76-a150-4296-a787-56d5ee4bb7da.png)

As you can see, the top one is related to the request

[2021-12-10 01:46] cartermp opened #2319 "Docs changes to split out automatic instrumentation, instrumentation packages, and manual instrumentation"
Hello! I'm working on improving docs for all the different language SDKs. In most cases, this means simply adding content, but in some it could imply a little restructure.

The first thing I'm tackling is making sure that automatic instrumentation (if present) and instrumentation libraries (if present) are documented, with an example, easy to find, and distinct from manual instrumentation.

My imp

[2021-12-10 16:27] lzchen commented on #2318
Duplicate of https://github.com/open-telemetry/opentelemetry-python-contrib/issues/831

[2021-12-10 16:27] #2318 closed

[2021-12-10 16:35] lzchen commented on #2319
The organization of the topics looks great. Just a couple of questions.

1. When you refer to "docs", do you mean the content in [docs](https://github.com/open-telemetry/opentelemetry-python/tree/main/docs) or the content in [readthedocs](https://opentelemetry-python.readthedocs.io/en/latest/)?
2.  > What I'd like to propose is that "Getting Started" is broken up into 5 sections, in this order:

D

[2021-12-10 19:04] cartermp commented on #2319
Awesome!

Hmm, aren't they the same? It's the same content/structure AFAIK.

It'd be under that top-level node, yes.

![image](https://user-images.githubusercontent.com/6309070/145627454-7f0c0088-5779-4872-939c-8e4311ff1c17.png)

One question that comes up for me is if that top-level node should still be called Getting Started. I could see it staying that way or being named differently ("Conceptua

[2021-12-14 01:11] codeboten commented on #2291
Started the work to bring this back https://github.com/open-telemetry/opentelemetry-python/pull/2321, will need more work before it can be moved from draft

[2021-12-14 05:09] ocelotl opened #2324 "Move metrics SDK checks into API"
Opening an issue to track this with the intention of being able to merge #2297 into `main`.

Curious as to why this behavior is defined in the sdk and not the api? Shouldn't all implementations of `counter.add` not take in negative increments?

_Originally posted by @lzchen in https://github.com/open-telemetry/opentelemetry-python/pull/2297#discussion_r766810139_

[2021-12-14 18:06] #2315 closed

[2021-12-14 18:43] #2294 closed

[2021-12-14 20:32] Shihao-Zhong commented on #2284
Hi guys,

We are facing same challenges about the stuck in `_wait_for_tstate_lock` function, can we apply some special logic for that when the application is ending?

[2021-12-14 23:28] aabmass opened #2326 "Add MeasurementConsumer to metrics SDK"
See design doc section on [MeasurementConsumer](https://docs.google.com/document/d/1FOmpGCiZAWTd6a3vcEHBnm1LKp7HAKuD4BBN3YCkymc/edit#heading=h.hm0rndce2pgn). For this issue:

- Create ABC `MeasurementConsumer` interface and an empty implementation of `DefaultMeasurementConsumer` (implementation is tracked in #2328).
- Add a member `measurement_consumer: MeasurementConsumer` on MeterProvider
- Wire

[2021-12-14 23:31] #2144 closed

[2021-12-14 23:46] aabmass opened #2327 "Create dataclasses for metric exporter batch"
See design doc section on [export format](https://docs.google.com/document/d/1FOmpGCiZAWTd6a3vcEHBnm1LKp7HAKuD4BBN3YCkymc/edit#heading=h.odfr8s297jn2). For this issue:

- Create the dataclasses for each OTLP point type. Can copy paste code from [the prototype](https://github.com/open-telemetry/opentelemetry-python/blob/33475592768827bcf48f4bc17bf703285dc17d6d/opentelemetry-sdk/src/opentelemetry/sd

[2021-12-14 23:48] aabmass commented on #2291
This can probably be done once #2327 is fixed

[2021-12-14 23:52] aabmass opened #2328 "Implement DefaultMeasurementConsumer"
Blocked by #2326

See [design doc](https://docs.google.com/document/d/1FOmpGCiZAWTd6a3vcEHBnm1LKp7HAKuD4BBN3YCkymc/edit#heading=h.300wviciakra) for `DefaultMeasurementConsumer`. For this issue:

- Implement the DefaultMeasurementConsumer as specified in the design doc. See also [prototype code](https://github.com/open-telemetry/opentelemetry-python/blob/33475592768827bcf48f4bc17bf703285dc17d6d/ope

[2021-12-15 00:04] aabmass opened #2329 "Implement temporality conversion"
Blocked by #2327

Temporality conversion is specified in the [design doc](https://docs.google.com/document/d/1FOmpGCiZAWTd6a3vcEHBnm1LKp7HAKuD4BBN3YCkymc/edit#heading=h.ulghopzfw7ou). For this issue:

- Create a component to handle temporality conversion and storing of previous collection interval's cumulative point value when necessary. For example, there is no need to store previous cumulative f

[2021-12-15 00:07] aabmass opened #2330 "Update Aggregator classes to use export format"
Blocked by #2327

Update the aggregator classes to return a delta point from over the requested time interval. See prototype code's [`make_point_and_reset()`](https://github.com/open-telemetry/opentelemetry-python/blob/33475592768827bcf48f4bc17bf703285dc17d6d/opentelemetry-sdk/src/opentelemetry/sdk/_metrics/_internal/measurement_processor.py#L295-L309) function for how this should look.

[2021-12-15 00:12] aabmass opened #2331 "Update MetricReader.collect to call into the MeterProvider's measurement consumer"
Blocked by #2326

Collecting from the SDK is done through `MeasurementConsumer.collect(reader)` method. When `MetricReader`s are added to a MeterProvider, they need to be given a handle on this method so they can perform collection. Update `MetricReader.collect()` to be a final implementation which calls this method.

For one possible implementation, see [prototype code](https://github.com/open-te

[2021-12-15 00:18] aabmass opened #2332 "Implement PeriodicExportingMetricReader"
See [spec](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/sdk.md#periodic-exporting-metricreader). For this issue:

- Create `PeriodicExportingMetricReader` as a subclass of `MetricReader`
- In it's constructor, create a background task that calls `self.collect()` at the user specified interval

[2021-12-15 00:47] ocelotl commented on #2142
I am a bit confused:
1. What should be handled at the global level?
2. @aabmass, is your intention to suggest `description` is a non-identifying instrument field?

[2021-12-15 00:49] ocelotl commented on #2324
I do agree with moving these checks from the SDK into the API. I can take this issue, but before that, I think this has not been discussed much yet. Does anyone prefer we take another approach?

@aabmass @lzchen @lonewolf3739

[2021-12-15 00:53] ocelotl commented on #1200
This could be uniformly handled by an error handling mechanism, see #2244

[2021-12-15 00:55] ocelotl commented on #2143
This could be uniformly handled by an error handling mechanism, see #2244

[2021-12-15 00:56] ocelotl commented on #2140
Do we still need this issue? The metrics dashboard is also tracking the individual tasks listed here :shrug:

[2021-12-15 01:06] ocelotl commented on #2330
I think #2308 fixes this issue :v:

[2021-12-15 01:07] ocelotl commented on #2327
I think #2308 fixes this issue :+1:

[2021-12-15 19:34] aabmass commented on #2327
Ya, looks like it mostly fixes it. But will still need a few more things I think

[2021-12-16 16:03] aabmass opened #2336 "Consider using binary search for ExplicitBucketHistogram"
https://github.com/open-telemetry/opentelemetry-python/blob/dfb5c66ae310001bb40326f6286345b7fa252aba/opentelemetry-sdk/src/opentelemetry/sdk/_metrics/aggregation.py#L129-L134

Could use some benchmarks, but this is likely to perform better with binary search (builtin `bisect` module) above a certain number of buckets. Also, using a list instead of `OrderedDict` may be faster

[2021-12-16 17:22] codeboten opened #2337 "Add metrics OTLP exporter"
Bring back the OTLP exporter using the new metrics SDK

- [x] Add support for Sum
- [x] #2385
- [x] #2386

[2021-12-17 09:55] lonewolf3739 commented on #2332
I can pick this if you haven't already started working on it.

[2021-12-17 15:50] ocelotl commented on #2332
Sure :v:

[2021-12-21 04:56] cksac opened #2341 "X-B3-Sampled: 0 alone does not disable the tracing"
**Describe your environment**
fastapi>=0.70.0
uvicorn[standard]>=0.15.0
opentelemetry-api==1.8.0
opentelemetry-sdk==1.8.0
opentelemetry-exporter-zipkin==1.8.0
opentelemetry-propagator-b3==1.8.0
opentelemetry-instrumentation-fastapi==0.27b0

**Steps to reproduce**
Start server
[code]

Test
[code]

**What is the expected behavior?**
No trace log to Zipkin
https://github.com/openzipkin/b3-propagation

[2021-12-21 11:57] lonewolf3739 commented on #2341
Thanks for the report. It looks like sending a sampling header alone is a common practice in [Zipkin eco](https://github.com/openzipkin/b3-propagation#overall-process). This should be handled [here](https://github.com/open-telemetry/opentelemetry-python/blob/main/propagator/opentelemetry-propagator-b3/src/opentelemetry/propagators/b3/__init__.py#L89-L104). Feel free to send a fix if you can.

[2021-12-23 03:26] cksac commented on #2341
I have attempted to fix in [here]( https://github.com/open-telemetry/opentelemetry-python/blob/main/propagator/opentelemetry-propagator-b3/src/opentelemetry/propagators/b3/__init__.py#L89-L104 ) but not work. Not sure whats missing.

[code]

[2021-12-23 15:27] lonewolf3739 commented on #2341
You are trying to return an empty context because `sampled`=0 would not in `_SAMPLE_PROPAGATE_VALUES`={"1", "True", "true", "d"}. It should return context with invalid root span and default trace flag (0).

[2021-12-24 03:06] cksac commented on #2341
tried below 3 tests, seems need to have valid trace_id and span_id to get 'X-B3-Sampled': '0' alone to work
[code]

[2021-12-25 20:55] owais opened #2346 "BatchLogProcessor has a flaky test on pypy"
The test was consistently failing on pypy ubuntu and was disabled. We should find out the root cause and fix it.

https://github.com/open-telemetry/opentelemetry-python/pull/2342/files#diff-69b12a61d195afa223ea2a94c4bb42d10e115f2bec93474ef11b67d0d7404524R279-R280

[2021-12-25 20:55] owais commented on #2346
//cc @lonewolf3739

[2021-12-25 21:52] #2282 closed

[2021-12-26 14:17] lonewolf3739 commented on #2346
It consistently raises `KeyError` after certain [serswitchinterval](https://github.com/open-telemetry/opentelemetry-python/blob/main/tests/opentelemetry-test-utils/src/opentelemetry/test/concurrency_test.py#L58) limit but works for some lower values like `5 * 1e-{4,5}`.

[code]

I opened an issue on the upstream pypy repo.

[2021-12-31 16:42] Zhouhao12345 opened #2348 "AttributeError: 'NonRecordingSpan' object has no attribute 'parent'"
[Environment]
------------------------------------------
python==3.7.1
opentelemetry-api==1.7.1
opentelemetry-exporter-jaeger==1.7.1
opentelemetry-propagator-jaeger==1.7.1
opentelemetry-sdk==1.7.1

OTEL_TRACES_SAMPLER=traceidratio
OTEL_TRACES_SAMPLER_ARG=0

My Code :
![image](https://user-images.githubusercontent.com/16707489/147833466-782cd3df-9490-4a30-b44c-c258681e1931.png)

[Issue]
-----------

[2021-12-31 16:58] Zhouhao12345 opened #2349 "ConcurrentMultiSpanProcessor threadpool should be reset after process forked"
[Environment]
---------------------
python==3.7.1
opentelemetry-api==1.7.1
opentelemetry-exporter-jaeger==1.7.1
opentelemetry-propagator-jaeger==1.7.1
opentelemetry-sdk==1.7.1

ConcurrentMultiSpanProcessor

[Issue]
-----------------
 ConcurrentMultiSpanProcessor setup thread executer to submit task for span exporter, but never reset it after process forked. This would block next span submit.

[exp

[2022-01-03 17:54] lzchen commented on #2324
@ocelotl
I suggest we bring this up during the next SIG meeting. Feel free to add this issue to the list of topics.

[2022-01-03 18:02] lzchen commented on #2319
I think "Using OpenTelemetry with Python" would be an appropriate header name. And each section (the five listed) would fall under this header. In the future we may add even more sections as more common situations arise.

[2022-01-03 18:11] lzchen commented on #2346
@lonewolf3739
Can you link to the issue here?

[2022-01-03 18:20] cartermp commented on #2319
Awesome, thanks! And if it's approved, I can be assigned to do the work. More than happy to see it through. And just to reiterate, I'm also perfectly happy to just adding and augmenting existing content if folks feel that's better right now.

[2022-01-03 18:52] lonewolf3739 commented on #2346
@lzchen here is it https://foss.heptapod.net/pypy/pypy/-/issues/3623.

[2022-01-04 18:47] #2248 closed

[2022-01-05 19:01] ocelotl commented on #2336
Yes, good idea :+1:

Assigning to me :v:

[2022-01-06 20:09] tardyp commented on #682
Hi,

Still not sure why this has been closed. aiohttp-server is not really asgi compliant
https://github.com/aio-libs/aiohttp/issues/2902

So it looks like there is a need for a native server

#709 is about client, not server, so it shouldn't have closed the issue.

[2022-01-06 23:37] ocelotl commented on #2336
Yes, this should make histogram performance better, here is a small test:

[code]
[code]

[2022-01-07 13:04] lonewolf3739 commented on #2336
Probably there won't be much difference but we may also want to consider using the varying bucket sizes and exponential difference b/w each buck to closely reflect the real world scenarios.

[2022-01-07 13:17] lonewolf3739 commented on #682
@tardyp This work is moved to contrib repo. Please take a look at https://github.com/open-telemetry/opentelemetry-python-contrib/pull/508

[2022-01-07 15:30] tardyp commented on #682
thank you so much for this info I couldn't find.not this PR will have better SEO :)

[2022-01-07 17:42] #2140 closed

[2022-01-07 17:58] lzchen opened #2352 "Define start/end time in Aggregations"
It is useful for useful for users to know the start/end time of their metrics for many calculations. What are we defining as start/end time of an aggregation and when are we setting them exactly during the metrics recording/collection/exporting process?

For example, start time is set at the first time that an instrument is recorded. End time is set upon when `collect` is called in that interval b

[2022-01-07 18:22] lzchen opened #2353 "Remove Async aggregations"
From this [comment](https://github.com/open-telemetry/opentelemetry-python/pull/2308/files#r773240512), we can possibly remove Async aggregations altogether and modify the aggregation behavior simply based upon the type of instrument (temporality) that is being used.

EDIT: From 1/11 meeting. We will be moving forward with this change.

[2022-01-07 22:15] ocelotl commented on #2352
Well, that definition seems like the solution for this issue :sweat_smile: :+1:

[2022-01-08 00:16] codeboten commented on #2316
This would allow us to move `Metric` and `MetricData` into `_metrics/__init__.py` as mentioned in #2323, as it stands today, it causes a circular import.

[2022-01-08 00:19] codeboten opened #2356 "Validate calls to InstrumentationLibraryLogs(), InstrumentationLibraryMetrics() and InstrumentationLibrarySpans()"
Can the constructor be called like this? Is there a default value for `instrumentation_library` if called with no params?

_Originally posted by @lzchen in https://github.com/open-telemetry/opentelemetry-python/pull/2323#discussion_r780496598_

[2022-01-08 00:32] codeboten opened #2357 "The logging signal doesn't have a default log emitter provider. Should this be raised as an issue?"
As identified during the work for #2354, the log emitter provider doesn't have a default or noop implementation.

[2022-01-08 09:53] lonewolf3739 commented on #2357
Does this apply to the logging? Unlike metrics and traces, logging doesn't have an API. In case tracing/metrics user adds new instrumentation code and may need the no-op. With logging SDK, we are only taking the whatever the logs emitted and exporting them to backend. If they don't want that then they can simply remove the `OTLPHandler`.

[2022-01-09 18:33] doppleware opened #2358 "Add hooks to Span 'add_event' as well as span start and end lifecycle"
**Is your feature request related to a problem?**

The problem is the inability to add additional information via attributes (span and span event attributes) globally when an event is being recorded or when a span is created.  For example, when an exception occurs or when a span begins, based on information from the specific context in the code.

**Describe the solution you'd like**

Have events o

[2022-01-10 13:58] bogdanov1609 commented on #2314
@codeboten @c24t could you help us please?

[2022-01-10 18:40] ocelotl opened #2360 "Remove support for 3.6"
Python 3.6 has reached [end of life](https://endoflife.date/python). Remove support for 3.6.

[2022-01-11 19:05] lzchen commented on #2324
From 1/11 meeting, we have decided to leave the checks in the metrics sdk.

[2022-01-11 19:05] #2324 closed

[2022-01-11 19:08] codeboten opened #2362 "Add _NoOpTracer and _NoOpTracerProvider classes"
As per @ocelotl's comment [here](https://github.com/open-telemetry/opentelemetry-python/pull/2354#discussion_r781542722) the name _Default* doesn't make it clear what the behaviour is. This issue suggests creating new classes (_NoOpTracer and _NoOpTracerProvider) and marking _DefaultTracer & _DefaultTracerProvider as deprecated.

[2022-01-11 19:23] #2305 closed

[2022-01-11 20:13] ocelotl commented on #2330
#2308 has been merged, closing this issue.

[2022-01-11 20:13] #2330 closed

[2022-01-11 20:17] #2316 closed

[2022-01-11 20:26] lzchen commented on #2358
@doppleware
Is something like [request/response](https://github.com/open-telemetry/opentelemetry-python-contrib/tree/main/instrumentation/opentelemetry-instrumentation-flask#requestresponse-hooks) hooks via instrumentations sufficient for your use cases? Something like a stack trace of an exception are usually caught and the information provided within the instrumentation itself, so request/respon

[2022-01-11 20:57] doppleware commented on #2358
Hi  @lzchen,
Thanks for the quick response.
Unfortunately not. As I understand it these would not cover exceptions that are recorded internally in the internal spans and perhaps handled there without propagating to the server.

[2022-01-11 21:29] #1981 closed

[2022-01-11 21:49] lzchen commented on #2358
@doppleware
Are you not able to do this manually by adding the actual event once you have all the information available?

[2022-01-11 22:02] doppleware commented on #2358
@lzchen I want to add this to my code globally without requiring the user to change anything in their code.

[2022-01-11 23:46] owais commented on #2358
I think providing "interception" points like this would be too intrusive and since such functionality is not covered by the API spec, I don't think we can add anything like this as it can result in incompatibilities with the spec and other Otel SDKs in future. I think the right way to fix this would be to raise this as a spec issue so all language SIGs can have a say and we land on a consistent so

[2022-01-12 00:33] ocelotl opened #2365 "Define a mechanism to select the measurement consumer"
Ok, but I think that we will need a mechanism to do that. Opening a corresponding issue.

_Originally posted by @ocelotl in https://github.com/open-telemetry/opentelemetry-python/pull/2339#r782625333_

[2022-01-12 02:59] doppleware commented on #2358
Hi @owais I will certainly raise this as a spec issue as well.
I tried taking the subclassing route but it felt even more intrusive, as it completely replaces the Span and Trace implementation used by the developer and may not scale well with changes with the official implementation.

Furthermore, I may be mistaken but it looks like some private classes were implemented to make it harder to create

[2022-01-12 03:42] phillipuniverse commented on #2066
@owais @ocelotl this has been happening a lot in my production environment as well, like thousands of times in the past few days (hundreds of thousands over the past month).

My stack trace is the same as the original report with the Datadog processor.

I have Rollbar hooked up reporting errors, here is some additional information

![image](https://user-images.githubusercontent.com/684275/14905956

[2022-01-12 11:17] piano-man opened #2366 "Manually set span_id in current span context"
Is there a way to manually set the span ID in the current span context?

I understand that we can specify the parent span context as such: https://github.com/open-telemetry/opentelemetry-python/blob/main/docs/faq-and-cookbook.rst#manually-setting-span-context

However, I do not see a way to specify the span_id for the current span.

Am I missing something here or is this simply not feasible?

Than

[2022-01-12 12:00] owais commented on #2366
Span context includes the span ID along with other information. You can set arbitary key/value pairs in context with `context.set_value()` and `context.get_value()`.

May I ask what problem are you actually tying to solve that requires setting span ID in context?

[2022-01-12 12:04] owais commented on #2066
Is the bug only manifesting with postgresql spans? Did you try setting up a processor/exporter other than DD? It would be great if we could narrow down the list of possible sources and as always a reproducible example would help a lot.

[2022-01-12 12:43] piano-man commented on #2366
Thanks for the response!

I seem to get the following error if I try to use set_value on SpanContext
```AttributeError: 'SpanContext' object has no attribute 'set_value'```

For reference, I'm trying to create a span with span_id 200, where the parent span_id is 100, and the trace id is 10
My sample code looks as such:

[code]

I don't see the ```start_as_current_span``` or the ```start_span``` fu

[2022-01-12 12:45] lonewolf3739 commented on #2066
Took a quick look at the datadog span processor implementation. My guess it's counters based mechanism is the reason for this. I would suggest you using the `BatchSpanProcessor` from opentelemetry sdk and see if the error goes away.

[2022-01-12 13:17] lonewolf3739 commented on #2366
You can't modify `SpanContext` since it is immutable. Probably what you are looking for can be achieved by implementing your own [`IdGenerator`](https://github.com/open-telemetry/opentelemetry-python/blob/main/opentelemetry-sdk/src/opentelemetry/sdk/trace/id_generator.py#L19).

[code]

This may result in all sorts of compatibility issues with components that implement the OpenTelemetry protocol.

[2022-01-12 13:33] piano-man commented on #2366
Hmm, I see.

Is there a reason we don't allow the ```start_span``` and the ```start_as_current_span``` functions to take in the current span context as an argument just like it does for the parent span context? Or even allow the current_span_id as an argument?

We were migrating over to opentelemetry-python from opentelemetry-rust and the rust library seems to have a provision for ```SpanBuilder``

[2022-01-12 13:41] phillipuniverse commented on #2066
@lonewolf3739 my current configuration looks like this:

[code]

If I'm understanding you right, you are saying to change that to:

[code]

I ask because I'm trying to determine if this will actually work with the Datadog agent. In the docs for the `DatadogExportSpanProcessor` it mentions:

[2022-01-12 13:45] owais commented on #2066
Yes but also replace DatadogSpanExporter with something like Jaeger or OTLP exporter and export to Otel collector. That way wouldn't be able to tell if this is an issue with the specific process/exporter or not.

[2022-01-12 13:50] phillipuniverse commented on #2066
@owais

I looked at ~50 of the exceptions I had in Rollbar. 49 of them had the single `SELECT` span (the exact same details from my screenshot). 1 of them had multiple spans (it was wrapped in an API call trace).

I haven't yet, we only use DD in our deployed environments.

I should have some bandwidth in the next week or so to look at this more closely. The problem is that it doesn't happen consi

[2022-01-12 13:56] owais commented on #2066
Correct.

I'm concerned that we'll end up silencing such issues and never find the real root cause. The underlying problem could be a symptom of a bigger issue so it is better we try to identify the source instead of silencing the error.

This makes sense. If possible, I'd suggest to do this in your copy of otel DD exporter and see if you can log additional helpful info.

[2022-01-12 15:03] piano-man commented on #2366
I was referring to these parts of the rust library:
https://github.com/open-telemetry/opentelemetry-rust/blob/main/opentelemetry/src/trace/tracer.rs#L336 -> This let's us create a ```SpanBuilder``` object with all the info we want the span to include.
https://github.com/open-telemetry/opentelemetry-rust/blob/main/opentelemetry/src/trace/tracer.rs#L225 -> This takes in a ```SpanBuilder``` object an

[2022-01-12 18:45] #2327 closed

[2022-01-12 19:32] aabmass commented on #2336
@lonewolf3739 are you talking about for the benchmark? What do you mean by exponential difference between each bucket?

[2022-01-12 19:56] lonewolf3739 commented on #2336
not sure what I was thinking when I made the comment, please disregard it.

[2022-01-12 20:11] aabmass commented on #2336
@ocelotl any chance we could add a new perf benchmark for the histogram under https://github.com/open-telemetry/opentelemetry-python/tree/main/opentelemetry-sdk/tests/performance/benchmarks. Would be cool to see the before and after speedup and catch any regression in the future

[2022-01-13 07:28] guodawn opened #2367 "Why the data farmats of trace stdout exporter in different language are not uniform"
python:
[code]

golang:
[code]

[2022-01-13 08:25] owais commented on #2367
This is not prescribed by the spec and implemented by each SIG for debugging purposes in a way that is most natural to their specific language.

[2022-01-13 08:25] #2367 closed

[2022-01-13 13:02] lonewolf3739 commented on #2362
Maybe controversial opinion. Do we have to change this? I understand it is not descriptive but these are private classes in api. OTEL makes it clear that in the absence of sdk everything is no-op which I could say default behaviour of the api tracer 🤷.

[2022-01-13 16:49] lzchen commented on #2362
@lonewolf3739
I think this is also a fair point.

[2022-01-13 17:10] owais commented on #2362
IMO the implementation/behavior should decide the name of an entity, not where/how it is consumed so noop makes sense to me to over default and since this is internal, changing it should be pretty straightforward while keeping an alias.

[2022-01-13 17:49] lzchen commented on #2319
@cartermp
The SIG has agreed to these changes and we think it will be a great improvement. Just be careful that if we change any of the navigation, that the links will be the same/backwards compatible.

Feel free to split up this task to seperate issues so we can track them iteratively.

[2022-01-13 18:06] aabmass opened #2368 "Consider using two lists in ExplicitBucketHistogram instead of OrderedDict"
In your benchmark, removing OrderedDict appears seems to give a 5x speedup, and I don't think we ever use those keys anyway. What do you think of this structure:

[code]

then the count part would just be
[code]

This mostly closely resembles the OTLP/output format as well where boundaries becomes explicit_bounds and values becomes bucket_counts: https://github.com/open-telemetry/opentelemetry-pyt

[2022-01-13 18:07] aabmass commented on #2368
I can make a PR for this after #2351 is merged. I'll try to include some benchmarks as well.

[2022-01-13 19:23] ocelotl opened #2369 "Decide if methods that create asynchronous instruments should return an object or not"
Can someone make a separate issue for this documenting what other languages are doing? I had a look at Java and the builder will return an instrument handle: https://github.com/open-telemetry/opentelemetry-java/blob/5ff5f3f494fe6958574acff0e8c59bc013b69dad/api/all/src/main/java/io/opentelemetry/api/metrics/LongCounterBuilder.java#L54

_Originally posted by @aabmass in https://github.com/open-telem

[2022-01-13 19:46] lzchen commented on #2141
Changing this to be an implementation in the SDK instead of the API. This behavior is not defined in the API spec and seems to be a specific implementation detail. It will also be much cleaner (since InstrumentationInfo is in the sdk) and we don't have to deal with proxies in the api.

[2022-01-13 19:54] #2326 closed

[2022-01-14 00:39] ocelotl commented on #2368
@aabmass I am fixing this issue in #2336, I suggest we track the addition of benchmarks in another issue.

[2022-01-14 00:44] #2336 closed

[2022-01-14 00:46] ocelotl commented on #2368
#2336 has been merged, closing.

[2022-01-14 00:46] #2368 closed

[2022-01-14 00:47] ocelotl commented on #2293
Fixed by #2339

[2022-01-14 00:47] #2293 closed

[2022-01-14 07:30] cincodenada opened #2376 "Make error message about non-escaped ENV variables clearer"
I ran into the issue of having to escape the ENV variables (particularly relevant for auth headers that have spaces) recently, and the error message was only somewhat helpful. I read up on some history here (#2248, #2103, #2010) and I think the error message should note that the ENV variables need to be URL escaped, preferably directly referencing the OpenTelemetry Protocol Exporter specification

[2022-01-14 22:32] aabmass commented on #2365
I don't think we need to tackle this for a while. `MeasurementConsumer` is not part of the spec and we don't need to publicly expose it or allow users to implement it right now. Once we have good confidence in it, maybe we should open it up, but I'd rather keep it private and have the freedom to tweak things even after a stable release.

[2022-01-14 23:09] aabmass opened #2378 "Implement MetricReaderStorage"
See [design doc](https://docs.google.com/document/d/1FOmpGCiZAWTd6a3vcEHBnm1LKp7HAKuD4BBN3YCkymc/edit#heading=h.vg7rbec4k3ow) for `MetricReaderStorage`. For this issue:

- Implement the DefaultMeasurementConsumer as specified in the design doc. See also [prototype code](https://github.com/open-telemetry/opentelemetry-python/blob/33475592768827bcf48f4bc17bf703285dc17d6d/opentelemetry-sdk/src/opente

[2022-01-15 00:40] #2141 closed

[2022-01-17 19:30] ocelotl opened #2382 "Rename default_xyz entry points after their corresponding classes"
I think it would be better to have a new entry point, which the default one is is a matter better left to configuration (environment variables and such) and not to entry points.

_Originally posted by @ocelotl in https://github.com/open-telemetry/opentelemetry-python/pull/2363#discussion_r782488938_

[2022-01-17 19:30] #2362 closed

[2022-01-18 12:59] thedrow commented on #2314
This is a duplicate of #62.

[2022-01-18 14:50] kaos opened #2384 "Loosen up the dependency on `backoff`."
When trying to install `opentelemetry-exporter-otlp-proto-gprc` we hit a dependency issue involving `backoff`.

[code]

https://github.com/open-telemetry/opentelemetry-python/blob/1a52e9df1c10a42da7562f8b4d11f43576ed0aed/exporter/opentelemetry-exporter-otlp-proto-grpc/setup.cfg#L48

Is there an issue with `backoff 1.11.1` that makes it unusable for this project?
If not, I'd suggest using a less re

[2022-01-18 18:06] codeboten opened #2385 "OTLP Exporter: Add support for Gauge point types"

[2022-01-18 18:06] codeboten opened #2386 "OTLP Exporter: Add support for Histogram point types"

[2022-01-18 18:06] codeboten opened #2387 "OTLP Exporter: Add support for Exponential Histogram point type"

[2022-01-18 18:24] ocelotl commented on #2366
This sounds to me like a feature that we may be missing. I think the scenario requested here is (maybe) achievable but in a very impractical way, by creating parent spans via context creation with the ids and the attributes that the user wants and a dummy child span that is the final one.

If this is the case, and the setting of a span id is in theory possible (which I am not sure, @piano-man can

[2022-01-18 18:38] ocelotl commented on #2365
As far as I understand, the design is based on the idea of `MeasurementConsumer` being a component that can be replaced by another implementation. If that is the case, then don't we need a way to let the user select the implementation? :shrug:

[2022-01-18 18:44] ocelotl commented on #2314
@rusnasonov please take a look at #62 and close this issue if that one suits your needs :+1:

[2022-01-18 22:46] ocelotl opened #2389 "Make necessary SDK metrics symbols private"
Most of the stuff in the `opentelemetry/sdk/_metrics` package should be private. Can we fix it for everything in a follow up PR?

_Originally posted by @aabmass in https://github.com/open-telemetry/opentelemetry-python/pull/2388#r787146293_

[2022-01-18 22:55] ocelotl opened #2390 "Add aggregation temporality conversion for all point types"
Can you add a todo for the other point types?

_Originally posted by @aabmass in https://github.com/open-telemetry/opentelemetry-python/pull/2380#discussion_r787074866_

[2022-01-19 16:40] aabmass commented on #2389
This should probably be fixed for both the SDK and API in two separate PRs.

[2022-01-19 17:07] #2328 closed

[2022-01-19 17:40] lzchen commented on #2142
From [specs](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/api.md#instrument):

So should probably be done as part of error handling.

[2022-01-19 19:17] aabmass commented on #2365
At some point that's the idea. For now, we don't need to expose any of the MeasurementConsumer stuff to the user/public API.

[2022-01-19 20:12] lzchen commented on #2356
Tested this locally and works as expected.

![image](https://user-images.githubusercontent.com/11580155/150206540-862708bf-d983-40f3-ba14-35844a436203.png)

[2022-01-19 20:12] #2356 closed

[2022-01-20 01:11] Arnatious opened #2392 "Global span limit of 0 does not work"
https://github.com/open-telemetry/opentelemetry-python/blob/fb605388dda13933b2242a208e0039518eec01ce/opentelemetry-sdk/src/opentelemetry/sdk/trace/__init__.py#L597

It's the only attributes limit that is enforced as non-zero, without informing the user.

In addition - In the weird case where a user wants no attributes, ever, they'd set the `global_max_attributes = 0`.
If they then don't set the mo

[2022-01-20 02:37] lzchen opened #2393 "Validate operations for instruments"
Certain instruments have limitations for what can be passed in for their add/record operations. We should at least log a message and prevent users from doing so for these cases.

[2022-01-20 17:32] codeboten opened #2395 "Add policy around removing support for Python versions that have been EOL'd"
As discussed at Jan 20 SIG meeting, we need to define a policy for when support will be dropped for Python versions which have been declared EOL (end-of-life). The recommendation is to support versions up to 6 months after they've been declared EOL.

3.5 support was dropped 6 months after end of life (https://github.com/open-telemetry/opentelemetry-python/issues/1698)
https://www.python.org/downlo

[2022-01-20 17:33] ocelotl commented on #2360
It has been decided in the SIG that support for versions will be removed 6 months after their [end of life](https://endoflife.date/python).

[2022-01-20 17:34] ocelotl opened #2396 "Add version deprecation policy to README"
It has been decided in the SIG that support for versions will be removed 6 months after their [end of life](https://endoflife.date/python).

_Originally posted by @ocelotl in https://github.com/open-telemetry/opentelemetry-python/issues/2360#issuecomment-1017750739_

Include this policy in our README

[2022-01-20 20:58] #2393 closed

[2022-01-20 22:16] ocelotl commented on #2396
duplicate of #2395, closing

[2022-01-20 22:16] #2396 closed

[2022-01-21 14:42] lonewolf3739 commented on #2384
Our usage of this lib is only limited to definition `expo`. I don't see any breaking changes to that since the initial release of package. Would appreciate if you can test and send a PR Loosening up the requirement.

[2022-01-21 16:04] kaos commented on #2384
OK! Thanks, I'll see if I can do that when I get some spare time, unless someone else beats me to it (not going to be too soon). I've worked around this by pinning our deps to backoff 1.10.0 as well for now.

[2022-01-21 16:42] #2295 closed

[2022-01-21 16:42] #2332 closed

[2022-01-21 18:48] #2392 closed

[2022-01-21 20:56] #2395 closed

[2022-01-21 21:12] aabmass commented on #2331
It looks like this is actuall done @lonewolf3739?

[2022-01-21 22:03] lonewolf3739 commented on #2331
I don't think it is correct. There is no `_register_measurement_consumer ` on metric reader and `self` there refers to meter provider. It should be updated to this unless I am missing something.
[code]

[2022-01-21 22:34] codeboten commented on #2331
Yup, can confirm that still needs updating @lonewolf3739 👍

[2022-01-22 04:57] piano-man commented on #2366
I'm not sure I follow this approach. I can certainly create a parent span context, but there is no way to convert that parent span context to a parent span. What's missing is a function that takes in the context information, and uses this context information to set the span ID and other attributes in a current span.

So essentially, if i want to link spans across multiple hops 1->2->3, I will be u

[2022-01-24 18:44] ocelotl opened #2402 "Implement timeout mechanism for several metrics components"
`collect` doesn't return anything, so returning True until we implement timeout/error handling mechanism seemed reasonable to me. What do you think?

_Originally posted by @lonewolf3739 in https://github.com/open-telemetry/opentelemetry-python/pull/2401#discussion_r790980110_

Also, the timeout mechanism is required in several parts of the metrics spec:
1. [MeterProvider.shutdown](https://github.c

[2022-01-24 21:37] phillipuniverse commented on #2066
@owais I just deployed this into our environment and have new data.

I wrote a subclass of the `DatadogSpanExporter`:

[code]

Then used that instead of the `DatadogSpanExporter`:

[code]

This is a Django service (Django 2.2) with psycopg2-binary

I no longer have exceptions. There are a lot of spans that do not have end_time set, here are some of them (I scrubbed some data):

[code]

Most of the

[2022-01-24 22:13] process0 opened #2403 "Handle Exceptions without Span"
What is the recommended way to handle Exceptions that do not occur in a span?  My use-case is having several async tasks running on an event loop that aren't easily classified as Spans, but wanting to capture Exceptions and report them.

I'm coming from `elasticapm` using the Elastic APM OTLP agent, where that library allowed sending errors without spans.  Is this something that is even supported

[2022-01-24 22:39] ocelotl opened #2404 "Metric Reader function not being called"
As reported by @aabmass :v:

There is a bug [here](https://github.com/open-telemetry/opentelemetry-python/blob/main/opentelemetry-sdk/src/opentelemetry/sdk/_metrics/__init__.py#L204). If a metric reader returns `False` in a shutdown, the next metric reader shutdown function won't be called.

[2022-01-24 23:08] ocelotl opened #2406 "Shutdown result is reported using boolean values"
The spec says for both [`MeterProvider`](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/sdk.md#shutdown) and [`MetricReader`](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/sdk.md#shutdown-1) `shutdown` methods: Shutdown SHOULD provide a way to let the caller know whether it succeeded, failed or timed out

[2022-01-24 23:08] codeboten opened #2407 "Metrics: Add support for exemplars"
As per the SDK specification: https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/sdk.md#exemplar

[2022-01-25 15:12] owais commented on #2403
OpenTelemetry Python has support for handling log statements (unstable right now) which can be used to describe generic events or exceptions outside the scope of a span.

[2022-01-25 18:52] #2385 closed

[2022-01-25 20:20] #2404 closed

[2022-01-25 21:00] ocelotl commented on #2142
Should this issue be closed @lzchen in favor of implementing this later with general error handling?

[2022-01-25 22:37] lzchen commented on #2142
@ocelotl
I think the behavior won't completely be fixed with error handling. We still need to implement the "checking of valid instrument creation" part.

[2022-01-26 14:43] thedrow commented on #62
I started the effort in #2412.

[2022-01-26 18:34] ocelotl opened #2413 "Did you mean to use f-string here?"
Did you mean to use f-string here?

_Originally posted by @lonewolf3739 in https://github.com/open-telemetry/opentelemetry-python/pull/2405#discussion_r792096137_

[2022-01-26 19:08] #2413 closed

[2022-01-26 22:10] aabmass commented on #62
I've been thinking about this a bit for metrics as well. I think we would want to be able to create Observable instruments with async callbacks too, which requires some API change. This could probably be done by only updating the Meter API's type annotations to accept async or regular forms, and then updating the SDK to handle these.

@Alan-R can you explain this a bit more? I thought our context

[2022-01-26 22:32] ocelotl opened #2416 "TestPeriodicExportingMetricReader.test_ticker_collects_metrics fails randomly"
I have seen this test failing randomly in several PRs, fix that.

[2022-01-26 22:33] ocelotl commented on #2416
A bit of an unscientific investigation: I ran this test in my computer 10 times, failed 4 times. I increased the sleep to 2 seconds, not it fails every time.

[2022-01-26 22:38] ocelotl commented on #2416
When I used 0.1s it failed only 1 of 10 times.

[2022-01-26 22:42] ocelotl commented on #2416
Hm, it makes sense that it fails if time is significantly different from 0.1 since that is the interval of 1 metrics exporting. But this means it is exporting the same metrics with every interval. Is that expected, @lonewolf3739?

[2022-01-26 22:46] ocelotl commented on #2416
Using 0.11 worked 10/10 times, that makes sense since it is a bit more time than needed for an interval to be completed but not enough for 2 of them to be completed. Will submit a PR with this change but I wonder if we should still export metrics over and over again.

[2022-01-26 23:10] #2416 closed

[2022-01-26 23:14] ocelotl opened #2418 "Should the same metrics be exported?"
Hm, it makes sense that it fails if time is significantly different from 0.1 since that is the interval of 1 metrics exporting. But this means it is exporting the same metrics with every interval. Is that expected, @lonewolf3739?

_Originally posted by @ocelotl in https://github.com/open-telemetry/opentelemetry-python/issues/2416#issuecomment-1022670329_

[2022-01-26 23:21] lonewolf3739 commented on #2418
In the tests I made it return the same metrics list every time `collect` is called. I wouldn't expect it to happen in sdk implementation. I am assuming they are cleared from in-memory storage once collected.

[2022-01-26 23:27] #2239 closed

[2022-01-26 23:27] #2245 closed

[2022-01-26 23:27] #2331 closed

[2022-01-26 23:43] ocelotl commented on #2418
All right, thanks @lonewolf3739 will discuss this in tomorrows SIG and if this is the consensus we can close this issue :v:

[2022-01-27 03:41] phillipuniverse commented on #2066
Quick update - I made the following change to move the gate to the processor to try to get a stack trace on the same thread as the one with the missing end_time on the Span. Should have additional information tomorrow.

[code]

[2022-01-27 13:42] owais commented on #2066
Nice! Great investigation @phillipuniverse. Really appreciate the help here. Looking forward to your findings.

[2022-01-27 15:57] phillipuniverse commented on #2066
Ok, my findings are very very strange. I got no logs in my environment from the stack trace in the override to the `DatadogExportSpanProcessor`, but the original issue of the `end_time` being `None` in the `DatadogSpanExporter` came back. The only conclusion I can draw here (which doesn't make sense to me at the moment) is the problem is somewhere between the span processor and the exporter. So my

[2022-01-27 22:44] lonewolf3739 commented on #2418
@ocelotl Sorry, I couldn't make it to the meeting for some reasons. Did you discuss about this? I think this won't be a problem with sdk implementation and can be closed.

[2022-01-27 23:19] ocelotl commented on #2366
Ok, this solution is convoluted but it may work.

[code]
[code]

[2022-01-27 23:20] ocelotl commented on #2418
All right, @codeboten, are you ok with this issue being closed? I am :+1:

[2022-01-28 07:29] AsishVenakataSai opened #2419 "Trace created by istio proxy is not being honored by python container"
Istio Version - 1.11.2
Djanbo Version -
[code]
Opentelemetry related libraries:
[code]

Environment variables that we are passing.
[code]

**we see trace in istio-proxy logs**
istio-proxy log statement:
`{"protocol":"HTTP/1.1","upstream_transport_failure_reason":null,"path":"xxxxxxxx,"response_code":500,"bytes_received":197,"start_time":"2022-01-28T05:03:55.634Z","upstream_host":"xxxxxxxx","traceI

[2022-01-28 07:33] mvkrishna86 opened #2420 "Otel python library is creating a new traceid even if one already existing"
**Describe your environment**
We are running the service in k8s env with istio-envoy injection. istio is creating the x-b3-traceid header and forwarding it to python service. but we see a new traceid created by python application. This is not observed with java applications.
This is happenning when called python service from java service, but not happenning when python called another python/java s

[2022-01-28 09:00] owais commented on #2420
Cannot reproduce this independently. Can you please share a reproducible example?

[2022-01-28 09:24] owais commented on #2366
This is someone that the spec says nothing about. Some SDKs support it while others don't. May be this should be requested at the SIG level as a feature and if accepted, it should be pretty simple to add support for accepting a span_id or an ID generator instance directly in the `start_span/start_as_current_span` function.

[2022-01-28 09:28] owais commented on #2366
Another way to achieve this today would be to use contexts. Again convoluted but probably easier to use.

[code]

`next_span_id` would set a span ID in current context and a custom ID generator would pop such an ID from context and use it _if_ present.

You could also sub-class the tracer, override the start span methods and make it accept the span ID. Then internally use context or some other mec

[2022-01-28 11:41] lonewolf3739 commented on #2419
I see that your log statement has traceId field, Can you clarify what is the issue here?

[2022-01-28 12:30] AsishVenakataSai commented on #2419
We can see the trace till istio logs .
But after that we are not seeing data as expected.
Looks like same trace is not being picked by the library. we are seeing a broken traces and logs are printing tracid as 0 in service.

[2022-01-28 13:13] lonewolf3739 commented on #2419
What is the propagation format set for the service and incoming request.

Are these logs within a valid trace context?

[2022-01-28 18:44] lzchen commented on #2102
@lonewolf3739
Can you link the appropriate spec pr and then we can close this issue?

[2022-01-28 18:50] #2221 closed

[2022-01-28 23:09] codeboten opened #2421 "Add ExponentialHistogram data point to metrics SDK"
The spec says there are 4 data points:

1. Sum
2. Gauge
3. Histogram
4. Exponential Histogram

Currently the SDK only implements 3 of them: Sum, Gauge, Histogram. See:
https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/datamodel.md#opentelemetry-protocol-data-model

- [x] #2957
- [x] #2963

[2022-01-28 23:18] lonewolf3739 commented on #2102
Dropped in this commit https://github.com/open-telemetry/opentelemetry-specification/commit/3ba87084e7a513b3ed3c6bb4d81c60901049f195

[2022-01-31 08:51] mvkrishna86 commented on #2419
Hi @lonewolf3739 , propagation format is b3multi, below is the env variable we are setting:
OTEL_PROPAGATORS="b3multi"
Istio is populating the x-b3-traceid header. So I suppose the service should pick up that traceid.

[2022-01-31 09:45] lonewolf3739 commented on #2419
Headers should follow this specification https://github.com/openzipkin/b3-propagation#multiple-headers. The sampled flag must be set. Can't say much with any further information. It would be helpful if you can share a small reproducible app with the issue.

[2022-01-31 15:43] #2102 closed

[2022-01-31 17:49] AsishVenakataSai commented on #2419
hi @lonewolf3739 , we are facing django instrumentation failure. when starting the service. The service is commingup but we are suspecting that might be reason tracing is not working as expected.
**run command**
`opentelemetry-instrument python3 manage.py runserver 0.0.0.0:6210 --settings=xxxxx.settings --configuration=xxxx --noreload`
[code]

[2022-01-31 19:31] owais commented on #2419
@AsishVenakataSai these issues are very hard to provide useful feedback on. It would be great if you could create a basic sample Django app that reproduces this issue and share with us.

[2022-01-31 22:59] codeboten opened #2430 "OTLP Metric Exporter: Add sum to Histogram"
The OTLP Histogram data point supports a sum field, the field in the aggregation is currently private. This should be changed in order for the exporter to have access to it.

[2022-02-01 20:03] #1200 closed

[2022-02-01 20:27] aabmass commented on #2421
You probably already know this Alex, but ExponentialHistogram aggregation is not in the Metrics SDK spec yet (https://github.com/open-telemetry/opentelemetry-specification/pull/2252). I do think it's worth adding it to our export types now to get the OTLP exporter ready in anticipation 🙂

[2022-02-01 20:30] aabmass commented on #2406
What do we do in tracing?

[2022-02-01 20:33] aabmass commented on #2369
See also https://github.com/open-telemetry/opentelemetry-specification/pull/2281

[2022-02-01 20:38] lzchen commented on #2406
Shutdown doesn't return anything in [tracing](https://github.com/open-telemetry/opentelemetry-python/blob/main/opentelemetry-sdk/src/opentelemetry/sdk/trace/__init__.py#L1142).

[2022-02-01 20:48] aabmass commented on #2406
What do you all think of raising exceptions for this? Having it not return anything and just raising an appropriate exception seems the most idiomatic to me.

[2022-02-01 22:02] ocelotl commented on #2406
I am ok with this, keep in mind that these exceptions need to be handled by some error handling mechanism.

[2022-02-01 22:19] process0 opened #2432 "Current context is empty with baggage.get_all"
**Describe your environment**
* Python 3.9.2
* `opentelemetry-api == 1.9.1`

**Steps to reproduce**
[code]

**What is the expected behavior?**
[code]

**What is the actual behavior?**
[code]

**Additional context**
Add any other context about the problem here.

[2022-02-01 22:40] lzchen commented on #2406
@aabmass
What about logging an exception?

[2022-02-01 23:16] owais commented on #2406
I think raising exception makes most sense here for Python. I don't think we can log an exception since we need to let the caller know which would be the calling scope code, not the human who wrote it.

Handling the exception ourselves will also defeat the purpose of having on in the first place as an exception here is meant to be used as a control flow mechanism.

I think we should look at these

[2022-02-02 04:54] piano-man commented on #2366
Thanks!
I think I now have all the needed information to work with.
I'll close this issue for now.
Cheers!

[2022-02-02 04:54] #2366 closed

[2022-02-02 07:56] UjjwalSaini07 opened #2433 "Removal Of Python version 3.6"
I requested to remove version 3.6 as also suggested by @ocelotl . The removal of Version #.6 is important for Project now a days 3.10 version launched in 4 oct 2021 so why you use the old one. In new version they introduce many more libararies which help us to make beautiful program and also bug some fixes in previous version.
I again Request To change the Previous Version of that.
Also Refer This

[2022-02-02 09:21] lonewolf3739 commented on #2433
Please read this https://github.com/open-telemetry/opentelemetry-python#python-version-support-addition-and-removal

[2022-02-02 11:51] UjjwalSaini07 commented on #2433
Oh Yess  It use Latest Python Version Bug fix.

[2022-02-02 11:51] #2433 closed

[2022-02-02 12:00] AsishVenakataSai commented on #2419
hi @owais and @lonewolf3739
The way to repoduce above problem.
We took the django example [https://github.com/open-telemetry/opentelemetry-python/tree/main/docs/examples/django]

Made the below changes and ran the below commands
Changes are done on **manage.py** and **instrumantion_example/setting.py**
**manage.py**
`#!/usr/bin/env python
# Copyright The OpenTelemetry Authors
#
# Licensed under th

[2022-02-02 22:13] Maraket opened #2434 "Using opentelemetry-instrument breaks Sentry SDK"
**Describe your environment**
* Python 3.6.8
* Centos 7
* Supervisord
* Sentry_sdk 1.4.3
* Environment Variables Set:
** OTEL_SERVICE_NAME=testthing
** SENTRY_URL=<secure sentry url>

**Steps to reproduce**
Using the below proof of concept python script:
[code]

When the script is executed as `python3 proof.py` the output is:
[code]

Though when executing `opentelemetry-instrument python3 proof.py

[2022-02-02 22:24] owais commented on #2434
Looks like an issue with Falcon. Which version of Falcon are you using? Please share output of `pip freeze`

[2022-02-02 22:52] Maraket commented on #2434
aiocontextvars==0.2.2
apispec==5.1.1
ari==0.1.3
backoff==1.10.0
boto3==1.20.46
botocore==1.23.46
certifi==2021.10.8
charset-normalizer==2.0.11
contextvars==2.4
dataclasses==0.8
datadog==0.42.0
Deprecated==1.2.13
dnspython==2.1.0
falcon==2.0.0
googleapis-common-protos==1.54.0
grpcio==1.43.0
idna==3.3
immutables==0.16
inflection==0.5.1
Jinja2==3.0.3
jmespath==0.10.0
MarkupSafe==2.0.1
marshmallow==3.

[2022-02-02 23:03] Maraket commented on #2434
I should mention that the application in question doesn't use Falcon, there is a second application that runs on the same instance that does though, and that is executed using `uwsgi` which runs without any issues and pushes telemetry data.

[2022-02-03 00:41] codeboten opened #2436 "Flaky test: metrics\test_periodic_exporting_metric_reader.py"
Appears to be somewhat inconsistently failing on Windows. See more details [here](https://github.com/open-telemetry/opentelemetry-python/runs/5044875122?check_suite_focus=true)

[2022-02-03 01:01] ocelotl commented on #2436
@codeboten please take a look at #2417. Maybe changing the value from 1.1 to 1.5 will help.

[2022-02-03 01:02] #2386 closed

[2022-02-03 03:27] lonewolf3739 commented on #2436
Bumping the sleep time will only make it more flaky. In this test metrics get exported for every 100ms and we are waiting for 110 ms before making assertion which should be fine but looks like on Windows that's not the case. This flaky test tests that ticker ticks the collection, it's best to update the test to get rid of sleeps and still verifies the functionality.

[2022-02-03 10:54] chalin commented on #2172
/cc @cartermp

[2022-02-03 16:04] ocelotl commented on #2436
Hey, @lonewolf3739, sorry did not realize you had assigned this to yourself when I opened #2437 :sweat_smile:

I propose there we mark this test case as flaky. I think the testing is right, the problem is the environment, so running it a few more times should do the trick. Please comment if you have another solution :+1:

[2022-02-03 16:05] ocelotl commented on #2436
https://github.com/box/flaky BTW

[2022-02-03 16:13] ocelotl commented on #2172
Thanks, @chalin adding this to today's SIG meeting topics :+1:

[2022-02-03 16:20] hjwp opened #2438 "ImportError: cannot import name 'OTEL_EXPORTER_OTLP_INSECURE' from 'opentelemetry.sdk.environment_variables' for opentelemetry-exporter-otlp-proto-grpc 1.9.x"
**Describe your environment**

Python 3.10.0.

Here is the output of `pip freeze | grep opentelemetry` in a _working_ state:

[code]

**Steps to reproduce**

Attempt to upgrade to `opentelemetry-exporter-otlp-proto-grpc==1.9.0` or `opentelemetry-exporter-otlp-proto-grpc==1.9.1`

**What is the expected behavior?**

things should work

**What is the actual behavior?**

[code]

[2022-02-03 16:24] hjwp commented on #2438
aha!  I found that upgrading everything else helped:

[code]

and now things work!

i guess you could close this?

[2022-02-03 17:37] ocelotl commented on #2172
Just for information, this issue will not be fixed with a PR in this repo :+1:

[2022-02-03 17:39] lzchen commented on #2172
Part of this effort: https://github.com/open-telemetry/opentelemetry-python/issues/2319

[2022-02-03 17:45] #2430 closed

[2022-02-03 18:01] #2436 closed

[2022-02-03 18:22] #2329 closed

[2022-02-03 19:26] cartermp commented on #2172
Recording here for posterity - this was approved, so I'll work on this until it's ready for a review, and then loop folks in to make sure things look good.

[2022-02-03 21:28] codeboten opened #2439 "[Logs] drop Log.name usage"
As per the change in specification: https://github.com/open-telemetry/opentelemetry-specification/pull/2271

The log name field is being deprecated in OTLP: https://github.com/open-telemetry/opentelemetry-proto/pull/357

[2022-02-03 21:37] JPLachance commented on #1059
Hello,

I recently realized that the open telemetry instrumentation is logging formatted JSON objects instead of JSON lines.

In the context of:
- an application running in Kubernetes
- a log collector like Filebeat that expects JSON lines

We get broken logs in Elasticsearch, because Filebeat is indexing each line of the JSON document separately (because each line ends with a `\n`).

Is there a w

[2022-02-04 01:49] lonewolf3739 commented on #1059
I think you are mixing different things here. The `OTEL_LOG_LEVEL` is for setting the log level for the loggers used in internally by SDK not for your application logs.

Are you using the `ConsoleLogExporter`? That's primarily intended for debugging purposes. I don't see an issue in enabling you to configuring indent through func args but not sure if we can support the env. I am also wondering if

[2022-02-04 06:13] UjjwalSaini07 commented on #2439
Good Issue
But why You Not issue In **_Drop log Name field #2271_** In which many more people review the code

[2022-02-04 06:17] UjjwalSaini07 commented on #2438
@ocelotl and @codeboten  please Help @hjwp i don't know which error Raised By this person.

[2022-02-04 07:46] lonewolf3739 commented on #2439
@UjjwalSaini07 , sorry, what are you trying to suggest here?

[2022-02-04 12:11] hjwp commented on #2438
fwiw -- i think the problem only happens if you try and upgrade opentelemetry api+sdk to 1.9.1, but fail to upgrade the instrumenation-* repos to 0.28b1.

so maybe the version dependencies need more explicit pinning?

[2022-02-04 13:00] owais commented on #2438
It sounds like OTLP grpc exporter should update it's dependency on SDK (1.9.1 minimum)

[2022-02-04 13:12] owais commented on #1059
@JPLachance Could you please open a new issue for what you're reporting? Looks like we are talking about different things here :)

[2022-02-05 01:47] reese-lee opened #2443 "OTLP HTTP Exporter should append `v1/{signal}` to the endpoint URL when non-per-signal env var is used"
Per the spec re: [Endpoint URLs for OTLP/HTTP](https://github.com/open-telemetry/opentelemetry-specification/blob/b7473b5de0f55f921f896948442ebb274f58b584/specification/protocol/exporter.md#per-signal-urls), when the non-per-signal endpoint env var (`OTEL_EXPORTER_OTLP_ENDPOINT`) is set, the exporter *must* construct per-signal URLs (either `v1/traces` or `v1/metrics`).

Currently, the [exporter d

[2022-02-05 04:14] srikanthccv opened #2444 "Run tests against multiple versions"
Yes but using the minimum supported version in tox isn't enough as newer versions could also introduce incompatibilities or bugs. We probably will need to run against multiple versions but at least using the moving from dev to min compatible would be a good start.

_Originally posted by @owais in https://github.com/open-telemetry/opentelemetry-python/issues/2441#issuecomment-1030165572_

[2022-02-05 04:19] lonewolf3739 commented on #2444
Running tests against both the latest devs and min compatible version should be sufficient. If there was any incompatible change then tests would fail telling us the need to bump the compatible version.

[2022-02-05 19:34] #2438 closed

[2022-02-05 20:29] owais commented on #2444
On second thought, I think we should only run against the minimum compatible version at least to begin with. If an new version depends on a new feature from another package, it'll break in CI for sure. New versions can still introduce incompatibilities but the cost of running against multiple packages might be too high right now. May be we can run against minimum compat package in PRs but run agai

[2022-02-06 12:35] srikanthccv opened #2446 "Add OTLP/HTTP logging exporter"

[2022-02-06 15:02] lonewolf3739 commented on #2346
I believe the upstream fix landed in v7.3.8 fixes this issue. I tested against the latest rc1 https://downloads.python.org/pypy/ and it was working. Should be re-enabling after stable release.

[2022-02-07 20:58] JPLachance commented on #1059
Hello,

We use the `OTLPSpanExporter`, with a fallback to the `ConsoleSpanExporter` when we cannot properly configure the `OTLPSpanExporter`.

That fallback made me fell into a rabbit hole. My bad 🤦🏼

[2022-02-07 21:55] codeboten opened #2447 "Add OTLP/HTTP metric exporter"
As with the other signals, metrics should be available for export as OTLP over HTTP.

[2022-02-08 09:14] jlegoff opened #2448 "Cannot set the OTLP log exporter with auto instrumentation."
Hi! I have a simple flask app that I am already instrumentation via auto instrumentation (version 0.28b1). In my setup, my app is running alongside a collector that has the otlp receiver configured for metrics, log and traces.

I would like to get my app to send the logs to the collector. For this, I am using the following command line:

[code]

Log correlation is working and I am seeing this in t

[2022-02-08 09:54] dubeamit opened #2449 "Tracing not working python socketio"
I have a socketio application which also has flask api's in it.
FlaskInstrumentor captures the api traces
I also use RequestsInstrumentor to capture the http ping-pong request generated by socketio.
But I can't see any traces generated for the socketio

[code]

Am I missing here something?

[2022-02-08 10:26] owais commented on #2449
We do not have an auto-instrumentation package for socketio right now so this won't work.

[2022-02-08 10:26] owais commented on #2449
If anyone wants to work on it, please let me know so I can assign this issue to you.

[2022-02-08 17:27] aabmass opened #2451 "Consider renaming observable callback return type from Measurement -> Observation"
https://github.com/open-telemetry/opentelemetry-python/blob/fd9862aee1ef305fca39879931c92429d57106d6/opentelemetry-api/src/opentelemetry/_metrics/measurement.py#L20

To differentiate this from the SDK's internal `Measurement` class, we could rename this class to Observation, as it is the thing returned from observable instruments' callback methods. Complete example of an observable instrument:

[c

[2022-02-09 04:14] ocelotl commented on #2451
Hm, another question first, why do we have an implementation of the `Measurement` class in the API? Both the SDK and API `Measurement` classes have the same attributes.

:thinking:

Should we have an abstract `Measurement` class in the API and a concrete one in the SKD instead?

[2022-02-09 14:29] aabmass commented on #2451
They are more or less unrelated, just share the same name. Which is why I think renaming the Observable callback one to `Observation` would be cleaner

[2022-02-09 17:49] lzchen commented on #2451
@aabmass
Renaming the api class to `Observation` sounds good to me.

[2022-02-09 19:44] aabmass opened #2454 "Support multi-instrument observable callbacks and ability to unregister callbacks"
See spec issues https://github.com/open-telemetry/opentelemetry-specification/issues/2280, https://github.com/open-telemetry/opentelemetry-specification/issues/2232 and https://github.com/open-telemetry/opentelemetry-specification/pull/2317 PR which adds this to the spec.

Our API for creating observable instruments currently looks like this:

[code]

To support multi instrument callbacks we have

[2022-02-09 20:14] ocelotl commented on #2451
I don't disagree, I am just curious why do we have an implementation in the API :shrug:

If we decide to have only an implementation in the SDK, should we have there two classes with the same attributes but different names?

[2022-02-09 21:26] freed-git opened #2455 "span context missing [trace_id=0 span_id=0] when using LoggingInstrumentor and FlaskInstrumentor"
I'm trying to inject tracing context into log statements for a sample flask application using LoggingInstrumentor and FlaskInstrumentor.

[code]

I'm using the following requirements.txt file and Python 3.8.5.

[code]

I notice that some logs display the trace_id and span_id with correct values such as:

[code]

Other logs don't have valid trace_id and span_id such as:

[code]

We can also see the

[2022-02-09 21:27] aabmass commented on #2454
In addition to any of the above, we could keep the callback parameter when creating an observable instrument as optional so that main use case is streamlined.

[2022-02-09 21:34] lonewolf3739 commented on #2455
This happens when there is no valid trace context. Looking at the example you shared it seems log is emitted by werkzeug lib. Look at the endtime of span and time in log generated by werkzeug lib. That should make it clear why you are seeing 0s.

[2022-02-09 21:43] lonewolf3739 commented on #2451
What do you mean when you say "why do we have an implementation in the API"? If there was no such class `Measurement`/`Observation` how do we expect library authors to instrument their code just with api component?

[2022-02-09 21:47] freed-git commented on #2455
@lonewolf3739 thank you for the information but I'm not sure I understand. Could you give more details?

[2022-02-09 21:57] lonewolf3739 commented on #2455
the werkzeug log is outside the trace (i.e span ended before the log) and what you see is already correct.

[2022-02-09 21:59] ocelotl commented on #2451
This is an enlightening question :+1:

The idea that I have of the API (and thinking about error handling lead me into this idea) is that it contains 4 things:
1. A set of abstract classes.
2. A set of proxy classes that matches the set in point 1.
3. An implementation of the previous set of abstract classes in point 1. These concrete classes are all `NoOp*` classes.
4. Specific concrete classes t

[2022-02-09 22:31] ocelotl commented on #2454
What is very weird is having asynchronous instruments with a public `observe` method that can pretty much be called synchronously by the user. Shouldn't this case be handled by first creating synchronous instruments and then using these synchronous instruments in the callback function and then creating one or more asynchronous instruments that use this callback?

Please correct me if this is wrong

[2022-02-09 23:20] aabmass commented on #2454
@ocelotl The goal is to have a single callback which, on a *single invocation*, reports observations for multiple instruments. An example use case (same as above) is scraping `/proc/stat` which contains a bunch of stats like cpu time, number of processes since boot, number of processes waiting on IO, etc. Each of those metrics need to be reported against a different instrument, and the goal is to

[2022-02-09 23:36] aabmass commented on #2451
This falls under 4, it is a concrete class in the API that is used as part of instrumentation. It is not in the spec explicitly because the spec is very flexible. Here's the API spec for this:

Instead of a tuple of value and attributes, we provide `Measurement` as a named class to use instead.

[2022-02-10 03:14] aabmass commented on #2454
Josh's PR says "The implementation SHOULD reject observations that are made outside of a callback registered for the instrument."

In Approach 1, the instrument's `observe()` method just outputs a Measurement associated with that instrument. The callback has to yield/return that measurement to feed it to the SDK, which avoids the problem altogether. It's also avoided with Approach 2. Approach 3 yo

[2022-02-10 06:09] ocelotl commented on #2451
Is the motivation for this change related to this topic? I don't necessarily disagree with having a class named `Measurement` and another one named `Observation`, but I would like to understand what reason motivates us to have different classes. Is there something that needs to use the class type to make a decision?

[2022-02-10 16:56] #2448 closed

[2022-02-10 16:59] lzchen commented on #2455
Similar issue: https://github.com/open-telemetry/opentelemetry-python-contrib/issues/821

[2022-02-10 19:31] codeboten opened #2457 "Update docs to reflect intent of get_tracer/get_meter instrumenting_module_name argument"
Currently the [documentation](https://opentelemetry-python.readthedocs.io/en/latest/api/trace.html?highlight=get_tracer#opentelemetry.trace.TracerProvider.get_tracer) for `get_tracer` says:

This is confusing as using `__name__` in different files within the same instrumentation module would result in different tracer names. The documentation should recommend using a canonical identifier for the p

[2022-02-11 09:59] AsishVenakataSai commented on #2419
hi @lonewolf3739 and @owais
Any updates regarding this issue. beacuse of this issue ,we are seeing broken traces in the system.
Please let me know any information is needed .

[2022-02-11 15:04] lonewolf3739 commented on #2419
@AsishVenakataSai it was hard to follow your previous comment. If you could share a basic reproducible app that would help us understand the issue.

[2022-02-11 20:24] #2353 closed

[2022-02-16 07:57] pellared opened #2463 "API sets tracecontext, baggage as default global propagators"
https://github.com/open-telemetry/opentelemetry-python/blob/ec3053efd835d1776112447808712ba52f9c70ad/opentelemetry-api/src/opentelemetry/propagate/__init__.py#L124-L146

This is in direct conflict with the [API specification](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/context/api-propagators.md#global-propagators):

I think the SDK could do that, but not

[2022-02-17 03:06] flyinprogrammer commented on #773
it'd be nice if we upgraded mypy to > 0.930 so that it can install typed_ast > 1.5.0 - so that this project can work natively on M1. As it stands now it fails to run because typed_ast@1.4.3 doesn't compile on M1.

[2022-02-17 16:17] flyinprogrammer commented on #2443
😅  i thought i was going crazy, i can submit a PR to make this bit smarter, it _might_ be considered a breaking change though 😢  so idk what all will be involved in merging this.

[2022-02-17 17:01] codeboten opened #2465 "Upgraded mypy to > 0.930"
Bump mypy to a newer version to support running it on M1, see comment:

it'd be nice if we upgraded mypy to > 0.930 so that it can install typed_ast > 1.5.0 - so that this project can work natively on M1. As it stands now it fails to run because typed_ast@1.4.3 doesn't compile on M1.

_Originally posted by @flyinprogrammer in https://github.com/open-telemetry/opentelemetry-python/issues/773#issuec

[2022-02-17 17:01] codeboten commented on #773
Thanks for the suggestion @flyinprogrammer, I've created a separate issue to track that, would you be interested in submitting a PR for it?

[2022-02-17 18:36] #2300 closed

[2022-02-17 23:17] flyinprogrammer commented on #773
i want to be the hero you're looking for, i think it's gonna take me a minute though 🥲

[2022-02-17 23:32] ocelotl opened #2470 "Add check for race condition"
There is a race condition here you need to check again after acquiring the lock

_Originally posted by @aabmass in https://github.com/open-telemetry/opentelemetry-python/pull/2400#discussion_r809402966_

[2022-02-17 23:33] ocelotl opened #2471 "Add type annontations"
please add type annotations here

_Originally posted by @aabmass in https://github.com/open-telemetry/opentelemetry-python/pull/2400#discussion_r809406486_

[2022-02-18 09:31] lonewolf3739 commented on #2418
This can be closed. @codeboten please re-open if you think otherwise

[2022-02-18 09:31] #2418 closed

[2022-02-18 16:50] srikanthccv opened #2473 "(build): ImportError: cannot import name 'soft_unicode' from 'markupsafe'"
https://github.com/open-telemetry/opentelemetry-python/runs/5244630294?check_suite_focus=true

[2022-02-18 22:43] #2473 closed

[2022-02-19 04:05] srikanthccv opened #2476 "Investigate and properly fix the markupsafe import error"
A breaking change introduced in markupsafe package broke lot of stuff around the web. This is suggestion from the pallets team https://github.com/pallets/markupsafe/issues/282#issuecomment-1043899655. We need to bump few packages to major versions in our dependencies.

[2022-02-19 09:57] Dintwe opened #2477 "ERROR: Invalid requirement: 'opentelemetry-exporter-{exporter}'"
Hi All

using
pip 22.0.3
python 3.8

I get the below ERRORs when installing the below extension packages.

opentelemetry-exporter-{exporter}
pip install opentelemetry-exporter-{exporter}
ERROR: Invalid requirement: 'opentelemetry-exporter-{exporter}'

opentelemetry-instrumentation-{instrumentation}
pip install opentelemetry-instrumentation-{instrumentation}
ERROR: Invalid requirement: 'opentelemet

[2022-02-19 12:33] srikanthccv commented on #2477
Hi, you are expected to replace [`-{exporter}`](https://github.com/open-telemetry/opentelemetry-python/tree/main/exporter), [`-{instrumentation}`](https://github.com/open-telemetry/opentelemetry-python-contrib/tree/main/instrumentation), [`-{propagator}`](https://github.com/open-telemetry/opentelemetry-python/tree/main/propagator) with the appropriate name from the list of available options.

[2022-02-19 13:45] Dintwe commented on #2477
Hi @srikanthccv

Thank you for the reply,

It becomes a bit tricky even when the ReadMe (https://github.com/open-telemetry/opentelemetry-python#readme) does not mention what are those options to replace the placeholders. maybe I missed them but I searched and I could not find them.

Please be so kind to provide those options and update documentation (or point where those options are) as well. than

[2022-02-19 13:58] Dintwe commented on #2477
and yes I do realise now after taking a closer look that the links you provided are the available options.

and can we agree that this extract from documentation is vague for someone getting to know the extension packages?

<img width="859" alt="image" src="https://user-images.githubusercontent.com/56117627/154803734-5dfaced9-b403-4d52-a0d3-68df8e76626b.png">

[2022-02-19 14:10] srikanthccv commented on #2477
Yeah, probably it's not beginner friendly and vague. Would you like send a PR updating the doc to make it clear that they are placeholders and one should replace them with one of valid options?

[2022-02-19 14:18] Dintwe commented on #2477
yes that would make it much much clearer, thank you.

[2022-02-22 18:30] #2390 closed

[2022-02-23 00:25] #2378 closed

[2022-02-24 01:10] howardyoo opened #2478 "TypeError: 'SumAggregation' object is not callable"
**Environment**
Python 3.9.9 on MacOS Monterey (version 12.2.1) on M1 Arm Architecture

**Steps to reproduce**
- clone and install opentelemetry-python repo
- run the following pip installation
[code]
Run the following test code to test opentelemetry's metric (simple counter)
[code]

**What is the expected behavior?**
Expected to see a successful list of metrics being emitted into the console.

**

[2022-02-24 18:02] codeboten opened #2481 "Implement view aggregation factory"
This was discussed in the Feb 24 SIG meeting, using a factory to return an aggregation will allow us to change the implementation details of instantiating aggregations in the future.

Captured below are the details from Aaron's original suggestion:

[code]

where the specific aggregation factories bridge to the internal aggregation classes
[code]

_Originally posted by @aabmass in https://github.c

[2022-02-24 23:35] #2481 closed

[2022-02-24 23:52] reese-lee commented on #2443
@flyinprogrammer I wanted to see if you plan on submitting a PR for this? I'd like to take a stab at it with my colleague otherwise. :)

[2022-02-25 02:10] flyinprogrammer commented on #2443
By all means submit one, I am swamped at work right now!

On Thu, Feb 24, 2022, 5:53 PM Reese Lee ***@***.***> wrote:

[2022-02-25 02:35] reese-lee commented on #2443
Thank you for the update! @TylerHelmuth and I will work on a PR for this.

[2022-02-25 05:22] howardyoo opened #2483 "exporting histogram via GRPC results in error: Assignment not allowed to composite field "histogram" in protocol message object"
**Environment**
Python runtime: 3.9.9
OS: MacOS Monterey (version 12.2.1)
Arch: M1 (ARM)

**Steps to reproduce**
1. write a python script to test histogram using opentelemetry:
[code]
2. Notice how by using 'Console Exporter',  you can see the results in the console properly.
[code]
3. Now, comment out the console exporter and use OTLPMetricExporter as such:
[code]

**What is the expected behavior

[2022-02-25 16:22] codeboten commented on #2483
@howardyoo I just ran the code you provided with the code in `main` and got the following output in the otel collector:

[code]

Is it possible you're running an older version of the exporter code?

[2022-02-25 18:26] howardyoo commented on #2483
I'm not 100% sure, but I am using the following versions
for opentelemetry packages.

opentelemetry-api                      1.9.1     /Users/howardyoo/git/opentelemetry-python/opentelemetry-api/src
opentelemetry-exporter-otlp            1.9.1
opentelemetry-exporter-otlp-proto-grpc 1.9.1
opentelemetry-exporter-otlp-proto-http 1.9.1
opentelemetry-proto                    1.9.1
opentelemetry-sdk

[2022-02-25 18:37] codeboten commented on #2483
Sorry i meant I installed the package from the repository directly using the code in the `main` branch.

The latest release (1.9.1) doesn't include the following changes: https://github.com/open-telemetry/opentelemetry-python/compare/v1.9.1...HEAD

[2022-02-25 20:48] howardyoo commented on #2483
Ok, I see. in that case, perhaps I should get the source codes on those packages and install it. Thanks!

[2022-02-25 20:48] #2483 closed

[2022-02-25 23:38] codeboten commented on #1923
I've done some testing around this and it appears the issue is resolved in later versions of the trace exporter. Here's what pip freeze shows in the tested system:

[code]

@salberin can you confirm if this is still an issue for you?

[2022-02-26 09:23] salberin commented on #1923
Hi,

I am sorry but I'm unable to confirm. I'm switching jobs and no longer have
access to my test environment. Feel free to close this issue.
Thanks for your help!

On Sat, 26 Feb 2022, 00:38 Alex Boten, ***@***.***> wrote:

[2022-02-26 11:21] srikanthccv opened #2485 "Record logger name as the instrumentation scope name"
As spec'd here https://github.com/open-telemetry/opentelemetry-specification/pull/2359

[2022-02-26 11:27] srikanthccv opened #2486 "Stable release of opentracing shim"
The compatibility specification [status](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/compatibility/opentracing.md#opentracing-compatibility) for the open tracing shim is now stable. Review and fix any missing details for the stable release of `opentracing-shim`

[2022-02-26 18:32] howardyoo opened #2487 "UpDownCounter does not properly increment / decrement"
**Environment**
Opentelemetry 1.9.1
Python 3.9.9
MacOS 12.2.1

**Steps to reproduce**
Test the open telemetry's up/down counter and compare that with normal counter.
use this snippet to test:
[code]

**What is the expected behavior?**
Expect to see the counter incrementally being summed and resulting value would be 11 at the end of the run.

**What is the actual behavior?**
[code]
As you can see,

[2022-02-27 17:41] #2487 closed

[2022-02-28 10:58] Herbivicous opened #2489 "Trace Exporters constructor should have an optional parameter session"
**Is your feature request related to a problem?**
Custom implementation of `Session` cannot be provided through the constructor of the different exporters. This might be needed if the zipkin server is secured with OAuth2 and we need to end a token in the request.

**Describe the solution you'd like**
Exporters constructor should have an optional parameter `session:Session|None` that allow the user

[2022-02-28 16:04] #2346 closed

[2022-02-28 16:23] ocelotl commented on #2455
Is this issue still valid, @srikanthccv?

[2022-02-28 16:43] codeboten commented on #1923
Thanks for following up @salberin!

[2022-02-28 16:43] #1923 closed

[2022-02-28 17:28] ocelotl opened #2491 "Update protobuf"
Dependabot attempted to update this pull request, but because the branch `dependabot/pip/docs/examples/fork-process-model/flask-uwsgi/protobuf-3.15.0` is protected it was unable to do so.

_Originally posted by @dependabot[bot] in https://github.com/open-telemetry/opentelemetry-python/issues/2467#issuecomment-1045295858_

[2022-02-28 17:41] srikanthccv commented on #2455
The internal logs produced by `werkzeug` will have an empty trace details i.e 0. As mentioned by the author themselves logs in the valid trace context are correct. This cane be closed. @freed-git please re-open if you have other questions.

[2022-02-28 17:41] #2455 closed

[2022-02-28 18:40] lzchen commented on #2489
What `Session` are you referring to? Is this for the otlp exporters or all exporters?

[2022-02-28 18:47] #2491 closed

[2022-02-28 19:06] srikanthccv commented on #2489
I believe they are referring to `requests` session used in http exporters; [here](https://github.com/open-telemetry/opentelemetry-python/blob/main/exporter/opentelemetry-exporter-zipkin-json/src/opentelemetry/exporter/zipkin/json/__init__.py#L138) and many other exporters.

[2022-02-28 19:12] #2457 closed

[2022-02-28 19:38] Herbivicous commented on #2489
Yes that's exactly it. I have only checked the Zipkin Exporter but that would apply to every http exporter.

[2022-03-01 19:58] freed-git opened #2495 "how to push traces from a remote application using the gateway?"
Hi

I have tempo setup on kubernetes using the grafana/tempo-distributed helm (chart version 0.15.1) and (app version 1.3.0). In the values file for the chart, please note that I set the value of gateway.enabled to true and gateway.ingress.enabled to true.
I'm trying to send traces from an application outside the cluster over public internet to the tempo gateway. I can't seem to find any documenta

[2022-03-01 20:26] srikanthccv commented on #2495
I think it is more appropriate you ask this in tempo community.

[2022-03-01 22:02] #2465 closed

[2022-03-02 22:06] #2443 closed

[2022-03-03 16:21] chalin commented on #2083
Given that `website_docs` has been removed (#2452), maybe this issue can be closed?

[2022-03-03 18:30] #2247 closed

[2022-03-03 18:30] #2478 closed

[2022-03-04 16:12] codeboten opened #2500 "simplify flow of prometheus metric reader"
As per the following comment:

wondering if this were to return metric sequence you could simplify this chain of calls `callback` -> `_receive_metrics` -> `add_metrics_data` -> `deque` -> `yield`.

_Originally posted by @srikanthccv in https://github.com/open-telemetry/opentelemetry-python/pull/2321#discussion_r819112008_

[2022-03-04 19:34] codeboten opened #2502 "[prometheus-exporter] list attributes should be json encoded"
A followup to the discussion in #2321:

Based on the attribute specification, it looks like the list should just be converted to its JSON representation.

_Originally posted by @codeboten in https://github.com/open-telemetry/opentelemetry-python/pull/2321#discussion_r819702925_

[2022-03-04 20:15] #2291 closed

[2022-03-06 22:50] CrashLaker opened #2504 "Wrong overall measurement when working with threads"
hi all,

i'm trying to make this work with threads with no success.
althought this doesn't affect the trace itself the wrapping span is reporting a wrong duration.

**Describe your environment**
Rocky Linux release 8.4 (Green Obsidian)

Python 3.6.8

[code]

**Steps to reproduce**
Describe exactly how to reproduce the error. Include a code sample if applicable.
[code]

**What is the expected behav

[2022-03-06 23:31] srikanthccv commented on #2504
You probably didn't want to use `end_on_exit=True`?

[2022-03-07 00:07] CrashLaker commented on #2504
ohhhhh right. yea my bad. havent tried that.
it worked! haha
thank you so much @srikanthccv !!

![image](https://user-images.githubusercontent.com/4432491/156948272-89581cb1-ee99-44d5-952a-c70f3c37df61.png)

[2022-03-07 00:07] #2504 closed

[2022-03-07 19:07] lzchen opened #2506 "Rename `OTLPHandler` -> `OTelHandler`"
Our recommendations for users for logging would be to always use the `OTLPHandler` and then export using exporters that understand otlp logs.

Got some feedback that using OTLPHandler seemed confusing as it implies the only backend that logs can be sent to the collector, so a simple rename should clear this up. Open to different names too, as long as users know that this will be the "universal" ha

[2022-03-08 04:09] aabmass commented on #2470
Fixed in #2503

[2022-03-08 04:09] #2470 closed

[2022-03-08 22:36] ocelotl opened #2509 "Implement Resolving duplicate instrument registration conflicts"
Implement [this](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/sdk.md#resolving-duplicate-instrument-registration-conflicts) section of the spec.

Some of this topic has been discussed already in #2409, but the implementation of this part of the spec seems to me big enough to do in a separate PR.

[2022-03-09 02:42] LronDC opened #2511 "Can OTEL python SDK work with Pyinstaller?"
**Is your feature request related to a problem?**
Yes. I used Otel SDK in my program and finally pack it with `Pyinstaller`, then I ran the binary file, it throws exception below:
![image](https://user-images.githubusercontent.com/59912384/157361846-4541db90-b631-4f5c-8e45-f6580a804cd7.png)
seems like it failed with `opentelemetry-sdk`.

**Describe the solution you'd like**
I want it to run normal

[2022-03-09 04:40] ocelotl opened #2512 "Explain how to more easily fix black and isort lint issues"
`black` and `isort` lint issues can be hard to fix manually. Add to the documentation an explanation on how to do this automatically.

[2022-03-09 07:42] LronDC opened #2514 "“pkg_resources.DistributionNotFound: The 'opentelemetry-sdk' distribution was not found” error when packed by PyInstaller"
**Describe your environment**
Python 3.6.8 | Opentelemery-sdk 1.9.1

**Steps to reproduce**
I create a image through dockerfile, pseudo code:
[code]
requirements.txt:
[code]
myprogram.spec:
[code]
then when I execute 'myprogram' which pyinstaller gave me, I got
![image](https://user-images.githubusercontent.com/59912384/157394447-deedbb05-81d7-4832-b7fa-4b6e8c3696c1.png)
well the program can not r

[2022-03-09 07:46] LronDC commented on #2511
I issued another one：https://github.com/open-telemetry/opentelemetry-python/issues/2514

[2022-03-09 12:30] srikanthccv commented on #2511
What does PyInstaller do? Is there something OpenTelemetry packages need to do make them work with PyInstaller?

[2022-03-09 13:22] srikanthccv opened #2516 "Deprecate InstrumentationLibraryInfo"
Deprecate `InstrumentationLibraryInfo` and introduce `InstrumentationScope`. Relevant spec PR https://github.com/open-telemetry/opentelemetry-specification/pull/2276

[2022-03-10 18:56] lzchen commented on #2083
@owais
I believe this can be closed.

[2022-03-11 18:05] ocelotl opened #2524 "Migrate prepare_release.sh to Python"
`prepare_release.sh` runs Python code. This code has dependencies (like `black` or `isort`). Migrate this script to Python and run it in a virtual environment.

[2022-03-11 18:48] #2512 closed

[2022-03-13 13:14] musicinmybrain commented on #2020
I’ve been carrying a patch downstream in Fedora Linux implementing the fix I suggested above. I just submitted a PR—hopefully that will help get the change upstream.

[2022-03-14 17:15] #2020 closed

[2022-03-14 19:05] lzchen opened #2529 "Record exception information in logging"
From the [specs](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/logs/data-model.md#errors-and-exceptions), we can implement exception information as attributes of the log.

[2022-03-14 20:50] musicinmybrain commented on #1975
It seems like I still have to skip these tests for `opentelemetry-exporter-jaeger-proto-grpc` up to 1.6.2, but not for 1.7.1 and later. Can anyone else reproduce this issue on 1.7.1 or later? If not, it might be fixed.

My environment is:

- Fedora 37 (Rawhide/development version)
- platform linux -- Python 3.10.2, pytest-7.0.1, py-1.11.0, pluggy-1.0.0
- grpc 1.41.0 (currently lagging a little beh

[2022-03-15 00:57] ocelotl opened #2530 "Use Gitchangelog"
Use [this](https://github.com/vaab/gitchangelog). This will allow us to know which version number needs to be updated for every released package by looking at the git history.

[2022-03-16 08:51] pichlermarc opened #2532 "Sum not being reset on `AggreagationTempoarlity.DELTA` Histograms"
**Describe your environment**

- Python 3.8.10
- Ubuntu 20.04
- OTel Python Metrics SDK v0.29b0

**Steps to reproduce**

Here's an example that exports to the console:

[code]

**What is the expected behavior?**

`sum` should not carry over from the last collection cycle to the next, should be `10` on every export.

**What is the actual behavior?**

`sum` carries over from the previous collection

[2022-03-17 12:20] carlosjgp opened #2534 "Environment variables expansion for envrionment variables values (bug?)"
**Is your feature request related to a problem?**
When using environment variables as part of the value of other environment values these don't get expanded
eg: `http://${HOST_IP}:4318`

Also mentioned [here](https://github.com/open-telemetry/opentelemetry-helm-charts/issues/149)

**Describe the solution you'd like**
My expectation was that the exporter will fail to initialise or send traces with

[2022-03-17 15:55] aabmass opened #2536 "Implement Drop aggregation"
See [Drop aggregation](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/sdk.md#drop-aggregation)

This is a bit of a special case. The implementation should probably avoid creating a `ViewInstrumentMatch` altogether when we encounter this aggregation to save memory.

[2022-03-17 15:57] aabmass opened #2537 "Implement Default aggregation"
See [Default aggregation](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/sdk.md#default-aggregation)

[2022-03-17 19:29] ocelotl commented on #2537
Do we really need a separate aggregation class to represent each instrument default aggregation? We already have [this](https://github.com/open-telemetry/opentelemetry-python/blob/main/opentelemetry-sdk/src/opentelemetry/sdk/_metrics/instrument.py#L112).

[2022-03-17 19:37] ocelotl commented on #2511
Closing this one as duplicate of #2514

[2022-03-17 19:37] #2511 closed

[2022-03-17 20:21] ocelotl commented on #2514
Not sure if this is related to OpenTelemetry. Have you tried adding another package as well? From [this](https://github.com/pyinstaller/pyinstaller/issues/1713) issue, it seems like some hooks may be missing to your application.

[2022-03-17 20:28] ocelotl commented on #2083
I agree. Closing this issue, @owais please feel free to reopen if you consider so :slightly_smiling_face:

[2022-03-17 20:28] #2083 closed

[2022-03-17 20:44] ocelotl commented on #2357
In my opinion, the `NoOpX` classes are the API implementation of the API, if there is no API, then there should not be any need for `NoOpLogEmitter`.

[2022-03-17 22:10] aabmass commented on #2537
It's a requirement for the view configuration spec https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/sdk.md#:~:text=The%20SDK%20MUST%20provide%20the%20following%20Aggregation%20to%20support%20the%20Metric%20Points%20in%20the%20Metrics%20Data%20Model.

[2022-03-18 00:52] ocelotl commented on #1975
I cannot reproduce with 1.6.2, did you check v1.6.2 in this repo and ran `tox -e py39-opentelemetry-exporter-jaeger-proto-grpc`?

[2022-03-18 13:33] musicinmybrain commented on #1975
It seems like I can’t, even working in a Rawhide `mock` chroot, so there must be something different in the RPM build environment that’s affecting the outcome. The original report specified Python 3.10, so I hacked in a `py310-opentelemetry-exporter-jaeger-proto-grpc` in `tox.ini`, and that didn’t seem to reproduce it either.

As a distribution packager, I’m not prepared to spend a lot of addition

[2022-03-18 17:23] aabmass opened #2539 "Implement InMemoryMetricExporter"
See [spec](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/sdk_exporters/in-memory.md). This will be great for testing.

IMO this should be a "pull exporter" (metric reader atm) that has a method `get_metrics()` or similar to return metrics from the SDK.

[2022-03-18 21:59] aabmass commented on #2539
See #2425

[2022-03-18 22:47] ocelotl opened #2541 "Prototype API extension to support multi instrument callbacks"
As mentioned [here](https://github.com/open-telemetry/opentelemetry-specification/pull/2363/files#r820015893):

[2022-03-20 04:57] yimipeng commented on #2038
Does open-telemetry support manual instrumentation for Gunicorn then?

[2022-03-20 19:11] codeboten opened #2542 "View aggregation logs warning when no measurements are available"
I configured a MeterProvider with a View and a `PeriodicExportingMetricReader` to report every 5 seconds, and ran the code for 10 seconds. This resulted in an unexpected warning being logged about a mismatched point type. This behaviour seems incorrect as there are no errors unless I specify an `aggregation` on the View

**Steps to reproduce**

[code]

**What is the expected behavior?**
I expected

[2022-03-21 06:46] rdpravin1895 commented on #2024
@srikanthccv I am using `BatchSpanProcessor` with django auto-instrumentation, it still blocks the main thread until the exponential backoff retries get finished if the collector is not reachable, and the response is sent back with huge delay (1+2+4+8+16+32+64 = 127 seconds, close to 2 minutes). Is that the expected behavior? Or are we doing something wrong?

I confirmed that we are using `BatchSp

[2022-03-21 11:09] srikanthccv commented on #2024
That shouldn't be the behaviour. Did you use `SimpleSpanProcessor` anywhere for some reason?

[2022-03-21 11:13] rdpravin1895 commented on #2024
No. I have not specified the SpanProcessor anywhere in my code. Only thing we have in our django wsgi file is this sitecustomize import, which automatically scans the libraries and starts the instrumentation:

```from opentelemetry.instrumentation.auto_instrumentation import sitecustomize```

[2022-03-21 11:18] srikanthccv commented on #2024
I am not sure why you would have to do that. It's not clear what is happening in your case. It would be really great if you can share some repo with hello world application that reproduces the issue.

[2022-03-21 12:49] rdpravin1895 commented on #2024
yeah ok, let me come with an example application. I am using the opentelemetry-distro btw, which automatically configures and starts BatchSpanProcessor.

https://opentelemetry-python.readthedocs.io/en/stable/examples/distro/README.html

[2022-03-21 14:14] #2532 closed

[2022-03-21 16:36] #2529 closed

[2022-03-21 22:38] ocelotl commented on #1975
Thanks @musicinmybrain for your efforts in researching this issue :v:
@major can you give it another try to see if it can be reproduced?

[2022-03-22 13:33] rdpravin1895 commented on #2024
@srikanthccv I have created a sample app with the steps to run it and reproduce the issue: https://github.com/rdpravin1895/opentelemetry-django-test

Pls let me know if anything else is required.

[2022-03-22 14:23] srikanthccv commented on #2024
Took a quick look at the code. Your worker class is `gevent` which does some "magical" things. I suspect that is the reason for your stated behaviour.

[2022-03-22 17:34] aabmass commented on #2542
Your config looks right to me, I think this is a bug.

[2022-03-22 17:36] aabmass commented on #2541
@ocelotl I think this a duplicate of https://github.com/open-telemetry/opentelemetry-python/issues/2454. Can we close this one in favor of that one?

[2022-03-22 17:37] aabmass commented on #2516
@srikanthccv just to clarify, this is just a rename and deprecate right?

[2022-03-22 17:37] ocelotl commented on #2541
Sure, closing ✌️

[2022-03-22 17:37] #2541 closed

[2022-03-22 18:49] #2539 closed

[2022-03-22 19:10] rdpravin1895 commented on #2024
@srikanthccv I believe I got it solved. Gunicorn automaically converts blocking code to non-blocking (using monkey-patching) when gevent worker type is used.
https://github.com/benoitc/gunicorn/blob/master/gunicorn/workers/ggevent.py#L38

But for it to work properly, monkey-patching must be the first command run before importing any other modules, else the previously imported modules will still ru

[2022-03-22 19:51] aceberle commented on #1608
It seems like Mypy is expecting there to be an __init__.py file in the opentelemetry directory

I've experimented with adding an empty __init__.py file to the root opentelemetry directory and it resolved all of the mypy typing issues that I was having with the opentelemetry libraries.

It seems like you would just need to add it to this location and everything would be fine:
https://github.com/ope

[2022-03-22 23:41] srikanthccv commented on #2516
I was thinking of not renaming since that would be technically breaking change.

[2022-03-23 00:45] aceberle commented on #1608
Actually, there appear to be quite a few `__init__.py` files missing

And I think I'm beginning to see that there might be a problem with the fact that the main module name 'opentelemetry' is used in multiple installation packages, when it probably would have made more sense to have a separate root module name for each package (i.e. 'opentelemetryapi' for -api, 'opentelemetrysdk' for -sdk, etc.)

[2022-03-23 00:51] srikanthccv commented on #1608
@aceberle This might help you https://mypy.readthedocs.io/en/stable/command_line.html#cmdoption-mypy-namespace-packages

[2022-03-23 01:00] aceberle commented on #1608
Hi @srikanthccv, thank you for directing me to that information.  So is it expected that anyone pulling opentelemetry into their project will need to run mypy with this `--namespace-packages` argument to avoid the import errors?

I noticed that the tox.ini file uses this argument that you pointed out with the mypy command during the automated tests:
https://github.com/open-telemetry/opentelemetry-

[2022-03-23 12:26] aceberle commented on #1608
Thank you so much @srikanthccv, I added that to my configuration and now mypy is able to resolve all of the imports from opentelemetry-python!

[2022-03-23 14:23] overmeulen opened #2545 "[Metrics] Consume measurements of remaining async instruments when one fails"
**Describe the solution you'd like**
Today when the callback of one async instrument fails the whole iteration fails and the remaining measurements are skipped.
I'd like for the exception to be caught and logged and for the remaining async instruments to be processed normally

**Describe alternatives you've considered**
Today I'm handling this on my side by decorating my callback to catch and log

[2022-03-23 23:12] aabmass commented on #2545
@overmeulen thank you for trying out metrics, this this is indeed a bug.

[2022-03-24 00:24] aabmass opened #2546 "Remove enable_default_view option"
The [`enable_default_view`](https://github.com/open-telemetry/opentelemetry-python/blob/95aeeccb59945fee7f8cc40299df12a85ebc5783/opentelemetry-sdk/src/opentelemetry/sdk/_metrics/__init__.py#L159) behavior should be accomplished with views as described in https://github.com/open-telemetry/opentelemetry-specification/pull/2417

E.g.

[code]

[2022-03-24 13:40] Etienne-Carriere opened #2548 "In Jaeger Thrift Exporter, send "common tags" to process tags field"
Before opening a feature request against this repo, consider whether the feature should/could be implemented in the [other OpenTelemetry client libraries](https://github.com/open-telemetry/). If so, please [open an issue on opentelemetry-specification](https://github.com/open-telemetry/opentelemetry-specification/issues/new) first.

**Is your feature request related to a problem?**

We are using J

[2022-03-24 13:45] Etienne-Carriere opened #2549 "In Opentracing Shim, set the Kind attribute"
**Is your feature request related to a problem?**
When using Opentracing Shim, the Kind attribute is not set and so all spans coming from Opentracing Shim has span.kind=internal

**Describe the solution you'd like**
Set the Kind attribute from the opentracing span by changing https://github.com/open-telemetry/opentelemetry-python/blob/main/shim/opentelemetry-opentracing-shim/src/opentelemetry/shim

[2022-03-24 16:48] ocelotl commented on #2402
Just for the record: https://pypi.org/project/timeout-decorator/

[2022-03-24 16:49] ocelotl commented on #2402
Also #385

[2022-03-24 17:07] srikanthccv commented on #2352
@lzchen do `start_time_unix_nano` and `time_unix_nano` meet your requirements?

[2022-03-24 17:10] srikanthccv commented on #2120
@ocelotl I think this will be covered in #2402?

[2022-03-24 18:28] #2536 closed

[2022-03-24 19:07] lzchen commented on #2352
@srikanthccv
Could you be more specific? Which classes do these appear in?

[2022-03-24 19:31] srikanthccv commented on #2352
For example take a look at the sum aggregation implementation https://github.com/open-telemetry/opentelemetry-python/blob/main/opentelemetry-sdk/src/opentelemetry/sdk/_metrics/aggregation.py#L65. It does what you describe/want? `start_time_unix_nano`=start, `time_unix_nano`=end from the returned metric point.

[2022-03-24 21:24] ocelotl opened #2550 "Metrics instances can be created by direct instantiation"
From the [spec](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/sdk.md#meter-creation):

In our SDK, `Meter` (and other classes) can be instantiated directly, by importing the SDK `Meter` class and instantiating it, bypassing the `MeterProvider`. This is relevant to error handling, if we allow `Meter` to be instantiated directly, it may raise errors if

[2022-03-24 21:36] ocelotl opened #2552 "Metrics SDK uses InstrumentationInfo instead of InstrumentationScope"
From the [spec](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/sdk.md#meterprovider):

[2022-03-24 21:45] ocelotl opened #2553 "MetricExporters are not MeterProvider construction arguments"
Sorry if this has been discussed before, I can't find where it was.

From the [spec](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/sdk.md#meter-creation):

To be hones, I don't exactly understand what "MUST be managed" means. Specially because of the MAY requirement, it sounds like `MetricExporters`, `MetricReader` and `Views` are to be parameters of

[2022-03-24 21:47] ocelotl commented on #2120
Yes, @srikanthccv, closing this one as duplicate :v:

[2022-03-24 21:47] #2120 closed

[2022-03-24 22:00] ocelotl opened #2554 "MeterProvider forceflush must invoke forceflush on push metric exporters"
From the [spec](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/sdk.md#forceflush):

[2022-03-24 22:06] ocelotl opened #2555 "Default instrument aggregation must take into consideration the MetricReader instance"
From the [spec](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/sdk.md#view):

We implement default aggregations that depend on the instrument kind, but we do not take into consideration the `MetricReader` instance. I think [this](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/sdk.md#metricreader) paragrap

[2022-03-24 22:08] ocelotl opened #2556 "Let the user know if there is a view name conflict"
From the [spec](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/sdk.md#view):

This was updated yesterday to:

[2022-03-24 22:12] ocelotl opened #2557 "Data from identical instruments must be aggregated"
From the [spec](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/sdk.md#resolving-duplicate-instrument-registration-conflicts):

Make sure this is implemented and that a specific test for this requirement exists.

[2022-03-24 22:15] ocelotl opened #2558 "View should avoid warning if conflict involves multiple description properties"
From the [spec](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/sdk.md#resolving-duplicate-instrument-registration-conflicts):

[2022-03-24 22:23] ocelotl opened #2559 "Print view recipe"
From the [spec](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/sdk.md#resolving-duplicate-instrument-registration-conflicts):

I don't know exactly what a "view recipe" is. I imagine is a set of arguments for the parameters of a `View` constructor.

[2022-03-24 22:30] ocelotl opened #2560 "A View should pass through the data by reporting both Metric objects"
From the [spec](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/sdk.md#resolving-duplicate-instrument-registration-conflicts):

[2022-03-24 22:32] ocelotl commented on #2509
To be implemented in #2558, #2559 and #2560.

[2022-03-24 22:32] #2509 closed

[2022-03-24 22:34] ocelotl opened #2561 "MetricReaders must be registered in only one MeterProvider instance"
From the [spec](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/sdk.md#metricreader):

[2022-03-24 22:43] ocelotl opened #2562 "Metric exporters should report and error condition..."
From the [spec](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/sdk.md#metricexporter):

[2022-03-25 07:48] srikanthccv commented on #2552
I was going to address this in #2516

[2022-03-25 08:00] srikanthccv commented on #2553
I don't think it means that exporters should be passed as params to constructor. This [description](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/sdk.md#push-metric-exporter) makes it clear that push exporters must be paid with reader. So I think the expectation is clear that exporters are not configured separately as params.

[2022-03-25 08:03] srikanthccv commented on #2550
/s/meter/tracer/g - Same applies, we don't do anything to prevent this from happening.

[2022-03-25 08:06] srikanthccv commented on #2554
We didn't add `force_flush` on metric reader interface. I think @aabmass suggested we will just invoke `collect`.

[2022-03-25 15:44] PatrikSteuer opened #2567 "OTEL_EXPORTER_OTLP[_TRACES]_HEADERS not compliant with spec"
**Describe your environment**
Python 3.9
opentelemetry 1.10.0
**Steps to reproduce**
[code]
Where app.py is any opentelemetry enabled application using the otlp exporter.

**What is the expected behavior?**
1. No error message at application start.
2. The OTLP exporter uses the `Authorization` header with the value `Api-Token XXXX`.
3. Be compliant with otel sdks for other technologies (nodejs & g

[2022-03-25 15:54] srikanthccv commented on #2567
W3C correlation context doesn't allow whitespaces in the value (hence the need for url encoded value). Other languages might be just reading the value and not doing any check if the value matches the expected [baggage-octet](https://github.com/w3c/baggage/blob/main/baggage/HTTP_HEADER_FORMAT.md#definition) format.

[2022-03-25 16:41] PatrikSteuer commented on #2567
Works as designed.

[2022-03-25 16:41] #2567 closed

[2022-03-25 17:30] lzchen commented on #2550
We can do something similar as we did for [spans](https://github.com/open-telemetry/opentelemetry-python/blob/main/opentelemetry-sdk/src/opentelemetry/sdk/trace/__init__.py#L709)? Also if we add this behavior for the tracer, would that be considered breaking?

[2022-03-25 17:43] ocelotl commented on #2552
Nice, closing this one as duplicate :v:

Do you want to assign yourself for #2516 then?

[2022-03-25 17:43] #2552 closed

[2022-03-25 17:44] ocelotl commented on #2553
All right, I agree. @aabmass what do you think? If you agree as well we can pretty much close this issue.

[2022-03-25 18:00] lzchen commented on #2352
Yes looking at the implementation now, it looks like `start_time_unix_nano` is indeed populated when the `Aggregation` is first created, which is in turn when the `ViewInstrumentMatch` is first created, which is when the measurement consumer first consumes the measurement. `time_unix_nano` is also indeed the end time.

This is covered by `_convert_aggregation_temporality` so I believe this issue i

[2022-03-25 18:00] #2352 closed

[2022-03-25 20:12] #2439 closed

[2022-03-28 17:16] aabmass commented on #2534
I don't think we'd want to implement this as you can do this other ways. Any reason that you can't expand the environment variables with e.g. the shell or kubernetes [dependent environment variables](https://kubernetes.io/docs/tasks/inject-data-application/define-interdependent-environment-variables/)?

[2022-03-28 20:46] aabmass opened #2573 "Some documentation not built into sphinx docs"
There is a good amount of docstring/API documentation missing from our sphinx builds. For example [opentelemetry.propagate](https://github.com/open-telemetry/opentelemetry-python/blob/main/opentelemetry-api/src/opentelemetry/propagate/__init__.py) classes/functions and docstrings are not available on [ReadTheDocs](https://opentelemetry-python.readthedocs.io/en/stable/api/api.html). The same is tru

[2022-03-28 21:50] #2471 closed

[2022-03-28 22:22] #2546 closed

[2022-03-29 00:09] #2537 closed

[2022-03-29 00:29] ocelotl commented on #2534
@aabmass just to be sure, your argument is against the implementation of OpenTelemetry to be concerned with the expansion of environment variables?

I can see a point in this position, considering an application that uses several different components (OTel and something else) where all of these components use environment variables that need expansion. Considering this, I see how the expansion of e

[2022-03-29 04:00] srikanthccv commented on #2573
related issue #1678

[2022-03-29 04:05] srikanthccv commented on #2534
My understanding of protocol env specification is that we should just treat the values as simple strings. Other SDK might not have similar `os.path.expandvars`. This feature request is simple and maybe helpful for some but I don't think we want to support this.

[2022-03-29 22:13] teddylear commented on #2384
@aabmass @srikanthccv Made small PR to address this. Looks like I need approval fro CI jobs as this is my first PR to the project. Please let me know if I should change anything, thanks!

[2022-03-29 23:23] ocelotl commented on #2542
Ok, this is what is happening here:

[`_LastValueAggregation.aggregate`](https://github.com/open-telemetry/opentelemetry-python/blob/main/opentelemetry-sdk/src/opentelemetry/sdk/_metrics/aggregation.py#L199) gets called once then once again (because of `counter.add` being called twice in the application code), making `self._value` no longer be `None.

[`_ViewInstrumentMatch.collect`](https://githu

[2022-03-30 00:12] ocelotl commented on #2573
Yes! Automating this is a great idea :sunglasses:

[2022-03-30 17:05] #2542 closed

[2022-03-30 18:33] #2561 closed

[2022-03-31 14:25] ElementalWarrior commented on #1801
For those who bump into issues with grpc exporting, you can set these environment variables for the grpc library that the exporter uses, and it will export things like the path its going to, etc.

GRPC_VERBOSITY=DEBUG
GRPC_TRACE=http

[2022-03-31 14:35] ElementalWarrior opened #2579 "Honour path specified in grpc endpoint"
**Describe your environment**
Python behind nginx+uwsgi. Grpc endpoint behind AWS ALB with prefixed path for listener rule.

The issue has not been fixed on main:
https://github.com/open-telemetry/opentelemetry-python/blob/main/exporter/opentelemetry-exporter-otlp-proto-grpc/src/opentelemetry/exporter/otlp/proto/grpc/exporter.py#L235
netloc does not include path.

This also seems to break the open

[2022-03-31 16:15] aabmass commented on #2562
This requirement sounds like one for exporter authors, not the SDK. I don't think there's anything to do here

[2022-03-31 16:17] aabmass commented on #2554
This seems like a spec bug; there is no ForceFlush on the MetricReader https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/sdk.md#metricreader-operations

[2022-03-31 17:17] #2384 closed

[2022-03-31 17:31] lzchen commented on #2562
@aabmass
Does this apply to some of the exporters that we own? Let's say, Prometheus? Also how would exporter authors even know about this requirement during implementation? Should we take responsibility and abstract this behavior?

[2022-03-31 20:12] lzchen opened #2580 "Include min/max information in Histogram point"
[Min and max](https://github.com/open-telemetry/opentelemetry-python/blob/main/opentelemetry-sdk/src/opentelemetry/sdk/_metrics/aggregation.py#L239) can be tracked in `Histogram` aggregations. We should include them as part of [HistogramPoint](https://github.com/open-telemetry/opentelemetry-python/blob/main/opentelemetry-sdk/src/opentelemetry/sdk/_metrics/point.py#L48)

[2022-04-01 20:03] lzchen opened #2582 "Add min/max fields to Histogram in otlp metrics exporter"
From proto https://github.com/open-telemetry/opentelemetry-proto/pull/279

[2022-04-03 07:42] srikanthccv opened #2584 "Remove `flush` method on `LogEmitter`"
Following this spec change https://github.com/open-telemetry/opentelemetry-specification/commit/441bafa8eda1697c3f0b975250e421e25da496b8

[2022-04-04 09:04] moriyoshi opened #2585 "OTLP_EXPORTER_OTLP_PROTOCOL has no effect,OTEL"
**Describe your environment**

**Steps to reproduce**
Describe exactly how to reproduce the error. Include a code sample if applicable.

**What is the expected behavior?**

According to [OpenTelemetry Protocol Exporter documentation
](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/protocol/exporter.md), one can choose the transport protocol for the OTLP expor