[2020-03-25 12:28] mauriciovasquezbernal commented on #482
Fixed by https://github.com/open-telemetry/opentelemetry-python/pull/483.

[2020-03-25 12:28] #482 closed

[2020-03-25 12:30] mauriciovasquezbernal commented on #423
I created https://github.com/open-telemetry/opentelemetry-python/tree/master/docs/examples/basic_meter as part of https://github.com/open-telemetry/opentelemetry-python/pull/483. @hectorhdzg do you think that satisfies the requirements of this issue?

[2020-03-25 21:18] lzchen commented on #524
EDIT: It seems like context is local per thread so that use case won't be an issue.

[2020-03-26 15:31] toumorokoshi commented on #517
@c24t @dgzlopes we spoke a bit about this in the SIG, and we're going the approach of just having those who are interested use `git shortlog -s` instead.

We'll also be removing the authors from each release in the readme.md. Sorry about the extra work.

[2020-03-26 15:40] toumorokoshi opened #530 "remove authors from releases in readme."
The reasoning behind #517 was to replace the authors in each release in the readme.md file.  https://github.com/open-telemetry/opentelemetry-python/pull/519#discussion_r396576965 explains reasoning against automating a fill AUTHORS file, so it seems like the simplest solution is to remove authors altogether and instead promote the user of git shortlog instead.

[2020-03-26 15:40] c24t commented on #463
This may be blocked on the spec, we need to decide which info to pass to the sampler.

See https://github.com/open-telemetry/oteps/pull/79.

[2020-03-26 15:41] toumorokoshi commented on #517
Closing in favor of #530

[2020-03-26 15:41] #517 closed

[2020-03-28 03:27] #493 closed

[2020-03-28 04:14] #518 closed

[2020-03-29 05:06] toumorokoshi commented on #530
this is done! from #531.

[2020-03-29 05:06] #530 closed

[2020-03-29 05:07] toumorokoshi commented on #445
This is done! From #492

[2020-03-29 05:07] #445 closed

[2020-03-30 04:51] #384 closed

[2020-03-30 19:44] #300 closed

[2020-03-31 15:32] c24t commented on #276
Fixed by #476.

[2020-03-31 15:32] #276 closed

[2020-03-31 23:20] hectorhdzg opened #538 "Improve export result handling in SDK"
Currently Span and Metrics exporters return different results to add information if the export was successful, failed and if is retry able or not, these results are being ignored in Metrics PushController and SpanProcessors, it would be good to have retryable logic in OT SDK

[2020-04-01 17:21] #524 closed

[2020-04-02 02:43] owais opened #541 "Rename opentelemetry-ext-otcollector to opentelemetry-ext-opencensus"
I was trying some example apps locally and was surprised that otcollector exporter uses opencensus internally instead of otlp. I realize now that the plan was to implement opencensus temporarily and eventually migrate to opentelemetry. That makes sense but I think this package should just be renamed to `opentelemetry-ext-opencensus` as it actually implements an exporter that speaks the OpenCensus

[2020-04-02 16:15] c24t opened #542 "Move weekly SIG meeting"
To accommodate Sydney (GMT+11). Please vote below!

[2020-04-02 16:15] c24t commented on #542
Keep meetings on thursdays?

👍 to keep thursday
👎 to switch to a different day of the week

[2020-04-02 16:18] c24t commented on #542
Stagger meeting times -- one week in PT/EU-friendly time, one week in AEST/APAC-friendly time?

👍 to stagger
👎 to use the same time each week

[2020-04-02 16:19] c24t commented on #542
If staggering: keep 8AM time slot every other week?

👍 keep 8AM PT
👎 pick a different time

[2020-04-03 17:44] ocelotl opened #545 "Fix Flask ext dependencies"
Some Flask ext dependencies are missing or misplaced in the configuration file.

[2020-04-03 19:13] mauriciovasquezbernal opened #547 "Documentation: Getting started guide and examples overlap"
From https://github.com/open-telemetry/opentelemetry-python/pull/544#discussion_r403117747.

There is a lot of overlapping information in the [getting started guide](https://opentelemetry-python.readthedocs.io/en/latest/getting-started.html) and the [examples](https://opentelemetry-python.readthedocs.io/en/latest/index.html#examples), some of the examples are almost identical in both places making

[2020-04-03 19:41] mauriciovasquezbernal commented on #538
Related https://github.com/open-telemetry/opentelemetry-specification/pull/511/

[2020-04-03 21:52] AntonKueltz opened #550 "Flask instrumentation example doesn't work"
**Describe your environment**
Running on MacOS against the latest `mater` version of the `opentelemetry-*` packages.

**Steps to reproduce**
Instrument the app as described in the [docs](https://open-telemetry.github.io/opentelemetry-python/ext/flask/flask.html) and [docstring](https://github.com/open-telemetry/opentelemetry-python/blob/master/ext/opentelemetry-ext-flask/src/opentelemetry/ext/flas

[2020-04-06 03:29] lzchen commented on #398
I'm not sure we still need this. I feel it is fine with our current locking implementation.

Thoughts? @c24t  @mauriciovasquezbernal

[2020-04-06 12:52] mauriciovasquezbernal commented on #398
I think we can close it. We should measure performance before: https://github.com/open-telemetry/opentelemetry-python/issues/514.

[2020-04-06 12:52] #398 closed

[2020-04-06 18:19] ocelotl opened #554 "Add some support for programmatic instrumentation"
[This comment](https://github.com/open-telemetry/opentelemetry-python/pull/551#issuecomment-608993167) in #551 raised the concern about making it possible to use the instrumentors in a programmatic way too, not only automatically.

Using them programmatically means adding code directly in the application that performs instrumentation, for example, [this](https://github.com/open-telemetry/opentelem

[2020-04-06 19:33] ocelotl opened #555 "Add support for configuration files"
The current `opentelemetry.configuration.Configuration` class only gets configuration from environment variables. Make this class get configuration from configuration files too.

[2020-04-06 21:31] c24t commented on #473
Sorry @mauriciovasquezbernal, not yet. We needed to change the manifests before the release.

[2020-04-07 15:51] #545 closed

[2020-04-07 18:31] c24t opened #562 "Add build command to eachdist.py"
To replace `scripts/build.sh`.

See https://github.com/open-telemetry/opentelemetry-python/pull/556#issuecomment-610356887.

[2020-04-08 18:11] ocelotl commented on #555
The idea behind this is that the configuration provided via configuration files can be overridden by the corresponding configuration provided via environment variables, for example:

The configuration file:

[code]

The environment variable:

[code]

In this case `"meter_provider_1"` would be the value present in `Configuration().meter_provider`.

[2020-04-08 18:19] ocelotl opened #564 "Decide on one (or more) formats for configuration files"
This issue is related to #555

#466 introduced a configuration manager. Currently, it only reads from environment variables. For configuration files to be read, then it is necessary to define a few things first:

1. Where the configuration file would be located?
2. Do we want several formats to be supported or only one?
3. Which format or formats do we want to support?

Here are some formats for c

[2020-04-08 20:27] #473 closed

[2020-04-08 21:28] #550 closed

[2020-04-09 00:30] lzchen opened #565 "Add blacklisting for wsgi apps"
Just like in [Opencensus](https://github.com/census-instrumentation/opencensus-python#customization), users should be able to configure paths and hosts that they do not want to be traced.

Auto-instrumented apps would probably not have blacklisted paths/hosts.

[2020-04-09 03:53] codeboten commented on #565
This would be super useful. Would like to see it renamed excluded list or filtered list.

[2020-04-09 04:43] ocelotl opened #566 "Make auto instrumentation support any execution command"
Right now the auto instrumentation command works like this:

`opentelemetry-auto-instrumentation some_file.py`

The auto instrumentation command invokes an interpreter that executes the `some_file.py`. Nevertheless, this will not work for frameworks that have their own execution command ([`flask_run`](https://flask.palletsprojects.com/en/master/server/#command-line), for example).

[2020-04-09 16:40] toumorokoshi commented on #547
Sounds good! your approach is spot on IMO.

Regarding the duplicated examples: it seems like it would be best just to inline the code from the samples into the getting started guide. Thoughts on that? There will probably a little bit of work on the existing samples to ensure consistency in patterns like instantiating the SDK.

Should they be? I guess the example app might be redundant if we have m

[2020-04-09 17:11] c24t commented on #542
Changed to 9AM and 4PM PT, alternating weeks. The next meeting is at 4PM PT on 4/16.

https://github.com/open-telemetry/community/pull/328

If you want to join and this these times don't work for you, please let us know here or on [gitter](https://gitter.im/open-telemetry/opentelemetry-python)!

[2020-04-09 17:11] #542 closed

[2020-04-09 19:00] lzchen commented on #565
Currently, there are two ways of instrumenting a `Flask` application, through `wsgi` OpenTelemetryMiddleware and `ext-flask` FlaskInstrumenter. I believe the latter is intended to be just used for auto-instrumentation. We should have only one way of recommending users to instrument their Flask apps (manual). I believe @ocelotl is taking a look at this and whether we can leverage some of the existi

[2020-04-09 21:26] codeboten commented on #25
FWIW, the number of packages that are dropping Python 3.4 support is growing. For example installing docker-compose in Python 3.4 now requires pinning the version of PyYAML to 5.2. It might be worth revisiting removing support for 3.4 sooner than later.

[2020-04-09 21:37] lzchen commented on #565
Continuation of [#353]

[2020-04-09 22:17] ocelotl opened #569 "Remove unnecessary Flask app"
The current auto instrumentation example includes an unnecessary Flask app in its client, remove that.

[2020-04-10 18:27] c24t commented on #423
@mauriciovasquezbernal, @hectorhdzg can we close this one?

[2020-04-10 18:29] c24t commented on #485
Closing in favor of #554

[2020-04-10 18:29] #485 closed

[2020-04-10 19:38] hectorhdzg commented on #423
I believe we have nice examples now thanks @mauriciovasquezbernal, so this could be closed now

[2020-04-13 12:29] mauriciovasquezbernal commented on #547
I like it.

I think autoinstrumentation should be there. I'm not sure what is the role of the example app, the only added value I see is that it includes the dependencies in setup.cfg, for the rest, it is completely covered in other examples. About tests, I think we should put tests in as many as possible examples.

If you don't mind I could try to do it as soon as I have some free time from the a

[2020-04-13 14:53] mauriciovasquezbernal commented on #564
My 2cents: Supporting more than 1 format is a bad idea, users will be confused about with one is the correct one and what are the differences, we should also maintain them...

About the formats, I'd discard JSON because it doesn't support comment, I'd also discard INI because it only supports one level hierarchy tree. About the remaining ones I think `yaml` is the more used, so what would be my ch

[2020-04-13 15:35] #569 closed

[2020-04-13 16:28] #515 closed

[2020-04-13 18:33] mauriciovasquezbernal commented on #303
I don't think this is actually done. https://github.com/open-telemetry/opentelemetry-python/pull/306 fixed that for wsgi and Flask, but there are other cases where mock is used:

https://github.com/open-telemetry/opentelemetry-python/blob/c8b336d338289a3fed761053e917398f3bf6fdd7/ext/opentelemetry-ext-http-requests/tests/test_requests_integration.py#L34

https://github.com/open-telemetry/openteleme

[2020-04-13 21:30] toumorokoshi commented on #158
looks like pip has changed their behavior! https://github.com/pypa/pip/pull/7882/files. So we may be able to use setuptools_scm now!!

[2020-04-13 21:57] #423 closed

[2020-04-13 22:12] mauriciovasquezbernal commented on #479
@lizthegrey hi Liz. I'm curious, why did you have to de-register a session? I suppose it was not because of double instrumentation, the current implementation of the exporter logic disables tracing when exporting spans. Is there a performance reason?

[2020-04-13 22:48] ocelotl opened #574 "Inform about other repos in contributing instructions"
This is the main OpenTelemetry Python repo, but now we have another [one](https://github.com/open-telemetry/opentelemetry-python-contrib) (and possibly more in the future) for related instrumentation-related code.

Explain this in the contributing instructions to inform new developers about the existence of this repo so that they are aware of this and they efforts can be directed to the right plac

[2020-04-13 23:19] lizthegrey commented on #479
We found that the exporter logic did _not_ disable tracing for us while our exporter was running, causing `request` objects to improperly be traced.

[2020-04-14 01:38] mauriciovasquezbernal commented on #479
Could you confirm this behavior with the latest version?, I implemented a test to check this feature and it's passing on https://github.com/open-telemetry/opentelemetry-python/pull/573.

[2020-04-14 01:43] mauriciovasquezbernal commented on #349
@toumorokoshi fixed by https://github.com/open-telemetry/opentelemetry-python/pull/370?

[2020-04-14 01:44] mauriciovasquezbernal opened #576 "Distributed context propagation tests are missing for Flask and WSGI"
Flask and the OpenWSGIMiddleware should extract the distributed context from the incoming release and make it active. The implementation appears to be working but there is not any unit test checking that.

The criteria to close this issue is

- [ ] Test implemented for Flask
- [ ] Test implemented for WSGI

[2020-04-14 08:10] kaos commented on #349
#370 is not merged, seems its been put on hold for now: https://github.com/open-telemetry/opentelemetry-python/pull/370#issuecomment-604499429

[2020-04-14 11:30] mauriciovasquezbernal commented on #349
ops sorry, no idea what I saw...

[2020-04-14 16:08] lzchen opened #578 "Implement Views API Prototype"
Following the [otep](https://github.com/open-telemetry/oteps/pull/89) created by @c24t , it would be good to have a prototype implementation so other languages can follow suite.

[2020-04-14 21:12] ocelotl commented on #554
I am renaming this and using the word "some" because I think programmatic instrumentation is very third-party-library dependent and can be implemented in several different ways. #579 just adds some functionality that can be useful for programmatic instrumentation developers.

[2020-04-14 23:44] toumorokoshi opened #581 "make suppress_instrumentation emit a defaultspan"
Right now, multiple extensions are adding their own suppress_instrumentation code, to not emit span information.

It would be great if we could suppress_instrumentation on a global level, such as described in https://github.com/open-telemetry/opentelemetry-specification/issues/530.

[2020-04-15 03:20] #479 closed

[2020-04-15 05:22] #574 closed

[2020-04-15 07:36] ocelotl opened #582 "Fix several configuration issues"
Fix the pending issues in #563 as pointed out by @mauriciovasquezbernal.

[2020-04-15 16:46] toumorokoshi commented on #547
Sounds good! Thanks.

[2020-04-15 16:58] mauriciovasquezbernal opened #585 "Define how integrations should obtain a tracer"
An instrumented library needs to access a tracer to create spans. Right now we have different ways of providing such tracer to the integration:

1. Pass the `Tracer` when enabling the instrumentation (pymongo, mysql, dbapi and other DB integrations probably)

https://github.com/open-telemetry/opentelemetry-python/blob/b62c2339126bb057b8a83e2c44397de214c77f38/ext/opentelemetry-ext-pymongo/src/opent

[2020-04-15 17:07] codeboten commented on #585
The idea of an optional TracerProvider makes sense to me, this lets the instrumentation instantiate a tracer with the name/version information.

[2020-04-15 17:31] toumorokoshi commented on #585
That seems like a good middle ground. Although personally I hope no one has a need to route different trace providers to different integrations, it might be good to allow that flexibility.

I think that's fine. As long as all of our examples illustrate that SDK configuration must happen first, and we have clear errors, I don't imagine this being a problem.

Then again there's a weird middle case w

[2020-04-15 22:45] #71 closed

[2020-04-16 04:12] cigrainger opened #587 "Dependency problem between opentelemetry-ext-flask and opentelemetry-ext-wsgi"
**Describe your environment**
MacOS 10.15.4
Python 3.7.7 installed via `asdf`
`poetry` 1.0.3

**Steps to reproduce**
`poetry add opentelemetry-ext-flask`

**What is the expected behavior?**
The dependency to install.

**What is the actual behavior?**
[code]

**Additional context**
Other libraries are working fine:

[code]

[2020-04-16 04:50] codeboten commented on #587
Thanks for reporting @cigrainger, it looks like this will be addressed in the next release flask and wsgi as the dependencies were set to specific versions in this change https://github.com/open-telemetry/opentelemetry-python/commit/b3e4f3c4826ad93add9a90e9d5f39af8ffe30ffb#diff-2873dc9a8d68f222dcf293ac1d95edbaR44-R46. I was able to reproduce the issue, and to work around it by installing each pack

[2020-04-16 04:53] cigrainger commented on #587
Thanks @codeboten! I can confirm that workaround worked for me as well. I could have sworn I tried that, but must have been in a different order.

[2020-04-16 11:35] Oberon00 commented on #585
I also think this suggestion is sensible. In any case, providing the Tracer from the outside is bad because the tracer is supposed to have the name and version of the instrumentation, and the instrumentation should best provide this information to the TracerProvider itself.

[2020-04-16 11:48] Oberon00 commented on #349
Probably this depends a bit on https://github.com/open-telemetry/opentelemetry-specification/pull/506

[2020-04-16 16:35] mauriciovasquezbernal opened #589 "docker-tests are failing with Python3.7"
When running `tox -e docker-tests` I got a failure in one of the tests `mysql/test_mysql_functional.py::TestFunctionalMysql::test_executemany FAILED          [ 30%]`.

This is the output that failure:
[code]

This is some information of the versions I'm using:
[code]
I have the API, SDK and different integrations installed from b62c2339126bb057b8a83e2c44397de214c77f38.

I tested with @codeboten an

[2020-04-16 17:52] c24t commented on #374
New since the 0.5b0 release: move the "stable" tag to the head of the latest release branch.

[2020-04-16 17:56] ocelotl commented on #374
Handling changelogs by hand can be a very tedious task, may I recommend [gitchangelog](https://pypi.org/project/gitchangelog/)?

[2020-04-16 17:57] codeboten commented on #374
it looks like #247 was completed but the github publish actions have been failing. Is the publishing still done manually?

[2020-04-16 19:01] hectorhdzg commented on #538
Exporter retry logic should not be the responsibility of the SDK #509

[2020-04-16 19:01] #538 closed

[2020-04-16 20:38] #587 closed

[2020-04-16 22:04] ocelotl opened #592 "Add Django instrumentation"
There is already some progress on this in #571 and [here](https://github.com/open-telemetry/opentelemetry-python-contrib/pull/20). The ideal approach would be to be able to integrate both of them here.

[2020-04-16 23:37] c24t commented on #581
Related to https://github.com/open-telemetry/opentelemetry-python/issues/565

[2020-04-20 18:26] ocelotl opened #599 "Move Flask instrumentation enhancements in a separate PR"
#579 adds enhancements for instrumentation (for supporting programmatic instrumentation to be specific) but also adds changes for Flask instrumentation. Move these Flask instrumentation changes in a different PR, since they need further discussion and are holding back the general instrumentation mechanism enhancements.

[2020-04-20 18:34] c24t opened #600 "Nominate @ocelotl for python-approvers"
Following the [community guidance for approvers](https://github.com/open-telemetry/community/blob/master/community-membership.md#approver).

### GitHub Username

@ocelotl

### Organization you are requesting membership in

@open-telemetry/python-approvers

### Requirements

- [x] I have reviewed the community membership guidelines (https://github.com/open-telemetry/community/blob/master/community-

[2020-04-20 18:57] toumorokoshi commented on #600
+1! T

[2020-04-20 19:24] #600 closed

[2020-04-20 20:12] ocelotl commented on #600
Thanks!

[2020-04-21 17:21] codeboten opened #606 "Provide easy way to install relevant instrumentation"
It would be convenient for users to be able to install instrumenting libraries which are relevant to them. This would simplify the initial experience with OpenTelemetry. Added PR #605 request with one option to install all existing instrumentation. The ruby SIG solves this problem in a similar fashion to that PR https://github.com/open-telemetry/opentelemetry-ruby/pull/223

[2020-04-22 15:12] mauriciovasquezbernal opened #608 "Find alias for opentelemetry-auto-instrumentation"
`opentelemetry-auto-instrumentation` is a quite long command, even if the autocompletion helps the long command makes the terminal difficult to read.

[2020-04-22 16:59] #554 closed

[2020-04-22 21:01] c24t commented on #374
I fixed the PyPI auth issue, step 5 should happen automatically on new releases now. We were doing it manually before.

[2020-04-23 02:58] #478 closed

[2020-04-23 03:31] #585 closed

[2020-04-23 16:22] owais commented on #606
SignalFx Python instrumentation library ships with a bootstrap command that detects installed libraries and installs instrumentation packages for them. The workflow look roughly like the following:

[code]

I think a command like this would be very useful. SignalFx version automatically installs the packages but I'd probably make it spit out new requirements instead by default. It could have flags

[2020-04-23 18:27] mauriciovasquezbernal opened #610 "Create utils package for instrumentors"
There are some operations that are common for different instrumentors. For instance, all the http integrations need to set the span status based on the http code, they need to extract headers and so on. Currently the code is being duplicated in the different integrations, for example:

https://github.com/open-telemetry/opentelemetry-python/blob/7cb57c78d38836c9b75de720f6a43d648ff600e4/ext/opentele

[2020-04-25 23:22] ocelotl opened #613 "tox -e lint is failing in some cases"
Apparently, this does not happen in CI, but I can reproduce with `master` in my computer. Running `tox -e lint` fails with this error:

[code]

This change seems to fix the problem:

[code]

[2020-04-26 04:50] toumorokoshi commented on #283
Here's a PR with some conventions:

https://github.com/open-telemetry/opentelemetry-specification/pull/539

`opentelemetry-instrumentation-redis`
`opentelemetry-exporter-jaeger`

[2020-04-27 08:27] lzchen commented on #283
@toumorokoshi
Just curious, these normalized terms are only for packages in the main OT repos right? Vendors are still free to name their exporters whatever they like?

[2020-04-27 14:56] mauriciovasquezbernal opened #617 "Enable documentation for Instrumentor classes"
Each integration should implement the `_instrument` and `_uninstrument` methods according to the `BaseInstrumentor` interface. Those methods are private and are not included in the documentation with the current configuration: https://opentelemetry-python.readthedocs.io/en/latest/ext/flask/flask.html#api.

We could enable them by using `:private-members:`, but probably it's too much and will inclu

[2020-04-27 15:29] #613 closed

[2020-04-27 17:35] #582 closed

[2020-04-27 18:06] toumorokoshi commented on #283
I would argue they should follow the convention of the primary repos as well, but obviously there's no enforcement there. :)

[2020-04-27 20:53] mauriciovasquezbernal commented on #501
Solved by https://github.com/open-telemetry/opentelemetry-python/pull/504.

[2020-04-27 20:53] #501 closed

[2020-04-27 20:56] mauriciovasquezbernal commented on #303
I think it's solved now by the above PRs.

[2020-04-27 20:56] #303 closed

[2020-04-27 21:10] mauriciovasquezbernal commented on #210
Is this issue still relevant?, https://github.com/PyCQA/pylint/issues/2648 is still open, however I was able to rename http-requests to requests https://github.com/open-telemetry/opentelemetry-python/pull/619 and the pylint is not complaining. Am I missing something?

[2020-04-27 22:15] codeboten opened #620 "Bug in b3 propagation"
When configuring b3 propagation, if the parent of a Span is an instance of a SpanContext, the following error occurs:

`'SpanContext' object has no attribute 'context'`

[2020-04-28 15:44] toumorokoshi opened #622 "rename MultiSpanProcessor to SynchronousMultiSpanProcessor"
There's multiple different ways to author a multispanprocessor, with regards to the behavior of teeing to multiple downstream ones:

1. synchronously, doing it one at a time
2. concurrently, doing one or more in a threadpool or other concurrent executor.

I think it's probably good to start clarifying that early, so that consumes can choose which one works for their purposes. To that end, we shoul

[2020-04-28 15:58] mauriciovasquezbernal opened #623 "sdk: a bytes attribute crashes the console span exporter"
The current logic to check attributes' types admits the `bytes` in, it creates problem in the exporters that don't perform type check.

Reproducer:

[code]

I did a quick look and it happens because `bytes` is a `Sequence`, and each element inside is an integer.

I don't know if the we should update the logic to reject that kind of attributes or update the exporters to be able to accept them.

[2020-04-29 19:50] codeboten opened #627 "Add instrumentor for Tornado"
Add instrumentor for Tornado. Below are existing instrumentor implementations:

[DataDog](https://github.com/open-telemetry/opentelemetry-auto-instr-python/tree/master/ddtrace/contrib/tornado)
[SignalFx](https://github.com/signalfx/signalfx-python-tracing/tree/master/signalfx_tracing/libraries/tornado_)

[2020-04-29 21:10] ocelotl opened #628 "Add instrumentation for Boto"
Add an instrumentation for [Boto](https://boto3.amazonaws.com/v1/documentation/api/latest/index.html)

[2020-04-29 21:13] mauriciovasquezbernal opened #629 "Add instrumentation for celery"
Probably to be based on [Datadog donated code](https://github.com/open-telemetry/opentelemetry-python-contrib/tree/master/reference/ddtrace/contrib/celery)

[2020-04-30 23:12] majorgreys opened #631 "Add instrumentation for jinja2"
Having discussed this with @codeboten, I want to propose that I migrate the Datadog donated jinja2 instrumentation.

[2020-04-30 23:24] codeboten commented on #631
Sounds great!

[2020-04-30 23:56] #620 closed

[2020-05-01 05:06] #566 closed

[2020-05-01 14:41] lizthegrey opened #632 "Add instrumentation for pyramid"
**Is your feature request related to a problem?**
A honeycomb client is interested in auto-instrumentation using Pyramid, and there's example code from dd-trace in -contrib that could be ported over.

**Describe the solution you'd like**
Port the dd-trace code to use otel

**Describe alternatives you've considered**
Also considered adding support to beeline-python but decided this would be more fu

[2020-05-01 15:14] codeboten opened #633 "ext/psycopg2: Implement BaseInstrumentor interface"
In order for users of psycopg2 to take advantage of `opentelemetry-auto-instrumentation`, the following needs to happen:

1. add a class implementing the `BaseInstrumentor` interface. here is an example for [ext/pymysql](https://github.com/open-telemetry/opentelemetry-python/commit/299295038dab56392199e3d79522550b78bd6e3f#diff-4e10b6b4a0eedcd59ceccf6964f8ac89R56-R76)
2. an entrypoint must be added

[2020-05-01 15:26] codeboten commented on #632
Thanks for opening the issue. Here's the reference code: https://github.com/open-telemetry/opentelemetry-python-contrib/tree/master/reference/ddtrace/contrib/pyramid

[2020-05-01 19:25] ocelotl opened #634 "Add a standard way to "reset" a Configuration object for testing"
It is a common occurrence in tests that the global `Configuration` object needs to be "reset" between tests. This means that its attributes need to be set back to their original values. Since the `Configuration` object is immutable by design, some additional, non-production available mechanism is needed to perform this action.

The need for this feature was mentioned in a [conversation](https://gi

[2020-05-01 19:27] ocelotl opened #635 "what is this code doing? I'm curious if this is surfacing some bug with configuration that should be fixed in the module itself."
what is this code doing? I'm curious if this is surfacing some bug with configuration that should be fixed in the module itself.

_Originally posted by @toumorokoshi in https://github.com/open-telemetry/opentelemetry-python/timeline_

[2020-05-01 19:27] #635 closed

[2020-05-02 00:08] ocelotl opened #637 "Enhance the instrumentation documentation"
The documentation in the for the `BaseInstrumentor` ABC should be enhanced. The purpose of this class itself, the usage of `kwargs` in `_instrument` and `_uninstrument` are design characteristics that need to be explained better so that concrete implementations of this ABC can follow the same design patterns.

[2020-05-03 04:47] codeboten opened #641 "ext/pymongo instrumentation sets Status description to a dictionary instead of a string"
**Describe your environment**
Python 3.8.2 Docker container environment

**Steps to reproduce**
1. setup opentelemetry collector
2. run pymongo example configured to export to opentelemetry collector

**What is the expected behavior?**
Spans are exported to my opentelemetry collector

**What is the actual behavior?**
No spans were reported and no error was visible

**Additional context**
The pymon

[2020-05-03 09:35] nirsky opened #642 "ext/requests - crashes when used with socket-io"
**Describe your environment**
Python 3.8.2
opentelemetry-sdk==0.6b0
opentelemetry-ext-http-requests==0.6b0 (was able to reproduce on 0.7.dev0 as well)
requests==2.23.0
python-socketio==4.5.1
python-socketio-client==1.1
websocket-client==0.57.0

**Steps to reproduce**
After enabling requests ext, like this:
[code]

when using socketio client and connecting as follow:
[code]
From [this](https://gith

[2020-05-03 16:17] Oberon00 commented on #642
Technically, this looks like a bug in socket-io to me because headers is supposed to be a dict, not None (see https://github.com/python/typeshed/blob/545be37c4035d0df1a64fdeab08dbaec0f294bec/stdlib/3/urllib/request.pyi#L47 and https://docs.python.org/3/library/urllib.request.html#urllib.request.Request).
I guess we should both protect against None here and file an issue at socket-io.

[2020-05-04 19:04] ocelotl opened #647 "Make Configuration object return boolean values"
Many times, configuration values are just boolean values. The `Configuration` object now only returns the literal configuration value. It would be useful to have this object return `True` instead of `"True"` to keep code a bit shorter
We could have this:
[code]
Instead of this:
[code]

[2020-05-04 22:08] ocelotl opened #649 "Use warnings instead of logging exceptions"
So far we have been catching exceptions we don't want raised and [logging a message instead](https://github.com/open-telemetry/opentelemetry-python/blob/master/opentelemetry-sdk/src/opentelemetry/sdk/trace/export/__init__.py#L83). This definitely accomplishes its purpose and follows [these basic error handling principles](https://github.com/open-telemetry/opentelemetry-specification/blob/master/sp

[2020-05-04 23:18] mauriciovasquezbernal commented on #647
What about integer types as well?

[2020-05-05 02:55] #589 closed

[2020-05-05 15:51] r4mbo7 opened #651 "How to get a distributed trace accross services using Rabbitmq ?"
Hi !

I looking for a way to retrieve a single trace in the Jaeger UI from Spans that are created through different services (in different containers).

My API is asynchronous and returns a task-id to my users. It would be great if I can retrieve spans associate to this task-id a single trace.

Some of my services communicate over rabbitmq (I'm using aiopika).
I made middle wares  to forward this

[2020-05-05 16:44] mauriciovasquezbernal commented on #345
Solved by https://github.com/open-telemetry/opentelemetry-python/pull/548.

[2020-05-05 16:44] #345 closed

[2020-05-05 16:59] #599 closed

[2020-05-05 18:25] owais commented on #606
PR: https://github.com/open-telemetry/opentelemetry-python/pull/650

[2020-05-05 19:50] #634 closed

[2020-05-06 01:31] jon-whit opened #654 "Help Extracting Distributed Trace"
I'm using the Python [Falcon framework](https://falconframework.org/) and I'm trying to implement a middleware to create a span for the HTTP handlers being invoked.

Here's more information on [middlewares](https://falcon.readthedocs.io/en/stable/api/middleware.html) in the Falcon framework.

Here's the code I'm dealing with..

[code]

Based on my debugging I'm not getting the context set and retr

[2020-05-06 04:00] codeboten commented on #654
Hey @jon-whit, thanks for opening the issue. I think the code you have is actually really close, the only thing I changed to get it working was to update `req.context` at the end of `process_request` to the following:

`req.context = set_span_in_context(span, req.context)`

Any action that sets a value on a context returns a new copy of the context with an updated value.
I also updated the code to

[2020-05-06 04:22] codeboten commented on #651
Hey @r4mbo7, thanks for the question. There is an example specifically around rabbitmq in the opentelemetry-spec here https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/semantic_conventions/messaging.md#attributes-specific-to-certain-messaging-systems

I can also answer a couple of your questions:

Yes it's possible to retrieve the trace ID from a span vi

[2020-05-06 14:39] jon-whit commented on #654
@codeboten awesome! That worked like a charm :). Good to know 👍

I'd be happy to submit a PR to provide a middleware for Falcon. Where would I make most of those changes? Would that be to the `ext` directory? Any examples would be nice.

[2020-05-06 14:39] #654 closed

[2020-05-06 15:32] codeboten commented on #654
@jon-whit great to hear!

Yes, the `ext` directory is where the code would live. You can look at any of the instrumentations in there to give you an idea for what the format looks like. You can see an example of a PR to add new instrumentation here: https://github.com/open-telemetry/opentelemetry-python/pull/643/files

It might also be worth looking at the code in this repo to see if there are any

[2020-05-06 16:26] jon-whit commented on #654
@codeboten thank you so much! I'll look into getting some contributions in for Falcon. I'll have to do it on my own time, outside of primary work business hours 👍

[2020-05-06 22:27] #592 closed

[2020-05-07 22:27] mauriciovasquezbernal commented on #335
@rmitr are you still interested in working in this one?

[2020-05-07 22:28] mauriciovasquezbernal commented on #335
As a part of https://github.com/open-telemetry/opentelemetry-python/issues/514 I did some research and I think pytest-benchmark is a good framework to use. It integrates nicely with pytest and provides some useful features to make the implementation of performance tests easier.

[2020-05-07 22:29] mauriciovasquezbernal commented on #514
I was never able to complete this one, closing in favor of https://github.com/open-telemetry/opentelemetry-python/issues/335.

https://github.com/mauriciovasquezbernal/opentelemetry-python/commit/a3dabe169d7431ad73c2e44cc75f279eff56af63 contains a WIP I was doing, it can be tested by running `tox -e py37-test-performance`, leaving the reference here just in case it's useful for somebody that will

[2020-05-07 22:30] #514 closed

[2020-05-08 04:49] toumorokoshi opened #659 "Django Instrumentation should apply middleware first vs last"
This is a discussion issue around this code:

https://github.com/open-telemetry/opentelemetry-python/blob/master/ext/opentelemetry-ext-django/src/opentelemetry/ext/django/__init__.py#L53

That currently *appends* middleware, which results in instrumentation for only the user code. This comes with two caveats:

1. latency does not truly represent the most accurate value, as it does not consider tim

[2020-05-08 15:39] codeboten opened #660 "ext/wsgi: Implement BaseInstrumentor interface"
In order for users of wsgi to take advantage of `opentelemetry-auto-instrumentation`, the following needs to happen:

1. add a class implementing the `BaseInstrumentor` interface. here is an example for [ext/pymysql](https://github.com/open-telemetry/opentelemetry-python/commit/299295038dab56392199e3d79522550b78bd6e3f#diff-4e10b6b4a0eedcd59ceccf6964f8ac89R56-R76)
2. an entrypoint must be added to

[2020-05-08 15:45] codeboten opened #661 "ext/grpc: Implement BaseInstrumentor interface"
In order for users of grpc to take advantage of `opentelemetry-auto-instrumentation`, the following needs to happen:

1. add a class implementing the `BaseInstrumentor` interface. here is an example for [ext/pymysql](https://github.com/open-telemetry/opentelemetry-python/commit/299295038dab56392199e3d79522550b78bd6e3f#diff-4e10b6b4a0eedcd59ceccf6964f8ac89R56-R76)
2. an entrypoint must be added to

[2020-05-08 17:12] mauriciovasquezbernal opened #663 "Implement a mechanism to configure exporters with autoinstrumentation command"
The goal of the `opentelemetry-auto-instrumentation` command is to allow the user to instrument an application without having to write code. That command is able to instrument the different supported libraries by invoking the instrumentor entrypoint on them, but the user still has to modify the program code to setup the span processor/exporters.

A mechanism that allows the user to configure opent

[2020-05-08 18:36] lzchen opened #664 "Implement flush on exit for metrics exporter"
Similar to how the `SpanProcessor` flushes telemetry in the queue on exit, the metrics exporter should flush metrics that have been recorded but not collected and exported on exit.

The `PushController` already has an `atexit` mechanism which calls `exporter.shutdown` so the logic only needs to be added to `exporter.shutdown`. A `flush` for metrics is simply another collection/export pass.

[2020-05-08 19:20] cnnradams commented on #660
@codeboten Could this be assigned to me? thanks!

[2020-05-08 19:24] codeboten commented on #660
You got it @cnnradams!

[2020-05-10 03:44] toumorokoshi commented on #349
For #370 yes, but there's probably a way we can still enable this without the use of trace.UpdateName.

It's a bit busy right now, but I'll see if I can take another crack at this.

[2020-05-11 05:26] toumorokoshi opened #667 "add wrap / unwrap helpers into an instrumentation helper library?"
We have a lot of instrumentations now that adhere to the BaseInstrumentor, and this pattern of wrapping functions with wrapt and unwrapping are quite common now:

https://github.com/open-telemetry/opentelemetry-python/pull/643/files#diff-4ac826b7b2b5271928612cf6d60c20aeR118

Should we be investing in a helper library to unwrap this? or maybe contribute upstream?

[2020-05-11 12:03] owais opened #668 "How/where should bootstrap command get the list of auto-instrumentation packages from?"
PR #650 adds a new bootstrap command. The command can be executed by users to automatically detect the libraries their project uses and install instrumentation libraries for the detected packages.

To make this work, the bootstrap commands need posses some knowledge about supported packages and the respective instrumentations. The current implementation hard-codes this information in the bootstrap

[2020-05-11 15:00] nirsky commented on #541
Is there any plan for implementing the `otlp` exporter?

[2020-05-11 15:59] codeboten commented on #660
Auto-instrumentation is implemented on a per-framework basis, not at the wsgi level.

[2020-05-11 15:59] #660 closed

[2020-05-11 16:12] cnnradams commented on #633
@codeboten can this be assigned to me?

[2020-05-11 16:16] codeboten commented on #633
All yours

[2020-05-11 16:33] #631 closed

[2020-05-11 16:38] codeboten opened #669 "ext/otcollector: Implement OTLP"
**Is your feature request related to a problem?**
The otcollector is currently using the opencensus protocol to communicate with the collector, this was done prior to otlp being supported in the collector. OTLP is now natively supported, let's use it.

**Describe the solution you'd like**
The [otcollector](https://github.com/open-telemetry/opentelemetry-python/tree/master/ext/opentelemetry-ext-otc

[2020-05-11 19:29] ocelotl commented on #668
Actually, I think the biggest problem with hardcoding is that it does not scale well, generally speaking. The user may forget to add a new instrumentation in the list, or they may be moved into another repo altogether, forcing the maintainer of this repo to be aware of what is happening on some other repo.

I think it is fine to hardcode now for our first release of this component, but a better ap

[2020-05-11 21:02] AndrewAXue commented on #352
I can take this

[2020-05-11 21:22] ocelotl opened #673 "Django instrumentation is missing License and Manifest"
The Django instrumentation is missing its LICENSE and MANIFEST.in files.

[2020-05-11 21:32] ocelotl opened #675 "Add instrumentation for botocore"
Add a new instrumentation to support [botocore](https://pypi.org/project/botocore/).

[2020-05-11 22:13] AndrewAXue commented on #352
Created a PR here, PTAL https://github.com/open-telemetry/opentelemetry-python/pull/678/files

[2020-05-12 00:13] codeboten opened #680 "build: new flake8 causes lint failures"
The new version of flake (https://github.com/PyCQA/flake8/releases/tag/3.8.0) causes lint errors in the build as seen [here](https://travis-ci.org/github/open-telemetry/opentelemetry-python/jobs/685853343#L3135)

[code]

Implemented a workaround here: https://github.com/open-telemetry/opentelemetry-python/pull/679

It looks like those failures are caused by undefined names in mypy hints, but they'

[2020-05-12 16:24] ocelotl opened #682 "Add instrumentation for aiohttp server"
Add an instrumentation for aiohttp.

[This](https://github.com/open-telemetry/opentelemetry-python-contrib/tree/master/reference/ddtrace/contrib/aiohttp) implementation is a good reference.

[2020-05-12 17:31] ocelotl opened #683 "Add instrumentation for sqlite3"
Add an instrumentation for sqlite3.

[This](https://github.com/open-telemetry/opentelemetry-python-contrib/tree/master/reference/ddtrace/contrib/sqlite3) implementation is a good reference.

[2020-05-12 20:54] c24t opened #684 "Nominate @codeboten for python-maintainers"
Nominate @codeboten to replace @c24t as a python maintainer. The actual changes happen in the [approver](https://github.com/orgs/open-telemetry/teams/python-approvers/members) and [maintainer](https://github.com/orgs/open-telemetry/teams/python-maintainers/members) github teams, this issue is just for visibility.

Following the [community guidance for maintainers](https://github.com/open-telemetry

[2020-05-12 21:09] #637 closed

[2020-05-12 22:31] c24t commented on #684
Done, teams updated.

[2020-05-12 22:31] #684 closed

[2020-05-13 21:48] codeboten opened #691 "ext/datadog: Move datadog exporter into separate repo"
Following https://github.com/open-telemetry/opentelemetry-specification/pull/277#discussion_r330265935, we need to move third party exporters out of the main repo. This was done for the Azure exporter as well #193.

Ideally this exporter and all other exporters will live in https://github.com/open-telemetry/opentelemetry-python-contrib

[2020-05-13 22:16] #673 closed

[2020-05-13 23:30] majorgreys commented on #691
The reason for this makes sense, thank you for addressing it @codeboten.

I wonder what others take is on how such exporters and the contrib repo in general would have its releases managed.

[2020-05-14 10:17] thedrow commented on #629
FYI A future major version of Celery will include Open Telemetry support built into the framework.

[2020-05-14 17:44] majorgreys commented on #663
I think that work could be done in an "instrumentor" for a vendor exporter. E.g., the `_instrument` method would add the vendor exporter to a span processor as well as set up the vendor propagator. This would help in the case of what I've been doing for the Datadog exporter.

This would broaden term "instrumentor" beyond enabling tracing for third-party library.

[2020-05-14 20:35] cnnradams commented on #683
@ocelotl could you assign this to me?

[2020-05-14 22:48] codeboten commented on #683
@cnnradams done

[2020-05-15 06:07] codeboten commented on #513
Just adding some notes around experiments:

Was able to shave off about 10 minutes of total build time (our current average is about 45 minutes total build time) by removing the step to update pip. Build job here: https://travis-ci.org/github/open-telemetry/opentelemetry-python/builds/687294602. The experiment code can be found in this PR https://github.com/open-telemetry/opentelemetry-python/pull

[2020-05-17 23:01] toumorokoshi opened #702 "sdk: Span.resource should default to an empty resource"
Right now, A resource object attached to a Span can be None:

https://github.com/open-telemetry/opentelemetry-python/blob/master/opentelemetry-sdk/src/opentelemetry/sdk/trace/__init__.py#L267

(also type is incorrect as it should also be a Resource object)

That means that there's two similar objects that refer to an empty resource: None, and the _EMPTY_RESOURCE global.

For simplicity I would arg

[2020-05-18 00:22] r4mbo7 commented on #682
Hi !

I have tried the [aiohttp_client](https://opentelemetry-python.readthedocs.io/en/stable/ext/aiohttp_client/aiohttp_client.html) integration in an [sample project](https://gitlab.com/cdlr75/opentelemetry-aiohttp) to get a client - server using aiohttp. I ended up by not using aiohttp_client and manage spans manually.

It seems that aiohttp_client do not add any header in the aiohttp session t

[2020-05-18 10:20] Jasopaum opened #704 "Bug using CollectorMetricsExporter with Measure metric"
**Describe your environment**
Using Python 3.7 and opentelemetry-ext-otcollector and opentelemetry-sdk version 0.7b1.

**Steps to reproduce**
[code]

**What is the actual behavior?**
This fails silently in the `CollectorMetricsExporter.export()` method.
I suspect that is comes from the `get_collector_point()` function which tries to set `point.int64_value = metric_record.aggregator.checkpoint` whe

[2020-05-18 12:42] r4mbo7 commented on #651
Thanks @codeboten for the reply and references.

I have made a toy project with a sample producer/consumer [here](https://gitlab.com/cdlr75/opentelemetry-rabbitmq).

Few questions before closing this issue.

1) Do we need to add specific rabbitmq attributes for the spans in the consumer too ? As the span parent, in the producer, already have them setup, I don't know if we MUST re-set them for the

[2020-05-18 19:37] mauriciovasquezbernal commented on #667
Related https://github.com/open-telemetry/opentelemetry-python/issues/610.

[2020-05-18 21:26] r4mbo7 opened #706 "How to disable tracing for some sql request once psycopg2 integration is setup ?"
Hi !

I want to integrate OpenTelemetry in a large project that use a postgresql database.

If I setup the psycopg2 integration like this in a tracing.py module...
[code]
... then I "magically" got spans emitted for every single database request made in project.

But I do not want a span for each request. In fact there is few requests that are valuables among all of them. I want to save few cpu, n

[2020-05-18 21:40] c24t commented on #287
@AndrewAXue is going to pick this up, we can't assign him the ticket since he's not in https://github.com/orgs/open-telemetry/people yet.

[2020-05-19 01:45] lzchen commented on #706
This is a good use case. Is there anything about the sql calls that you do not want to generate spans for share in common? Something that we might be able to use as a "filter" mechanism possibly for the psycopg2 integration? Similarly to [exclude lists](https://github.com/open-telemetry/opentelemetry-python/tree/master/ext/opentelemetry-ext-flask#exclude-lists) for flask.

Currently this is not a

[2020-05-19 16:08] andrewhsu commented on #669
looks like resolving this issue would help: https://github.com/open-telemetry/opentelemetry-proto/issues/91

[2020-05-19 16:51] hawkaa opened #710 "Middleware for Starlette/FastAPI"
Hi,

**Is your feature request related to a problem?**

I recently discovered [FastAPI](https://fastapi.tiangolo.com/) and I see a bright future for this project. I for sure will no longer use Flask to develop any micro backends anymore, as I find FastAPI better in all aspects.

No matter if you agree or not, I wonder if we need an OpenTelemetry middleware here. It does not exist at the moment, bu

[2020-05-19 23:47] c24t opened #711 "Update instruments to v0.4.0 spec"
See also https://github.com/open-telemetry/opentelemetry-go/issues/729.

The [v0.4.0 Metric API](https://github.com/open-telemetry/opentelemetry-specification/blob/v0.4.0/specification/metrics/api.md) defines [six named metric instruments](https://github.com/open-telemetry/opentelemetry-specification/blob/v0.4.0/specification/metrics/api.md#the-instruments) that replace `Measure`, `Counter`, and `

[2020-05-20 05:19] #647 closed

[2020-05-20 15:56] kintel opened #712 "Move Cloud Trace (Stackdriver) exporter"
Move the Cloud Trace (Stackdriver) exporter, as implemented in #698, to this external repo:
https://github.com/GoogleCloudPlatform/opentelemetry-operations-python

[2020-05-20 15:59] toumorokoshi commented on #682
@r4mbo7 can you start a separate issue around that? This is a more general issue around adding instrumentation at all, bugfixes should be filed separately.

That said I believe https://github.com/open-telemetry/opentelemetry-python/pull/709 will fix your issue.

[2020-05-20 16:02] toumorokoshi commented on #710
Thanks! I think agreed on the need, opentelemetry is not in the business of dictating frameworks, and we want enable telemetry wherever it's valuable

Regarding the approach: as fastapi / starlette have ASGI interfaces, I think we're pretty close with existing PRs. We have this one as a generic ASGI middleware:

[2020-05-20 18:56] AndrewAXue opened #713 "Span empty attributes are default mutable"
**Describe your environment**
Python 3.7. Irrelevant.

**Steps to reproduce**
[code]

**What is the expected behavior?**
[code]

**What is the actual behavior?**
[code]

**Additional context**
Span._empty_attributes is a default mutable when the user (incorrectly) accesses a span's attributes directly. We can solve this by doing
[code]
i.e. deepcopying.

[2020-05-20 19:04] AndrewAXue commented on #287
Addressed in https://github.com/open-telemetry/opentelemetry-python/pull/698

[2020-05-20 19:48] AndrewAXue commented on #713
Addessed in https://github.com/open-telemetry/opentelemetry-python/pull/714

[2020-05-20 22:12] codeboten opened #715 "Span should have a getter for attributes"
Currently there are multiple places in the code that make the assumption that a `Span` has an `attributes` attribute, this is not always the case.

The solution could be to implement an attributes property on the Span interface, or we could implement a separate getter method.

[2020-05-21 04:50] #633 closed

[2020-05-21 07:40] r4mbo7 commented on #706
Thanks @lzchen for your suggestion. It's easier for me to gather the traces that interest me rather than to make exclusions.

So I will manually create spans and not leverage the postgres integration.

I seems there is no way to re-use parts of the postgres integration (like the one that set the sql request as attribute) for the spans than I'm interested in. Do I am missing something ? Otherwise t

[2020-05-21 12:58] hawkaa commented on #710
Good work. Yes, a generic ASGI middleware is definitely the way to go. I'll take a closer look at the code when I have a little more time.

I guess we can close this ticket?

[2020-05-21 14:31] majorgreys opened #720 "Add HTTP user-agent to WSGI instrumentation"
As discussed for ASGI in [#716 (comment)](https://github.com/open-telemetry/opentelemetry-python/pull/716/files#r428364828), the WSGI instrumentation should also set an attribute from the user-agent in a HTTP request.

[2020-05-21 17:02] toumorokoshi opened #721 "Add runtime type checking (e.g. typeguard) during test runs"
There are currently some type mismatches that are not caught by mypy and static typing.

There was a previously pull request #316 that attempted to address this by adding typeguard. However, adding such a tool comes with significant work on massaging the types to be correct, and so had to be abandoned due to other priorities.

It would be fantastic work to re-integrate this type checking into the

[2020-05-21 19:12] #547 closed

[2020-05-21 23:14] #683 closed

[2020-05-21 23:29] cnnradams opened #722 "Move duplicate DBAPI implementation code to a shared location"
Specifically referring to the instrumentors for each library that implements DBAPI, for example SQLite3Instrumentor, Psycopg2Instrumentor, PymysqlInstrumentor, MySQLInstrumentor. These all share essentially the same code minus configuration details.

[2020-05-22 07:07] r4mbo7 opened #726 "Should we propogate the tracer or the span ?"
Hi !

I see two options to do a distributed tracing manually in our software:

A) Using the tracer, like that
[code]
B) Using the span, like that
[code]

1) Are this two way to propagate a trace iso for the opentelemetry sdk ?

2) Is it preferable to propagate the tracer ? Why ? (other than saving few characters)

3) Did you think about methods `span.get_tracer()` or `span.start_new_span()` to emi

[2020-05-23 04:01] #541 closed

[2020-05-23 23:04] #702 closed

[2020-05-25 15:25] ocelotl opened #730 "Commented out test case"
There is a commented out test case [here](https://github.com/open-telemetry/opentelemetry-python/blob/master/ext/opentelemetry-ext-docker-tests/tests/opencensus/test_opencensusexporter_functional.py#L63). This was commented out because of an issue in OpenCensus that made this test case fail. This issue was reported [here](https://github.com/census-instrumentation/opencensus-service/issues/641) but

[2020-05-25 16:56] AndrewAXue commented on #711
I can take this (after trace exporter is done)

[2020-05-25 18:03] toumorokoshi opened #732 "add a contextmanager for context"
right now, context code has to be written with an explicit attach /detatch call:

[code]

I feel like this is a common use case, and can be simplified to a python contextmanager, handling some less apparent edge cases like exceptions being raised in the middle of the context body:

[code]

[2020-05-25 20:49] lzchen commented on #706
@r4mbo7
Correct, if you were to create spans manually, you would have to set all attributes yourself.

[2020-05-26 15:51] codeboten opened #735 "refactor: Refactor http_status_to_canonical_code method"
The following method is is found in multiple places:

https://github.com/open-telemetry/opentelemetry-python/blob/28ee03ff831b26f00af882295475a25582e080c9/ext/opentelemetry-ext-wsgi/src/opentelemetry/ext/wsgi/__init__.py#L90-L118

We should refactor it to make it available to all future instrumentation.

[2020-05-26 17:53] #730 closed

[2020-05-26 20:24] AndrewAXue opened #736 "Add Cloud Monitoring exporter"
Similar to the Cloud Trace exporter, we would like to add support for Cloud Monitoring as an extension.

[2020-05-26 21:25] lzchen commented on #711
I can work with you on this if you really want to take it. @AndrewAXue

[2020-05-26 22:09] aabmass commented on #664
I can take a look into this!

[2020-05-26 22:53] AndrewAXue commented on #711
I was talking to my team and we decided that building the metrics exporter is higher priority at the time for me (its blocking the other intern's work) so I'm gonna do that first. I'd be happy to work with you on this afterwards (if its not done yet) :)

[2020-05-27 05:38] #682 closed

[2020-05-27 16:57] owais opened #738 "Add instrumentor for ElasticSearch"

[2020-05-27 16:57] owais commented on #738
I'm working on elastic search instrumentation. Can someone assign this to me please?

[2020-05-27 16:58] codeboten commented on #738
done!

[2020-05-27 17:01] owais commented on #738
Thanks

[2020-05-27 17:48] owais commented on #627
How does context management work in OpenTelemetry Python today? I read some discussions and it seems that we only support (or at least used to) contextvars based context management. Is that correct? I recently added support for Tornado 6 and newer Python versions to signalfx-tracing and opentracing-tornado packages. It mostly involves using a different scope manager depending on the Python and Tor

[2020-05-27 22:58] codeboten commented on #627
In theory you should be able to implement a custom `Context` using the RuntimeContext interface https://github.com/open-telemetry/opentelemetry-python/blob/807e106b9fba9fed3b3eea913bd94e8438c90908/opentelemetry-api/src/opentelemetry/context/context.py#L24 which should make it possible to implement the Tornado context. Currently there are two implementations of the context, `ContextVarsRuntimeConte

[2020-05-28 01:01] lzchen opened #746 "Delete/deprecate opentelemetry-ext-http-requests from Pypi"
https://pypi.org/project/opentelemetry-ext-http-requests/

Since we are using [requests](https://pypi.org/project/opentelemetry-ext-requests/) now.

@c24t
@toumorokoshi
@codeboten

[2020-05-28 16:54] aabmass commented on #664
@lzchen it looks like the metrics that have been recorded but not collected are in the `meter` until `PushController.tick()` runs:
https://github.com/open-telemetry/opentelemetry-python/blob/ac56d0e33b91d62659a28c061cd66d1b7dfcc40c/opentelemetry-sdk/src/opentelemetry/sdk/metrics/export/controller.py#L52-L60

I checked out the individual `MetricsExporter` subclasses and the only one that seems to d

[2020-05-28 16:55] aravinsiva commented on #661
I would be happy to look into this.

[2020-05-28 16:58] codeboten commented on #661
Thanks @aravinsiva, assigned it to you

[2020-05-28 19:31] aabmass commented on #711
@lzchen is any work being done on this? I can start on this after #664 :)

[2020-05-28 22:04] lzchen commented on #711
I'll take this issue and create sub-issues to divide up the work :)

[2020-05-28 23:25] majorgreys commented on #710
@hawkaa We recently merged and released the ASGI middleware from #716.

We can close this ticket.

[2020-05-29 03:03] lzchen opened #750 "Improve usability of Metrics SDK"
The steps to setup and initialize the components needed even BEFORE recording metrics seems to be quite a lot.
[code]
The division of responsibilities is also not clear. Why does the user need to define the PushController? There is not a clearly defined way of configuring (what exporter I want to use, what controller I want to use, whether it is stateful, the export interval, etc) metrics collecti

[2020-05-29 17:40] lzchen opened #752 "Replace Measure instrument by ValueRecorder instrument"
Part of [#711]

Refer to the [API specs](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/metrics/api.md#valuerecorder).

[2020-05-29 17:43] lzchen opened #753 "Rename Observer to ValueObserver"
Part of [#711]

Simple rename of `Observer` instrument to `ValueObserver`

Refer to the [API specs](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/metrics/api.md#valueobserver).

[2020-05-29 17:44] lzchen opened #754 "Add the UpDownCounter instrument"
Part of [#711]

Similar to `Counter`, add an `UpDownCounter` instrument.

Refer to the [API specs](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/metrics/api.md#updowncounter).

[2020-05-29 17:48] lzchen opened #755 "Add the SumObserver instrument"
Part of [#711]

Add the `SumObserver` instrument, the asynchronous version of a `Counter`.

Refer to the [API specs](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/metrics/api.md#sumobserver).

[2020-05-29 17:50] lzchen opened #756 "Add the UpDownSumObserver instrument"
Part of [#711]

Add the `UpDownSumObserver ` instrument, the asynchronous version of a `UpDownCounter`.

Refer to the [API specs](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/metrics/api.md#updownsumobserver).

[2020-05-29 21:02] TheCamNelson opened #757 "Verify that collector parameters are valid"
**Problem**
Unable to verify if the parameters `collector_host_name `, `collector_port ` and `collector_endpoint ` that are passed to `opentelemetry.ext.jaeger.JaegerSpanExporter` are valid

**Solution**
Ideally, theres some method that verifies the the collector endpoint; if not valid, then tracing can be disabled so nothing breaks

[2020-05-29 21:51] aabmass commented on #750
Going through the "Getting Started" doc a few days ago, I was definitely confused by the PushController.

In #751 you mentioned putting all the configuration including the collection interval into `MeterProvider`. I think that would prevent the user from having metrics with different collection intervals. Is there a potential use case where a user might want metrics on different collection interva

[2020-05-29 23:11] lzchen commented on #750
Yes there are definitely uses cases where the user wants different collection intervals. For example, on Azure side, we have the regular custom metrics you can record and export, and we have live metrics, which export system related metrics automatically very frequently. Users would probably not want to export regular metrics with such high frequency.

With that being said, you are correct about t

[2020-05-30 18:43] toumorokoshi opened #758 "pylint fails on relative import in tests directories"
the relative imports in test directories fails with multiple tests/ directories, because a single __init__.py declares it as a regular namespace vs a package namespace:

https://packaging.python.org/guides/packaging-namespace-packages/#packaging-namespace-packages

Removing the __init__.py is the correct approach, as this makes the directory a namespace package, implicitly. However, pylint doesn't

[2020-05-30 18:46] toumorokoshi commented on #746
done!

[2020-05-30 18:46] #746 closed

[2020-05-30 18:48] toumorokoshi opened #759 "Add docparams lint check"
We should add a check for mismatched names in docstrings, as called out in #145.

Creating this ticket as we should revisit this work, but are prioritizing other efforts currently.

[2020-05-30 19:00] toumorokoshi opened #760 "rename "ext" to "instrumentations" and "exporters""
Now that https://github.com/open-telemetry/opentelemetry-specification/pull/539 has landed, it would be great to adhere to the standard package names. I'm working with other languages as well.

For us, I think we should start by naming everything new as an "exporter" or "Instrumentation". And then a followup PR to rename.

We should do this work before 1.0 / GA, while all packages are in beta.

[2020-05-31 09:36] #706 closed

[2020-05-31 17:53] lzchen commented on #760
Good idea. I'm assuming the current Pypi packages also have to be deprecated for the new ones to replace them?

[2020-06-01 15:45] sethmaxwl commented on #757
This seems to be something that could be given the "good first issue" tag. Am I correct in my understanding of the depth of this issue?

[2020-06-01 16:37] aabmass commented on #664
Good to close?

[2020-06-01 17:42] #664 closed

[2020-06-01 17:50] cnnradams commented on #632
I can take this :)

[2020-06-01 18:05] lzchen commented on #757
Can define what you mean by "valid"?

[2020-06-01 18:09] TheCamNelson commented on #757
Is the collector thats created by "http://{collector_host_name}:{collector_port}{collector_endpoint}" able to receive data?
Right now there is nothing that will tell you if the collector is actually getting the data or not, the only way to know is to go in and check using Jaeger or SignalFx or whatever.

[2020-06-01 18:22] ocelotl opened #762 "Make boto and botocore instrumentations share code"
The boto and botocore instrumentations share some code. Once #689 and #665 are merged in master make one depend on the other so that the code is not duplicated.

[2020-06-01 18:24] sethmaxwl commented on #313
Is this still an issue? `loader.py` doesn't seem to exist in that location anymore.

[2020-06-01 20:50] sethmaxwl commented on #623
I can take this

[2020-06-01 22:33] aabmass commented on #711
@lzchen any preference for one of these instruments I can get started on?

[2020-06-01 22:37] lzchen commented on #711
No preference.

[2020-06-01 23:10] codeboten commented on #623
Thanks! Assigned.

[2020-06-02 01:21] aabmass commented on #754
I can pick this one up!

[2020-06-02 15:01] ericmustin opened #766 "Add instrumentation for pymemcache"
👋 Hello, I just wanted to reach out and propose to migrate the Datadog donated pymemcache instrumentation. I should be able to make a PR in the coming days.

[2020-06-02 15:47] codeboten commented on #766
Hello @ericmustin, that would be great! I'll assign this issue to you

[2020-06-02 15:57] Oberon00 opened #767 "Suspend/remove me (@Oberon00) as an approver"
@open-telemetry/python-maintainers

For quite some time now, I'm unfortunately not really involved with opentelemetry-python anymore. I also don't see this changing in the near future. So I think I can be removed as a python approver, as it doesn't feel right to me to still have this role. Also, my GitHub notifications have a lot of review requests for Python that I don't follow up on anymore thes

[2020-06-02 17:43] aabmass commented on #313
Mypy is still pinned, but I guess this was closed by #466 which removed `loader.py`. I can create a new issue for the untyped file added it in that PR and see if mypy can be upgraded:

https://github.com/open-telemetry/opentelemetry-python/blob/ce269a36f1678deaa1c2053352499b34fa65f4ca/opentelemetry-api/src/opentelemetry/configuration/__init__.py#L15-L16

[2020-06-02 18:07] lzchen commented on #767
Sad to see you go @Oberon00 :O

[2020-06-02 18:14] lzchen commented on #313
@aabmass
Sounds like a good idea. Create a new issue, link this old one, and see if the mypy issue still persists. I can assign it to you one you create it.

[2020-06-02 18:18] #752 closed

[2020-06-02 18:24] aabmass opened #768 "Remove type ignore in Configuration and upgrade mypy to 0.770"
The whole configuration `__init__.py` is type ignored: https://github.com/open-telemetry/opentelemetry-python/blob/ce269a36f1678deaa1c2053352499b34fa65f4ca/opentelemetry-api/src/opentelemetry/configuration/__init__.py#L15-L16

This file was created when `loader.py` was removed in #466 (which closes #313), but introduced new typing issues.

- remove the type ignore
- fix the type errors
- upgrade m

[2020-06-02 18:50] #313 closed

[2020-06-02 22:37] #628 closed

[2020-06-03 04:18] toumorokoshi opened #771 "Consider making Configuration dict-like"
#769 does a lot of work to make Configuration effectively a dictionary, under the hood.

Thoughts on making it a dict-like interface? I think it helps:

1. expands the legal configuration values
2. avoids typing complexity
3. it's being used as a key-value set today, just generally with getters.

Thoughts?

[2020-06-03 04:19] toumorokoshi commented on #771
@ocelotl for your thoughts.

[2020-06-03 04:44] #767 closed

[2020-06-03 07:18] Oberon00 commented on #767
Thank you for doing the removal.

I'm also sad that I have to go for now, but I currently have different responsibilities where working on opentelemetry-python just doesn't fit in my schedule. You'll still see me around in the OpenTelemetry project, e.g. in the spec and Java repositories. I also hope to come back to opentelemetry-python sometime in the future.

It was good working with you all! 😃

[2020-06-03 13:27] sethmaxwl commented on #623
Would decoding anything of the type bytes before setting the attribute be an acceptable fix here?

[2020-06-03 20:40] aabmass opened #773 "Tox doesn't run mypy on the sdk code"
Currently, `tox.ini` only has mypy running on the api, so the sdk is not covered in CI: https://github.com/open-telemetry/opentelemetry-python/blob/2ad9f497c56117c26fd49ec63d996ed85df36e0f/tox.ini#L254-L260

See the commands in an example run:
[code]

[2020-06-04 14:29] aabmass commented on #623
Linking my comment from the PR here: https://github.com/open-telemetry/opentelemetry-python/pull/775#issuecomment-638500925

FWIW the OTLP proto doesn't include any bytes type: https://github.com/open-telemetry/opentelemetry-proto/blob/b54688569186e0b862bf7462a983ccf2c50c0547/opentelemetry/proto/common/v1/common.proto#L26-L48

[2020-06-04 16:16] toumorokoshi commented on #710
Sorry, re-opening this issue, as the asgi instrumentation has landed (awesome!), but there's still some work to be done to make FastAPI / Starlette seamless.

[2020-06-04 17:29] codeboten opened #778 "Nominate @lzchen for python-maintainers"
Nominate @lzchen to become a python maintainer. Following the community guidance for maintainers.

### GitHub Username

@lzchen

### Organization you are requesting membership in

@open-telemetry/python-maintainers

### Sponsors (i.e. @open-telemetry/python-maintainers)

- @codeboten
- @toumorokoshi

[2020-06-04 18:06] cnnradams opened #779 "disable_tracing_hostname for URL exclude lists not covering reasonable use cases"
There are two URL exclude lists for webservers:
#### disable_tracing_path
Disables paths based on a regex after (not including) the hostname. Should be able to include/exclude any combination of paths, but does not include hostname
#### disable_tracing_hostname
Disable path based on the exact URL being included in a list.

`disable_tracing_hostname` seems to be significantly less useful than `disa

[2020-06-04 18:55] #287 closed

[2020-06-04 19:10] cnnradams commented on #722
After further investigation this is not easily possible and does not provide many benefits. Closing

[2020-06-04 19:10] #722 closed

[2020-06-04 22:34] lzchen commented on #779
I think originally, the logic taken from [OpenCensus](https://github.com/census-instrumentation/opencensus-python/blob/master/opencensus/trace/utils.py#L73) was to cover the use cases that were most common (users would match exact urls that they do not want to be traced with hostnames, or urls under a certain path would not want to be traced). I'm not to certain whether or not these included thing

[2020-06-05 14:04] cnnradams commented on #779
I think removing `hostnames` and making `path` extend to the whole URL will solve most reasonable use cases of exclude lists.

If the user isn't supposed to use regex then they can't generalize paths to be endpoints, for example if they wanted to block `/hello/{helloid}/info` but not `/hello` or `/info`, or block based on the value of a query parameter which could be in any order (eg, `/path?a=1&b

[2020-06-05 18:28] aabmass opened #781 "Address issue of user accidentally replacing global provider"
@justin0mcateer was having issues with the global TracerProvider's config not being the same across modules. It turned out to be an accidental issue with the order of the OT api calls causing the provider to be overwritten:

[code]

In this case, `b.py` runs first and the global `TracerProvider` gets set implicitly. `b.py`'s tracer was made using this default global provider.

Then, `a.py` runs an

[2020-06-05 18:41] lzchen commented on #779
@ocelotl  Thoughts?

[2020-06-05 20:10] codeboten commented on #623
fixed by #775

[2020-06-05 20:10] #623 closed

[2020-06-05 22:05] #713 closed

[2020-06-05 22:45] toumorokoshi opened #782 "Enable API to easily start / stop span, without a ContextManager"
Right now, the only api available to start a span in a context is use_span, which is a contextmanager.

It should be possible to manually start and stop an active span. Technically this is possible, by using the context API directly:

[code]

I haven't thought through where these APIs will live exactly, but I do believe we should wrap the interaction with the context API. Or at minimum provide abs

[2020-06-05 22:56] toumorokoshi commented on #782
Current sketch: something like:

[code]
This is another uneven API, but fairly succinct and removes layers of abstraction. We could wrap the detach call with something more semantic:

[code]
Or I guess we could do even top level:

[code]
Since the active span is unrelated to the tracer anyway.

[2020-06-06 17:35] toumorokoshi opened #783 "Investigate async force flush approach for spanprocessors."
As part of #594, work was done to introduce two different MultiSpanProcessors: sync and async. Async uses a thread pool to be asynchronous.

@mauriciovasquezbernal argues that we may want to instead allow the caller to choose what sort of concurrency behavior to ask of the span processor (introducing a flush_force_async method):

https://github.com/open-telemetry/opentelemetry-python/pull/594#issu

[2020-06-06 17:55] toumorokoshi commented on #778
Org has been modified. Once the PR is merged we can close. Welcome and congrats!

[2020-06-07 00:02] ocelotl opened #785 "Add opentelemetry proto files"
Add OpenTelemetry proto generated Python files.

[2020-06-07 00:14] ocelotl opened #786 "Add OTLP span exporter"
Add an implementation for a span exporter that uses OTLP.

[2020-06-07 10:41] hacst commented on #365
Making gunicorn just work would definitely be great. Things I stumbled over so far:
- Generally gunicorn is run multiprocess so things like prometheus export become quite tricky (see https://github.com/prometheus/client_python#multiprocess-mode-gunicorn). Not sure the SDK in general will behave as expected.
- Gunicorn writes the access log after closing the wsgi request so annotating the log messa

[2020-06-08 16:39] #768 closed

[2020-06-08 20:52] lzchen commented on #783
From a user standpoint, what does this new proposed approach entail? Post [#594], users would instantiate either the sync or async spanprocessor. Is the proposed change to instead expose an API call to either force flush sync/async, and then use the appropriate spanprocessor behind the scenes?

To bring up @mauriciovasquezbernal 's point, should we really have concurrency implemented in the MultiS

[2020-06-08 21:41] #778 closed

[2020-06-08 22:52] #610 closed

[2020-06-08 22:52] #667 closed

[2020-06-08 22:52] #735 closed

[2020-06-08 22:52] #608 closed

[2020-06-09 04:43] codeboten commented on #283
Closing in favour or #760

[2020-06-09 04:43] #283 closed

[2020-06-09 05:51] #753 closed

[2020-06-09 06:03] lzchen commented on #750
Also another consideration, should `exporter` be on the `MeterProvider` or `Meter` level? That is, would it be likely for a user to need to export to different backends depending on `Meter`?

[2020-06-09 16:51] aabmass commented on #785
I was wondering if it's worth including a script to regenerate the proto files, too. I imagine it's simple enough but involves a few steps like cloning the proto repo and a bunch of different flags.

I also wanted to pitch generating stubs with something like [mypy-protobuf](https://github.com/dropbox/mypy-protobuf). `protoc` generates kinda [weird code](https://github.com/open-telemetry/opentelem

[2020-06-09 17:05] #785 closed

[2020-06-09 17:06] toumorokoshi commented on #785
@aabmass I think those are really good suggestions. I merged in #728 because the OLTP is blocking on this, but if you want to file issues / PRs with those ideas, that would be great.

I'll get around to issues too, later today if you don't have time.

[2020-06-09 17:38] aabmass opened #792 "Add script to regenerate proto files"
See https://github.com/open-telemetry/opentelemetry-python/issues/785#issuecomment-641437246.

It is useful to have a quick and easy way to regenerate python code for when [https://github.com/open-telemetry/opentelemetry-proto](OTLP) is revised or when `protoc` fixes come out.

[2020-06-09 17:40] aabmass opened #793 "Generate pyi stubs from proto files"
See https://github.com/open-telemetry/opentelemetry-python/issues/785#issuecomment-641437246.

Can be done at the same time as #792

[2020-06-09 17:41] aabmass commented on #792
This can be assigned to me!

[2020-06-09 17:41] aabmass commented on #793
This can be assigned to me!

[2020-06-09 17:49] #736 closed

[2020-06-09 20:48] ocelotl opened #797 "Add an OTLP metric exporter"
Add a metric exporter that uses OTLP

[2020-06-09 20:53] lzchen opened #798 "Make controllers configurable in Metrics SDK"
As @ocelotl has mentioned in [this comment](https://github.com/open-telemetry/opentelemetry-python/pull/791#discussion_r437704641) following [#791], add the ability to configure types of controllers to be instantiated and used within a pipeline.

Should be in conjunction with creating a PullController.

[2020-06-09 20:54] toumorokoshi opened #799 "Add majorgreys as an approver"
see https://github.com/open-telemetry/community/issues/378

[2020-06-09 21:18] #675 closed

[2020-06-09 23:54] #755 closed

[2020-06-09 23:54] #756 closed

[2020-06-09 23:55] #750 closed

[2020-06-10 04:41] majorgreys commented on #799
I requested to be added to the and looks like @lzchen did so!

[2020-06-10 20:59] codeboten opened #805 "ext/pyramid: add docs page"
An entry in the docs is missing for the pyramid instrumentation.

[2020-06-10 23:44] #786 closed

[2020-06-10 23:45] #711 closed

[2020-06-11 14:27] aravinsiva commented on #715
I can take this on if help is still needed.

[2020-06-11 17:20] ThePumpingLemma opened #817 "ext/boto and ext/botocore: fails to export spans via jaeger"
**Describe your environment**
[code]

**Steps to reproduce**
Install and enable ext/boto with a jaeger exporter configured

**What is the expected behavior?**
Spans are exported via jaeger

**What is the actual behavior?**
[code]

**Additional context**
Span creation code stomps the resource field with a string, which is not the expected type of `Resource`:
- https://github.com/open-telemetry/open

[2020-06-11 17:24] ThePumpingLemma opened #818 "ext/boto: Could not serialize attribute aws.region to tag when exporting via jaeger"
**Describe your environment**
[code]

**Steps to reproduce**
Install and enable ext/boto with a jaeger exporter configured. I saw the issue with SES, but I assume other calls have the same problem as well.

**What is the expected behavior?**
`aws.region` should be serialized correctly.

**What is the actual behavior?**
`Could not serialize attribute aws.region:('us-east-1',) to tag`

**Additional

[2020-06-11 20:57] codeboten commented on #564
Would love to see some progress on this discussion.... could we vote:

🟦   JSON
🔵  YAML
🔹  TOML
💙  Python (like Django does for its settings file)
🚙   INI

[2020-06-11 21:03] toumorokoshi commented on #564
I thing I'll call out that json and ini files I'd explicitly vote against.

ini files have no ability to do nested data structures, and as a result you end up writing a hacky way to express them.

json is hard to read and fairly error-prone (the fact that trailing commas are not allowed and error messages don't make that clear has made hand-editing json a trial, IME).

[2020-06-11 21:13] codeboten commented on #564
worth nothing the collector uses `yaml`

[2020-06-11 21:44] codeboten commented on #622
Looks like this was addressed in #594

[2020-06-11 21:44] #622 closed

[2020-06-11 21:48] majorgreys commented on #564
Seems like the decision is between `toml` or `yaml`. Consistency across OpenTelemetry projects would be nice but I give more weight to the one more commonly used in each language. Given that I would vote for `toml` with it's `ini` style syntax.

[2020-06-11 23:35] #641 closed

[2020-06-11 23:35] #352 closed

[2020-06-12 00:02] toumorokoshi commented on #782
- if we do this on the API level, we should raise this up to the spec.
- delete the object could close the span?
  - can't delete the object, it gets passed to the span processor
- look at other languages?
- other option: encapsulate context in the Tracer / Span to handle owning the token.

Discussion from the 06/11 sig determined we should:

1. not expose the context token to the end user prefera

[2020-06-12 00:10] aabmass commented on #564
I voted YAML but I don't want to be the tie breaker lol

[2020-06-12 01:47] Renz2018 commented on #564
`yaml` is the most used

[2020-06-12 18:54] AndrewAXue opened #822 "Cloud Trace Propagator"
The OpenTelemetry SDK ships with propagators for Zipkin and Jaeger. OpenCensus also ships with a propagator for Cloud Trace (x-cloud-trace-context): https://github.com/census-instrumentation/opencensus-python/blob/master/opencensus/trace/propagation/google_cloud_format.py

We should add a Cloud Trace propagator to this exporter.

-> this could offer customers the possibility of being compatible wi

[2020-06-12 23:16] toumorokoshi opened #824 "datadog: honor DD environment variables"
There's a few environment variables that are not honored by the exporter currently. These are:

* DD_AGENT_HOST, for the agent hostname
* DATADOG_SERVICE_NAME, DD_SERVICE_NAME, DD_SERVICE for the datadog service name.

There is a more comprehensive list, as outlined here:

https://docs.datadoghq.com/tracing/setup/python/#configuration

[2020-06-12 23:18] toumorokoshi commented on #824
another one :DD_ENV: https://docs.datadoghq.com/tracing/setup/python/#configuration

[2020-06-12 23:19] ArijitDesai opened #825 "Span context not propagating through services using requests instrumentation."
**Issue**
I have 2 applications running simultaneously. One being a basic Django Application(ServiceA) and the other also an Django application(ServiceB) running on Docker. So I am trying to hit the API(using POST) of serviceB from serviceA. And I want to maintain the trace from A until B finishes its task. To achieve that I have used requests instrumentation along with Django Instrumentation in S

[2020-06-12 23:27] toumorokoshi commented on #825
@ArijitDesai can you capture the headers that are being sent from the requests client, and the headers that are seen in django?

http headers is how all known propagators transmit trace context. If everything is instrumented correctly, then we can figure out where the discrepancy is coming from by looking at the headers.

[2020-06-12 23:31] ArijitDesai commented on #825
@toumorokoshi Can you help me how do I get the headers captured. Sorry if that was a lame/silly question. Still getting used to openTelemetry

[2020-06-12 23:34] ocelotl commented on #825
Also, please do not use screenshots, but just copy and paste the text with code format. It makes it possible to copy from it later.

[2020-06-12 23:35] toumorokoshi commented on #825
@ArijitDesai I typically use a pdb statement in the request handler, and then print the request object.

https://docs.djangoproject.com/en/3.0/ref/request-response/#django.http.HttpRequest.headers

[2020-06-12 23:50] ArijitDesai commented on #825
@toumorokoshi Is this fine ? Or do you need more information?
[code]
[code]

[2020-06-12 23:54] toumorokoshi commented on #825
Perfect! the header:

     'traceparent': '00-281717f6589a6a35086b35d254cf3742-4057c0885a0d49e0-01'

Is using the w3c tracecontext. @ArijitDesai one last piece of info: can you post your opentelemetry sdk initialization code? want to see what propagator is set (if any)

[2020-06-12 23:56] toumorokoshi commented on #825
It's possible there's a bug in our django instrumentation, if everything looks right there. This helps us track down where to look if so. Thanks!

[2020-06-13 00:00] ArijitDesai commented on #825
**For ServiceA:**

[code]

**For ServiceB:**
[code]

[2020-06-13 00:05] ArijitDesai commented on #825
Also if I have to try with B3 headers, how would I change and check if that working or not @toumorokoshi

[2020-06-13 00:29] cnnradams commented on #825
For what its worth I have a flask/request/flask app and the context propagates correctly, ie the trace_id is the same on both ends. Which is interesting because there does not seem to be anything different between how flask and django handle the token extraction

[2020-06-13 00:32] ArijitDesai commented on #825
**ServiceA Header**
[code]

**ServiceB Header**
[code]

Does this mean both serviceA and serviceB are using two different traceContexts?

[2020-06-13 04:02] toumorokoshi commented on #825
@ArijitDesai is that both server headers? or is the one from ServiceA from the client?

It would be unusual for ServerA to have a traceparent header, considering it would be the first request in a trace. At that point, the instrumentation should spawn a new span, with a new traceId

[2020-06-13 04:08] #805 closed

[2020-06-13 14:21] ArijitDesai commented on #825
Yes, @toumorokoshi  those are both service headers.
ServiceA headers is obtained from (serviceA running on local host http://127.0.0.1:8000/)
[code]

ServiceB (Trying to do a get from serviceA inorder to obtain the headers)
[code]

[2020-06-15 15:21] codeboten commented on #825
@ArijitDesai can you post a gist of the code from both services?

[2020-06-15 16:38] toumorokoshi opened #826 "starlette/fastapi: remove starlette route extraction hack."
Right now, the starlette/ fastapi instrumentations need to re-run route matching code, as it is not possible to extract the route otherwise:

https://github.com/open-telemetry/opentelemetry-python/pull/777/files#r440262619

There is an open PR to add this in starlette:  https://github.com/encode/starlette/pull/804

[2020-06-15 20:12] AndrewAXue commented on #822
Addressed in https://github.com/open-telemetry/opentelemetry-python/pull/819

[2020-06-16 08:49] marianhromiak opened #830 "Cloud monitoring exporter doesn't work"
Hi,
when I tried example for Cloud Monitoring exporter for OpenTelemetry it doesn't work.
**Describe your environment**
Platform: 'Linux-5.3.0-53-generic-x86_64-with-Ubuntu-18.04-bionic'
Version: Python 3.6.9
Installed packages:
[code]

**Steps to reproduce**
Download and run file:
https://github.com/open-telemetry/opentelemetry-python/blob/stable/docs/examples/cloud_monitoring/basic_metrics.py

*

[2020-06-16 10:40] owais commented on #663
As a first step, I think auto-instrumentation should automatically enable the OTLP exporter by default. All exporters should be configurable with environment variables so the CLI interface doesn't get too polluted. It could look something like:

[code]

or

[code]

[2020-06-16 10:42] owais commented on #663
In any case, I think as a first step, we should enable OTLP by default when running `opentelemetry-instrument`. One open question with this is how do we detect that the user has enabled a different exporter in code and then disable the default exporter. We can detect the existence of another exporter but how do we detect the intent? The simple answer is to always disable auto-enabled exporter if a

[2020-06-16 11:15] owais commented on #663
Can someone assign this to me please?

[2020-06-16 16:14] codeboten commented on #663
Done!

[2020-06-16 16:20] codeboten commented on #663
@owais If the OTLP exporter is configured by default, would you expect the `opentelemetry-ext-otlp` package to become a dependency of the `opentelemetry-instrumentation` package? Or would it still be installed separately and report an error if it wasn't present? An alternative could be to move the otlp exporter into the SDK, but then that makes grpc a requirement of the SDK.

I wonder if there's a

[2020-06-16 16:27] owais commented on #663
As an end user, I'd expect it to work out of box when running `opentelemetry-instrument <app>` command. I think perhaps the bootstrap script can help? May be we can add an `--exporter` flag to bootstrap that installs the specified exporter but defaults to otlp? Then the instrument command can have some mechanism to detect the installed and preferred exporter?

[2020-06-16 16:32] lzchen commented on #663
I'd prefer to not have any default behavior regarding things that are supposed to be configurable (exporters). What about a configuration file that can be passed into the `opentelemetry-instrument`? Using env variables doesn't seem as scalable, especially with the ever growing list of configurable "things" that users can do.

[2020-06-16 16:35] codeboten commented on #663
I like the idea of a [configuration file](#555) , makes it easy to check in and re-use as well. Would be nice if config validation take care of reporting any things that are configured but unavailable as well.

Re. environment variables it's worth noting this issue: https://github.com/open-telemetry/opentelemetry-specification/issues/572

[2020-06-16 16:59] lzchen commented on #830
Looks like the changes in https://github.com/open-telemetry/opentelemetry-python/pull/804 were not included in the latest release.

@AndrewAXue

[2020-06-16 17:14] AndrewAXue commented on #830
Hey so this issue has actually already been addressed in the master branch, it just needs to be released. The next release is in around 2 weeks, in the meantime you can clone the repo,
[code]
To use the local copy of the package.

[2020-06-16 17:35] AndrewAXue commented on #830
Also feel free to join our gitter https://gitter.im/open-telemetry/opentelemetry-python and message me directly for help :)

[2020-06-16 20:27] mat-rumian opened #832 "Missing spans in case of multi library auto-instrumented project"
### Environment

*Application:*
[code]

*Collector*
`Jaeger All In One = 1.18`
### Application design
Simple test application called `Italian Coffee Bar`
- `client` - The Coffee Lover
- `3 http_servers` - The Coffee Bar, The Coffee Machine and The Cashdesk
- PostgresDB (v9.6.2)

*The Coffee Lover* - client,  `requests` lib, `manually` instrumented by `opentelemetry.ext.requests.RequestsInstrumento

[2020-06-16 23:18] lzchen commented on #832
For the spans that you believe are missing:
1. coffee_bar response to coffee_lover client - Flow point 1
2. coffee_machine response to coffee_bar - Flow point 2.
3. cashdesk response to coffee_bar - Flow point 3.
I'm confused for the above three. Aren't these present in the diagram?

4. cashdesk connection and query to PostgresDB - Flow point 4.
- This is actually missing, there should be a span w

[2020-06-17 03:53] majorgreys commented on #824
Thanks for raising these issues @toumorokoshi.

I only added support for configuring `DD_TRACE_AGENT_URL` whereas setting the agent hostname and port have been deprecated (though the documentation you linked to does not reflect that, which we will address):

https://github.com/open-telemetry/opentelemetry-python/blob/master/ext/opentelemetry-ext-datadog/src/opentelemetry/ext/datadog/exporter.py#L6

[2020-06-17 03:56] ocelotl commented on #669
@codeboten, can this issue be closed now that we have #786 and #797?

[2020-06-17 03:57] codeboten commented on #669
Yup.

[2020-06-17 03:57] #669 closed

[2020-06-17 03:57] ocelotl commented on #564
Does this mean that we can decide for YAML?

[2020-06-17 05:13] #629 closed

[2020-06-17 10:44] mat-rumian commented on #832
@lzchen I made a mistake in description, I'm sorry.
Flow 1. `coffee_lover` to `coffee_bar` is complete - there're `spanKind.CLIENT` and `spanKind.SERVER`

**Missing spans**
- Flow 2. is not complete, missing `spanKind.CLIENT` which should be generated by `coffee_bar` POST request to `coffee_machine`. (spanKind.SERVER is present, and generated by coffee_machine)
- Flow 3. same as flow 2, missing `s

[2020-06-17 16:04] codeboten commented on #663
This doc was put together by @mauriciovasquezbernal around what a configuration file could look like: https://docs.google.com/document/d/10GW_yfi0yHozZIpUdi3t7Vg3XLftID1brnnzPwWK-Is/edit

[2020-06-17 17:21] aravinsiva commented on #715
For this issue do all instances of attributes.get() need to be refractored to the new getter method (i.e. span.get_attribute(key)?

[2020-06-17 17:24] carlosalberto commented on #715
Would this be in the main OTel API? Asking cause we don't have that one in the other languages (they do exist in the SDK though).

[2020-06-17 17:26] aravinsiva commented on #715
No right now just implementing in the sdk but I can add it ton the API if need be

[2020-06-18 15:08] cnnradams opened #839 "Support for metrics in library instrumentations"
1. There is definitely value in generating metrics (either by user choice or automatically) for many instrumented libraries. Having a latency metric for something like gRPC is valuable for visualization purposes and it is difficult to manually create that metric outside of a wrapping library. Things like bytes in/out, count of requests on topic, etc could also prove useful. Is there a plan to add

[2020-06-18 15:24] codeboten commented on #839
Yes, I struggled with this when creating the system-metrics instrumentation. Would definitely be in favour of a better way to get there.

[2020-06-18 16:46] #822 closed

[2020-06-18 16:53] codeboten commented on #798
Closing this, configuration for metrics should be addressed as part of the work to support configuration files #555

[2020-06-18 16:53] #798 closed

[2020-06-18 17:15] aabmass opened #840 "Log a warning when replacing the global Tracer/Meter provider"
If the global `TracerProvider` or `MeterProvider` is replaced, there is a good chance it was done by accident and can lead to unexpected behavior. This is a good starting point towards addressing #781.

I think this would be a "good first issue" if someone can add the label!

[2020-06-18 18:31] #824 closed

[2020-06-18 18:42] codeboten commented on #715
Tthe main problem that was being captured by this issue is that many instrumentations are calling out the a span's `attributes` directly. This is fine for access the SDK's implementation of a Span but that's not the case for the api, which has no `attributes` variable. There's a definition for a [setter](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/

[2020-06-18 21:29] ArijitDesai commented on #825
@codeboten , I have tried `request instrumentation` on a simple client server application and it  works.
Therefore, I think there is something that is stopping the other application in receiving the context.

[2020-06-18 22:36] AntonKueltz opened #842 "Using exclude paths for all instances of a Flask app"
This is less a feature request than a question about how to use `OPENTELEMETRY_PYTHON_FLASK_EXCLUDED_HOSTS` to exclude routes from being traced for all instances of a flask application (i.e. regardless of host being deployed to). I initially thought something like below would work -

[code]

But it appears that this would be executed after the `Configuration` singleton gets initialized, and won't

[2020-06-18 23:08] ocelotl opened #843 "Docker test test_fn_task_delay is failing"
Apparently, the 2.24.0 version of requests released yesterday makes the Celery Docker test `test_fn_task_delay` to fail. The specific change that causes this failure is [this](https://github.com/psf/requests/pull/5492/files#diff-28e67177469c0d36b068d68d9f6043bfR662-R667) one.

[2020-06-19 01:49] ocelotl commented on #832
Hello @mat-rumian

I am trying to reproduce your issue. I may have found something similar to what has happened to you. Can you please share the complete code of your application (if possible to you)?

[2020-06-19 09:57] mat-rumian commented on #832
Hi @ocelotl
Please take a look @ https://github.com/mat-rumian/the-coffee-bar-app
You will find there complete code of the application. Please let me know if you will need some help :)

[2020-06-19 14:21] ocelotl commented on #832
Perfect, thanks!

[2020-06-19 14:54] ocelotl commented on #843
Closing, see #844.

[2020-06-19 14:54] #843 closed

[2020-06-19 16:16] lzchen commented on #842
Calling `Configuration()` explicitly for the first time would initialize the `Configuration` singleton, so you should do this after the `environ[...]` line.

[2020-06-19 16:19] lzchen commented on #842
EDIT: Sorry I didn't read your question carefully. It seems like we should be implementing a `set` method for the Configuration API.

[2020-06-19 17:14] lzchen commented on #564
+1 for YAH-mal

[2020-06-22 15:42] lzchen commented on #839
With [start_pipeline](https://github.com/open-telemetry/opentelemetry-python/blob/master/opentelemetry-sdk/src/opentelemetry/sdk/metrics/__init__.py#L526) now implemented, configuration (for exporters and meters) is done on the `meter_provider` level now. Currently there is still the issue of wanting to configure different interval times and exporter/meter combinations (previously we were assuming

[2020-06-22 15:53] lzchen opened #845 "Implement a setter for Configuration API"
There isn't a way currently to programmatically set configuration values. There could be some cases where the environment variables cannot be accessed manually and configuration is set before envvars can actually be grammatically changed.

Brought up due to [this issue](https://github.com/open-telemetry/opentelemetry-python/issues/842).

@ocelotl

[2020-06-22 15:56] lzchen commented on #738
https://github.com/open-telemetry/opentelemetry-python/pull/747

[2020-06-22 15:56] #738 closed

[2020-06-22 15:57] lzchen commented on #710
I believe https://github.com/open-telemetry/opentelemetry-python/pull/777 addresses this.

[2020-06-22 15:57] #710 closed

[2020-06-22 16:05] lzchen commented on #704
A OTLP [metrics exporter](https://github.com/open-telemetry/opentelemetry-python/pull/835) is being implemented. As well, there is a [proposal](https://github.com/open-telemetry/oteps/pull/117) to make `MinMaxSumCountLast` as the default aggregation for `ValueRecorder` (previously Measure) and the data point type will be added to the protobuf schema.

[2020-06-22 17:47] #792 closed

[2020-06-22 17:47] #793 closed

[2020-06-22 17:50] majorgreys opened #846 "wsgi: set error status on span"
The wsgi instrumentation does not set an error status if an exception is caught while handling a request:

https://github.com/open-telemetry/opentelemetry-python/blob/master/ext/opentelemetry-ext-wsgi/src/opentelemetry/ext/wsgi/__init__.py#L212

[2020-06-22 17:56] AntonKueltz commented on #842
Yes a `set` method would work great for this case, thanks!

[2020-06-23 15:33] toumorokoshi commented on #715
It doesn't necessarily needed to be added to the API, but it does requires the need for an SDK-specific noop span that returns nothing for the getter.

That said I support more explicitly providing a "Span" object in the API, and having an attribute getter with that.

[2020-06-24 04:39] dtaniwaki opened #851 "Unable to Wrap Interceptors"
**Describe your environment**

My env
[code]

I'm trying to use [wrap_server_method_handler](https://github.com/grpc/grpc/pull/22925) but it fails because the opentelemetry interceptor wraps a handler with something different.

[code]

**Steps to reproduce**
Describe exactly how to reproduce the error. Include a code sample if applicable.

Here's the interceptor which caused the error above.

[cod

[2020-06-24 05:38] ocelotl commented on #832
Ok, here it is: #852

This was a very tricky issue because the root cause was hidden in closures in the instrumentors. Please give it a try with these changes, @mat-rumian and also run this in all consoles before running any of the scripts that make up this example: `export OPENTELEMETRY_PYTHON_TRACER_PROVIDER=sdk_tracer_provider`

![Screenshot from 2020-06-23 23-35-21](https://user-images.githubu

[2020-06-24 07:49] dtaniwaki commented on #851
Here's my workaround.

[code]

[2020-06-25 14:06] mat-rumian commented on #832
@ocelotl thanks a lot for fixing! :) I will wait till new release to check if everything works fine :)

[2020-06-25 17:29] aabmass opened #855 "Remove/anonymize query parameters in DB integrations"
The DB instrumentations are attaching a span attribute `db.statement.parameters` with the raw query parameters which may contain sensitive data. #854 solves this for asnycpg and a similar approach would be good for the other libraries.

 I believe fixing the `opentelemetry-ext-dbapi` instrumentation would fix this for a few of them:
https://github.com/open-telemetry/opentelemetry-python/blob/f8e94

[2020-06-26 10:35] mariojonke opened #860 "Conflicting dependencies when installing packages"
When freshly installing all packages into a new virtual environment following dependency conflicts are logged:

[code]
A dependency tree generated with`deptree` shows the dependencies/conflicts listed in: [otel-python-deptree.txt](https://github.com/open-telemetry/opentelemetry-python/files/4836303/otel-python-deptree.txt). (datadog exporter conflicts excluded since that one should be fixed with:

[2020-06-26 11:51] mariojonke opened #861 "Auto-instrumentation for celery might segfault when mysql is loaded before"
***Environment***
[code]
Auto-instrumentation might fail with a `SIGSEGV` on Linux with python 3.7 when running
[code]
It looks like that loading the instrumentation for `celery` segfaults when instrumentation `mysql` was loaded before (`mysql` currently does not load correctly see: #858, so the issue will not occur until the fix is merged).
Modifying `sitecustomize.py` to:
[code]
makes the segfau

[2020-06-26 15:28] #825 closed

[2020-06-26 15:49] ocelotl commented on #845
Do you mean programatically? :laughing:

[2020-06-26 16:39] lzchen commented on #845
@ocelotl
Yes programatically xD

[2020-06-26 19:36] ArijitDesai opened #862 "In-process Explicit Propagation of Context in a Django Application"
I am trying to call a task from my models.py using  `apply_async` call(celery) and want the trace to continue along with `create_async_child` being the parent span of `job_create_async`. Below is my models.py code where I am trying to inject the context into propagator and extracting it in `job_create_async` method.

**models.py**
[code]

**And in tasks.py**

[code]

But the issue with this approa

[2020-06-27 00:02] ocelotl commented on #779
Well, after taking into consideration all the details like params and protocols, I am more inclined to use a single environment variable that uses a regex and let the user just write the regex to do the exclusions. It is the most powerful approach, since it should cover all possible cases. While regexes can be not too user friendly, I guess that in most of the cases they won't be too different fro

[2020-06-28 18:42] lzchen commented on #779
Sounds good. I think we'll use this as the desired solution.

[2020-06-29 05:40] AndrewAXue commented on #830
Addressed as of version 0.10.0

[2020-06-29 15:26] #830 closed

[2020-06-29 16:48] codeboten opened #869 "chore: update pypi credentials"
A separate account was created to manage packages in pypi, this issue is to track the work to update the publishing to use this account.

[2020-06-29 21:56] Brandon-Kimberly opened #870 "Proposal: Use GitHub Actions for CI/CD"
This issue is in reference to [issue 398](https://github.com/open-telemetry/community/issues/398) posted on the community repository. In this issue, we are proposing that all OpenTelemetry repositories *consider* using GitHub Actions as their CI provider in order to maintain consistency across the various language repositories.

The overall proposal was discussed in the OpenTelemetry maintainers S

[2020-06-30 18:31] #840 closed

[2020-06-30 20:13] #817 closed

[2020-06-30 20:45] codeboten commented on #870
@Brandon-Kimberly I took a brief look at github actions and it seemed not to support older versions of Python out of the box. Have you had a chance to look at whether we can support the full matrix of versions we're testing today?

One of the other benefits of using CircleCI was the ability to cache tox environments, is this something that's achievable with github actions? I'd love to see an examp

[2020-06-30 21:42] CunjunWang opened #874 "Upper Bound Problem of _metrics_to_export"
**Is your feature request related to a problem?**
Yes. Currently the Python Prometheus Exporter implementation uses a double ended queue called  `_metrics_to_export` to work as an intermediate storage. `export()` function in the PrometheusMetricsExporter class add metrics data entry to the queue, and `collect()` function pulls data from the queue. What if the controller keeps adding metric data to

[2020-07-01 17:03] #842 closed

[2020-07-01 17:03] #845 closed

[2020-07-01 18:01] toumorokoshi opened #875 "datadog: support more environment variables"
There's a full list of environment variables supported by ddtracepy:

https://docs.datadoghq.com/tracing/setup/python/

Only a subset is supported today. There probably should be some documentation, or code changes, to support these variables or clarify which variables are supported.

Notable ones we are using internally:

* DATADOG_ENV
* DATADOG_SERVICE_NAME
* DD_AGENT_HOST
* DD_TRACE_AGENT_PORT

[2020-07-01 18:04] ArijitDesai opened #876 "Celery Instrumentation with apply_async function"
I have a basic django application which uses celery to call a method using apply_async and delay functions. I am trying to integrate Otel into my django application. I am using  0.10b0 version of all Otel libraries. I have used celery-auto instrumentation for produce the spans/traces. But I see that the celery-auto instrumentation isnt working.

**Steps to reproduce**
I have attached my code in or

[2020-07-03 18:29] cnnradams opened #879 "gRPC instrumentor server does not work"
**Describe your environment**
python3.7, working out of #878

**Steps to reproduce**
I have a sample gRPC server/client in #878, so checkout that and then run the test
[code]
It raises
[code]

**What is the expected behavior?**
There should be a span since I ran intercept_server, as shown in `test_server_interceptor.py`

**Additional context**
`test_server_interceptor.py` works, what is the differ

[2020-07-06 08:56] owenhaynes opened #881 "TracerProvider now required?"
**Describe your environment**
python 3.8
open telemetry 0.10b
WSL2

**Steps to reproduce**
trying and use the following
[code]
without setting a TracerProvider
**What is the expected behavior?**
code to execute and not crash like it did before before 0.10b

**What is the actual behavior?**
get_current_span() returns none now if trace provider is not set

**Additional context**
How are we supposed

[2020-07-07 01:06] ocelotl opened #883 "Unused asyncpg pytest marks"
[These](https://github.com/open-telemetry/opentelemetry-python/blob/master/ext/opentelemetry-ext-docker-tests/tests/asyncpg/test_asyncpg_functional.py#L45) test cases are using a `pytest.mark.asyncpg` marker that is not defined. This causes warnings to show up in the CI runs. Remove these marks.

[2020-07-07 15:34] #846 closed

[2020-07-07 19:23] #779 closed

[2020-07-07 22:11] ocelotl opened #886 "Update protos"
Update protos to use 0.4.0.

[2020-07-07 22:50] #883 closed

[2020-07-08 06:06] #832 closed

[2020-07-08 07:35] guillaume-chervet opened #887 "[Export Prometheus] from flask route"
Hi,

Thank you for you awesome work here.
I would like to export metrics to prometheus from a Flask application (like behind a route /metrics),

It is possible to do it ?

https://opentelemetry-python.readthedocs.io/en/stable/ext/prometheus/prometheus.html

https://github.com/open-telemetry/opentelemetry-python/blob/master/ext/opentelemetry-ext-prometheus/tests/test_prometheus_exporter.py

ps: doc

[2020-07-08 17:42] lzchen commented on #881
It seems like instead of returning `None`, we can just return an `INVALID_SPAN`, which would be a no-op for any span functions called.

[2020-07-09 23:27] aabmass opened #894 "Update opentelemetry-proto README with instructions"
Add instructions on how to regenerate/maintain the generated proto files to the README file

[2020-07-09 23:28] aabmass commented on #894
Can someone assign to me? :)

[2020-07-09 23:42] codeboten commented on #894
Done!

[2020-07-10 00:41] ocelotl commented on #564
@lzchen @toumorokoshi

It seems like YAML is the chosen one. Can we close this issue?

[2020-07-10 01:37] ocelotl commented on #894
BTW, I was a bit confused about the `VIRTUAL_ENV` variable used in the proto-generating script. It could be something to explain in the README as well.

[2020-07-10 04:21] toumorokoshi opened #895 "standardize on instrumentation detection patterns"
We should consider a standard for marking objects as instrumented by opentelemetry. There are a couple conventions that exist now:

* setting the _is_instrumented attribute
* setting the _is_instrumented_by_opentelemetry attribute

We should choose one, and maybe provide some patterns to reduce the code duplication.

[2020-07-10 04:39] #564 closed

[2020-07-10 16:11] lzchen commented on #895
I like `_is_instrumented_by_opentelemetry ` in case other libraries want to "instrument" as well it avoids collisions.

[2020-07-10 18:29] #881 closed

[2020-07-10 23:51] codeboten opened #899 "ext/celery: fix inconsistent test results"
Currently the celery tests in the docker-tests tox target fail inconsistently. Here's an example failed [build log](https://travis-ci.org/github/open-telemetry/opentelemetry-python/jobs/707008216#L357):
[code]

I've not been able to reproduce the failures in my local environment. We should investigate to get to the bottom of the failures, for now flaky tests have been marked as skipped.

[2020-07-13 05:50] #818 closed

[2020-07-13 13:47] yuxiaoba opened #902 "How to combine the already exsiting opencensus service with opentelemetry?"
**Describe your environment**
python version

`python 3.7`

requirement.txt

[code]
**Steps to reproduce**
I would like to complete the trace code of Google Microservice Demo[ Hipster-shop](https://github.com/GoogleCloudPlatform/microservices-demo)

The Hipster-shop's go services (like the checkout service ) already had opencensus tracing code,
For example in  checkout service main.go:
[code]

Whi

[2020-07-13 15:26] cnnradams commented on #902
If I'm reading this correctly the server span isn't there when it should be? If that's so it's probably further evidence that [the grpc server instrumentor does not actually work](https://github.com/open-telemetry/opentelemetry-python/issues/879)

[2020-07-13 15:45] ocelotl opened #903 "Update environment variable names"
[This](https://github.com/open-telemetry/opentelemetry-specification/blob/88f974d3b14b664610129dde40d8bd40ddec2ef0/specification/sdk-environment-variables.md) now specifies some names for environment variables. Update existing environment variable names to match them.

[2020-07-13 16:28] cnnradams commented on #879
resolved: need to add interceptor before adding your servicer to server 😬

[2020-07-13 16:28] #879 closed

[2020-07-13 17:12] lzchen opened #906 "Align Sampling API with specs"
Looks like Sampling "API' is actually defined as part of the [SDK](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/sdk.md#sampling).

As well, there are some implementation details that are possibly deviating from the spec.
For example, spans set with `is_recording_events` to False are currently not even started/ended. According to the spec, it seems t

[2020-07-13 17:15] #886 closed

[2020-07-13 20:23] ecourreges-orange opened #907 "zipkin exporter does not work with jaeger collector for spanIds/traceIds/parentIds starting with a 0"
**Describe your environment**
I am using Jaeger as backend and can only collect with the zipkin format (Don't ask me why...).
I am using opentelemetry-ext-zipkin to do so

**Steps to reproduce**
Upload a couple of spans until randomly one has an Id with a zero as first hex digit, and you will get an error like this:
[code]

**Cause of the problem and proposed fix**
This is due to the `format(trace

[2020-07-14 17:04] aabmass opened #910 "Run tests on Windows in CI"

[2020-07-14 22:53] ocelotl opened #914 "Fix a few issues in Django example"
The Django example has a few issues, fix them.

[2020-07-15 18:39] #914 closed

[2020-07-15 21:44] rkooo567 opened #916 "Any plan to support Observer metrics in the Prometheus exporter?"
Before opening a feature request against this repo, consider whether the feature should/could be implemented in the [other OpenTelemetry client libraries](https://github.com/open-telemetry/). If so, please [open an issue on opentelemetry-specification](https://github.com/open-telemetry/opentelemetry-specification/issues/new) first.

**Is your feature request related to a problem?**
It seems like t

[2020-07-16 08:53] ericmustin commented on #766
closing as it's been addressed by #772 , thanks y'all

[2020-07-16 08:53] #766 closed

[2020-07-16 18:08] #894 closed

[2020-07-17 09:52] ocervell commented on #365
This would be beneficial indeed.  Gunicorn is widely used to run Flask apps. Flask integration won't work with gunicorn since things like `request_count` would get a separate / process number and we'll have to aggregate across processes. Usually this result in deduplication of timeseries and increased cost.

**Custom metrics**
A big problem right now is for counters across processes, it seems like

[2020-07-17 09:55] ocervell commented on #392
+1, this is a blocker for my customer - can we trust the BatchSpanProcessor to work across threads / processes ?

[2020-07-17 10:05] ocervell opened #923 "OpenTelemetry collector integration"
Hi all,

Seems like we need more clarification in the docs on how to export trace & metrics data to the OpenTelemetry Collector.

The **OpenTelemetry OTLP exporter** vs the **OpenTelemetry OpenCensus exporter**, is a bit confusing, since they're both supposed to export data to the OpenTelemetry Collector.

- OpenTelemetry OTLP Exporter (`opentelemetry-ext-otlp`): exports **span data** to OpenTelem

[2020-07-17 15:33] codeboten commented on #923
Hello @ocervell,

To give a bit more background here. The initial exporter for the OpenTelemetry collector was using OpenCensus as it was the protocol initially implemented by the collector.

The `opentelemetry-ext-otcollector` package is deprecated, as it is now [opentelemetry-ext-opencensusexporter](https://pypi.org/project/opentelemetry-ext-opencensusexporter/).

The OTLP exporter will have sup

[2020-07-17 17:10] codeboten commented on #241
Closing this for now, re-open if users come across this issue.

[2020-07-17 17:10] #241 closed

[2020-07-20 16:30] #273 closed

[2020-07-20 16:31] codeboten commented on #275
This will be addressed by https://github.com/open-telemetry/opentelemetry-python/issues/760

[2020-07-20 16:31] #275 closed

[2020-07-20 16:42] codeboten commented on #210
Closing this issue, it doesn't appear to be relevant anymore.

[2020-07-20 16:42] #210 closed

[2020-07-20 16:45] codeboten commented on #869
This is done

[2020-07-20 16:45] #869 closed

[2020-07-20 18:51] codeboten commented on #342
Tickets for user requests for new instrumentation already exist, @hectorhdzg can we close this issue?

[2020-07-20 18:54] codeboten commented on #712
This is done

[2020-07-20 18:54] #712 closed

[2020-07-20 18:56] codeboten commented on #781
This is done for now.

[2020-07-20 18:56] #781 closed

[2020-07-20 20:33] kevinj-z opened #926 "Filtering span attributes"
**Background**
We have a team that needs to scrub personally identifiable information(PII) from their spans, which will ultimately be exported to Datadog.  The applications use Fastapi and most of them are relying on botocore instrumentation.  The spans for calls to DynamoDB generated by the botocore instrumentor need to have PII scrubbed/filtered from the span attributes.

Would greatly appreciat

[2020-07-21 13:47] ocervell commented on #923
Hey @codeboten,

Sounds good to me. Are we advising to use the `opentelemetry-ext-opencensusexporter` until PR #835 and #797 are here ? It's currently the only way to have metrics flowing into metrics backends. And in the future, we'll replace invocations of this library by `opentelemetry-ext-otcollector` (hopefully with the same interface) ?

Thanks !

[2020-07-21 14:49] codeboten commented on #923
If you're relying on metrics, then I would say it probably makes sense to keep going with the opencensus-exporter until the metrics exporter is implemented. The interface for the otcollector will be the same, as they both implement the exporter interfaces

[2020-07-21 19:11] codeboten commented on #887
hey @guillaume-chervet! It looks like what you're looking for is something more like the [flask prometheus exporter](https://github.com/rycus86/prometheus_flask_exporter) if I understand your request correctly. Is that correct?

[2020-07-21 19:49] guillaume-chervet commented on #887
Hi @codeboten , yes it is. I'am using it for the moment. Thank you for your answer.

[2020-07-21 19:49] #887 closed

[2020-07-21 23:37] #239 closed

[2020-07-22 09:01] ocervell commented on #93
Hi @toumorokoshi , I think this use case is very valid and matches real-world situations (gunicorn > Flask / Django apps). Shared counters would be highly appreciated.

[2020-07-22 15:19] toumorokoshi commented on #365
AFAIK metrics is still in a bit of flux, so waiting might be a good choice. Unless @lzchen has some thoughts there. I guess it is possible today to use the API exclusively to record measures, so if you're ok with some potential backwards-incompatible API changes down the road we could add them.

[2020-07-22 15:22] toumorokoshi commented on #93
@ocervell unfortunately not: as you can imagine, metrics aggregating across worker processes is just as hair as it was a year ago :)

feel free to re-open (or create a new ticket) if you're interested in driving the discussion, or have a specific use case we can design toward.

As another thought, the other design pattern we can leverage instead of some shared object across Python processes is jus

[2020-07-22 16:27] #661 closed

[2020-07-22 16:43] aravinsiva commented on #392
I'd be happy to look into this if help is still needed

[2020-07-22 16:54] codeboten commented on #392
Thanks @aravinsiva, assigning it to you

[2020-07-22 20:29] codeboten opened #928 "Review spec for tracing"
Part of the work for GA is to review tracing API spec and ensure our implementation is correct

[2020-07-22 20:30] codeboten opened #929 "Review metrics specs for GA"
Part of the work for GA is to review metrics API spec and ensure our implementation is correct

[2020-07-22 20:31] codeboten opened #930 "Review context propagation spec for GA"
Part of the work for GA is to review context propagation API spec and ensure our implementation is correct

[2020-07-22 20:33] codeboten opened #931 "Review resources specification for GA"
Part of the work for GA is to review resources API spec and ensure our implementation is correct

[2020-07-22 20:34] codeboten opened #932 "Review semantic conventions specifications"
Part of the work for GA is to review semantic conventions spec and ensure our implementation is correct

[2020-07-22 20:35] codeboten commented on #463
Will be addressed by #906

[2020-07-22 20:35] #463 closed

[2020-07-22 20:38] codeboten commented on #25
Closing for now, will reopen in the future when it's time to drop 3.4

[2020-07-22 20:38] #25 closed

[2020-07-22 20:43] codeboten commented on #62
Closing this for now, re-open if it becomes an issue in the future.

[2020-07-22 20:51] #342 closed

[2020-07-22 21:00] codeboten commented on #347
Closed by https://github.com/open-telemetry/opentelemetry-python/pull/678

[2020-07-22 21:00] #347 closed

[2020-07-22 23:21] ocelotl opened #933 "B3 trace_id and span_id not handled correctly"
These fields are not being handled correctly when an invalid value is passed for one or both of them. Fix that.

[2020-07-23 13:02] hacst commented on #93
@toumorokoshi Isn't the use-case is pretty much all of the standard production python web-service deployments (e.g. #365)? They mostly use processes (through gunicorn, uwsgi, ...) unless specifically designed around async. And even those tend to additionally use processes in production as far as I have seen (e.g. https://www.uvicorn.org/#running-with-gunicorn). The GIL makes it extremely hard to s

[2020-07-23 15:48] toumorokoshi commented on #93
The use case does apply to anything that needs to aggregate metrics across multiple processes, and I agree in Python it's fairly common.

In the context of #365 specifically, a lot of those metrics could be collected in the top-level process, since it does interact with every request.

Regarding how we would accomplish this in in the open-telemetry collector: I admit I'm not 100% sure either, I ju

[2020-07-23 17:56] aravinsiva commented on #392
I just need a bit more clarification on this. I was under the impression that batch processors already run on a separate thread. So what exactly is meant by 'multi-threading' tests?

[2020-07-24 07:32] rongduan-zhu opened #939 "Immutables does not have a py35 Windows wheel built"
**Describe your environment** Describe any aspect of your environment relevant to the problem, including your Python version, [platform](https://docs.python.org/3/library/platform.html), version numbers of installed dependencies, information about your cloud hosting provider, etc. If you're reporting a problem with a specific version of a library in this repo, please check whether the problem has

[2020-07-24 17:02] ocervell opened #940 "OpenCensusExporter issues"
See https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/490 for context.

@aabmass thanks for your help !

[2020-07-24 18:39] aabmass commented on #940
I am working on https://github.com/open-telemetry/opentelemetry-python/pull/937 for these changes. Can someone assign this to me? 😃

@ocervell is everything working now after removing `pid` or using `str(pid)`?

[2020-07-25 09:45] ocervell commented on #940
@aabmass yes, indeed converting to `str` is working 👍

[2020-07-26 13:52] maxisme opened #943 "Django tracing and gunicorn not working together"
**Describe your environment** Describe any aspect of your environment relevant to the problem, including your Python version, [platform](https://docs.python.org/3/library/platform.html), version numbers of installed dependencies, information about your cloud hosting provider, etc. If you're reporting a problem with a specific version of a library in this repo, please check whether the problem has

[2020-07-26 14:15] maxisme opened #944 "How do I extract a trace id from a header?"
I currently use traefik along with jaeger for my proxy this passes a header `X-Trace-Id` to my application. How can I extract and use this as a context for all spans in the app?

[2020-07-26 23:25] #944 closed

[2020-07-26 23:29] maxisme commented on #943
When setting up jaegertracing (without traefik) I get all the request logs showing up:
[code]
I am not sure if it has anything to do with it inheriting the trace id from traefik? I have made the service names the same since but that made no difference!

Also I have wrote a custom django handler:
[code]
When running in a local environment this works fine. When running behind traefik `trace.get_curr

[2020-07-27 15:12] aravinsiva commented on #906
I can look into this if help is still needed.

[2020-07-27 16:11] aabmass commented on #906
@lzchen, can Aravin take this or did you already start on it?

[2020-07-27 16:33] lzchen commented on #906
@aravinsiva
Go for it! Thanks.

[2020-07-27 16:42] aabmass commented on #715
@aravinsiva, I think you discussed this (or was it something different?) in the Spec SIG last week. Did you come to any conclusion if this should be added to the Spec API?

[2020-07-27 17:23] aravinsiva commented on #715
It was something different. Last week in the spec SIG I was talking about default span attributes in OT-js. If you feel like this is something that should be brought up in the next spec SIG I would be happy to do that.

[2020-07-27 17:29] lzchen commented on #715
Does the existence of `attributes` in [span creation](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/api.md#span-creation) imply that whatever implementation of `Span` is used, `attributes` should be an attribute? How is it possible to enforce attributes within an interface (I don't think you can?). If not, I think we'll need to use getter methods in

[2020-07-27 17:31] lzchen commented on #365
@ocervell
It would be great if you could bring this up as an issue in the [metrics SIG](https://calendar.google.com/calendar/embed?src=google.com_b79e3e90j7bbsa2n2p5an5lf60%40group.calendar.google.com) on Thursdays.

[2020-07-27 17:38] lzchen commented on #392
@aravinsiva
Have you taken a look at [this comment](https://github.com/open-telemetry/opentelemetry-python/pull/389#discussion_r373401816)? I believe they are referring to the behaviour for `shutdown` and `force_flush` when they are called at the same time in different threads (e.g. multiple BatchSpanProcessors)

[2020-07-27 17:38] DrMcTaco opened #946 "`atexit` handler not shutting down span processor/exporter"
**Describe your environment**
Mac OS Catalina 10.15.6 (19G73)
Darwin-19.6.0-x86_64-i386-64bit
Python 3.7.7
Installed packages:
[code]

**Steps to reproduce**
[code]
Running the above as is results in spans not being exported correctly. Adding `trace.get_tracer_provider().shutdown()` does result in the span processor/exporter shutting down correctly and spans being transmitted to the dashboard.
Exp

[2020-07-27 18:42] lzchen commented on #939
I'm pretty sure `bitarray` part of `opentelemetry-ext-datadog` also has a similar issue.

[2020-07-27 20:20] aravinsiva commented on #906
To summarize what needs to be done:
- The Sampling API needs to be moved to the SDK
- And ensuring all methods meet the spec

Correct? Just want to be sure before I get working

[2020-07-27 20:24] lzchen commented on #906
@aravinsiva
Yes seems about right.

[2020-07-27 22:49] snehilchopra opened #949 "Improvement to the Batch Span Processor"
**Context**
The python [Batch Span Processor](https://github.com/open-telemetry/opentelemetry-python/blob/master/opentelemetry-sdk/src/opentelemetry/sdk/trace/export/__init__.py#L94) uses two threads, namely the main thread and a worker thread, in a synchronized manner to export batches of spans to the configured exporter.
However, it seems that the implementation might run into some unexpected be

[2020-07-28 01:18] #902 closed

[2020-07-28 14:04] #923 closed

[2020-07-28 14:29] ocervell opened #951 "OpenCensusMetricsExporter: GKE resource labels not sent"
When running on GKE, the metrics exported with the `OpenCensusMetricsExporter` do not have any GKE resource labels (`pod_name`, `container_name`, `node_name`, etc...). Should those be added to the resource labels before shipping the metric with the exporters ?
+ @aabmass for awareness.
+ @AndrewAXue , I see you implemented an automatic resource detection, does #853 support GKE as well ?

[2020-07-28 16:02] AndrewAXue commented on #951
That PR does not support GKE, but this PR https://github.com/GoogleCloudPlatform/opentelemetry-operations-python/pull/24 in the new Google repo does.

[2020-07-28 16:15] ocervell commented on #951
Thanks looks good to me. Since this is not part of this repo, will that work without using the `CloudMonitoringMetricsExplorer` ? I'm using the `OpenCensusExporter` as part of the architecture OT SDK --> OT agent --> OT collector pipeline --> StackdriverExporter (Go) and would like this feature in the first part (SDK).

[2020-07-28 16:21] AndrewAXue commented on #951
Resource Detection will work without using CloudMonitoringMetricsExplorer, you'll basically just want lines 24-32 from here https://github.com/GoogleCloudPlatform/opentelemetry-operations-python/blob/master/docs/examples/tools/cloud_resource_detector/resource_detector_metrics.py#L24. And it will pass in the resource info to OpenCensusExporter, but I don't believe it will be in the format that Open

[2020-07-28 16:34] aabmass commented on #951
The OC exporter will need to be updated to send resource information, which should be simple enough looking at the code.

AFAIK, there is no general way to signal OT exporters which resource keys you care about, but I will double check the spec.

[2020-07-28 16:45] ocervell commented on #951
@AndrewAXue thanks, this should be doable. What package does the `opencensus.tools.` call ? I'm getting an error saying it can't find it:
[code]

[2020-07-28 16:55] AndrewAXue commented on #951
So the resource detectors are actually unreleased, you'll have to manually clone the repo https://github.com/GoogleCloudPlatform/opentelemetry-operations-python and `pip install -e` the package "opentelemetry-exporter-cloud-trace" that that folder is in.

[2020-07-28 17:54] ocervell commented on #951
Okay, I've tried it but the resource still shows `global` and I'm still not seeing any resource labels.

Here is the code I'm using:
[code]

[2020-07-28 18:16] AndrewAXue commented on #951
Looking at the OpenCensusSpanExporter code https://github.com/open-telemetry/opentelemetry-python/blob/master/ext/opentelemetry-ext-opencensusexporter/src/opentelemetry/ext/opencensusexporter/trace_exporter/__init__.py it doesn't look like it supports exporting info about Resources at all. So while you're passing that resources info to the exporter, its just not doing anything with it.

[2020-07-28 18:18] aabmass commented on #951
@ocervell It has to be added to the exporter as well. I'm adding into #679

Olivier, is it possible for the ocagent to detect the GKE resource for you?

[2020-07-28 18:43] ocervell commented on #951
@aabmass I've tried the `k8sprocessor` (https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/master/processor/k8sprocessor) without much luck yet.

There is another way to change the metric type from `global` to `gke_container` and relabel configs, using Prometheus scrape config. But imo the best would be for autodetection to be baked in the SDK so that there is not much relabeli

[2020-07-28 20:08] aabmass commented on #951
@ocervell, updated #937 to send the resources. It should work along with Andrew's resource detector. However, I'm not sure if the Collector will convert these into the correct GKE monitored resource types when it writes to Cloud Monitoring.

@nilebox, is there a way to get the OT Collector to send the correct GKE resource when running as an agent?

[2020-07-28 20:56] maxisme opened #955 "Traefik and opentelemetry not working together"
**Describe your environment** Describe any aspect of your environment relevant to the problem, including your Python version, [platform](https://docs.python.org/3/library/platform.html), version numbers of installed dependencies, information about your cloud hosting provider, etc. If you're reporting a problem with a specific version of a library in this repo, please check whether the problem has

[2020-07-28 21:37] maxisme commented on #943
I have tried mixing jaeger and the wsgi middleware:
[code]
But this returns:

I get the error:
`TypeError: Can't instantiate abstract class TracerProvider with abstract methods get_tracer`

[2020-07-28 22:04] #762 closed

[2020-07-28 22:12] #943 closed

[2020-07-28 22:12] maxisme commented on #943
Turns out I was importing the wrong class needed to be `from opentelemetry.sdk.trace import TracerProvider`

[2020-07-28 23:32] nilebox commented on #951
There is a [Resource Detection Processor](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/master/processor/resourcedetectionprocessor) which currently supports detection of GCE, and can be extended to detect GKE as well.

@james-bebbington wrote this processor, and he is also the author of the [Automatic Resource Detection proposal](https://github.com/open-telemetry/oteps/bl

[2020-07-29 09:16] maxisme commented on #955
Turns out I needed to add `propagators.set_global_httptextformat(B3Format())`.

[2020-07-29 09:16] #955 closed

[2020-07-29 13:34] ocervell commented on #951
I've opened an [issue](https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/570) for adding GKE detection to the Resource Detection Processor in the collector.

@aabmass I will try #937 shortly and give you some feedback.

[2020-07-29 14:31] ocervell commented on #365
@lzchen i'm in EMEA so the meeting is very late for me. Could you please bring it up ? I think we can find a good implementation in the Flask Prometheus exporter which support gunicorn directly. See [multiprocess section](https://github.com/rycus86/prometheus_flask_exporter#multiprocess-applications) in their docs.

[2020-07-29 14:41] aabmass commented on #365
I can talk about this in the meeting :)

[2020-07-29 15:42] ocervell commented on #951
Still seeing the resource type set as `global` in Cloud Monitoring, did not seem to change anything. Code I'm using is available in [gunicorn-opentelemetry-poc/ot-agent-collector-dev](https://github.com/ocervell/gunicorn-opentelemetry-poc/tree/ot-agent-collector-dev).

[2020-07-29 16:01] lzchen commented on #365
@ocervell
No worries. Just an FYI, the meetings are different times alternating weekly, so if you are interested, I  believe next week might be a more reasonable time for you.

[2020-07-29 17:01] aabmass commented on #951
I dug into the config a little bit. Looks like the stackdriver exporter internally uses the OpenCensus Go exporter. The resource mapping seems to happen here: https://github.com/census-ecosystem/opencensus-go-exporter-stackdriver/blob/v0.13.2/resource.go#L185

It looks at the generic labels for k8s (which aren't currently sent at all), but Andrew pointed out it is not checking for [`gcp.resource_t

[2020-07-29 18:32] ocervell commented on #951
Yep, I also have gotten it to work. However, on GKE the resource type is set by default to `gce_instance`.

[code]

I found [out](https://github.com/GoogleCloudPlatform/opentelemetry-operations-python/pull/24/files#diff-bca030d0e187fd02ee71cde01372f484R50) I had to set an env variable `CONTAINER_NAME` in my k8s YAML in order for it to set the right type `gke_container`:
[code]

Additionally, it wo

[2020-07-29 19:02] aabmass commented on #951
@AndrewAXue is that intended? I thought this was set automatically by k8s

We are waiting for the spec; if OT community decides this is ok, we will include it!

We are planning a single package for "tools" that will have the GCP propagator and resource detector. Is is actually that much of a burden to have one extra package?

[2020-07-29 19:49] AndrewAXue commented on #951
Yes that's intended. We rely on the user passing in some info via the Downward API including populating `CONTAINER_NAME`.

[2020-07-29 20:32] ocervell commented on #951
No, this is fine as long as the package just does this, and doesn't have too many other dependencies.

Thanks, is there no way to get container name from the container directly ?
I've added the `CONTAINER_NAME` variable and now my metrics are tagged with the resource `gce_instance`. Still trying to investigate why it doesn't set it to `gke_container`, will check back later !

[2020-07-29 21:03] AndrewAXue commented on #951
You'll also need to populate `NAMESPACE` and `POD_NAME` like in the example above. No there isn't a way to get container name from the container directly :/ that's why we rely on the Downward API

[2020-07-29 21:24] ocervell commented on #951
@AndrewAXue okay it's working from the container:
[code]

weirdly, the end metrics resource type in Stackdriver is still `gce_instance`:
[code]

so I guess there is another problem down-the-line (maybe `gke_container` resource is replaced by `gce_instance` in the collector ?)

[2020-07-29 22:08] ocelotl opened #958 "TracerProvider can be overridden"
When `TracerProvider` is overridden we raise a warning. This is good but actually we should also stop it from being overridden. If a `TracerProvider` is set in any step of auto instrumentation, then it may be easily overridden in application code causing unexpected side effects like span processors being lost.

[2020-07-29 22:37] nilebox commented on #951
@ocervell Where do you process `gcp.resource_type: k8s_container`? Note that the resource type should be set to `container` (not `k8s_container`) initially, and Stackdriver exporter will recognize and convert it to `k8s_container`.

See https://github.com/census-ecosystem/opencensus-go-exporter-stackdriver/blob/366afe7b1d81a1faaa8c58e725aaeb77344b343e/resource.go#L195-L196

[2020-07-29 23:35] aabmass commented on #951
@nilebox, thanks I need to update my PR to send `container` in that case.

In that code though, I think that is still the incorrect monitored resource type. Going off what Andrew has used in the python exporter, should be:

[code]

Does it make sense to update the opencensus-go-exporter-stackdriver package with this? @james-bebbington suggested writing a [`MapResource`](https://github.com/census-e

[2020-07-30 00:15] nilebox commented on #951
@aabmass Pretty sure that the `container` resource type in Go is being used in quite a few projects using OpenCensus and OpenTelemetry Collector, so that would be a breaking change. Changing `MapResource` implementation in the OT collector would also be a breaking change for GKE Metrics Agent, for example.

FWIW, the Python implementation for OpenCensus seems to be using `k8s_container`: https://g

[2020-07-30 02:54] aabmass commented on #951
@nilebox Checking the OpenCensus resource semantic conventions for possible values of `type`, it looks like we should be setting [`type: k8s`](https://github.com/census-instrumentation/opencensus-specs/blob/master/resource/StandardResources.md#kubernetes)? It appears [`container`](https://github.com/census-instrumentation/opencensus-specs/blob/master/resource/StandardResources.md#container) is for

[2020-07-30 03:11] nilebox commented on #951
`k8s` is for Pod, see https://github.com/census-ecosystem/opencensus-go-exporter-stackdriver/blob/366afe7b1d81a1faaa8c58e725aaeb77344b343e/resource.go#L198-L199

A single Pod may run multiple Docker containers (see [PodSpec](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.18/#podspec-v1-core)), so if a metric is emitted for specific container, it may make sense to use `container`

[2020-07-30 03:17] nilebox commented on #951
As an example, you may be interested in emitting CPU/RAM utilization metrics for each container separately rather than for Pod as a whole.

In Kubernetes, resource limits are specified per container, but Pods are allocated based on the sum of all requested resources, see https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/#resource-requests-and-limits-of-pod-and-container

[2020-07-30 04:22] james-bebbington commented on #951
I'll try to summarise the above to hopefully clear things up.

Due to the nature of the progressive changes to the OC/OT data models, we have gotten to the point where there are several ways to represent a Resource:

No | Model | Example of how to define "Container" resource type
---|-------|------------
1 | [OpenCensus resource model](https://github.com/census-instrumentation/opencensus-specs/blo

[2020-07-30 07:09] nilebox commented on #951
Fix on the OpenTelemetry Collector side: https://github.com/open-telemetry/opentelemetry-collector/pull/1462

[2020-07-30 14:34] AndrewAXue commented on #951
Thanks for the detailed writeup, I think it made it clear to everyone, even those without context on the Collectors (me) what the issue is. I'm a proponent of Model 3 for 2 reasons:

1. In the OT SDK, at the moment we detect resource info, we know what resource type it is. Following Model 2 would essentially mean ignoring that resource type info, and then manually extracting it later on.
2. Ambigu

[2020-07-30 14:56] #903 closed

[2020-07-30 17:35] aabmass commented on #951
@nilebox that makes sense, but I don't see how [type `container` necessarily means k8s](https://github.com/census-ecosystem/opencensus-go-exporter-stackdriver/blob/366afe7b1d81a1faaa8c58e725aaeb77344b343e/resource.go#L195-L196). The stackdriver exporter would set `result.Type = "k8s_container"` in several cases that aren't GKE, but still send type `container`? E.g. [Containers on GCE](https://clou

[2020-07-30 20:42] ewolz3 opened #962 "Thrift URL for Jaeger exporter doesn't allow HTTPS (hardcoded to HTTP)"
I'm currently not able to export logs to collectors running over HTTPS unless I overwrite the collector property and change the thrift url string.

https://github.com/open-telemetry/opentelemetry-python/blob/1112792b18bb177ba58fa11ebaecc9597041a73c/exporter/opentelemetry-exporter-jaeger/src/opentelemetry/exporter/jaeger/__init__.py#L142

Can the scheme (http vs https) be an parameter of the export

[2020-07-30 22:25] nilebox commented on #951
It will try and fail to do so, because it also requires [all `k8s_container` labels to be present](https://github.com/census-ecosystem/opencensus-go-exporter-stackdriver/blob/366afe7b1d81a1faaa8c58e725aaeb77344b343e/resource.go#L73-L78), including e.g. `k8s.pod.name`, which will surely be missing for GCE container.

So once it fails to treat resource as `k8s_container`, Stackdriver exporter will j

[2020-07-31 00:33] jmacd commented on #365
Sorry that we didn't get to this topic today. It presents some interesting questions--the idea of aggregating per-process metric events could definitely work, ideally this is something the collector could do. It's also possible to imagine repurposing the OTel-Python Metrics SDK to perform the aggregation itself, I think, but there are some questions this raises that I haven't worked through myself

[2020-07-31 01:10] james-bebbington commented on #951
The problem, from my point of view, is that Model 3 is not defined in the OT spec. We could consider proposing a change to the spec so there is a standard resource attribute key called `type` to support vendors with a resource model similar to Cloud Monitoring, and then use that. But otherwise we are adding potential confusion - consider for example users who wants to set the resource type manuall

[2020-07-31 08:04] ffe4 commented on #870
The versions from the test matrix should all be supported, although they might not be preinstalled on the runner. From the [docs](https://docs.github.com/en/actions/language-and-framework-guides/using-python-with-github-actions#specifying-a-python-version):

The [reference](https://docs.github.com/en/actions/reference/software-installed-on-github-hosted-runners) only lists the following as preinst

[2020-08-04 11:10] ocervell commented on #951
I'm not sure if this will help, but here is what the `stackdriver-prometheus-sidecar` uses: https://github.com/Stackdriver/stackdriver-prometheus-sidecar/blob/master/retrieval/resource_map.go

[2020-08-04 15:15] codeboten opened #968 "Change default port for OTLP exporter"
By default the collector OTLP receiver is configured on port 55680, the current default port in the OTLP exporter is still using the old OpenCensus receiver port. This should be changed.

[2020-08-04 16:22] #720 closed

[2020-08-04 20:15] vputz opened #970 "Celery: traces within tasks or nested tasks don't seem to get published"
**Describe your environment**
Python 3.8 and the following:
celery==4.4.7
kombu==4.6.11
opentelemetry-api==0.11b0
opentelemetry-ext-celery==0.11b0
opentelemetry-ext-jaeger==0.11b0
opentelemetry-instrumentation==0.11b0
opentelemetry-sdk==0.11b0

rabbitmq 3.7 and jaeger/all-in-one running on docker

**Steps to reproduce**
Using the following docker-compose for services:
[code]

And the following Cel

[2020-08-05 19:18] #242 closed

[2020-08-05 21:39] aabmass commented on #932
- [ ] [The system metrics package](https://github.com/open-telemetry/opentelemetry-python/tree/master/instrumentation/opentelemetry-instrumentation-system-metrics) does not follow https://github.com/open-telemetry/oteps/pull/119
- [ ] There is no default resource detector to populate [standard resource names](https://github.com/open-telemetry/opentelemetry-specification/tree/master/specification/r

[2020-08-06 00:02] jrozentur opened #971 "span exception stack trace should be recorded as event"
**Describe your environment**
python 3.7, jaeger

**Steps to reproduce**
When exception is thrown out of code surrounded by a span, use_span() sets status to error. This does not get one any troubleshooting info and does not correlate with logs...

E.g. the span may have captured events or log statements PRECEDING the exception, but not the exception itself. You only have a chance to log that exce

[2020-08-06 05:01] #933 closed

[2020-08-06 15:19] #958 closed

[2020-08-06 22:30] ocelotl opened #974 "GRPC instrumentation fails with 1.31.0"
Apparently [grpcio](https://pypi.org/project/grpcio) 1.31.0 released today is causing the instrumentation build to fail.

[2020-08-06 23:10] #974 closed

[2020-08-06 23:23] codeboten commented on #906
@aravinsiva are you still interested in taking this on? Just checking that you'll have enough time to work on it.

[2020-08-07 00:55] vputz commented on #970
OK, this is more interesting.  In this case the problem actually seems to be with export, _not_ with the Celery implementation.

if I wrap the `jaeger_exporter` with a `SimpleExportSpanProcessor` rather than a `BatchExportSpanProcessor` as shown in the documentation, I do get the traces for the called Celery functions and the inner spans (although stitching them together may take a little more eff

[2020-08-07 04:47] aravinsiva commented on #906
Hi @codeboten  I have done some work on it. However I have a time sensitive project being worked on right now. So if this is high priority perhaps reassigning it is best.

[2020-08-07 16:34] hawkaa opened #976 "Incorrect package name for "OpenTelemetry aiopg instrumentation""
**Describe your environment**

I'm trying to install `opentelemetry-instrumentation-aiopg`. However, the package does not exist. However, `opentelemetry-instrumentaation-aiopg` does, with a typo (double a).

**Steps to reproduce**

[code]

**What is the expected behavior?**

Package installs successfully.

**What is the actual behavior?**

Package is not found.

**Additional context**

It is clear

[2020-08-07 16:48] aabmass commented on #929
For reference here is [how to create instruments in Go](https://github.com/open-telemetry/opentelemetry-go/blob/f9ba15f2d1003f8b79ca4a15a999d334bf397ccd/example/basic/main.go#L51-L58):

[code]

[2020-08-07 16:59] codeboten commented on #976
Thanks for reporting the issue! It's been fixed in this change https://github.com/open-telemetry/opentelemetry-python/commit/28d0cdf9316830e2b1a35b96b59c62bfe2a233ab#diff-3c7226bf569c295f9bdf1fded3ad1e59R16

The new package will be released in the next release.

[2020-08-07 19:27] codeboten commented on #932
Any thoughts on whether the `telemetry.sdk.*` values should be set in the Resource itself or via a ResourceDetector?

[2020-08-07 20:09] aabmass commented on #932
I would say a resource detector because to keep the [empty resource around](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/resource/sdk.md#the-empty-resource). We already have this https://github.com/open-telemetry/opentelemetry-python/blob/c42c5f3b4ba0bcc46269a803239de344f8ba91be/opentelemetry-sdk/src/opentelemetry/sdk/resources/__init__.py#L74-L76

But wh

[2020-08-07 20:16] codeboten commented on #932
Not sure about the other attributes, but at least in the `telemetry.sdk.*` case they could be set in the OTelResourceDetector  to
[code]

[2020-08-07 20:43] codeboten commented on #928
- [ ] is_valid is currently a method on the SpanContext, the spec defines it as a bool flag https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/api.md#spancontext

[2020-08-07 21:57] #968 closed

[2020-08-09 14:39] hawkaa opened #979 "Export type information"
**Is your feature request related to a problem?**
Kinda. I'm trying to use the `opentelemetry-sdk` in my `mypy` enabled project and get the following error message:

[code]

**Describe the solution you'd like**
I see that several packages in this repository is using types. However, these types are not published. Publishing the types is actually not that tricky. We just did it for another project,

[2020-08-11 18:51] aabmass commented on #932
After discussing with some others, I think these telemetry properties should be set in the Tracer/Meter providers and not a detector, so that they are automatic.

I also missed this part of the resource semantic conventions:

So the "required fields" are only required if any of `service.*` are set.

[2020-08-11 19:23] lzchen commented on #932
@aabmass
Curious, if we were to go the detector route, we would be instantiating a default resource detector which would probably be global correct, which after would automatically create a Resource with those "standard resources" and passed in whenever Tracer/Meter providers are instantiated. I guess the benefit of this would be we can define all the "standard" stuff in one place, where as settin

[2020-08-11 20:34] aabmass commented on #979
A lot (most?) of the code in opentelemetry-sdk doesn't have type annotations, and we aren't running mypy on the SDK code atm. Issue for that here #773.

All of the annotations in opentelemetry-api should be working (anything not under `opentelemetry.sdk`).

[2020-08-11 20:54] aabmass commented on #929
- [ ] `meter.create_metric()` -> `meter.create_instrument()`
- [ ] "stateful" is not mentioned anywhere in the [metrics api spec](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/metrics/api.md) - not sure of the fix here

[2020-08-11 21:04] aabmass commented on #932
@lzchen From how the [resource detection OTEP](https://github.com/open-telemetry/oteps/blob/master/text/0111-auto-resource-detection.md) is written, I don't think the resource detector is global. It's just an interface and the user uses one or more of them at startup to create a merged resource object. It does talk about a default resource detector, but I think James is thinking of changing this w

[2020-08-11 21:30] lzchen commented on #928
- [ ] API to add links to span https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/api.md#span
- [ ] SDK - check ended span on lazy event add https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/api.md#span-operations

[2020-08-11 21:47] ocelotl opened #980 "Review Tracer API against specification"
Make sure Tracer API is specification compliant.

[2020-08-12 03:17] vtdat opened #981 "opentelemetry-exporter-jaeger: Trace/span are reported twice if Collector is configured to bypass Agent"
**Describe your environment**
python = "3.6"
opentelemetry-sdk = "0.11b0"
opentelemetry-ext-jaeger = "0.11b0"

**Steps to reproduce**
Configure collector
[code]

**What is the expected behavior?**
Collector submit trace/span

**What is the actual behavior?**
Trace/span are reported twice by both Agent and Collector

[2020-08-12 03:37] vtdat commented on #981
As pointed out [here](https://www.jaegertracing.io/docs/1.18/troubleshooting/#bypass-the-jaeger-agent), agent should be bypassed if collector is configured.

The discussion [here](https://github.com/open-telemetry/opentelemetry-python/pull/174#discussion_r328550914) did not conclude anything.

[2020-08-12 11:04] hawkaa commented on #979
Ah right. I didn't check properly, then. I checked a file or two in the sdk and they seemed to have type annotations, so I concluded most of it had. I'm sorry.

Type information for the SDK would still be handy, either exporting types directly or creating stubs. What do you think? Should we open a ticket for that, and/or retrofit this one? Or does #773 include exporting the types as well?

Let me

[2020-08-12 14:12] aabmass commented on #979
@hawkaa no worries! I didn't know about that classifier, it would good to add that. AFAIK the inline types should just work for you as long as we have [`py.typed` files](https://www.python.org/dev/peps/pep-0561/#packaging-type-information). We can retrofit this issue to track that.

[2020-08-12 15:39] lzchen commented on #980
Duplicate of https://github.com/open-telemetry/opentelemetry-python/issues/928 ?

[2020-08-12 17:51] ocelotl commented on #980
All right, closing.

[2020-08-12 17:51] #980 closed

[2020-08-12 22:23] ocelotl commented on #928
- [ ] [The `Tracer` SHOULD provide methods to get the currently active Span](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/api.md#tracer-operations)

- [ ] We currently have a `CURRENT_SPAN` attribute in the API `Tracer` class, is this misleading? [The `Tracer` must delegate to the `Context` to get the currently active `Span` and to mark a given `Spa

[2020-08-13 17:30] #962 closed

[2020-08-13 19:35] #940 closed

[2020-08-13 19:35] #951 closed

[2020-08-13 22:03] aabmass opened #983 "Stateful broken"
**Describe your environment** python3.8, broken in master, bisects to #596

**Steps to reproduce**
[code]

**What is the expected behavior?**
Metrics output should be increasing constantly (`stateful=True`)
[code]

**What is the actual behavior?**
Metrics get reset every collection interval (`stateful=False`)

[code]

**Additional context**
Bisects to #596 (242d5a7314886b8a30b6c69051dd8450f00d2baf

[2020-08-14 02:13] #983 closed

[2020-08-14 15:07] ocelotl opened #985 "Refactor baggage management in OT Shim"
Make baggage be passed to child spans.

[2020-08-14 15:24] #161 closed

[2020-08-14 16:06] ffe4 commented on #870
@codeboten I have not gotten it to work as expected yet (see PoC #984), but caching should work, according to the [migration guide](https://docs.github.com/en/actions/migrating-to-github-actions/migrating-from-circleci-to-github-actions#caching).

[2020-08-14 16:47] #305 closed

[2020-08-16 02:02] lzchen commented on #976
Should be fixed with newest release. https://github.com/open-telemetry/opentelemetry-python/releases/tag/v0.12.0

[2020-08-16 02:02] #976 closed

[2020-08-16 02:02] #578 closed

[2020-08-16 02:03] lzchen commented on #760
Finished package renaming with [this release](https://github.com/open-telemetry/opentelemetry-python/releases/tag/v0.12.0). Old packages on Pypi have been deprecated. As discussed, will monitor traffic of old downloads and delete old packages within the next month.

[2020-08-16 02:03] #760 closed

[2020-08-16 02:04] #565 closed

[2020-08-16 10:39] trallnag commented on #365
@ocervell The Prometheus Flask Exporter you pointed does not implement multiprocess functionality itself. There are just a few wrappers for convenience. Still using Prometheus client library in the background

[2020-08-17 18:13] codeboten opened #994 "API to add links to span"
To be compliant with the tracing spec, we need an API to add links to span

https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/api.md#span

[2020-08-17 18:14] codeboten opened #995 "Check ended span on lazy event add"
To be compliant with the tracing spec, we need to check ended span on lazy event add

https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/api.md#span-operations

[2020-08-17 18:16] codeboten opened #996 "is_valid is currently a method on the SpanContext, the spec defines it as a bool flag"
To be compliant with the tracing spec, we need a `is_valid` to be a boolean flag rather than a method on the `SpanContext`

https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/api.md#spancontext

[2020-08-17 18:22] codeboten opened #997 "Callers must not be able to set Span Attributes, Links or Events after the end time has been set"
To be compliant with the tracing spec, callers must not be able to set Span Attributes, Links or Events after the end time has been set

https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/api.md#span

[2020-08-17 18:40] ffe4 commented on #996
In the linked document it is simply described as "[an API that returns a boolean value [...]](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/api.md#isvalid)". What would be the difference between a flag and a method here? Should it simply be defined as an attribute during instantiation, as is the case with `is_remote`?

[2020-08-17 18:53] codeboten opened #998 "null attributes that have been previously set results in the attribute being cleared and the key being dropped from the attribute set"
To be compliant with the tracing spec: null attributes that have been previously set results in the attribute being cleared and the key being dropped from the attribute set

https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/api.md#set-attributes

[2020-08-17 18:56] codeboten opened #999 "Implementations SHOULD preserve the order in which attributes are set"
To be compliant with the tracing spec, Implementations SHOULD preserve the order in which attributes are set

https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/api.md#set-attributes

[2020-08-17 18:57] codeboten opened #1000 "Implementations MUST NOT allow callers to create Spans directly"
To be compliant with the tracing spec, implementations MUST NOT allow callers to create Spans directly

https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/api.md#span

[2020-08-17 18:59] codeboten opened #1001 "SDK SHOULD NOT provide access to a Span's attributes besides its SpanContext"
To be compliant with the tracing spec, the SDK SHOULD NOT provide access to a Span's attributes besides its SpanContext

https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/api.md#span

[2020-08-17 19:00] codeboten opened #1002 "The instances of SpanContext should be immutable"
To be compliant with the tracing spec, the instances of SpanContext should be immutable

https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/api.md#spancontext

[2020-08-17 19:03] codeboten commented on #996
@ffe4 right, the discrepancy between `is_remote` and `is_valid` is what I meant to address with this issue.

[2020-08-17 19:12] codeboten commented on #928
Currently we have `get_current_span` in the `trace` module, it was a tracer method before this change https://github.com/open-telemetry/opentelemetry-python/pull/552

It looks like this [spec issue](https://github.com/open-telemetry/opentelemetry-specification/issues/455) is planning on changing this, i won't open an issue to track it

[2020-08-17 19:23] codeboten opened #1003 "Support JSON over HTTP in OTLP exporter"
The spec for OTLP exporter recommends supporting both protobufs over grpc and json over http for exporting telemetry via the OTLP exporter https://github.com/open-telemetry/opentelemetry-specification/pull/699/files

**Describe the solution you'd like**
Currently, the implementation only supports gRPC, this feature request is to support JSON over HTTP

[2020-08-17 19:24] codeboten opened #1004 "Support env variable configuration for OTLP exporter"
The spec describes environment variables that should be supported to configure the OTLP exporter, this feature request is to add support in the current implementation.

Spec PR:
https://github.com/open-telemetry/opentelemetry-specification/pull/699/files

[2020-08-17 21:28] ocelotl opened #1006 "Update opentelemetry-instrumentation-system-metrics"
The system metrics instrumentation needs to be updated to reflect semantic conventions in otep 119: https://github.com/open-telemetry/oteps/pull/119

It also needs to be revisited to ensure it follows the correct path to collecting metrics.

[2020-08-18 03:59] codeboten opened #1007 "Revisit statefulness in OTLP MetricExporter"
As per the discussion here: https://github.com/open-telemetry/opentelemetry-python/pull/835#discussion_r470242264

The OTLP MetricExporter will need to be revisited as the metrics SDK, protos and spec evolve.

[2020-08-18 04:03] codeboten opened #1008 "Send start_time_unix_nano and time_unix_nano in OTLP MetricExporter"
As per the discussion here: https://github.com/open-telemetry/opentelemetry-python/pull/835#discussion_r465749433

The OTLP MetricExporter must send `start_time_unix_nano` and `time_unix_nano`

[2020-08-18 04:05] codeboten opened #1009 "Add type hints to OTLP exporter"
As per the comment here: https://github.com/open-telemetry/opentelemetry-python/pull/835#discussion_r465751838

Type hints should be consistent across OTLP exporter

[2020-08-18 04:06] #797 closed

[2020-08-18 04:44] lzchen commented on #996
@codeboten
@ffe4

Actually I would think "returns" indicates that it is a method. So instead of changing is_valid into a property, I would think we should change is_remote to a function. [Java](https://github.com/open-telemetry/opentelemetry-java/blob/1c7da07432be12334a267ad4d54b7260098837b9/api/src/main/java/io/opentelemetry/trace/SpanContext.java#L120) seems to be taking this approach.

[2020-08-18 05:12] LouisStAmour opened #1010 "Botocore instrumentation references Django?"
On line 57: https://github.com/open-telemetry/opentelemetry-python/blob/47229e94f4a56987e5100e8767df38b15ca0009d/instrumentation/opentelemetry-instrumentation-botocore/setup.cfg#L57

Presuming this is a bug. Found it odd when an error message I encountered was:

[code]

[2020-08-18 06:42] ffe4 commented on #996
@lzchen In Java they also use getter methods, so using a method might be more natural. However, [Go](https://github.com/open-telemetry/opentelemetry-go/blob/f995380e5848d2b9287f8b8e0608a4bda6f986d5/api/trace/span_context.go#L170) and [Ruby](https://github.com/open-telemetry/opentelemetry-ruby/blob/master/api/lib/opentelemetry/trace/span_context.rb#L42) also seem to use methods.

We can also have t

[2020-08-18 07:02] ffe4 commented on #996
Another note while we are on the topic of wording. The [specification](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/api.md#spancontext) uses the word _flag_ for `TraceFlags.sampled`, `SpanContext.IsRemote` and `Span.IsRecording`, but not for `SpanContext.IsValid`. The former two have similar semantics, being a property and a data attribute respectiv

[2020-08-18 14:50] DrMcTaco opened #1012 "TypeError with pymongo `getMore` operations"
**Describe your environment**
Describe your environment
Mac OS Catalina 10.15.6 (19G73)
Darwin-19.6.0-x86_64-i386-64bit
Python 3.7.7
Installed packages:
[code]

**Steps to reproduce**
any find operation where the number of documents to be returned exceeds the batch size on the cursor:
[code]
**What is the expected behavior?**
Spans with names like `mongodb.getMore.1`

**What is the actual behavior

[2020-08-18 16:35] lzchen commented on #994
Looking at the specs more clearly and seeing other languages implementations, it seems that link adding only occurs during creation of the span so an API method to explicitly add them is not needed.

[2020-08-18 16:35] #994 closed

[2020-08-18 16:53] lzchen commented on #995
API already does this.

[2020-08-18 16:55] lzchen opened #1013 "Filter attributes on lazy event add"
Similar to [addEvent](https://github.com/open-telemetry/opentelemetry-python/blob/master/opentelemetry-sdk/src/opentelemetry/sdk/trace/__init__.py#L585) verification, do the same for addLazyEvent.

[2020-08-18 17:02] #995 closed

[2020-08-18 17:14] lzchen commented on #1010
@LouisStAmour
Although [#1011] will fix your issue, you will still get a bug for setting the `TracerProvider` again in your code most likely due to [this](https://github.com/open-telemetry/opentelemetry-python/pull/959).

@ocelotl

[2020-08-18 17:37] lzchen commented on #997
API already  does this.

[2020-08-18 17:37] #997 closed

[2020-08-18 19:50] LouisStAmour commented on #1010
Thanks :)

I'll admit I was just copying and pasting from examples trying to get everything working. I had no idea what I was doing :) I've since tried using OpenCensus and after a similar period of not knowing what I was doing, I still don't have automated tracing but I do have manual tracing working, so ... I'll start with OpenCensus Python client talking to OpenTelemetry Services for now and re

[2020-08-18 20:09] codeboten commented on #998
Looks like the spec moved the relevant details here: https://github.com/open-telemetry/opentelemetry-specification/blob/671f5abe0eb99451f86df6da8aa7cd4b14d22633/specification/common/common.md#attributes

[2020-08-18 20:17] lzchen commented on #1010
Yes you are correct. :) Thanks for finding these bugs.

[2020-08-18 20:17] #1010 closed

[2020-08-19 08:40] HiveTraum opened #1016 "Django ASGI not supported"
**Describe your environment**
Python 3.8
Docker(python:3.8 image)
daphne-2.5.0/uvicorn 0.11.8/hypercorn 0.10.2
Django-3.1.0

**Steps to reproduce**
$ git clone https://github.com/HiveTraum/opentelemetry-django-asgi-example
$ cd opentelemetry-django-asgi-example
$ docker-compose up -d
$ curl -I 127.0.0.1:8000/api/
$ curl -I 127.0.0.1:8001/api/
$ curl -I 127.0.0.1:8002/api/

**What is the expected b

[2020-08-19 11:45] ffe4 commented on #870
As an additional argument for switching to GitHub Actions:

After setting up my CircleCI on my fork I noticed that the checks on my pull requests did not complete. Apparently, if a user follows their own fork, CircleCI does not run these jobs on the main repository, even for pull requests. This results in the checks on the pull requests forever _waiting for status to be reported_.

See: [Why aren'

[2020-08-19 17:27] ffe4 opened #1020 "get_correlations return value should be immutable"
According to the [spec](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/correlationcontext/api.md#get-correlations):

Currently, we return a `dict` ([link](https://github.com/open-telemetry/opentelemetry-python/blob/3cae0775ba12a2f7b4214b8b8c062c5e81002a19/opentelemetry-api/src/opentelemetry/correlationcontext/__init__.py#L34-L37)):
[code]

This was mentione

[2020-08-19 18:38] #680 closed

[2020-08-19 18:57] aabmass commented on #1006
related https://github.com/open-telemetry/opentelemetry-specification/issues/819

[2020-08-19 19:23] aabmass opened #1022 "Generate semantic convention constants/classes"
Part of #932

https://github.com/open-telemetry/build-tools/pull/5 and https://github.com/open-telemetry/opentelemetry-specification/pull/571 introduce a tool that feeds semantic conventions (yaml files in spec repo) into a Jinja template to generate code. It would great if we could use this to generate constants for e.g. resource semantic conventions.

They have already used this in OT java to ge

[2020-08-20 00:25] #1013 closed

[2020-08-20 08:50] dds-sysu opened #1025 "How can I add tag of process in trace?"
**Describe your environment**
python3.7
opentelemetry 0.11b

**Steps to reproduce**
I had instrumented the opentelemetry for my code like this:
[code]

Now I can get trace from jaeger. I query the trace like before
[code]

The tag in process empty，we would add some tag like pod_ip. How can we add this ?

**What is the expected behavior?**
we would add some tag like pod_ip,
[code]

**What is the ac

[2020-08-20 20:00] tigrannajaryan opened #1029 "Populate implementation/spec compliance matrix"
In order to have a better understanding of where we stand in terms of implementing OpenTelemetry specification in various language SDKs we would like to have a compliance matrix that shows which features are implemented in which languages.

This will show how much work is remaining and tell us far away are we from being ready for GA.

The matrix is located here: https://github.com/open-telemetry/o

[2020-08-21 01:29] ocelotl opened #1030 "Ignored exception when exporting with OTLP exporter"
This error message shows up when exporting with the OTLP exporter:

[code]

This issue has been fixed [here](https://github.com/grpc/grpc/commit/ddbf4b6f9fb578344e5418505a120a87bbb9b7ce).

[2020-08-21 01:59] reyang commented on #949
@lzchen @ramthi

[2020-08-21 14:45] codeboten opened #1032 "Remove lazy Event and Link API from Span interface"
As per spec https://github.com/open-telemetry/opentelemetry-specification/pull/840

[2020-08-21 15:04] codeboten opened #1033 "SDK should populate telemetry.sdk.* resource attributes"
As per the [spec](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/resource/semantic_conventions/README.md#telemetry-sdk), the SDK must set the `opentelemetry.sdk.name` to `opentelemetry`. It would be nice if the other `telemetry.sdk.*` values were also set.

See discussion here on implementation details: https://github.com/open-telemetry/opentelemetry-python

[2020-08-23 16:45] owais commented on #1000
Do we provide any APIs other than the tracer to create spans currently?

[2020-08-23 21:12] jan25 commented on #1004
@codeboten can i help fix this?

[2020-08-23 23:08] owais opened #1035 "Proposal: Config file support for instrumentor and other components"
There was some discussion to about ways to configure auto-instrumentation in #663. There was also some debate about env vars vs a config file. I don't think OpenTelemetry Python should dictate users use either env vars or a config file. I think both should be supported for end users. At the same time components shouldn't have to deal with os.environ, files or multiple config APIs. I'm proposing a

[2020-08-24 14:25] arminru opened #1037 "Remove lazy Event and Link API from Span interface"
See https://github.com/open-telemetry/opentelemetry-specification/pull/840.

[2020-08-24 15:33] lzchen commented on #1037
Duplicate of https://github.com/open-telemetry/opentelemetry-python/issues/1032

[2020-08-24 15:33] #1037 closed

[2020-08-24 15:34] arminru commented on #1037
Missed that one, thanks @lzchen!

[2020-08-24 16:57] lzchen commented on #929
https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/metrics/sdk.md

[2020-08-24 17:11] lzchen commented on #999
For `Event` s.

[2020-08-24 17:17] lzchen commented on #999
I don't see this as a requirement for attributes?

[2020-08-24 17:19] lzchen opened #1038 "Events should be immutable and should preserve the order in which they are set"
https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/api.md#add-events

[2020-08-24 21:56] lzchen commented on #928
https://github.com/open-telemetry/oteps/pull/134

[2020-08-25 08:25] Oberon00 commented on #949
Indeed this code looks problematic. Notice how all the notify calls are within `with condition`, i.e. we hold the condition lock when calling notify. Also the worker thread calls wait() within `with condition`. Now what's the problem here is that you are supposed to check the actual conditions also within the `with wait` (and set the conditions like `self._flushing` within the `with notify`, thoug

[2020-08-25 13:49] aravinsiva commented on #715
After speaking to the specification SIG it seems as though the API was designed to be write only it and this is intentional. As a result we may need to develop another approach to solving the this issue. As @lzchen mentioned this is something that also occurs with events, links and spankind attributes. Since this does not seem to be getting raised to the spec level we may need to detemermined anot

[2020-08-25 14:39] ffe4 commented on #999
https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/common/common.md#attributes

[2020-08-25 15:14] aabmass commented on #392
@lzchen I'm confused how you can test this with "multiple BatchSpanProcessors" here? The issue says

doesn't that mean calling those methods on a single `BatchExportSpanProcessor` instance concurrently from different threads?

[2020-08-25 16:26] lzchen commented on #715
I think this would be the easiest, least intrusive solution. Even though it is not defined in the API specs, the issue seems language specific, and some other languages don't seem to be using a no-op span.

[2020-08-25 16:34] lzchen opened #1041 "Review Baggage specs for GA"
https://github.com/open-telemetry/opentelemetry-specification/pull/857

Previously correlation context.

[2020-08-25 17:45] lzchen commented on #906
https://github.com/open-telemetry/opentelemetry-specification/pull/611

[2020-08-25 17:48] lzchen commented on #906
https://github.com/open-telemetry/opentelemetry-specification/pull/610

[2020-08-25 18:42] ffe4 opened #1042 "Flaky test: pypy3-test-core-getting-started"
I noticed the `build-core-pypy3` job failing unpredictably due to some connection error:
f97f65c [pass](https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-python/693/workflows/5f2f40d0-1fb8-4b22-a0a7-85fb6b925e1b/jobs/14372) | [fail](https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-python/693/workflows/5e14d1a0-6764-4511-a447-a3bf8ce6b560/jobs/14289)
f5f73

[2020-08-25 20:11] jan25 commented on #1004
Looks like current OTLP exporter code doesn't cover all the cases covered in spec.

These seem like can be immediately supported:
* `OTEL_EXPORTER_OTLP_SPAN_ENDPOINT` `OTEL_EXPORTER_OTLP_METRIC_ENDPOINT`
* `OTEL_EXPORTER_OTLP_SPAN_INSECURE` `OTEL_EXPORTER_OTLP_METRIC_INSECURE`
* `OTEL_EXPORTER_OTLP_SPAN_CERTIFICATE` `OTEL_EXPORTER_OTLP_METRIC_CERTIFICATE`

These require the cases to be implemented

[2020-08-25 21:48] owais commented on #1004
I think add env var based support to existing options makes sense. Adding new the missing options can be a different stream of work.

[2020-08-26 15:11] asyncee opened #1043 "Multiple duplicated records in Jaeger"
Hello.

I have created a simple demo project in Python that uses `fastapi`, `requests` and corresponding instrumentation libraries. The project consists of two simple apps. First application sends request to second application to get some json payload back and then displays it on the screen to the user. All communications are instrumented via instrumentation libraries:

- opentelemetry-instrumenta

[2020-08-26 16:30] codeboten opened #1044 "Investigate build-core-pypy3 failures"
Builds are intermittently failing the `build-core-pypy3` job. This looks like a timing issue in the getting started tests run under pypy3:

[code]
Full log:

https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-python/733/workflows/ed2f57e1-11c5-4b92-9f3a-06ece287e97d/jobs/15242

[2020-08-26 16:42] lzchen commented on #906
https://github.com/open-telemetry/opentelemetry-specification/pull/881

[2020-08-26 16:43] lzchen commented on #928
Possible big change: https://github.com/open-telemetry/opentelemetry-specification/pull/875

[2020-08-26 17:43] cijothomas commented on #906
the `IsRecording` of Span must be in the API.
the `Sampled` flag is part of SpanContext which is part of API.

The actual Samplers, ability to set samplers - part of SDK.

[2020-08-26 19:21] ffe4 commented on #1042
Closing as the same issue has been brought up in #1044

[2020-08-26 19:21] #1042 closed

[2020-08-26 21:23] #981 closed

[2020-08-26 22:27] codeboten commented on #1004
I agree, supporting the ones that are already present seems like a good first step. Also worth implementing the case where a [general config](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/protocol/exporter.md#configuration-options) option is set instead of `SPAN`/`METRIC` specific ones:
[code]

Worth noting that the current OTLP exporter calls headers meta

[2020-08-27 06:55] asyncee commented on #1043
Zipkin backend does not have this problem, so i will switch to that for my research needs.

[2020-08-27 06:55] #1043 closed

[2020-08-27 16:39] codeboten commented on #359
The OpenCensus exporter is required for GA, which is already implemented

[2020-08-27 16:39] #359 closed

[2020-08-27 16:43] codeboten commented on #159
I'll follow up on this issue to find the spec issue.

[2020-08-27 16:46] codeboten commented on #346
@aabmass  will follow up to determine if this is in the spec or not.

[2020-08-27 16:49] codeboten commented on #335
Follow up to ensure its part of GA

[2020-08-27 16:50] codeboten commented on #928
Closing this one, let's open up individual issues for all future changes.

[2020-08-27 16:50] #928 closed

[2020-08-27 16:52] ffe4 commented on #1041
I'll take this up

[2020-08-27 17:01] aravinsiva commented on #715
Please reassign bug as internship is concluding

[2020-08-27 17:01] chgl opened #1048 "Add instrumentation for the kafka-python library"
**Is your feature request related to a problem?**

There is currently no instrumentation support for the [kafka-python](https://github.com/dpkp/kafka-python) library.

**Describe the solution you'd like**

Add support for instrumenting the python-kafka library. The instrumentation support should inject the current trace context into the message headers when `KafkaProducer.send` is called and shoul

[2020-08-27 17:01] aravinsiva commented on #392
Please reassign ticket as internship is concluding.

[2020-08-27 17:11] #996 closed

[2020-08-27 18:18] #1032 closed

[2020-08-27 18:18] codeboten opened #1049 "Fill compliance matrix for Python"
Started filling in the compliance matrix for Python. There are still some areas that need a bit more information. Here's the current matrix as it sits:

https://github.com/codeboten/opentelemetry-specification/blob/matrix/spec-compliance-matrix.md

[2020-08-27 20:00] #1020 closed

[2020-08-27 20:21] codeboten commented on #1041
Thank you!

[2020-08-27 20:21] aabmass opened #1050 "Pass meter to Observers"
sdk `Metric` classes receive a ref to their meter: https://github.com/open-telemetry/opentelemetry-python/blob/6ba985a053d21d013bd7f51d8b4b37d92b1e1eaa/opentelemetry-sdk/src/opentelemetry/sdk/metrics/__init__.py#L144-L152

but observers currently do not https://github.com/open-telemetry/opentelemetry-python/blob/6ba985a053d21d013bd7f51d8b4b37d92b1e1eaa/opentelemetry-sdk/src/opentelemetry/sdk/metri

[2020-08-27 20:21] aabmass commented on #1050
@lzchen this isn't by design is it?

[2020-08-31 16:09] lzchen commented on #1050
@aabmass
There is no "design" for metric instrument constructors because there is no SDK specs yet. The only reason why metric instruments needs a reference to the meter is because the ViewManager belongs to the meter instance. Since observers don't use views, they did not need the meter reference. This could change in the future though but i'm not sure if we should add the reference right now.

[2020-08-31 17:45] codeboten opened #1055 "Support env variables for Zipkin exporter"
The spec describes environment variables that should be supported to configure the Zipkin exporter, this feature request is to add support in the current implementation.

https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/sdk-environment-variables.md

[2020-08-31 17:46] codeboten opened #1056 "Support env variable configuration for Jaeger exporter"
The spec describes environment variables that should be supported to configure the Jaeger exporter, this feature request is to add support in the current implementation.

https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/sdk-environment-variables.md

[2020-08-31 17:53] lzchen opened #1057 "Utilize is_recording instead of Defaultspan for instrumentations if sampled"
If a span is determined to be not sampled returned from the sampler, a `DefaultSpan` implementation is [returned](https://github.com/open-telemetry/opentelemetry-python/blob/master/opentelemetry-sdk/src/opentelemetry/sdk/trace/__init__.py#L791). This was beneficial because we could use the same code for all span related logic but have different behaviour whether it is a real span or a Defaultspan.

[2020-08-31 17:54] codeboten opened #1058 "Add support for OTEL_PROPAGATORS"
The spec describes environment variables that should be supported to configure propagators, this feature request is to add support in the current implementation.

https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/sdk-environment-variables.md

[2020-08-31 17:59] codeboten opened #1059 "Add support for OTEL_LOG_LEVEL env variable"
The spec describes environment variables that should be supported to configure the log level, this feature request is to add support in the current implementation.

https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/sdk-environment-variables.md

[2020-09-01 01:29] lzchen commented on #949
@snehilchopra
Hey thanks a lot for finding this issue. I understand the missing waking up the worker thread call cases. I'm a little confused as to why in the C++ implementation, there is a [while](https://github.com/open-telemetry/opentelemetry-cpp/blob/master/sdk/src/trace/batch_span_processor.cc#L73) loop encapsulating the `wait`. Wouldn't the `wait` block the main thread and wait until the wor

[2020-09-01 09:05] Oberon00 commented on #949
@lzchen

This is the sequence of events that would deadlock:

1. T1: force_flush appends the flush token and notifies the condition
2. T2: worker wakes up, calls drain_queue, calls export, deques the flush token, notifies the condition
3. T1: force_flush only now starts waiting for the condition

T1 will now wait forever because the flush token has already been dequed. Notifying a condition only w

[2020-09-01 14:10] nbigaouette opened #1061 "[Opentelemetry Jaeger Exporter]: Fail to send large message"
**Describe your environment** Describe any aspect of your environment relevant to the problem, including your Python version, [platform](https://docs.python.org/3/library/platform.html), version numbers of installed dependencies, information about your cloud hosting provider, etc. If you're reporting a problem with a specific version of a library in this repo, please check whether the problem has

[2020-09-01 16:09] aabmass commented on #1050
For some context, the reason I want to add it to Observer is because the Cloud Monitoring exporter needs to know if the instrument was stateful or not. For sync instruments, we get it from [`record.instrument.meter.batcher.stateful`](https://github.com/GoogleCloudPlatform/opentelemetry-operations-python/blob/7063757a64782f28cd9231155da9adc287f6c714/opentelemetry-exporter-google-cloud/src/opentelem

[2020-09-01 17:19] mariojonke commented on #949
i guess it is not really a deadlock since thread T1 will continue once the [timeout](https://github.com/open-telemetry/opentelemetry-python/blob/master/opentelemetry-sdk/src/opentelemetry/sdk/trace/export/__init__.py#L245) on the flush condition elapses.

another problem is that calls to `force_flush` are not thread safe since all threads rely, unset and set the `_flushing` flag of the span proces

[2020-09-01 18:41] aabmass opened #1063 "Align SDK with resource detection spec"
[Resource detection has been merged into the spec](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/resource/sdk.md#detecting-resource-information-from-the-environment). The SDK should be aligned with the spec. This may already be the case.

**Is your feature request related to a problem?**
No

**Describe the solution you'd like**
The resource detection spec

[2020-09-01 20:18] lzchen commented on #1063
I like having the `ResourceDetector` interface, it gives users an idea of how to implement their own detector.
Is `get_aggregated_resources()` something we expect users to call explictly? As a user, I'd expect to just instantiate my own `ResourceDetector` (s) and pass them into the `TracerProvider`. So instead of doing something like [this](https://github.com/open-telemetry/opentelemetry-python/bl

[2020-09-01 20:20] lzchen commented on #1063
The `Callable[[bool], Resource]` is a cool idea. I'd think they would have to depend on the SDK since they would be returning a `Resource`?

[2020-09-01 21:12] aabmass commented on #1063
Oh ya, my bad. Updated the issue description.

[2020-09-01 23:18] snehilchopra commented on #949
Hi @lzchen. This is to handle spurious wake-ups. We check on a condition if the thread woke up spuriously. If the condition is satisfied, break out of the loop. Else, go back to waiting.

[2020-09-02 07:12] ffe4 commented on #999
Attributes in `sdk.trace.Span` are implemented as a [BoundedDict](https://github.com/open-telemetry/opentelemetry-python/blob/140e5f9bb4c8e815e7836b8d7380ee9d66844d11/opentelemetry-sdk/src/opentelemetry/sdk/util/__init__.py#L99) which is already ordered. What else do we need to do here?

[2020-09-02 15:21] #1041 closed

[2020-09-02 16:31] ffe4 commented on #1059
I'll take this up.

[2020-09-02 16:40] codeboten commented on #1059
Thanks!

[2020-09-02 16:46] ocelotl commented on #999
I think we are ok with the current implementation. The order of the attributes is being used to select which key to override (the oldest one) when the maximum size of the dictionary is reached.

[2020-09-02 16:54] #999 closed

[2020-09-02 18:18] aabmass commented on #932
Ok, I think the only thing remaining here is these [`service.*`](https://github.com/open-telemetry/opentelemetry-specification/tree/master/specification/resource/semantic_conventions#service) resource labels. My understanding now is that, if the user is instrumenting a service, they *should* pass these labels to indicate that it is a service. Do we need to make this easy for the user?

[2020-09-02 19:14] lzchen opened #1065 "Attributes return from sampling results should be immutable"
https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/sdk.md#sampler

`A set of span Attributes that will also be added to the Span. The returned object must be immutable (multiple calls may return different immutable objects).`

[2020-09-02 20:41] #1044 closed

[2020-09-03 16:17] #1065 closed

[2020-09-03 16:17] codeboten opened #1071 "Update OTLP exporter to support v0.5.0"
New protos were released: https://github.com/open-telemetry/opentelemetry-proto/releases/tag/v0.5.0

We need to updated at least the metrics exporter to support it

[2020-09-03 16:48] codeboten commented on #1063
As discussed in the SIG meeting, let's remove `get_aggregated_resources`

[2020-09-03 17:04] aabmass commented on #1063
Cool, so the only thing remaining is calling and using the `OTELResourceDetector` in the providers

[2020-09-03 17:48] aabmass commented on #1050
I believe this is the relevant code in Go: https://github.com/open-telemetry/opentelemetry-go/blob/d143b8fbf809225ab2b07f6ed0486e9e1974d549/sdk/metric/sdk.go#L125-L128

[code]

so

[2020-09-03 17:48] #1050 closed

[2020-09-03 17:49] aabmass commented on #1050
I think its better to see how this is documented in the SDK docs that are coming out. I couldn't find a very similar way in Go.

[2020-09-03 21:36] ocelotl opened #1072 "Underscore is missing from attribute"
An underscore is missing [here](https://github.com/open-telemetry/opentelemetry-python/blob/master/exporter/opentelemetry-exporter-otlp/src/opentelemetry/exporter/otlp/exporter.py#L189).

[2020-09-03 23:02] #1033 closed

[2020-09-03 23:14] codeboten commented on #1049
Closing as a dupe of #1029

[2020-09-03 23:14] #1049 closed

[2020-09-03 23:44] #1072 closed

[2020-09-04 00:19] #1006 closed

[2020-09-04 17:11] flands opened #1076 "Upgrade pylint to support inclusive language once available"
**Is your feature request related to a problem?**
None inclusive language is included in the Otel-python repository due to the use of pylint

[code]

Note that even with this change, the use of `master` terminology will still remain. The comments can be updated now -- I will do that next.

**Describe the solution you'd like**
Encourage pylint team to fix this issue and once available upgrade depen

[2020-09-04 18:44] ffe4 opened #1078 "sdk/__init__.py not correctly packaged"
**Describe your environment**
macOS-10.15.5
Python 3.8
opentelemetry-sdk==0.12b0

**Steps to reproduce**

[code]

**What is the expected behavior?**
I expected the `__init__.py` from [`opentelemetry-sdk/src/opentelemetry/sdk/__init__.py`](https://github.com/open-telemetry/opentelemetry-python/blob/master/opentelemetry-sdk/src/opentelemetry/sdk/__init__.py) in the repository to be present.

**What

[2020-09-06 05:25] toumorokoshi commented on #715
I think there's a way to resolve this without changing the spec. Namely:

- extending the No-op span in the SDK with getters [allowed in the spec](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/sdk.md#additional-span-interfaces). Returning trace.sdk.NoopSpan where tracer.NoopSpan is used today.
- extending the other spans in the sdk from the no-op spa

[2020-09-07 15:39] rydzykje commented on #1056
I could take care of this issue as my 1st contribution to OT-python :) Will be happy to help you guys 🎉

[2020-09-07 19:49] ocelotl opened #1079 "Add global error handler to the SDK"
Add a global error handler to the SDK as described [here](https://github.com/open-telemetry/opentelemetry-specification/issues/696).

[2020-09-08 14:27] lzchen commented on #715
Isn't the no-op span in the api?

I'm not sure I understand the reasoning for this. Are you planning to move the no-op span implementation to the sdk?

@toumorokoshi

[2020-09-08 15:21] codeboten commented on #1056
That would be great @rydzykje!

[2020-09-08 15:45] codeboten opened #1081 "Rename Resource labels -> attributes"
The spec has renamed Resource labels to attributes, the code in this repo still uses labels. This needs to be fixed.

[2020-09-08 23:08] codeboten opened #1083 "Rename HTTPText to TextMap Propagator"
As per spec change: https://github.com/open-telemetry/opentelemetry-specification/pull/793

[2020-09-08 23:48] codeboten opened #1084 "Propagation: TextMap propagator getter must provide a keys method"
As per specification, the Getter argument must provide a `Keys` method

https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/context/api-propagators.md#keys

[2020-09-09 04:42] toumorokoshi commented on #715
@lzchen the intention is to extend the no-op span in the sdk. So we'd have:

- trace.NoopSpan
- trace.sdk.NoopSpan

The main difference is the latter has getters. The reasoning is because getters aren't supposed to be in the *API*, but are supposed to be in the [SDK](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/sdk.md#additional-span-interfaces).

[2020-09-09 05:08] lzchen commented on #715
@toumorokoshi

Would this address the original issue of an attribute error though? Replacing tracer.NoopSpan with trace.sdk.NoopSpan would only cover the cases where we use the defaultspan in the sdk (like if the span is not sampled). But for cases like the instrumentations, in which we only take a dependency on the api, users do not have to use trace.sdk...., in which we would still run into the

[2020-09-09 06:34] ffe4 commented on #1059
There is ongoing discussion about what the values for this should look like, or whether this variable should even exist right now in [opentelemetry/opentelemetry-specification#920](https://github.com/open-telemetry/opentelemetry-specification/issues/920).

[2020-09-09 13:17] ffe4 commented on #25
With EOL for Python 3.5 approaching this Sunday ([2020-09-13](https://devguide.python.org/#status-of-python-branches)), is it now time to revisit this issue?

[2020-09-09 14:59] #1055 closed

[2020-09-09 15:23] #1081 closed

[2020-09-09 16:08] codeboten opened #1088 "botocore instrumentation failure blocking the build"
As seen here: https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-python/905/workflows/4c29ce5d-e4a4-434b-9a75-91af1eae8e73/jobs/19330

As noted by @lzchen:

[2020-09-09 20:23] #1083 closed

[2020-09-10 05:38] ffe4 commented on #335
Here also a link to a related PR open-telemetry/opentelemetry-specification#748

[2020-09-10 05:53] ffe4 commented on #649
@ocelotl Is this superseded by #1079?

[2020-09-10 06:02] ffe4 commented on #939
I would suggest we also run tests for the core components on Windows and MacOS for at least the oldest and newest supported Python to catch some of these types of issues.

[2020-09-10 16:49] ocelotl commented on #1078
Sorry, I remembered something about a way to include files in the package but it was for additional files, as explained [here](https://python-packaging.readthedocs.io/en/latest/non-code-files.html).

[2020-09-10 16:56] codeboten commented on #1076
@flands is there an issue open with pylint to track this? If there isn't one, it would be great if you could open one.

[2020-09-10 17:13] ffe4 commented on #1078
For context:

I encountered this issue while testing PR #1069. The tests pass when running `python eachdist.py test`, but fail in the CI, as well as when running `tox -e py38-test-core-sdk` locally.

Tox installs the package without the `-e` flag to test the actual installation.

[2020-09-10 17:16] aabmass commented on #1078
Looks like this line is the issue: https://github.com/open-telemetry/opentelemetry-python/blob/65ddc2db20885ad8928c167c835dc8b54e4a491c/opentelemetry-sdk/setup.cfg#L49

The reason it works in tox is because `tox.ini` is using an editable install (which doesn't use the setuptools configuration afaik): https://github.com/open-telemetry/opentelemetry-python/blob/65ddc2db20885ad8928c167c835dc8b54e4a49

[2020-09-10 17:31] aabmass commented on #1078
Strangely, it also looks like the `version.py` files are missing in a fresh install

[code]

[2020-09-10 17:43] codeboten opened #1092 "Jaeger exporter must report instrumentation info"
As per spec: https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/sdk_exporters/jaeger.md#instrumentationlibrary

The instrumentation name and version must be reported by the exporter

[2020-09-10 17:44] codeboten opened #1093 "Zipkin exporter must report instrumentation info"
As per spec: https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/sdk_exporters/zipkin.md#instrumentationlibrary

The instrumentation name and version must be reported by the exporter

[2020-09-10 17:47] codeboten opened #1094 "OTLP Exporter should report instrumentation info"
Currently the Python OTLP exporter does not export instrumentation information, other implementations do.

[2020-09-11 05:38] toumorokoshi commented on #715
@lzchen I just did a scan through the code. No instrumentation is dependent on the .attributes method. The value is used in:

- exporters, which are designed to work with the SDK
- unit tests, which install the SDK to have a practical codebase to test against

What instrumentations depends on retrieving attributes? I'd argue that's an anti-pattern.

[2020-09-11 18:44] #1078 closed

[2020-09-13 11:37] jan25 commented on #1004
I opened a WIP PR. Any feedback early on would be helpful :)

[2020-09-13 12:45] jan25 commented on #1004
Also, I think we can clarify few things in [exporter spec](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/protocol/exporter.md):
* Mention that `OTEL_EXPORTER_OTLP_CERTIFICATE` and related flags take path to certificate file.
* Clarify on format on `OTEL_EXPORTER_OTLP_HEADERS `. For e.g. is it JSON string?
* Add sample examples for above flags in same spec

[2020-09-13 15:39] lzchen commented on #715
Yes I was just using an example. But I believe what you are saying is true about it being an anti-pattern, they should be using the api methods provided, so whoever creates them should be mindful of that.

I am fine with the proposed idea.

[2020-09-13 15:43] lzchen commented on #949
Closed with #1062

[2020-09-13 15:43] #949 closed

[2020-09-13 15:44] lzchen commented on #906
Closed and opening individual issues in the future.

[2020-09-13 15:44] #906 closed

[2020-09-14 03:07] #1093 closed

[2020-09-14 15:27] #870 closed

[2020-09-14 18:32] codeboten opened #1102 "RecordException with extra parameters"
As per the spec:

[2020-09-14 18:36] codeboten opened #1103 "Add support for Jaeger propagator"
As per spec, we must provide support for the Jaeger propagation format: https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/context/api-propagators.md#propagators-distribution

[2020-09-14 18:39] codeboten opened #1104 "Propagation: TextMap propagator must provide predefined propagation fields"
As per the spec: https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/context/api-propagators.md#fields

[2020-09-14 18:43] codeboten opened #1105 "Add support for OTEL_BSP_* environment variable for the batch span processor"
As per spec: https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/sdk-environment-variables.md#batch-span-processor

[2020-09-14 18:48] codeboten opened #1106 "Support protobuf over HTTP in OTLP exporter"
As per spec, the OTLP exporter must support protobuf over HTTP: https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/protocol/exporter.md#opentelemetry-protocol-exporter

[2020-09-14 18:49] codeboten opened #1107 "OTLP exporter must support gzip content encoding"
As per spec https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/protocol/exporter.md#opentelemetry-protocol-exporter

[2020-09-14 18:51] codeboten opened #1108 "OTLP exporter should support concurrent sending"
As per spec: https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/protocol/otlp.md#concurrent-requests

[2020-09-14 18:56] codeboten opened #1109 "OTLP exporter should support multi-destination exporting"
As per spec: https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/protocol/otlp.md#multi-destination-exporting

[2020-09-14 18:58] codeboten opened #1110 "Zipkin exporter should support Array attributes"
As per spec: https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/sdk_exporters/zipkin.md#attribute

[2020-09-14 19:00] codeboten opened #1111 "Zipkin exporter must map status"
As per spec: https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/sdk_exporters/zipkin.md#status

[2020-09-14 19:49] #1088 closed

[2020-09-14 20:41] ahlaw commented on #1009
Hi, can I take this up?

[2020-09-14 21:46] eunice98k commented on #1092
Hey, could I pick this up?  I am looking for a good first issue to work on!

[2020-09-14 21:48] codeboten commented on #1092
Yes absolutely @eunice98k, assigning it to you. Thanks!

[2020-09-14 21:50] codeboten commented on #1009
Hey @ahlaw, that would be great, thanks!