[2020-09-14 23:15] #1094 closed

[2020-09-15 00:11] alertedsnake opened #1112 "gRPC instrumentation - how to add extra context data to spans?"
For the gRPC instrumentation plugin, I'm looking to add extra data to spans - in my case I have some metadata information (request ID, user, etc.) available in the request or request context that I'd like to get into the trace somehow.

With OpenTracing, you can provide a `SpanDecorator` (see code [here](https://github.com/opentracing-contrib/python-grpc/blob/master/grpc_opentracing/__init__.py#L3

[2020-09-15 06:04] #1092 closed

[2020-09-15 15:56] wilguo commented on #1111
Hi @codeboten, just joined @alolita team on AWS. Can I take this on as my first issue?

[2020-09-15 16:06] codeboten commented on #1111
Sounds great!

[2020-09-15 19:05] rydzykje commented on #1110
@codeboten will be happy to help with that :)

[2020-09-16 03:37] alertedsnake opened #1117 "gRPC server instrumentation docs are inadequate and misleading"
I recently submitted #1113 to fix a missing line from the docs, but I've been digging more into this and I'm not sure that was the right choice.

The docs have this sequence:
[code]
I added this line in #1113:
[code]

It turns out that the `instrument()` method there does some magic by wrapping `grpc.server` in the same way my added line does.  The reason I added this line in the docs, was that I

[2020-09-16 03:45] alertedsnake commented on #1112
Ok so I've been digging.  I thought about writing another interceptor to add the extra data I need, but that doesn't currently work.

The way this library enables its gRPC interceptor by using a wrapper essentially makes it impossible to add any more gRPC interceptors *after* the OpenTelemetry interceptor.

If instead this library's interceptor could be added as if it were a standard interceptor (

[2020-09-16 07:29] ocelotl opened #1118 "Configuration object stores ints as floats"
The global configuration object will store `"2"` as `2.0` instead of `2`. Fix that.

[2020-09-16 17:08] codeboten commented on #1112
hey @alertedsnake, thanks for reporting this issue. Improving the instrumentation support is definitely something we want to work on, that being said the current focus of the main contributors to this repo is to get through the work needed to support the OpenTelemetry api/sdk GA.

If you'd like to tackle this, we'll be happy to review a PR!

[2020-09-16 17:40] alertedsnake commented on #1112
I've implemented my own version of most of what I want out of this already, and would be happy to contribute it, but it's going to be a near-complete rewrite, certainly a bit different (see my comments on #1113 also).  Are we amenable to that, or are there some guidelines for this?

And I'd have a few questions too - for instance, I don't understand the point of the `RpcInfo` structure at all.

[2020-09-16 18:04] JasonXZLiu commented on #1002
Hi! Is this issue free to pick up? I would love to work on it! -cc @alolita

[2020-09-16 18:27] AzfaarQureshi commented on #1001
Hey! Is this issue free to pick up? :)

[2020-09-16 20:18] ahlaw commented on #1000
Hi, can I take this issue?

[2020-09-17 04:24] anuraaga opened #1127 "Confirm specification for runtime information"
open-telemetry/opentelemetry-specification#882 is adding a list of well-known runtime information to the specification to populate in the Resource. The author (me) only knows Java well and has guessed at helpful values for other languages. Please check the spec and update it if there is anything that should be fixed or could be more clear. Thanks!

[2020-09-17 05:22] codeboten commented on #1112
I think there's definitely room for improvement, we might even be able to get the original authors of the instrumentation to chime in where you may have questions.

[2020-09-17 14:19] #627 closed

[2020-09-17 16:28] codeboten commented on #1004
Sure, I think it makes sense to clarify this in the spec. I would expect the format for OTLP_HEADERS to be a list of key/value pairs like the the resource attributes env variable: https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/sdk-environment-variables.md#general-sdk-configuration

[2020-09-17 16:30] lzchen commented on #1079
specs: https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/error-handling.md

[2020-09-17 17:12] ffe4 opened #1133 "Review Documentation"
We should go over the docs to check for their accuracy, as well as, ideally, their usability.

There has also been discussion about including [cross-language guides for setting up exporters](https://github.com/open-telemetry/opentelemetry.io/issues/44#issuecomment-677722716) on the website and [creating requirements for SIG docs](https://github.com/open-telemetry/opentelemetry.io/issues/203#issue-

[2020-09-17 18:39] KKelvinLo commented on #1102
Hello, can I pick up this issue? cc: @alolita

[2020-09-17 18:56] codeboten commented on #1102
That'd be great, thanks!

[2020-09-17 19:33] ahlaw commented on #1000
I believe the most Pythonic way would be to simply document that the caller does not instantiate Spans themselves and have them face the consequences of breaking the trust rather than strictly enforcing it in this case. Does that sound good?

[2020-09-17 19:43] #1009 closed

[2020-09-17 20:29] lzchen commented on #1000
@ahlaw
Perhaps we can use something like [this](https://stackoverflow.com/questions/42735421/how-to-restrict-object-instantiation-only-via-a-factory-in-python) to enforce it.

[2020-09-17 20:51] wilguo commented on #1107
Hi! Can I take on this issue?

[2020-09-17 21:11] ahlaw commented on #1000
Hmm it won't strictly enforce it, but it would definitely make it almost impossible to unintentionally instantiate Span directly. Sounds good to me.

[2020-09-17 21:13] codeboten commented on #1107
Sure!

[2020-09-18 16:53] shovnik commented on #1001
Hi! Could I tackle this issue? - cc @alolita

[2020-09-18 21:01] shovnik commented on #1001
Is the intent to make the attributes someone sets for a span harder to access using name mangling, because usually in python, making a user set properties private and only accessible with getters/setters seems strange. In python's case, can we not just say not to access the attributes in the doc?

[2020-09-18 22:03] #1111 closed

[2020-09-18 22:33] #1063 closed

[2020-09-19 01:19] anuraaga commented on #1001
I agree with @shovnik in that it's best not to go too far if something isn't idiomatic in the language, or would add overhead. The recommendation is `SHOULD NOT` to reflect this expectation I think.

[2020-09-19 18:07] Rashmi-K-A commented on #1103
Hey @codeboten, could you elaborate on this a bit? Was wondering if I could pick this up!

[2020-09-20 01:17] lzchen commented on #1001
[This](https://github.com/open-telemetry/opentelemetry-python/issues/715) issue might be related. I think either approach of setting the properties to private (with a getter/setter) or trusting the user with how they interact with the API + include detailed documentation is fine. The important thing to stress is that we are consistent with our approach, and not have a mixture of these two in our c

[2020-09-20 21:13] shovnik commented on #715
@toumorokoshi I just wanted to confirm whether it has finally been decided to add a getter in sdk to access span attributes as it relates to the issue I am looking into mentioned above by lzchen. I am not sure whether to make the attributes harder to access or simply rely on the docs.

[2020-09-21 12:34] owais opened #1137 "Split commands/sitecustomize out of opentelemetry-instrumentation"
### Is your feature request related to a problem?
Bundling opentelemetry-instrument and opentelemetry-bootstrap commands with base instrumentor implementation makes it hard for vendors to ship vendor specific sitecustomize and instrument/bootstrap commands. Splitting the commands out of the package would allow far more flexible and easier creation of distributions of opentelemetry-python and also

[2020-09-21 14:20] lzchen commented on #1137
Can vendors not just wrap the current `opentelemetry-instrumentation` package?

[2020-09-21 14:42] lzchen commented on #1000
Looking at the implementation now, I'm wondering if we would have to add this for all classes that we'd expect to instantiate via the api rather than directly the constructor (all classes in metrics pretty much). Would it be worth it to do all that or should we simply go with the documentation route?

Thoughts? @codeboten  @aabmass

[2020-09-21 16:07] codeboten commented on #1103
Hi @Rashmi-K-A, this issue is to add a new propagator to handle the Jaeger format specified [here](https://www.jaegertracing.io/docs/latest/client-libraries/#propagation-format). Here's an example of an existing propagator that's already implemented: https://github.com/open-telemetry/opentelemetry-python/blob/master/opentelemetry-sdk/src/opentelemetry/sdk/trace/propagation/b3_format.py

[2020-09-21 16:07] codeboten commented on #1103
Let me know if you'd like to take this on and I can assign it to you, thanks!

[2020-09-21 16:20] #1118 closed

[2020-09-21 16:44] toumorokoshi commented on #715
@shovnik getters in the SDK *should* be provided, as it's [part of the spec](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/sdk.md#additional-span-interfaces).

Can you clarify on the work you're doing, and how that affects accessibility of attributes?

[2020-09-21 16:53] codeboten opened #1139 "Spans's parent must be passed as Context instead of Span(Context)s"
As per spec change:
https://github.com/open-telemetry/opentelemetry-specification/pull/875

[2020-09-21 16:56] lzchen opened #1140 "Create coding samples for span outlining context behaviour"
Start [in]active span with implicit Context
Start [in]active span with explicit parent
Start inactive span and make it the active span in another process/thread/coroutine
For all of the above show setting baggage and where the set values are available

[2020-09-21 18:29] shovnik commented on #1001
If the spec states that the SDK should not provide access the a Span's attributes besides the SpanContext, wouldn't making the properties private (not sure if fully private is possible) and adding a getter would provide access to the attributes anyways? I might be misunderstanding the first approach you suggested @lzchen .

[2020-09-21 19:01] lzchen commented on #1001
@shovnik
I was referring to the concept of "enforcing users to interact with our API" rather than doing whatever they want. There are several places in which this happens (calling `Tracer()` directly instead of `trace.get_tracer()`, accessing `span.attributes` directly instead of (potentially) `span.get_attributes()`, and in your case, simply calling `span.attributes`. It is difficult to prevent u

[2020-09-21 20:24] ahlaw commented on #1140
Could I take this issue?

[2020-09-21 20:29] shovnik commented on #715
@toumorokoshi

I was just trying to decide the best way to make the attributes inaccessible or if I should rely on docs. Since there currently wasn't a getter, I figured making the attributes private in some way right now would make them completely inaccessible. As suggested, I will attend this week's SIG to see if there is an agreed upon standard approach for controlling access  rather than treat

[2020-09-21 20:43] ahlaw commented on #1140
Will this be part of the basic tracing runnable example or just a snippet in the "faq and cookbook" section?

[2020-09-22 15:45] #1012 closed

[2020-09-22 19:37] aabmass opened #1144 "ReadTheDocs configuration issue"
The RTD documentation is not updated with my changes in #1096 https://opentelemetry-python.readthedocs.io/en/latest/sdk/resources.html

However, it works fine locally.

**Steps to reproduce**
Reproduced in all builds on RTD. For example, see logs here: https://readthedocs.org/projects/opentelemetry-python/builds/11937984/ (all builds [here](https://readthedocs.org/projects/google-cloud-opentelemet

[2020-09-23 00:15] ocelotl opened #1147 "Add documentation for supported environment variables"
More and more environment variables are being supported by this project. It would be a good idea to figure out how to keep them organized and documented in a single place where users can easily find documentation for the supported environment variables.

[2020-09-23 15:40] owais commented on #970
This is a known issue and I've a PR up that documents this. This is related to the batch exporter using threading that doesn't work with celery workers. Essentially, you need to instantiate one batch processor per celery worker instead of a global single global worker. Instead of calling `initialize_telemetry()` in your main celery process, do this:

[code]

Note that you should do this only for y

[2020-09-23 16:00] owais opened #1150 "OTEL_RESOURCE_ATTRIBUTES env var does not work as expected"
**Describe your environment**
`OTEL_RESOURCE_ATTRIBUTES` env var has no effect when setting up tracing as documented. Specifically if a resource is instantiated by just calling the class, it does not work.

The following example is how the docs say a resource should be created but it does not pick up additional attributes from `OTEL_RESOURCE_ATTRIBUTES`.
[code]

However, everything works as expect

[2020-09-23 16:03] owais commented on #1150
I see the spec recommends a factory method but does not enforce not having a regular constructor. https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/resource/sdk.md#create

I think constructor should behave the same as the factory method but create a new instance every time it is called instead of re-using a cached one. If we don't want to support constructor a

[2020-09-23 17:44] aabmass commented on #1000
I just want to raise another alternative of using Python "private" underscores to hint to the User not to instantiate directly, but still allow easily overriding this for our testing purposes. For user type annotations, we can expose a [`NewType`](https://docs.python.org/3/library/typing.html#newtype)

[code]

A user trying to call `Span(name, ...)` won't work (typing-wise or at runtime) and if th

[2020-09-23 17:56] aabmass commented on #1150
This makes sense to me. I also don't see much use in caching Resources, since they are probably created once and then registered with the Meter/Tracer provider at startup (unless I'm missing something). In which case we don't need the factory at all?

[2020-09-23 18:20] Rashmi-K-A commented on #1103
@codeboten yep, I'll take this one!

[2020-09-23 19:18] codeboten commented on #1103
Assigned, thanks!

[2020-09-23 22:54] #1058 closed

[2020-09-24 04:20] toumorokoshi commented on #715
What is the motivation for making the attributes private? Again according the spec "attributes" should be accessible in the SDK.

[2020-09-24 04:30] NathanielRN opened #1152 "Allow for Custom Trace and Span IDs Generation - `IdsGenerator` for TracerProvider"
Custom IDs would allow for users to set IDs that they need right at the beginning of a span. This is important if the downstream services or eventual backend that receives these spans need them to be in a certain format. The [opentelemtry-java SDK](https://github.com/open-telemetry/opentelemetry-java/blob/485cc52c6ff1bb3fa12cd950d6eb97d3ceae6e41/sdk/tracing/src/main/java/io/opentelemetry/sdk/trace

[2020-09-24 04:31] #1105 closed

[2020-09-24 04:56] #1144 closed

[2020-09-24 13:57] lzchen commented on #1150
I might be missing something here but doesn't `merge` return a new `Resource`? Where is the caching that takes place?

[2020-09-24 14:11] lzchen commented on #1000
@aabmass
I like this approach. It seems much less invasive then to all these methods to `Span`. Also +1 because it will be much less code for all the other classes we should enforce as well.

[2020-09-24 15:09] aabmass commented on #1150
Ya I agree, the spec just mentions it and I'm not sure I see the use or what you would implement.

Maybe it means to keep a cache of resources for a given set of attributes, so you can just return the same resource object given the same call to `Resource.create()`? I think this would (usually) waste more memory because each unique resource ever created would live forever in the cache.

[code]

[2020-09-24 15:23] codeboten opened #1155 "Add OTEL_EXPORTER environment variable"
As per spec change [here](https://github.com/open-telemetry/opentelemetry-specification/commit/5035e829bf554db07e81f27bd23d81c1d5982fb3), we need to support the OTEL_EXPORTER env variable. More details available here: https://github.com/open-telemetry/opentelemetry-specification/blob/ce510404ec8f8fd2e0e8e2cf51e82a8088c58804/specification/sdk-environment-variables.md

[2020-09-24 15:36] nprajilesh commented on #1155
Could I take this issue?

[2020-09-24 15:40] codeboten opened #1156 "Validate Tracer is safe for concurrent calls"
Part of the work required for GA is to validate that the Tracer is safe for concurrent calls. Ideally this issue would be resolved by adding tests to validate this.

[2020-09-24 15:42] codeboten opened #1157 "Validate Span API is safe for concurrent calls"
Part of the work required for GA is to validate that the Span API is safe for concurrent calls. Ideally this issue would be resolved by adding tests to validate this.

[2020-09-24 15:43] codeboten commented on #929
Closing this issue, will create separate issues as needed.

[2020-09-24 15:43] #929 closed

[2020-09-24 15:44] codeboten commented on #931
Closing this issue, will create separate issues as needed.

[2020-09-24 15:44] #931 closed

[2020-09-24 15:44] codeboten commented on #932
Closing this issue, will create separate issues as needed.

[2020-09-24 15:44] #932 closed

[2020-09-24 15:44] codeboten commented on #930
Closing this issue, will create separate issues as needed.

[2020-09-24 15:44] #930 closed

[2020-09-24 15:52] codeboten commented on #159
The spec around this is here https://github.com/open-telemetry/opentelemetry-specification/blob/fa7bd860fa4d229b15f24bbf5b1380fe93eab01e/specification/trace/api.md#behavior-of-the-api-in-the-absence-of-an-installed-sdk

[2020-09-24 15:53] lzchen commented on #159
1. We already do this.
2. Generating a new span id is incorrect, the traceid and spanid must be both invalid if absence of sdk. TODO: Validate whether the spancontext is propagated properly in the absence of SDK.
3. We already do this.
4. Instrumentations do not rely on the sdk, we already do this.

[2020-09-24 16:14] aabmass commented on #1147
The sphinx [envvar role](https://www.sphinx-doc.org/en/master/usage/restructuredtext/domains.html#directive-envvar) seems to work pretty well, I used it for `OTEL_RESOURCE_ATTRIBUTES`: https://github.com/open-telemetry/opentelemetry-python/blob/2b46d11b6f248e4ae98bae0a310824945d91053a/opentelemetry-sdk/src/opentelemetry/sdk/resources/__init__.py#L56-L64

And here's how it shows in the docs: https:

[2020-09-24 16:51] codeboten commented on #1140
Ideally both.

[2020-09-24 21:48] jrozentur opened #1159 "DefaultTracerProvider set permanently in global var, does not look up user-configurable provider"
**Describe your environment**
Python3.7 sdk 0.12b0
**Steps to reproduce**
trace.get_tracer(__name__)
trace.get_tracer_provider().add_span_processor(OITracing._span_processor)
=> E   AttributeError: 'DefaultTracerProvider' object has no attribute 'add_span_processor'
ok, then
trace.set_tracer_provider(
            TracerProvider(sampler=trace_api.sampling.ALWAYS_ON))
=> WARNING: opentelemetry.trace

[2020-09-24 22:08] eoinnoble commented on #1038
Hi there! I was interested in trying my hand at this but had a couple of questions first.

When the specification says

obviously that means `e._name = 'new name'` should fail, but does it also mean that `e._attributes[0]['something'] = 'edited'` should fail?

And when the specification says

I read that as meaning that an event could appear in the list of events after another event that had a lat

[2020-09-24 23:26] ebrake opened #1160 "Django + opentelemetry-ext-dbapi creates separate mysql traces for middleware"
When using opentelemetry-ext-dbapi with django (using mysqlclient here), mysql component traces are being created with separate trace ids. This generates loads of traces which should instead be spans of the primary trace/request.

The separate mysql traces all seem to be from middleware (auth, sessions, cookies, custom, etc.) as well as system (migrations, content types, SHOW FULL TABLES, etc) ...

[2020-09-24 23:27] ahlaw commented on #1000
There is a problem with handling typing with NewType. An instance of type `_Span` cannot be used in places where the newtype `Span` is expected since `NewType` declares `Span` to be a subclass of `_Span`. On the flip side, casting an instance of `_Span` to `Span` raises [PyLint errors](https://github.com/PyCQA/pylint/issues/3162) when members of that instance are referenced. In addition, the newty

[2020-09-24 23:44] owais commented on #1155
@nprajilesh I actually have this implemented in a PR. I need to remove some things from it and submit it again for review. https://github.com/open-telemetry/opentelemetry-python/pull/1036

[2020-09-25 01:10] ebrake commented on #659
Affected code is now here: https://github.com/open-telemetry/opentelemetry-python/blob/master/instrumentation/opentelemetry-instrumentation-django/src/opentelemetry/instrumentation/django/__init__.py#L59

[2020-09-25 01:26] #1025 closed

[2020-09-25 02:50] Rashmi-K-A commented on #1103
Hi, @codeboten, the implementation of the extractor function for Jaeger format requires a keys method implemented to extract keys with the prefix 'uberctx-'.  I took a look at the spec discussion [here](https://github.com/open-telemetry/opentelemetry-specification/pull/825#issuecomment-679341006) and I don't see any other way out. Advice on how to proceed please!

[2020-09-25 14:06] lzchen commented on #1038
I believe so.

I believe the former.

[2020-09-25 15:19] codeboten commented on #1103
Hey @Rashmi-K-A, looks like it's probably worth addressing this issue first then: https://github.com/open-telemetry/opentelemetry-python/issues/1084, did you want to tackle that one?

[2020-09-25 15:31] nprajilesh commented on #1084
@codeboten I'll take this up. Could you assign this to me?

[2020-09-25 15:35] Rashmi-K-A commented on #1103
Someone picked it up, I'll wait for that issue to be closed before raising a PR!

[2020-09-25 15:41] codeboten commented on #159
Our existing propagation unit tests covers this scenario here:
https://github.com/open-telemetry/opentelemetry-python/blob/872975b6be5b8022ee7501221bdb6261624f035e/opentelemetry-api/tests/propagators/test_global_httptextformat.py#L63-L68

[2020-09-25 15:41] #159 closed

[2020-09-25 15:42] codeboten commented on #1084
Done, thanks!

[2020-09-25 15:43] codeboten commented on #1103
Wow that was quick, sounds good!

[2020-09-25 18:02] eoinnoble commented on #1038
Ok, maybe recursively transforming `_attrributes` into nested tuples will be necessary in that case? I can try that out unless you think it's a terrible idea.

If `events` is already ordered as required by the specification perhaps this issue can be renamed to be solely about event immutability?

[2020-09-25 19:37] aabmass commented on #1000
Looking at that pylint issue, it looks like it gives false positives for all NewTypes? By casting do you mean `Span(_Span(...))` or `typing.cast`?

Hmm that sounds like a deal breaker for NewType 🙁

[2020-09-25 20:05] aabmass commented on #1000
Another option might be to have the `Span` class be abstract, then have actual implementation `_Span` subclass it and be used internally?

[code]

[2020-09-25 21:27] Tecktron opened #1166 "opentracer-shim not fully compatible with opentracing"
This is a bit of a case study. The current implementation of [jaeger-client-python doesn't support W3C trace headers](https://github.com/jaegertracing/jaeger-client-python/issues/284), which some newer services in our stack not written in python are now using (via `opencensus`), thus we need to become compatible.

Having taken note that the `opentracing` & `opencensus` packages are (supposedly) me

[2020-09-25 22:12] codeboten opened #1167 "Add ValueRecorder to OTLP metric exporter"
The [OTLP exporter](https://github.com/open-telemetry/opentelemetry-python/pull/1143/files#diff-3bba1378efa462d49445b82be4edb2f9R190) does not currently support ValueRecorder.

This is waiting on https://github.com/open-telemetry/opentelemetry-specification/issues/731

[2020-09-25 23:48] LetzNico commented on #998
Hi there!

I would like to get started contributing on the repo. This is what I understood from the specs and the issue:
- An attribute's value should never be `None`
- Adding an attribute with a `None` value should be a no-op or fire a warning
- The scope of this issue is to implement the following mechanism: modifying the value of an existing attribute from a valid value to `None` should pop the

[2020-09-26 03:03] lzchen commented on #1038
You can do something similar to [this](https://github.com/open-telemetry/opentelemetry-python/pull/1134) or simply use nested tuples. I don't think you can override `__setattr__` because then you won't be able to set anything in the `__init__` method.

I believe your second question is correct, only about immutability if order is already preserved.

[2020-09-26 12:19] eoinnoble commented on #1038
I just want to make sure we want to go this far into the internals. As the code stands right now something like this will fail:

[code]

This is because we already wrap most of the properties of `Event` and `EventBase` in `@property` decorators, so any attempt to directly change `attributes`, `name` or `timestamp` will fail. I feel like for those top-level properties we don't need to prevent someo

[2020-09-27 16:52] nprajilesh commented on #1084
Hey @codeboten , could use some help understanding this => I went through the spec and the existing codebase and my understanding is that currently when the extract method is called, a get function is passed to it as a param.

If we have to modify Getter to have both get() and keys() as functions, we will have to make Getter a class.

Doing this change would mean we would have to change how the ge

[2020-09-28 07:26] plajjan opened #1172 "MinMaxSumCountAggregator export to Prometheus; map to summary + min & max?"
This is a question / discussion issue. I am working in this area and would like to get feedback and direction before I write too much code.

After #945 we have working export of ValueRecorder that have a MinMaxSumCountAggregator attached. It maps the MinMaxSumCountAggregator to the SummaryMetricFamily in Prometheus, which gets us a `_sum` and `_count` metric in the end. That means we've covered tw

[2020-09-28 10:44] plajjan commented on #1172
I tried implementing the above, which works (as mentioned requires a few changes in other places).

However, the result isn't entirely what I imagined. I figured MinMaxSumCount (MMSC) would keep track of min and max within a poll cycle, not be a total min / max across all of time. Perhaps I'm just not getting how these are supposed to be used, but isn't this useless? At least in the export to a TS

[2020-09-28 12:45] vladimirmyshkovski commented on #1016
The same error

[2020-09-28 15:55] codeboten opened #1173 "Zipkin exporter must support Zipkin v1 JSON format"
As per spec: https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/sdk_exporters/zipkin.md#considerations-for-legacy-v1-format

[2020-09-28 15:55] codeboten opened #1174 "Zipkin exporter must support Zipkin v1 thrift format"
As per spec: https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/sdk_exporters/zipkin.md#considerations-for-legacy-v1-format

[2020-09-28 15:56] codeboten opened #1175 "Zipkin exporter must support Zipkin v2 Protobuf format"
As per spec: https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/sdk_exporters/zipkin.md#considerations-for-legacy-v1-format

[2020-09-28 16:17] HaddadJoe commented on #1166
We are having the same issue described above.

After a quick look, I think it might be due to how the inject function is implemented in the [shim extension](https://github.com/open-telemetry/opentelemetry-python/blob/master/instrumentation/opentelemetry-instrumentation-opentracing-shim/src/opentelemetry/instrumentation/opentracing_shim/__init__.py#L681)

`ctx = set_span_in_context(DefaultSpan(span

[2020-09-28 20:26] codeboten opened #1176 "Added generic mechanism to provide the ability to extract span attributes"
Multiple instrumentation packages are currently implementing the ability to extract additional attributes from requests via a configuration option, this should be refactored to be re-used in additional instrumentations.

https://github.com/open-telemetry/opentelemetry-python/pull/1158
https://github.com/open-telemetry/opentelemetry-python/pull/1154

[2020-09-28 21:56] CeeBeeCee opened #1177 "Botocore instrumentation omits TracerProvider resources"
I'm manually instrumenting Botocore (v0.13b) in my Flask/postgres app as follows with OTLP exporter.

`from opentelemetry.instrumentation.botocore import BotocoreInstrumentor
labels = {
             "service.name": "myapp",
             "version": 1
              }
resource = Resource(attributes=labels)
trace.set_tracer_provider(TracerProvider(resource=resource))
otlp_exporter = OTLPSpanExporter(e

[2020-09-29 14:59] lzchen commented on #1038
I think we would still want to prevent users from modifying the dict elements like in `root.events[0].attributes["name"] = "hello"  `.
I believe you can do this by utilizing a `MappingProxyType` similar to what we do in [baggage](https://github.com/open-telemetry/opentelemetry-python/blob/master/opentelemetry-api/src/opentelemetry/baggage/__init__.py#L37).

[2020-09-29 15:10] lzchen commented on #998
See below.

Possibly. Maybe we can just let this occur and then the exporter deals with the value accordingly. Should be fine to implement it as a no-op though.

Yes.

[2020-09-29 15:36] #862 closed

[2020-09-29 15:36] #876 closed

[2020-09-29 20:10] owais commented on #1152
How does Java implement this? Have you considered configuring generator globally like propagators or the provider is registered?

[2020-09-30 00:55] ahlaw commented on #1000
That could work, the abstract `Span` class wouldn't need any abstract methods either since `trace_api.Span` is also an abstract base class. Users attempting to instantiate `Span` from `opentelemetry.sdk.trace` will be met with this error: `TypeError: Can't instantiate abstract class Span with abstract methods add_event, end, get_context, is_recording, record_exception, set_attribute, set_status, u

[2020-09-30 02:37] NathanielRN commented on #1152
OTel Java has an `IdsGenerator` [interface](https://github.com/open-telemetry/opentelemetry-java/blob/485cc52c6ff1bb3fa12cd950d6eb97d3ceae6e41/sdk/tracing/src/main/java/io/opentelemetry/sdk/trace/IdsGenerator.java) defined which must be implemented to customize the generation of IDs. Then, to create the `TracerSdkProvider` class you must [provide the ID Generator you want to use](https://github.co

[2020-09-30 02:53] aabmass commented on #1000
If you move the implementation of those methods to `_Span` then that's correct. I was thinking it might be cleaner to not split the implementation across two classes and instead just have it all in `_Span`. Then public `Span` interface would never need to be touched. Might be easier to discuss in the PR if that approach is feasible

[2020-09-30 03:18] aabmass opened #1180 "Remove resource from individual spans"
**Steps to reproduce**
You can currently set a resource directly on a span: https://github.com/open-telemetry/opentelemetry-python/blob/9be899e84ccb5edcc9830680d5b00029d2583c28/opentelemetry-sdk/src/opentelemetry/sdk/trace/__init__.py#L367

My understanding was it should only be in the Tracer/Meter providers since resource is generally a constant throughout the program based on the environment.

*

[2020-09-30 09:23] owais opened #1181 "Remove implicit dependency on TracerProvider from Tracer"
Today, the main tracer implementation accept a source argument during initialization which refers to the tracer provider instance. The tracer then stores a reference to the source (tracer provider) and uses it to access a number of different things such as sampler, resource, span processor and soon ID generator. This implicitly couples SDK tracer and tracer provider implementations. Anyone impleme

[2020-09-30 14:22] #1079 closed

[2020-09-30 14:34] lzchen commented on #1180
Continued from [this comment](https://github.com/open-telemetry/opentelemetry-python/pull/1164#discussion_r497218054)

[2020-09-30 14:36] lzchen commented on #1180
Might be related to: https://github.com/open-telemetry/opentelemetry-python/issues/1177

[2020-09-30 14:50] lzchen opened #1182 "Make the metric instrument constructors base off MeterProvider implementation"
From [this comment](https://github.com/open-telemetry/opentelemetry-python/pull/1116#discussion_r495010661), the constructors of metric instruments in the SDK need to pass in the [explicit type](https://github.com/open-telemetry/opentelemetry-python/blob/master/opentelemetry-sdk/src/opentelemetry/sdk/metrics/__init__.py#L427). This will make it so that the implementation of the resulting metric in

[2020-09-30 14:50] #1071 closed

[2020-09-30 15:25] aabmass commented on #1180
What are the `boto`/`botocore` instrumentations doing it for (could they just use labels)?

Doing this IMO violates the idea of a "a Resource is an immutable representation of the entity producing telemetry". The other issue is OTLP has no way of representing a span-level resource, besides maybe merging into span attributes.

[2020-09-30 17:14] ocelotl opened #1184 "API test imports SDK"
[This](https://github.com/open-telemetry/opentelemetry-python/blob/master/opentelemetry-api/tests/metrics/test_globals.py#L6) API test imports the SDK. Move that test to the SDK instead.

[2020-09-30 17:51] aabmass commented on #1177
I believe the issue here is that the OTLP trace exporter does not attach the TracerProvider's resource. Instead, it is taking resource from individual spans which I believe is an issue (see #1180).

[2020-09-30 18:01] #1184 closed

[2020-09-30 19:42] ocelotl opened #1186 "Wrong case in configuration example"
[This](https://github.com/open-telemetry/opentelemetry-python/blob/master/opentelemetry-api/src/opentelemetry/configuration/__init__.py#L46) should be ``Configuration().METER_PROVIDER == "my_meter_provider"`` would be ``True``.

[2020-09-30 21:45] #1186 closed

[2020-09-30 22:21] codeboten commented on #1084
@nprajilesh yes that is my understanding of how this feature should be implemented.

[2020-10-01 13:51] ocervell opened #1190 "Add Datadog metrics exporter"
Add an exporter to ship OT metrics to Datadog. Currently only the trace exporter is available.

[2020-10-01 16:10] #659 closed

[2020-10-01 16:10] #1160 closed

[2020-10-01 16:44] aabmass commented on #1180
JS actually has this: https://github.com/open-telemetry/opentelemetry-js/blob/f731c65201ef49d91d8ec14ad329d9e485e2bcfb/packages/opentelemetry-tracing/src/Span.ts#L50

[2020-10-01 18:47] codeboten opened #1193 "Update baggage header name"
As per the spec, baggage propagation must use the header as specified in the w3c baggage specification https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/baggage/api.md#baggage-propagation

[2020-10-01 21:29] #1152 closed

[2020-10-02 09:29] falau commented on #1176
Hello, I just came across this topic and wondering if it's possible to support multilevel lookup on extracting attributes? Like`request.attr1.attr2`.
Currently all implementations mentioned use `getattr` and then convert those attributes with `str()`, which can only look up one level of attributes. However, my use case is to access both `request.user`(which is `str(request.user.username)` in Djang

[2020-10-02 15:19] lzchen commented on #1172
I believe you can get the min/max within a poll cycle by setting `stateful` to be [false](https://github.com/open-telemetry/opentelemetry-python/blob/master/opentelemetry-sdk/src/opentelemetry/sdk/metrics/__init__.py#L480). Although since the metrics SDK specs are still WIP, there might be significant changes in how we represent statefulness.

[2020-10-02 15:22] #1193 closed

[2020-10-02 21:34] aabmass opened #1197 "Document django instrumentation for production"
**Is your feature request related to a problem?**
Reading through Django instrumentation docs, the example [adds `DjangoInstrumentor().instrument()` to `manage.py`](https://opentelemetry-python.readthedocs.io/en/latest/examples/django/README.html?highlight=django). This works for development but if you run gunicorn or other WSGI server, the instrumentation is not happening. I guess the best thing

[2020-10-02 21:41] nprajilesh commented on #1084
@codeboten Could you check if the implementation in this PR [#1196](https://github.com/open-telemetry/opentelemetry-python/pull/1196) is ok? If so, I will make it ready for review.

[2020-10-05 12:37] thedrow commented on #62
The .NET SDK provides an async API.
I think we should provide one too. Preferably with AnyIO to allow any event loop implementation to be used with this library.

Please consider re-opening since lacking an async API may impact the adoption of OpenTelemetry in the next Celery major versions.

[2020-10-05 16:44] LetzNico commented on #998
Thanks for your answer :). Gonna work on this and get back to you soon

[2020-10-05 18:43] codeboten opened #1200 "An invalid name should return a working no-op Meter implementation"
As per spec, a default meter should be returned if an invalid instrumentation name is specified in `get_meter`:
https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/metrics/api.md#obtaining-a-meter

[2020-10-05 19:03] codeboten opened #1201 "Meter implementations MUST return an error when multiple instruments are registered by the same name"
As per spec:

https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/metrics/api.md#instrument-naming-requirements

[2020-10-05 21:52] codeboten opened #1202 "Metrics SDK: Rename Batcher to Processor"
As per the spec, the batcher is now called processor:

https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/metrics/sdk.md#sdk-terminology

[2020-10-06 00:57] NathanielRN opened #1204 "SDK package is setup as a Regular Package when it should be a Namespace Package"
As a follow up to @aabmass 's [comment](https://github.com/open-telemetry/opentelemetry-python/pull/769#issuecomment-638381625) on #769, the `__init__.py` file in the SDK package causes it to be interpreted as a Regular Package instead of a Namespace Package. See the [two types of Python packages](https://docs.python.org/3/reference/import.html#namespace-packages). Namespace Packages should not ha

[2020-10-06 03:42] codeboten opened #1206 "System Metrics instrumentation shows Exception messages"
**Describe your environment**
Running the latest version of opentelemetry.instrumentation.system_metrics using Python 3.8 on MacOS

**Steps to reproduce**
Run the following
[code]

**What is the expected behavior?**
Metrics are output to the console

**What is the actual behavior?**
The following exceptions are logged:

[code]

[2020-10-06 04:18] codeboten opened #1208 "Metrics SDK: The MetricRecord should have access to the resource"
As per the metrics spec:

Not having the resource in the export record currently causes an issue retrieving resource information in the OTLP exporter.

More information:
https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/metrics/sdk.md#sdk-terminology

[2020-10-06 15:23] #1206 closed

[2020-10-06 15:47] #1202 closed

[2020-10-06 20:13] KKelvinLo commented on #1102
Un-assigning myself from this issue - finished other first issues, leaving for others to try

[2020-10-06 21:44] #1000 closed

[2020-10-07 01:33] p-yang opened #1210 "BatchExportSpanProcessor can degenerate into timeout-less busy-waiting"
**Describe your environment**
* Python version 3.7.9
* Opentelemetry version 0.12b0 (although bug is present in `master`)

**Steps to reproduce**
Hard to precisely simulate. Need to force a high-latency span export and then stop emitting spans. I can try and emulate with a code snippet later.

**What is the expected behavior?**
Minimal CPU usage from worker thread, especially if no spans are being

[2020-10-07 01:34] p-yang commented on #1210
Issue is [also present on master](https://github.com/open-telemetry/opentelemetry-python/blob/master/opentelemetry-sdk/src/opentelemetry/sdk/trace/export/__init__.py#L216). Should be easily fixed by just resetting the timeout before the `continue` statement.

Just wanted to confirm my logic. I can submit a fix when I get time later!

[2020-10-07 03:38] rgstephens commented on #1061
I also ran into this issue in conjunction with the SQLAlchemy instrumentation.

- macOS Catalina 10.15.6
- Jaeger 1.19.2
- Python 3.7.9
- OpenTelemetry 0.13b0

[2020-10-07 15:17] #1002 closed

[2020-10-07 16:07] #1208 closed

[2020-10-07 21:00] stschenk opened #1213 "DjangoInstrumentor does not provide 'http.route', azure-monitor exporter does not export request path"
**Describe your environment**
python version: 3.7.3
opentelemetry-sdk version: v0.13b0
opentelemetry-instrumentation version: v0.13b0
opentelemetry-instrumentation-django version: v0.13b0
opentelemetry-azure-monitor version: v0.5.0

**Steps to reproduce**
Instrument django app with opentelemetry, opentelemetry-instrumentation-django, and opentelemetry-azure-monitor.  Configure azure-monitor export

[2020-10-07 21:03] lzchen opened #1214 "Update StatusCodes to comply with specs"
From [pr](https://github.com/open-telemetry/opentelemetry-specification/pull/966) and [specs](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/api.md#set-status). Change old grpc status code to newly defined status codes.

[2020-10-07 21:09] stschenk opened #1215 "Ability to disable opentelemetry-instrumentation-dbapi sql parameter capture"
**Is your feature request related to a problem?**
dbapi tracing is working well.  The problem I am seeing is that is captures `db.statement.parameter` for every sql statement.  This is a privacy issue for us.

**Describe the solution you'd like**
I would like the abilitity to turn off the capturing of `db.statement.parameter`.  Or better yet, to not capture`db.statement.parameter` by default and p

[2020-10-07 21:30] lzchen commented on #1213
@stschenk
Thanks for the find.

Seems like `django` instrumentation isn't fully following http semantic conventions listed [here](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/semantic_conventions/http.md#http-server-semantic-conventions). I believe `falcon` and `fastapi` have the same problem.

[2020-10-07 21:37] ocelotl opened #1216 "Data points in exporter shouldnt use bound instruments"
The OTLP exporter should pull values from the aggregator.

I am opening this issue to create an id for a PR of mine that will fix it, a more detailed description is pending.

[2020-10-08 01:35] owais opened #1217 "Configuration class should have convenience methods to access common config options"
A lot of instrumentations use very similar configuration options such as `OTEL_PYTHON_<instrumentation>_TRACED_REQUEST_ATTRS` or `OTEL_PYTHON_<instrumentation>_EXCLUDED_URLS`. Each instrumentation duplicates code to read and parse these values using the Configuration class. It would be nice if the Configuration class had convenience methods for such common config options. It could look something l

[2020-10-08 02:52] #1176 closed

[2020-10-08 04:15] rgstephens commented on #1061
Discovered that this is a known issue with the Mac documented by Jaeger [here](https://www.jaegertracing.io/docs/1.19/client-libraries/#emsgsize-and-udp-buffer-limits) along with instructions on how to make a configuration change on the Mac.

[2020-10-08 15:10] codeboten opened #1220 "Allow samplers to modify tracestate"
As per spec change: https://github.com/open-telemetry/opentelemetry-specification/pull/988

[2020-10-08 15:36] codeboten opened #1221 "B3 propagator must be distributed as a separate package"
As per spec, the propagators must be distributed as separate packages:

https://github.com/open-telemetry/opentelemetry-specification/blob/2ebefc181a99dc79bbb4b1d3e85e20b240a5f26f/specification/context/api-propagators.md#propagators-distribution

[2020-10-08 15:39] #1139 closed

[2020-10-08 16:35] aabmass opened #1222 "Version numbers/semantic versioning"
I think there might be a bug here but also some discussion needed.

The current release versions `{major}.{minor}b0` e.g. [`opentelemetry-api 0.13b0`](https://pypi.org/project/opentelemetry-api/). However, after the release commit, the versions get updated for the next version with `{major}.{minor}.dev0`: https://github.com/open-telemetry/opentelemetry-python/blob/0e852ea393aa042d429657b9d22208eb3

[2020-10-08 16:36] aabmass opened #1223 "Auto-assign reviewers to each PR"
This is already done in the OTel spec repo, but it would be great to round robin assign approvers to each PR. I think we are all in favor of this.

As a part of this, we need to clean up the approvers list cc. @codeboten

[2020-10-08 17:36] mezhaka opened #1224 "Failure to import the module (No module named 'google.cloud.monitoring_v3.proto.metric_pb2')"
**Describe your environment**

[code]

**Steps to reproduce**

[code]

Observe the error:
[code]

**What is the expected behavior?**
Not fail

**What is the actual behavior?**
Exception

**Additional context**
My guess is that the issue is due to the release google-cloud-monitoring 2.0.0 on 2020-10-06 (https://pypi.org/project/google-cloud-monitoring/).  I tried to pin the version to <2 in the vir

[2020-10-08 18:43] lzchen commented on #1224
The cloud monitoring exporter doesn't live in this repository. Perhaps you can file an issue here: https://github.com/googleapis/python-monitoring

[2020-10-08 18:44] lzchen commented on #1223
Approvers list should be good to go.

[2020-10-08 18:45] lzchen commented on #1222
Are you referring specifically to how `{major}.{minor}b0` doesn't adhere to semvar because of the lack of a `.` after `{minor}`?

[2020-10-08 19:52] aabmass commented on #1222
Yes, and also the `b0` should be after another hyphen for semver ([see here](https://semver.org/#backusnaur-form-grammar-for-valid-semver-versions)). So like `0.14.0-b0` or similar. The patch should be a "numeric identifier"

[2020-10-08 20:10] lzchen commented on #1222
I'm not really sure if there was any reasoning behind this, it looks like the discrepancy started from [0.1a.0](https://github.com/open-telemetry/opentelemetry-python/pull/190) to [0.2a0](https://github.com/open-telemetry/opentelemetry-python/pull/250). I am fine with changing the versions now if we have a good reason to.

From what you are saying, it appears the new template would be <major>.<min

[2020-10-08 21:15] CeeBeeCee opened #1225 "Flask Instrumentation : traceparent header not propagating"
I have a Flask app instrumented with opentelemetry-instrumentation-flask==0.13b0 using the default Trace Context propagation.  When it receives a request with a traceparent header as you can see in the curl command below (copied from a browser trace instrumented with opentelemetry-js), I am expecting the resulting trace from the Flask app to have the browser trace id as the parent. But the parent

[2020-10-09 10:56] telemmaite opened #1227 "opentelemetry-instrumentation-pymysql targeting old PyMySQL version"
Hello the current **PyMySQL** version is **[0.10.1](https://github.com/PyMySQL/PyMySQL/releases)**, could you bump the current version lock from **[0.9.3](https://github.com/open-telemetry/opentelemetry-python/blob/master/instrumentation/opentelemetry-instrumentation-pymysql/setup.cfg#L45)** ?

**Is your feature request related to a problem?**
Yes.

**Describe the solution you'd like**
Upgrade **o

[2020-10-09 14:36] #1038 closed

[2020-10-09 17:16] #1227 closed

[2020-10-09 18:45] aabmass commented on #1222
Yup I think that's right

We would only need `b`, but my understanding of semver is that the pre-release fields are supposed to be pre-releases of a given version ([link](https://semver.org/#spec-item-9:~:text=A%20pre%2Drelease%20version%20indicates%20that%20the,denoted%20by%20its%20associated%20normal%20version.)):

Semver does say that all [pre `1.0.0` releases are "initial development"](https:/

[2020-10-10 09:41] shreyagupta30 commented on #1102
Hi, @codeboten ! I am an outreachy applicant. I'd be happy to work on this issue. Can I contribute to it?

[2020-10-10 20:58] codeboten commented on #1102
Sure @shreyagupta30, will assign it to you

[2020-10-11 01:24] alexppg opened #1229 "Does ValueRecorder work with PrometheusMetricsExporter?"
Hi
I'm using the 0.13b version of opentelemetry and when using the ConsoleMetricsExporter exporter, I can use a ValueRecorder with no problem, but if I change the exporter to the prometheus one, I can't.
There's any limitation on this exporter? If so, how could one use ValueRecorder?
Thanks for your work

[2020-10-12 15:08] lzchen commented on #1229
This should be supported via [this PR](https://github.com/open-telemetry/opentelemetry-python/pull/945), it just hasn't been released yet. I will be doing a release today.

[2020-10-12 15:09] #1008 closed

[2020-10-12 15:13] lzchen commented on #1222
Although this is true, if we deviate from what we are doing currently (removing `beta` and relying on the fact that the `0` represents initial development it may cause confusion (people might think it is not in beta anymore). As well, on [nuget](https://www.nuget.org/packages/OpenTelemetry/), they are using the `beta` flag. In [OpenCensus](https://pypi.org/project/opencensus/) we are using the `0`

[2020-10-12 20:44] CeeBeeCee commented on #1225
Hi @lzchen . I'm not sure how the issue you quoted ties with the issue I reported. Could you please shed some light?

[2020-10-12 20:52] aabmass commented on #1223
Hmm so opentelemetry-specification is using this [auto assign](https://github.com/kentaro-m/auto-assign) Github Action with [this config](https://github.com/open-telemetry/opentelemetry-specification/blob/master/.github/auto_assign.yml). It doesn't look like it works with an existing github group (approvers list)

[2020-10-12 21:06] aabmass commented on #1223
This is another option that doesn't require installing a bot: https://docs.github.com/en/free-pro-team@latest/github/setting-up-and-managing-organizations-and-teams/managing-code-review-assignment-for-your-team

You can choose round robin or "load balance" assignment algorithms.

[2020-10-13 11:19] mezhaka commented on #1224
The reason I came here it that the error seems to originate in `opentelemetry.exporter.cloud_monitoring` and this repo is linked from the https://pypi.org/project/opentelemetry-exporter-cloud-monitoring/.

Which of mine assumptions is not valid?

[2020-10-13 11:45] LetzNico commented on #998
Looks like the spec has changed regarding that topic: https://github.com/open-telemetry/opentelemetry-specification/pull/992 defines updating an attribute value to `null` to be undefined behavior (disc here https://github.com/open-telemetry/opentelemetry-specification/issues/797). In the current implementation, this is a no-op. According to [this comment](https://github.com/open-telemetry/opentele

[2020-10-13 14:38] lzchen commented on #1225
@CeeBeeCee
It was a mistake, tagged the wrong issue.

[2020-10-13 14:56] lzchen commented on #1225
@CeeBeeCee
Yes this is still an open issue and someone will be looking into this.

[2020-10-13 15:11] lzchen commented on #998
@LetzNico
I believe your understanding is correct, we can leave the no-ops for setting attributes to `None`.

However, I think due to [this logic](https://github.com/open-telemetry/opentelemetry-python/blob/04792d56f196c16d2a0f02f829e259b9ba133887/opentelemetry-sdk/src/opentelemetry/sdk/trace/__init__.py#L304), we still have the issue of `None` attributes in a `Sequence` type being dropped.

[2020-10-13 15:12] aabmass commented on #1224
@mezhaka the trace and metrics exporters have been combined into a single package [opentelemetry-exporter-google-cloud](https://pypi.org/project/opentelemetry-exporter-google-cloud/) and moved into [this repo](https://github.com/GoogleCloudPlatform/opentelemetry-operations-python). The other one packages need to be deleted, but there is still some traffic to them so they are sitting around 🙁

Yes

[2020-10-13 15:39] lzchen commented on #1223
Changed the settings to "round robin" for the current [approvers](https://github.com/orgs/open-telemetry/teams/python-approvers) list. We can try this out and see if this works.

[2020-10-13 15:56] aabmass commented on #1222
@lzchen after doing a little more reading, here's my understanding:
- [PyPA recommends using semantic versioning](https://packaging.python.org/guides/distributing-packages-using-setuptools/#semantic-versioning-preferred) but **only** clauses 1-8
  * > Python projects adopting semantic versioning should abide by clauses 1-8 of the Semantic Versioning 2.0.0 specification.
  * this specifically leave

[2020-10-13 16:53] codeboten opened #1233 "Move non-core instrumentations/exporters/propagators out of main repo"
As per discussion in the SIG meetings, we want to move all non-core instrumentations/exporters and propagators out of this repo and into the opentelemetry-python-contrib repo.

Benefits
- less area to cover in the core repo
- accelerate merging of third-party instrumentations/exporters/propagators

Goals
- CI pipeline somehow must remain sane: validation that PRs in either repo isn't breaking the

[2020-10-13 16:55] NathanielRN commented on #1233
Thanks for writing this up, @codeboten! Looking forward to helping 👍

[2020-10-13 18:02] NathanielRN opened #1234 "Write Guidelines for Python Packages Extending OTel Python Main Packages"
Following the discussion in #1205 where we identified that the `opentelemetry` (i.e. the opentelemetry-api package) and (soon) the `opentelemetry-sdk`packages are setup as Namespace Packages, we decided there was a need for guidelines which explain how subsequent extension packages should extend these base packages.

A Namespace Package allows other directories to extend the original namespace pac

[2020-10-13 19:41] aabmass commented on #1215
related https://github.com/open-telemetry/opentelemetry-python/issues/855

[2020-10-13 23:42] ocelotl opened #1236 "OTLP exporter uses bound_instruments"
The OTLP exporter attempts to use [`bound_instruments`](https://github.com/open-telemetry/opentelemetry-python/blob/master/exporter/opentelemetry-exporter-otlp/src/opentelemetry/exporter/otlp/metrics_exporter/__init__.py#L71). This causes an attribute error:

[code]

[2020-10-14 01:24] owais opened #1238 "Instrumentation breaks psycopg2 when registering types."
**Describe your environment**
PostgreSQL supports JSON and JSONB types of DB columns. psycopg2 supports registering custom typecasters for these types. Most of the registration functions accept a connection or a cursor instance. The library crashes if anything else is passed in place of a connection or a cursor.

**Steps to reproduce**

Running the following program
[code]

results in the followin

[2020-10-14 01:30] owais commented on #1238
On a related note, we might want to reevaluate if we should be wrapping objects with different types or patching classes in place as a lot more libraries might rely on such runtime type checking. In general, instrumentation should not change the behavior of instrumented libraries in any way. I think swapping out types/implementations probably counts as changing behavior as `isinstance/issubclass`

[2020-10-14 14:40] owais commented on #1197
Adding to wsgi.py may or may not work when using gunicorn. Everything depends on the forking model used with gunicorn and the SDK span processor used. I've found the best place to setup tracing and apply instrumentation when using gunicorn is the `post_fork()`.

Setup tracing in gunicorn.config.py like
[code]

Then run as:
[code]

[2020-10-14 16:05] owais opened #1240 "auto-instrumentation should have a way to disable specific instrumentations"
`opentelemetry-instrument` command automatically instruments all supported packages. Sometimes it is useful to temporarily disable an instrumentation. Right now the only way to do this is to uninstall the instrumentation package you want to disable. This can be inconvenient especially when the instrument command is coupled with bootstrap command.

Consider an application shipped as a docker contai

[2020-10-14 18:37] shreyagupta30 commented on #1102
Hi, @codeboten! I tried solving this issue with #1242. Kindly review it and let me know the required changes.

[2020-10-14 19:07] #1057 closed

[2020-10-14 20:15] aabmass commented on #1234
I think the reasoning behind `opentelemetry.instrumentation` and `opentelemetry.exporter` was simply namespacing rather than extending the API (in fact, exporter is a concept only in the SDK and not the API). I believe it was just copied from OpenCensus which uses `opencensus.ext.*` for all contrib packages ([e.g. grpc](https://github.com/census-instrumentation/opencensus-python/tree/master/contri

[2020-10-14 20:48] alexppg commented on #1229
Awesome, thanks!

[2020-10-14 21:01] NathanielRN commented on #1234
@aabmass

Having the custom propagator, like you mentioned, live in a vendor maintained repo is a totally valid way of hosting it according to results from the Maintainer's meeting in [this comment](https://github.com/open-telemetry/opentelemetry-specification/issues/1047#issuecomment-703748553) which specifically calls out the Google propagator. However, that comment also says that vendor-specifi

[2020-10-14 21:35] lzchen commented on #1229
@alexppg  Should be fixed with https://github.com/open-telemetry/opentelemetry-python/releases/tag/v0.14b0

[2020-10-15 06:53] FinnStutzenstein commented on #1238
Yes, using `JSPON`/`JSONB` data types raises `Invalid type Composed for attribute value. Expected one of ['bool', 'str', 'int', 'float'] or a sequence of those types`, even with the build in `extras.JSON` in psycopg2.

[2020-10-15 15:29] codeboten opened #1243 "IsRecording becomes false after End"
As per the spec change here: https://github.com/open-telemetry/opentelemetry-specification/commit/ec58e4507c1966a0537804a8b81776921569b385

Note: is_recording should be set after calling on_end in the span processor

[2020-10-15 15:30] codeboten opened #1244 "Update limits for collection size"
As per the spec change here https://github.com/open-telemetry/opentelemetry-specification/commit/507884f02618a91247fe3634a8c6c5ac99a32a40

The limits for event, attribute and link collection should be 1000

[2020-10-15 15:38] codeboten opened #1245 "Use SpanReference instead of SpanContext"
As per the spec, SpanContext should be renamed to SpanReference

[2020-10-15 16:08] lzchen commented on #1222
Once we hit GA, we can adhere to semantic versioning (with patch numbers).

[2020-10-15 16:08] #1222 closed

[2020-10-15 19:56] #1204 closed

[2020-10-15 20:41] ocelotl commented on #1216
Duplicate of #1236

[2020-10-15 20:41] #1216 closed

[2020-10-15 22:02] alexppg commented on #1229
It works, thanks for your help!

[2020-10-15 22:02] #1229 closed

[2020-10-16 06:56] mariojonke opened #1250 "Update SpanProcessor.on_start to accept parent Context"
as per spec https://github.com/open-telemetry/opentelemetry-specification/blob/7e0c10260178b947777cf9c11d7f7ac4d4700725/specification/trace/sdk.md#onstart
`SpanProcessor.on_start` should have a parent `Context` as parameter

[2020-10-16 08:31] mariojonke opened #1252 "opentelemetry-instrumentation has dependency on opentelemtry-sdk"
`opentelemetry-instrumentation` has a [direct dependency](https://github.com/open-telemetry/opentelemetry-python/blob/v0.14b0/opentelemetry-instrumentation/setup.cfg#L45) on the `opentelemetry-sdk` package.

Instrumentations themself should be independent of the actual SDK. Currently they are indirectly dependent on the `opentelemetry-sdk` package. This prevents using a different SDK lib than `ope

[2020-10-16 14:03] lzchen commented on #1223
@codeboten  @aabmass I don't believe there is a way to ASSIGN approvers to the PRs. Is the current way sufficient or should we investigate a different mechanism?

[2020-10-16 14:04] lzchen commented on #1252
Should be solved by solving https://github.com/open-telemetry/opentelemetry-python/issues/1182

[2020-10-16 14:16] #1224 closed

[2020-10-16 14:35] #1244 closed

[2020-10-16 15:27] codeboten commented on #1223
i could go either ways. I do like a specific approver being assigned the PR, and i'm ok with using a configuration that would contain a manually populated list of users if that gets us there.

[2020-10-16 20:28] alexppg opened #1255 "Aggregate ValueRecorder to HistogramAggregator on Prometheus"
**Describe your environment**
Sorry if I use the wrong nomenclature, I'm beginning to understand how OT works.

I'm trying to use the [view](https://github.com/open-telemetry/opentelemetry-python/blob/242d5a7314886b8a30b6c69051dd8450f00d2baf/docs/examples/basic_meter/view.py) example changing the exporter to prometheus.

So far I've seen that:
- MinMaxSumCountAggregator is not supported yet, as th

[2020-10-16 21:11] #1250 closed

[2020-10-16 23:24] codeboten commented on #1156
Having reviewed the methods available in the Tracer API and their implementations in the SDK:
- `start_span`: threadsafe
- `use_span`: uses the context api which is threadlocal or contextvars for storage. any calls to the span API are either atomic, or are using a lock where needed ie. `end` here: https://github.com/open-telemetry/opentelemetry-python/blob/2d873e580e0f66536a352e0b468429a701c13cff/

[2020-10-16 23:24] #1156 closed

[2020-10-18 11:08] LetzNico commented on #998
That is to comply this part of the spec, right?

This is required for map/dictionary structures represented as two arrays with indices that are kept in sync (e.g., two attributes `header_keys` and `header_values`, both containing an array of strings to represent a mapping `header_keys[i] -> header_values[i]`).

If yes, I've updated the PR, good for review :). Thanks for your help!

[2020-10-19 20:05] codeboten commented on #1056
Closed by #1114

[2020-10-19 20:05] #1056 closed

[2020-10-20 23:01] codeboten commented on #1214
@lzchen the spec suggests that instrumentations should not set the status code to OK, any thoughts on the best way to implement this? I could imagine a configuration option to enable or disable this by default. Any thoughts?

[2020-10-21 15:04] lzchen commented on #1214
@codeboten
Maybe we can call the `__exit__` logic from within instrumentations, and let the span be responsible for setting the status (except on error).

[2020-10-21 15:24] lzchen opened #1262 "Sampler.ShouldSample parent parameter to be Context"
Specs: https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/sdk.md#sampler
PR: https://github.com/open-telemetry/opentelemetry-specification/pull/881

[2020-10-21 19:05] codeboten opened #1264 "B3 propagator error when loading entrypoint"
The following error occurs when loading the B3 propagator via the environment variable OTEL_PROPAGATORS=b3

[code]

[2020-10-21 19:26] xkortex opened #1266 "How to propagate trace between services?"
I've been digging through the docs for a while and do not see any explicit mention of the idiomatic way to share a trace between different (arbitrary) services. E.g. torch.distributed.rpc or ROS. I've found the `propagators` module, which looks promising, if I am using HTTP based transport, but that isn't guaranteed to be easy to hook into, or HTTP based at all. So given some sidechannel with a se

[2020-10-21 19:50] owais commented on #1266
Creating a span directly from the `Span` class does not record the span and is actually not part of the API. Spans must always be created through a tracer.

You can use propagators to inject trace context into requests/messages and to extract the context from another service. Then the other service needs to create a new span with the extracted context as the parent. Example:

Injection: https://gi

[2020-10-21 20:18] #1264 closed

[2020-10-22 06:14] #1140 closed

[2020-10-22 07:09] kevincantu opened #1273 "The ConsoleSpanExporter type errors on add_event(...): Object of type mappingproxy is not JSON serializable"
I'm using `0.14b0`, and have a program which calls this inside a Flask request handler:
[code]

I have multiple exporters set up, and when I have the ConsoleSpanExporter registered and call that, I get a TypeError:
[code]

So a temporary workaround is to stop using the ConsoleSpanExporter, but I'm curious about fixing this.

Seems as though [Span.add_event](https://github.com/open-telemetry/opente

[2020-10-22 14:21] lzchen opened #1274 ""GET" function in propagators should return None if nothing is found"
Should be done after: https://github.com/open-telemetry/opentelemetry-python/pull/1196
Specs: https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/context/api-propagators.md#get
Conversation: https://github.com/open-telemetry/opentelemetry-python/pull/1196#discussion_r504755159

[2020-10-22 14:28] lzchen commented on #1273
Fixed with this in the new master: https://github.com/open-telemetry/opentelemetry-python/pull/1246

[2020-10-22 15:40] lzchen commented on #1214
Discussion with @codeboten , we need to find a consistent way of handling exceptions and setting status across instrumentations.
Currently there's multiple paths, (`__exit__` in `Span` and error handling in `use_span`. See requests and django instrumentations for example.

[2020-10-22 19:00] kevincantu commented on #1273
Ahhh, that’s great, @lzchen!

[2020-10-22 20:19] #1273 closed

[2020-10-22 23:01] xkortex commented on #1266
Yeah, I'm working through that but still either running into errors or not getting the console trace to appear.

It seems like `context` was recently added to the `Tracer.start_span` - I was working on 0.14dev. I just upgraded to 0.15.dev0 and taking another stab at it. But thing with the extractors is, as I understand it, they are still _creating_ a context based on received id's from the header.

[2020-10-23 00:45] owais commented on #1266
I don't think you should be able to do that. The span existed on a remote service and there is no need for it to be created again on another device. SpanContext represents it in absence so other spans can refer to it. Why do you need to have span instance for a remote span exactly?

[2020-10-23 04:56] owais commented on #1266
Below is a working example where I have two independent spans connected via a context as they would if they were part of different services. When this example is executed, it prints two spans with same trace ID and the second span with first span's ID as the parent ID.

[code]

[2020-10-23 08:39] owais opened #1276 "Calling trace.get_tracer before initializing tracing turns entire tracing pipeline into a noop pipeline."
Calling `trace.get_tracer()` before setting a global tracer provider effectively disables all tracing for the process.

* `opentelemetry.ap.trace.get_tracer_provider()` checks if a global tracer provider is set or not and if not, it sets the global provider to the default implementation from the api package.
* Calling `opentelemetry.trace.get_tracer()` internally calls `get_tracer_provider()` mean

[2020-10-23 15:15] xkortex commented on #1266
Aha! That's all I needed.

## PoC

Here's my proof of concept for the peanut gallery, in case anyone else is tripped up by the propagators, running in 2 different jupyter notebooks, on the same instance/host. Should easily extend to others. I was overthinking the trace carriers, the documentation implies they should implement the TextMapPropagator interface, but they can be literally any object wh

[2020-10-23 15:15] #1266 closed

[2020-10-23 15:35] codeboten commented on #1245
Closing for now, will reopen if necessary

[2020-10-23 15:35] #1245 closed

[2020-10-23 18:16] shovnik commented on #1182
I just wanted to clarify what this task entails:
- Removing both the create_metric and register_observer interfaces and methods in the API and SDK
- Creating individual individual create_[metric_name] and register_[observer_name] within the respective meter classes for each metric and observer
- Updating all current usages and tests of the create_metric and register_observer methods to use the new

[2020-10-23 23:36] codeboten opened #1280 "Docs github action failing"
It looks like something is causing the github action for docs to fail. See log output [here](https://github.com/open-telemetry/opentelemetry-python/runs/1290874735?check_suite_focus=true#step:5:171)

[2020-10-26 17:59] #998 closed

[2020-10-26 18:35] #1157 closed

[2020-10-26 20:35] codeboten opened #1283 "Add support for Python 3.9"
Python 3.9 was released on October 5th, 2020, we should add a target to our build in support of it.

[2020-10-26 21:29] #1262 closed

[2020-10-26 22:15] #1280 closed

[2020-10-26 23:17] Shreyas-Gupta-21 commented on #1283
Hello I'm Interested to work on this. Pls assign this to me

[2020-10-26 23:20] codeboten commented on #1283
Sure! Thanks

[2020-10-27 13:34] jpmelos opened #1287 "`psycopg2` instrumentor should not require the binary package"
**Is your feature request related to a problem?**
The `psycopg2` instrumentor [requires `psycopg2-binary`](https://github.com/open-telemetry/opentelemetry-python/blob/master/instrumentation/opentelemetry-instrumentation-psycopg2/setup.cfg#L45), but the official `psycopg2` documentation says the binary package is not recommended for production and only exists as an aid for development in machines w

[2020-10-27 13:50] jpmelos opened #1288 "Flask instrumentor logs an error message when used with `app.test_request_context`"
**Describe your environment**

You should be able to see the same result regardless of what the environment is.

**Steps to reproduce**

[code]

**What is the expected behavior?**

I did not expect to see the error message in the last line of the example.

**What is the actual behavior?**

I see the line.

**Additional context**

According to Flask’s documentation, `app.test_request_context` does

[2020-10-27 21:24] Zajozor commented on #1197
Is there a reason not to include the instrumentation at the end of `settings.py` of the django project?
It seems to work fine and is reasonable for our setup.

[2020-10-27 21:42] Zajozor opened #1290 "Django instrumentation - Trace request attributes also in the response"
_Sorry, but I'm slightly confused whether I should create an issue in this repository or https://github.com/open-telemetry/opentelemetry-python-contrib. If it's the other one, i'll gladly reopen it there._

---

**Is your feature request related to a problem?**
According to the docs and the implementation, you can use `OTEL_PYTHON_DJANGO_TRACED_REQUEST_ATTRS` to specify what request attributes sho

[2020-10-27 22:44] alexppg commented on #1255
Just to update if anybody finds this issue, @lzchen answered me in the gitter channel. The Histogram aggregation is not implemented yet for prometheus. Also, there's some discussion about which should be the default aggregator for ValueRecord: https://github.com/open-telemetry/opentelemetry-specification/issues/982

[2020-10-27 22:46] #1210 closed

[2020-10-28 02:33] #1182 closed

[2020-10-28 15:15] lzchen commented on #1290
For now, this is the right place to open up issues related to instrumentations.

[2020-10-28 15:25] lzchen opened #1294 "Update OTLP/Opencensus exporter status mappings when proto is updated"
Following [this pr](https://github.com/open-telemetry/opentelemetry-python/pull/1282), the switch from using grpc codes leaves the status code translation for otlp exporter and opencensus exporter in a temporary state until the latest proto is released to reflect the code changes.

Creating this issue to track that task for the future.

[2020-10-28 17:13] codeboten commented on #1133
We should ensure environment variables supported are documented clearly as part of this work.

[2020-10-28 18:48] robwknox commented on #1181
@codeboten submitted PR #1295

[2020-10-28 19:57] #1004 closed

[2020-10-28 20:04] codeboten commented on #1181
thanks!

[2020-10-28 21:28] #1214 closed

[2020-10-28 23:10] wangzlei opened #1296 "Support AWS Lambda function instrumentation"
Before opening a feature request against this repo, consider whether the feature should/could be implemented in the [other OpenTelemetry client libraries](https://github.com/open-telemetry/). If so, please [open an issue on opentelemetry-specification](https://github.com/open-telemetry/opentelemetry-specification/issues/new) first.

**Is your feature request related to a problem?**
If so, provide

[2020-10-28 23:23] lzchen opened #1297 "Make sure http instrumentations are aligned with semantic conventions"
Follow the [specs](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/semantic_conventions/http.md) for http semantic conventions.

[2020-10-28 23:24] lzchen opened #1298 "Make sure database instrumentations follow semantic conventions"
From [specs](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/semantic_conventions/database.md).

[2020-10-28 23:25] lzchen opened #1299 "Make sure messaging instrumentations follow semantic conventions"
From specs: https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/semantic_conventions/messaging.md

[2020-10-28 23:26] lzchen opened #1300 "Make sure rpc instrumentations follow semantic conventions"
Specs: https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/semantic_conventions/rpc.md

[2020-10-28 23:31] lzchen opened #1301 "Have a consistent way of recording exception and status of span"
Following https://github.com/open-telemetry/opentelemetry-python/pull/1282,

Find a consistent way of recording exceptions from spans and instrumentations.

Currently, we have [this](https://github.com/open-telemetry/opentelemetry-python/blob/master/opentelemetry-sdk/src/opentelemetry/sdk/trace/__init__.py#L835) and [this](https://github.com/open-telemetry/opentelemetry-python/blob/master/opentele

[2020-10-29 00:33] shovnik opened #1302 "Implementing a Prometheus Remote Write Exporter for Python"
We are interested in developing a Prometheus remote write push-based exporter, sending metrics data to a Prometheus remote write integrated backend (Cortex specifically) to support exporting OTLP metrics to new endpoints without needing to run an instance of Prometheus.

This remote write exporter adds more interoperability support for the Prometheus protocol which is aligned with OpenTelemetry’s

[2020-10-29 11:18] guillaume-chervet opened #1303 "fastapi instrumentation: add possibility to exclude some routes"
Hi,
Thank you for that awesome lib 😊

Jaegger is crumbling under my logs because I have a “/health” route that is called every second on a 20ene service. Is it possible to add the possibility of excluding routes?

Idea exemple :

[code]
Or
[code]

[2020-10-29 15:18] codeboten opened #1304 "`null` values documented as invalid/undefined"
As per spec compliance matrix, we must document null values.

[2020-10-29 15:37] #1243 closed

[2020-10-29 16:26] aabmass opened #1305 "Delete old/renamed opentelemetry-ext-* packages on PyPI"
We renamed instrumentation and exporter PyPI packages from `opentelemetry-ext-*` to `opentelemetry-instrumentation-*` and `opentelemetry-exporter-*`. Now there are bunch of deprecated packages stuck at version `0.11b0` or earlier that need to be deleted from PyPI.

However, deleting them outright can break user builds if they are depending on these old packages. There are a few options to mitigate

[2020-10-29 16:33] codeboten commented on #1305
We could start by yanking packages, which would at least warn users
[code]

[2020-10-29 16:51] lzchen commented on #1001
Perhaps take a look at this document: https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/sdk.md#additional-span-interfaces
Can we utilize this?

[2020-10-29 16:55] lzchen commented on #1297
fyi: https://github.com/open-telemetry/opentelemetry-python/issues/1022

[2020-10-29 17:48] robwknox commented on #1110
@codeboten took a stab at this with PR #1110

[2020-10-29 20:30] #1112 closed

[2020-10-29 22:29] NathanielRN commented on #1181
@robwknox Just wondering if in addition to @owais 's suggestion, you considered adding to the `TracerProvider` API.

So in `opentelemetry-api/src/opentelemetry/trace/__init__.py` instead of just

[code]

we would have

[code]

I know [the specifications on TracerProvider](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/api.md#tracerprovider) does not i

[2020-10-30 00:06] shovnik opened #1307 "Refactor Python Metrics SDK to use naming consistent with Metrics Specification"
While preparing to work on a new exporter for the Python SDK I noticed some differences in naming between the Python implementation and the [Metrics Spec](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/metrics/sdk.md). Most of the spec non-compliance can be fixed with renaming. Since the Metrics SDK spec was based off the Go SDK, I compared the Go implement

[2020-10-30 10:09] Oberon00 commented on #1127
I will take a look.

[2020-10-30 11:17] Oberon00 commented on #1127
I created open-telemetry/opentelemetry-specification#1160. Please review it 😃

[2020-10-30 15:31] Oberon00 commented on #1233
I just noticed running `python .\scripts\eachdist.py lint` takes extremely long (6 minutes on my rather fast 12 logical core notbook, using all cores) because pylint is not exactly fast. There are lots of packages and I think there is no ready-made support to exclude something from the script.

[2020-10-31 00:56] #1236 closed

[2020-10-31 00:56] lzchen commented on #1307
@ocelotl fyi.
Might be good to add to your list of metric issues.

[2020-10-31 01:19] NathanielRN opened #1311 "Need Unit Tests for gRPC server instrumentation"
In PR #1308 the Spans created as part of instrumenting gRPC were corrected to use the error codes as recently updated in [the OTel Specifications](https://github.com/open-telemetry/opentelemetry-python/pull/1308#discussion_r514807784) instead of the gRPC error codes.

This didn't break any unit tests which is not ideal, we should add unit tests so that changes like these are flagged in the tests a

[2020-10-31 19:20] robwknox commented on #1181
@NathanielRN I like the suggestion (and it would mimic [go's](https://github.com/open-telemetry/opentelemetry-go/blob/master/sdk/trace/provider.go#L44) impl) but the snag I see is that `Sampler, Resource, and SpanProcessor` are only defined in the SDK so we would have to add those into the API as part of this. Is that appropriate / worthwhile?

[2020-11-02 01:16] lzchen commented on #1181
@robwknox
Sampler and SpanProcessor are purely SDK concepts so we probably don't want them in the API.

How come this is the case? We already pass in these variables as part of `TracerProvider` without them being part of the API.

[2020-11-02 01:30] lzchen commented on #1305
@codeboten
Not so familiar with yanking packages. What does this consist of?

Another super safe approach is to simply update the READMEs with a link to the new repos. Although, this won't fix people who are already using the old packages, and also won't forcibly stop people from installing them.

[2020-11-02 01:32] lzchen commented on #1303
This is a great catch. We have `exclude_lists` via EXCLUDE_LIST environment variables for a lot of instrumentations but `FastAPI` is not one of them =p.

[2020-11-02 01:58] robwknox commented on #1181
@lzchen

In order to accomplish the type hinting of the new fields @NathanielRN is suggesting for the `TracerProvider` API definition.

[2020-11-02 02:04] robwknox commented on #1175
@codeboten i'm taking a stab at this if you care to assign me.

[2020-11-02 03:32] codeboten commented on #1305
It's an option on the project in pypi.

[2020-11-02 04:12] #1084 closed

[2020-11-02 05:14] codeboten opened #1316 "Avoid logging in lock"
As per the comment [here](https://github.com/open-telemetry/opentelemetry-python/commit/27dc6916fc5c920c2861eb5c6c4f0f938fea5886#r43626614), it would be best not to call to logger within the lock

[2020-11-02 05:50] lonewolf3739 commented on #1298
Hi @lzchen, I would like to work on this.

I have read the specification and gone through some database instrumentations. Here are the thins I noticed.
1) Spec has `db.system` for DBMS identifier but the instrumentations have `db.type`.
2) Similar to 1 as per spec `db.name` is used to report the name of the database being accessed but `db.instance` is created for instrumentations.
3) Redis doesn't

[2020-11-02 14:42] lzchen commented on #1305
React to this message @open-telemetry/python-approvers

1. Thumbs up - delete old packages outright (will break builds but will "rip off the bandaid before GA)
2. Heart - Change the README in the old packages to include a link to new packages (least intrusive but will not warn users outright when using `pip install` and possibly may come to community for guidance)
3. Rocket - Yank old packages. Ya

[2020-11-02 16:08] aabmass commented on #1305
How about a combination of those? We can do 2 and 3, wait a week or two after these warnings, then do 1?

[2020-11-02 16:13] codeboten commented on #1305
I like this idea of staging the process.... maybe this week we publish new README's and yank all old packages, leave this for a couple of weeks and then on the week of Nov 23 we delete the old packages? is 3 weeks enough notice?

[2020-11-02 16:14] codeboten commented on #1305
@lzchen we could fairly easily yank all versions of the ext packages, just a few extra clicks in pypi.

[2020-11-02 16:33] #1316 closed

[2020-11-02 16:54] Oberon00 commented on #1304
Or in Python's case: `None` values.

[2020-11-02 17:08] aabmass opened #1321 "Remove a few remaining checks for python3.4"
Some of the setup.py files still have `python_version<'3.5'` checks, which are no longer necessary: https://github.com/open-telemetry/opentelemetry-python/search?q=python_version%3C%273.5%27

~We also don't need comment style annotations anymore (`# type: Optional[Foo]`)~ these are also unsupported in python3.5 :(

[2020-11-02 17:44] lzchen commented on #1297
@lonewolf3739
Where are these commit references coming from?

[2020-11-02 17:47] lzchen commented on #1305
This sounds good to me.

[2020-11-02 17:55] lonewolf3739 commented on #1297
@lzchen, I am sorry for this noise. I messed my git setup yesterday.

[2020-11-02 17:57] aabmass commented on #1305
Is there a way to easily update just the readme?

[2020-11-02 17:59] codeboten opened #1323 "docs: OTLP Exporter docs still reference metadata"
The documentation for the OTLP exporters has not been updated to reflect the rename of the metadata parameter to headers

[2020-11-02 18:32] #1220 closed

[2020-11-02 21:02] #1321 closed

[2020-11-02 23:39] aabmass opened #1327 "Fix up tests around #1141"
Changes from #1141 needs to be updated with some tests and maybe simplify the enum logic.

[2020-11-03 03:14] #1107 closed

[2020-11-03 07:15] yhvicey opened #1328 "OpenCensus metrics exporter tries to access metric_record.instrument.meter, which is not exists in observers"
**Describe your environment**

Python version: 3.7 or higher
OTel version: latest

**Steps to reproduce**
Create a meter, register an observer to it, then export the meter using OpenCensus Metrics Exporter
Or use `opentelemetry-instrumentation-system_metrics` directly (it will use observer to collect metrics)

**What is the expected behavior?**
Collected metrics should be able to be exported to Op

[2020-11-03 13:41] Oberon00 commented on #1301
When cleaning this up, also consider setting `exception.escaped` to True for record_exception, since in `__exit__` we know that the exception escapes the span.

[2020-11-03 16:03] #1102 closed

[2020-11-03 16:38] hyamy opened #1330 "How to uwsgi+flask to Zipkin"
Before opening a feature request against this repo, consider whether the feature should/could be implemented in the [other OpenTelemetry client libraries](https://github.com/open-telemetry/). If so, please [open an issue on opentelemetry-specification](https://github.com/open-telemetry/opentelemetry-specification/issues/new) first.

**Is your feature request related to a problem?**
If so, provide

[2020-11-03 16:47] lzchen opened #1331 "Add hook to set custom span name in requests instrumentation"
Similar to [wsgi](https://github.com/open-telemetry/opentelemetry-python/blob/master/instrumentation/opentelemetry-instrumentation-wsgi/src/opentelemetry/instrumentation/wsgi/__init__.py#L210), accept a callback function in `RequestsInstrumentor().instrument` to be able to pass custom span name.

The [specs](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/tr

[2020-11-03 16:51] #1323 closed

[2020-11-03 16:54] lzchen opened #1332 "Fix asgi instrumentation default span name"
Similar to [wsgi](https://github.com/open-telemetry/opentelemetry-python/blob/master/instrumentation/opentelemetry-instrumentation-wsgi/src/opentelemetry/instrumentation/wsgi/__init__.py#L171), the default span name for SERVER spans should be `HTTP <method>` as outlined by the [specs](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/semantic_conventions

[2020-11-03 16:58] lzchen opened #1333 "Add hook to set custom span name in requests instrumentation"
Similar to [wsgi](https://github.com/open-telemetry/opentelemetry-python/blob/master/instrumentation/opentelemetry-instrumentation-wsgi/src/opentelemetry/instrumentation/wsgi/__init__.py#L210), accept a callback function in `DjangoInstrumentor().instrument` to be able to pass custom span name.

The [specs](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trac

[2020-11-03 17:05] lzchen opened #1334 "Add hook to set custom span name in falcon instrumentation"
Similar to [wsgi](https://github.com/open-telemetry/opentelemetry-python/blob/master/instrumentation/opentelemetry-instrumentation-wsgi/src/opentelemetry/instrumentation/wsgi/__init__.py#L210), accept a callback function in `FalconInstrumentor().instrument` to be able to pass custom span name.

The [specs](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trac

[2020-11-03 17:08] lzchen opened #1335 "Add hook to set custom span name in fastapi instrumentation"
Similar to [wsgi](https://github.com/open-telemetry/opentelemetry-python/blob/master/instrumentation/opentelemetry-instrumentation-wsgi/src/opentelemetry/instrumentation/wsgi/__init__.py#L210), accept a callback function in `FastAPIInstrumentor().instrument` to be able to pass custom span name.

The [specs](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/tra

[2020-11-03 17:11] lzchen opened #1336 "Add hook to set custom span name in starlette instrumentation"
Similar to [wsgi](https://github.com/open-telemetry/opentelemetry-python/blob/master/instrumentation/opentelemetry-instrumentation-wsgi/src/opentelemetry/instrumentation/wsgi/__init__.py#L210), accept a callback function in `StarletteInstrumentor().instrument` to be able to pass custom span name.

The [specs](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/t

[2020-11-03 17:17] lzchen opened #1337 "Add hook to set custom span name in starlette instrumentation"
Similar to [wsgi](https://github.com/open-telemetry/opentelemetry-python/blob/master/instrumentation/opentelemetry-instrumentation-wsgi/src/opentelemetry/instrumentation/wsgi/__init__.py#L210), accept a callback function in `StarletteInstrumentor().instrument` to be able to pass custom span name.

The [specs](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/t

[2020-11-03 17:22] lzchen opened #1338 "Add hook to set custom span name in tornado instrumentation"
Similar to [wsgi](https://github.com/open-telemetry/opentelemetry-python/blob/master/instrumentation/opentelemetry-instrumentation-wsgi/src/opentelemetry/instrumentation/wsgi/__init__.py#L210), accept a callback function in `TornadoInstrumentor().instrument` to be able to pass custom span name.

The [specs](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/tra

[2020-11-03 17:24] lzchen opened #1339 "Add hook to set custom span name in flask instrumentation"
Similar to [wsgi](https://github.com/open-telemetry/opentelemetry-python/blob/master/instrumentation/opentelemetry-instrumentation-wsgi/src/opentelemetry/instrumentation/wsgi/__init__.py#L210), accept a callback function in `FlaskInstrumentor().instrument` to be able to pass custom span name.

The [specs](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace

[2020-11-03 17:24] lzchen commented on #1297
Tracked by individual issues.

[2020-11-03 17:24] #1297 closed

[2020-11-03 18:38] shovnik commented on #1307
Another difference I noted is that the Python metric spec calls synchronous and asynchronous instruments (described in spec and Go implementation) as metrics and observers. This seems intentional, but it might be worth renaming as well to be aligned with spec.

[2020-11-03 23:14] ocelotl opened #1340 "time_unix_nano and start_time_unix_nano may be wrongly set"
This issue tracks the [discussion](https://github.com/open-telemetry/opentelemetry-python/pull/1237#discussion_r506480482) between myself, @ocelotl, @lzchen and @codeboten regarding how these timestamps are being set.

Just for the record, the Go seems to follow a considerably different path to define these values, beginning with the fact that its implementation supports [current, delta and cumula

[2020-11-03 23:19] ocelotl opened #1341 "Consider Exporter type and PrecomputedSum when setting metric record timestamps"
The Go implementation [considers](https://github.com/open-telemetry/opentelemetry-go/blob/master/sdk/metric/processor/basic/basic.go#L341-L369) the above mentioned concepts when setting the metric record timestamps. This implementation does not.

[2020-11-03 23:21] ocelotl opened #1342 "Lack of Accumulator"
The specification defines an [Accumulator](https://github.com/ocelotl/opentelemetry-specification/blob/master/specification/metrics/sdk.md#sdk-terminology)

Just for the record, the Go implementation has an [Accumulator](https://github.com/open-telemetry/opentelemetry-go/blob/master/sdk/metric/sdk.go#L44). This implementation does not.

[2020-11-03 23:23] ocelotl opened #1343 "Lack of Accumulation"
The specification defines an [Accumulation](https://github.com/ocelotl/opentelemetry-specification/blob/master/specification/metrics/sdk.md#sdk-terminology)

Just for the record, the Go implementation has an [Accumulation](https://github.com/open-telemetry/opentelemetry-go/blob/master/sdk/export/metric/metric.go#L272). This implementation does not.

[2020-11-04 00:22] ocelotl opened #1344 "Lack of ExportKind"
The specification defines an [ExportKind](https://github.com/ocelotl/opentelemetry-specification/blob/master/specification/metrics/sdk.md#sdk-terminology)

Just for the record, the Go implementation has [ExportKind](https://github.com/open-telemetry/opentelemetry-go/blob/master/sdk/export/metric/metric.go#L358-L373). This implementation does not.

[2020-11-04 00:25] ocelotl opened #1345 "Lack of ExportRecord and ExportRecordSet"
The [specification](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/metrics/sdk.md#sdk-terminology) defines `ExportRecord` and `ExportRecordSet`. They are not implemented.

[2020-11-04 00:27] ocelotl opened #1346 "Lack of AggregatorSelector"
The specification defines [`AggregatorSelector`](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/metrics/sdk.md#sdk-terminology). It is not implemented.

[2020-11-04 00:28] ocelotl opened #1347 "Lack of Aggregator Snapshot"
The specification defines [`AggregatorSnapshot`](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/metrics/sdk.md#sdk-terminology). It is not implemented.

[2020-11-04 00:30] ocelotl opened #1348 "Lack of Aggregator.SynchronizedMove"
The specification defines a [`SynchronizedMove`](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/metrics/sdk.md#accumulator) method for the `Aggregator`. It is not implemented or it is not named as such.

[2020-11-04 00:37] ocelotl opened #1349 "MeterProvider.Shutdown SHOULD provide a way to let the caller know whether it succeeded, failed or timed out."
As it is specified [here](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/metrics/sdk.md#meterprovider).

[2020-11-04 00:38] ocelotl opened #1350 "MeterProvider.Shutdown SHOULD complete or abort within some timeout."
As specified [here](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/metrics/sdk.md#meterprovider).

[2020-11-04 00:42] ocelotl opened #1351 "MeterProvider.Shutdown MUST be called only once for each MeterProvider instance."
As specified [here](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/metrics/sdk.md#meterprovider).

[2020-11-04 01:03] aabmass opened #1352 "Stable docs not updating on ReadTheDocs"
**Steps to reproduce**
The official documentation at https://opentelemetry-python.readthedocs.io/en/stable/ is stale at revision 6943de7d (you can see the commit at the bottom).

**What is the expected behavior?**
 It should be tracking the [stable tag](https://github.com/open-telemetry/opentelemetry-python/tree/stable) which is in the correct spot.

**What is the actual behavior?**
It is stale.

[2020-11-04 13:20] sydneyvert opened #1353 "pyodbc dependency tracing not integrating properly"
I have been following the example for pyodbc in the docstring here: https://github.com/open-telemetry/opentelemetry-python/blob/master/instrumentation/opentelemetry-instrumentation-dbapi/src/opentelemetry/instrumentation/dbapi/__init__.py

**Desired Behaviour**
The trace integration allows me to see the calls to my database through pyodbc in app insights and on the application map.

**Actual Behav

[2020-11-04 17:20] ocelotl opened #1355 "Conflicting versions of protobuf"
Packages that depend on some of the packages in this repo show issues when being installed due to conflicting versions of `protobuf`. Will provide more exact details after some tests are run.

[2020-11-04 17:24] ocelotl commented on #1307
Thanks, I'll review this and update the issues I opened yesterday.

[2020-11-05 12:52] lonewolf3739 commented on #1331
Hi @lzchen, I would like to work on this. I have one question here. Should this span name call back function for `requests` accept any arguments such as http `method` or `url` etc...

[2020-11-05 15:29] lzchen commented on #1331
@lonewolf3739
Apologies, I've already started work on this. May I suggest working on [this](https://github.com/open-telemetry/opentelemetry-python/issues/1339) instead?

To address your question, I think we can pass in a  `**kwargs`.

[2020-11-05 15:48] lonewolf3739 commented on #1331
Ok.

[2020-11-05 16:29] #1355 closed

[2020-11-05 16:40] aabmass commented on #1352
Maybe this is a recent change in ReadTheDocs but I noticed the same thing for the GCP exporter docs. I think they are making some assumption that tags are immutable. I fixed my docs by running the build manually ([Overview](https://readthedocs.org/projects/opentelemetry-python/) > Build a version > stable).

[2020-11-05 17:35] codeboten opened #1359 "Move opentracing-shim folder out of instrumentation folder"
Currently the OpenTracing shim package is named `opentelemetry-opentracing-shim ` but lives in the `instrumentation` folder which is confusing. We should just move it to either a `shim` folder or make it a top-level directory in the repo.

[2020-11-05 17:55] aabmass commented on #1223
So, are we happy with the current setup or want to consider a different approach? 😄

[2020-11-05 18:02] aabmass opened #1360 "Performance testing"
We don't have any performance benchmarks or load tests at the moment. Ideally, we would be able to test for performance regressions during CI. Load tests can also help find concurrency bugs (hopefully we can avoid flaky tests by running with high load). OTel Java is already doing some stress test [here](https://github.com/open-telemetry/opentelemetry-java/blob/master/perf-harness/src/test/java/io/

[2020-11-05 18:26] lzchen commented on #1223
I think this is a good setup, it really helped accelerate our progress in terms of these past few weeks at least. @codeboten thoughts?

[2020-11-06 17:29] codeboten commented on #691
Fixed by #1258

[2020-11-06 17:29] #691 closed

[2020-11-06 19:05] robwknox commented on #1173
@codeboten i'll pick this up if you want to assign to me

[2020-11-06 21:48] codeboten commented on #1173
Done, thanks!

[2020-11-07 05:09] robwknox commented on #1173
Changes are prepped in [1173_zipkin_exporter_v1_json_support ](https://github.com/robwknox/opentelemetry-python/tree/1173_zipkin_exporter_v1_json_support) but are dependent on #1318 being merged first.

[2020-11-07 05:10] robwknox commented on #1174
@codeboten i'll take this as well.

[2020-11-09 15:18] #1252 closed

[2020-11-09 15:21] #1213 closed

[2020-11-09 15:23] lzchen commented on #1181
@robwknox
We can't.

[2020-11-09 15:23] #1181 closed

[2020-11-09 15:26] flands opened #1363 "Move getting started guide to opentelemetry.io"
For GA there is an ask to add at least all getting started documentation to the opentelemetry.io website -- for Python this is tracked in: https://github.com/open-telemetry/opentelemetry.io/issues/285. Maintaining the documentation in two places is not ideal so proposal is to move getting started documentation. A similar activity already happened for Java.

[2020-11-09 15:43] lzchen commented on #839
https://github.com/open-telemetry/opentelemetry-python/pull/1116

https://github.com/open-telemetry/opentelemetry-python/pull/1230

[2020-11-09 15:45] lzchen commented on #606
@codeboten

Is this issue solved with https://github.com/open-telemetry/opentelemetry-python/pull/650 ?

[2020-11-09 15:47] #353 closed

[2020-11-09 15:48] lzchen commented on #353
Closed with https://github.com/open-telemetry/opentelemetry-python/issues/565

[2020-11-09 15:52] #1127 closed

[2020-11-09 16:29] codeboten opened #1364 "Support Span Collection limit env variables"
As per the spec, we need to add support for Span Collection limits via environment variables:

https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/sdk-environment-variables.md#span-collection-limits

[2020-11-09 16:43] AzfaarQureshi commented on #1342
Hey! I'd be willing to pick this up. From my understanding [here](https://github.com/open-telemetry/opentelemetry-python/issues/1307), this is just requires renaming the `meter` class to `Accumulator` right?

[2020-11-09 19:56] shovnik commented on #1345
I will be taking on this issue as it is related to the issue #1307 I created.

[2020-11-09 20:51] AzfaarQureshi commented on #1343
Hi! I'd be willing to pick this up 😄 From my understanding [here](https://github.com/open-telemetry/opentelemetry-python/issues/1307), this is also a renaming change from `Record` to `Accumulation`, right?

[2020-11-10 17:11] AzfaarQureshi opened #1370 "GitHub Actions has overlapping triggers which causes tests to run twice when pushing to an open PR"
**What is the issue**
There are overlapping triggers for the `test` workflow which causes it to run twice if you commit to an open PR

**Why is this a problem**
Well, it's not _that_ deep of a problem but:

* you have to wait longer for CI to resolve
* uses up twice the GitHub Actions minutes
* slows down all other workflows as the 21 redundant runners increase queue times

it's more of a mild inc

[2020-11-10 17:23] NathanielRN commented on #1370
I think you can also use the pull request `types` as defined on [the documentation](https://docs.github.com/en/free-pro-team@latest/actions/reference/events-that-trigger-workflows#pull_request):

[code]

[2020-11-10 17:33] AzfaarQureshi commented on #1370
@NathanielRN yup that could work as well! My only concern is that if we restrict the `pull_request` trigger instead of `push`, we'll have the tests run whenever a commit is pushed upstream, even if the branch has no PR associated with it. That seems a bit unnecessary because it's probably not that useful to have CI to run while your work is WIP.

what do you think?

[2020-11-10 17:42] NathanielRN commented on #1370
@AzfaarQureshi I personally find it really helpful to see tests on my commits, then when I make the PR I can be sure that it is passing tests and can be merged.

Not to mention that people have the ability to make pushes to their branches after its been approved. Please let me me if I misunderstood, but if you restrict it to only pushes to `master` then people can push something broken to their PR

[2020-11-10 17:51] AzfaarQureshi commented on #1370
@NathanielRN oh, the tests will still run whenever you push new commits to an open PR. For example https://github.com/open-o11y/opentelemetry-python/pull/7/commits you can see that beside every commit there is a link to a unique execution of the test workflow (you can confirm this by looking at the runner ID and see they're diff). Restricting push to  master only means that the push itself won't t

[2020-11-10 17:57] NathanielRN commented on #1370
@AzfaarQureshi

Right that's because by default the pull request includes the type `synchronize` which provides the behavior you explained.

Like I said a push on every commit seems useful to me, especially since it allows developers to see if their code passes tests on remote (without having to open a PR to check this!) which is the end goal. I've found in the past that passing only locally can b

[2020-11-10 18:33] AzfaarQureshi commented on #1370
@NathanielRN

Not sure what you mean by this exactly because the tests will still be run upstream when you open the PR

right, as you mentioned, the `synchronize` type will prevent this from ever happening. Am I misunderstanding your point? we can continue the convo in thread on gitter if you want.

It seems like @codeboten also had a chore listed to restrict the push to run on master only https:/

[2020-11-11 04:56] rickychu opened #1375 "Unable to pickle SpanContext"
**Describe your environment**
Python version: 3.8 or higher

        "telemetry.sdk.language": "python",
        "telemetry.sdk.name": "opentelemetry",
        "telemetry.sdk.version": "0.15b0"

**Steps to reproduce**
[code]

**What is the expected behavior?**
No error

What did you expect to see?
True

**What is the actual behavior?**
Exception:
__new__() missing 2 required positional arguments:

[2020-11-11 16:52] LetzNico commented on #1364
Hey! I'd like to take on this one, looks pretty doable :)

[2020-11-11 19:50] spencerwilson-optimizely opened #1376 "Update to support opentelemetry-proto v0.6.0"
Since opentelemetry-proto v0.6.0 was [released](https://github.com/open-telemetry/opentelemetry-proto/releases/tag/v0.6.0), a few things should happen:

- [ ] Update checked-in compiled protobuf classes
- [ ] Update OTLP exporter (#1294)
- [ ] The [opentelemetry-proto](https://pypi.org/project/opentelemetry-proto/) distribution needs to be published

Maybe all these things are typically (or necess

[2020-11-12 19:49] codeboten commented on #1304
Fixed by #1361

[2020-11-12 19:49] #1304 closed

[2020-11-13 01:33] AzfaarQureshi opened #1378 "Decide whether to add Resource to Accumulation or keep it in the Processor"
_This issue captures some discussion from the November 12 2020 Python SIG._

According to the [spec](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/metrics/sdk.md#accumulator) `The Accumulator MUST provide the option to associate a Resource with the Accumulations that it produces.`

Currently in the metrics SDK  `Resource` is passed as a field to the proces

[2020-11-13 05:40] ocelotl commented on #1342
I have corrected the issue statement to reflect the fact that we (as the rest of the implementations) follow the specification. We sometimes draw guidance from other existing implementations. Also assigned @AzfaarQureshi who has work already done for this issue.

[2020-11-13 05:41] ocelotl commented on #1340
I have corrected the issue statement to reflect the fact that we (as the rest of the implementations) follow the specification. We sometimes draw guidance from other existing implementations.

[2020-11-13 05:57] ocelotl commented on #1341
I have updated #1340 to better describe the timestamps issue. After these changes, this issue becomes duplicate, closing it.

[2020-11-13 05:57] #1341 closed

[2020-11-13 05:58] ocelotl commented on #1343
I have corrected the issue statement to reflect the fact that we (as the rest of the implementations) follow the specification. We sometimes draw guidance from other existing implementations.

[2020-11-13 06:00] ocelotl commented on #1344
I have corrected the issue statement to reflect the fact that we (as the rest of the implementations) follow the specification. We sometimes draw guidance from other existing implementations.

[2020-11-13 15:40] lzchen commented on #1378
Also by definition: `Accumulation: consists of Instrument, Label Set, Resource, and Aggregator snapshot, output by Accumulator` and we are missing the `Resource` attribute as part of this class currently.

IMO, we should always adhere to the specs even if they are not set in stone, so we would:

1. Add `Resource` to Accumulation.
2. Remove `Resource` from `Processor`.

[2020-11-15 11:17] confiq commented on #1330
I think this kind of questions is more appropriate to ask on StackOverflow.

[2020-11-16 01:36] robwknox commented on #1173
[Staged PR](https://github.com/robwknox/opentelemetry-python/pull/1) to give better view of changes while awaiting merge of #1318

[2020-11-16 02:09] robwknox commented on #1174
Here is a [Staged PR](https://github.com/robwknox/opentelemetry-python/pull/2) with completed code to give visibility while waiting on dependent PRs (#1318 and #1173) to be approved & merged.

[2020-11-16 06:00] codeboten commented on #606
Yup, closing

[2020-11-16 06:00] #606 closed

[2020-11-16 23:10] ocelotl opened #1383 "Counter and UpDownCounter temporality should be CUMULATIVE"
The temporalities specified [here](https://github.com/open-telemetry/opentelemetry-python/blob/master/exporter/opentelemetry-exporter-otlp/src/opentelemetry/exporter/otlp/metrics_exporter/__init__.py#L225) and [here](https://github.com/open-telemetry/opentelemetry-python/blob/master/exporter/opentelemetry-exporter-otlp/src/opentelemetry/exporter/otlp/metrics_exporter/__init__.py#L237) should be CU

[2020-11-16 23:20] jmacd commented on #1383
This makes sense to me. The reason these should be CUMULATIVE here and now, in the present code base, is that the file `opentelemetry/sdk/metrics/export/processor.py` converts the input measurements (which are deltas, from these two instrument kinds) into the output aggregations (which are cumulatives) using a call like `batch_value.merge(aggregator)`.

[2020-11-17 00:40] aabmass commented on #1383
In the current metrics implementation, it will be DELTA if the `stateful` is false, so I think the temporality needs to be derived from `stateful` (related https://github.com/open-telemetry/opentelemetry-python/issues/1007). The code Josh mentioned resets the batch map in when not stateful, so the merging doesn't happen and you get DELTAs:
https://github.com/open-telemetry/opentelemetry-python/blo

[2020-11-17 00:48] aabmass commented on #1383
IIRC, it should be configurable. In Go, it defaults to cumulative but can be configured to delta, kind of like `stateful`.

[2020-11-18 09:13] ocelotl opened #1388 "Metrics API and SDK differ from specification"
This is a catch-all issue for all the differences that the current API and SDK have with the specification. A better description will be added later to explain the specific purpose of this issue. Right now it is more of a placeholder issue to have a draft PR with an associated issue number.

[2020-11-18 09:32] vaibhavnsingh opened #1390 "Example shown in the document https://opentelemetry-python.readthedocs.io/en/stable/getting-started.html#adding-metrics doesn't work."
**Describe your environment** Describe any aspect of your environment relevant to the problem, including your Python version, [platform](https://docs.python.org/3/library/platform.html), version numbers of installed dependencies, information about your cloud hosting provider, etc. If you're reporting a problem with a specific version of a library in this repo, please check whether the problem has

[2020-11-18 14:59] lzchen commented on #1383
@aabmass  @jmacd

We currently have `stateful` to be configurable. I believe Go has implemented in such a way that the pipeline decides on whether a metric is stateful or not? `stateful` is also not mentioned anywhere in the [sdk spec](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/metrics/sdk.md), so I don't know if we want to depend on something that pote

[2020-11-18 15:58] mariojonke opened #1391 "opentelmetry-example-app should be moved to contrib repo"
The `opentelemetry_example_app` in `docs/examples` has a `setup.cfg` with dependencies to `opentelemetry-instrumentation-{requets,flask}`. These dependencies refer to an already released version `0.15.b0` (i think this should be [0.15b0](https://pypi.org/project/opentelemetry-instrumentation-requests/0.15b0/) instead?).
Since there are tox tests for `opentelemtry-example-app` they might fail if ap

[2020-11-18 19:29] NathanielRN commented on #1391
+1 to this, had an issue with linting it today but I agree this should be a Contrib repo item. See https://github.com/open-telemetry/opentelemetry-python/pull/1357

[2020-11-18 21:05] ocelotl commented on #1383
This PR fixes the aggregation temporality for the `Counter` and `UpDownCounter` instruments which is an improvement, @aabmass, maybe this can be merged, and the changes related to `stateful` can be fixed in the PR for #1007?

[2020-11-18 21:36] aabmass commented on #1383
@ocelotl SGTM

[2020-11-18 21:41] #1383 closed

[2020-11-18 21:47] jmacd commented on #1007
This "stateless" concept is discussed in https://github.com/open-telemetry/opentelemetry-specification/pull/1198. The concept found in this code predates the current OTel-Go design, which changed after I found design errors in the Prometheus export path.  The SDK spec PR 1198 talks about two behaviors that cause statefulness to arise: (1) conversion from delta to cumulative for the counter instrum

[2020-11-19 07:31] mariojonke opened #1393 "ParentBased sampler ignores sample decision of parent when creating span via implicit Context"
When having a `ParentBased` sampler setup and creating a span via `tracer.start_span` without explicitly providing a `context` as parent, possible parent spans in the current `Context` are ignored [ignored](https://github.com/open-telemetry/opentelemetry-python/blob/v0.15b0/opentelemetry-sdk/src/opentelemetry/sdk/trace/sampling.py#L230).
Since for implicit parents the passed `context` is always `N

[2020-11-19 15:57] mariojonke opened #1397 "ParentBased sampler should have delegate samplers for different parent span states"
[Spec](https://github.com/open-telemetry/opentelemetry-specification/blob/v0.7.0/specification/trace/sdk.md#parentbased) mentions that for the `ParentBased` sampler there should be a delegate sampler for each of the following states of a parent span:
* local sampled parent span
* local not sampled parent span
* remote sampled parent span
* remote not sampled parent span

[2020-11-19 16:11] codeboten opened #1398 "New Span ID created also for non-recording Spans"
As per the spec change [here](https://github.com/open-telemetry/opentelemetry-specification/commit/15ac35c174f097b37e4e7b8a3653700bb2e7e763)

[2020-11-19 16:12] Ujjwal2003saini commented on #1398
no

[2020-11-19 16:40] codeboten commented on #158
No plans on doing this in the near future. Closing

[2020-11-19 16:40] #158 closed

[2020-11-19 16:48] codeboten commented on #346
As per the spec:

https://github.com/open-telemetry/opentelemetry-specification/blob/15ac35c174f097b37e4e7b8a3653700bb2e7e763/specification/trace/sdk.md#exportbatch

[2020-11-19 16:54] codeboten commented on #715
Instrumentation should never access the attributes directly, the SDK having access to attributes is fine. Closing this issue

[2020-11-19 16:54] #715 closed

[2020-11-19 17:30] codeboten opened #1400 "Remove docs github action"
Docs are being published using read the docs, we no longer need to publish using gh pages.

[2020-11-19 17:41] lzchen commented on #1398
@Ujjwal2003saini
Can you explain?

[2020-11-19 23:07] robwknox commented on #1106
@codeboten i'll pick this up

[2020-11-19 23:28] codeboten commented on #1106
Great thank you!

[2020-11-20 06:14] DariaPlotnikova opened #1402 "Update StatusCodes enum to comply with specs and another opentelemetry libraries."
Hi. I'm trying to implement opentelemetry tracing with jaeger+elastichsearch from python app using `jaegertracing/jaeger-opentelemetry-*` latest docker images. I found that if python jaeger client do nothing specific with correct spans (without errors) it comes to jaeger-agent with code `1` (see print of batch at the last line of code snippet), which is wrong according to [opentelemetry spec](http

[2020-11-20 18:23] AzfaarQureshi commented on #1343
should this issue be closed now that #1373  is merged?

[2020-11-20 18:28] AzfaarQureshi commented on #1342
is this issue okay to be closed now that #1372 is merged?

[2020-11-20 19:16] #663 closed

[2020-11-21 05:25] Ujjwal2003saini commented on #1398
what i can explain you ??

[2020-11-22 05:07] lonewolf3739 commented on #1003
@codeboten I'll pick this up if it is not done already.

[2020-11-22 08:15] lonewolf3739 commented on #1003
Ah I just noticed that there is one more issue #1106 that is related to this. Maybe it's better if these are completed sequentially.

[2020-11-23 15:54] lzchen commented on #1391
I'm wondering do we even need this example app anymore? I'm not sure where we would even put it if we move it to the contrib repo.

[2020-11-23 16:09] #1343 closed

[2020-11-23 16:09] #1342 closed

[2020-11-23 16:17] #1175 closed

[2020-11-23 16:20] #1400 closed

[2020-11-23 16:59] shovnik commented on #1302
@lzchen Can this be moved to the contrib repo since that is where we were recommended to implement the remote write exporter?

[2020-11-23 22:03] #1391 closed

[2020-11-24 03:30] lzchen commented on #1302
@shovnik
Is that what we decided? I thought we were going to place it with the current prometheus exporter so it won't be confusing.

[2020-11-24 03:43] #1301 closed

[2020-11-24 16:33] lonewolf3739 commented on #1217
@owais There is an [issue](https://github.com/open-telemetry/opentelemetry-python-contrib/issues/147) on contrib repo about adding exclude urls capability to fastapi. It also requires the reading and splitting or returning empty list if evn var isn't set. I will pick this up.

[2020-11-24 17:38] dmarar commented on #1240
I will claim this issue. Thanks!

[2020-11-25 05:52] ocelotl opened #1417 "Missing instrumentation library name and version from OTLP exported metrics"
The instrumentation library name and version are missing from the OTLP exported metrics.

[2020-11-25 07:10] owais commented on #1217
Thanks @lonewolf3739

[2020-11-25 15:15] lzchen commented on #1417
Can you link to the spec?

[2020-11-25 17:32] #1393 closed

[2020-11-25 18:29] dmarar opened #1419 "Testcase "test_environment_variables" under Configuration (opentelemery-api) is failing with AssertionError"
**Describe your environment**

Environment:
OS: Windows
Python version : 3.8.2 (64bit)

**Steps to reproduce**
1. Follow the [contributing guidelines](https://github.com/open-telemetry/opentelemetry-python/blob/master/CONTRIBUTING.md) to install the opentelemetry-python repo in development mode.
2. Then run the tests using tox -e test-core-api

**What is the expected behavior?**
All the testcases

[2020-11-25 19:03] lonewolf3739 commented on #1217
@owais I was thinking it would be better to return an instance of `ExcludeList`  when `cfg.excluded_urls(...)` is called. https://github.com/open-telemetry/opentelemetry-python/blob/07b89455f11b00d50d89a884176dc31d1f138228/opentelemetry-api/src/opentelemetry/util/__init__.py#L70-L79

There is a problem here. This `util` has a dependency on `Configuration` to load trace provider and meter provider.

[2020-11-25 22:35] #1417 closed

[2020-11-26 00:25] codeboten opened #1421 "Remove SDK dependency from instrumentation package"
The change in https://github.com/open-telemetry/opentelemetry-python/pull/1405 adds the SDK as a dependency of the instrumentation package which was missing from https://github.com/open-telemetry/opentelemetry-python/pull/1036. This should not be the case.

[2020-11-26 06:10] codeboten opened #1424 "Error when using OTLP to export a SumObserver"
**Describe your environment**
Python 3.8.1
opentelemetry-exporter-otlp 0.16b0
opentelemetry-sdk 0.16b0
opentelemetry-instrumentation-system-metrics 0.16b0

**Steps to reproduce**
Tried to use the latest version of system-metrics instrumentation

**What is the expected behavior?**
Metrics to be exported as with v0.15b0

**What is the actual behavior?**
[code]

**Additional context**
The problem app

[2020-11-26 09:31] owais commented on #1217
I don't see any glaring issues with that. May be configuration is the better module to host ExcludeList in the first place if we add the concept of excluded urls to the configuration class. Only concern would be if there are modules other than instrumentations that use ExcludeList today but don't use configuration. It might still be OK to add configuration as a dependency to such modules.

[2020-11-26 16:36] codeboten commented on #1233
Closing this for now. Thanks for all the work @NathanielRN!

[2020-11-26 16:36] #1233 closed

[2020-11-26 17:17] codeboten commented on #1360
Is this a duplicate of #335 ?

[2020-11-26 17:40] lzchen commented on #1376
Not a duplicate of #1294. We should do  this first and then solve that issue after.

[2020-11-26 17:43] codeboten commented on #1223
assigning PR reviewers is ok for now.

[2020-11-26 17:43] #1223 closed

[2020-11-26 17:55] codeboten commented on #1061
@nbigaouette can you confirm if @rgstephens's solution works for you as well?

[2020-11-26 22:47] #1424 closed

[2020-11-27 16:34] codeboten opened #1429 "opentelemetry-instrument errors by default"
**Describe your environment**
Testing out the latest version of `opentelemetry-instrument` with python 3.8.1

**Steps to reproduce**
[code]

**What is the expected behavior?**
Based on the previous behaviour, I was expecting no error to be displayed

**What is the actual behavior?**
[code]

**Additional context**
The underlying problem is the default of using the OTLP exporter requires me to setup

[2020-11-28 07:05] lonewolf3739 commented on #1201
@codeboten I would like to pick this up. Help me if I am understanding this correctly. `Meter` instance will be used to create multiple instrumentation using different functions such as `create_counter`, `create_updowncounter` and `create_valuerecorder` etc.. when user creates different instruments with same name, `Meter` should throw an error saying something like _multiple instruments can't regi

[2020-11-28 11:05] vishalkhondre opened #1431 "Docs issue"
I'm very sorry for reporting it without following any proper standards. Its docs issue.
https://opentelemetry-python.readthedocs.io/en/stable/instrumentation/requests/requests.html

![image](https://user-images.githubusercontent.com/15134959/100514011-54f38400-3197-11eb-9252-795b2e4c86be.png)

RequestsInstrumentor.instrument() instead of RequestInstrumentor.instrument()

[2020-11-28 11:14] dmarar opened #1432 "[docs] auto-instrumentation example needs to be updated."
Describe your environment

Environment:
OS: Windows
Python version : 3.8.2 (64bit)

Steps to reproduce

Following the  [Autoinstrumentation Examples](https://opentelemetry-python.readthedocs.io/en/stable/examples/auto-instrumentation/README.html)

What is the expected behavior?
All the testcases should PASS.

What did you expect to see?
A success message conveying all testcases have passed

What i

[2020-11-28 11:16] dmarar commented on #1429
@codeboten I have created an issue #1432  which consolidates all the problems for auto-instrumentation example, which also has a mention about this issue.

[2020-11-30 09:27] lonewolf3739 commented on #1431
@vishalkhondre these changes have been moved to [contrib repo](https://github.com/open-telemetry/opentelemetry-python-contrib) and it will be home for instrumentation libraries. I see that the highlighted part is commented on [here](https://github.com/open-telemetry/opentelemetry-python-contrib/blob/master/instrumentation/opentelemetry-instrumentation-requests/src/opentelemetry/instrumentation/req

[2020-11-30 15:48] lzchen commented on #1201
@lonewolf3739
I believe this is the correct understanding.

[2020-11-30 16:36] codeboten opened #1436 "Jaeger exporter: Resource to Process mapping"
As per spec:

See more details: https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/sdk_exporters/jaeger.md#resource

[2020-11-30 16:39] codeboten opened #1437 "Jaeger exporter must support Protobuf via gRPC"
As per spec matrix, the jaeger exporter must support sending data over gRPC:

[2020-11-30 17:21] #1390 closed

[2020-11-30 17:26] lzchen commented on #1398
I believe we are currently already doing [this](https://github.com/open-telemetry/opentelemetry-python/blob/master/opentelemetry-sdk/src/opentelemetry/sdk/trace/__init__.py#L840.

[2020-11-30 17:26] #1398 closed

[2020-11-30 17:47] lzchen commented on #1402
This might not necessarily be a discrepancy from the [specs](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/api.md#set-status). The specs merely says that these options should be available, not that there should be any enum ordering enforced. Some implementations may not even use enums. [Go](https://github.com/open-telemetry/opentelemetry-go/blob/5d03

[2020-11-30 17:48] lzchen commented on #1402
@DariaPlotnikova
Also curious, how did the output "become" STATUS_CODE_OK"? What is the mechanism that is reading the status from the span and displaying this value?

[2020-12-01 04:56] DariaPlotnikova commented on #1402
@lzchen,

Looked at code links and yes, here codes are different from python. But how do this clients send status code to jaeger (as _string representation_ or as _number_)? I'm agree that in fact it shouldn't have matter which code is used in language specific library, while this code isn't sent as _number_ to another library with differ code interpretation.

The main things is that in python `op

[2020-12-01 06:27] dmarar commented on #1240
@owais do you we need to give an extra option from command line as well
something on the lines **opentelemetry-instrument -i (or --ignore) django, requests** .....
the env var will take priority, if not given will check for the -i flag.

[2020-12-01 15:45] lzchen commented on #1402
@DariaPlotnikova
Thanks for the clarification.

Yes this is the avenue that would be best to pursue: if possible change our exporter behaviour instead of enforcing ordering in the specs for this use case. The only outstanding question is what the jaeger-agent EXPECTS from the tag. This line specifically:

If the jaeger backend EXPECTS 0 - OK, 1 - UNSET, 2 - ERROR, this might be a specs issue. Is t

[2020-12-01 17:25] aabmass commented on #1201
Related discussion on potentially just returning the existing instrument when this happens: https://github.com/open-telemetry/opentelemetry-specification/issues/1046

[2020-12-01 17:51] aabmass opened #1439 "Meter has unregister_observer() which is not in the spec"
We have a `unregister_observer()` function which I can't find mentioned in the spec:

https://github.com/open-telemetry/opentelemetry-python/blob/8cc92600158aba9d9de272f66a29a8422e3e5a66/opentelemetry-sdk/src/opentelemetry/sdk/metrics/__init__.py#L543-L545

I think having this extra method is ok, but do we have a use case for it?

There is also no counterpart for synchronous instruments. From http

[2020-12-01 18:50] lonewolf3739 commented on #1201
From Spec

Does the term definition here mean the tuple (name, desc, unit)?

Does this mean regardless of definition sdk must reject registration if another instrument has been registered with same name?

Was there any further discussion on returning the existing instrument in spec SIG or similar meetings?

[2020-12-01 18:51] lonewolf3739 commented on #1201
One another thing clear is names should be case insensitive.

[2020-12-02 04:54] DariaPlotnikova commented on #1402
I didn't find anything in [docs](https://www.jaegertracing.io/docs/1.21/). The only thing I found is [code in repo](https://github.com/jaegertracing/jaeger/blob/f4d6968147141fecb3207aae37ac083b6b2d6b08/cmd/opentelemetry/app/exporter/elasticsearchexporter/esmodeltranslator/modeltranslator.go#L287), but I'm not so good in golang to be sure that jaeger can understand tag `status.code` as string inste

[2020-12-02 14:53] lzchen commented on #1201
@lonewolf3739
I would ask in the issue that @aabmass  linked to.

[2020-12-02 14:58] #1104 closed

[2020-12-02 15:39] lzchen commented on #1419
@ocelotl
Should we enforce the usage of only capitalized env vars?

[2020-12-03 00:00] owais opened #1442 "Extend exporter interface to include initializer (__init__) or introduce a new exporter factory interface"
Recently we merged support for 100% automatic setup of tracing pipeline and instrumentations in https://github.com/open-telemetry/opentelemetry-python/pull/1036

This let's users specify the span exporter to use as a CLI arg or an environment variable. However, the code that sets up the pipeline needs to have specialized knowledge about exporters in order to initialize them properly.

For example,

[2020-12-03 00:20] aabmass commented on #1360
Looks like it

[2020-12-03 00:20] #1360 closed

[2020-12-03 11:01] owais commented on #1240
@dmarar I think that would be great to have but feel free to add it as a separate issue if you want to keep the initial PR simple.

[2020-12-03 12:28] dmarar commented on #1240
sure @owais . will create a new PR for it.

[2020-12-03 15:21] lzchen commented on #1442
Having to import and then instantiate another class is another point of contention for the customer. It will also break a lot of customer behaviour that they are used to with exporters for Azure that used [Opencensus](https://github.com/census-instrumentation/opencensus-python/blob/master/contrib/opencensus-ext-azure/examples/traces/simple.py#L22) before. I also don't think we want to enforce what

[2020-12-03 16:50] aabmass commented on #1159
Just some background on the reason it works like this. Library authors should instrument their code with the `opentelemetry-api` package alone, without taking dependency on `opentelemetry-sdk`. If a user of that library does not set the global tracer provider, then the `DefaultTracerProvider` will provide no-op spans that don't do anything, since the user isn't collecting telemetry. This is core t

[2020-12-03 17:58] owais commented on #1159
Dup: https://github.com/open-telemetry/opentelemetry-python/issues/1276

[2020-12-03 18:00] owais commented on #1442
That makes sense as well. We do support some level of configuration using environment variables today for almost all exporters. That's how users are supposed to configure export endpoints today for example. Adding support for `OTEL_SERVICE_NAME` environment var would be good enough to resolve this specific instance of the issue. Perhaps we should wait till the spec clarifies how to set service nam

[2020-12-03 18:12] #1429 closed

[2020-12-03 19:33] lzchen commented on #1159
@owais
Should we keep this one and delete the older one?

[2020-12-03 20:38] owais commented on #1159
Sure, just wanted to share it as it showed a real world example of where import order is not necessarily in users' control.

[2020-12-03 20:58] aabmass commented on #1276
Any idea why this happens before the setup in wsgi.py? I thought that would be the first thing to run

[2020-12-03 21:01] aabmass commented on #1439
Found this snippet [in the spec](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/metrics/api.md#constructors):

I think that means we should remove this method

[2020-12-03 21:14] lzchen commented on #1442
Yeah, we will probably have a specific SIG dedicated to just talking about what we will be providing for auto-instrumentation or configuration.

[2020-12-03 21:17] lzchen commented on #1276
Closing in favour of #1159

Let's continue the discussion there.

[2020-12-03 21:17] #1276 closed

[2020-12-03 22:22] aabmass commented on #1159
@owais from the other issue, i had a question about the django app:

Any idea why this happens before the setup in wsgi.py? I thought that would be the first thing to run. Would be good to understand the cases where folks are running into this

[2020-12-04 06:54] NathanielRN opened #1444 "Auto Instrumentation Needs Support for Initializing Metrics"
As a follow up to #1036, the next step should be to support automatically initializing `MetricProvider`s. The code is well set up to do it now, and shouldn't require much more than just another command line parameter and a modification of the code for the `TracerProvider` to accomplish.

[2020-12-04 15:12] #1217 closed

[2020-12-04 16:03] svrnm commented on #1363
@flands I did the JS one recently, I can also take care of this one. If I see this right what needs to be done is taking https://opentelemetry-python.readthedocs.io/en/stable/getting-started.html and transferring the pages over to opentelemetry.io ?

[2020-12-04 16:04] codeboten opened #1446 "Move all changelog files into a single top level one for the repo"
As discussed in the SIG meeting on 2020-12-03, there isn't a lot of value from having individual changelog files for each package at this point. Having a single log will make it easier for users to find changes and will reduce the time it takes to create a release.

[2020-12-04 16:49] pocman opened #1448 "AiopgInstrumentor: aiopg.connect() failure with AttributeError: __aexit__"
**Describe your environment**
Ubuntu, python 3.6, aiopg 1.0.0, opentelemetry 0.16b1

**Steps to reproduce**
On a working flask application using aiopg like here to https://github.com/miguelgrinberg/python-web-perf/blob/master/src/async_db.py

[code]

**What is the expected behavior?**
I expect the postgresql span to be available in zipkin.

**What is the actual behavior?**

The `aiopg.connect` cal

[2020-12-04 16:50] pocman commented on #1448
cc @sartx

[2020-12-04 17:51] #1397 closed

[2020-12-06 12:37] lonewolf3739 commented on #1437
Jaeger exporter currently supports sending spans to agent over UDP in thrift format and collector over HTTP in thrift format. When exporter is configured with both agent and collector it just exports to collector. The protos needed to support via gRPC are [here](https://github.com/jaegertracing/jaeger-idl/tree/master/proto/api_v2). I think this needs `collector` and `model` protos.

@codeboten thi

[2020-12-07 17:44] #1201 closed

[2020-12-08 15:02] #1274 closed

[2020-12-08 16:03] #1364 closed

[2020-12-08 16:14] #1103 closed

[2020-12-08 16:29] #1446 closed

[2020-12-08 16:40] #1432 closed

[2020-12-08 17:44] codeboten opened #1458 "Document rationale and description of the release and versioning strategy"
To fulfill the ask from open-telemetry/opentelemetry-specification#1267

[2020-12-09 11:09] plajjan opened #1459 "How to best implement a OTel exporting shim"
I'm trying to implement a sort of shim layer that takes tracing information in a proprietary format and convert it to OTel. Thus, I can't instrument my code in the normal OTel way. I have currently hacked together a solution where I directly instantiate SpanContexts and Spans from the SDK. It's slightly messy and I'm afraid of using things that seem internal, however I found no other way of achiev

[2020-12-09 20:49] aabmass commented on #1159
We discussed this in SIG and I think we should continue discussion before deciding how to move forward. Some options:

1. Keep the current code, or take it further and have it throw an exception instead of warning
2. Proxying solution which @anton-ryzhov has prototyped in #1445 😃
    - Spans/measurements before the exporter is added will be dropped
3. Use an envvar to specify an entrypoint `Tracer

[2020-12-10 14:43] anton-ryzhov commented on #1159
All entrypoints [should] have different names, and user may specify desired one before imports.

But it's not possible to decide on components at later steps (e.g. after loading the confutation from external source)

[2020-12-10 17:01] codeboten commented on #1155
Fixed by #1036

[2020-12-10 17:01] #1155 closed

[2020-12-10 17:15] codeboten opened #1462 "Remove eachdist"
Between tox and eachdist, we end up having to maintain and explain multiple ways of doing the same things. As discussed in the 12/10 SIG meeting, the proposal is to remove our reliance on eachdist from the CI and remove it from contributing.md

[2020-12-10 18:18] aabmass commented on #1462
We can replace the `eachdist.py develop` functionality mentioned [here](https://github.com/open-telemetry/opentelemetry-python/blob/master/CONTRIBUTING.md#development) with tox as well. Tox can create a virtualenv outside of `.tox` for you ([example here](https://github.com/GoogleCloudPlatform/opentelemetry-operations-python/blob/master/tox.ini#L85-L87)), so contributors will just run once `tox -e

[2020-12-10 18:27] aabmass commented on #1462
Re [this part](https://github.com/open-telemetry/opentelemetry-python/blob/master/CONTRIBUTING.md#user-content-development:~:text=You%20can%20then%20run%20scripts%2Feachdist.py%20test,everything%20(fixing%20anything%20that%20is%20auto%2Dfixable).) of contributing doc:

The intention of `eachdist.py test` is to be faster than running all of the individual tox envs. You can speed up local tox runs w

[2020-12-10 18:33] lzchen commented on #1402
We will probably just modify the behaviour of the jaeger exporter to account for this. We don't plan on making a change to the status code enum, because we don't want to have the implementation be dependent on the requirement of a specific backend.

[2020-12-10 18:41] lzchen commented on #1462
+1 for removing as well.

[2020-12-10 18:54] aabmass commented on #1159
Continuing the discussion with @anton-ryzhov from #1445 here:

I agree it's not obvious and should be better documented. We want instrumentation to be as easy as possible for users. To me it's not that strange of a requirement for an instrumentation library to do setup at the beginning before other things happen; I would rather folks explicitly set what they want than lose traces/metrics because t

[2020-12-10 21:57] lzchen commented on #1402
https://github.com/open-telemetry/opentelemetry-specification/pull/1257

[2020-12-11 00:20] ocelotl commented on #1305
I say we delete them right now while our first version number is still 0.

[2020-12-11 05:58] DariaPlotnikova commented on #1402
Tryed without `status.code` (commented [this string](https://github.com/open-telemetry/opentelemetry-python/blob/master/exporter/opentelemetry-exporter-jaeger/src/opentelemetry/exporter/jaeger/__init__.py#L236)) - jaeger understands spans correctly (both success and error). It works but in both cases there is no `status.code` tag at all:
![image](https://user-images.githubusercontent.com/16983433/

[2020-12-11 09:11] sanderland opened #1466 "RuntimeError: Requested component 'otlp_span' not found in entry points for 'opentelemetry_exporter'"
**Describe your environment**
Python 3.7, poetry virtrual environment

**Steps to reproduce**
My dependencies include
[code]
and then run

`opentelemetry-instrument python3 src/app.py`
in the poetry virtual environment.

**What is the actual behavior?**
I get the error:
[code]

**Additional context**
I've searched for otlp or otlp_span packages, but it seems this should just be part of opentelemet

[2020-12-11 12:16] HeinrichHartmann commented on #1159
I see a trade off here between:
1. Ease of use (more magic)
2. Principle of least surprise (less magic)

People may fall on different ends here, and I see a strong emphasize of (1) with the overall project (which makes sense).

For adoption of OTel at our company I have to balance this with the developer expectations that instrumentation libraries are safe to use and predictable. For example, we h

[2020-12-11 15:24] Oberon00 commented on #1159
Interestingly, while the global tracer handling code was completely rewritten since then, this seems to be the same problem as https://github.com/open-telemetry/opentelemetry-python/issues/45

[2020-12-11 15:32] Oberon00 commented on #1462
Duplication between eachdist and tox is bad. But note that tox can (and does) call the eachdist.py script to avoid duplication. Also, within the toxfile, many things are duplicated for each distribution, while eachdist can be uses to run the same thing for multiple distributions more easily. For example, all the lines at https://github.com/open-telemetry/opentelemetry-python/blob/3bbc54735fd54779c

[2020-12-11 16:07] ocelotl commented on #1462
+1 for removing eachdist. @Oberon00, tox can be run as `tox -e py38-test-core-api/sdk/proto/...` in order to use only one version.

[2020-12-11 16:07] codeboten commented on #1466
Thanks for raising this issue @sanderland, the entrypoint exists in the package `opentelemetry-exporter-otlp` which isn't a dependency of the opentelemetry-instrumentation package. There's an issue to decouple the instrumentation from having additional dependencies which will address this issue: #1420

[2020-12-11 16:11] Oberon00 commented on #1462
Well, that `...` is the problem, isn't it? That command line is gonna be quite long. Same for what `eachdist.py lint` (currently also used in tox) does: It globs around quite a bit to get all the files pylinted (e.g. also samples, setup.pys, etc).

[2020-12-11 16:11] lzchen commented on #1402
@DariaPlotnikova
Thanks for looking into this. From the [specs](https://github.com/open-telemetry/opentelemetry-specification/pull/1257) we will be using a string representation instead.

[2020-12-11 16:13] Oberon00 commented on #1462
I am no longer really involved in development in odin-python though, so I have no right to object here -- if you find it easy & fast enough to work with tox, that is fine. If you end up having lots of private shell scripts and aliases then, maybe there is room for improvement 😃

[2020-12-11 16:17] codeboten commented on #1466
I should have said that as a workaround you can use the `-e none` flag when running `opentelemetry-instrument` to not use the default (OTLP) exporter

[2020-12-11 17:03] shovnik commented on #1345
I believe this issue can be resolved.

[2020-12-11 17:32] ocelotl commented on #1345
@shovnik I see `ExportRecordSet` not being present. Is `ExportRecord` enough?

[2020-12-11 17:54] shovnik commented on #1345
Do we need to create a class called ExportRecordSet that only contains an array of ExportRecords to comply? I thought returning a list of ExportRecords would be sufficient in our case.

[2020-12-11 18:20] shovnik commented on #1001
The spec requires adding a ReadOnly and ReadWrite span interface for use cases where the sdk needs to read back span attributes as specified in: https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/sdk.md#additional-span-interfaces. However, right now, if I add an underscore in front of all span attributes to discourage accessing (default span being WriteOn

[2020-12-11 19:26] NathanielRN opened #1468 "Add benchmarks to every type of package in `build` workflow"
In #1443 we add performance tests for the SDK.

The SDK falls under the category `core` of tests matched in the `build` workflow. For this reason, when the `jq` command looks through the entire repo after the workflow for `*-benchmark.json` files we are guaranteed to find at least ` file. This file is then given to the subsequent Github action to report on benchmarking results.

However, the `buil

[2020-12-11 19:29] NathanielRN commented on #1468
Related Contrib Issue: https://github.com/open-telemetry/opentelemetry-python-contrib/issues/249

[2020-12-14 15:30] Oberon00 commented on #1001
I am not sure anything *needs* to be done here for Python. IMHO it already implements the spec correctly: If you look at the API Span interface, there are no getters/properties/attributes that shouldn't be there. And the SDK span *is* the ReadWrite and Readable Span at the same time (which is totally allowed).

But I agree with @lzchen in https://github.com/open-telemetry/opentelemetry-python/issu

[2020-12-14 16:07] lzchen commented on #1345
IMO the specs shouldn't be telling us how to implement a "set of export records". I would bring up this issue to the specs.

[2020-12-14 16:25] shovnik commented on #1001
I might be misunderstanding your suggestion, but wouldn't delegating all the span methods to its `_data` attribute require a second Span class anyways since the current Span implementation which will be stored in `_data` does not delegate these methods (would be recursive). Instead of having a WriteOnly(default), ReadOnly and ReadWrite Span, we would have a ReadWrite Span stored inside of every Wr

[2020-12-14 16:50] lzchen opened #1474 "Update Jaeger exporter status code to error tag"
From the [specs](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/sdk_exporters/jaeger.md#status) Jaeger exporter tags for status code must be the string representation of the status code enum.

Related:
https://github.com/open-telemetry/opentelemetry-python/issues/1402

[2020-12-14 16:54] lzchen opened #1475 "Update Zipkin status code and error tag"
From the [specs](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/sdk_exporters/zipkin.md#status), Zipkin exporter exported tag for status code should be string representation.

Also, needs an `error` tag for if status is error.

[2020-12-14 16:59] lzchen opened #1476 "Add support for OTEL_TRACE_SAMPLER + OTEL_TRACE_SAMPLER_ARG env variable"
The [spec](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/sdk-environment-variables.md#general-sdk-configuration) describes environment variables that should be supported to configure the sampler used for all traces as well as the arguments to pass in for this sampler.

[2020-12-14 18:18] lzchen opened #1477 "Make sure Resources follow semantic conventions"
From [specs](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/resource/semantic_conventions/README.md).

[2020-12-14 23:03] #1421 closed

[2020-12-15 01:21] codeboten opened #1481 "Provide Distro mechanism"
To make configuration easier for users of OpenTelemetry, a mechanism that can be configured before the `opentelemetry_configurator` entrypoint is run would make creating Distro's for OpenTelemetry Python easy.

[2020-12-15 09:00] sanderland commented on #1466
Thanks for getting back to me so quickly. There's probably some improvements to be made to the tutorial and/or error messages.
After checking with colleagues I am going with setting up tracking in the source code instead, since opentelemetry-instrument and uwsgi don't seem to like each other very much.

[2020-12-15 10:16] lonewolf3739 commented on #1459
I am not really sure if I understood you correctly but does this https://github.com/open-telemetry/opentelemetry-python/issues/1152 and https://github.com/open-telemetry/opentelemetry-python/pull/1153 help you?

[2020-12-15 12:44] Oberon00 commented on #1001
I think you understood it correctly. I would most likely need two Span classes. Though the ReadWrite span does not need to inherit from Span, it would be nice if it did.

That would be fine, but these properties are also needed outside the SDK: They must be available in user-implemented SpanProcessors and in exporters (which are not part of the SDK but separate components using the SDK).

[2020-12-15 16:09] shovnik commented on #1001
To give users outside the SDK access to the now nested ReadWrite Span, wouldn't we have to add a new generate_read_write_span method to the span interface (which just returns `_data`? And if the default Span should now be considered ReadWrite, wouldn't we have to add a Setter to it as well?

Also, on a side note, wouldn't this approach make it harder to implement a ReadOnly Span or is that complet

[2020-12-15 17:59] ocelotl commented on #1419
I feel like the right thing is to do this only for windows.

[2020-12-15 18:16] dmarar commented on #1419
Another thought is that we convert everything to capitalized before storing in Configuration.
In this way we could do away with checks where Configuration().get() will return None if the user has entered in small letters.(on non windows machines)

[2020-12-15 18:20] ocelotl commented on #1419
This can cause conflicts for operating systems that support lower and uppercase environment variables.

[2020-12-15 18:44] dmarar commented on #1419
Sorry, may be I couldn't convey it clearly.
say for OS supporting both lower and uppercase, user creates a "otel_python_exporter".

if we could parse and store it in Configuration class  as :
**instance._config_map[key.captialize()] = value**

we can always access it as ```Configuration().get("EXPORTER')``` irrespective of whether user enters in upper or lower case.
This will also work for Windows

[2020-12-15 19:37] lzchen commented on #1388
@ocelotl
Can we close this and track issues individually?

[2020-12-16 01:06] ocelotl commented on #1419
I think this is an issue just with the test that is failing in Windows. If Windows only supports uppercase environment variables, then the user will only use `Configuration().ENVIRONMENT_VARIABLE`, so no changes are needed in the source code but in the test case. I'll be submitting a fix shortly :+1:

[2020-12-16 04:38] #1110 closed

[2020-12-16 13:25] lonewolf3739 commented on #1474
@lzchen specs is linked to open-census probably you meant this https://github.com/open-telemetry/opentelemetry-specification/pull/1257. So with this spec change tag type should be string (`OK`, `ERROR`) instead of number in exporter?

[2020-12-16 13:27] lonewolf3739 commented on #1475
Assign this to me.

[2020-12-16 14:16] ocelotl commented on #1388
Yes, I don't think this issue is necessary right now, closing :+1:

[2020-12-16 14:16] #1388 closed

[2020-12-16 16:21] lzchen commented on #1474
@lonewolf3739
Oops, my bad, fixed. Yes you are correct.

[2020-12-16 16:46] ocelotl commented on #1345
I agree, I was just checking :slightly_smiling_face: A comment that mentions this would be enough.

[2020-12-16 16:47] lzchen opened #1487 "Fix TraceState to adhere to specs"
From the [specs](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/api.md#tracestate):

1. All mutating operations MUST return a new TraceState with the modifications applied
2. TraceState MUST at all times be valid according to rules specified in W3C Trace Context [specs](https://www.w3.org/TR/trace-context/#mutating-the-tracestate-field)
3. Error handl

[2020-12-17 03:49] violalyu opened #1490 "Issue with receiving `ValueRecorder` and `ValueObserver` metrics using opencensus receiver with collector"
**Describe your environment**
python version: `python 3.7.0` with virtual environment created with venv
platform: `Darwin-19.3.0-x86_64-i386-64bit`
installed dependencies:
[code]

**Steps to reproduce**
This can be reproduced by adding this section into the provided example here: https://github.com/open-telemetry/opentelemetry-python/blob/master/docs/examples/opencensus-exporter-metrics/collector.

[2020-12-17 07:46] lonewolf3739 commented on #1476
Please assign this to me.

[2020-12-17 12:46] lonewolf3739 commented on #1476
I have small questions about env values.

1) If `OTEL_TRACE_SAMPLER` is set and is not one of known values, then what should be set as sampler?

2) From specs - `OTEL_TRACE_SAMPLER_ARG`

   `TraceIdRatio` sampler expects a required `rate` of sampling arg, Can we assume this will always be set for this sampler? If not, what should be passed as `rate` for sampler.

[2020-12-17 15:24] lzchen commented on #1476
From the [specs](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/sdk.md#built-in-samplers) `The default sampler is ParentBased(root=AlwaysOn).`.

From the [specs](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/sdk-environment-variables.md#general-sdk-configuration) `the SDK MUST behave as if OTEL_TRACE_SAMPLER_A

[2020-12-17 17:04] Oberon00 commented on #1001
No, actually that is the thing we MUST NOT do. In all the places where the spec requires a Readable span or a Readwrite span, it is as a parameter of a method that is invoked by the SDK. So e.g. in the SDK's `def end(self):` for `Span` you could do `self._span_processor.on_end(self._data)` (pseudo code). So the conversion happens inside the SDK.

[2020-12-17 17:16] codeboten opened #1493 "Move IdsGenerator interface to SDK"
The spec identifies the IdsGenerator interface as belonging to the SDK, this needs to be moved out of the API before 1.0. This will require an update to the contrib repo: https://github.com/open-telemetry/opentelemetry-python-contrib/blob/master/sdk-extension/opentelemetry-sdk-extension-aws/src/opentelemetry/sdk/extension/aws/trace/aws_xray_ids_generator.py

[2020-12-17 17:35] codeboten opened #1494 "Need to decide what to do w/ the Configuration API"
Currently the api package includes the `Configuration` api, which isn't part of the spec. This should be moved out before 1.0

[2020-12-17 17:39] ocelotl opened #1495 "Decide on the versioning for instrumentation packages"
How will versioning be for instrumentation packages? We should have an answer for that question.

@lzchen please confirm this is the actual topic that you wanted to discuss in this issue :sweat_smile:

[2020-12-17 17:55] shovnik commented on #1001
Alright, I think I understand the idea. I will make a PR for this moment I have some time.

[2020-12-17 18:16] aabmass commented on #1495
Probably related https://github.com/open-telemetry/opentelemetry-python/issues/1159

[2020-12-17 23:11] ocelotl commented on #1494
The [Configuration API](https://github.com/open-telemetry/opentelemetry-python/tree/master/opentelemetry-api/src/opentelemetry/configuration) is a feature that currently resides in the API. It is used by the API, SDK and auto instrumentation plugins.

As mentioned in this issue, it is a problem having the Configuration API in the API because the spec does not include it. Keeping it would put OpenT

[2020-12-18 14:58] lonewolf3739 commented on #1487
@codeboten as discussed SIG meeting, assign this me. I will start work on this weekend.

[2020-12-18 15:21] codeboten commented on #1487
Done, thanks @lonewolf3739!

[2020-12-18 16:22] lzchen commented on #362
Closing due to inactivity.

[2020-12-18 16:22] #362 closed

[2020-12-18 16:23] #374 closed

[2020-12-18 16:23] lzchen commented on #374
We have decided to release off of master and use tags instead.

[2020-12-18 16:28] #409 closed

[2020-12-18 16:29] #432 closed

[2020-12-18 16:34] lzchen commented on #457
Closing. We are already hosting on readthedocs.

[2020-12-18 16:34] #457 closed

[2020-12-18 16:38] lzchen commented on #477
Closing this for now. Will reopen if there's development in the specs.

[2020-12-18 16:38] #477 closed

[2020-12-18 16:49] lzchen commented on #486
Discussed 12/18:

We need to setup tests in such a way where we test the instrumentations with the no-op providers.
1.  Add to test-utils to instantiate default providers (no sdk components)
2.  All tests that we write should test the no-op provider and the sdk provider.

This is specifically to ensure that nothing bad will happen if the default sdk is not used (instrumentations won't crash using

[2020-12-18 16:50] lzchen commented on #513
We aren't going to do this. Builds have changed significantly since this.

[2020-12-18 16:50] #513 closed

[2020-12-18 21:20] #1419 closed

[2020-12-19 19:07] owais opened #1497 "Document how to use with Gunicorn"
Batch span processor does not work well with Gunicorn's forking model out of the box. Users need to leverage gunicorns worker hooks to setup tracing for each worker after the worker has started. This should be documented with examples.

An example django+gunicorn project that solves the same problem with signalfx-python-tracing:

https://github.com/owais/django-trace-test
https://github.com/owais/

[2020-12-19 19:07] owais commented on #1497
//cc @lzchen

[2020-12-21 18:41] dmarar commented on #1108
@codeboten , pls assign this to me.

[2020-12-21 18:51] codeboten commented on #1108
@dmarar done, thanks!

[2020-12-21 20:48] aabmass commented on #1159
FYI, opentelemetry-js has a [`ProxyTracerProvider`](https://github.com/open-telemetry/opentelemetry-js/blob/16a33164a5ae4e8e8fe904026454484b2a5f7b88/packages/opentelemetry-api/src/trace/ProxyTracerProvider.ts#L30) in their `@opentelemetry/api` package.

I wonder if both Python and JS go ahead with this approach if it should be in the Tracing API spec (which is frozen)? Last SIG, we discussed [`ope

[2020-12-23 00:53] #1475 closed

[2020-12-24 11:49] alan-yilun-li commented on #1497
Hi, do you have any examples of how this would work with the opentelemetry-python client? I.e. how signalfx then goes to open-telemetry

[2020-12-24 21:30] owais commented on #1497
Documenting this with an example is what this task is about so we'll have one once this issue is resolved. You can replace signalfx tracing with opentelemetry in the example project I shared and it should work.

[2020-12-26 06:09] toumorokoshi commented on #1001
Reading through this, I'm not clear we need the additional complexity of a wrapper span.

If the goal is to reduce the likelyhood of direct attribute access, and to encourage users to blessed methods on some ReadWrite span interface, why not:

* introduce getters methods on the sdk.Span
* move all attributes to protected

Regardless some getter methods will have to be added to the Readable span. O

[2020-12-26 18:40] Oberon00 commented on #1001
The readable span can just expose the attributes directly like now.
Code modification should only be required for unit tests that read attributes from a write-only span.
See my comment above https://github.com/open-telemetry/opentelemetry-python/issues/1001#issuecomment-747570792

[2020-12-27 14:26] OmarEltamasehy opened #1504 "Error in opentelemetry/instrumentation/django/middleware.py related to "wsgi.url_scheme""
Hi,
Appreciate your support.
We try to use DjangoInstrumentor by putting it in settings.py as the below,

[code]

Our application uses Django channels and the above code gives us an error.
After debugging we found out that the cause of the error is in opentelemetry/instrumentation/django/middleware.py
related to "wsgi.url_scheme". Please check the stacktrace for details.

Any thoughts on how to by

[2021-01-04 16:16] lzchen commented on #1494
We also don't want (eventually) GA packages (like API and SDK) to depend on a package that could potentially have breaking changes.

Another solution is to have the Configuration API only as a "helper" api used internally. We will try our best to not expose it in any user-facing documentation related to tracing/metrics/logs. Instrumentation library authors MAY use it to their own discretion but we

[2021-01-04 16:40] lzchen commented on #1495
@aabmass
Could you explain a little about how that issue is related?

[2021-01-04 16:52] lzchen commented on #1495
@ocelotl
Trying to job my memory. I believe this issue was created to track the discussion on how we want to version the instrumentation packages. The core packages (api, sdk) will be versioned according to the [RATIONALE.md](https://github.com/open-telemetry/opentelemetry-python/pull/1460) doc, which will follow OT guidelines for versioning and releasing, however the other packages do not need to

[2021-01-04 17:03] lzchen commented on #1402
Closing this in favour of #1474

[2021-01-04 17:03] #1402 closed

[2021-01-04 17:06] codeboten opened #1506 "OTLP metadata must be set as tuple"
**Describe your environment**
The current implementation of the OTLP exporter uses a string of key-value pairs when setting the value in the grpc connection, this is incorrect according to what the grpc glossary expects metadata to be a sequence of tuple
https://grpc.github.io/grpc/python/glossary.html#glossary:

[2021-01-04 17:13] #1437 closed

[2021-01-04 17:14] lzchen commented on #1504
Moving to contrib repo.

[2021-01-05 08:54] lonewolf3739 opened #1508 "Zipking Exporter: Boolean attribute values MUST use lower case strings "true" and "false""
From [Specs](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/sdk_exporters/zipkin.md#attribute)

[2021-01-05 11:19] lonewolf3739 commented on #1180
Jaeger has some some inconsistent model definitions about this. Thrift [span](https://github.com/jaegertracing/jaeger-idl/blob/master/thrift/jaeger.thrift#L52-L64) def doesn't have `process` field and [Batch](https://github.com/jaegertracing/jaeger-idl/blob/master/thrift/jaeger.thrift#L88) makes it mandatory. Proto [span](https://github.com/jaegertracing/jaeger-idl/blob/master/proto/api_v2/model.p

[2021-01-05 23:41] #1294 closed

[2021-01-05 23:41] #1376 closed

[2021-01-07 05:14] #1506 closed

[2021-01-07 06:47] asaha-atlassian opened #1510 "Otel Collector with Prometheus exporter ignoring labels"
**Describe your environment**

1. Local OS X workstation.
2. Running the demo at https://github.com/open-telemetry/opentelemetry-python/tree/master/docs/examples/opencensus-exporter-metrics
3. collector.py running outside docker with Python 3.9. Relevant Python packages:

[code]

**Steps to reproduce**

1. Run `docker-compose up` from the `docker` sub-directory of the example
2. Run `python collec

[2021-01-07 16:05] #1474 closed

[2021-01-07 19:59] lonewolf3739 opened #1511 "Check if ThreadLocalRuntimeContext can be removed since python3.4 support is dropped"
https://github.com/open-telemetry/opentelemetry-python/blob/master/opentelemetry-api/src/opentelemetry/context/threadlocal_context.py#L21

[2021-01-07 21:15] ocelotl commented on #1494
As discussed in the SIG, the best we can do now is to remove `Configuration` entirely for the release. Later we can decide what to do.

[2021-01-08 16:56] #1448 closed

[2021-01-09 11:08] lonewolf3739 commented on #1159
This indeed does what you expect it to do. It takes the first entry from the group matching name but the name is _configurable_ in the user project. If the name is not set it defaults to `default_tracer_provider`. If you have tricky code initialization order you can set env `OTEL_PYTHON_TRACER_PROVIDER` to `sdk_tracer_provider`. If you rely on some other implementation of API instead of `opentelem

[2021-01-09 13:01] lonewolf3739 opened #1515 "Update default port for OTLP exporter to 4317"
With this change https://github.com/open-telemetry/opentelemetry-specification/pull/1221 default port for OTLP exporter is 4317, the current default port in the OTLP exporter is 55680. This should be updated.

[2021-01-11 05:28] NathanielRN opened #1517 "How to Report Resource Utilization Measurements (+ Automation)"
As a follow up to PR #1499 which aims to add resource utilization tests using the very popular [Scalene](https://github.com/emeryberger/scalene) library, we want a more automated and easily reproducible method of reporting the results of these tests other than having users run them on their own machines.

Something that integrates with CI like we have [for the benchmark tests](https://github.com/r

[2021-01-11 20:39] #1493 closed

[2021-01-11 21:25] aabmass commented on #1159
@lonewolf3739 is right, I missed these envvars before and it seems like a nice simple solution.

@anton-ryzhov @HeinrichHartmann does setting that environment variable work for your use case? The correct SDK provider will be set and you can use `trace.get_tracer_provider().add_span_processor()` to add your exporter dynamically after the configuration is loaded.

[2021-01-11 22:46] anton-ryzhov commented on #1159
I doubt if setting a environment variable could be considered as easy-to-use and user-friendly (user=developer that imported this library) solution. For prod, in docker for example, it's fine and usual to pass configs as env.

But that's weird requirement for developers env. "If you want to use this lib — add this to your `bash_profile` and reboot" — is that how it supposed to be?

In my opinion i

[2021-01-12 02:47] lzchen opened #1522 "Remove "resource" from span"
According to the resource [specs](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/resource/sdk.md#resource-sdk), resources are immutable, so we shouldn't expect them to change. With that being said, the current [sdk](https://github.com/open-telemetry/opentelemetry-python/blob/master/opentelemetry-sdk/src/opentelemetry/sdk/trace/__init__.py#L426) implementati

[2021-01-12 04:08] lonewolf3739 commented on #1522
Trace api [spec](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/api.md#span) for span doesn't have resource either, +1 for removing. Resource remains same for all the traces generated from trace provider instance so this could just be set right before exporting. Another point to bring up here is many proto/thrift model definitions doesn't have the res

[2021-01-12 08:59] owais commented on #1494
Having it back as an "internal" module would really be great. I think it was very nice to have and could have added more convenience and safety to dealing with config values.

[2021-01-12 16:17] #1511 closed

[2021-01-12 19:24] #1221 closed

[2021-01-12 19:56] lzchen commented on #1522
I believe this is a more generic question for tracing functionality itself rather than specific to this issue. I don't believe we allow that currently anyways with our current api?

[2021-01-12 20:14] #1515 closed

[2021-01-12 21:34] lzchen commented on #1494
@owais
If that is the case why leave it till after 1.0.0?

[2021-01-12 21:39] codeboten opened #1524 "Jaeger propagator must be distributed as a separate package"
As per spec, the propagators must be distributed as separate packages:

https://github.com/open-telemetry/opentelemetry-specification/blob/2ebefc181a99dc79bbb4b1d3e85e20b240a5f26f/specification/context/api-propagators.md#propagators-distribution

[2021-01-13 10:09] lonewolf3739 opened #1526 "The SDK MUST set a default value for the attribute service.name if it was not specified"
The `service.name` attribute of `Resource` is mandatory and SDK should set the default value if not specified. This attribute is necessary for certain backends such as [Jaeger](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/sdk_exporters/jaeger.md#resource) to identify the service that produced the spans.

From [specs](https://github.com/open-telemetr

[2021-01-13 10:10] anton-ryzhov commented on #1159
Hold on…

I just tried your [suggestion](https://github.com/open-telemetry/opentelemetry-python/pull/1445#issuecomment-742031200). But `TracerProvider` constructor takes parameters, such as `sampler` and `resource` that can't be changed later on, they are immutable and wired to all created `Tracer`s.

I may add `add_span_processor` later at runtime, but what about these settings?

They only could

[2021-01-13 11:08] lonewolf3739 commented on #1159
It is very under-documented, just letting you know that `sampler` and `resource` attributes can also be configured with environment variables. There is an open [PR](https://github.com/open-telemetry/opentelemetry-python/pull/1496) for adding support for `OTEL_TRACE_SAMPLER` and `OTEL_TRACE_SAMPLER_ARG`. The `OTEL_RESOURCE_ATTRIBUTES` is already supported and it takes key-value mapping string in th

[2021-01-13 12:20] lonewolf3739 opened #1527 "Add support for exporter selection env variables OTEL_TRACE_EXPORTER and OTEL_METRICS_EXPORTER"
The [spec](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/sdk-environment-variables.md#exporter-selection) describes two environment variables that should be supported by SDK for exporter selection `OTEL_TRACE_EXPORTER` for traces and `OTEL_METRICS_EXPORTER` other for metrics. Earlier this was just one variable `OTEL_EXPORTER` that accepts comma separated k

[2021-01-13 14:17] anton-ryzhov commented on #1159
So if I need to get these values from some config storage I need to run "pre-executable" process, fetch all these values, populate env and then `exec` to "the real" process? Is that a recommended way?

[2021-01-14 05:41] codeboten opened #1529 "Add propagator packages to CI"
The new propagators directory isn't currently running as part of the github action. This should be fixed.

[2021-01-14 10:17] lonewolf3739 commented on #1436
@codeboten I believe this is already addressed [here](https://github.com/open-telemetry/opentelemetry-python/blob/master/exporter/opentelemetry-exporter-jaeger/src/opentelemetry/exporter/jaeger/translate/protobuf.py#L163-L178) as a part of https://github.com/open-telemetry/opentelemetry-python/pull/1471. Jaeger thrift model definition for [Span](https://github.com/jaegertracing/jaeger-idl/blob/mas

[2021-01-14 17:11] codeboten opened #1531 "Update maintainers on readthedocs"
Currently the readthedocs maintainers for opentelemetry-python are set @c24t and @toumorokoshi, this should be updated

[2021-01-14 17:14] toumorokoshi commented on #1531
@codeboten can you and @lzchen create accounts in readthedocs and message them to me?

[2021-01-14 17:29] aabmass commented on #1159
We discussed in the 2021-01-14 SIG meeting and agreed to go with the proxy approach in #1445. It will be a little more complicated for metrics (must have `ProxyCounter`, `ProxyValueObserver`, etc..) but should be doable. Thanks for the discussion everyone!

[2021-01-14 17:34] codeboten opened #1532 "Move opentelemetry-instrumentation package into contrib repo"
This package isn't used in the core repo, it should be moved out.

Note: the only instrumentation in the core repo isn't really an instrumentation and there's an issue to move it already #1359

[2021-01-14 17:39] #1508 closed

[2021-01-14 17:44] lzchen commented on #1001
https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/sdk.md#additional-span-interfaces

[2021-01-14 20:15] #1529 closed

[2021-01-15 04:22] toumorokoshi commented on #1531
added @codeboten, which I think unblocks @lzchen. I'll close this out, thanks!

[2021-01-15 04:22] #1531 closed

[2021-01-15 12:04] Oberon00 commented on #219
I noticed this was still assigned to me -- unassigned, as I don't actually have this on my TODO list.

[2021-01-15 22:59] szeitlin opened #1534 "Circular Imports with Jaeger should be avoidable with unique naming and avoiding `import *`"
**Describe your environment**

[code]

**Steps to reproduce**
I'm trying to follow the example here: https://opentelemetry-python.readthedocs.io/en/stable/getting-started.html

Describe exactly how to reproduce the error. Include a code sample if applicable.

[code]

I think this would probably be solved by doing two things:
1) don't re-use the name `jaeger` over and over again. This is generally

[2021-01-18 09:38] plajjan commented on #1459
@lonewolf3739 I don't believe it helps me, unfortunately. The way I read #1152 and #1153, it is about being able to specify your own generator for IDs. I don't want to generate any IDs at all, rather the IDs are already computed by another system! I just want to insert them into the OTel flow. That would be possible if I could build a mock-generator where I'd simply feed in existing values that wo

[2021-01-18 22:34] #1524 closed

[2021-01-19 00:32] #1359 closed

[2021-01-19 00:53] #1458 closed

[2021-01-19 05:08] #1476 closed

[2021-01-19 16:35] #1481 closed

[2021-01-19 20:12] Valgueiro opened #1537 "AttributeError: module 'enum' has no attribute 'IntFlag'"
**Describe your environment**

Tested with:
* Python 3.7, 3.8 and 3.9.
* MacOS Big Sur 11.1
* opentelemetry-api == 0.16b1
* opentelemetry-sdk == 0.16b1

**Steps to reproduce**
I am trying to run the Getting Started Example:

[code]

Running using:

[code]

**What is the actual behavior?**

[code]

**Additional context**
I've already tried solutions that I saw on the internet like removing the `enu

[2021-01-20 01:26] lonewolf3739 commented on #1537
@Valgueiro As you can see from the error traceback, this isn't really a problem with `opentelemetry-python`. Can you share the output of `pip show enum34` and `pip freeze`?

[2021-01-20 14:16] Valgueiro commented on #1537
@lonewolf3739 I thought that could be something related to a dependency added by the `opentelemetry` libraries.

Here is a screenshot of the output that you requested:

![image](https://user-images.githubusercontent.com/20529578/105186772-ce14b500-5b10-11eb-9204-329aed268553.png)

Also when I run `pip uninstall -y enum34` I receive: `WARNING: Skipping enum34 as it is not installed.`

[2021-01-20 14:50] lonewolf3739 commented on #1537
This is doesn't seem to be problem with `opentelemetry-python`, You can see it yourself from the stacktrace. This library uses `typing` module from python standard library which is using `re` module that is where the error raised. Can you share the output of this snippet?
[code]

[2021-01-20 14:54] Valgueiro commented on #1537
The output is:
`/Users/mateusvalgueiro/.pyenv/versions/3.9.0/lib/python3.9/enum.py`

[2021-01-20 15:28] dmarar commented on #1108
Hello,
Before I implement this,  thought of clarifying some points from spec
Following from the spec:
https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/protocol/otlp.md#concurrent-requests

I had some questions regarding the spec before i start the implementation:
- number of spans in a single request? Do we have any number that we are targeting?
- Say for eg

[2021-01-20 15:37] lonewolf3739 commented on #1534
@szeitlin I believe your file name `jaeger.py` contributed to this error. The code inside `/gen` folder is auto generated from thrift model definitions.

[2021-01-20 17:22] #1487 closed

[2021-01-21 16:11] codeboten opened #1540 "Release process improvement"
The prepare_release script needs updating to accommodate for the new changelog

[2021-01-21 16:51] codeboten commented on #1526
This issue is still being discussed here: https://github.com/open-telemetry/opentelemetry-specification/issues/1237

[2021-01-21 16:57] lzchen commented on #1537
@Valgueiro
If this doesn't appear to be an issue with opentelemetry, can this issue be closed?

[2021-01-22 03:35] ehiggs opened #1542 "Jaeger Propagator not handling missing carrier"
Python 3.8 / Flask injector 0.17b0

**Steps to reproduce**
If jaeger is the text map and you do not send a carrier header then the parser fails when it tries to parse the carrier header.

[code]

**What is the expected **
Parse as invalid span. Code continues.

**What is the actual behavior?**
[code]

**Additional context**
TraceContextTextMapPropagator does this:

[code]

[2021-01-22 03:43] lonewolf3739 commented on #1526
@codeboten This PR https://github.com/open-telemetry/opentelemetry-specification/pull/1269 says it fixes the mentioned issue and it got merged. The issue would have been auto-closed but description formatting prevented that.

[2021-01-22 04:26] lonewolf3739 commented on #1542
It was not very clear from gitter discussion. IIUC it is giving error when the carrier doesn't have the propagation headers (for ex: `x-b3-traceid` or `uber-trace-id`) instead of setting invalid span context. I haven't looked at jaeger propagator code closely, but looks like this indeed is not expected behavior.

[2021-01-22 04:42] lonewolf3739 opened #1543 "Update Resource merge method precedence for conflict key and empty string"
Recently spec has been updated for `Resource`

From [specs](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/resource/sdk.md#merge)

This is kind of related to https://github.com/open-telemetry/opentelemetry-python/issues/1526.

[2021-01-22 05:15] lonewolf3739 commented on #1526
It seems there are some updates to spec around this issue. Resource `merge` behaviour is updated with this PR https://github.com/open-telemetry/opentelemetry-specification/pull/1345.

[2021-01-22 09:12] outtoin opened #1546 "Q) How can I share trace_provider between seperate processes?"
Suppose that there are 2 processes.

1.

[code]

2.

[code]

When users call "/", first server submits task within redis. Second server gets task from redis, call "/ack" after task done.
However, `flask-app` service and `background-task` doesn't share it's trace.
How can I share trace_provider or trace_id between this two processes?

[2021-01-22 16:04] lonewolf3739 commented on #1546
This thread should help you understand how to achieve that https://github.com/open-telemetry/opentelemetry-python/issues/1266. The only difference is you have web service and async background job service. You need to pass the context from flask web service and use it as parent in `background-task` service. If everything goes fine you should see only one trace.

[2021-01-22 19:18] #1537 closed

[2021-01-24 17:40] lzchen opened #1547 "Ease migration of experimental to stable packages"
Cont'd discussion from 01/21/21 SIG

Taken from https://github.com/open-telemetry/opentelemetry-python/blob/master/rationale.md
Our current planned release versioning story is as follows:

V1.0.0 Release (tracing, baggage, propagators, context)
opentelemetry-api 1.0.0
Contains APIs for tracing, baggage, propagators, context
opentelemetry-tracing 1.0.0
Contains the tracing SDK
opentelemetry-sdk 1.0

[2021-01-25 14:58] owais commented on #1547
I liked @ocelotl's idea of having a single package with a stable and dev version. So we'd release `opentelemetry-api 1.0` and it'd only contain tracing and other stable components. At the same time, we'd also release `opentelemetry-api 1.1-dev0` which would contain metrics and any other unstable components. The idea being that a future release (1.1.0) might ship metrics and other unstable componen

[2021-01-25 16:56] lzchen commented on #1547
@owais
With this solution, how would a user be able to use the stable components and try out the unstable components at the same time if both packages are the same?

[2021-01-25 17:28] owais commented on #1547
Technically they wouldn't be able to do that. If they chose to try out the dev package, by definition, the entire package including the tracing bits would be consider unstable and subject to change. However, I think this shouldn't be too much of a problem given we don't intent to make any significant changes to the tracing API and I think any minor API changes are acceptable if users chose to use

[2021-01-25 17:40] codeboten opened #1549 "Rename branch master -> main"
As per https://github.com/open-telemetry/community/issues/402

[2021-01-25 17:44] lzchen commented on #1547
@owais
So would `opentelemetry-api 1.1-dev0` contain metrics + unstable components AND all the stuff in `opentelemetry-api 1.0` as well?

[2021-01-25 18:01] codeboten commented on #1547
i think the option with a dev and stable version probably works better, since in the future we'll want to be able to have an API package that may be unstable (2.0) at which point we would have a need for this anyways.

[2021-01-25 18:06] ocelotl commented on #1547
To *try* the unstable components, it is just a matter of creating a new virtual environment and trying it out :slightly_smiling_face:

[2021-01-25 18:08] lzchen commented on #1547
@ocelotl
I think my point was that the stable package and unstable package are the same, just simply different versions. So if the unstable package ONLY contains the unstable components, users wouldn't be able to use both stable and unstable at the same time within the same venv.

[2021-01-25 18:27] ocelotl commented on #1547
Hmm, the unstable package will always be a "working" version in the sense that it has everything needed to work with spans, metrics, etc. What happens is that it includes newer features that we still don't feel confident enough to call stable or that they may not be completely specified, etc. Usually the unstable package will be a super set of the all the stable features and the unstable ones. I s

[2021-01-25 18:51] lzchen commented on #1547
@ocelotl
Yup I agree. Just was confused because what @owais said before "At the same time, we'd also release opentelemetry-api 1.1-dev0 which would contain metrics and any other unstable components.". If the unstable package is a SUPERSET then I have no problem with this approach.

I think as discussed with @codeboten , if users take a dependency on the unstable version, they are taking a risk on

[2021-01-25 20:39] aabmass commented on #1547
@owais could you share some projects that do this? I don't see any `-devX` releases for django on PyPI. I am curious how to achieve this with setuptools without copying the code to two separate package directories or branches.

IIRC this approach won't work with "compatible release" specifier (`~=`) to get patch releases. I haven't tested this, but I don't think `opentelemetry-api~=1.1.0-dev0` wou

[2021-01-25 21:16] aabmass commented on #1547
I want to throw something else out and see what everyone thinks. We could have 4 packages:

- opentelemetry-api
- opentelemetry-api-experimental
- opentelemetry-sdk
- opentelemetry-sdk-experimental

The experimental packages would have all of the current metrics things under a namespace package `opentelemetry.experimental.metrics`/`opentelemetry.experimental.sdk.metrics`. They would be versioned <

[2021-01-25 21:28] ocelotl commented on #1547
Here it is: https://pypi.org/project/Django/3.2a1/
Here is the latest stable version of Django: https://pypi.org/project/Django/3.1.5/

[2021-01-25 21:36] codeboten commented on #1547
Just confirming, @lzchen and I tested the following:
- created a release at 0.17.0
- created a following release at 0.17.1b0 (which pypi automatically marks as pre-release)

pip installed the package with a `~= 0.17` requirement

**result**
the 0.17.0 package was installed and the 0.17.1b0 was ignored.

you can see the release history here: https://test.pypi.org/project/opentelemetry-opentracing-s

[2021-01-25 22:04] aabmass commented on #1547
@codeboten that makes sense. What I'm concerned about is that users can  use the pre-release/dev version and still get patches and new minor versions without manually changing the requirement. E.g. if I `pip install django~=3.0` I get the latest compatible stable release `Django==3.1.5`. But if I try `pip install django~=3.0rc1` I get `3.0rc1`, not the latest compatible minor version RC, which wou

[2021-01-25 22:45] owais commented on #1547
I'm sorry. I should've said it'll contain unstable components __in addition__ to the stable ones.

I think this is isn't bad and is how I'd expect it to work. I think a package automatically "jumping" from one pre-release version to the next release's pre-release version would be very surprising and unexpected. I see what you're saying though. You want users to be able to tell their package manage

[2021-01-25 22:50] owais commented on #1547
To clarify, I think someone wanting to always and automatically stay on the latest pre-release version of a package irrespective of the major.minor version is extremely rare and I don't think we should try to account for that. If someone really wants to do that, it can be automated with a simple bash script or a makefile target. For most users, it makes a lot more sense if such updates don't happe

[2021-01-25 23:30] #1477 closed

[2021-01-25 23:40] lzchen commented on #1547
Okay so I'm seeing some leaning in favor of what @owais  has referred to [here](https://github.com/open-telemetry/opentelemetry-python/issues/1547#issuecomment-766874453?

Sample of what this would look like:

**V1.0.0 Release (tracing, baggage, propagators, context)**
opentelemetry-api 1.0.0 Contains APIs for tracing, baggage, propagators, context
opentelemetry-sdk 1.0.0 Contains SDK components f

[2021-01-25 23:56] ocelotl commented on #1547
@lzchen

To prevent misunderstandings, I say we detail this plan a bit more specifically, something like this:

0. We will follow a release pattern similar to [Django](https://pypi.org/project/Django/).
1. We will have one opentelemetry-api package in PyPi
2. This package will have several releases in PyPi (Like [Django does](https://pypi.org/project/Django/#history))
3. This package will always h

[2021-01-25 23:59] ocelotl commented on #1547
I agree with @owais here. Having a way to always install the latest unstable release can be definitely useful but I don't find it to be a main goal of this releasing system. Also, if our users feel so adventurous, they can always use a Git path that points to `master` in their `requirements.txt` file :smile:

[2021-01-26 00:02] aabmass commented on #1547
I agree automatically staying on latest pre-release is generally unwanted, which is why I think releasing metrics in pre-releases for each version is not ideal. From a contrib perspective, it's also kind of weird having all of the exporters/instrumentations that support metrics have a specific pre-release in their `install_requires` (or will these packages be split?).

----
I still don't understan

[2021-01-26 00:06] aabmass commented on #1547
Also want to point out that companies that use a mono-repo (like Google 😉) typically only have exactly one version of OSS packages used in the whole codebase. If we go with this approach, many such companies will be forced to either 1) never try metrics or 2) use an unstable dev version everywhere. This defeats the purpose of calling traces 1.0 imo.

[2021-01-26 00:09] ocelotl commented on #1547
So, Googlers can't use the unstable releases of Django? :thinking:

[2021-01-26 00:19] ocelotl commented on #1547
[Here](https://docs.djangoproject.com/en/dev/internals/release-process/) is more information regarding Django release process.

[2021-01-26 06:34] lonewolf3739 commented on #1526
This is fixed in https://github.com/open-telemetry/opentelemetry-python/pull/1480 hence closing.

[2021-01-26 06:34] #1526 closed

[2021-01-26 09:38] owais commented on #1547
The purpose of having 1.0 release is that people who want just tracing can now start using OpenTelemetry with a guarantee that it won't break in future. This allows users to migrate away from OpenTracing and OpenCensus for tracing. Users can continue to use OpenCensus or Prometheus for metrics. Users brave enough to use unstable APIs can opt in to use OpenTelemetry metrics as well by using a pre-r

[2021-01-26 18:29] aabmass commented on #1547
@owais I guess it depends how we structure the code and deep we are willing to go with it. If we have a dev branch where we merge non-compatible (next major version) tracing + metrics things and a stable branch that we merge fixes/patches (minor and patch versions), then sure. But it might become burdensome regularly merging the stable fixes/patches into the dev branch, especially after any refact

[2021-01-26 20:42] lzchen commented on #1547
@ocelotl

Yes I agree with the points you stated above. I think just to add a one more point as discussed above:
8. Compatible installs (~=) will not install pre-release versions. Pre-release versions must be explicitly specified.

@aabmass
I talked about this with @codeboten and we discussed having the possibility of a "master" branch, in which will contain the stable releases and a "dev" branch,

[2021-01-26 22:59] #1352 closed

[2021-01-27 02:38] lonewolf3739 opened #1554 "Remove _MILLIS from BatchSpanProcessor env and follow duration semantic conventions"
[Duration](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/sdk-environment-variables.md#duration) input guidelines from spec and updated sdk env variables [BSP](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/sdk-environment-variables.md#batch-span-processor). Probably we should address this after https://github.com/op

[2021-01-27 10:26] owais commented on #1547
Alternatively, we could have just one branch but with the help of some scripts, include metrics only in the dev releases. This could totally be automated. That said master and dev branches is how this is done normally. I was just throwing things out there. Not necessarily suggesting we do it.

[2021-01-27 16:31] #1542 closed

[2021-01-27 16:40] lzchen commented on #1547
@owais
It would be great if this was automated, but given our lack of time and resources, we may need to go with the multiple branch approach for the time being. As well, I could see it being an execution nightmare, where there will be special cases in new features in which automation isn't smart enough. Regardless, I think the burden for maintainers is not too great, especially if we manage only

[2021-01-27 21:27] aabmass commented on #1547
I seem to be the only one with a differing opinion 😅 in which case I am ok with whatever.

@lzchen I think it would get cumbersome with a lot of merge conflicts (same ones over and over again). Usually the dev branch would be getting merged into master each release so it's not a huge issue, but here we are waiting on the metrics timeline.

E.g. PR1 to the dev branch renames a variable. PR2 is a fi

[2021-01-27 21:35] lzchen commented on #1547
@aabmass
Yup that's definitely a fair use case. I believe once we are in 1.0.0 there should be less and less fixes into the master branch and more into new features in dev. It might be a little complicated as you say in the beginning but I think the benefits outway the short term cons here.

@ocelotl @owais @codeboten
Are we all in concensus with the [above](https://github.com/open-telemetry/opent

[2021-01-27 23:32] lzchen commented on #1436
@codeboten @lonewolf3739 Is this issue resolved?

[2021-01-28 16:45] codeboten opened #1556 "Create metrics branch"
As part of the release, the plan is to had a separate branch called `metrics` to keep the metrics work moving forward. This should be clearly documented in the contributing doc and should publish docs as well.

[2021-01-28 16:47] codeboten commented on #1546
@outtoin does @lonewolf3739's answer cover your use-case?

[2021-01-28 17:20] #1543 closed

[2021-01-28 18:56] lzchen opened #1557 "Move opencensus exporter and prometheus exporter to contrib"
The [otlp](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/protocol/exporter.md), [jaeger](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/sdk_exporters/jaeger.md) and [zipkin](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/sdk_exporters/zipkin.md) exporters are all proper

[2021-01-28 18:59] lzchen commented on #1133
As of 01/28/2021, the documentation for the 1.0.0 release has been reviewed. This includes docs for tracing api. tracing sdk, propagators, zipkin exporter, jaeger exporter, baggage and context.

[2021-01-28 18:59] #1133 closed

[2021-01-28 21:51] #1557 closed

[2021-01-29 00:40] ocelotl commented on #1547
I agree :+1:

[2021-01-29 16:31] ocelotl commented on #1549
Seems like https://github.com/open-telemetry/opentelemetry-specification/ already uses `main` as default, can we update now?

[2021-01-29 16:39] codeboten commented on #1549
yes its in progress, will complete this today

[2021-01-29 16:55] lonewolf3739 commented on #1554
This is addressed in #1523 and it has enough approvals to merge hence closing.

[2021-01-29 16:55] #1554 closed

[2021-01-29 19:47] #1549 closed

[2021-01-30 23:19] #1494 closed

[2021-01-31 02:46] lonewolf3739 commented on #1527
Fixed in #1523

[2021-01-31 02:46] #1527 closed

[2021-02-01 13:18] plajjan opened #1559 "Support IPv6 transport for Jaeger agent (thrift over UDP) export"
**Describe your environment**
I'm trying to use an application that uses the OpenTelemetry library to export trace data to Jaeger. The Jaeger agent is not running in the same container as the application and there is only IPv6 connectivity to the Jaeger agent, thus, IPv6 is used. However, it does not work and leads to a traceback.

The code shown linked here is IPv4 only capable as it hard codes A

[2021-02-02 09:12] dgzlopes opened #1562 "Auto instrumentation: Inject trace IDs in logs"
**Is your feature request related to a problem?**
I would like to discover traces from logs while using auto instrumentation.

Personally, I'm using Grafana Tempo, and (right now) Tempo can only retrieve a trace when queried with its ID.

**Describe the solution you'd like**
I saw the now deprecated SignalFx Tracing instrumentation... and they have this **exact** functionality.

Log injection is d

[2021-02-02 12:04] owais commented on #1562
I'm working on porting this over to otel but I'm not back to work full-time yet so this will take while.

[2021-02-02 16:12] codeboten opened #1563 "opentelemetry-bootstrap -a install shouldn't upgrade libraries"
**Describe your environment**
The `opentelemetry-bootstrap` install option currently searches for installed libraries and instrumentations to match those libraries which is really useful. However, some of those instrumentation libraries will have the side effect of upgrading the libraries they're instrumenting, which is unexpected.

**Steps to reproduce**
[code]

**What is the expected behavior?**

[2021-02-02 16:40] ocelotl opened #1564 "Actions cache is set to V1 for some virtual environments"
As part of #1523 [this](https://github.com/open-telemetry/opentelemetry-python/pull/1523/files#diff-faff1af3d8ff408964a57b2e475f69a6b7c7b71c9978cccc8f471798caac2c88R112) change was added to make it possible for tests to pass since old cache was making them fail. #1523 has been merged, undo the mentioned change.

[2021-02-02 17:04] codeboten opened #1566 "Rename OTEL_TRACE_* to OTEL_TRACES_*"
As per the spec change: https://github.com/open-telemetry/opentelemetry-specification/pull/1382

[2021-02-02 17:07] #1564 closed

[2021-02-02 19:56] jpmelos opened #1567 "Batch exporter doesn't work with children of forked processes"
**Describe your environment**
Python 3.6.9
python-opentelemetry 0.16b1

**Steps to reproduce**
Instrument your app using the batch exporter as a span processor:

[code]

Then, fork the process.

**What is the expected behavior?**
Sending traces and spans from the children of a forked process would work.

**What is the actual behavior?**
The child process can't send traces and spans.

[2021-02-02 22:40] lzchen commented on #1566
Are we renaming everything from trace -> traces in the code (like directories, docstrings, etc)?

[2021-02-02 23:07] aabmass commented on #1108
Related: https://github.com/open-telemetry/opentelemetry-dotnet/issues/1777 (thanks Leighton)

That's a good question, and we should probably discuss with a wider audience. My thoughts: the `BatchSpanExporter`'s default `maxExportBatchSize` is 512 ([here](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/sdk.md#batching-processor)) which is what most peopl

[2021-02-03 00:47] ocelotl opened #1569 "Tracer and Meter provider lack environment variables"
Now that `Configuration` has been removed, both providers should use consistent environment variables.

[2021-02-03 00:49] ocelotl opened #1570 "Add documentation for Django Auto Instrumentation with uWSGI"
Running Django with uWSGI is a common use case, document how that can be integrated with `opentelemetry-instrument`.

[2021-02-03 00:49] ocelotl opened #1593 "Add documentation for Django Auto Instrumentation with uWSGI"
Running Django with uWSGI is a common use case, document how that can be integrated with `opentelemetry-instrument`.

[2021-02-03 03:48] lonewolf3739 commented on #1566
I think it is just env variables for consistency with metrics and logs.

[2021-02-03 03:53] lonewolf3739 commented on #1570
Probably related issue https://github.com/open-telemetry/opentelemetry-python-contrib/issues/291. Also this applies to other frameworks such as Flask etc..

[2021-02-04 00:18] lzchen commented on #1566
Yes but the question is, should be rename everything to be consistent so users are not confused?

[2021-02-04 00:18] lzchen commented on #1570
In any case, this looks like it belongs to the contrib repo.

[2021-02-04 01:15] ocelotl opened #1572 "Deprecate https://pypi.org/project/opentelemetry-ext-otcollector/"
[This](https://pypi.org/project/opentelemetry-ext-otcollector/) package shows up in PyPi but it is no longer valid. I'd say we remove it, but if we want to keep it for any purpose it should at least indicate that it is deprecated.

[2021-02-04 01:18] lzchen commented on #1572
There is already an issue that tracks deprecation of old packages: https://github.com/open-telemetry/opentelemetry-python/issues/1305

[2021-02-04 01:18] #1572 closed

[2021-02-04 12:47] aabmass opened #1573 "BoundedDict/BoundedList type stubs missing "dropped""
`dropped` needs to be added to the `.pyi` type stub

https://github.com/open-telemetry/opentelemetry-python/blob/18761d78e30a4293abd65a897129b57fbf0c0a15/opentelemetry-sdk/src/opentelemetry/sdk/util/__init__.py#L49

[2021-02-04 15:42] Mykolaichenko commented on #874
Same question, +1

[2021-02-04 16:13] lzchen commented on #1108
@dmarar
Hey are you planning on taking this on? This is a blocker for our rc1 release.

[2021-02-04 16:36] #1569 closed

[2021-02-04 17:14] lzchen commented on #1566
Discussed in 02/04/2021 SIG, we will just stick to renaming env vars

[2021-02-04 17:18] lzchen commented on #1108
@aabmass
Aaron to open up a spec issue about clarifying behavior. Perhaps we don't need this by rc1 due to it being an additive change.

[2021-02-04 17:30] aabmass opened #1575 "Upgrade mypy to 0.800"
MyPy 0.800 is out. It finally supports namespace packages properly and we can remove the placeholder `__init__.pyi` files in a few spots.

[2021-02-04 17:48] codeboten opened #1576 "Move from gitter to github discussions"
As per the title, some other otel commnunities are moving to github discussions, i propose we do as well.

[2021-02-04 17:59] mat-rumian opened #1577 "Update from 0.16b1 to 0.17b0 stopped to export spans"
**Describe your environment**
After update from release `0.16b1` to `0.17b0` exporting the spans stopped to work in my demo application - simple Flask HTTP servers with some requests.

**Steps to reproduce**
Clone the test application: https://github.com/SumoLogic/the-coffee-bar

How to run:
[code]
Spans should be present in the `otelcol` console and they are available also under `http://localhost

[2021-02-04 18:03] lzchen commented on #1566
OTEL_TRACES_EXPORTER, OTEL_TRACE_SAMPLER,

[2021-02-04 20:33] lonewolf3739 commented on #1577
@mat-rumian Please add `opentelemetry-distro = "0.17b0"` to your Pipfile that should solve this problem.

[2021-02-04 20:56] lonewolf3739 commented on #1577
@codeboten @lzchen @owais
Shouldn't `opentelemetry-instrumentation` (auto-instrumentation) package have the dependency on `opentelemetry-distro` and load&configure that by default?

[2021-02-04 20:59] ankitnayan commented on #1577
I got the same issue. Installing `opentelemetry-distro` did not help

[2021-02-04 21:12] lonewolf3739 commented on #1577
@ankitnayan are you sure? Can you share a reproducible example? I have the [fork](https://github.com/lonewolf3739/the-coffee-bar) of the original issue working with suggested change.

[2021-02-04 21:37] ankitnayan commented on #1577
@lonewolf3739 I got it working for -e jaeger but OTLP doesn't seem to send data
[code]
The above command should work, right? if the endpoint is returning some error then it should show an error...The below command works fine.
[code]

[2021-02-04 22:19] ankitnayan commented on #1577
I went through the docs and code. It is difficult to understand how to make OTLP HTTP calls? Is the default GRPC call? How can I set whether to choose OTLP HTTP vs OTLP GRPC?

[2021-02-04 22:20] lzchen commented on #1577
@codeboten
The issue of users not knowing which is the default is obvious now. We should decide on what to do about the splitting up of packages.

[2021-02-05 01:56] lonewolf3739 commented on #1577
The OTLP exporter only supports gRPC as of now and you should pass the endpoint without scheme in it.

No, it has been updated to [4317](https://github.com/open-telemetry/opentelemetry-python/pull/1516) to be consistent with collector guidelines recently. Here is the [changelog](https://github.com/open-telemetry/opentelemetry-python/releases/tag/v0.17b0) for the release.

[2021-02-05 09:00] mat-rumian commented on #1577
@lonewolf3739 thanks a lot for a tip with installation of `opentelemetry-distro` everything work now as expected. But what's the main purpose of installation of this package? It's not mentioned in any documentation that it is needed.

[2021-02-05 17:25] lonewolf3739 commented on #1577
I have a half knowledge about it and didn't follow the development around this. I believe @codeboten would be the right person to answer this.

[2021-02-05 21:43] ocelotl opened #1580 "sitecustomize is being run multiple times"
When `opentelemetry-instrument` is run, the path of `opentelemetry-python`'s `sitecustomize.py` file is added to `PYTHONPATH`. This works fine unless the command executed by `opentelemetry-instrument` is also calling the `python` executable, which would make this `sitecustomize` be executed more than once. This is bad because this means multiple instrumentations may happen.

I'll be modifying `sit

[2021-02-06 01:39] ocelotl opened #1581 "Util module in opentelemetry-api has an __init__"
This file being present breaks the expected behavior of util as a namespace. Right now I have a branch named `fix_util` that renames this file to `providers.py`:

[code]